<template>
  <form class="form-inline">
    <div class="row w-100 mt-2 ml-4 pl-3 no-wrap">
      <div class="col-md-4 text-center pl-0">
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            v-model="surName"
            placeholder="Фамилия"
          />
        </div>
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            v-model="name"
            placeholder="Имя"
          />
        </div>
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            v-model="patronymic"
            placeholder="Отчество"
          />
        </div>
        <div class="form-group my-3 pt-2">
          <b-button
            id="savebutton"
            class="btn btn-profile-tab"
            @click="updateProfile()"
          >
            <p class="m-0">Сохранить</p>
          </b-button>
        </div>
      </div>
      <div class="col-md-4 text-center">
        <div class="form-group mt-3 pt-2">
          <input
            type="email"
            class="form-control pl-3"
            placeholder="E-mail"
            v-model="email"
          />
        </div>
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3"
            v-mask="'+7(###)###-##-##'"
            placeholder="Телефон"
            v-model="phone"
          />
        </div>
        <div class="form-group mt-3 pt-2">
          <input
            type="password"
            class="form-control pl-3"
            placeholder="Пароль"
            v-model="password"
          />
        </div>
        <div class="form-group my-3 pt-2">
          <b-button
            id="changepasswordbutton"
            class="btn btn-profile-tab mt-1"
            @click="passChange()"
          >
            <p class="m-0">Изменить пароль</p>
          </b-button>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 text-center my-3 pt-2">
            <img :src="userImg" class="img-fluid round-icon" />
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group text-center">
              <input
                type="file"
                class="form-control-file"
                id="photo-load"
                ref="file"
                @change="avatarChange()"
              />
              <label for="photo-load" class="mx-auto pointer"
                >Загрузить фото</label
              >
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr-invisible" />
  </form>
</template>

<script>
export default {
  name: "Info",
  props: {
    user: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      name: "",
      surName: "",
      patronymic: "",
      file: "",
      email: "",
      phone: "",
      password: "",
    };
  },
  computed: {
    userImg() {
      if (this.user.img) {
        return process.env.VUE_APP_API_URL + this.user.img;
      }
      return require("@/assets/img/icons/icon-profile-big.png");
    },
    userFIO() {
      return {
        name: this.user.name,
        surName: this.user.surName,
        patronymic: this.user.patronymic,
      };
    },
  },
  methods: {
    async updateProfile() {
      let payload = {};
      this.name ? (payload.name = this.name) : null;
      this.surName ? (payload.surName = this.surName) : null;
      this.patronymic ? (payload.patronymic = this.patronymic) : null;
      this.$emit("profile-update", payload);
    },
    async avatarChange() {
      this.file = this.$refs.file.files[0];
      let formData = new FormData();
      formData.append("img", this.file);
      this.$emit("img-update", formData);
    },
    async passChange() {
      let payload = {
        password: this.password,
      };
      if (this.email == this.user.email && this.phone == this.user.phone) {
        return this.$emit("password-update", payload);
      }
      this.toast("Ошибка", "Почта или телефон введены неверно", "danger");
    },
  },
  mounted() {
    this.name = this.user.name;
    this.surName = this.user.surName;
    this.patronymic = this.user.patronymic;
  },
};
</script>

<style>
</style>
