<template>
  <section id="transactions">
    <div class="row mt-4 pl-3 w-100 no-wrap">
      <div class="col-md-4 pl-4 text-left">
        <p class="table-header">ФИО Ребенка</p>
      </div>
      <div class="col-md-2 text-center">
        <p class="table-header">Курс</p>
      </div>
      <div class="col-md-4 text-center">
        <p class="table-header">Сумма</p>
      </div>
      <div class="col-md-2 text-center">
        <p class="table-header">Дата</p>
      </div>
    </div>
    <div class="row w-100 no-wrap">
      <div class="col-md-12 p-0">
        <hr class="my-1" />
      </div>
    </div>
    <div
      class="row row__table pl-3 w-100 no-wrap"
      v-for="Transact in TransactionsList"
      :key="Transact.id"
      :index="Transact.id"
    >
      <div class="col-md-4 my-auto pl-4 text-left">
        <p class="table-item">{{ Transact.childfullname }}</p>
      </div>
      <div class="col-md-2 my-auto text-center">
        <p class="table-item">{{ Transact.course }}</p>
      </div>
      <div class="col-md-4 my-auto text-center">
        <p class="table-item">{{ Transact.cost }} руб.</p>
      </div>
      <div class="col-md-2 my-auto text-center">
        <p class="table-item">{{ Transact.data }}</p>
      </div>
    </div>
    <hr class="hr-invisible" />
  </section>
</template>

<script>
export default {
  name: "Transactions",
  data() {
    return {
      TransactionsList: [
        {
          id: "Transact0",
          childfullname: "Иванова Елена Викторовна",
          course: "Название курса",
          cost: 5000,
          data: "23.10.2020",
        },
        {
          id: "Transact1",
          childfullname: "Иванова Елена Викторовна",
          course: "Название курса",
          cost: 5000,
          data: "14.08.2020",
        },
        {
          id: "Transact2",
          childfullname: "Иванова Елена Викторовна",
          course: "Название курса",
          cost: 5000,
          data: "19.07.2020",
        },
      ],
    };
  },
};
</script>