<template>
  <span>{{ numberWithSpaces(number) }}</span>
</template>

<script>
import numberWithSpaces from "@/mixins/number";
export default {
  name: "number",
  props: {
    number: {
      type: Number,
      default: 0,
    },
  },
  mixins: [numberWithSpaces],
};
</script>