<template>
  <button class="agent-button" @click="$emit('click')">
    <p><slot></slot></p>
  </button>
</template>

<script>
export default {
  name: "ui-button",
};
</script>

<style scoped>
.agent-button {
  border: unset;
  background: #4d4db8;
  border-radius: 3px;
  padding: 5px 15px;
}
.agent-button > p {
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
  margin: 0;
}
</style>