<template>
  <button
    :disabled="disabled"
    class="agent-button-round"
    @click.prevent="$emit('click')"
  >
    <slot></slot>
  </button>
</template>

<script>
export default {
  name: "ui-button-round",
  props: {
    disabled: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style scoped>
.agent-button-round {
  background-color: #fff;
  color: #2b2a29;
  font-size: 14px;
  transition: 0.5s ease;
  border: 1.5px solid #4d4db8;
  padding: 5px 15px;
  border-radius: 999px;
}
.agent-button-round:hover,
.agent-button-round:active {
  background-color: #4d4db8;
  border: 1.5px solid #4d4db8;
  box-shadow: 0px 0px 15px #00000030;
  color: #fefefe;
}
.agent-button-round:disabled {
  color: #fff;
  background-color: gray;
  border: 1.5px solid gray;
  cursor: not-allowed;
}
</style>