<template>
  <b-form-datepicker
    :class="classList || 'agent-datepicker'"
    locale="ru"
    label-help=""
    :placeholder="placeholder"
    :date-format-options="{
      year: 'numeric',
      month: 'numeric',
      day: 'numeric',
    }"
    hide-header
    :value="value"
    @input="handleInput"
  />
</template>

<script>
export default {
  name: "ui-date-picker",
  props: {
    value: {
      type: String || Object,
      default: "",
    },
    placeholder: {
      type: String,
      default: "Выбор даты",
    },
    classList: {
      type: String || Object || Array,
      default: "",
    },
  },
  methods: {
    handleInput(date) {
      console.log(date);
      this.$emit("input", date);
    },
  },
};
</script>

<style scoped>
.agent-datepicker {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  transition: 0.5s ease;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  display: flex;
}

.agent-datepicker:hover,
.agent-datepicker:focus {
  border: 1px solid lightgray;
}
</style>
<style>
.agent-datepicker label {
  padding: 0;
  margin: auto !important;
  min-height: auto !important;
  height: 30px;
  margin-left: 15px;
}
.agent-datepicker button {
  margin: auto !important;
  padding: 0;
  padding-left: 15px;
}
</style>