<template>
  <input @input="handleInput" :value="value" class="agent-input" type="text" />
</template>

<script>
export default {
  name: "ui-input",
  props: {
    value: {
      type: String,
      default: "",
    },
  },
  methods: {
    handleInput(event) {
      this.$emit("input", event.target.value);
    },
  },
};
</script>

<style scoped>
.agent-input {
  color: #000;
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  transition: 0.5s ease;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
}
.agent-input:hover,
.agent-input:focus {
  border: 1px solid lightgray;
}
</style>