<template>
  <b-form-select
    :value="value"
    :options="options"
    class="agent-select"
    :class="{ chosen }"
    @input="handleInput"
  />
</template>

<script>
export default {
  name: "ui-select",
  props: {
    value: {
      type: String,
      default: null,
    },
    options: {
      type: Array,
      default: () => [],
    },
  },
  computed: {
    chosen() {
      return this.value != null;
    },
  },
  methods: {
    handleInput(value) {
      this.$emit("input", value);
    },
  },
};
</script>

<style scoped>
.agent-select {
  color: #767676;
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  transition: 0.5s ease;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
  outline: none;
  padding: 0 15px;
}
.agent-select.chosen {
  color: #000;
}
.agent-select:hover,
.agent-select:focus {
  border: 1px solid lightgray;
}
</style>