<template>
  <textarea :value="value" class="agent-text-area" @input="handleInput" />
</template>

<script>
export default {
  name: "ui-text-area",
  props: {
    value: {
      type: String,
      default: "",
    },
  },
  methods: {
    handleInput(event) {
      this.$emit("input", event.target.value);
    },
  },
};
</script>

<style scoped>
.agent-text-area {
  width: 600px;
  min-height: 165px;
}
</style>