<template>
  <section id="admin-page">
    <div
      class="
        container-fluid
        p-0
        full-height-container
        animate__animated animate__fadeIn
      "
    >
      <Header @logout="logOut" :user="me" />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel :items="sidePanelItems" @logout="logOut" />
        <div
          class="col-md p-0"
          style="height: calc(100vh - 60px); overflow-y: auto"
        >
          <router-view></router-view>
        </div>
      </div>
      <!-- <ModalConfirmation /> -->
    </div>
  </section>
</template>

<script>
import Header from "@/components/main/header/Header.vue";
import SidePanel from "@/components/main/SidePanel.vue";
import { UserMapper } from "@/store/user";

// import ModalConfirmation from "@/views/modalConfirmation.vue";

export default {
  name: "admin",
  components: {
    Header,
    SidePanel,
    // ModalConfirmation,
  },
  data() {
    return {
      sidePanelItems: [
        {
          id: 1,
          //   img: "my_account.png",
          linkName: "admin-analytics-crm",
          text: "Аналитика",
          exact: true,
          // hide: true,
          child: [
            {
              id: 1,
              //   img: "my_account.png",
              linkName: "admin-analytics-crm",
              name: "CRM",
              exact: true,
              // hide: true,
            },
            {
              id: 2,
              //   img: "my_account.png",
              linkName: "admin-analytics-reports",
              name: "Отчеты",
              exact: true,
              // hide: true,
            },
          ],
        },
        {
          id: 2,
          //   img: "MDclub.png",
          linkName: "admin-children-all",
          text: "Все дети",
          disabled: true,
        },
        {
          id: 3,
          //   img: "my_profile.png",
          linkName: "admin-branch-my",
          text: "Мои филиалы",
        },
        {
          id: 4,
          //   img: "my_profile.png",
          linkName: "admin-system",
          text: "Администрир.",
        },
      ],
    };
  },
  computed: {
    ...UserMapper.mapState(["error", "me"]),
  },
  methods: {
    ...UserMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "main-login" });
      } else {
        this.errorToast(this.error);
      }
    },
  },
};
</script>

<style>
</style>