<template>
  <div
    class="contaiter-fluid agent-container mx-3 pl-4"
    style="margin-bottom: 70px; margin-top: 30px"
  >
    <hr class="invisible" />
    <div class="row pt-4 mt-3">
      <div class="col-5 admin-inputs">
        <h6 class="mb-4">Личные данные</h6>
        <ui-input placeholder="ФИО" v-model="formInputs.name" />
        <ui-date-picker
          placeholder="Дата рождения"
          v-model="formInputs.birthday"
        />
        <ui-select
          v-model="formInputs.citizen"
          :options="nationalityList"
        ></ui-select>
        <ui-input v-model="formInputs.education" placeholder="Образование" />
        <ui-input v-model="formInputs.email" placeholder="Email" />
        <ui-input
          v-model="formInputs.emailBuch"
          placeholder="Email бухгалтерии"
        />
        <h6 class="mt-4 mb-3">Паспортные данные</h6>
        <ui-input
          v-mask="'##-##-######'"
          v-model="formInputs.passport"
          placeholder="Серия/номер"
        /><ui-input v-model="formInputs.passportWho" placeholder="Кем выдан" />
        <ui-date-picker
          placeholder="Дата выдачи"
          v-model="formInputs.passportWhen"
        />
      </div>
      <div class="col-5 admin-inputs">
        <h6 class="mb-4">Адреса и реквизиты</h6>
        <ui-input v-model="formInputs.country" placeholder="Страна" />
        <ui-input v-model="formInputs.address" placeholder="Адрес прописки" />
        <ui-input
          v-model="formInputs.factAddress"
          placeholder="Фактический адрес"
        />
        <ui-input
          v-model="formInputs.inn"
          v-mask="'############'"
          placeholder="ИНН"
        />
        <ui-input
          v-mask="'###-###-###-##'"
          v-model="formInputs.snils"
          placeholder="СНИЛС"
        />
        <br />
        <ui-button-round v-if="full" @click="$emit('see-docs')"
          >Просмотреть документы</ui-button-round
        >
      </div>
    </div>
    <div class="row mt-3" v-if="full">
      <div class="col">
        <h5 class="m-0">Загрузите необходимые документы</h5>

        <ui-button @click="$emit('download-resume')">
          Скачать анкету агента
        </ui-button>

        <!-- <ui-button class="ml-3" @click="$emit('download-contract')">
          Скачать договор агента
        </ui-button> -->
      </div>
    </div>
    <div class="row justify-content-between px-3 pr-5 mt-4">
      <ui-file-load
        v-for="file in files"
        :key="file.id"
        :title="file.description"
        :file="file.file"
        :path="file.path"
        :fileName="getFileName(file)"
        @change="changeFile"
      ></ui-file-load>
    </div>

    <div class="row justify-content-end mt-5 pb-5">
      <div class="col-4 pr-5 text-right">
        <ui-button-round :disabled="disabled" @click="dataChange"
          >{{ full ? "Изменить" : "Сохранить" }} мои данные</ui-button-round
        >
      </div>
    </div>
  </div>
</template>

<script>
import countryMixin from "@/mixins/country";
export default {
  props: {
    inputs: {
      type: Object,
      required: true,
    },
    isAdmin: {
      type: Boolean,
      default: false,
    },
    full: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      files: [
        {
          id: 1,
          name: "passportPDF",
          description: "Паспорт",
          file: null,
          path: "",
        },
        {
          id: 2,
          name: "innPDF",
          description: "ИНН",
          file: null,
          path: "",
        },
        {
          id: 3,
          name: "snilsPDF",
          description: "СНИЛС",
          file: null,
          path: "",
        },
        {
          id: 4,
          name: "resumePDF",
          description: "Анкета агента",
          file: null,
          path: "",
        },
      ],
      formInputs: {
        email: null,
        name: null,
        birthday: null,
        citizen: null,
        education: null,
        emailBuch: null,
        passport: null,
        passportWho: null,
        passportWhen: null,
        country: null,
        address: null,
        factAddress: null,
        inn: null,
        snils: null,
        resumePDF: null,
        passportPDF: null,
        innPDF: null,
        snilsPDF: null,
        dateJoined: null,
      },
    };
  },
  mixins: [countryMixin],
  watch: {
    inputs: {
      handler(newValue) {
        if (newValue) {
          this.formInputs = newValue;
          this.files.forEach((file) => (file.path = newValue[file.name]));
        }
      },
      deep: true,
    },
  },
  computed: {
    // formInputs: {
    //   get() {
    //     return this.inputs;
    //   },
    //   set(newValue) {
    //     this.$emit("update:inputs", newValue);
    //   },
    // },
    disabled() {
      const fill = Object.entries(this.formInputs)
        .filter((i) => ![false, "", null].includes(i[1]))
        .filter(
          (i) =>
            ![
              "passportPDF",
              "snilsPDF",
              "innPDF",
              "resumePDF",
              "user",
              "id",
            ].includes(i[0])
        );
      const fileFill = this.files.filter((i) => i.file || i.path);

      return fill.length < 14 || fileFill.length < 4;
    },
  },
  methods: {
    getFileName(file) {
      if (file.file) {
        let name = file.file.name;
        return name;
      }
      if (file.path) {
        let name = file.path.split("/")[file.path.split("/").length - 1];
        return name;
      }
      return null;
    },
    changeFile(file, name) {
      let fileItem = this.files.find((f) => f.description == name);
      fileItem.file = file;
    },
    dataChange() {
      let agentInfo = new FormData();
      let fio = this.formInputs.name.split(" ");
      let userInfo = {
        surName: fio[0],
        name: fio[1],
        patronymic: fio[2],
        email: this.formInputs.email,
      };
      Object.entries(userInfo).forEach((i) => {
        agentInfo.set(i[0], i[1]);
      });
      this.files.forEach((f) => {
        if (f.file) {
          agentInfo.set(f.name, f.file);
        }
      });
      Object.entries(this.formInputs)
        .filter((i) => i[1])
        .forEach((i) => {
          if (i[0].indexOf("PDF") == -1) {
            agentInfo.set(i[0], i[1]);
          }
        });
      this.$emit("change", agentInfo);
    },
  },
};
</script>

<style scoped>
.admin-inputs > * {
  margin-bottom: 20px;
  margin-top: 0;
  width: 380px;
}
.inputs-width {
  width: 380px;
}
</style>
