<template>
  <div
    id="modal-add-branch"
    class="modal-wrap-branch absolute-block animate__animated"
  >
    <div class="contaiter-fluid modal-container relative-block mt-3 pl-4">
      <button
        @click="closeModal()"
        class="btn-invisible-button absolute-block close-modal-icon"
      >
        <img
          src="@/assets/img/icons/close-icon-afroamerican.png"
          alt=""
          class=""
        />
      </button>
      <hr class="invisible" />
      <h1 class="pl-3">Добавление нового Филиала</h1>

      <!-- ввод личной информации по филиалу -->
      <div class="row">
        <div class="col-2 my-auto">Наименование</div>
        <div class="col-1"></div>
        <div class="col-6 admin-inputs">
          <input v-model="menthorInfoGroup.name" placeholder="Наименование" />
        </div>
      </div>
      <div class="row">
        <div class="col-2 my-auto">Email</div>
        <div class="col-1"></div>
        <div class="col-6 admin-inputs">
          <input
            v-model="menthorInfoGroup.email"
            placeholder="Электронный почтовый адрес"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-2 my-auto">Регион</div>
        <div class="col-1"></div>
        <div class="col-6 admin-inputs">
          <input
            v-model="menthorInfoGroup.adress"
            placeholder="Регион филиала"
          />
        </div>
      </div>
      <div class="row">
        <div class="col-2 my-auto">Директор</div>
        <div class="col-1"></div>
        <div class="col-6 admin-inputs">
          <input
            v-model="menthorInfoGroup.adress"
            placeholder="ФИО Директора филиала"
          />
        </div>
      </div>
      <!-- ввод информации по филиалу -->
      <!-- загрузка файлов для добавления филиалу -->

      <h6 class="pl-3 mt-4 mb-3">Загрузите необходимые документы</h6>

      <div class="row mt-2">
        <div v-for="file in filesMenthor" :key="file.id" class="col-4">
          <p class="file-type">{{ file.description }}</p>
          <input
            type="file"
            style="display: none"
            :ref="`${file.id}`"
            accept="application/pdf"
          />
          <button
            @click="handleUpload(file.id.toString())"
            class="agent-file-load"
          >
            Загрузить (PDF)
          </button>
        </div>
      </div>

      <div class="row my-4">
        <div class="col-8">
          <button class="agent-file-load">Завершить регистрацию</button>
        </div>
      </div>
      <!-- загрузка файлов для добавления ментора -->
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalAddBranch",
  data() {
    return {
      menthorInfoGroup: {
        name: "",
        email: "",
        adress: "",
      },

      filesMenthor: [
        {
          id: 1,
          description: "Свидетельство о регистрации",
        },
        {
          id: 2,
          description: "Свидетельство о поставновке на учет ",
        },
        {
          id: 3,
          description: "Свидетельство о регистрации",
        },
        {
          id: 4,
          description: "Свидетельство о регистрации",
        },
        {
          id: 5,
          description: "Свидетельство о регистрации",
        },
        {
          id: 6,
          description: "Свидетельство о регистрации",
        },
        {
          id: 7,
          description: "Свидетельство о регистрации",
        },
        {
          id: 8,
          description: "Свидетельство о регистрации",
        },
        {
          id: 9,
          description: "Анкета партнёра",
        },
      ],
    };
  },
  methods: {
    closeModal() {
      this.$emit("closeModal");
    },
  },
};
</script>

<style>
.modal-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  height: 94%;
}
.modal-wrap-branch {
  z-index: 10000;
  top: calc(50% - 350px);
  left: calc(40vw - 490px);
  background-color: #f2f2f2;
  padding: 0;
  border-radius: 1%;
  height: 85vh;
  width: 75vw;
  margin: auto;
  transition: 1s ease;
}

.close-modal-icon {
  top: 0;
  right: 2%;
}

/* @media (min-width: 1441px) and (min-height: 850px) {
  .file-type {
    font-size: 1.1rem;
  }
} */
</style>

<style  scoped>
.agent-file-load {
  width: 70%;
  padding: 2% 7%;
}
</style>