<template>
  <section id="ftanchisee-branches-table">
    <div class="row">
      <div class="col pl-0">
        <div class="dropdown">
          <button
            class="btn py-1 btn-diagramm dropdown-toggle w-100"
            type="button"
            id="franch-branches-filter1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p class="m-0">Регион</p>
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="px-1 arrow-diagramm"
            />
          </button>
          <div class="dropdown-menu" aria-labelledby="franch-branches-filter1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="dropdown">
          <button
            class="btn py-1 btn-diagramm dropdown-toggle w-100"
            type="button"
            id="franch-branches-filter2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p class="m-0">Оборот филиала</p>
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="px-1 arrow-diagramm"
            />
          </button>
          <div class="dropdown-menu" aria-labelledby="franch-branches-filter2">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="dropdown">
          <button
            class="btn py-1 btn-diagramm dropdown-toggle w-100"
            type="button"
            id="franch-branches-filter3"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p class="m-0">Пакет</p>
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="px-1 arrow-diagramm"
            />
          </button>
          <div class="dropdown-menu" aria-labelledby="franch-branches-filter3">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="dropdown">
          <button
            class="btn py-1 btn-diagramm dropdown-toggle w-100"
            type="button"
            id="franch-branches-filter4"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p class="m-0">Статус</p>
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="px-1 arrow-diagramm"
            />
          </button>
          <div class="dropdown-menu" aria-labelledby="franch-branches-filter4">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
    </div>

    <div class="row w-100 mt-3 table-analytics height-menthors-franch">
      <b-table
        striped
        ref="topchild"
        id="menthors-table"
        :items="items"
        :fields="fields"
      >
        <template #cell(status)="row">
          {{ row.value == 0 ? "Активен" : "Заблокирован" }}
        </template>

        <template #cell(show_details)="row">
          <button
            @click="row.toggleDetails"
            class="btn-invisible-button btn-details-height"
          >
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="img-fluid"
            />
          </button>
        </template>
        <template #cell(fire_menthor)="row">
          <button
            @click="
              $bvModal.show('modal-scoped');
              firethatmenthor(row.status);
            "
            class="btn-invisible-button btn-fired h-100"
          >
            <img
              src="@/assets/img/admin-icons/fire-ellipse.svg"
              alt=""
              class="img-fluid"
            />
            <p class="m-0">Заблокировать</p>
          </button>
        </template>

        <template #row-details="row">
          <div class="row">
            <div class="col-4 pl-0">
              <div class="row">
                <div class="col-8 pl-0">
                  <p class="my-1">Общее кол-во групп:</p>
                </div>
                <div class="col">
                  <p class="my-1">
                    <span class="bold-text">{{ row.item.groupsCount }}</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-8 pl-0">
                  <p class="my-1">Общее кол-во менторов:</p>
                </div>
                <div class="col">
                  <p class="my-1">
                    <span class="bold-text">{{ row.item.menthorsCount }}</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="col-4">
              <div class="row">
                <div class="col-8">
                  <p class="my-1">Оборот по филиалу:</p>
                </div>
                <div class="col">
                  <p class="my-1">
                    <span class="bold-text">{{ row.item.totalTurnover }}</span>
                  </p>
                </div>
              </div>
              <div class="row">
                <div class="col-8">
                  <p class="my-1">Общее кол-во детей:</p>
                </div>
                <div class="col">
                  <p class="my-1">
                    <span class="bold-text">{{ row.item.childCount }}</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <button
            @click="$router.push(pathToDetails)"
            Class="button-more-info mt-4 mb-2"
          >
            Подробнее
          </button>
          <button
            @click="$router.push(pathToDetails)"
            Class="button-more-info mt-4 mb-2"
          >
            Подробнее
          </button>
        </template>
      </b-table>
    </div>
  </section>
</template>

<script>
export default {
  name: "TableBranches",
  props: {
    pathToDetails: String,
  },
  data() {
    return {
      messageTheme: "",
      perPage: 10,
      currentPage: 1,
      fields: [
        {
          key: "branchname",
          label: "Наименование",
          class: "franchisee-branch-name",
          sortable: false,
        },
        {
          key: "region",
          label: "Регион",
          class: "franchisee-branch-region",
          sortable: false,
        },
        {
          key: "status",
          label: "Статус",
          class: "franchisee-branch-status",
          sortable: true,
        },
        {
          key: "show_details",
          class: "show-details",
          label: "",
        },
        {
          key: "fire_menthor",
          class: "fire-menthor",
          label: "",
        },
      ],
      items: [
        //   статус 0 - Активен, статус 1 - Заблокирован
        {
          isActive: true,
          id: 1,
          branchname: "Филиал 1",
          region: "Название региона",
          status: 0,
          groupsCount: 10,
          menthorsCount: 25,
          totalTurnover: 10000,
          childCount: 19,

          _showDetails: false,
        },
        {
          isActive: true,
          id: 2,
          branchname: "Филиал 2",
          region: "Название региона",
          status: 0,
          groupsCount: 100,
          menthorsCount: 250,
          totalTurnover: 10000000,
          childCount: 1000,

          _showDetails: false,
        },
        {
          isActive: true,
          id: 3,
          branchname: "Филиал 3",
          region: "Название региона",
          status: 1,
          groupsCount: 15,
          menthorsCount: 15,
          totalTurnover: 100,
          childCount: 19,

          _showDetails: false,
        },
      ],
    };
  },
};
</script>

<style>
th {
  font-weight: 400;
}
td {
  font-weight: 600;
}

.franchisee-branch-name {
  width: 27%;
}
.franchisee-branch-status {
  text-align: center;
  width: 25%;
}
.button-more-info {
  padding: 0.25rem 0.5rem;
  border: 1px solid #00000006;
  background: #c4c4c4;
  transition: 0.5s ease;
}
.button-more-info:hover {
  box-shadow: 0px 0px 5px #c4c4c4;
}
.button-more-info:focus {
  border: 1px solid #000000;
}
</style>