<template>
  <b-modal
    id="modal-decline-request"
    ref="modal-decline-request"
    hide-header
    hide-footer
    centered
  >
    <button
      @click="$bvModal.hide('modal-decline-request')"
      class="absolute-block btn-invisible-button modal-close-btn"
    >
      <img
        src="@/assets/img/icons/close-icon-afroamerican-thin.png"
        class="w-100 h-100"
        alt=""
      />
    </button>
    <!-- <template #modal-footer="{ ban }"> -->
    <!-- Emulate built in modal footer ok and cancel button actions -->
    <div class="row w-100">
      <div class="col text-left">
        <p class="modal-header">Отклонить заявку №{{ number }}</p>
        <p class="modal-text-name my-3">
          {{ agentName
          }}<span class="modal-lil-text ml-3">{{ agentRole }}</span>
        </p>
        <textarea
          id="сause-of-Ban"
          name="text"
          v-model="сauseBan"
          placeholder="Причина отклонения заявки"
          class="ban-textarea p-2"
        />
        <b-button
          variant="modal-ban-child"
          class="bold-text white-text mt-3 mb-4"
          @click="ban"
        >
          <p>Отклонить</p>
        </b-button>
      </div>
    </div>
    <!-- </template> -->
  </b-modal>
</template>

<script>
export default {
  name: "ModalConfirmation",
  props: {
    number: Number,
    agentName: String,
    agentRole: String,
  },
  data() {
    return {
      сauseBan: "",
    };
  },
  methods: {
    ban() {
      this.$bvModal.hide("modal-decline-request");
      this.$emit("ok", 4, this.number, this.сauseBan);
    },
  },
};
</script>


<style>
/* .modal-confirm-text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
} */
#modal-decline-request___BV_modal_content_ {
  width: 640px;
}
.modal-close-btn {
  width: 15px;
  height: 15px;
  top: 15px;
  right: 15px;

  z-index: 5;
}
.modal-header {
  font-weight: 500;
  font-size: 20px;
  color: #2b2a29;
  margin: 0;
  padding: 0;
  padding-top: 10px;
  margin-bottom: 15px;
  border: none;
}
.ban-textarea {
  background: #fefefe;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  width: 520px;
  height: 165px;
}
.btn-modal-ban-child {
  background: #f22929;

  height: 35px;
  width: 110 px;
  border-radius: 40px;
}
.btn-modal-ban-child > p {
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  padding: 0;
  margin: 0;
}
.modal-text-name {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;

  color: #2b2a29;
}
.modal-lil-text {
  font-size: 14px;
  color: #6c6c6c;
}
</style>

