<template>
  <section id="tab-view-group" class="py-4">
    <!-- <form class="form-inline">
      <div class="row w-100 my-4 ml-3 mr-4 no-wrap">
        <div class="col-md-2">
          <div class="form-check form-check-inline">
            <input
              type="checkbox"
              class="form-check-input"
              id="exampleCheck1"
            />
            <label class="form-check-label" for="exampleCheck1"
              >Выбрать всех</label
            >
          </div>
        </div>
        <div class="col-md-8"></div>
        <div class="col-md-2 text-center pr-3">
          <a href="#" class="accept">Принять</a>
        </div>
      </div>
    </form> -->
    <div
      class="row pl-3 w-100 no-wrap row__table pointer"
      v-for="child in requests"
      :key="child.id"
      :index="child.id"
    >
      <div class="hooper col-md-1 pl-4">
        <img :src="userImg(child.child)" class="hooper img-fluid round-icon" />
      </div>
      <div class="col-md-5 my-auto">
        <p class="table-item-group">
          {{ child.child.surName }} {{ child.child.name }}
          {{ child.child.patronymic }}
        </p>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2 my-auto">
        <p class="accept" @click="$emit('accept', child)">Принять</p>
      </div>
      <div class="col-md-2 my-auto">
        <p class="deny" @click="$emit('deny', child)">Отклонить</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <hr class="invisible my-3" />
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    requests: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    userImg(user) {
      if (user.img) {
        return process.env.VUE_APP_API_URL + user.img;
      }
      return require("@/assets/img/icons/profileicon.png");
    },
  },
};
</script>

