<template>
  <div id="popprofile" class="popover-profile mt-3">
    <div class="row popover-row pointer" @click="$emit('profile')">
      <div class="col-md-12">
        <p>Мой профиль</p>
      </div>
    </div>
    <div class="row popover-row pointer" @click="$emit('transactions')">
      <div class="col-md-12">
        <p>Транзакции</p>
      </div>
    </div>
    <div class="row popover-row pointer" @click="$emit('personaldata')">
      <div class="col-md-12">
        <p>Изменить личные данные</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-md-8 my-3">
        <b-button
          @click="$emit('logout')"
          variant="log-off"
          type="submit"
          class="btn btn-block p-0 my-auto"
        >
          <p class="p-0 m-0 ml-4">Выйти</p>
        </b-button>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>