<template>
  <div class="row mt-2">
    <div class="col-12 contaiter-fluid relative-block mt-2 mb-3">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Назад
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-parent-big m-0">
            {{ parent.surName }} {{ parent.name }} {{ parent.patronymic }}
          </p>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="white-bg p-4">
        <p class="m-0 pl-3 mb-3 data-header">Общие данные</p>

        <div class="row w-100 base-parent-info-text">
          <div class="col-3"><p class="my-1">Фамилия:</p></div>
          <div class="col-9 semi-bold-text text-right">
            <input
              class="w-100 border-bottom"
              name="name"
              v-model="formInputs.surName"
              placeholder="Фамилия"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 parent-info-hr" />
          </div>
        </div>

        <div class="row w-100 base-parent-info-text">
          <div class="col-3"><p class="my-1">Имя:</p></div>
          <div class="col-9 semi-bold-text text-right">
            <input
              class="w-100 border-bottom"
              name="name"
              v-model="formInputs.name"
              placeholder="Имя"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 parent-info-hr" />
          </div>
        </div>

        <div class="row w-100 base-parent-info-text">
          <div class="col-3"><p class="my-1">Отчество:</p></div>
          <div class="col-9 semi-bold-text text-right">
            <input
              class="w-100 border-bottom"
              name="name"
              v-model="formInputs.patronymic"
              placeholder="Отчество"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 parent-info-hr" />
          </div>
        </div>

        <div class="row w-100 base-parent-info-text">
          <div class="col-3"><p class="my-1">Телефон:</p></div>
          <div class="col semi-bold-text text-right">
            <input
              class="w-100 border-bottom"
              name="phone"
              v-model="formInputs.phone"
              placeholder="Телефон"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 parent-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-parent-info-text">
          <div class="col-3"><p class="my-1">Email:</p></div>
          <div class="col semi-bold-text text-right">
            <input
              class="w-100 border-bottom"
              name="email"
              v-model="formInputs.email"
              placeholder="E-mail"
            />
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 parent-info-hr" />
          </div>
        </div>
      </div>
    </div>

    <div class="row container justify-content-end mt-5 pb-5">
      <div class="col-4 pr-5 text-right">
        <input
          type="submit"
          class="agent-file-load button-submit-data py-2 text-white"
          :class="{ disabled }"
          @click="dataChange()"
          value="Изменить мои данные"
        />
      </div>
    </div>
  </div>
</template>

<script>
import { ClientManagerMapper } from "@/store/clientManager";
import { UserMapper } from "@/store/user";
import toast from "@/mixins/toast";

export default {
  name: "ParentInfo",
  data() {
    return {};
  },

  computed: {
    ...ClientManagerMapper.mapState(["parent"]),
    ...UserMapper.mapState(["error"]),

    formInputs: {
      get() {
        return this.parent;
      },
    },

    disabled() {
      const fill = Object.entries(this.formInputs)
        .filter((i) =>
          ["name", "surName", "patronymic", "email", "phone"].includes(i[0])
        )
        .filter((i) => ![false, "", null].includes(i[1]));
      console.log(fill);
      return fill.length < 5;
    },
  },

  methods: {
    ...UserMapper.mapActions(["patchOtherProfile"]),
    ...ClientManagerMapper.mapActions(["getParentDetails"]),
    toast,
    async dataChange() {
      let data = {
        id: this.formInputs.id,
        surName: this.formInputs.surName,
        name: this.formInputs.name,
        patronymic: this.formInputs.patronymic,
        phone: this.formInputs.phone,
        email: this.formInputs.email,
      };
      await this.patchOtherProfile({ id: data.id, data });

      if (!this.error) {
        this.toast(
          "Изменения приняты",
          "Данные о профиле успешно изменены",
          "success"
        );
      } else {
        this.toast("Ошибка", "danger");
      }
    },
  },

  async mounted() {
    await this.getParentDetails(this.$route.params.id);
  },
};
</script>

<style>
.data-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.base-parent-info-text {
  font-size: 1rem;
  color: #2b2a29;
}
.parent-info-hr {
  border: 0.1px dashed #c4c4c4;
}

.admin-inputs > input {
  color: #000;
}
.admin-inputs > input,
.agent-form-datepicker {
  background: #fefefe;
  border-bottom: 0.5px solid #c4c4c4;
  transition: 0.5s ease;
  margin-bottom: 20px;
  margin-top: 0;
  width: 380px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
}
.admin-inputs > input:hover,
.agent-form-datepicker:hover {
  border: 1px solid lightgray;
}
.admin-inputs > input:focus,
.agent-form-datepicker:focus {
  border: 1px solid lightgray;
  outline: none;
}

.disabled {
  pointer-events: none;
}

.border-bottom {
  border: 0;
  border-bottom: solid 5px #000;
}

.agent-file-load {
  background: #0069d9;
}
</style>
