<template>
  <section id="crm-admin" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Входящие заявки</p>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid agent-container mx-3 mr-4 mt-3">
      <hr class="hr-invisible m-0" />
      <div style="padding-left: 2.5rem" class="row pr-3 mt-3 pt-4">
        <p class="m-0 a-row-data-label">
          Всего партнёров:
          <span class="bold-text orange-text pl-4">{{
            numberWithSpaces(agentCount + franchiseeCount)
          }}</span>
        </p>

        <p style="margin-left: 3rem !important" class="m-0 a-row-data-label">
          Общий оборот:
          <span class="bold-text green-text pl-4"
            >{{ numberWithSpaces(totalTurnover) }} P</span
          >
        </p>

        <p style="margin-left: 3rem !important" class="m-0 a-row-data-label">
          Доход:
          <span class="bold-text orange-text pl-4"
            >{{ numberWithSpaces(totalProfit) }} P</span
          >
        </p>
      </div>
      <hr
        style="margin-left: 2.5rem; margin-right: 2.5rem"
        class="hr-branch mt-3 mb-4"
      />
      <BaseInfoCRM :agents="agentCount" :franchisees="franchiseeCount" />
    </div>

    <div 
      class="contaiter-fluid agent-container mx-3 mr-4"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <TableRequest :packages="packages" @status="changePackageStatus" />
    </div>
  </section>
</template>

<script>
import { numberWithSpaces } from "@/mixins/number";
import BaseInfoCRM from "@/components/clientManager/crm/BaseInfoCRM.vue";
import TableRequest from "@/components/clientManager/crm/TableRequest.vue";
import { AdminMapper } from "@/store/admin";
export default {
  name: "CRM",
  components: {
    BaseInfoCRM,
    TableRequest
  },
  data() {
    return {
      partnersCount: 450,
      totalTurnover: 0,
      totalProfit: 0
    };
  },
  computed: {
    ...AdminMapper.mapState(["packages", "agentCount", "franchiseeCount"]),    
  },
  methods: {
    numberWithSpaces,
    ...AdminMapper.mapActions([
      "getPackages",
      "patchPackage",
      "getAgentFranchiseeCount"
    ]),
    async changePackageStatus(status, id) {
      await this.patchPackage({ id, data: { status } });
    }
  },
  async mounted() {
    await this.getPackages();
    await this.getAgentFranchiseeCount();
  }
};
</script>

<style></style>
