<template>
  <div
    class="opacity-zero question-row"
    :class="{ disable: disable, 'open-row': open }"
  >
    <div
      class="question-number"
      :class="{ disabled: disable, success: success }"
    >
      <div class="top-line" :class="extend" v-if="number != 1"></div>
      <div class="number">
        <span v-show="!success">{{ number }}</span>

        <img
          v-show="success"
          :src="require('@/assets/img/icons/check.svg')"
          alt=""
          class="img-success"
        />
      </div>
    </div>
    <div
      class="question-card"
      :class="{
        open: open,
        success: success,
      }"
    >
      <div class="fucking-anim" :class="`${img}`"></div>
      <!-- <img :src="require(`@/assets/img/lets-talk/${img}.gif`)" alt="img" class="gif-anim"/> -->
      <p class="text-anim">
        {{ text }}
      </p>
      <button class="sound-btn" @click="$emit('sound', number)">
        <img src="@/assets/img/icons/sound.svg" alt="volume" />
      </button>
      <button class="arrow-btn" :class="{ open: open }" @click="openCard">
        <img src="@/assets/img/icons/right-arrow.svg" alt="arrow" />
      </button>
    </div>
    <div
      class="question-answer opacity-anim-card"
      :class="{ open: open, record: record, wide: !imageLoaded }"
    >
      <div
        class="sound-road"
        :class="`${record && 'record'} sound-road${number}`"
        :ref="`road${number}`"
      ></div>
      <div
        class="record-block"
        :class="{
          record,
          save: (imgSrc || record || isRecorded) && !loading,
          loading: loading,
        }"
      >
        <input
          type="file"
          style="display: none"
          ref="input"
          accept="image/*"
          @click="loading = true"
          @change="loadImg()"
        />
        <button
          v-show="!record && !isRecorded"
          class="img-btn"
          :class="{ loadingImg: loading }"
          :ref="'img' + number"
          @click="handleLoading()"
        >
          <img
            v-show="!imgSrc"
            src="@/assets/img/icons/upload.png"
            alt="upload"
          />
          <transition name="pick">
            <img
              class="loaded"
              v-show="imgSrc"
              src="@/assets/img/pictures/loaded.svg"
              alt="success"
            />
          </transition>
        </button>

        <button
          class="record-btn"
          v-show="!imgIsLoading"
          :class="{
            record: record,
            voice: isRecorded,
            'disabled-record': !imageLoaded,
          }"
          @click="recordSound"
        >
          <img
            :class="{ 'success-img': isRecorded }"
            :src="
              !record && !isRecorded
                ? require('@/assets/img/icons/voice-big.png')
                : !record && isRecorded
                ? require('@/assets/img/icons/voice-success.svg')
                : require('@/assets/img/icons/voice-big.png')
            "
            alt="record"
          />
        </button>
        <button
          v-if="isRecorded && !record"
          class="record-listen-btn"
          @click="audioPlay"
        >
          <img
            src="@/assets/img/icons/play-button-arrowhead.svg"
            alt="listen"
          />
        </button>
        <button
          v-if="isRecorded && !record"
          class="record-delete-btn"
          @click="audioDelete"
        >
          <img src="@/assets/img/icons/delete.svg" alt="delete" />
        </button>
      </div>

      <button class="close-btn" v-show="isRecorded || imgSrc" @click="openCard">
        <img src="@/assets/img/BusinessPractice/icons/close-elem.png" />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Question",
  data() {
    return {
      record: false,
      mediaRecorder: null,
      voice: new Audio(),
      wave: null,
      imageLoaded: false,
      isRecorded: false,
      imgIsLoading: false,
      loading: false,
      file: "",
      imgSrc: "",
    };
  },
  props: {
    img: String,
    text: String,
    number: Number,
    success: Boolean,
    disable: Boolean,
    report: String,
    open: Boolean,
    extend: String,
    answer: String,
  },
  computed: {},
  methods: {
    openCard() {
      if (!this.record) {
        this.$emit("open", !this.open, this.number);
        this.record = false;
      }
    },
    async soundRoad() {
      let stream = await navigator.mediaDevices.getUserMedia({
        audio: true,
      });
      if (stream) {
        this.mediaRecorder = new MediaRecorder(stream);
        let voice = [];
        // ***************
        // *ondataavailable
        // ***************
        this.mediaRecorder.ondataavailable = (e) => {
          voice.push(e.data);
        };
        // ***************
        // *ONSTOP
        // ***************
        this.mediaRecorder.onstop = () => {
          let blob = new Blob(voice, {
            type: "audio/wav",
          });
          this.voice.src = window.URL.createObjectURL(blob);
          this.isRecorded = true;
          stream.getTracks().forEach(function (track) {
            track.stop();
          });
          let strokes = document.querySelectorAll(".stroke");
          strokes.forEach((stroke) => {
            stroke.remove();
          });
          this.$emit("success", true, this.number, blob);
          setTimeout(() => this.$emit("open", false, this.number), 1000);
        };
        // ***************

        this.mediaRecorder.start();
        let context = new AudioContext();
        let analyser = context.createAnalyser();
        let src = context.createMediaStreamSource(stream);
        src.connect(analyser);
        for (let i = 0; i < 100; i++) {
          let stroke = document.createElement("div");
          stroke.className = "stroke";
          stroke.style.background = "white";
          stroke.style.minWidth = "0.8%";
          this.$refs[`road${this.number}`].appendChild(stroke);
        }
        let strokes = document.querySelectorAll(".stroke");
        let loop = () => {
          if (this.mediaRecorder.state == "recording") {
            window.requestAnimationFrame(loop);
            let array = new Uint8Array(200);
            analyser.getByteFrequencyData(array);
            for (var i = 0; i < 100; i++) {
              let height = array[i + 100] / 3;
              strokes[i].style.minHeight = height + "%";
            }
          }
        };
        loop();
      }
    },
    handleLoading() {
      this.$refs.input.click();
      this.imgIsLoading = true;
    },
    // async loadImg() {
    //   this.file = this.$refs["input"].files[0];
    //   let reader = new FileReader();
    //   reader.addEventListener(
    //     "load",
    //     function () {
    //       this.imgSrc = reader.result;

    //       this.$refs["img"].style.backgroundImage = "url(" + this.imgSrc + ")";
    //     }.bind(this),
    //     false
    //   );
    //   if (this.file) {
    //     if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
    //       reader.readAsDataURL(this.file);
    //     }
    //   }
    //   this.$emit("success");
    //   let data = new FormData();
    //   data.append(`task13_image${this.number}_report`, this.file);
    //   data.append("child", this.tale.child);

    //   setTimeout(async () => {
    //     await this.setReport({ data, token: this.token });
    //     this.closePanel();
    //   }, 1000);
    // },
    loadImg() {
      this.file = this.$refs["input"].files[0];
      let reader = new FileReader();
      reader.addEventListener(
        "load",
        function () {
          this.imgSrc = reader.result;

          this.$refs["img" + this.number].style.backgroundImage =
            "url(" + this.imgSrc + ")";
        }.bind(this),
        false
      );
      if (this.file) {
        if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
        }
      }
      this.$emit("success", true, this.number, this.file);
      setTimeout(() => this.$emit("open", false, this.number), 1000);
    },
    async recordSound() {
      if (!this.record) {
        this.record = true;
        this.soundRoad();
      } else {
        this.record = false;
        await this.mediaRecorder.stop();
      }
    },
    audioPlay() {
      this.voice.play();
    },
    audioDelete() {
      this.voice.src = "";
      this.isRecorded = false;
      this.$emit("success", false, this.number, null);
    },
    getElems(name) {
      return document.querySelectorAll(name);
    },
  },
  watch: {
    answer: {
      handler(newAnswer) {
        if (newAnswer) {
          if (newAnswer.split(".")[newAnswer.split(".").length - 1] == "wav") {
            this.voice.src = newAnswer;
            this.isRecorded = true;
          } else {
            this.imgSrc = newAnswer;
            this.imgIsLoading = true;
            this.$refs["img" + this.number].style.backgroundImage =
              "url(" + this.imgSrc + ")";
          }
        }
      },
    },
  },
  // mounted() {
  //   for (let z = 0; z < 4; ++z) {
  //     this.getElems(".question-card")[z].addEventListener("click", function () {
  //       document.querySelectorAll(".fucking-anim")[z].style.animation = "none";
  //       setTimeout(function () {
  //         document.querySelectorAll(".fucking-anim")[z].style.animation = "";
  //       }, 10);
  //       // document.querySelectorAll('.fucking-anim')[z].style.animationPlayState = 'running'
  //     });
  //     // if ( document.querySelectorAll(".task")[z].classList.contains('locked')) {
  //     //   document.querySelectorAll(".task-card")[z].style.filter = 'grayscale(100%)';
  //     //   document.querySelectorAll(".fucking-anim")[z].style.animationDelay = '1000000s';
  //     //   document.querySelectorAll(".coin-moving")[z-1].style.animationDelay = '1000000s';
  //     //   }
  //   }
  // },
};
</script>

<style scoped>
.question-row {
  height: 125px;
  width: 100%;
  transition: 0.5s ease;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.question-row.disable {
  pointer-events: none;
  color: gray;
}
.question-row.disable .question-card {
  background: rgb(250, 250, 250);
}
.question-row.disable .sound-btn,
.question-row.disable .arrow-btn {
  opacity: 0.5;
}
.question-number {
  height: 100%;
  width: 50px;
  margin-left: 5px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.question-number .number {
  z-index: 1;
  width: 36px;
  padding-top: 32px;
  border-radius: 50%;
  background-color: #fff;
  border: 2px solid #ffde3b;
  transition: 0.5s ease-in-out;
  position: relative;
}
.question-number.success > .number {
  background-color: #ffde3b;
}

.question-number .number span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b2a29;
  font-weight: bolder;
  font-size: 1.3em;
}
.top-line {
  position: absolute;
  height: 100%;
  width: 3px;
  background: lightgray;
  z-index: 0;
  top: -50%;
  transition: 0.5s ease-in-out;
}
.top-line::before {
  display: block;
  background: #ffde3b;
  content: "";
  height: 0;
  width: 3px;
  top: 0;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

.question-number.success .top-line::before {
  height: 100%;
}

.question-card {
  background: #fff;
  border: 1px solid lightgray;
  width: 470px;
  height: 110px;
  border-radius: 25px;
  padding: 0 2%;
  padding-left: 0;
  display: flex;
  transition: 0.5s ease-in-out;
  position: relative;
  z-index: 10;
  overflow: hidden;
}
.question-card.invert {
  flex-flow: row-reverse nowrap;
}
.question-card.open {
  width: 505px;
  box-shadow: 0px 0 15px rgb(0 0 0 / 20%);
}
.question-card.success {
  background: #ffde3b;
}

.question-card > img {
  height: 101%;
  width: 22%;
  position: absolute;
  top: 0;
  left: 0px;
  -o-object-fit: cover;
  object-fit: cover;
}
.question-card p {
  width: 100%;
  padding-left: 3%;
  padding-right: 12%;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.question-card.invert p {
  align-items: flex-start;
}
.sound-btn,
.arrow-btn {
  position: absolute;
  right: 3%;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.sound-btn > img {
  width: 50%;
  height: auto;
}
.arrow-btn > img {
  width: 80%;
  height: auto;
  opacity: 0.3;
}
.sound-btn {
  top: 5%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.arrow-btn {
  bottom: 5%;
}
.arrow-btn.open {
  transform: rotate3d(0, 1, 0, 180deg);
}
.question-answer {
  height: 110px;
  width: 370px;
  background: #f3f3f380;
  border-radius: 25px;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  padding-left: 0%;
  z-index: 1;
  transform: translateX(-100%) scaleX(0.1) scaleY(0.1);
}
.question-answer.open {
  border-radius: 0 15px 15px 0;
  transform: translateX(-6%) scaleX(0.9) scaleY(0.9);
}

.question-answer.wide {
  width: 520px;
}
.question-answer.record {
  transform: translateX(-5%);
  width: 395px !important;
}
.sound-road {
  height: 90%;
  background: skyblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  padding: 0 2%;
  width: 20%;
  opacity: 0;
}
.sound-road.record {
  transform: translateX(10px);
  width: 100%;

  opacity: 1;
  border-radius: 0;
}
.sound-road > span {
  width: 0.5%;
  height: 5%;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s ease;
}
.sound-road > span.record {
  width: 0.5%;

  height: 50%;
  animation: animate 0.7s linear infinite;
}

/* кнопка загрузки изображений */

/* .file-loader.load > button {
  background-size: cover;
  background-position: center;
}
.file-loader > button.disable {
  pointer-events: none;
  border: 2px dashed lightgray;
  box-shadow: none;
  background: none;
  color: #000;
}
.file-loader > button:hover {
  box-shadow: 0 0 10px rgba(133, 133, 133, 0.5);
  color: #000;
}
.file-loader > button > img {
  width: 50%;
  height: auto;
  margin: auto;
} */

@keyframes animate {
  50% {
    height: 10%;
  }
  100% {
    height: 50%;
  }
}

.record-block {
  height: 100%;
  width: 220px;
  display: flex;
  border-radius: 15px;
  border: 3px dashed lightgray;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.record-block.save {
  border: none;
}

.record-btn,
.img-btn {
  height: 100%;
  background: transparent;
  width: 50%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.5s ease;
  position: relative;
  z-index: 4;
}
.img-btn {
  background-size: contain;
  background-position: center;
}
.img-btn .loaded {
  filter: brightness(1.5);
  height: 43px !important;
  width: 48px !important;
}

.record-btn:hover,
.img-btn:hover {
  transform: scale(1.07);
  background-color: #fff;
}

/* ANIMATION */

.business-idea {
  align-self: center;
  justify-self: flex-start;
  width: 165px;
  height: 120px;
  margin-left: -10px;
  background-image: url("../../../../../assets/img/lets-talk/business-idea.png");
  animation: business-idea 2s steps(45) 2;
  transform: scale(1);
}
@keyframes business-idea {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 5715px;
  }
  100% {
    background-position: 5715px;
  }
}

.new-knowledge {
  align-self: center;
  justify-self: flex-start;
  width: 160px;
  height: 120px;
  margin-left: -10px;
  background-image: url("../../../../../assets/img/lets-talk/new-knowledge.png");
  animation: new-knowledge 2s steps(50) 2;
  transform: scale(1);
}
@keyframes new-knowledge {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 6000px;
  }
  100% {
    background-position: 6000px;
  }
}

.share {
  align-self: center;
  justify-self: flex-start;
  width: 160px;
  height: 120px;
  margin-left: -10px;
  background-image: url("../../../../../assets/img/lets-talk/share.png");
  animation: share 2s steps(45) 2;
  transform: scale(1);
}
@keyframes share {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 6300px;
  }
  100% {
    background-position: 6300px;
  }
}

.add-new {
  align-self: center;
  justify-self: flex-start;
  width: 160px;
  height: 120px;
  margin-left: -10px;
  background-image: url("../../../../../assets/img/lets-talk/add-new.png");
  animation: add-new 2s steps(60) 2;
  transform: scale(1);
}
@keyframes add-new {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 8100px;
  }
  100% {
    background-position: 8100px;
  }
}
.record-block.record {
  width: 110px;
}
.record-btn.record {
  width: 110px;
  height: 95px;
  margin: 0;
  background: #ffde3b;
}
.record-btn.voice {
  background: #ffde3b;
  pointer-events: none;
}
.record-btn > img,
.img-btn > img {
  height: 35px;
  width: auto;
  object-fit: contain;
  opacity: 0.6;
  transition: 0.5s ease;
  filter: brightness(2) invert(0.7);
}
.record-btn.record > img {
  filter: brightness(2) invert(0);
}
.record-listen-btn,
.record-delete-btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: 0.5s ease;
  z-index: 10;
}
.record-listen-btn {
  right: 44%;
  bottom: -5%;
}
.record-delete-btn {
  right: -2%;
  bottom: -3%;
}
.record-delete-btn > img {
  filter: invert(1);
}
.record-listen-btn:hover,
.record-delete-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.record-listen-btn > img,
.record-delete-btn > img {
  width: 100%;
  height: auto;
  transform: scale(0.5);
}
.record-listen-btn > img {
  filter: invert(1);
}
.close-btn {
  position: absolute;
  right: 0.5rem;
  top: -0.5rem;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background: none;
  z-index: 1000;
}
.close-btn img {
  width: 100%;
  height: 100%;
  opacity: 1;
}
#canvas {
  z-index: 9999999;
}
.record-block.loading {
  border: none !important;
  margin-right: 15px;
}
.loadingImg {
  transform: scale(1.07);
  background-color: #fff;
  box-shadow: 0px 0px 15px #00000015;
}
.question-number.disabled .number {
  background-color: #d9d9d9;
  border: 2px solid #d9d9d9;
}
.question-number.disabled .number span {
  color: #ffffff;
}
.img-success {
  position: absolute;
  top: 13%;
  left: 13%;
  width: 80%;
  height: 80%;
  filter: invert(1);
}
.success-img {
  height: 20px !important;
  width: 25px !important;
  filter: unset !important;
}
/* @media (max-width: 1281px) {
  .question-row {
    height: 100px;
  }
  .question-card {
    width: 370px;
    height: 90px;
    border-radius: 1rem;
  }
  .question-card p {
    font-size: 0.9rem;
  }
  .question-card.open {
    width: 400px;
  }
  .question-answer {
    height: 85px;
    width: 315px;
    border-radius: 1rem;
  }
  .question-answer.record {
    transform: translateX(-5%);
    width: 315px;
  }
  .question-answer.wide {
    width: 450px;
  }
  .record-btn {
    width: 85px;
  }
  .file-loader {
    width: 85px;
  }
}
@media (max-width: 1051px) {
  .question-number .number {
    width: 50%;
    padding-top: 50%;
  }
  .question-number .number span {
    font-size: 0.8rem;
  }
  .question-row {
    height: 90px;
  }
  .question-card {
    width: 330px;
    height: 80px;
    border-radius: 1rem;
  }
  .question-card p {
    font-size: 0.8rem;
  }
  .question-card.open {
    width: 350px;
  }
  .question-answer {
    height: 70px;
    width: 260px;
    border-radius: 1rem;
  }
  .question-answer.record {
    transform: translateX(-5%);
    width: 260px;
  }
  .question-answer.wide {
    width: 370px;
  }
  .record-btn {
    width: 70px;
  }
  .file-loader {
    width: 70px;
  }
}
@media (max-width: 850px) {
  .question-row {
    height: 75px;
  }
  .question-card {
    width: 250px;
    height: 65px;
    border-radius: 1rem;
  }
  .question-card p {
    font-size: 0.6rem;
  }
  .question-card.open {
    width: 270px;
  }
  .question-answer {
    height: 60px;
    width: 210px;
    border-radius: 1rem;
  }
  .question-answer.record {
    transform: translateX(-5%);
    width: 210px;
  }
  .question-answer.wide {
    width: 300px;
  }
  .record-btn {
    width: 60px;
  }
  .file-loader {
    width: 60px;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .question-card.open {
    width: 470px;
    box-shadow: 0px 0 15px rgb(0 0 0 / 20%);
  }
  .question-row {
    /* width: 100% !important; */
    width: 1100px;
    align-items: flex-start;
  }
  .arrow-btn {
    transform: rotate(90deg);
  }
  .arrow-btn.open {
    transform: rotate(-90deg);
  }
  .open-row {
    height: 250px;
  }
  .question-answer,
  .question-answer.wide {
    height: 100px;
    width: 50px;
    transform: translateX(-150%);
  }
  .question-answer.open {
    border-radius: 25px;
    width: 470px;
    height: 150px;
    padding-top: 45px;
    padding-bottom: 10px;
    transform: translateX(-100%) translateY(55%);
  }
  .close-btn {
    top: 2rem;
  }
  .record-delete-btn {
    right: -1%;
    bottom: -4%;
  }
  .record-listen-btn {
    right: 39% !important;
    bottom: -4% !important;
  }
  .record-btn {
    width: 110px;
  }
  .sound-road.record {
    width: 80%;
    margin-left: 2%;
    opacity: 1;
    transform: translateX(10px);
    border-radius: 15px 0 0 15px;
  }

  .ipad-none {
    display: none;
  }
  .top-line.big {
    height: 150%;
    top: -100%;
  }
  .top-line.small {
    height: 75%;
    top: -25%;
  }
}
</style>