<template>
  <section id="PersonalPage" class="personalpage-bg">
    <div
      class="
        container-fluid
        p-0
        full-height-container
        animate__animated animate__fadeIn
      "
    >
      <Header @logout="logOut" :user="me" />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel
          :items="sidePanelItems"
          @logout="logOut"
          @itemClick="onItemClick"
          @subItemClick="onSubItemClick"
        />
        <div class="col-md p-0">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Header from "@/components/main/header/Header.vue";
import SidePanel from "@/components/main/SidePanel.vue";
import { UserMapper } from "@/store/user";
import { TermMapper } from "@/store/term";

export default {
  components: {
    Header,
    SidePanel,
  },
  data() {
    return {
      sidePanelItems: [
        {
          id: 1,
          img: "my_account.png",
          linkName: "mentor-groups",
          text: "Личный кабинет",
        },
        {
          id: 2,
          img: "dictionary-icon.png",
          linkName: "mentor-dictionary",
          text: "Словарь терминов",
          collapse: false,
          children: [
            { name: "Дошкольная(5-7)", id: 1, active: false },
            { name: "Начальная школа(8-12)", id: 2, active: false },
            { name: "Средняя школа(13-16)", id: 3, active: false },
          ],
        },
        {
          id: 3,
          img: "my_profile.png",
          linkName: "mentor",
          text: "Мой профиль",
          exact: true,
        },
      ],
    };
  },
  computed: {
    ...UserMapper.mapState(["error", "me"]),
    ...TermMapper.mapState(["ageCategory"]),
  },
  methods: {
    ...UserMapper.mapActions(["signOut"]),
    ...TermMapper.mapMutations(["setAgeCategory"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "main-login" });
      } else {
        this.errorToast(this.error);
      }
    },
    async onItemClick(item) {
      for await (let i of this.sidePanelItems) {
        if (i.collapse) {
          i.collapse = false;
          i.children.forEach((subI) => {
            subI.active = false;
          });
        }
      }
      let index = this.sidePanelItems.indexOf(item);
      item = this.sidePanelItems[index];
      if (item.children) {
        item.collapse = true;
      }
      if (item.linkName == "mentor-dictionary") {
        this.setAgeCategory(null);
      }
    },
    async onSubItemClick(item, subItem) {
      let index = this.sidePanelItems.indexOf(item);
      item = this.sidePanelItems[index];
      for await (let child of item.children) {
        child.active = false;
      }
      item.children[item.children.indexOf(subItem)].active = true;
      this.setAgeCategory(subItem.id);
    },
  },
  mounted() {
    this.sidePanelItems.forEach((item) => {
      if (item.linkName == this.$route.name && item.children) {
        item.children.forEach((subItem) => {
          if (subItem.id == this.ageCategory) {
            subItem.active = true;
          }
        });
      }
    });
  },
};
</script>

<style>
</style>