<template>
  <section
    id="childfromgroup"
    class="animate__animated animate__fadeIn"
    v-if="child"
  >
    <div class="row w-100">
      <!-- Информация об успехах ребенка -->
      <div class="col-md pl-3 pr-2">
        <div class="contaiter my-child-container mt-5">
          <!-- Строка с именем, балансом и рангом ребенка -->
          <div class="row ml-4 pt-5 pb-4 pr-2">
            <div class="col-md-9">
              <div class="row no-wrap no-select">
                <!-- Аватарка ребенка -->
                <div class="col-md-2">
                  <img :src="userImg" class="img-fluid round-icon" />
                </div>
                <div class="col-md-10">
                  <!-- Имя ребенка -->
                  <div class="row">
                    <div class="col-md-12">
                      <h1>
                        {{ child.child.surName }}
                        {{ child.child.name }}
                        {{ child.child.patronymic }}
                      </h1>
                    </div>
                  </div>
                  <!-- Ранг и баланс -->
                  <div class="row">
                    <div class="col-md-6 p-0">
                      <div class="row">
                        <div class="col-md-2 my-auto pr-5">
                          <img src="@/assets/img/icons/silver.png" />
                        </div>
                        <div class="col-md-4 my-auto p-0">
                          <p class="m-0 rank-text">
                            {{ child.rank }}
                          </p>
                        </div>
                        <div class="col-md-2 my-auto">
                          <p class="m-0 rank-text">{{ child.coins }}</p>
                        </div>
                        <div class="col-md-2 my-auto">
                          <img src="@/assets/img/icons/coin.png" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-3 my-auto text-left">
              <b-button
                @click="pageIsTerms = !pageIsTerms"
                class="btn btn-profile-tab pay-to-account"
              >
                <p>
                  <span v-if="pageIsTerms">Сказки</span>
                  <span v-else>Словарь</span> ребенка
                </p>
              </b-button>
            </div>
          </div>
          <!-- Прогресс проверки домашней работы -->
          <Tales v-if="tales.length > 0 && !pageIsTerms" />
          <h3
            class="text-center w-100 py-3"
            v-else-if="tales.length == 0 && !pageIsTerms"
          >
            У ребенка пока нет начатых сказок
          </h3>
          <Dictionary :terms="terms" v-if="terms.length > 0 && pageIsTerms" />
          <h3
            class="text-center w-100 py-3"
            v-else-if="terms.length == 0 && pageIsTerms"
          >
            У ребенка пока нет выученных терминов
          </h3>
        </div>
      </div>
      <!-- Чат -->
      <!--<Chat />-->
    </div>

    <div class="pl-3 pr-2 mt-5">
      <div class="wrap-terms">
        <div
          v-for="(tale, index) in tales"
          :key="index"
          class="row"
          :class="{
            gray_text: tale.status == 'not_available',
            blue_text: tale.status == 'available',
            success_text: tale.status == 'paid',
          }"
        >
          <div class="col-md-8 accordion" id="acord+index">
            <div class="card z-depth-0 bordered">
              <div class="card-header" id="headingOne+index">
                <h5 class="mb-0">
                  <button
                    class="btn"
                    type="button"
                    data-toggle="collapse"
                    data-target="#collapseOne+index"
                    aria-expanded="true"
                    aria-controls="collapseOne+index"
                    :class="{
                      gray_text: tale.status == 'not_available',
                      blue_text: tale.status == 'available',
                      success_text: tale.status == 'paid',
                    }"
                  >
                    {{ tale.name }}
                  </button>
                </h5>
              </div>
              <!-- <button class="accordion">{{ tale.name }}</button> -->
              <div
                id="collapseOne+index"
                class="collapse show"
                aria-labelledby="headingOne+index"
                data-parent="#acord+index"
              >
                <div v-for="task of tale.tasks" :key="task.id">
                  <p>{{ task.name }}</p>
                  <div
                    v-for="answer of task.answers"
                    :key="answer.id"
                    class="col-md-8"
                  >
                    <p v-if="answer.name">{{ answer.name }}</p>
                    <div
                      @change="showModal(answer)"
                      class="col-md-2 text-right"
                    >
                      <div>
                        <b-button v-if="answer" @click="showModal(answer)"
                          >смотреть ответ
                        </b-button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <!-- <b-button
            v-if="!paid"
            @click="paid = !paid"
            class="btn btn-profile-tab pay-to-account"
          >   
          <p>ОПЛАТИТЬ</p>       
          </b-button> -->
            <p class="gray_text" v-if="tale.status == 'not_available'">
              Не доступно
            </p>
            <p class="deny_text" v-if="tale.status == 'available'">
              Не оплачено
            </p>
            <p class="success_text" v-if="tale.status == 'paid'">Оплачено</p>
          </div>
        </div>
      </div>
    </div>
    <b-modal ref="my-modal" id="bv-modal-example" hide-footer>
      <div class="d-block text-center">
        <!-- <h3>Сказка стоит {{ this.taskCost }} р!</h3> -->
        <!-- <div v-for="tale of tales" :key="tale.id">
          <div v-for="task of tale.tasks" :key="task.id">
            <div v-for="answer of task.answers" :key="answer.id">
              <h3>{{ this.answ }}</h3>
            </div>
          </div>
        </div> -->
        <h3 v-if="this.answ">{{ this.answ.name }}</h3>
        <h3 v-if="this.answ.text_answer">{{ this.answ.text_answer }}</h3>

        <img :src="AnswerImg" v-if="isImage(this.answ)" class="img-fluid" />

        <div v-if="isAudio(this.answ)" class="container" id="app">
          <div class="form-group">
            <label>
              <button
                class="btn btn-primary btn-sm"
                @click.prevent="playSound()"
              >
                <span class="fa fa-play-circle-o"></span>
              </button>
              Play to listen
            </label>
            <br />
          </div>
        </div>

        <!-- pages number 10 -->
        <!-- <div class="col-player my-auto wrapper divider-sound">
          <div class="animate__animated animate__fadeIn">
            <b-progress
              :value="currentTime"
              class="progress-bar-sound"
            ></b-progress>
            <div id="audio" class="player-wrapper">
              <audio id="myAudio">
                <source :src="require(`@/assets/marley.mp3`)" />
              </audio>
            </div>
          </div>
        </div> -->
      </div>
      <b-button class="mt-3" block @click="repondre()">Согласен</b-button>
      <b-button class="mt-3" block @click="hideModal">Не согласен</b-button>
    </b-modal>
  </section>
</template>

<script>
import { ChildMapper } from "@/store/child";
import { TermMapper } from "@/store/term";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
// import Chat from "../General/Chat.vue";
import Tales from "@/components/mentor/child/Tales.vue"; ///Tales.vue
import Dictionary from "@/components/mentor/dictionary/Terms.vue"; //Dictionary
export default {
  name: "Child",
  data() {
    return {
      terms: [],
      tales: [],
      child: null,
      pageIsTerms: true,
      answ: [],
      taskId: [],
    };
  },
  components: {
    // Chat,
    Tales,
    Dictionary,
  },
  computed: {
    ...ChildMapper.mapState({ childError: "error" }),
    ...TermMapper.mapState({ termError: "error" }),
    ...TaleMapper.mapState({ taleError: "error" }),
    ...PlayerMapper.mapState(["audio", "currentTime"]),
    userImg() {
      if (this.child.child.img) {
        return process.env.VUE_APP_API_URL + this.child.child.img;
      }
      return require("@/assets/img/icons/big-child-avatar.png");
    },
    AnswerImg() {
      if (this.answ.answer) {
        return process.env.VUE_APP_API_URL + this.answ.answer;
      }
      return require("@/assets/img/icons/big-child-avatar.png");
    },

    audioPlay() {
      if (this.answ.answer) {
        return process.env.VUE_APP_API_URL + this.answ.answer;
      }
      return require("@/assets/img/icons/big-child-avatar.png");
    },
  },
  methods: {
    ...ChildMapper.mapActions(["getChildById"]),
    ...TermMapper.mapActions({ getChildTerms: "getChildTermsById" }),
    ...TaleMapper.mapActions({ getChildTales: "getChildTalesById" }),
    ...TaleMapper.mapActions(["patchTaskByMentor"]),
    ...TaleMapper.mapActions(["getAnswers"]),
    ...TaleMapper.mapActions(["getTasks"]),

    playSound() {
      // console.log(process.env.VUE_APP_API_URL + this.answ.answer);
      var audio = new Audio(process.env.VUE_APP_API_URL + this.answ.answer);
      audio.play();
    },
    isImage(ans) {
      // console.log(ans.answer);
      if (ans.answer) {
        let chaine = ans.answer;
        let position = chaine.search("png");
        // console.log(position);
        if (position == -1) {
          return false;
        } else {
          return true;
        }
      }
    },
    isAudio(ans) {
      if (ans.answer) {
        let chaine = ans.answer;
        let position = chaine.search("wav");
        if (position == -1) {
          return false;
        } else {
          return true;
        }
      }
    },
    async showModal(ans) {
      console.log(ans)
      await this.$refs["my-modal"].show();
      this.answ = await this.getAnswers(ans._id);
      //this.taskId = await this.answ.task;
      // this.taskId = id;
    },
    async checkAnswer(ans) {
      this.answ = await this.getAnswers(ans._id);
      if (this.answ.answer) {
        return true;
      } else {
        return true;
      }

      // this.taskId = id;
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },
    async repondre() {
      await this.patchTaskByMentor(this.answ._id);
    },
    async getChildByIdOrError() {
      let child = await this.getChildById(this.$route.params.childId);
      if (!this.childError) {
        this.child = child;
        return;
      }
      this.errorToast(this.childError);
    },
    async getChildTermsOrError() {
      let terms = await this.getChildTerms(this.$route.params.childId);
      if (!this.termError) {
        this.terms = terms;
        return;
      }
      this.errorToast(this.termError);
    },
    async getChildTalesOrError() {
      let tales = await this.getChildTales(this.$route.params.childId);
      if (!this.taleError) {
        this.tales = tales;
        console.log(this.tales);
        return;
      }
      this.errorToast(this.taleError);
    },
  },
  async mounted() {
    await this.getChildByIdOrError();
    await this.getChildTermsOrError();
    await this.getChildTalesOrError();
  },
};

// var acc = document.getElementsByClassName("accordion");
// var i;

// for (i = 0; i < acc.length; i++) {
//   acc[i].addEventListener("click", function () {
//     /* Toggle between adding and removing the "active" class,
//          to highlight the button that controls the panel */
//     this.classList.toggle("active");

//     /* Toggle between hiding and showing the active panel */
//     var panel = this.nextElementSibling;
//     if (panel.style.display === "block") {
//       panel.style.display = "none";
//     } else {
//       panel.style.display = "block";
//     }
//   });
// }
</script>

<style>
.success_text {
  color: green;
}

.blue_text {
  color: blue;
}

.deny_text {
  color: red;
}

.gray_text {
  color: gray;
}
.text-show {
  display: none;
}
.col-player {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
  padding: 0px 25px 0px 5px;
}
.divider-sound {
  background: url("../../assets/img/pictures/divider-white.png") no-repeat right
      center,
    #71c9e4;
}
.progress-bar-sound {
  height: 5px;
  border-radius: 50px;
  transition: none;
}

.wrap-terms {
  background: #fefefe;
  transition: 0.5s;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  max-height: calc(100vh - 450px);
  overflow-y: auto;
  padding: 20px 0;
}
.btn {
  outline: none !important;
}
.btn.btn-primary {
  background-color: purple;
  border-color: purple;
  outline: none;
  :hover {
    background-color: darken(purple, 10%);
    border-color: darken(purple, 10%);
  }
  :active,
  :focus {
    background-color: lighten(purple, 5%);
    border-color: lighten(purple, 5%);
  }
  .fa {
    padding-right: 4px;
  }
}
.btn-sm {
  font-size: 22px;
  padding: 2px 1px 2px 4px;
  line-height: 12px;
  margin-right: 10px;
}

/* .accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}
.active,
.accordion:hover {
  background-color: #ccc;
}
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
} */
</style>
