<template>
  <section id="MenthorDictionary" class="animate__animated animate__fadeIn">
    <div class="contaiter-fluid ml-2 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2">
        <div class="row ml-4 no-select">
          <div class="col-md-4 mt-4">
            <h1>Словарь терминов</h1>
          </div>
          <div class="col-md text-right mt-4 mr-4">
            <b-button
              @click="showModal = true"
              class="btn btn-profile-tab pay-to-account"
            >
              <p>Добавить слово</p>
            </b-button>
          </div>
        </div>

        <!-- Контент на вкладках -->
        <div class="row w-100 m-0 tab-content">
          <div class="tab-pane fade w-100 show active" id="group-dictionary">
            <Terms :terms="filteredTerms" />
          </div>
        </div>
      </div>
    </div>

    <b-modal
      lasy
      v-model="showModal"
      centered
      hide-header
      hide-footer
      body-class="p-0"
      size="lg"
      scrollable
    >
      <ModalAddTerm
        :show-modal="showModal"
        @add="addTerm"
        @close="closeModal"
      />
    </b-modal>
  </section>
</template>

<script>
import { TermMapper } from "@/store/term";
import { UserMapper } from "@/store/user";
import ModalAddTerm from "@/components/mentor/dictionary/ModalAddTerm.vue";
import Terms from "@/components/mentor/dictionary/Terms.vue";
export default {
  name: "MenthorDictionary",
  data() {
    return {
      showModal: false,
      terms: [],
    };
  },
  components: {
    Terms,
    ModalAddTerm,
  },
  computed: {
    ...UserMapper.mapState(["me"]),
    ...TermMapper.mapState(["error", "mentorTerms", "ageCategory"]),
    filteredTerms() {
      let terms = this.terms;
      if (this.ageCategory) {
        terms = terms.filter(
          (term) =>
            term.descriptionGeneral || term["description" + this.ageCategory]
        );
      }
      return terms;
    },
  },
  methods: {
    ...TermMapper.mapActions(["getMentorTermsById", "postTerm"]),
    closeModal() {
      this.showModal = false;
    },
    async addTerm(term) {
      term.mentor = this.me.id;
      term.isActive = true;
      await this.postTerm(term);
      if (!this.error) {
        this.closeModal();
        await this.getMentorTermsByIdorError();
        return;
      }
      this.errorToast(this.error);
    },
    async getMentorTermsByIdorError() {
      await this.getMentorTermsById(this.me.id);
      if (!this.error) {
        this.terms = this.mentorTerms.filter((term) => (term.isActive = true));
        return;
      }
      this.errorToast(this.error);
    },
  },
  async mounted() {
    await this.getMentorTermsByIdorError();
  },
};
</script>

<style>
</style>
