<template>
  <section id="grouplist" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid ml-2 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2">
        <div class="row ml-4 mb-4 no-select">
          <div class="col-4 mt-4">
            <h1>Группы</h1>
          </div>
        </div>

        <div
          class="row pl-3 w-100 no-wrap row__table pointer no-select"
          @click="groupView(group.id)"
          v-for="(group, i) in groups"
          :key="group.id"
          :index="group.id"
        >
          <div class="col-md-6 ml-4 p-0 my-auto">
            <p class="table-item-group">
              Группа №{{ i + 1 }}. {{ group.name }}
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <hr class="invisible my-3" />
          </div>
        </div>
      </div>
    </div>
    <FormAddGroup @add="addGroup" />
  </section>
</template>

<script>
import { GroupMapper } from "@/store/group";
import { UserMapper } from "@/store/user";

import FormAddGroup from "@/components/mentor/groups/FormAddGroup.vue";
export default {
  components: {
    FormAddGroup,
  },
  data() {
    return {
      groups: [],
    };
  },
  computed: {
    ...GroupMapper.mapState(["mentorGroups", "error"]),
    ...UserMapper.mapState(["me"]),
  },
  methods: {
    ...GroupMapper.mapActions(["getMentorGroupsById", "postGroup"]),
    groupView(id) {
      console.log(id);
      this.$router.push({ name: "mentor-group", params: { groupId: id } });
    },
    async getMentorGroupsByIdOrError() {
      await this.getMentorGroupsById(this.me.id);
      if (!this.error) {
        this.groups = this.mentorGroups;
        return;
      }
      this.errorToast(this.error);
    },
    async addGroup(group) {
      group.mentor = this.me.id;
      await this.postGroup(group);
      if (!this.error) {
        this.toast(
          "Успешно",
          `Группа ${group.name} успешно создана`,
          "success"
        );
        this.getMentorGroupsByIdOrError();
        return;
      }
      this.errorToast(this.error);
    },
  },

  async mounted() {
    await this.getMentorGroupsByIdOrError();
  },
};
</script>

<style>
</style>