<template>
  <section
    id="viewgroup"
    class="animate__animated animate__fadeIn no-select"
    v-if="group"
  >
    <div class="contaiter-fluid ml-2 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2">
        <div class="row ml-4">
          <div class="col-md-6 mt-4">
            <h1>{{ group.name }}</h1>
          </div>
          <div class="col-md text-right mt-4 mr-4">
            <button
              class="btn btn-profile-tab pay-to-account mr-2"
              @click="copyGroupLink()"
            >
              <p>Скопировать пригласительный код</p>
            </button>
            <button
              class="btn btn-profile-tab pay-to-account"
              @click="nextTale"
            >
              <p>К след. сказке</p>
            </button>
          </div>
        </div>
        <!-- Вкладки -->
        <div class="row">
          <div class="col-md-12 mt-4">
            <ul class="nav w-100 nav-tabs text-center px-4">
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular active"
                  data-toggle="tab"
                  href="#group-view-children"
                  >Дети</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular"
                  data-toggle="tab"
                  href="#group-new-kid-requests"
                  >Новые заявки
                  <span
                    v-if="group.requests.length > 0"
                    class="badge notification-count-menthor text-left pr-0"
                    >+{{ group.requests.length }}</span
                  >
                </a>
              </li>
            </ul>
          </div>
        </div>
        <!-- Контент на вкладках -->
        <div class="row w-100 m-0 tab-content">
          <div class="tab-pane fade w-100 show active" id="group-view-children">
            <Children
              :children="group.childList"
              v-if="group.childList.length > 0"
              @child-click="pickChild"
            />
            <h3 v-else class="w-100 text-center py-3">Группа пустая</h3>
          </div>
          <div class="tab-pane fade w-100" id="group-new-kid-requests">
            <Requests
              :requests="group.requests"
              v-if="group.requests.length > 0"
              @accept="acceptRequest"
              @deny="denyRequest"
            />
            <h3 v-else class="w-100 text-center py-3">Заявки отсутствуют</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { GroupMapper } from "@/store/group";
import { UserMapper } from "@/store/user";
import Children from "@/components/mentor/group/Children.vue";
import Requests from "@/components/mentor/group/Requests.vue";
import copylinkMixin from "@/mixins/copylink";
import hashMixin from "@/mixins/hash";
import { TaleMapper } from "@/store/tale";
export default {
  components: {
    Children,
    Requests,
  },
  data() {
    return {
      group: null,
    };
  },
  mixins: [copylinkMixin, hashMixin],
  computed: {
    // ...GroupMapper.mapState(["error"]),
    ...UserMapper.mapState(["me"]),
    // ...GroupMapper.mapState(["mentorGroups", "error"]),

    referalCode() {
      return this.hash({
        mentorId: this.me.id,
        groupId: this.group.id,
      });
    },
  },
  methods: {
    // ...GroupMapper.mapState(["mentorGroups"]),
    ...GroupMapper.mapActions(["getGroupById", "patchGroupById"]),
    ...TaleMapper.mapActions(["postTale"]),
    ...TaleMapper.mapActions(["getNextTale"]),
    async nextTale() {
      console.log(this.group.childList);
      await this.getNextTale(this.group.childList);
    },
    copyGroupLink() {
      this.copylink(this.referalCode);
      this.toast("Успех", "Код скопирован в буфер обмена", "success");
    },
    async getGroupByIdOrError() {
      let group = await this.getGroupById(this.$route.params.groupId);
      if (!this.error) {
        this.group = group;
        return;
      }
      this.errorToast(this.error);
    },
    async acceptRequest(child) {
      let info = {
        childList: [...this.group.childList.map((c) => c.id), child.id],
        requests: this.group.requests
          .map((r) => r.id)
          .filter((r) => r != child.id),
      };
      await this.patchGroupById({ id: this.group.id, data: info });
      if (!this.error) {
        await this.postTale({ taleNumber: 1, childId: child.id });
        await this.getGroupByIdOrError();
        this.toast(
          "Одобрено",
          `${child.child.surName} ${child.child.name} успешно принят в группу`,
          "success"
        );
        return;
      }
      this.errorToast(this.error);
    },
    async denyRequest(child) {
      let info = {
        requests: this.group.requests
          .map((r) => r.id)
          .filter((r) => r != child.id),
      };
      await this.patchGroupById({ id: this.group.id, data: info });
      if (!this.error) {
        await this.getGroupByIdOrError();
        this.toast(
          "Отклонено",
          `Заявка по ребенку "${child.child.surName} ${child.child.name}" успешно отклонена`,
          "success"
        );
        return;
      }
      this.errorToast(this.error);
    },
    pickChild(id) {
      this.$router.push({ name: "mentor-child", params: { childId: id } });
    },
  },
  async mounted() {
    await this.getGroupByIdOrError();
  },
};
</script>
