<template>
  <section
    id="child-base-info"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Назад
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col-12 my-auto head-block">
          <div class="col-6 header-agents-big">
            {{ agent.user.surName }} {{ agent.user.name }}
            {{ agent.user.patronymic }}
          </div>
          <div class="col-6 contaiter-fluid head-button">
            <ManagersAppoint @add="show = true" role="Agent" />
          </div>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid mr-2 relative-block">
      <AgentBaseInfo />
    </div>
  </section>
</template>

<script>
// import moment from "moment";
import { UserMapper } from "@/store/user";
import { HeadManagerMapper } from "@/store/headManager";
import AgentBaseInfo from "@/components/headSalesManager/agents/AgentBaseInfo.vue";
import ManagersAppoint from "@/components/headSalesManager/managers/ManagersAppoint.vue";
export default {
  name: "Info",
  components: {
    AgentBaseInfo,
    ManagersAppoint,
  },
  data() {
    return {};
  },
  methods: {
    ...HeadManagerMapper.mapActions(["getAgentDetails"]),
  },

  computed: {
    ...HeadManagerMapper.mapState(["agent"]),
    ...UserMapper.mapGetters(["role"]),
  },
  async mounted() {
    await this.getAgentDetails(this.$route.params.id);
  },
};
</script>

<style scoped></style>

<style>
/* .breadcrumb-text {
  color: #6c6c6c;
  font-size: 14px;
} */
.header-agents-big {
  font-size: 30px;
  font-weight: 500;
}
.tabs-child {
  padding-left: 2.5rem;
}
.child-data-color {
  background: #fefefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}
.data-header {
  font-weight: 500;
}
.child-link {
  color: #0500ff;
}
.child-link:hover {
  color: #0099ff;
  text-decoration: underline;
}
.btn-ban-child,
.btn-unban-child {
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
  border-radius: 3px;

  width: 200px;
  height: 30px;
  outline: none;
  border: none;
  transition: 0.5s ease;
}
.btn-ban-child {
  background: #f22929;
}
.btn-unban-child {
  background: #67b42b;
}
.btn-ban-child:hover,
.btn-unban-child:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.btn-ban-child:active,
.btn-ban-child:focus,
.btn-unban-child:active,
.btn-unban-child:focus {
  transform: scale(1.05);
}
.nav-link {
  background: #e4e4e4;
  padding: 0.25rem 1rem;
}

.active-tab-child {
  background: #ed8719 !important;
  border-radius: 6px;
  color: #ffffff !important;
}
.nav-tabs .nav-link {
  color: #ffffff !important;
  background: #c4c4c4;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
}

.height-child-tabs {
  margin-bottom: 70px;
  margin-top: 30px;
}

.nav-tabs .nav-item {
  margin-right: 25px;
}
.width-child-tabs .nav-item {
  width: 210px !important;
}

.head-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
</style>
