<template>
  <section
    id="analyticsBranch"
    class="animate__animated animate__fadeIn no-select"
  >
    <div
      @click="overlay = false"
      class="overlay"
      :class="{ overlay_invisible: !overlay }"
    ></div>

    <ModalAddMenthor
      v-on:closeModal="overlay = !overlay"
      :class="{ hidden: !overlay }"
    />
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col my-auto pt-3">
          <p class="header-admin m-0">Аналитика</p>
        </div>
      </div>
    </div>
    <div
      class="
        contaiter-fluid
        agent-container
        py-4
        relative-block
        mx-3
        mr-4
        mt-3
        pl-4
      "
      style="height: 275px"
    >
      <hr class="invisible" />

      <div class="row mt-2">
        <div class="col-2">
          <p class="m-0 a-row-data-label">Наименование:</p>
        </div>
        <div class="col text-left a-row-data">
          {{ branchProfile.name || "" }}
        </div>
        <div class="col-2 text-right">
          <button
            href="#"
            @click="overlay = !overlay"
            class="button-add-menthor mr-3"
          >
            Добавить ментора
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <p class="m-0 a-row-data-label">Регион:</p>
        </div>
        <div class="col text-left a-row-data">
          {{ branchProfile.region || "" }}
        </div>
      </div>
      <BaseInfo
        :childCount="childCount"
        :mentorCount="mentorCount"
        :groupCount="groupCount"
        class="py-3 mt-4"
      />
    </div>

    <div
      class="contaiter-fluid agent-container p-0 py-4 relative-block mx-3 mr-4"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <b-tabs
        active-nav-item-class="active-tab-analytics"
        content-class="mt-2"
        class="mt-3"
        nav-class="w-fit width-mentor-tabs"
        nav-wrapper-class="analytics-tab-title"
        lazy
        fill
      >
        <b-tab title="Менторы" active
          ><TableMenthors
            :mentors="mentors"
            linkName="branch-analytics-mentor"
            @fire="fireMentor"
        /></b-tab>

        <b-tab title="Дети"
          ><TableChildren
            :children="children"
            linkName="branch-analytics-child"
          />
        </b-tab>

        <b-tab title="Финансы"
          ><TableBranchAnalytics tableHeightclass="height-thicc"
        /></b-tab>
      </b-tabs>
    </div>
  </section>
</template>

<script>
import BaseInfo from "@/components/franchisee/analytics/branch-info/BaseInfo.vue";
import ModalAddMenthor from "@/components/branch/analytics/ModalAddMenthor.vue";
import { BranchMapper } from "@/store/branch";
import TableMenthors from "@/components/franchisee/analytics/branch-info/TableMenthors.vue";
import TableChildren from "@/components/franchisee/analytics/branch-info/tab-children/TableChildren.vue";
import TableBranchAnalytics from "@/components/branch/analytics/TableBranchAnalytics.vue";
export default {
  name: "AnalyticsBranch",
  components: {
    BaseInfo,
    TableBranchAnalytics,
    TableChildren,
    TableMenthors,
    ModalAddMenthor,
  },
  data() {
    return {
      overlay: false,
    };
  },
  computed: {
    ...BranchMapper.mapState(["error", "branchProfile", "mentors", "children"]),
    ...BranchMapper.mapGetters(["groupCount", "childCount", "mentorCount"]),
  },

  methods: {
    ...BranchMapper.mapActions([
      "getBranchProfile",
      "getMentors",
      "getChildren",
      "patchMentor",
    ]),
    async fireMentor(data) {
      await this.patchMentor(data);
      await this.getMentors();
    },
  },
  async mounted() {
    await this.getBranchProfile();
    await this.getMentors();
    await this.getChildren();
  },
};
</script>

<style>
.add-menthor-link {
  top: 2vh;
  right: 1.5vw;
  font-size: 0.7rem;
  color: #0038ff;
  z-index: 10;
  transition: 0.5s ease;
  text-decoration: none;
}
.button-add-menthor {
  background: #9aafd5;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 5px 10px;

  color: #fefefe;
  font-size: 14px;
  line-height: 17px;

  box-shadow: unset;
  transition: 0.5s ease;
}
.button-add-menthor:hover {
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.19);
}
.button-add-menthor:active {
  color: #000000;
}
.header-admin {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}
.add-menthor-link:hover {
  text-decoration: underline;
  color: #0091ff;
}
.analytics-tab-title {
  padding-top: 0vh;
  padding-bottom: 0vh;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: #fefefe !important;
}

.analytics-tab-title .nav-link {
  color: #fefefe !important;
  background: #c4c4c4;
  border-radius: 6px;

  padding-bottom: 0;
}
.active-tab-analytics,
.active-tab-mentor {
  background: #9aafd5 !important;
}
.active-tab-analytics[aria-posinset="2"] {
  background: #ed8719 !important;
}
.active-tab-analytics[aria-posinset="3"] {
  background: #1c8845 !important;
}
.nav-link {
  background: #e4e4e4;
  padding: 0.25rem 1rem;
}

.hidden {
  visibility: hidden;
}
.overlay {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1000;
  transition: 0.5s ease;
}
.overlay_invisible {
  background: none;
  z-index: -1000;
  display: none;
}
.nav-tabs .nav-link {
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff !important;
  background: #c4c4c4;
  border-radius: 6px;
}

/* кнопки, что видны лишь франчазии */

.button-download-branch {
  border: 1.5px solid #249ddd;
  background: #ffffff00;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 0;
  height: 35px;
  transition: 0.5s ease;
}
.button-download-branch > p {
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
  margin: 0;
}
.button-download-branch:hover {
  background: #249ddd;
  box-shadow: 0px 0px 15px #00000030;
}
.button-download-branch:hover > p {
  color: #ffffff;
}
.anketa-width {
  width: 145px;
}
.documents-width {
  width: 175px;
}

.nav-tabs .nav-item {
  margin-right: 25px;
}

.width-mentor-tabs .nav-item {
  width: 120px !important;
}
</style>

<style scoped></style>
