<template>
  <section class="animate__animated animate__fadeIn no-select">
    <div
      @click="overlay = false"
      class="overlay"
      :class="{ overlay_invisible: !overlay }"
    ></div>

    <ModalAddMenthor
      v-on:closeModal="overlay = !overlay"
      :class="{ hidden: !overlay }"
    />
    <ModalGetReport @get="setMonth" />
    <ModalReport :month="month" />

    <div class="contaiter-fluid relative-block mt-2">
      <div class="row pt-2">
        <div class="col">
          <button
            @click="$router.go(-1)"
            v-if="role == 'Franchisee'"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Аналитика/{{ branch.name }}
          </button>
          <button
            @click="$router.go(-3)"
            v-if="role == 'admin'"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Все заявки
          </button>
          <button
            @click="$router.go(-2)"
            v-if="role == 'admin'"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            / {{ franchiseeDetails.name }}
          </button>
          <button
            @click="$router.go(-1)"
            v-if="role == 'admin'"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            / {{ branch.name }}
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-child-big m-0">
            {{ mentorDetails.user.surName }}
            {{ mentorDetails.user.name }}
            {{ mentorDetails.user.patronymic }}
          </p>
        </div>
      </div>
    </div>

    <div class="contaiter-fluid agent-container relative-block mx-3 mr-4 mt-3">
      <hr class="hr-invisible m-0" />
      <div class="row mentor-info" style="padding-top: 40px">
        <div class="w-75 pl-3">
          <!-- первая строка информации -->
          <div class="row">
            <div class="col-3 mentor-info-name">Статус работы:</div>
            <div class="col-3 mentor-info-par">
              {{ mentorDetails.jobStatus }}
            </div>
            <div class="col-1"></div>
            <div class="col-2 mentor-info-name">Email:</div>
            <div class="col-3 mentor-info-par">
              {{ mentorDetails.user.email }}
            </div>
          </div>
          <!-- первая строка информации -->
          <div class="row m-0">
            <div class="col-6"><hr class="mentor-divider-hr m-0" /></div>
            <div class="col-1"></div>
            <div class="col-5"><hr class="mentor-divider-hr m-0" /></div>
          </div>
          <!-- вторая строка информации -->
          <div class="row">
            <div class="col-4 mentor-info-name">Серия/номер паспорта:</div>
            <div class="col-2 mentor-info-par">
              {{ mentorDetails.passport }}
            </div>
            <div class="col-1"></div>
            <div class="col-2 mentor-info-name">Телефон:</div>
            <div class="col-3 mentor-info-par">
              {{ mentorDetails.user.phone }}
            </div>
          </div>
          <!-- вторая строка информации -->
          <div class="row m-0">
            <div class="col-6"><hr class="mentor-divider-hr m-0" /></div>
            <div class="col-1"></div>
            <div class="col-5"><hr class="mentor-divider-hr m-0" /></div>
          </div>
          <!-- третья строка информации -->
          <div class="row">
            <div class="col-3 mentor-info-name">Кем выдан:</div>
            <div class="col-3 mentor-info-par">
              {{ mentorDetails.passportWho }}
            </div>
            <div class="col-1"></div>
            <div class="col-2 mentor-info-name">Адрес:</div>
            <div class="col-3 mentor-info-par">{{ mentorDetails.adress }}</div>
          </div>
          <!-- третья строка информации -->
          <div class="row m-0">
            <div class="col-6"><hr class="mentor-divider-hr m-0" /></div>
          </div>
          <!-- четвертая строка информации -->
          <div class="row">
            <div class="col-3 mentor-info-name">Дата выдачи:</div>
            <div class="col-3 mentor-info-par">
              {{ mentorDetails.passportWhen.split("-").reverse().join(".") }}
            </div>
          </div>
          <!-- четвертая строка информации -->
        </div>
        <!-- кнопка добавления ментора -->
        <div class="col text-right">
          <button
            v-if="role != 'SalesManager'"
            @click="overlay = !overlay"
            class="mr-2 btn-add-mentor"
          >
            <p>Добавить ментора</p>
          </button>
        </div>
      </div>
      <!-- кнопка для скачивания рег-документов -->
      <div class="row pb-4">
        <div class="col text-right">
          <button @click="loadRegistrationFiles" class="mr-2 pr-1 admin-button">
            <p>Скачать регистрационные документы</p>
          </button>
        </div>
      </div>
    </div>

    <div
      class="contaiter-fluid agent-container relative-block p-0 mx-3 mr-4 py-4"
      style="margin-bottom: 70px; margin-top: 30px; margin-top: 30px"
    >
      <b-tabs
        active-nav-item-class="active-tab-mentor"
        content-class="mt-2"
        class="mt-3 table-tabs relative-block"
        nav-class="table-tabs-nav"
        nav-wrapper-class="analytics-tab-title"
        lazy
      >
        <b-tab title="Группы" active>
          <TableGroup :groups="mentorGroups" />
        </b-tab>
        <b-tab title="Отчет по занятиям">
          <TableLessonsReport />
        </b-tab>
        <b-tab title="Отчет по тренингам">
          <TableCoachingReport />
        </b-tab>
        <b-tab v-if="role != 'branch'" title="Акты">
          <TableActs />
        </b-tab>
        <button
          v-b-modal.modal-get-report
          class="admin-button second-width absolute-block report-btn"
        >
          <p>Сформировать отчет по доходу</p>
        </button>
      </b-tabs>
    </div>
  </section>
</template>

<script>
// import JSZip from "jszip";
import { BranchMapper } from "@/store/branch";
import { UserMapper } from "@/store/user";
import { AdminMapper } from "@/store/admin";
import { FranchiseeMapper } from "@/store/franchisee";
import TableGroup from "@/components/branch/analytics/mentor/TableGroup.vue";
import TableLessonsReport from "@/components/branch/analytics/mentor/TableLessonsReport.vue";
import TableCoachingReport from "@/components/branch/analytics/mentor/TableCoachingReport.vue";
import TableActs from "@/components/branch/analytics/mentor/TableActs.vue";

import ModalAddMenthor from "@/components/branch/analytics/ModalAddMenthor.vue";
import ModalGetReport from "@/components/branch/analytics/mentor/ModalGetReport.vue";
import ModalReport from "@/components/branch/analytics/mentor/ModalReport.vue";
export default {
  components: {
    ModalAddMenthor,
    TableGroup,
    TableLessonsReport,
    TableCoachingReport,
    TableActs,

    ModalGetReport,
    ModalReport,
  },
  data() {
    return {
      overlay: false,
      month: "Октябрь",
    };
  },
  computed: {
    ...BranchMapper.mapState(["mentorDetails", "mentorGroups"]),
    ...UserMapper.mapGetters(["role"]),
    ...FranchiseeMapper.mapState(["branch"]),
    ...AdminMapper.mapState(["franchiseeDetails"]),
  },
  methods: {
    ...BranchMapper.mapActions(["getMentorDetails", "getMentorGroups"]),
    async loadRegistrationFiles() {
      let link = document.createElement("a");
      link.target = "_blank";
      link.href = this.mentorDetails.passport_file;
      link.click();
      link.href = this.mentorDetails.snils_file;
      link.click();
      link.href = this.mentorDetails.inn_file;
      link.click();
    },
    setMonth(month) {
      this.month = month;
    },
  },
  async mounted() {
    await this.getMentorGroups(this.$route.params.id);
    await this.getMentorDetails(this.$route.params.id);
  },
};
</script>

<style scoped>
.nav-link {
  padding: 0.5rem 0.5rem !important;
}
</style>

<style>
.active-tab-analytics {
  background: #9aafd5 !important;
  color: #000 !important;
}
.table-tabs-nav {
  font-size: 16px;
  font-weight: 500;
  line-height: 17px;
  color: #000 !important;
}

.nav-link {
  padding: 0.5rem 0.5rem;
  border-radius: 6px !important;
  color: #ffffff !important;
  background: #c4c4c4;
}
.nav-link.active {
  padding: 0.5rem 0.5rem;
  background: #9aafd5 !important;
}
.nav-tabs .nav-item {
  margin-right: 25px;
}
/* .table-tabs-nav > * {
  background-color: #e4e4e4;
} */
</style>

<style scoped>
.add-menthor-link {
  top: 2vh;
  right: 1.5vw;
  font-size: 0.7rem;
  color: #0038ff;
  z-index: 10;
  transition: 0.5s ease;
  text-decoration: none;
}
.analytics-subheader {
  top: 1vh;
  left: 2.5rem;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;

  color: #666666;
  z-index: 10;
  transition: 0.5s ease;
  text-decoration: none;
}
.header-admin {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}

.mentor-info .row {
  margin: 0.5rem 0;
}
.mentor-info-name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: #2b2a29;
}
.mentor-info-par {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: right;
  color: #2b2a29;
}

.add-menthor-link:hover {
  text-decoration: underline;
  color: #0091ff;
}
.analytics-tab-title {
  padding-top: 0vh;
  padding-bottom: 0vh;
  font-weight: 500;
  font-size: 0.8rem;
}
.admin-button {
  background: #ffffff00;
  border: 1.5px solid #9aafd5;
  box-sizing: border-box;
  border-radius: 9999px;
  transition: 0.5s ease;
  padding: 0;
  height: 30px;
  width: 315px;
}
.second-width {
  width: 280px;
}
.admin-button > p {
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  color: #2b2a29;
  margin: 0;
}

.admin-button:hover {
  background: #9aafd5;
  border: 1.5px solid #9aafd5;

  box-shadow: 0px 0px 5px rgba(15, 15, 15, 0.282);
}
.admin-button:hover > p,
.admin-button:focus > p {
  color: #ffffff;
}
.admin-button:focus {
  background: #9aafd5;
  border: 1.5px solid #9aafd5;
}
.report-btn {
  top: 1px;
  right: 1.5rem;
  padding: 0px 15px;
}
.nav-link {
  background: #e4e4e4;
  padding: 0.25rem 1rem;
  padding: 0.5rem 0.5rem;
}

.hidden {
  visibility: hidden;
}
.overlay {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1000;
  transition: 0.5s ease;
}
.overlay_invisible {
  background: none;
  z-index: -1000;
  display: none;
}
.mentor-divider-hr {
  border: 0.5px dashed #c4c4c4;
}
.btn-add-mentor {
  background: #9aafd5;
  border-radius: 5px;
  border: none;
  height: 30px;
  width: 155px;
  padding: 0;
  outline: none;
  transition: 0.5s ease;
}
.btn-add-mentor:hover {
  box-shadow: 0px 0px 15px rgba(15, 15, 15, 0.282);
}
.btn-add-mentor:focus {
  transform: scale(1.05);
}
.btn-add-mentor > p {
  margin: 0;

  font-size: 14px;
  font-weight: 500;
  color: #fefefe;
}
.height-mentor {
  height: 300px;
}
</style>
