<template>
  <FormRegister role="agent" />
</template>

<script>
import FormRegister from "@/components/main/register/FormRegister.vue";
export default {
  components: {
    FormRegister,
  },
};
</script>