<template>
  <div class="row w-100">
    <div class="signinup mx-auto">
      <div class="row m-0 align-items-center signinup__header-blue">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <p class="header-text my-auto">Регистрация</p>
        </div>
        <div class="col-2 text-center">
          <a class="white-link" href="#">RU</a>
        </div>
      </div>

      <div class="row m-0 align-items-center signinup__content">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <form>
            <div class="dropdown">
              <b-form-select
                v-model="forma"
                :options="formaList"
                class="btn button-dropdown-register text-left pl-3 mt-3 w-100"
              >
              </b-form-select>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" @click="forma = 'Организация'"
                  >Организация</a
                >
                <a class="dropdown-item" @click="forma = 'Организация'">ИП</a>
                <a class="dropdown-item" @click="forma = 'Организация'"
                  >Иностранная фирма</a
                >
              </div>
            </div>
            <div class="form-group mt-3 pt-2">
              <input
                type="email"
                class="form-control pl-3"
                placeholder="E-mail"
                v-model="email"
              />
            </div>
            <div class="form-group my-4">
              <input
                type="text"
                class="form-control pl-3"
                v-mask="'+7(###)###-##-##'"
                placeholder="Телефон"
                v-model="phone"
              />
            </div>
            <div v-if="sendCodeShowInput" class="form-group my-4">
              <div class="row align-items-center">
                <div class="col-2 my-auto">
                  <label for="code" class="form__label my-auto">Код:</label>
                </div>
                <div class="col-4 pl-1">
                  <input
                    type="text"
                    class="form-control pl-3"
                    v-mask="'####'"
                    placeholder=""
                    v-model="code"
                  />
                </div>
              </div>
            </div>

            <div v-if="!sendCodeShowInput" class="form-group mt-5">
              <div class="row justify-content-center">
                <div class="col-md-12 text-center justify-content-center">
                  <b-button
                    @click="sendCode()"
                    class="btn form__button"
                    :disabled="sendCodeButtonDisable"
                  >
                    <p class="m-0">Прислать код</p>
                  </b-button>
                </div>
              </div>
            </div>

            <div class="form-group mt-4">
              <div class="row justify-content-center">
                <div class="col-md-12 text-center justify-content-center">
                  <b-button
                    @click="register()"
                    class="btn form__button"
                    :disabled="registerButtonDisabled"
                  >
                    <p class="my-auto">Зарегистрироваться</p>
                  </b-button>
                </div>
              </div>
            </div>
          </form>
          <div class="col-2 text-center"></div>
          <p v-if="referal && this.referalObj.agentProfileId" class="mt-2">
            Вы были приглашены агентом {{ referal }}
          </p>
          <p v-if="referal && this.referalObj.managerProfileId" class="mt-2">
            Вы были приглашены менеджером {{ referal }}
          </p>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { UserMapper } from "@/store/user";
import { AgentMapper } from "@/store/agent";
import { SalesManagerMapper } from "@/store/salesManager";
import { AdminMapper } from "@/store/admin";
export default {
  name: "FormRegister",
  data: () => ({
    referalObj: {},
    sendCodeButtonDisable: true,
    registerButtonDisabled: true,
    email: "",
    phone: "",
    code: "",
    sendCodeShowInput: false,
    forma: null,
    formaList: [{ value: null, text: "Правовая форма" }, "Организация", "ИП"],
    referal: null,
  }),
  computed: {
    ...UserMapper.mapState(["error", "me"]),
    ...AgentMapper.mapState(["agentProfile"]),
    ...SalesManagerMapper.mapState(["manager"]),
  },
  methods: {
    ...UserMapper.mapActions({
      sendSms: "sendCode",
      signUp: "signUp",
      getOtherProfile: "getOtherProfile",
    }),
    // ...UserMapper.mapActions(["sendSms", "signUp", "getOtherProfile"]),
    ...AgentMapper.mapActions(["getOtherAgentProfile"]),
    ...SalesManagerMapper.mapActions(["getOtherManagerProfile"]),
    ...AdminMapper.mapActions(["putFranchiseeDetails"]),
    async sendCode() {
      let payload = {
        phone: this.phone,
      };
      console.log(payload.phone);
      console.log(this.phone);
      await this.sendSms({ phone: this.phone });
      if (!this.error) {
        this.toast(
          "Код успешно отправлен",
          "Пожалуйста, проверьте входящие сообщения",
          "success"
        );
        this.sendCodeShowInput = true;
      } else {
        this.toast("Ошибка", "Неизвестная ошибка", "danger");
      }
    },
    async register() {
      let role = "Franchisee";

      let payload = {
        phone: this.phone,
        email: this.email,
        code: this.code,
        role: role,
      };
      if (this.$route.params.referal) {
        this.referalObj = JSON.parse(atob(this.$route.params.referal));
      }

      if (this.referalObj.agentProfileId) {
        payload.agent = this.referalObj.agentProfileId;
      } else if (this.referalObj.managerProfileId) {
        payload.manager = this.referalObj.managerProfileId;
      }

      await this.signUp(payload);
      if (!this.error) {
        this.toast(
          "Вы успешно зарегистрировались",
          "Пароль для входа отправлен на вашу почту",
          "success"
        );
        // let payloadData = new FormData();
        // let payload = {
        //   user_id: this.me.id,
        //   ip: this.forma == "ИП",
        //   organization: this.forma == "Организация",
        // };
        // Object.entries(payload).forEach((item) => {
        //   payloadData.set(item[0], item[1]);
        // });
        setTimeout(this.toLogin, 2000);
      } else {
        if (this.error.email) {
          this.toast(
            "Ошибка при вводе почты",
            "Данная почта уже используется",
            "danger"
          );
        }
        if (this.error.phone) {
          this.toast(
            "Ошибка при вводе номера",
            "Данный номер телефона уже используется",
            "danger"
          );
        }
      }
    },

    toast(title, message, variant) {
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        solid: true,
      });
    },
    toLogin() {
      this.$router.push({ name: "main-login" });
    },
  },
  watch: {
    phone: function (val) {
      if (val.length >= 15) {
        this.sendCodeButtonDisable = false;
      } else {
        this.sendCodeButtonDisable = true;
      }
    },
    code: function (val) {
      if (val.length == 4 && this.phone && this.email && this.forma) {
        this.registerButtonDisabled = false;
      } else {
        this.registerButtonDisabled = true;
      }
    },
    email: function () {
      if (this.email && this.phone && this.code && this.forma) {
        this.registerButtonDisabled = false;
      } else {
        this.registerButtonDisabled = true;
      }
    },
    forma: function () {
      if (this.email && this.phone && this.code && this.forma) {
        this.registerButtonDisabled = false;
      } else {
        this.registerButtonDisabled = true;
      }
    },
  },
  async mounted() {
    if (this.$route.params.referal) {
      this.referalObj = JSON.parse(atob(this.$route.params.referal));
      if (this.referalObj.agentProfileId) {
        console.log(this.referalObj.agentProfileId);
        let id = JSON.parse(atob(this.$route.params.referal)).agentProfileId;
        await this.getOtherAgentProfile(id);
        console.log(this.referalObj.agentProfileId);
        this.referal = `${this.agentProfile.user.surName} ${this.agentProfile.user.name} ${this.agentProfile.user.patronymic}`;
      } else if (this.referalObj.managerProfileId) {
        console.log(this.referalObj);
        let id = JSON.parse(atob(this.$route.params.referal)).managerProfileId;
        await this.getOtherManagerProfile(id);
        this.referal = `${this.manager.user_id.surName} ${this.manager.user_id.name} ${this.manager.user_id.patronymic}`;
      }
    }
  },
};
</script>

<style>
.button-dropdown-register {
  border: 1px solid #a0a0a0;
  box-sizing: border-box;
  border-radius: 3px;
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: space-between;
}
</style>
