<template>
  <div class="h-100 pages-brand child-sidepanel-bg no-select">
    <div class="row mt-4 pt-3 mb-2"></div>
    <router-link :to="{ name: 'child-tales' }" active-class="active">
      <div @click="ChangeIconTales()" class="row child-row no-wrap m-0 pl-2">
        <div
          class="
            col-md-3
            my-auto
            text-center
            p-0
            animate__animated animate__bounceIn
          "
        >
          <img
            id="tales_sidemenu_icon"
            :src="require(`@/assets/${this.talesiconsrc}`)"
            class="img-child-sidepanel"
          />
        </div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Личный кабинет</p>
        </div>
      </div>
    </router-link>

    <router-link :to="{ name: 'child-dictionary' }" active-class="active">
      <div
        @click="ChangeIconsToDefault()"
        class="row child-row no-wrap m-0 pl-2"
      >
        <div
          class="
            col-md-3
            my-auto
            text-center
            p-0
            animate__animated animate__bounceIn
          "
        >
          <img
            src="@/assets/img/icons/dictionary-child.png"
            class="img-child-sidepanel"
          />
        </div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Словарь терминов</p>
        </div>
      </div>
    </router-link>

    <router-link :to="{ name: 'child-notebook' }" active-class="active">
      <div
        @click="ChangeIconsToDefault()"
        class="row child-row no-wrap m-0 pl-2"
      >
        <div
          class="
            col-md-3
            my-auto
            text-center
            p-0
            animate__animated animate__bounceIn
          "
        >
          <img
            src="@/assets/img/icons/notebook-child.png"
            class="img-child-sidepanel"
          />
        </div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Мой словарик</p>
        </div>
      </div>
    </router-link>

    <router-link :to="{ name: 'child' }" active-class="active" exact>
      <div @click="ChangeIconProfile()" class="row child-row no-wrap m-0 pl-2">
        <div
          class="
            col-md-3
            my-auto
            text-center
            p-0
            animate__animated animate__bounceIn
          "
        >
          <img
            id="profile_sidemenu_icon"
            :src="require(`@/assets/${this.profileiconsrc}`)"
            class="img-child-sidepanel"
          />
        </div>
        <div class="col-md-9 my-auto p-0">
          <p class="page-text m-0">Мой профиль</p>
        </div>
      </div>
    </router-link>

    <div class="row mt-4 mb-3"></div>
    <div class="row justify-content-center animate__animated animate__fadeIn">
      <div class="col-md-7 p-0">
        <button
          @click="$emit('logout')"
          type="submit"
          class="btn btn-block btn-log-off-child"
        >
          <p class="m-0 pt-1 pr-1 text-right">Выйти</p>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      talesiconsrc: "img/icons/child-personal-page.png",
      profileiconsrc: "img/icons/profile-child.png",
    };
  },
  methods: {
    // Тут меняется цвет иконки для бокового меню в ребенке на белый цвет и обратно в нужных тому местах
    ChangeIconTales: function () {
      this.talesiconsrc = "img/icons/my_account.png";
      this.profileiconsrc = "img/icons/profile-child.png";
    },
    ChangeIconProfile: function () {
      this.talesiconsrc = "img/icons/child-personal-page.png";
      this.profileiconsrc = "img/icons/profile-white.png";
    },
    ChangeIconsToDefault: function () {
      this.talesiconsrc = "img/icons/child-personal-page.png";
      this.profileiconsrc = "img/icons/profile-child.png";
    },
  },
  mounted() {
    this.talesiconsrc = "img/icons/my_account.png";
    this.profileiconsrc = "img/icons/profile-child.png";
  },
};
</script>

<style>
.img-child-sidepanel {
  width: 40%;
}
.btn-log-off-child {
  border-radius: 5px;
  color: #ffffff;
  transition: 0.5s;
  background: url("../../assets/img/icons/exit-child.png") no-repeat center,
    #ed8719;
  background-size: 25%;
  background-position-x: 15%;
}
</style>
