<template>
  <section
    id="act-viewer-agent"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-2)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Справочник агентов/
          </button>
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            {{ agentDetails.user.surName }}
            {{ agentDetails.user.name.split("")[0] }}
            {{ agentDetails.user.patronymic.split("")[0] }}
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">
            Акт {{ fromDate ? "от " + fromDate : "" }}
            {{ toDate ? "по " + toDate : "" }}
          </p>
        </div>
      </div>
      <div class="row px-3" style="margin-top: 20px">
        <b-button
          variant="1"
          @click="downloadPDF"
          class="btn-act"
          style="margin-right: 55px"
          ><p>Скачать акт</p></b-button
        >
        <b-button variant="1" @click="printPDF" class="btn-act"
          ><p>Распечатать акт</p></b-button
        >
      </div>
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mt-4 mr-4"
      style="margin-bottom: 70px; height: 600px; display: flex"
      id="iframeContainer"
    ></div>
  </section>
</template>

<script>
import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
import moment from "moment";
pdfMake.vfs = pdfFonts.pdfMake.vfs;
import { AdminBuchMapper } from "@/store/adminBuch";

export default {
  name: "ActViewerAgent",

  methods: {
    ...AdminBuchMapper.mapActions(["getAgentDetails"]),
    downloadPDF() {
      pdfMake.createPdf(this.doc).download("Акт от 12.12.2020.pdf");
    },
    printPDF() {
      pdfMake.createPdf(this.doc).print();
    },
    generatePDF() {
      const pdfDocGenerator = pdfMake.createPdf(this.doc);
      pdfDocGenerator.getDataUrl((dataUrl) => {
        const targetElement = document.querySelector("#iframeContainer");
        const iframe = document.createElement("iframe");
        iframe.style.width = "100%";
        iframe.src = dataUrl;
        targetElement.appendChild(iframe);
      });
    },
  },

  async mounted() {
    await this.getAgentDetails(this.$route.params.id);
    if (!this.error) {
      this.generatePDF();
      return;
    }
    this.toast(
      "Ошибка",
      "Ошибка при загрузке данных агента. Обратитесь к администрации",
      "danger"
    );
  },
  computed: {
    ...AdminBuchMapper.mapState(["agentDetails", "error"]),
    toDate() {
      return null;
    },
    fromDate() {
      return null;
    },

    doc() {
      return {
        pageSize: "A4",
        pageOrientation: "landscape",
        content: [
          {
            text: "Акт сверки",
            style: "header",
          },
          {
            text: `Взаимных расчетов за период:${
              this.$route.query.from
                ? " от " + moment(this.$route.query.from).format("DD.MM.YYYY")
                : ""
            } ${
              this.$route.query.to
                ? " до " + moment(this.$route.query.to).format("DD.MM.YYYY")
                : " "
            }${
              !this.$route.query.from && !this.$route.query.to
                ? " от " +
                  moment(this.agentDetails.user.date_joined).format(
                    "DD.MM.YYYY"
                  )
                : ""
            }`,
            style: "subheader",
          },
          {
            text: 'между ООО "ПинКод" (ИНН 5024190208)',
            style: "subheader",
          },
          {
            text: `и ${this.agentDetails.user.surName} ${this.agentDetails.user.name} ${this.agentDetails.user.patronymic} (ИНН ${this.agentDetails.inn})`,
            style: "subheader",
          },
          {
            text: `по договору Договор субаренды №${
              this.agentDetails.id
            } от ${moment(this.agentDetails.user.date_joined).format(
              "DD.MM.YYYY"
            )}`,
            style: "subheader",
          },
          {
            text: "",
            style: "text",
          },
          {
            text: `Мы, нижеподписавшиеся, Генеральный директор ООО "ПинКод" Николахина Ольга Юрьевна, с одной стороны и ${this.agentDetails.user.surName} ${this.agentDetails.user.name} ${this.agentDetails.user.patronymic}, с другой стороны, составили настоящий акт сверки в том, что состояние взаимных расчетов по данным учета следующее:`,
            style: "text",
          },
          {
            table: {
              style: "table",
              widths: ["*", "*", "*", "*", "*", "*", "*", "*"],
              body: [
                [
                  {
                    text: 'По данным ООО "ПинКод", руб.',
                    colSpan: 4,
                  },
                  "",
                  "",
                  "",
                  {
                    text: `По данным ${this.agentDetails.user.surName} ${this.agentDetails.user.name} ${this.agentDetails.user.patronymic}, руб.`,
                    colSpan: 4,
                  },

                  "",
                  "",
                  "",
                ],
                [
                  {
                    text: "Дата",
                    alignment: "center",
                  },
                  {
                    text: "Документ",
                    alignment: "center",
                  },
                  {
                    text: "Дебет",
                    alignment: "center",
                  },
                  {
                    text: "Кредит",
                    alignment: "center",
                  },
                  {
                    text: "Дата",
                    alignment: "center",
                  },
                  {
                    text: "Документ",
                    alignment: "center",
                  },
                  {
                    text: "Дебет",
                    alignment: "center",
                  },
                  {
                    text: "Кредит",
                    alignment: "center",
                  },
                ],
                [
                  {
                    text: "Сальдо начальное",
                    style: "bold",
                    colSpan: 2,
                  },
                  "",
                  "",
                  "",
                  {
                    text: "Сальдо начальное",
                    style: "bold",
                    colSpan: 2,
                  },
                  "",
                  "",
                  "",
                ],
                // [
                //   "31.10.20",
                //   "Приход (5 от 31.10.2020)",
                //   "",
                //   {
                //     text: "10 000,00",
                //     alignment: "right",
                //   },
                //   "31.10.20",
                //   "Продажа (5 от 31.10.2020)",
                //   {
                //     text: "10 000,00",
                //     alignment: "right",
                //   },
                //   "",
                // ],
                // [
                //   "21.12.20",
                //   "Оплата (398 от 21.12.2020)",
                //   {
                //     text: "10 000,00",
                //     alignment: "right",
                //   },
                //   "",
                //   "21.12.20",
                //   "Оплата (398 от 21.12.2020)",
                //   "",
                //   {
                //     text: "10 000,00",
                //     alignment: "right",
                //   },
                // ],
                [
                  {
                    text: "Обороты за период",
                    colSpan: 2,
                    style: "bold",
                  },
                  "",
                  {
                    text: "0,00",
                    style: "bold",
                    alignment: "right",
                  },
                  {
                    text: "0,00",
                    alignment: "right",
                    style: "bold",
                  },
                  {
                    text: "Обороты за период",
                    colSpan: 2,
                    style: "bold",
                  },
                  "",
                  {
                    text: "0,00",
                    style: "bold",
                    alignment: "right",
                  },
                  {
                    text: "0,00",
                    style: "bold",
                    alignment: "right",
                  },
                ],
                [
                  {
                    text: "Сальдо конечное",
                    colSpan: 2,
                    style: "bold",
                  },
                  "",
                  "",
                  "",
                  {
                    text: "Сальдо конечное",
                    colSpan: 2,
                    style: "bold",
                  },
                  "",
                  "",
                  "",
                ],
              ],
            },
          },
          " ",
          {
            columns: [
              {
                text: 'По данным ООО "ПинКод"',
                alignment: "left",
              },
              {
                text: `По данным ${this.agentDetails.user.surName} ${this.agentDetails.user.name} ${this.agentDetails.user.patronymic}, руб.`,
                alignment: "left",
              },
            ],
          },
          {
            columns: [
              {
                text: `На ${moment(this.$route.query.to ?? new Date()).format(
                  "DD.MM.YYYY"
                )} задолженность отсутствует`,
                alignment: "left",
                style: "bold",
              },
              {
                text: `На ${moment(this.$route.query.to ?? new Date()).format(
                  "DD.MM.YYYY"
                )} задолженность отсутствует`,
                alignment: "left",
                style: "bold",
              },
            ],
          },
          {
            columns: [
              {
                text: " ",
                alignment: "left",
                style: "bold",
              },
              {
                text: " ",
                alignment: "left",
                style: "bold",
              },
            ],
          },
          {
            columns: [
              {
                text: 'От ООО "ПинКод"',
                alignment: "left",
              },
              {
                text: `От ${this.agentDetails.user.surName} ${this.agentDetails.user.name} ${this.agentDetails.user.patronymic}`,
                alignment: "left",
              },
            ],
          },
          {
            columns: [
              {
                text: " ",
                alignment: "left",
                style: "bold",
              },
              {
                text: " ",
                alignment: "left",
                style: "bold",
              },
            ],
          },
          {
            columns: [
              {
                text: "Генеральный директор",
                alignment: "left",
              },
              {
                text: `${this.agentDetails.user.surName} ${this.agentDetails.user.name} ${this.agentDetails.user.patronymic}`,
                alignment: "left",
              },
            ],
          },
          {
            columns: [
              {
                text: " ",
                alignment: "left",
                style: "bold",
              },
              {
                text: " ",
                alignment: "left",
                style: "bold",
              },
            ],
          },
          {
            columns: [
              {
                text: "_____________________________ (Николахина О. Ю.)",
                alignment: "left",
              },
              {
                text: `_____________________________ (${
                  this.agentDetails.user.surName
                } ${this.agentDetails.user.name.split("")[0]}. ${
                  this.agentDetails.user.patronymic.split("")[0]
                }.)`,
                alignment: "left",
              },
            ],
          },
          {
            columns: [
              {
                text: "М.П.",
                alignment: "left",
              },
              {
                text: "М.П.",
                alignment: "left",
              },
            ],
          },
        ],
        styles: {
          header: {
            alignment: "center",
            fontSize: 14,
            bold: true,
            margin: [0, 0, 0, 10],
          },
          subheader: {
            alignment: "center",
            fontSize: 10,
            margin: [0, 0, 0, 5],
          },
          text: {
            alignment: "justify",
            fontSize: 10,
            margin: [0, 0, 0, 5],
          },
          bold: {
            bold: true,
          },
          table: {
            margin: [0, 5, 0, 15],
          },
        },
        defaultStyle: {
          alignment: "justify",
        },
      };
    },
  },
};
</script>

<style>
</style>