<template>
  <section>
    <!-- <PageTopMenu /> -->
    <Header @logout="logOut" :user="me"/>
    <div class="container-fluid paddings relative-block">
      <div class="row w-100 m-0 row-tale-bg">
        <div class="col-side-menu height-tale-side-panel p-0">
         <SidePanel :items="sidePanelItems" @logout="logOut" img="exit-child.png"/>
        </div>
        <div class="col-content p-0 bg-tale-content">
          <router-view></router-view>
        </div>
      </div>
    </div>
    <!-- <img
      src="@/assets/img/background/hello-fox.png"
      class="fox-lil-bg-image1 no-select"
    /> -->
    <ModalDoNextWork />
    <ModalCoins />
    <ModalTerm />
    <ModalIdea />
  </section>
</template>

// <script>
// import PageTopMenu from "@/components/tales/tale1/PageTopMenu.vue";
import Header from "@/components/main/header/Header.vue";

import SidePanel from "@/components/main/SidePanel.vue";
// import SideMenu from "@/components/tales/global/menu/SideMenu.vue";

import ModalIdea from "@/components/tales/tale1/modals/ModalIdea.vue";
import ModalDoNextWork from "@/components/tales/tale1/modals/ModalDoNextWork.vue";
import ModalCoins from "@/components/tales/tale1/modals/ModalCoins.vue";
import ModalTerm from "@/components/tales/tale1/modals/ModalTerm.vue";
export default {
  //  PageTopMenu,
  // SideMenu
  components: {
    Header,
    SidePanel,
    ModalDoNextWork,
    ModalCoins,
    ModalTerm,
    ModalIdea,
  },
  name: "Tale1",
  data() {
    return {
      sidePanelItems: [
        {
          id: 1,
            img: "child-personal-page.png",
          linkName: "child-tales",          
          exact: true,
          // hide: true,          
        },
        {
          id: 2,
            img: "dictionary-child.png",
          linkName: "child-dictionary",          
          disabled: true
        },
        {
          id: 3,
            img: "notebook-child.png",
          linkName: "child-notebook",          
        },
         {
          id: 4,
            img: "profile-child.png",
          linkName: "child-profile",
        },         
      ],
    };
  },
  computed: {
    ...UserMapper.mapState(["error", "me"]),
  },
  methods: {
    ...UserMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "main-login" });
      } else {
        this.errorToast(this.error);
      }
    },
  },
};
</script>


<style>
@import "../../../assets/css/tale/default.css";
@import "../../../assets/css/tale/css-reset.css";
@import "../../../assets/css/tale/content.css";
@import "../../../assets/css/tale/background.css";
@import "../../../assets/fonts/Montserrat/stylesheet.css";
@import "../../../assets/fonts/gilroy/stylesheet.css";

body {
  background: #71c9e4;
  font-family: Montserrat;
  font-style: normal;
  overflow-x: hidden;
}
.bg-tale-content {
  background: #ffffff;
  /* border-radius: 10px; */
  /* height: 80vh; */
  height: calc(100vh - 60px);
}
.height-tale-side-panel {
  height: calc(100vh - 60px);
}
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.5s;
  transition-property: opacity;
  transition-timing-function: ease;
}
.fade-enter,
.fade-leave-active {
  opacity: 0;
}
.col-side-menu {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-content {
  flex: 0 0 91.666667%;
  max-width: 91.666667%;
}
.paddings {
  padding-left: 0;
}
.row-tale-bg {
  background: #71c9e4;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .col-side-menu {
    display: none;
  }
  .paddings {
    padding: 0;
  }
  .bg-tale-content {
    height: 90vh;
    border-radius: 0px;
  }
  .row-tale-bg {
    background: #fff;
  }
  .col-content {
    flex: 0 0 100%;
    max-width: 100%;
    height: calc(100vh - 85px);
  }
}
</style>