<template>
  <section id="dataChangin" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row pt-2">
        <div class="col">
          <a
            href="#"
            @click.prevent="$router.go(-1)"
            class="my-auto breadcrumb-text"
            >Администрирование системы</a
          >
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Изменение расчетных данных</p>
        </div>
      </div>
    </div>

    <div
      class="contaiter-fluid agent-container mx-3 mr-4 pt-1 pb-4"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <hr class="hr-invisible m-0" />

      <div style="padding-left: 2.5rem" class="div w-100">
        <p class="label-pay-inputs pt-4 my-1">Оплата Контрагентам:</p>

        <div class="row admin-inputs mt-3 mb-2">
          <p class="pay-text my-auto">Стоимость ЛК offline:</p>
          <input v-model="data.kagent_LK_cost" type="number" />
        </div>
        <div class="row admin-inputs mt-3 mb-2">
          <p class="pay-text my-auto">Стоимость ЛК online:</p>
          <input v-model="data.kagent_LK_cost" type="number" />
        </div>
        <div class="row admin-inputs mb-2">
          <p class="pay-text my-auto">Процент франчайзи online:</p>
          <input v-model="data.kagent_franch_online_procent" type="number" />
        </div>
        <div class="row admin-inputs mb-2">
          <p class="pay-text my-auto">Процент франчайзи offline:</p>
          <input v-model="data.kagent_franch_offline_procent" type="number" />
        </div>
        <div class="row admin-inputs mb-2">
          <p class="pay-text my-auto">Процент Агента:</p>
          <input v-model="data.kagent_procent" type="number" />
        </div>

        <p class="label-pay-inputs pt-4 my-1">Оплата Менторам:</p>

        <div class="row admin-inputs mt-3 mb-2">
          <p class="pay-text my-auto">Оплата ментору за ЛК online:</p>
          <input v-model="data.mentor_LK_online" type="number" />
        </div>
        <div class="row admin-inputs mb-2">
          <p class="pay-text my-auto">Оплата ментору за ЛК offline:</p>
          <input v-model="data.mentor_LK_offline" type="number" />
        </div>
        <div class="row admin-inputs mb-2">
          <p class="pay-text my-auto">Процент ментору за тренинг:</p>
          <input v-model="data.mentor_coach_procent" type="number" />
        </div>

        <div class="row admin-inputs mt-5 pb-4">
          <button class="btn-admin-support py-1" @click.prevent="dataChange()">
            Изменить данные
          </button>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { AdminMapper } from "@/store/admin";
export default {
  name: "AdminDataChanging",

  data() {
    return {
      data: {
        kagent_LK_cost: 0,
        kagent_franch_online_procent: 0,
        kagent_franch_offline_procent: 0,
        kagent_procent: 0,
        mentor_LK_online: 0,
        mentor_LK_offline: 0,
        mentor_coach_procent: 0,
      },
    };
  },
  methods: {
    ...AdminMapper.mapActions(["getCalcData", "patchCalcData"]),
    async dataChange() {
      await this.patchCalcData(this.data);
      if (!this.error) {
        this.data = this.calcData;
      }
    },
  },
  computed: {
    ...AdminMapper.mapState(["calcData", "error"]),
  },

  async mounted() {
    await this.getCalcData();
    if (!this.error) {
      this.data = this.calcData;
    }
  },
};
</script>

<style>
.header-admin {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #2b2a29;
}
.label-pay-inputs {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.pay-text {
  color: #2b2a29;
  width: 270px;
}

.admin-inputs > input {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  width: 100px;
  height: 30px;
  transition: 0.5s ease;
  font-size: 16px;
  border-radius: 5px;
}

.admin-inputs > input:focus {
  border: 0.5px solid #1d1c1c;
  outline: none;
}

.btn-admin-support {
  height: 35px;
  width: 200px;
  border-radius: 25px;
  background: #00000000;
  border: 1.5px solid #9276e4;
  transition: 0.5s ease;

  font-size: 14px;
  color: #2b2a29;
}
.btn-admin-support:hover {
  background: #9276e4;
  border: 1.5px solid #9276e4;
  box-shadow: 0px 0px 15px #00000030;
  color: #fefefe;
}
.btn-admin-support:active {
  transform: scale(1.05);
}
</style>