<template>
  <section
    id="admin-support"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row pt-2">
        <div class="col">
          <a
            href="#"
            @click.prevent="$router.go(-1)"
            class="my-auto breadcrumb-text"
            >Администрирование системы</a
          >
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">{{ theme.name }}</p>
        </div>
      </div>
      <div class="row mt-2 no-select">
        <div class="col my-auto">
          <a href="#" class="admin-support-link m-0">{{ theme.creator }}</a>
        </div>
      </div>
    </div>

    <div
      class="contaiter-fluid agent-container py-4 mx-3 mr-4 mt-3"
      style="min-height: 400px"
    >
      <hr class="invisible" />
      <!-- <div class="row mt-2 mb-2 pl-4">
        <div class="col"><h6>Написать администратору</h6></div>
      </div> -->
      <form class="pl-4" id="formSupport">
        <div class="row row-support">
          <div class="col admin-inputs">
            {{ theme.name }}
          </div>
        </div>
        <div class="row row-support mt-1">
          <div class="col admin-inputs">
            <textarea
              id="message"
              name="text"
              v-model="item.text"
              placeholder="Текст сообщения"
              class="message-input"
            />
          </div>
        </div>
        <div class="row row-support mt-3">
          <div class="col text-right">
            <button
              class="btn-admin-support py-1"
              @click.prevent="dataChange()"
            >
              Отправить сообщение
            </button>
          </div>
        </div>
      </form>
    </div>
    <div
      class="contaiter-fluid agent-container mx-3 mr-4 pt-1 pb-4"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <div ref="tableStart" class="row w-100">
        <transition name="fade">
          <b-table
            hover
            fixed
            id="agent-message-table"
            :items="items"
            :fields="fields"
            :total-rows="rows"
            :per-page="perPage"
            :current-page="currentPage"
          ></b-table>
        </transition>
      </div>
      <div class="row mt-3 justify-content-center">
        <b-pagination
          v-if="rows > 1"
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          @page-click="scrolltoTop"
          aria-controls="agent-message-table"
        ></b-pagination>
      </div>
    </div>
  </section>
</template>

<script>
import toast from "@/mixins/toast";
import { SupportMapper } from "@/store/support";
import { UserMapper } from "@/store/user";

import moment from "moment";

export default {
  name: "AdminSupport",
  data() {
    return {
      item: {
        isActive: false,
        support_theme: "",
        sendedAt: moment().format("YYYY-MM-DD"),
        status: "Вопрос",
        text: "",
      },

      perPage: 10,
      currentPage: 1,
      fields: [
        {
          key: "id",
          label: "№",
          class: "support-status",
          sortable: false,
        },

        {
          key: "status",
          label: "Статус",
          class: "support-theme",
          sortable: false,
        },

        {
          key: "support_theme",
          label: "Тема",
          class: "support-message",
          sortable: false,
        },

        {
          key: "text",
          label: "Сообщение",
          class: "support-message",
          sortable: false,
        },
        {
          key: "sendedAt",
          label: "Дата",
          class: "support-date",
          sortable: true,
        },
      ],
      // nameAccount: this.adminSupportItem.account.name,
    };
  },
  computed: {
    rows() {
      return this.items.length;
    },

    disabled() {
      const fill = Object.entries(this.item)
        .filter((i) => ![false, "", null].includes(i[1]))
        .filter((i) => !["isActive", "sendedAt", "status"].includes(i[0]));

      return fill.length < 2;
    },
    ...SupportMapper.mapState(["adminSupportTheme", "error"]),
    ...UserMapper.mapState(["token", "me"]),
    theme() {
      return {
        name: this.adminSupportTheme.name,
        creator: this.adminSupportTheme.creator_name,
      };
    },
    items() {
      return this.adminSupportTheme.map((msg, i) => {
        let item = {
          id: i + 1,
          user: msg.theme.creator,
          theme_id: msg.theme.id,
          status: msg.theme.status,
          support_theme: msg.theme.name,
          sendedAt: moment(msg.sendedAt).format("DD.MM.YYYY"),
          text: msg.text,
          name: msg.theme.creator_name,
        };

        return item;
      });
    },
  },
  methods: {
    scrolltoTop() {
      this.$refs.tableStart.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },

    ...SupportMapper.mapActions([
      "sendSupport",
      "getAdminSupportTheme",
      "getSupport",
      "sendAdminSupport",
    ]),

    toast,

    async dataChange() {
      await this.sendAdminSupport({
        id: this.$route.params.id,
        data: {
          text: this.item.text,
          sender: this.me.id,
        },
      });
      // await this.sendSupport({ payload: this.item,  });
      if (!this.error) {
        await this.getAdminSupportTheme(this.$route.params.id);
        this.items = this.support;
        this.item.text = "";
        this.item.support_theme = "";
        this.toast("Изменения приняты", "Сообщение отправлено", "success");
      } else {
        console.log(this.error);
      }
    },
  },

  async mounted() {
    await this.getAdminSupportTheme(this.$route.params.id);
  },
};
</script>

<style>
.header-admin {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #2b2a29;
}
.admin-inputs > input,
.admin-inputs > textarea {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s ease;
  margin: 1vh 0;
  font-size: 16px;
  border-radius: 5px;
}

.admin-inputs > input:focus {
  border: 0.5px solid #1d1c1c;
  outline: none;
}
.admin-inputs > textarea {
  min-height: 20vh;
  width: 100%;
}
.admin-inputs > textarea:focus {
  border: 0.5px solid #1d1c1c;
  outline: none;
}

.admin-inputs > input {
  width: 90%;
}
.theme-input {
  width: 380px !important;
  height: 30px;
}
.message-input {
  width: 600px !important;
  min-height: 165px !important;
}
.page-item {
  transition: 0.5s;
}
.page-link {
  color: rgb(0, 0, 0);
}
.width-support {
  background: #249ddd;
  border-radius: 23px;
  color: #ffffff;
  height: 35px;
  width: 200px;
  font-size: 14px;
  padding: 0;
}
td.support-message {
  font-size: 13px;

  font-weight: 400;
  line-height: 16px;
  color: #2b2a29;
}
.support-date {
  width: 15%;
  text-align: center;
}
.support-status {
  padding-left: 2.5rem !important;
  width: 30%;
  text-align: left;
}
.support-theme {
  width: 15%;
  text-align: left;
  padding-left: 40px !important;
}
th {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #4a4a4a;
}
.page-item.active .page-link {
  color: rgb(0, 0, 0);
  background-color: rgba(201, 201, 201, 0.54);
  border-color: rgb(201, 201, 201);
}

/* @media (min-width: 1441px) and (min-height: 850px) {
  .admin-inputs > input,
  .admin-inputs > textarea {
    margin: 1vh 0;
    font-size: 1rem;
  }
} */

.btn-admin-support {
  height: 35px;
  width: 200px;
  border-radius: 25px;
  background: #9276e4;
  border: none;
  transition: 0.5s ease;

  font-size: 14px;
  color: #ffffff;
}
.btn-admin-support:hover {
  box-shadow: 0px 0px 15px #00000030;
}
.btn-admin-support:focus,
.btn-admin-support:active {
  transform: scale(1.05);
}

thead {
  border-bottom: 1.5px solid #efefef;
}
.row-support {
  width: 630px;
}

.admin-support-link {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #2c61bf;
}
.admin-support-link:hover {
  text-decoration: underline;
  color: #0091ff;
}
</style>