<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-23"
      title="Fox Биржа"
      subtitle="Изучаем профессии"
      iconclass="icon-header-number"
      white_text_1="РАЗВИВАЕМ НАВЫКИ"
      white_text_2="ПРОФ ОРИЕНТАЦИИ"
      :number="16"
      voiceText="Сейчас ты познакомишься с новыми профессиями. Слушай внимательно!"
    />
    <div
      class="
        full-height
        blue-bg
        bottom-radius
        shadow-body
        container-fluid
        row
        justify-content-center
        align-items-center
        animate__animated animate__fadeIn
        no-select
      "
    >
      <SideRightMenu
        :coinsTarget="currentTask.target"
        :coins="currentTask.coins"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        :high_mentor="true"
      />

      <hr class="hr-invisible py-3 m-0" />

      <div class="wrap-slides opacity-zero border30">
        <div
          class="row w-100 justify-content-center"
          :style="{ pointerEvents: instructionEnd ? 'auto' : 'none' }"
        >
          <Card
            v-for="card in cards"
            :key="card.id"
            :card="card"
            @open="card.open = !card.open"
            @sound="playCardSound"
          />
        </div>
      </div>
      <ButtonNext show link="ready" class="white-next-btn-bg" />
    </div>
  </section>
</template>

<script>
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import Card from "@/components/tales/tale1/pages/page16/Card.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Page16",
  components: { TopMenu, SideRightMenu, Card, ButtonNext },
  data() {
    return {
      instructionEnd: false,
      pageIsSucceed: false,
      currentTask: {},
      cardAudio: new Audio(),
      cards: [
        {
          id: 1,
          img_card: "img/tale_charapters/page-41-ver/housekeeper.png",
          img_class: "mt-3",
          name_card: "Экономка",
          id_sound: "game-2-2-sound1",
          id_arrow: "game-2-2-arrow1",
          descr_text:
            "Специалист, который отвечает за уют в доме и помогает всем",
          open: false,
        },
        {
          id: 2,
          img_card: "img/tale_charapters/page-41-ver/gardener.png",
          img_class: "mt-3",
          name_card: "Садовник",
          id_sound: "game-2-2-sound2",
          id_arrow: "game-2-2-arrow2",
          descr_text: "Специалист, который следит за садом и цветами",
          open: false,
        },
        {
          id: 3,
          img_card: "img/tale_charapters/page-41-ver/cleaner.png",
          img_class: "mt-3",
          name_card: "Уборщик",
          id_sound: "game-2-2-sound3",
          id_arrow: "game-2-2-arrow3",
          descr_text: "Специалист, который убирает дом и поддерживает чистоту",
          open: false,
        },
        {
          id: 4,
          img_card: "img/tale_charapters/page-41-ver/babysitter.png",
          img_class: "babysitter-margin",
          name_card: "Няня",
          id_sound: "game-2-2-sound4",
          id_arrow: "game-2-2-arrow4",
          descr_text: "Специалист, который ухаживает за чужими детьми",
          open: false,
        },
        {
          id: 5,
          img_card: "img/tale_charapters/page-41-ver/cooker.png",
          img_class: "mt-3",
          name_card: "Повар",
          id_sound: "game-2-2-sound5",
          id_arrow: "game-2-2-arrow5",
          descr_text: "Специалист, который готовит блюда и следит за едой",
          open: false,
        },
      ],
      audioSet: [
        new Audio(require("@/assets/sounds/app-voice/page16/32.1.mp3")),
        new Audio(require("@/assets/sounds/app-voice/page16/32.2.mp3")),
        new Audio(require("@/assets/sounds/app-voice/page16/32.3.mp3")),
        new Audio(require("@/assets/sounds/app-voice/page16/32.4.mp3")),
        new Audio(require("@/assets/sounds/app-voice/page16/32.5.mp3")),
      ],
    };
  },
  computed: {
    ...PlayerMapper.mapState(["audio", "rightAudio"]),
    ...TaleMapper.mapState(["tale"]),
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio", "setRightAudio"]),
    ...PlayerMapper.mapActions([
      "playTopAudio",
      "playRightAudio",
      "stopAllAudio",
    ]),
    ...TaleMapper.mapActions(["getTasks"]),
    playCardSound(number) {
      this.stopAllAudio();
      this.setRightAudio(
        new Audio(require(`@/assets/sounds/app-voice/page16/32.${number}.mp3`))
      );
      this.playRightAudio();
    },
    updateCarousel(payload) {
      this.myCarouselData = payload.currentSlide;
    },
    playRolesAudio(index) {
      if (!this.audioSet[index]) {
        this.cards.forEach((card) => (card.open = false));
        this.instructionEnd = true;
        return;
      }
      this.playCardSound(index + 1);
      this.cards.forEach((card) => (card.open = false));
      this.cards[index].open = true;

      this.rightAudio.onended = () => {
        this.playRolesAudio(++index);
      };
    },
  },
  async mounted() {
    let getElems = (name) => {
      return document.querySelectorAll(name);
    };
    getElems(".wrap-slides").forEach(function (item) {
      setTimeout(function () {
        item.classList.remove("opacity-zero");
      }, 700);
    });
    for (let z = -1; z < 4; z) {
      setTimeout(function () {
        getElems(".card-section")[z].classList.add("translate-anim-left");
      }, 150 * ++z);
    }
    let tasks = await this.getTasks(this.tale.id);
    this.currentTask = await tasks.find((task) => task.page == 16);
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page16/32.mp3"))
    );

    this.playTopAudio();
    this.audio.onended = () => {
      if (!this.instructionEnd) {
        this.playRolesAudio(0);
      }
    };
  },
  beforeRouteLeave(_, __, next) {
    this.stopAllAudio();

    next();
    _;
    __;
  },
};
</script>

<style  scoped>
.wrap-height {
  margin-top: unset;
  min-height: 610px;
}
.full-height {
  height: calc(100% - 60px);
}

.wrap-slides {
  margin-top: -100px;
  width: 100%;
  height: 80%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
}
.card-text-fe {
  font-weight: 600;
  font-size: 17px;
  line-height: 20px;
  color: #2b2a29;
}
.fe-icon-close {
  width: 40px;
  height: 40px;
  top: -20px;
  left: calc(50% - 20px);

  border: 1px solid #c5c5c5;
  border-radius: 100%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .full-height {
    overflow-y: auto;
  }
  .wrap-slides {
    margin-top: -15px;
  }
}
</style>