<template>
  <section class="h-100" style="position: relative">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page27.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      id="top-page-menu-36"
      title="Let's talk"
      subtitle="Давай поговорим"
      white_text_1="РАЗВИВАЕМ"
      white_text_2="АНАЛИТИЧЕСКОЕ МЫШЛЕНИЕ"
      :number="27"
      voiceText="Поздравляю, теперь ты знаешь, что такое домашние дела, я хочу задать тебе несколько вопросов."
    />
    <!-- Класс yellow-bg ставится на выполненное ребенком задание -->

    <section
      v-show="!videoPlay"
      class="no-select full-height white-bg bottom-radius shadow-body"
      style="overflow-y: auto"
    >
      <SideRightMenu
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        :questPage="27"
        light
      />
      <div class="task-wrap">
        <TalkTask
          v-for="question in questions"
          :key="question.id"
          :img="question.img"
          :text="question.text"
          :number="question.id"
          :answer="question.answer"
          :success="question.success"
          :disable="question.disable"
          @success="setSuccess"
          :open="question.open"
          :extend="question.extend"
          @open="openCard"
          @sound="playSound"
        />
      </div>

      <ButtonNext show link="28" class="white-next-btn-bg" />
    </section>
  </section>
</template>

<script>
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import TalkTask from "@/components/tales/tale1/pages/page27/TalkTask.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Page27",
  components: { TopMenu, SideRightMenu, TalkTask, ButtonNext },
  data: function () {
    return {
      pageIsSucceed: false,
      videoPlay: true,
      questions: [
        {
          id: 1,
          text: "Какая бизнес-идея у тебя родилась?",
          success: false,
          disable: false,
          img: "business-idea",
          open: false,
          extend: "",
          answer: null,
        },
        {
          id: 2,
          text: "Что нового ты узнал?",
          success: false,
          disable: false,
          img: "new-knowledge",
          open: false,
          extend: "",
          answer: null,
        },
        {
          id: 3,
          text: "Чем ты можешь поделиться с другими?",
          success: false,
          disable: false,
          img: "share",
          open: false,
          extend: "",
          answer: null,
        },
        {
          id: 4,
          text: "Что бы ты хотел изменить или добавить в наши задания?",
          success: false,
          disable: false,
          img: "add-new",
          open: false,
          extend: "",
          answer: null,
        },
      ],
      showButton: false,
      voices: [],
      taskAudio: new Audio(),
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
  },
  methods: {
    playSound(number) {
      this.stopAllAudio();
      this.setRightAudionew(
        new Audio(require(`@/assets/sounds/app-voice/page27/90.${number}.mp3`))
      );
      this.playRightAudio();
    },
    ...PlayerMapper.mapMutations(["setAudio", "setRightAudio"]),
    ...PlayerMapper.mapActions(["stopAllAudio", "playRightAudio"]),
    openCard(open, id) {
      this.questions[id - 1].open = open;
      if (this.questions[id]) {
        open && !this.questions[id].open
          ? (this.questions[id].extend = "big")
          : !open && this.questions[id].open
          ? (this.questions[id].extend = "small")
          : (this.questions[id].extend = "");
      }

      if (this.questions[id - 2]) {
        open && !this.questions[id - 2].open
          ? (this.questions[id - 1].extend = "small")
          : !open && this.questions[id - 2].open
          ? (this.questions[id - 1].extend = "big")
          : (this.questions[id - 1].extend = "");
      }
    },
    ...TaleMapper.mapActions([
      "patchTale",
      "getTale",
      "patchTask",
      "patchAnswer",
      "patchFormAnswer",
    ]),
    async setSuccess(success, id, file) {
      this.questions[id - 1].success = success;
      if (success) {
        this.questions[id]
          ? (this.questions[id].disable = false)
          : (this.pageIsSucceed = true);
        let answerData = new FormData();
        if (file.name) {
          answerData.append("answer", file);
        } else {
          answerData.append("answer", file, "answer.wav");
        }
        await this.patchFormAnswer({
          id: this.currentTask.answers[id - 1].id,
          data: answerData,
        });
      } else {
        await this.patchAnswer({
          id: this.currentTask.answers[id - 1].id,
          data: { answer: null },
        });
      }
    },
    initialAudio() {
      this.setAudio(
        new Audio(require("@/assets/sounds/app-voice/page27/90.mp3"))
      );
    },
    initialAnimation() {
      let getElems = (name) => {
        return document.querySelectorAll(name);
      };
      document
        .querySelectorAll(".question-row")
        .forEach(function (item, index) {
          setTimeout(function () {
            item.style.opacity = 1;
          }, 100 * index);
        });
      if (screen.width < 1440) {
        for (let z = -1; z < 3; z) {
          setTimeout(function () {
            getElems(".arrow-btn")[z].classList.add("opacity-anim");
            getElems(".sound-btn")[z].classList.add("opacity-anim");
            // document.querySelectorAll('.card-text')[z].classList.add('text-anim')
            getElems(".question-card")[z].classList.add("cards-anim-ipad");
            getElems(".question-number")[z].classList.add("number-anim");
          }, 100 * ++z);
        }
      }
      if (screen.width >= 1440) {
        for (let z = -1; z < 3; z) {
          setTimeout(function () {
            getElems(".arrow-btn")[z].classList.add("opacity-anim");
            getElems(".sound-btn")[z].classList.add("opacity-anim");
            // document.querySelectorAll('.card-text')[z].classList.add('text-anim')
            getElems(".question-card")[z].classList.add("cards-anim");
            getElems(".question-number")[z].classList.add("number-anim");
          }, 100 * ++z);
        }
      }
      for (let z = 0; z < 4; ++z) {
        getElems(".question-card")[z].addEventListener("click", function () {
          document.querySelectorAll(".fucking-anim")[z].style.animation =
            "none";
          setTimeout(function () {
            document.querySelectorAll(".fucking-anim")[z].style.animation = "";
          }, 10);
          // document.querySelectorAll('.fucking-anim')[z].style.animationPlayState = 'running'
        });
      }
    },
  },
  async mounted() {
    await this.getTale(this.tale.id);
    this.initialAudio();
    this.initialAnimation();
    this.currentTask = this.tale.tasks.find((task) => task.page == 27);
    this.currentTask.answers.forEach(({ answer }, i) => {
      if (answer) {
        this.questions[i].answer = answer;
        this.questions[i].success = true;
      }
    });
  },
};
</script>

<style scoped>
.task-wrap {
  width: 1150px;

  height: fit-content;
  /* min-height: 100%; */
  margin-top: 50px;
  margin-bottom: 30px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin-left: 57px;
  margin-right: auto;
}
/* .task-lt-text {
  font-size: 15px;
  line-height: 16px;
  font-weight: 600;
  color: #2b2a29;
}
.talk-numbers {
  height: 140px;
}
.row-talk {
  height: 140px;
  border-radius: 25px;
  border: 2px solid #d9d9d9;
  transition: 1s ease;
}
.btn-talk-button {
  height: 40px;
  border-radius: 50px;
  border: 2px solid #9c9c9b;

  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #9c9c9b;
}
.answer {
  background: #99ceac;
  border: 2px solid #99ceac;
  color: #ffffff;
}
.btn-talk-button:hover {
  box-shadow: 0px 0px 5px #00000050;
}
.btn-talk-button:focus {
  border: 2px solid #2b2a2950;
  box-shadow: 0px 0px 10px #00000050;
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  /* .full-height {
    height: 85.7vh !important;
    border-radius: 0;
  } */
  .full-height {
    /* height: 85.7vh; */
    height: calc(100vh - 145px);
    border-radius: 0;
  }
  .task-wrap {
    margin: auto;
    margin-top: 100px;
    width: 565px;

    justify-content: flex-start;
    overflow-y: scroll;

    min-height: unset;
  }
}
</style>
