<template>
  <section class="h-100" style="position: relative">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page11.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      id="top-page-menu-18"
      title="Family Interview"
      subtitle="Проведи интервью"
      white_text_1="РАЗВИВАЕМ"
      white_text_2="КОММУНИКАЦИОННЫЙ НАВЫК"
      :number="11"
      voiceText="Ты приступаешь к выполнению следущего задания «FAMILY INTERVIEW» Твоя задача взять интервью у 3 человек: это могут быть мама/папа; бабушка/дедушка или твоя друзья. За каждое интервью ты получаешь по 5 фоксов. Если возьмешь 3 интервью получишь 15 фоксов. "
    />
    <section
      v-show="!videoPlay"
      class="
        interview-section
        no-select
        full-height
        white-bg
        bottom-radius
        shadow-body
      "
      style="display: flex; overflow-y: auto"
    >
      <SideRightMenu
        :sendToMentorActive="sendToMentorActive"
        :coinsTarget="currentTask.target"
        :coins="currentTask.coins"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        :questPage="currentTask.page"
        @send="sendToMentor"
        :light="true"
        :high_mentor="true"
        @path="saveWork"
        @tale="saveWork"
      />

      <div v-show="isFmPicked == false" class="wrap-pick-members">
        <p>Задай вопросы разным людям</p>

        <FamilyMember
          v-for="members in family"
          :key="members.id"
          :members="members"
          @picked="pickFm"
        />

        <!-- <div class="row-members w-100">321</div>
        <div class="row-members w-100">123</div> -->
      </div>
      <div
        v-show="isFmPicked == true"
        class="wrap-interview opacity-anim-medium"
      >
        <div class="row-intervies-info">
          <!-- <img
            src="@/assets/img/icons/lesten_icon.png"
            alt=""
            class="h-75 ml-2"
          /> -->
          <p class="family-members ml-4">{{ currentFm.category }}</p>
          <img
            :src="
              require(`@/assets/img/family-interview/${currentFm.iconFm1}.png`)
            "
            alt=""
            class="h-75"
          />
          <img
            :src="
              require(`@/assets/img/family-interview/${currentFm.iconFm2}.png`)
            "
            alt=""
            class="h-75 mx-2"
          />
        </div>
        <InterviewCard
          :invert="question.id % 2 == 1"
          v-for="question in questions"
          :question="question"
          :key="question.id"
          :clear="clear"
          :fmMemberId="currentFm.number"
          @success="setSuccess"
          @isSuccess="
            question.success = true;
            question.disable = false;
            questions[question.id].disable = false;
          "
          :open="question.open"
          :extend="question.extend"
          @open="openCard"
          @sound="playAudio"
          :serverFile="question.serverFile"
        />
      </div>
      <ButtonNext :show="tale.pages > 11" link="12" />
      <transition
        ><Modal
          v-show="modalShow"
          @close="closeModal()"
          @sound="playModalSound"
          :left-btn="true"
          :right-btn-text="'Да'"
          :send="true"
          :rightBtnImgInvert="false"
          @accept="restart"
          @decline="sendToMentor"
      /></transition>
      <transition name="fade">
        <div
          class="overlay"
          @click="modalShow = false"
          v-show="modalShow"
        ></div>
      </transition>
      <!-- @close="closeTaleWindow" -->
    </section>
  </section>
</template>

<script>
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import Modal from "@/components/tales/tale1/pages/page11/Modal.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import FamilyMember from "@/components/tales/tale1/pages/page11/FamilyMember.vue";
import InterviewCard from "@/components/tales/tale1/pages/page11/InterviewCard.vue";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";

export default {
  name: "Page11",
  // InterviewSlide,
  components: {
    TopMenu,
    SideRightMenu,
    InterviewCard,
    FamilyMember,
    ButtonNext,
    Modal,
  },

  data() {
    return {
      videoPlay: true,
      show: 1,
      isFmPicked: false,
      sendToMentorActive: false,
      modalShow: false,
      clear: false,
      currentFm: {
        iconFm1: "father",
        iconFm2: "mother",
        iconFm1Class: "lil-father-img",
        iconFm2Class: "lil-mother-img",
        bigImage: "mom-dad-big",
        number: 1,
        showBig: false,
        category: "Родители",
        success: false,
      },
      family: [
        {
          iconFm1: "father",
          iconFm2: "mother",
          iconFm1Class: "lil-father-img",
          iconFm2Class: "lil-mother-img",
          bigImage: "mom-dad-big",
          number: 1,
          showBig: false,
          category: "Родители",
          success: false,
        },
        {
          iconFm1: "granny",
          iconFm2: "sister",
          iconFm1Class: "lil-granny-img",
          iconFm2Class: "lil-sister-img",
          bigImage: "granny-sis-big",
          number: 2,
          showBig: false,
          category: "Родственники",
          success: false,
        },
        {
          iconFm1: "pet1",
          iconFm2: "pet2",
          iconFm1Class: "lil-pet1-img",
          iconFm2Class: "lil-pet2-img",
          bigImage: "mom-dad-big",
          number: 3,
          showBig: false,
          category: "Друзья",
          success: false,
        },
      ],
      questions: [
        {
          id: 1,
          text: "Как ты думаешь, какие у тебя есть домашние дела? Расскажи о них. ",
          success: false,
          disable: false,
          img: "dust-sucker",
          open: false,
          extend: "",
          serverFile: "",
        },
        {
          id: 2,
          text: "Что тебе нравится выполнять, а что не нравится? Почему?",
          success: false,
          disable: true,
          img: "dishwashing",
          open: false,
          extend: "",
          serverFile: "",
        },
      ],
      currentTask: {},
      voices: {},
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale", "error"]),
    ...PlayerMapper.mapState(["audio"]),
  },
  methods: {
    // Audio methods
    ...PlayerMapper.mapMutations(["setAudio", "setRightAudio"]),
    ...PlayerMapper.mapActions(["playRightAudio", "stopAllAudio"]),
    playModalSound() {
      this.stopAllAudio();
      this.setRightAudio(
        new Audio(require(`@/assets/sounds/app-voice/page11/17.modal.mp3`))
      );
      this.playRightAudio();
    },
    playAudio(id) {
      this.stopAllAudio();
      this.setRightAudio(
        new Audio(
          require(`@/assets/sounds/app-voice/page11/17.question.${id}.mp3`)
        )
      );
      this.playRightAudio();
    },
    // Первый слайд
    // Выбор родственника
    pickFm(picked) {
      //* Выбор людей
      this.currentFm = picked;
      this.isFmPicked = true;
      let answers = this.currentTask.answers;
      let getNumbers = {
        1: [0, 1],
        2: [2, 3],
        3: [4, 5],
      };
      let secondQuestionNumber = {
        number1: 1,
        number2: 3,
        number3: 5,
      };
      if (answers.filter((answer) => answer.answer).length) {
        if (answers[secondQuestionNumber[`number${picked.number}`]]) {
          getNumbers[picked.number].forEach((number, i) => {
            this.questions[i].serverFile = answers[number].answer;
          });
        }
      }

      this.pickFmAudio(picked);
      this.pickFmAnimation();
    },
    pickFmAnimation() {
      let getElems = (name) => {
        return document.querySelectorAll(name);
      };
      getElems(".question-row").forEach(function (item, index) {
        setTimeout(function () {
          item.style.opacity = 1;
        }, 100 * index);
      });
      if (screen.width < 1440) {
        for (let z = -1; z < 2; z) {
          setTimeout(function () {
            getElems(".arrow-btn")[z].classList.add("opacity-anim");
            getElems(".sound-btn")[z].classList.add("opacity-anim");
            getElems(".card-img")[z].classList.add("text-anim");
            getElems(".card-text")[z].classList.add("text-anim");
            getElems(".question-card")[z].classList.add("cards-anim-ipad");
            getElems(".question-number")[z].classList.add("number-anim");
            document
              .querySelector(".menthor-anim")
              .addEventListener("animationend", () => {
                document.querySelectorAll(".question-row")[z].style.opacity = 1;
              });
          }, 100 * ++z);
        }
      }
      if (screen.width >= 1440) {
        document
          .querySelector(".row-intervies-info")
          .classList.add("interview-anim");
        for (let z = -1; z < 2; z) {
          setTimeout(function () {
            // getElems(".arrow-btn")[z].classList.add("opacity-anim");
            getElems(".sound-btn")[z].classList.add("opacity-anim");
            getElems(".card-img")[z].classList.add("text-anim");
            getElems(".card-text")[z].classList.add("text-anim");
            getElems(".question-card")[z].classList.add("cards-anim");
            getElems(".question-number")[z].classList.add("number-anim");
            document
              .querySelector(".menthor-anim")
              .addEventListener("animationend", () => {
                document.querySelectorAll(".question-row")[z].style.opacity = 1;
              });
          }, 100 * ++z);
        }
      }
    },
    pickFmAudio(picked) {
      this.stopAllAudio();
      this.setRightAudio(
        new Audio(
          require(`@/assets/sounds/app-voice/page11/17.${picked.number}.mp3`)
        )
      );
      this.playRightAudio();
    },
    // Делит строку и получает разрешение картинки
    getExtention(name) {
      return name.split(".")[name.split(".").length - 1];
    },
    // Функция для сохранения задания
    async saveWork() {
      Object.values(this.voices).forEach(async (item) => {
        let answerData = new FormData();
        let { answer, number } = item;

        if (answer.name) {
          let ext = this.getExtention(answer.name);
          answerData.append("answer", answer, `answer${number}.${ext}`);
        } else {
          answerData.append("answer", answer, `answer${number}.wav`);
        }

        await this.patchFormAnswer({
          id: this.currentTask.answers[item.number - 1]._id,
          data: answerData,
        });
      });
    },
    // Открытие/закрытие карточки задания
    openCard(open, id) {
      this.questions[id - 1].open = open;
      this.checkNeighbors(open, id);
    },
    // Проверка соседей. Подробнее в Page10.vue
    checkNeighbors(open, id) {
      if (this.questions[id]) {
        open && !this.questions[id].open
          ? (this.questions[id].extend = "big")
          : !open && this.questions[id].open
          ? (this.questions[id].extend = "small")
          : (this.questions[id].extend = "");
      }

      if (this.questions[id - 2]) {
        open && !this.questions[id - 2].open
          ? (this.questions[id - 1].extend = "small")
          : !open && this.questions[id - 2].open
          ? (this.questions[id - 1].extend = "big")
          : (this.questions[id - 1].extend = "");
      }
    },
    closeModal() {
      this.modalShow = false;
    },
    async setQuestionsSuccess() {
      await this.saveWork();
      setTimeout(() => {
        if (this.family.filter((members) => members.success).length < 3) {
          this.modalShow = true;
        }
      }, 1000);
      setTimeout(async () => {
        await this.patchTale();
        let tasks = await this.getTasks(this.tale.id);
        this.currentTask = await tasks.find((task) => task.page == 11);
      }, 2000);
    },
    async setSuccess(success, id, voice) {
      let getNumber = {
        number1: id,
        number2: id + 2,
        number3: id + 4,
      };
      let number = getNumber[`number${this.currentFm.number}`];
      this.questions[id - 1].success = success;
      if (success) {
        this.questions[id]
          ? (this.questions[id].disable = false)
          : (this.sendToMentorActive = true);
        if (typeof voice != "string") {
          this.voices[`voice${number}`] = {
            number: number,
            answer: voice,
          };
        }

        if (id == 2) {
          if (voice) {
            this.setQuestionsSuccess();
          }
          this.family[this.currentFm.number - 1].success = true;
        }
      } else {
        this.sendToMentorActive = false;
        delete this.voices[`voice${voice.number}`];
      }
    },
    restart() {
      this.isFmPicked = false;
      this.clear = !this.clear;
      this.modalShow = false;
      let fmIndex = this.currentFm.number - 1;
      this.family[fmIndex].showBig = true;
      this.questions.forEach((question) => {
        question.success = false;
        question.id == 2
          ? (question.disable = true)
          : (question.disable = false);
      });
    },
    // API requests
    ...TaleMapper.mapActions([
      "patchTale",
      "patchTask",
      "patchAnswer",
      "patchFormAnswer",
      "getTasks",
    ]),

    async sendToMentor() {
      await this.saveWork();
      this.$router.push({ name: `tale${this.tale.number}-checking` });
      await this.patchTask({
        id: this.currentTask._id,
        data: {
          success: true,
          coins: this.family.filter((members) => members.success).length * 5,
        },
      });
      if (this.tale.pages < 12) {
        await this.patchTale({ pages: 12 });
      }
    },
    // API requests
    getElems(name) {
      return document.querySelectorAll(name);
    },
    getElem(name) {
      return document.querySelector(name);
    },
    initialAudio() {
      this.setAudio(
        new Audio(require("@/assets/sounds/app-voice/page11/17.mp3"))
      );
    },
    initialAnimation() {
      let getElems = (name) => {
        return document.querySelectorAll(name);
      };
      let getElem = (name) => {
        return document.querySelector(name);
      };
      for (let z = -1; z < 2; z) {
        setTimeout(function () {
          getElems(".coins-family")[z].classList.add("coins-vert-moving");
          getElems(".row-members")[z].classList.add("members-anim");
          getElems(".lil-fm-block")[z].classList.add("members-anim-img");
          getElem(".members-anim").addEventListener("animationend", () => {
            getElems(".row-members")[z].style.opacity = 1;
          });
        }, 1000 * ++z);
      }
      for (let z = 0; z < 3; ++z) {
        if (
          getElems(".task-number")[z].classList.contains("success") === false
        ) {
          // getElems(".coins-vert-moving")[z].style.filter = "grayscale(100%)";
          getElems(".coins-vert-moving")[z].style.animationName =
            "opacity-anim-path";
        }
      }
    },
  },
  async mounted() {
    this.initialAudio();
    this.initialAnimation();
    let tasks = await this.getTasks(this.tale.id);
    this.currentTask = await tasks.find((task) => task.page == 11);
    this.family.forEach((member) => {
      if (this.currentTask.answers[member.number * 2 - 1].answer != null) {
        member.success = true;
      }
    });
  },
};
</script>

<style scoped>
.row-intervies-info {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  height: 50px;
  width: 470px;
  margin-left: 65px;
  margin-bottom: 25px;
  border-radius: 100px;
  background: #f3f3f3;
}
.row-intervies-info > p {
  font-size: 17px;
  font-weight: 600;
  opacity: 0.5;
  color: #2b2a29;
  text-align: left;
  width: 75%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0;
}
.wrap-interview {
  margin-left: 62px;
  margin-top: 50px;
  width: 100%;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-flow: column;
  /* min-height: 100%; */
  overflow-x: hidden;
  justify-content: center;
}
/* @media (max-width: 850px) {
  .row-intervies-info {
    height: 30px;
    width: 46%;
  }
  .row-intervies-info > p {
    font-size: 0.8em;
  }
} */
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .wrap-interview {
    /* margin-left: 15vw; */
    width: 545px;
    display: flex;
    margin: auto;
    flex-flow: column;
    min-height: fit-content;
    overflow-x: hidden;
    margin-top: 100px;
    justify-content: flex-start;
  }
  .interview-section {
    height: calc(100vh - 155px);
    border-radius: 0;
    padding: 0%;
  }
}
</style>
