<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-test4"
      title="Communication Club"
      subtitle="Здесь мы учимся общаться"
      white_text_1="РАЗВИВАЕМ НАВЫКИ"
      white_text_2="ПРОФ ОРИЕНТАЦИИ"
      :number="13"
      voiceText="На этой неделе тебе нужно выполнить несколько домашних дел. Полить цветы, протереть пыль, помочь в сервировке стола, убрать игрушки, подготовиться к совместному занятию. Распредели их с понедельника по пятницу и выбери время выполнения задания. Приложение fox business напомнит тебе звуковым сигналом о том, что пора выполнять задание."
    />
    <section
      class="
        full-height
        blue-bg
        bottom-radius
        shadow-body
        prof-section
        no-select
        animate__animated animate__fadeIn
      "
      style="overflow-y: scroll"
    >
      <!-- <div
      class="container-fluid h-100 relative-block animate__animated animate__fadeIn"
    > -->
      <SideRightMenu
        :coinsTarget="currentTask.target"
        :coins="currentTask.coins"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        :high_mentor="true"
      />
      <div style="justify-content: center" class="wrap-height relative-block">
        <div class="prof-block">
          <div class="prof-card translate-anim-up">
            <div class="btn-block translate-anim-left">
              <button @click.prevent="prev">
                <img src="@/assets/img/icons/arrow-list.png" alt="prev" />
              </button>
            </div>
            <transition
              :name="!reverse ? 'slide-reverse' : 'slide'"
              mode="out-in"
            >
              <!-- <v-touch v-on:tap="prev">Tap me!</v-touch> -->
              <v-touch
                class="slide-block"
                v-on:swipeleft="next"
                v-on:swiperight="prev"
                :key="activeProf.id"
              >
                <!-- <h3>{{ activeProf.name }}</h3> -->
                <div :class="`${activeProf.img}`"></div>
              </v-touch>
            </transition>
            <div class="btn-block translate-anim-right">
              <button @click.prevent="next">
                <img src="@/assets/img/icons/arrow-list.png" alt="next" />
              </button>
            </div>
          </div>
          <div class="prof-footer translate-anim-up">
            <button
              class="prof-slide"
              v-for="prof in profs"
              :key="prof.id"
              @click="selectProf(prof)"
            >
              <img
                :src="
                  require(`@/assets/img/tale_charapters/page-15/${prof.img}.svg`)
                "
                :alt="prof.name"
                class="img-fluid"
              />
            </button>
            <div class="btn-border" ref="border"></div>
          </div>
        </div>
      </div>
      <ButtonNext show link="14" class="white-next-btn-bg" />
    </section>
  </section>
</template>

<script>
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
export default {
  name: "Page15",
  components: { TopMenu, SideRightMenu, ButtonNext },
  data() {
    return {
      reverse: false,
      activeProf: {
        id: 1,
        name: "Рисовать",
        img: "draw",
      },

      profs: [
        {
          id: 1,
          name: "Рисовать",
          img: "draw",
        },
        {
          id: 2,
          name: "Готовить",
          img: "cook",
        },
        {
          id: 3,
          name: "Поливать цветы",
          img: "water",
        },
        {
          id: 4,
          name: "Очищать пыль",
          img: "dust",
        },
        {
          id: 5,
          name: "Убирать игрушки",
          img: "toys",
        },
      ],
      currentTask: {},
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    ...PlayerMapper.mapState(["audio"]),
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    ...PlayerMapper.mapActions(["playTopAudio"]),
    ...TaleMapper.mapActions(["getTasks"]),
    prev() {
      this.reverse = true;
      this.activeProf = this.profs[this.activeProf.id - 2]
        ? this.profs[this.activeProf.id - 2]
        : this.profs[this.profs.length - 1];
      this.$refs.border.style.left = `${(this.activeProf.id - 1) * 20}%`;
    },
    next() {
      this.reverse = false;
      this.activeProf = this.profs[this.activeProf.id]
        ? this.profs[this.activeProf.id]
        : this.profs[0];
      this.$refs.border.style.left = `${(this.activeProf.id - 1) * 20}%`;
    },
    selectProf(prof) {
      this.activeProf.id > prof.id
        ? (this.reverse = true)
        : (this.reverse = false);
      this.activeProf = prof;
      this.$refs.border.style.left = `${(this.activeProf.id - 1) * 20}%`;
    },
  },
  async mounted() {
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page13/26.mp3"))
    );
    this.playTopAudio();
    let tasks = await this.getTasks(this.tale.id);
    this.currentTask = await tasks.find((task) => task.page == 13);
  },
};
</script>

<style  scoped>
.wrap-height {
  margin-top: unset;
  min-height: 610px;
}
.full-height {
  height: calc(100% - 60px);
}

.prof-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prof-block {
  width: 965px;
  /* height: 100%; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.prof-card {
  width: 107%;
  height: 490px;
  border-radius: 2rem;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.slide-block {
  background: url("../../../../assets/img/icons/wrap.png") no-repeat right
      bottom,
    #71c9e4;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
  height: 460px;
  width: 560px;
  border-radius: 25px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
  z-index: 5;
}
.slide-block > h3 {
  text-align: center;
  font-weight: bold;
}
.slide-block > img {
  height: 90%;
  width: auto;
}

.btn-block {
  width: 5%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-block > button {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  outline: none;
  background: none;
  border-radius: 50%;
  transition: 0.5s ease;
}
.btn-block > button > img {
  width: 50%;
  height: auto;
}

.draw {
  width: 430px;
  height: 395px;
  background-image: url("../../../../assets/img/tale_charapters/page-15/draw.png");
  animation: draw 4s steps(60) infinite;
}
@keyframes draw {
  0% {
    background-position: 0px;
  }
  50% {
    background-position: 25800px;
  }
  100% {
    background-position: 25800px;
  }
}
.cook {
  width: 420px;
  height: 395px;
  background-image: url("../../../../assets/img/tale_charapters/page-15/cook.png");
  animation: cook 4s steps(69) infinite;
}
@keyframes cook {
  0% {
    background-position: 0px;
  }
  50% {
    background-position: 28980px;
  }
  100% {
    background-position: 28980px;
  }
}
.water {
  width: 425px;
  height: 425px;
  background-image: url("../../../../assets/img/tale_charapters/page-15/water.png");
  animation: water 4s steps(60) infinite;
}
@keyframes water {
  0% {
    background-position: 0px;
  }
  50% {
    background-position: 26400px;
  }
  100% {
    background-position: 26400px;
  }
}
.dust {
  width: 420px;
  height: 395px;
  background-image: url("../../../../assets/img/tale_charapters/page-15/dust.png");
  animation: dust 4s steps(60) infinite;
}
@keyframes dust {
  0% {
    background-position: 0px;
  }
  50% {
    background-position: 26400px;
  }
  100% {
    background-position: 26400px;
  }
}
.toys {
  width: 345px;
  height: 325px;
  background-image: url("../../../../assets/img/tale_charapters/page-15/toys.png");
  animation: toys 4s steps(61) infinite;
}
@keyframes toys {
  0% {
    background-position: 0px;
  }
  50% {
    background-position: 21960px;
  }
  100% {
    background-position: 21960px;
  }
}

/* .btn-block > button:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
} */
.btn-block:first-of-type > button > img {
  width: 50%;
  height: auto;
  transform: rotate(180deg);
}
.prof-footer {
  height: 75px;
  width: 370px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
}
.prof-footer > button {
  border: none;
  outline: none;
  background: none;
  width: 18%;
  height: 100%;
  /* display: flex; */
  /* justify-content: center; */
  /* align-items: center; */
  /* padding-top: 18%; */
  /* position: relative; */
  z-index: 2;
}
.btn-border {
  position: absolute;
  width: 20%;
  padding-top: 20%;
  border: 2px solid #f3f3f3;
  background-color: #f3f3f3;
  border-radius: 1rem;
  top: 0;
  left: 0;
  transition: 0.3s ease;
  z-index: 0;
}
/* .prof-footer > button > div {
  height: 100%;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
} */
.prof-footer > button > img {
  height: 75%;
  width: 85%;
  object-fit: contain;
}

.slide-enter-active,
.slide-leave-active,
.slide-reverse-enter-active,
.slide-reverse-leave-active {
  transition: 0.3s;
}
.slide-enter {
  transform: translateX(-30%);
  opacity: 0.1;
}
.slide-leave-to {
  transform: translateX(30%);
  opacity: 0.1;
}
.slide-reverse-enter {
  transform: translateX(30%);
  opacity: 0.1;
}
.slide-reverse-leave-to {
  transform: translateX(-30%);
  opacity: 0.1;
}
/* .row-refs {
  height: 70px;
}

.wrap-slides {
  width: 100%;
  height: 100%;
  background: url("../assets/img/icons/wrap.png") no-repeat right bottom;
}
.slide-size {
  width: 80%;
  height: auto;
}

.slide-text {
  font-size: 25px;
  font-weight: 800;
  line-height: 30px;
}
.wrap-img {
  height: 100%;
  width: auto;
  transition: 0.4s;
  border: solid 2px #fff;
}
.active-ref {
  border-radius: 15px;
  background-color: #f3f3f3;
}
.wrap-img img {
  height: 54px;
  width: auto;
  transition: 0.5s;
}
.wrap-img:hover img {
  filter: drop-shadow(-1px 0px 4px #0000001b);
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .slide-block {
    box-shadow: 0px 0px 15px rgb(0 0 0 / 15%);
    height: 475px;
    width: 585px;
  }
  .wrap-height {
    width: 768px;
    margin-top: 70px;
  }
  .full-height {
    height: calc(100vh - 145px);
    border-radius: 0 !important;
  }
  .prof-footer {
    margin-top: 40px;
  }
  .btn-block {
    display: none;
  }
}
</style>