<template>
  <section class="h-100 relative-block">
    <TopMenu
      id="top-page-menu-final"
      title="Твой результат"
      subtitle="Сколько ты заработал"
      iconsrc="img/icons/completion.svg"
      iconclass="icon-header"
      white_text_1=""
      white_text_2=""
    />
    <div
      class="container-fluid animate__animated animate__fadeIn full-height white-bg bottom-radius shadow-body"
      style="overflow-y: auto"
    >
      <SideRightMenu
        v-if="!portrait"
        light
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
      />

      <hr class="hr-invisible py-1 m-0" />
      <div v-if="!portrait" class="flex-wrap relative-block">
        <AnimFinal class="display-pc" />
        <div class="wrap-top">
          <div class="row pr-2 justify-content-end">
            <div class="relative-block anim-square">
              <!-- @mouseover="anim_round" -->
              <img
                src="@/assets/img/page-68-anim/loading-outer.png"
                alt=""
                class="loading"
              />

              <p
                class="m-0 absolute-block coins-text"
                :class="{ 'coins-above100': coins > 99 }"
              >
                {{ coins }}
              </p>
              <img
                src="@/assets/img/pictures/coin.svg"
                alt=""
                class="absolute-block check-img"
              />
            </div>
          </div>
          <div class="row pr-2 mt-3">
            <button class="btn-invisible-button mx-auto" @click="playSound">
              <img
                src="@/assets/img/icons/sound-white.svg"
                alt=""
                class="sound-white-icon"
              />
            </button>
          </div>
          <div class="row pr-2">
            <p class="header-sticker">Поздравляем!</p>
          </div>
          <div class="row pr-2 mt-3">
            <p class="text-sticker m-0">Теперь на твоей карте</p>
          </div>
        </div>
        <div class="wrap-bottom">
          <img src="@/assets/img/pictures/coins.png" alt="" class="coins-img" />
        </div>
      </div>
      <div v-else class="flex-block-ipad">
        <div class="wrap-ipad">
          <div class="relative-block anim-square">
            <!-- @mouseover="anim_round" -->
            <img
              src="@/assets/img/page-68-anim/loading-outer.png"
              alt=""
              class="loading"
            />

            <p
              class="m-0 absolute-block coins-text"
              :class="{ 'coins-above100': coins > 99 }"
            >
              {{ coins }}
            </p>
            <img
              src="@/assets/img/pictures/coin.svg"
              alt=""
              class="absolute-block check-img"
            />
          </div>
          <div class="text-finish-block my-auto">
            <button class="btn-invisible-button mx-auto" @click="playSound">
              <img
                src="@/assets/img/icons/sound-white.svg"
                alt=""
                class="sound-white-icon"
              />
            </button>

            <p class="header-sticker">Поздравляем!</p>
            <p class="text-sticker m-0">Теперь на твоей карте</p>
            <img
              src="@/assets/img/pictures/coins.png"
              alt=""
              class="coins-img"
            />
          </div>
        </div>
        <AnimFinal class="display-ipad" />
      </div>
    </div>
  </section>
</template>

<script>
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import AnimFinal from "@/components/tales/tale1/anims/AnimPage28.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Page28",
  components: {
    TopMenu,
    SideRightMenu,
    AnimFinal,
  },
  data() {
    return {
      portrait: false,
      secondSound: new Audio(
        require("@/assets/sounds/lis-voice/page28/12.mp3")
      ),
    };
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    ...TaleMapper.mapActions(["patchTale"]),
    changeOrientation() {
      if (screen.width < 1439) {
        this.portrait = true;
      } else {
        this.portrait = false;
      }
      // console.log(this.portrait);
    },
    playSound() {
      if (this.secondSound.paused) {
        this.secondSound.play();
      } else {
        this.secondSound.pause();
      }
      this.audio.pause();
    },
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    ...PlayerMapper.mapState(["audio"]),
    coins() {
      let coins = 0;
      this.tale.tasks.forEach((task) => {
        coins += task.coins;
      });
      return coins;
    },
  },
  created() {
    window.addEventListener("resize", this.changeOrientation);
  },
  destroyed() {
    window.removeEventListener("resize", this.changeOrientation);
  },

  async mounted() {
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page28/13.mp3"))
    );
    this.audio.play();
    if (screen.width < 1439) {
      this.portrait = true;
    } else {
      this.portrait = false;
    }
    if (!this.tale.success) {
      await this.patchTale({ success: true });
    }
  },
};
</script>

<style  scoped>
.flex-wrap {
  height: 625px;
  width: 1275px;
  padding-bottom: 77px;
  padding-top: 85px;
  padding-right: 100px;
  margin: auto;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
  align-content: flex-end;
  align-items: center;
}
.header-sticker {
  font-family: "Pribambas";
  font-size: 76px;
  line-height: 3rem;
  padding-bottom: 1.5rem;
  margin: 0;
  color: #2b2a29;
}

.text-sticker {
  text-align: center;
  width: 100%;
  font-weight: 500;
  opacity: 0.5;
  font-size: 25px;
  line-height: 27px;
  color: #2b2a29;
}
.sound-icon {
  width: 15px;
  height: auto;
}
.anim-square {
  height: 140px;
  width: 140px;
  margin: auto;
}
.loading {
  height: 100%;
  width: auto;
  object-fit: contain;
  animation-name: rotation;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.85, -0.3, 0.5, 1.15);
}
.check-img {
  height: 41%;
  width: auto;
  top: 30%;
  right: 9%;
}
.coins-text {
  top: 29%;
  right: 61%;
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 42px;
}
.coins-above100 {
  font-size: 30px;
  top: 34%;
  right: 55%;
}
.flex-block-ipad {
  z-index: 1;
  padding-bottom: 0%;
  width: 735px;
  height: 870px;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
}
.wrap-ipad {
  position: relative;
  width: 620px;
  display: flex;
}
.sound-white-icon {
  width: 20px;
  filter: invert(1);
  margin: auto;
}
.text-finish-block {
  width: 490px;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.coins-img {
  height: 110px;
  width: auto;
  -o-object-fit: contain;
  object-fit: contain;
  margin-top: 20px;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
@media (min-width: 1641px) and (min-height: 800px) {
}

/* @media (max-width: 900px) {
  .header-sticker {
    font-family: "Pribambas";
    font-size: 3rem;
    line-height: 2rem;
    padding-bottom: 2vh;
    color: #2b2a29;
  }
  .text-sticker {
    text-align: center;
    width: 100%;
    font-size: 1rem;
    line-height: 1.3rem;
    color: #2b2a29;
  }
  .sound-icon {
    width: 15px;
    height: auto;
  }
  .anim-square {
    height: 15vh;
    width: 15vh;
    margin: auto;
  }
} */
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .coins-text {
    font-size: 42px;
    top: 28%;
    right: 55%;
  }
  .coins-above100 {
    font-size: 30px;
    top: 34%;
  }
  .anim-square {
    margin-top: 2%;
  }
  .full-height {
    height: calc(100vh - 155px);
    overflow-y: auto;
  }
  .header-sticker {
    margin-bottom: 0;
  }
}
@media only screen and (device-width: 768px) and (min-device-height: 600px) {
  .full-height {
    height: calc(100vh - 145px);
    overflow-y: auto;
  }
}
</style>