<template>
  <section class="h-100" style="position: relative">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page15.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      id="top-page-menu-21"
      title="Logic Club"
      subtitle="Игра"
      iconclass="icon-header-number"
      white_text_1="РАЗВИВАЕМ"
      white_text_2="ЛОГИЧЕСКОЕ МЫШЛЕНИЕ"
      :number="15"
      voiceText="У тебя есть возможность поиграть в LOGIC CLUB, но не забывай в течении недели выполнять домашние дела, которые ты запланировал."
    />
    <div
      v-show="!videoPlay"
      class="
        game-lc
        full-height
        white-bg
        bottom-radius
        shadow-body
        container-fluid
        animate__animated animate__fadeIn
        no-select
      "
      style="overflow-y: auto"
    >
      <SideRightMenu
        :coinsTarget="currentTask.target"
        :coins="currentTask.coins"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        :light="true"
        :high_mentor="true"
      />
      <div class="wrap-height mt-0">
        <div class="wrap-game-lc">
          <div class="game-lc-left game-lc-bg">
            <div class="cloud-animation"></div>
            <div class="task-text">
              <button class="sound-button" @click="playTaskAudio()">
                <!-- <img
                  src="@/assets/img/icons/sound.svg"
                  alt=""
                  class="h-100 pointer"
                /> -->
              </button>

              <transition name="fade" mode="out-in">
                <p :key="activeTarget.id">
                  {{ activeTarget.whatToDo }}
                </p></transition
              >
            </div>
            <transition name="fade" mode="out-in">
              <img
                :key="activeTarget.id"
                :src="
                  require(`@/assets/img/page-35-game/${activeTarget.image}.png`)
                "
                alt=""
                class="absolute-block img-task"
            /></transition>
            <transition name="fade" mode="out-in">
              <img
                src="@/assets/img/page-35-game/nice.png"
                alt=""
                class="absolute-block img-nice"
            /></transition>
          </div>
          <!-- <div class="game-lc-right mx-auto"> -->
          <transition-group class="game-lc-right mx-auto" name="fade" tag="div">
            <!-- <div class="btn-lc-size" :key="0"></div> -->'

            <!-- pickItem(action.id); -->
            <button
              class="btn-lc-size btn-lc opacity-anim-path translate-anim-left"
              v-for="action in actionsToChoise"
              :style="{ animationDuration: action.id / 6 + 's' }"
              :key="action.id"
              @click="pickItem(action.id)"
              :class="{
                picked: action.picked == 1,
                wrong: action.picked == 2,
              }"
            >
              <img
                :src="require(`@/assets/img/page-35-game/${action.image}.png`)"
                alt=""
                class="img-lc"
              />
            </button>
            <!-- <div class="btn-lc-size" :key="16"></div> -->
          </transition-group>
          <!-- </div> -->
        </div>
      </div>

      <ModalGame @hide="hideModal" @send="sendToMentor" />
      <ButtonNext show link="path" class="white-next-btn-bg" />
    </div>
  </section>
</template>

<script>
import ModalGame from "@/components/tales/tale1/pages/page14/modal-game.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
export default {
  name: "Page14",
  components: { TopMenu, SideRightMenu, ButtonNext, ModalGame },
  data: function () {
    return {
      videoPlay: true,
      pageIsSucceed: false,
      secondAudio: new Audio(),
      taskAudio: new Audio(),
      niceAnswer: false,
      pickedItems: 0,
      lastPicked: 0,
      // target1: 1,
      // target2: 14,
      // targetList: [1, 14],
      activeTarget: {
        id: 1,
        image: "salad",
        whatToDo: "Приготовить салат",
        target: [5, 8],
      },
      newtargetList: [],
      targetList: [
        {
          id: 1,
          whatToDo: "Приготовить салат",
          image: "salad",
          target: [5, 8],
        },
        {
          id: 2,
          whatToDo: "Заправить кровать",
          image: "wrap-bed",
          target: [10, 12],
        },
        {
          id: 3,
          whatToDo: "Покормить питомца",
          image: "feed-dog",
          target: [2, 11],
        },
        {
          id: 4,
          whatToDo: "Поменять батарейки",
          image: "fix-clock",
          target: [3, 7],
        },
        {
          id: 5,
          whatToDo: "Полить цветы",
          image: "water-plants",
          target: [9, 14],
        },
      ],
      actionsToChoise: [
        {
          id: 1,
          image: "vacuum",
          picked: 0,
        },
        {
          id: 2,
          image: "food",
          picked: 0,
        },
        {
          id: 3,
          image: "batteries",
          picked: 0,
        },
        {
          id: 4,
          image: "dust",
          picked: 0,
        },
        {
          id: 5,
          image: "vegetables",
          picked: 0,
        },
        {
          id: 6,
          image: "truck",
          picked: 0,
        },
        {
          id: 7,
          image: "clock",
          picked: 0,
        },
        {
          id: 8,
          image: "knife",
          picked: 0,
        },
        {
          id: 9,
          image: "water",
          picked: 0,
        },
        {
          id: 10,
          image: "bed",
          picked: 0,
        },
        {
          id: 11,
          image: "dog",
          picked: 0,
        },
        {
          id: 12,
          image: "wrap",
          picked: 0,
        },
        {
          id: 13,
          image: "trash",
          picked: 0,
        },
        {
          id: 14,
          image: "plants",
          picked: 0,
        },
      ],
      currentTask: {},
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio", "setRightAudio"]),
    ...PlayerMapper.mapActions(["playRightAudio", "stopAllAudio"]),
    ...TaleMapper.mapActions(["getTasks"]),
    hideModal() {
      this.$bvModal.hide("gameModal");
      this.actionsToChoise = this.shuffle(this.actionsToChoise);
      this.targetList = this.newtargetList;

      this.stopAllAudio();

      setTimeout(() => {
        let random = Math.floor(Math.random() * (this.targetList.length - 1));
        this.activeTarget = this.targetList[random];
        this.actionsToChoise.forEach((item) => (item.picked = 0));
      }, 2500);
    },
    boop(variant) {
      this.stopAllAudio();
      this.setRightAudio(
        new Audio(
          require(`@/assets/sounds/lis-voice/correct-uncorrect/${variant}.mp3`)
        )
      );
      this.playRightAudio();
    },
    playTaskAudio() {
      this.stopAllAudio();
      this.setRightAudio(
        new Audio(
          require(`@/assets/sounds/app-voice/page15/31.${this.activeTarget.id}.mp3`)
        )
      );
      this.playRightAudio();
    },

    // *Закоментировать
    pickItem(itemId) {
      if (
        this.activeTarget.target.includes(itemId) &&
        this.lastPicked != itemId
      ) {
        this.lastPicked = itemId;
        this.actionsToChoise.find((action) => action.id == itemId).picked = 1;
        this.pickedItems += 1;
      } else if (this.lastPicked != itemId) {
        this.actionsToChoise.find((action) => action.id == itemId).picked = 2;
        this.boop("-");
      }

      if (this.pickedItems == 2) {
        this.pickedItems = 0;
        this.niceAnswer = true;
        this.targetList = this.targetList.filter(
          (item) => item.id != this.activeTarget.id
        );

        this.boop("+");

        // if (this.secondAudio) {
        //   this.secondAudio.pause();
        // }
        // this.secondAudio = document.createElement("audio");
        // this.secondAudio.src = require("@/assets/complete.mp3");
        // this.secondAudio.play();

        setTimeout(() => {
          this.actionsToChoise = this.shuffle(this.actionsToChoise);
          this.niceAnswer = false;
          if (this.targetList.length) {
            let random = Math.floor(
              Math.random() * (this.targetList.length - 1)
            );
            this.activeTarget = this.targetList[random];

            this.actionsToChoise.forEach((item) => (item.picked = 0));
          } else {
            this.$bvModal.show("gameModal");
            this.stopAllAudio();
            this.setRightAudio(
              new Audio(require("@/assets/sounds/app-voice/modal/60.mp3"))
            );
            this.playRightAudio();
          }
        }, 2500);
      }
    },
    // *Закоментировать
    ...TaleMapper.mapActions(["patchTale", "patchTask"]),
    async sendToMentor() {
      if (this.tale.pages < 16) {
        await this.patchTale({ pages: 16 });
      }

      await this.patchTask({
        id: this.currentTask._id,
        data: {
          success: true,
          coins: this.currentTask.target,
        },
      });
      this.$router.push({ name: `tale${this.tale.number}-checking` });
    },
    shuffle(array) {
      return array.sort(() => Math.random() - 0.5);
    },
  },
  async mounted() {
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page15/30.mp3"))
    );
    // *Закоментировать
    this.actionsToChoise = this.shuffle(this.actionsToChoise);
    // *Закоментировать
    let tasks = await this.getTasks(this.tale.id);

    this.currentTask = await tasks.find((task) => task.page == 15);
    let random = Math.floor(Math.random() * (this.targetList.length - 1));
    this.activeTarget = this.targetList[random];
    this.taskAudio = new Audio(
      require(`@/assets/sounds/app-voice/page15/31.${this.activeTarget.id}.mp3`)
    );
    this.newtargetList = this.targetList;
  },
};
</script>

<style scoped>
.sound-button {
  background: none;
  border-radius: 50%;
  width: 1.5rem;
  height: 1.5rem;
  outline: none;
  border: none;
  background-color: rgba(255, 255, 255, 0.3);
  background-image: url("../../../../assets/img/icons/sound.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.game-lc {
  justify-content: center;
  display: flex;
}

.wrap-game-lc {
  width: 1055px;
  margin: auto;
  /* margin-top: 55px; */
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-flow: row nowrap;
}

.cloud-animation {
  position: absolute;
  bottom: 2%;
  z-index: 1;
  left: 0%;
  width: 481px;
  height: 479px;
  background-image: url("../../../../assets/img/page-35-game/cloud.png");
  animation: lets-talk 2s steps(50) infinite;
}
@keyframes lets-talk {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 24600px;
  }
}

.game-lc-bg {
  background: url("../../../../assets/img/page-35-game/bg.png") no-repeat,
    #ffde3b;
  background-size: cover;
}
.game-lc-left {
  position: relative;
  overflow: hidden;
  height: 470px;
  width: 470px;

  box-shadow: 0px 0px 15px #00000040;
  border-radius: 2rem;
}
.game-lc-right {
  height: 470px;
  width: 470px;
  display: flex;
  flex-flow: row wrap;
}
.game-lc-right::before,
.game-lc-right::after {
  content: "";
  display: block;
  width: 25%;
  height: 25%;
}

.btn-lc-size {
  width: 25%;
  height: 25%;
}

.btn-lc {
  z-index: 1;
  background: #ffffff;
  border: solid 1px #d9d9d9;
  border-radius: 15px;
  transition: 0.5s;
}
.btn-lc:hover {
  background: #ffde3bab;
  border: solid 1px #ffde3bab;
}
.picked {
  background: #ffde3b !important;
  border: solid 1px #ffde3b !important;
}
.wrong {
  background: #ec6548 !important;
  border: solid 1px #ec6548 !important;
}
.img-lc {
  width: 75%;
  height: 75%;
  object-fit: contain;
}

.task-text {
  position: absolute;
  display: flex;
  flex-flow: row;
  align-items: center;
  top: 4%;
  left: 4%;
  height: 2rem;
  z-index: 2;
}
.task-text p {
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  padding-left: 0.5rem;
}
.img-task {
  width: 55%;
  height: 50%;
  margin: auto;
  top: 2%;
  right: 5%;
  -o-object-fit: contain;
  object-fit: contain;
  z-index: 2;
}
.img-nice {
  width: 40px;
  height: 40px;
  margin: auto;
  top: 45%;
  right: 8%;
  -o-object-fit: contain;
  object-fit: contain;
}

img {
  --animate-duration: 1s;
}
.game-row {
  width: 64%;
  height: 20vh;
}
.flex-block-game {
  display: flex;
  flex-flow: column nowrap;
  height: 100%;
  width: 50%;
  justify-content: center;
  align-content: center;
  margin-left: auto;
  /* align-items: center; */
}
/* @media (max-width: 1051px) {
  .game-lc-left {
    padding-top: 45%;
    width: 45%;
  }
  .game-lc-right {
    width: 45%;
  }
  .task-text {
    top: 4%;
    left: 4%;
    height: 1.4rem;
  }
  .task-text p {
    font-size: 0.7rem;
  }
} */

.wrap-height {
  margin: unset;
  min-height: 770px;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .wrap-height {
    margin-bottom: 5%;
    height: 870px;
    /* margin-top: 35px !important; */
    width: 520px;
  }

  .game-lc-bg {
    background-position-y: 100%;
  }
  .wrap-game-lc {
    margin-top: 100px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
  }
  .game-lc-left {
    height: 390px;
    width: 485px;
  }
  .img-task {
    top: 2%;
    right: 4%;
    width: 45%;
    height: 40%;
  }
  .img-nice {
    top: 44%;
    right: 4%;
  }
  /* .full-height {
    border-radius: 0;
    height: 85vh;
  } */
}
</style>
