<template>
  <section class="h-100" style="position: relative">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page14.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      id="top-page-menu-22"
      title="Communication Club"
      subtitle="Изучаем профессии"
      iconclass="icon-header-number"
      white_text_1="РАЗВИВАЕМ НАВЫКИ"
      white_text_2="ПРОФ ОРИЕНТАЦИИ"
      :number="14"
      voiceText="На этой неделе тебе нужно выполнить несколько домашних дел. Полить цветы, протереть пыль, помочь в сервировке стола, убрать игрушки, подготовиться к совместному занятию. Распредели их с понедельника по пятницу и выбери время выполнения задания. Приложение fox business напомнит тебе звуковым сигналом о том, что пора выполнять задание."
    />
    <div
      v-show="!videoPlay"
      class="
        container-fluid
        animate__animated animate__fadeIn
        task-list
        no-select
        p-0
        full-height
        white-bg
        bottom-radius
        shadow-body
      "
      style="display: flex; justify-content: center"
    >
      <div class="overlay" @click="modalShow = false" v-show="modalShow"></div>
      <div class="page-wrap relative-block">
        <div class="task-wrap relative-block">
          <TimeTask
            v-for="(task, index) in tasks"
            :style="style[index].name"
            :key="index"
            :id="task.id"
            :img="task.img"
            :name="task.name"
            :number="index + 1"
            :success="task.success"
            :disable="task.disable"
            :day="task.day"
            :hour="task.hour"
            :report="task.report"
            :open="task.open"
            :extend="task.extend"
            :block="task.block"
            @success="
              task.success = true;
              tasks[index + 1]
                ? (tasks[index + 1].disable = false)
                : (showButton = true);
              index == 1 ? (modalShow = true) : null;
            "
            @open="openCard"
            @sound-open="playOpenSound"
            @day-sound="playDaySound"
            @time-sound="playTimeSound"
          />
        </div>
      </div>

      <button
        ref="modal"
        v-b-modal.modal-do-next-work
        style="visibility: hidden"
      ></button>
      <SideRightMenu
        :sendToMentorActive="pageIsSucceed"
        :coinsTarget="currentTask.target"
        :coins="currentTask.coins"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        :questPage="currentTask.page"
        @send="sendToMentor"
        light
        high_mentor
      />
      <ModalDoNextWork
        :show="modalShow"
        @close="modalShow = false"
        class="white-next-btn-bg"
        @modal-sound="playModalSound"
      />

      <ButtonNext show link="15" class="scrolled-next white-next-btn-bg" />
    </div>
  </section>
</template>

<script>
import { TaleMapper } from "@/store/tale";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import TimeTask from "@/components/tales/tale1/pages/page13/TimeTask.vue";
import ModalDoNextWork from "@/components/tales/tale1/modals/ModalDoNextWork.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import { PlayerMapper } from "@/store/player";
export default {
  name: "Page13",
  components: { TopMenu, SideRightMenu, TimeTask, ButtonNext, ModalDoNextWork },
  data() {
    return {
      videoPlay: true,
      tasks: [],
      showButton: false,
      modalShow: false,
      currentTask: {},
      style: [
        { name: "z-index: 10;" },
        { name: "z-index: 9;" },
        { name: "z-index: 8;" },
        { name: "z-index: 7;" },
        { name: "z-index: 6;" },
      ],
      secondSound: new Audio(),
      cardImages: [
        "water-grass",
        "wrap-dust",
        "tidy-toys",
        "help-with-serve",
        "preparing",
      ],
    };
  },
  computed: {
    ...PlayerMapper.mapState(["audio"]),
    pageIsSucceed() {
      return (
        this.tasks.filter((item) => {
          return item.success;
        }).length >= 5
      );
    },
    ...TaleMapper.mapState(["tale"]),
  },
  watch: {
    pageIsSucceed: {
      handler(success) {
        this.modalShow = success;
      },
    },
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio", "setRightAudio"]),
    ...PlayerMapper.mapActions(["playRightAudio", "stopAllAudio"]),
    ...TaleMapper.mapActions([
      "getTale",
      "patchTale",
      "patchTask",
      "patchAnswer",
      "patchFormAnswer",
      "getTasks",
    ]),
    openCard(open, id) {
      this.tasks[id - 1].open = open;
      if (this.tasks[id]) {
        open && !this.tasks[id].open
          ? (this.tasks[id].extend = "big")
          : !open && this.tasks[id].open
          ? (this.tasks[id].extend = "small")
          : (this.tasks[id].extend = "");
      }

      if (this.tasks[id - 2]) {
        open && !this.tasks[id - 2].open
          ? (this.tasks[id - 1].extend = "small")
          : !open && this.tasks[id - 2].open
          ? (this.tasks[id - 1].extend = "big")
          : (this.tasks[id - 1].extend = "");
      }
    },
    async sendToMentor() {
      await this.patchTask({
        id: this.currentTask._id,
        data: {
          success: true,
          coins: this.tasks.filter((task) => task.success).length * 2,
        },
      });
      if (this.tale.pages < 16) {
        await this.patchTale({ pages: 16 });
      }
      this.$router.push({ name: `tale${this.tale.number}-checking` });
    },
    playAudio(audio) {
      this.stopAllAudio();
      this.setRightAudio(new Audio(audio));
      this.playRightAudio();
    },
    // *Sound methods
    playOpenSound(number) {
      this.playAudio(
        require(`@/assets/sounds/app-voice/page14/26.${number}.mp3`)
      );
    },
    playDaySound(day) {
      this.playAudio(require(`@/assets/sounds/app-voice/page14/27.${day}.mp3`));
    },
    playTimeSound(time) {
      this.playAudio(
        require(`@/assets/sounds/app-voice/page14/28.${time}.mp3`)
      );
    },
    playModalSound() {
      this.playAudio(require(`@/assets/sounds/app-voice/page14/29.modal.mp3`));
    },
    initialAudio() {
      this.setAudio(
        new Audio(require("@/assets/sounds/app-voice/page13/26.mp3"))
      );
    },
    // *Sound methods
    initialAnimation() {
      let getElems = (name) => {
        return document.querySelectorAll(name);
      };
      setTimeout(() => {
        getElems(".task").forEach(function (item) {
          setTimeout(() => {
            item.style.opacity = 1;
          }, 1000);
        });
        if (screen.width < 1440) {
          getElems(".cards-anim").forEach(function (item) {
            item.style.animation = "anim-cards-ipad 5s 1";
          });
        } else {
          getElems(".cards-anim").forEach(function (item) {
            item.style.animation = "anim-cards 5s 1";
          });
        }
        getElems(".cards-anim").forEach(function (item, index) {
          item.style.animationDelay = `${200 * index}ms`;
        });
      }, 1000);

      if (screen.width < 1440) {
        for (let z = -1; z < 4; z) {
          setTimeout(function () {
            getElems(".arrow-btn")[z].classList.add("opacity-anim");
            getElems(".sound-btn")[z].classList.add("opacity-anim");
            getElems(".task-text")[z].classList.add("text-anim");
            getElems(".task-number")[z].classList.add("number-anim");
          }, 300 * ++z);
        }
      }
      if (screen.width >= 1440) {
        for (let z = -1; z < 4; z) {
          setTimeout(function () {
            getElems(".arrow-btn")[z].classList.add("opacity-anim");
            getElems(".sound-btn")[z].classList.add("opacity-anim");
            getElems(".task-text")[z].classList.add("text-anim");
            getElems(".task-number")[z].classList.add("number-anim");
          }, 300 * ++z);
        }
      }
    },
  },

  async mounted() {
    await this.getTale(this.tale.id);
    this.initialAudio();
    this.initialAnimation();
    let tasks = await this.getTasks(this.tale.id);
    this.currentTask = await tasks.find((task) => task.page == 14);

    this.currentTask.answers.forEach((answer, i) => {
      let item = {
        id: answer._id,
        name: answer.name,
        success: !!answer.answer,
        disable: false,
        img: this.cardImages[i],
        day: answer.text_answer ? answer.text_answer.split(" ")[0] : "",
        hour: answer.text_answer ? answer.text_answer.split(" ")[1] : "",
        report: answer.answer,
        block: !!answer.answer,
        open: false,
        extend: "",
      };
      this.tasks.push(item);
    });
  },
};
</script>

<style scoped>
.scrolled-next {
  opacity: 1;
}
.task-list {
  background: rgb(250, 250, 250);
  overflow-y: scroll;
}
.overlay {
  position: absolute;
  margin-top: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background: rgba(0, 0, 0, 0.3);
}
.page-wrap {
  /* min-height: 100%; */

  margin-top: 15px;
  flex-flow: column;
  justify-content: center;
}
.task-wrap {
  width: 85vw;
  /* height: calc(75vw * 0.7); */
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .page-wrap {
    display: unset;
    min-height: 80%;
    margin-top: 75px;
  }
  .task-wrap {
    width: 565px;

    margin: auto;
    overflow-x: hidden;
    opacity: 1;
  }
  .overlay {
    margin-top: 0;
  }
  /* .task-list {
    height: 85vh;
    border-radius: 0; }*/
}
</style>
