<template>
  <section class="h-100 relative-block">
    <TopMenu
      id="top-page-menu-13"
      title="Fox-Story"
      subtitle="Читаем сказку!"
      white_text_1="РАЗВИВАЕМ"
      white_text_2="НАВЫКИ ЧТЕНИЯ"
      iconsrc="img/icons/book-icon.png"
      iconclass="icon-header"
    />
    <SideRightMenu
      :pushPath="'tale1-path'"
      :pushTale="'tale1-8'"
      class="show-port"
    />
    <section
      class="full-height bottom-radius shadow-body animate__animated animate__fadeIn"
      style="overflow-y: auto; position-relative"
    >
      <hr class="hr-invisible py-0 m-0" />

      <div class="page-loader">
        <!-- <div class="cube-loader right-cube"></div>
        <div class="cube-loader center-right-cube"></div>
        <div class="cube-loader center-left-cube"></div>
        <div class="cube-loader left-cube"></div> -->
      </div>
      <div
        class="wrap-height tale-section mt-0 opacity-anim-9"
        style="overflow-y: hidden"
      >
        <div class="racoon-moving"></div>
        <div class="fox-moving"></div>
        <div class="rabbit-moving"></div>
        <div class="squirell-moving"></div>
        <div class="tree-moving-left"></div>
        <div class="tree-moving-right"></div>
        <div class="grass-moving-left"></div>
        <div class="grass-moving-center"></div>
        <div class="grass-moving-right"></div>

        <!-- <img class="grass-moving" :src="require('@/assets/img/animation-tale/grass.webp')"> -->
        <img
          class="clouds-moving"
          :src="require('@/assets/img/animation-tale/clouds.png')"
        />
        <img
          class="green-tree"
          :src="require('@/assets/img/animation-tale/greenTree.png')"
        />
        <img
          class="beaver"
          :src="require('@/assets/img/animation-tale/beaver.png')"
        />
        <div class="tale-block">
          <div class="anim-pages-dea"></div>
          <div class="tale-body" ref="tale">
            <div class="hard-pages">
              <div style="margin-top: 20px" class="tale-title text-center">
                Как лисенок
              </div>
              <div class="tale-title text-center">узнал, что такое</div>
              <div class="tale-title mb-2 text-center">домашние дела.</div>
              <p>
                В лесу, на зеленой полянке, стоял красивый домик, в котором жил
                лисенок Фоксик со своими родителями.
              </p>
              <p>
                Каждый день папа Фоксика уходил на целый день на работу, а мама
                с раннего утра и до позднего вечера занималась домашними делами.
                Дел было немало: нужно за водой сходить, еды приготовить, в доме
                прибраться, одежду постирать, подшить и погладить. Да и про
                огород
              </p>
            </div>
            <div class="hard-pages">
              <p class="cut">
                нельзя забывать. А еще за домом стоял курятник. Там жили петух,
                курочка и цыплятки. За ними тоже требовался уход.
              </p>
              <p>
                А Фоксик с утра до вечера только играл и веселился. На все
                просьбы мамы о помощи по дому у лисенка всегда находилось
                множество отговорок. Так продолжалось изо дня в день. Мама очень
                волновалась, что сын ей не помогает, и мечтала, что когда-нибудь
                произойдет чудо, и лисенок станет настоящим помощником.
              </p>
              <p>И вот в один летний день в жизни лисенка всё изменилось…</p>
              <p>Родители предупредили Фоксика о своем отъезде к бабушке.</p>
            </div>
            <div class="hard-pages">
              <p class="cut">
                Она заболела, ей нужна была помощь. К Лисенку приехала его тетя,
                чтобы посидеть с малышом.
              </p>
              <p>
                Как обычно, проснувшись на следующее утро, Фоксик не услышал
                маминых слов: «Доброе утро, сыночек! Умывайся и иди
                завтракать!».
              </p>
              <p>
                Лисенка поднял на ноги крик петуха. Фоксик понимал, что ему
                нужно обязательно накормить обитателей курятника. Тетя
                предложила свою помощь, но лисенок захотел все сделать сам,
                поэтому начал вспоминать, как это делала мама. Быстро умывшись,
                лисенок принялся за дело.
              </p>
              <p>Сначала проверил воду в</p>
            </div>
            <div class="hard-pages">
              <p class="cut">
                поилках - они оказались пустыми и грязными. Фоксик взял ведро и
                пошел за водой к колодцу. Набрать воды из него оказалось
                непростым делом. Полное ведро было очень тяжелым, поэтому Фоксик
                набирал воду понемногу и думал: «А ведь моя мама каждый день
                набирала по несколько полных ведер воды».
              </p>

              <p>
                Фоксик вернулся в курятник, почистил поилки, налил воды, отыскал
                корм и наполнил кормушки, собрал яйца и отнес их в дом. К обеду
                лисёнок понял, что очень голоден. А готовить он не умел. На
                кухонной полке на глаза ему попалась кулинарная книга.
              </p>
              <p>
                «Ура! Я спасен! – подумал лисенок. – Но… я же не умею читать!»
              </p>
            </div>
            <div class="hard-pages">
              <p>Тетя предложила свою помощь.</p>
              <p>
                – Милая тетушка, позволь я сам справлюсь! - попросил он и тетя
                чуть настороженно согласилась.
              </p>
              <p>
                Оказалось, что в книге было много красочных картинок, по которым
                легко можно было понять, как готовить различные блюда. Там он
                нашел рецепт омлета. Фоксик понял, что для приготовления ему не
                хватает молока. Фоксик попросил помочь тетю, и она принесла из
                магазина лисенку молоко и вкусный горячий хлеб. Лисёнок открыл
                кулинарную книгу и принялся готовить. Оказалось, что это
                несложно и даже очень интересно.
              </p>
              <p>Когда омлет был готов, лисенок</p>
            </div>
            <div class="hard-pages">
              <p class="cut">
                накрыл на стол, как это делала мама, нарезал хлеб, налил стакан
                молока. Еда получилась необычайно вкусной, Фоксик испытал
                огромное удовольствие от того, что он без чьей-либо помощи
                приготовил еду. Накормил себя и свою тетушку! «Мама бы мною
                гордилась!» - подумал Фоксик.
              </p>
              <p>
                В этот момент к нему пришел зайчонок Гарри. Он пришел позвать
                Фоксика пойти гулять. Лисенок очень хотел погулять и уже был
                готов согласиться, но оставалось еще много дел по хозяйству.
                Фоксик спросил зайчонка:
              </p>
              <p>– А ты помогаешь маме?</p>
              <p>– Нет! Она сама со всем</p>
            </div>
            <div class="hard-pages">
              <p class="cut">справляется, – ответил Гарри.</p>
              <p>
                – Я тоже никогда не помогал своей маме. А сегодня я понял, что
                каждой маме нужна помощь!
              </p>
              <p>
                И Лисенок рассказал зайчонку о том, как кормил кур, как научился
                готовить омлет и сколько еще дел у него осталось.
              </p>
              <p>
                – Ох, как интересно. А можно я тебе помогу? Я тоже хочу
                чему-нибудь научиться! – сказал Гарри.
              </p>
              <p>– Хорошо! – ответил Фоксик, и друзья принялись за работу.</p>
              <p>
                Лисенок подметал полы, а зайчонок протирал пыль. Друзья
                рассказывали друг другу забавные истории и даже не заметили, как
                в
              </p>
            </div>
            <div class="hard-pages">
              <p class="cut">доме стало чисто.</p>
              <p>
                – Ты прав, Фоксик, это действительно интересно! – сказал Гарри.
                – Чем займемся дальше?
              </p>
              <p>
                – Нас ждет огород! – воскликнул лисенок, и друзья вышли из дома.
              </p>
              <p>Оглядевшись вокруг, Зайчонок спросил:</p>
              <p>– И что надо делать?</p>
              <p>
                – Надо полить огород, прополоть грядки, скосить траву, собрать
                ягоды, – перечислял Лисенок, вспоминая, что делала мама.
              </p>
              <p>
                – Ого! Мы вдвоем не справимся! – заявил Гарри. – Давай позовем
                на помощь наших друзей.
              </p>
            </div>
            <div class="hard-pages">
              <p>
                Через некоторое время к друзьям пришли на помощь белочка Фанни и
                медвежонок Барри. Фоксик предложил распределить обязанности
                (делегировал полномочия).
              </p>
              <p>
                Так как медвежонок был самым сильным, он взялся за полив
                огорода, ведь только он мог набирать полное ведро воды. Белочке
                Фанни досталось собирать ягоды, зайчонку Гарри – косить траву, а
                Фоксику – полоть грядки.
              </p>
              <p>
                За работой друзья не заметили, как наступил вечер. Все дела были
                переделаны. Друзья были уставшими, но очень довольными.
                Во-первых, каждый чему-то научился, во-вторых, друзья помогли
                Фоксику, но главное,
              </p>
            </div>
            <div class="hard-pages">
              <p class="cut">
                каждый понял, что такое труд, как много домашних дел и почему
                важно помогать своим родителям.
              </p>
              <p>
                Друзья сидели на лавочке и любовались проделанной работой. В
                этот момент в калитку вошли папа и мама Фоксика. Лисенок тут же
                бросился к ним. Ребята наперебой рассказывали о том, как лисёнок
                собрал их всех вместе, как они трудились в огороде, как
                распределяли дела и как не заметили, что уже наступил вечер.
              </p>
              <p>
                – Фоксик – огромный молодец, сам справился со всеми трудностями.
                А рядом с такими друзьями вообще ничего не страшно! - сказала
                тетя родителям, и описала все победы маленького лисенка.
              </p>
            </div>
            <div class="hard-pages">
              <p>
                С тех самых пор лисенок Фоксик, зайчонок Гарри, белочка Фанни и
                медвежонок Барри всегда помогают своим родителям в их домашних
                делах!
              </p>
              <img
                src="@/assets/img/page-13-anim/end.gif"
                alt=""
                class="end-img"
              />
            </div>
          </div>
          <!-- <div v-show="lastPage" class="tale-title">
            Как лисенок узнал, что такое домашние дела.
          </div> -->
        </div>
        <div class="pages-list">
          <transition name="fade">
            <button
              @click="prevPage"
              class="prev-btn"
              :class="{ 'disabled-btn': talePagesCount <= 0 }"
            >
              <img src="@/assets/img/icons/yellow-next.svg" alt="prev" />
            </button>
          </transition>
          <p class="pages-text m-0">
            страница {{ talePagesCount + 1 }} из
            {{ countPages }}
          </p>
          <transition name="fade">
            <button
              @click="nextPage"
              :class="{ 'disabled-btn': lastPage }"
              class="next-btn"
            >
              <img src="@/assets/img/icons/yellow-next.svg" alt="next" />
            </button>
          </transition>
        </div>
      </div>
      <ButtonNext
        class="white-next-btn-bg tale-bg"
        :show="lastPage"
        link="loading"
      />
    </section>
  </section>
</template>

<script>
import { PlayerMapper } from "@/store/player";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
export default {
  name: "Page9",
  components: { TopMenu, ButtonNext, SideRightMenu },
  data() {
    return {
      pageNumber: 0,
      countPages: 11,
      talePagesCount: 0,

      anims: {
        racoonMoving: false,
        rabbitMoving: false,
        foxMoving: false,
        squirellMoving: false,
      },

      img: "@/assets/img/animation-tale/racoon.png",
      showHeader: false,
      pageSounds: {
        page1: 0,
        page2: 36.1126,
        page3: 78.6253,
        page4: 121.77773,
        page5: 175.076,
        page6: 221.347835,
        page7: 267.428,
        page8: 311.2715,
        page9: 354.94275,
        page10: 403.7855,
        page11: 454.9875,
      },
      pageSoundsReverse: {
        0: 1,
        36.1126: 2,
        78.6253: 3,
        121.77773: 4,
        175.076: 5,
        221.347835: 6,
        267.428: 7,
        311.2715: 8,
        354.94275: 9,
        403.7855: 10,
        454.9875: 11,
      },
    };
  },
  computed: {
    ...PlayerMapper.mapState(["audio", "currentSeconds"]),
    lastPage() {
      return this.talePagesCount == this.countPages - 1;
    },
    taleParts() {
      return this.taleText.split("\n");
    },
    taleSounds() {
      return Object.entries(this.pageSoundsReverse).map((item) => [
        parseFloat(item[0]),
        item[1],
      ]);
    },
  },
  watch: {
    currentSeconds: {
      handler() {
        this.taleSounds.forEach((sound, i) => {
          if (
            this.currentSeconds > sound[0] &&
            this.currentSeconds < this.taleSounds[i + 1][0]
          ) {
            this.talePagesCount = sound[1] - 1;
          }
        });
      },
    },
    talePagesCount(newPage, oldPage) {
      if (newPage > oldPage) {
        document.querySelectorAll(".hard-pages")[
          this.talePagesCount - 1
        ].style.minHeight = "0px";

        document.querySelectorAll(".hard-pages")[
          this.talePagesCount - 1
        ].style.maxHeight = "0px";

        document.querySelectorAll(".hard-pages")[
          this.talePagesCount - 1
        ].style.overflow = "hidden";

        document.querySelector(".next-btn").disabled = true;

        document.querySelector(".anim-pages-dea").classList.add("anim-pages");

        setTimeout(() => {
          document
            .querySelector(".anim-pages-dea")
            .classList.remove("anim-pages");
          document.querySelector(".next-btn").disabled = false;
          // document.querySelectorAll('.hard-pages')[this.talePagesCount - 1].style.zIndex = -99
        }, 500);
      } else if (newPage < oldPage) {
        document.querySelectorAll(".hard-pages")[
          this.talePagesCount
        ].style.minHeight = "500px";

        document.querySelectorAll(".hard-pages")[
          this.talePagesCount
        ].style.maxHeight = "500px";

        document
          .querySelector(".anim-pages-dea")
          .classList.add("anim-pages-reverse");

        document.querySelector(".prev-btn").disabled = true;

        setTimeout(() => {
          document
            .querySelector(".anim-pages-dea")
            .classList.remove("anim-pages-reverse");
          document.querySelector(".prev-btn").disabled = false;
        }, 500);
      } else {
        null;
      }
    },
  },

  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    playSound() {
      this.audio.currentTime = this.pageSounds[
        `page${this.talePagesCount + 1}`
      ];
    },
    nextPage() {
      this.talePagesCount += 1;
      this.playSound();
    },
    prevPage() {
      this.talePagesCount -= 1;
      this.playSound();
    },
  },
  mounted() {
    for (let p = 0; p < 11; ++p) {
      document.querySelectorAll(".hard-pages")[p].style.zIndex = 11 - p;
    }
    setTimeout(() => {
      document.querySelector(".page-loader").style.display = "none";

      // this.playSound();
    }, 1600);
    this.$refs.tale.scrollTo({
      left: 0,
      top: 0,
      behavior: "smooth",
    });
    this.setAudio(new Audio(require("@/assets/sounds/app-voice/11.mp3")));
    this.audio.onended = () => {
      if (this.talePagesCount < 12) {
        this.nextPage();
      }
    };
    setTimeout(() => {
      this.showHeader = true;
    }, 500);
  },
  beforeRouteLeave(_, __, next) {
    this.audio.pause();

    this.setAudio(new Audio());
    _;
    __;
    next();
  },
};
</script>

<style  scoped>
.wrap-height {
  min-height: 780px;
  height: 100%;
  width: 100%;
}

.page-13-bg {
  background: url("../../../../assets/img/page-13-anim/bg2.png") no-repeat;
  background-size: contain;
  background-position: top;
}
.tale-section {
  position: relative;
  background: url("../../../../assets/img/page-13-anim/bg2.png") no-repeat;
  background-size: cover;
  z-index: -2;
  overflow-x: hidden;
}
.full-height {
  height: calc(100% - 60px);
}
.tale-block {
  position: absolute;
  right: 205px;
  top: 15px;
  width: 480px;
  height: 530px;
  background: #fff;
  background-repeat: no-repeat;
  background-position-x: right;
  background-position-y: bottom;
  border-radius: 25px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  text-align: center;
  padding: 20px;
}

.tale-title {
  font-family: "Pribambas";
  font-size: 55px;
  line-height: 2rem;
  padding-bottom: 1rem;
  font-weight: bold;
  color: #000000;
}
.tale-body {
  display: flex;
  flex-flow: column wrap;
  text-align: justify;
  transition: 1s ease-in-out;
  overflow-y: hidden;
}
.hard-pages {
  position: absolute;
  left: 3%;
  min-width: 400px;
  max-width: 450px;
  min-height: 500px;
  background-color: white;
  transition: 0.5s cubic-bezier(0.53, 0.21, 0.64, 1.16);
}
.anim-pages {
  position: absolute;
  right: -4%;
  bottom: -3%;
  width: 650px;
  height: 570px;
  background-image: url("../../../../assets/img/animation-tale/paper.png");
  background-position-x: -20150px;
  animation: anim-pages 0.5s steps(31) 1;
  z-index: 20;
}

@keyframes anim-pages {
  0% {
    background-position-x: 20150px;
  }
  100% {
    background-position-x: 0px;
  }
}
.anim-pages-reverse {
  position: absolute;
  right: -4%;
  bottom: -3%;
  width: 650px;
  height: 570px;
  background-image: url("../../../../assets/img/animation-tale/paper.png");
  background-position-x: 0px;
  animation: anim-pages-reverse 0.5s steps(30) 1;
  z-index: 20;
  overflow: hidden;
}
@keyframes anim-pages-reverse {
  0% {
    background-position-x: 650px;
  }
  100% {
    background-position-x: 20150px;
  }
}
.tale-body p,
.tale-body span {
  text-indent: 70px;
  font-size: 20px;
  line-height: 24px;
  margin: 0 15px;
  font-weight: 600;
  margin-top: 10px;
  color: #2b2a29;
  transition: 1s ease;
}
.tale-body p.cut {
  text-indent: 0;
}
.pages-list {
  position: absolute;
  right: 320px;
  top: 570px;
  background: #fff;
  border-radius: 100px;
  width: 250px;
  height: 40px;
  display: flex;
  align-items: center;
}
.pages-text {
  width: 100%;
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.next-btn,
.prev-btn {
  bottom: 3%;
  width: fit-content;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  border: none;
  background: none;
  outline: none;
  border-radius: 100px;
  transition: 0.5s ease-in-out;
}
.next-btn {
  justify-content: flex-end;
}
.prev-btn {
  justify-content: flex-start;
}
.disabled-btn,
.disabled-btn {
  filter: grayscale(1);
  opacity: 0.7;
  pointer-events: none;
}

/* .next-btn:hover,
.prev-btn:hover {
  background: #fff;
  z-index: 3;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
} */
.next-btn img,
.prev-btn img {
  height: 100%;
  margin: 0 1%;
  width: auto;
}

.prev-btn span,
.next-btn span {
  line-height: 1em;
  font-weight: bold;
  margin: 0 2%;
}
.prev-btn span {
  text-align: left;
}
.next-btn span {
  text-align: right;
}
.prev-btn img {
  transform: rotate(180deg);
}
.next-page {
  border-radius: 30px;
  padding: 3px 0;
  padding-left: 10px;
  bottom: 4%;
  transition: 0.5s ease-in-out;
}
.next-page:hover {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
}

.shrink-enter-active {
  transition: all 1s ease;
}
.shrink-leave-active {
  transition: all 1s;
}
.shrink-enter, .shrink-leave-to
/* .slide-fade-leave-active до версии 2.1.8 */ {
  transform: scale(0);
  opacity: 0;
}

.tree-moving {
  position: absolute;
  bottom: 10%;
  right: -5%;
}

.clouds-moving {
  position: absolute;
  bottom: 80%;
  animation: clouds 20s linear infinite;
  z-index: -1;
}

.green-tree {
  position: absolute;
  top: 10%;
  right: 42%;
  z-index: 0;
  transform: scale(1.5);
}

.grass-moving-left {
  position: absolute;
  bottom: -1%;
  left: -1%;
  width: 408px;
  height: 170px;
  background-image: url("../../../../assets/img/animation-tale/grass1.png");
  animation: grass-moving-left 2s steps(75) infinite;
  z-index: 2;
}

@keyframes grass-moving-left {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 13125px;
  }
}

.grass-moving-center {
  position: absolute;
  bottom: -1%;
  right: 47%;
  width: 398px;
  height: 170px;
  background-image: url("../../../../assets/img/animation-tale/grass2.png");
  animation: grass-moving-center 2s steps(75) infinite;
  z-index: 2;
}

@keyframes grass-moving-center {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 13125px;
  }
}

.grass-moving-right {
  position: absolute;
  bottom: -1%;
  right: 0%;
  width: 128px;
  height: 170px;
  background-image: url("../../../../assets/img/animation-tale/grass3.png");
  animation: grass-moving-right 2s steps(75) infinite;
  z-index: 2;
}

@keyframes grass-moving-right {
  0% {
    background-position-y: 0;
  }
  100% {
    background-position-y: 13125px;
  }
}

.tree-moving-right {
  position: absolute;
  top: 0%;
  right: 1%;
  width: 510px;
  height: 700px;
  background-image: url("../../../../assets/img/animation-tale/tree.png");
  animation: tree-moving 2s steps(75) infinite;
  transform: scale(1.4);
}

.tree-moving-left {
  position: absolute;
  top: 10%;
  right: 86%;
  width: 510px;
  height: 700px;
  background-image: url("../../../../assets/img/animation-tale/tree.png");
  animation: tree-moving 2s steps(75) infinite;
  transform: scale(1.4);
}
@keyframes tree-moving {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 39000px;
  }
}

.squirell-moving {
  position: absolute;
  bottom: 10%;
  right: 1%;
  width: 125px;
  height: 140px;
  background-image: url("../../../../assets/img/animation-tale/squirell.png");
  z-index: 2;
}
.squirell-moving:hover {
  bottom: 8.9%;
  animation: squirell-moving 1.5s steps(53) infinite;
}

@keyframes squirell-moving {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 7420px;
  }
}

.rabbit-moving {
  position: absolute;
  bottom: 5%;
  right: 62%;
  z-index: 1;
  width: 210px;
  height: 280px;
  background-image: url("../../../../assets/img/animation-tale/rabbit.png");
}
.rabbit-moving:hover {
  bottom: 4.3%;
  animation: rabbit-moving 1.5s steps(50) infinite;
}

@keyframes rabbit-moving {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 11000px;
  }
}

.racoon-moving {
  position: absolute;
  bottom: 10%;
  right: 73%;
  z-index: 1;
  width: 130px;
  height: 220px;
  background-image: url("../../../../assets/img/animation-tale/racoon.png");
}
.racoon-moving:hover {
  bottom: 9.3%;
  animation: racoon-moving 1.5s steps(45) infinite;
}

@keyframes racoon-moving {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 6300px;
  }
}

.fox-moving {
  position: absolute;
  bottom: 8%;
  right: 81.5%;
  z-index: 1;
  width: 220px;
  height: 250px;
  background-image: url("../../../../assets/img/animation-tale/fox.png");
}
.fox-moving:hover {
  bottom: 7.6%;
  animation: fox-moving 1.5s steps(43) infinite;
}

@keyframes fox-moving {
  0% {
    background-position: 0;
  }
  100% {
    background-position: 9460px;
  }
}

/* .birch-tree {
  position: absolute;
  bottom: 43%;
  right: 70%;
} */

.beaver {
  position: absolute;
  bottom: 17%;
  right: 5%;
  z-index: -1;
}

@keyframes clouds {
  0% {
    right: 20%;
  }
  50% {
    right: 70%;
  }
  100% {
    right: 120%;
  }
}

/* @media (min-width: 1441px) and (min-height: 800px) {
  .tale-title {
    font-size: 2.5em;
    line-height: 0.8em;
  }
  .tale-body p {
    font-size: medium;
  }
} */

@media only screen and (min-device-height: 720px) and (max-device-height: 919px) {
  .rabbit-moving:hover {
    bottom: 4.2%;
  }
  .tree-moving-left {
    left: -21%;
    top: -2%;
    transform: scale(1);
  }
  .tree-moving-right {
    top: -2%;
    transform: scale(1);
  }
  .green-tree {
    left: 36%;
    top: 5%;
    transform: scale(1.2);
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .wrap-height {
    min-width: unset;
    min-height: 880px;
    height: 100%;
  }
  .full-height {
    height: calc(100vh - 145px);
    border-radius: 0 !important;
  }
  .tale-block {
    right: unset;
    left: 5%;
    top: 20px;
  }
  .grass-moving-center,
  .grass-moving-right {
    display: none;
  }
  .grass-moving-left {
    transform: scale(1.4);
    left: 5%;
    bottom: 0%;
  }
  .pages-list {
    right: unset;
    left: 155px;
    top: 570px;
  }
  .show-port {
    display: none;
  }
  .tale-title {
    font-size: 65px;
    line-height: 1.4rem;
    padding-bottom: 1.6rem;
    font-weight: normal;
  }
  .tale-body p {
    font-weight: 500;
    color: #2b2a29;
  }
  .fox-moving {
    left: 10%;
    bottom: 3%;
    transform: scale(1.2);
  }
  .green-tree {
    position: absolute;
    bottom: 22%;
    right: -36%;
    height: 73%;
  }
  .rabbit-moving {
    right: 10%;
    transform: scale(1.3);
  }
  .squirell-moving {
    right: 5%;
  }
  /* .rabbit-moving:hover {
    bottom: 4.5%;
  } */

  .squirell-moving {
    right: 1%;
    display: none;
  }
  .beaver {
    display: none;
  }
  .racoon-moving {
    left: 47%;
    bottom: 6%;
    transform: scale(1.3);
  }
  .racoon-moving:hover {
    bottom: 5.2%;
  }
  .fox-moving:hover {
    bottom: 2.7%;
  }
  .tree-moving-left {
    left: -32%;
    top: 0%;
    transform: scale(1.1);
  }
  .tree-moving-right {
    /* transform: scale(1.3);
    bottom: 10%; */
    display: none;
  }
  .green-tree {
    top: 0%;
  }
  .pages-list {
    z-index: 2;
  }
}
</style>