<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-7"
      title="Fox Money"
      subtitle="Наша валюта"
      iconsrc="img/icons/knowledge-icon.png"
      iconclass="icon-header"
      voiceText="У нас есть своя валюта - fox money. 1 фокс = 1 рубль. У тебя есть своя банковская карта fox card, которую ты пополняешь выполняя задания в школе Business Fox. После прохождения каждой fox story, ты можешь посмотреть итог своей месячной работы на банковской карточке fox business."
    />
    <div
      class="mt-2 full-height blue-bg bottom-radius shadow-body border-body container-fluid no-select animate__animated animate__fadeIn value-section"
      style="overflow-y: auto"
    >
      <div class="wrap-height">
        <div class="value-block container">
          <div class="value-money active" ref="money">
            <button class="sound-btn" @click="playSound(1)">
              <!-- <img
                src="@/assets/img/icons/listen_icon_white.png"
                alt="volume"
              /> -->
            </button>
            <img
              src="@/assets/img/pictures/money.svg"
              alt="money"
              class="money-img"
            />
            <button class="arrow-btn" @click="clickArrow" ref="arrow">
              <img
                src="@/assets/img/icons/right-arrow-2-yellow.svg"
                alt="arrow"
              />
            </button>
          </div>
          <div class="value-card" ref="card">
            <button class="sound-btn" @click="playSound(2)">
              <!-- <img
                src="@/assets/img/icons/listen_icon_white.png"
                alt="volume"
              /> -->
            </button>
            <img
              src="@/assets/img/pictures/card.svg"
              alt="card"
              class="card-img"
            />
          </div>
          <img
            class="fox"
            src="@/assets/img/pictures/fox-bankeer.svg"
            alt="fox-bankeer"
          />
        </div>
        <ButtonNext show link="4" class="white-next-btn-bg" />
      </div>
    </div>
  </section>
</template>

<script>
import { PlayerMapper } from "@/store/player";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
export default {
  name: "Page3",
  components: { TopMenu, ButtonNext },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    clickArrow() {
      this.boop();

      var mql = window.matchMedia("(orientation: portrait)");

      if (!mql.matches) {
        if (this.$refs.arrow.style.transform == "rotate(180deg)") {
          this.$refs.arrow.style.transform = "rotate(0)";
          this.$refs.money.classList.add("active");
          this.$refs.card.classList.remove("active");
        } else {
          this.$refs.arrow.style.transform = "rotate(180deg)";
          this.$refs.money.classList.remove("active");
          this.$refs.card.classList.add("active");
        }
      } else {
        if (this.$refs.arrow.style.transform == "rotate(-90deg)") {
          this.$refs.arrow.style.transform = "rotate(90deg)";
          this.$refs.money.classList.add("active");
          this.$refs.card.classList.remove("active");
        } else {
          this.$refs.arrow.style.transform = "rotate(-90deg)";
          this.$refs.money.classList.remove("active");
          this.$refs.card.classList.add("active");
        }
      }
    },
    quack() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/Duck-quack.mp3");
      audio.play();
    },
    playSound(number) {
      this.audio.pause();
      this.sound.pause();
      this.sound = new Audio(
        require(`@/assets/sounds/app-voice/page3/05.${number}.mp3`)
      );
      this.sound.play();
      if (number == 2) {
        this.$refs.arrow.style.transform = "rotate(180deg)";
        this.$refs.money.classList.remove("active");
        this.$refs.card.classList.add("active");
      } else {
        this.$refs.arrow.style.transform = "rotate(0)";
        this.$refs.money.classList.add("active");
        this.$refs.card.classList.remove("active");
      }
    },
  },
  data() {
    return {
      sound: new Audio(),
    };
  },
  computed: {
    ...PlayerMapper.mapState(["audio", "currentTime"]),
  },
  watch: {
    currentTime: {
      handler(newValue) {
        if (!this.audio.paused) {
          if (newValue > 30) {
            this.$refs.arrow.style.transform = "rotate(180deg)";
            this.$refs.money.classList.remove("active");
            this.$refs.card.classList.add("active");
          } else {
            this.$refs.arrow.style.transform = "rotate(0)";
            this.$refs.money.classList.add("active");
            this.$refs.card.classList.remove("active");
          }
        }
      },
    },
  },
  mounted() {
    this.setAudio(new Audio(require("@/assets/sounds/app-voice/page3/05.mp3")));
    this.audio.play();
    // setTimeout(() => {
    //   if (this.$refs.arrow.style.transform == "rotate(180deg)") {
    //     this.$refs.arrow.style.transform = "rotate(0)";
    //     this.$refs.money.classList.add("active");
    //     this.$refs.card.classList.remove("active");
    //   } else {
    //     this.$refs.arrow.style.transform = "rotate(180deg)";
    //     this.$refs.money.classList.remove("active");
    //     this.$refs.card.classList.add("active");
    //   }
    // }, 10000);
  },
  beforeRouteLeave(_, __, next) {
    this.audio.pause();
    this.sound.pause();
    _;
    __;
    next();
  },
};
</script>

<style  scoped>
.value-section {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.value-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 25px rgb(0 0 0 / 15%);
  border-radius: 25px;
  position: relative;
  height: 465px;
  margin-bottom: 90px;
  /* margin-left: 10px; */
  width: 1040px;
  padding: 0;

  z-index: 4;
}
.fox {
  position: absolute;
  right: -5%;
  bottom: -2%;
  width: auto;
  height: 275px;
}
.arrow-btn {
  position: absolute;
  right: -20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  outline: none;
  border: none;
  display: flex;
  z-index: 2;
  transition: 0.5s ease-in-out;
}
.arrow-btn > img {
  width: 40%;
  height: auto;
  margin: auto;
}
.active {
  background-color: #ffde3b;
  border-radius: 25px;
  box-shadow: 0px 0px 15px #00000015;
}
.value-money,
.value-card {
  flex: 1 1 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  transition: 0.5s ease-in-out;
}
.money-img,
.card-img {
  filter: drop-shadow(0px 0px 15px #00000015);
  object-fit: contain;
}
.money-img {
  width: 483px;
  height: 440px;
  object-fit: contain;
  padding-top: 20px;
  padding-right: 35px;
}
.card-img {
  width: 280px;
  height: 200px;
  margin-bottom: 8px;
  margin-right: 39px;
}
.sound-btn {
  position: absolute;
  top: 4%;
  left: 3%;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: url("../../../../assets/img/icons/sound-white.svg");
  background-size: 70%;
  background-position: center;
  background-repeat: no-repeat;
  filter: invert(0.6);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sound-btn img {
  filter: invert(0.6);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .wrap-height {
    height: 960px;
    align-items: flex-end;
  }
  .full-height {
    height: calc(100vh - 155px);
    border-radius: 0;
  }
  .value-block {
    height: 825px;
    width: 520px;
    flex-flow: column nowrap;
  }
  .value-money,
  .value-card {
    flex: 1 1 50%;
    height: 100%;
    width: 100%;
  }
  .card-img {
    margin-bottom: 135px;
  }
  .arrow-btn {
    right: calc(50% - 20px);
    bottom: -20px;
    transform: rotate(90deg);
  }
  .fox {
    right: -10%;
    bottom: 2%;
  }
}
</style>