<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-8"
      title="Интернет магазин"
      subtitle=""
      iconsrc="img/icons/knowledge-icon.png"
      iconclass="icon-header"
    />
    <div
      class="mt-2 full-height yellow-bg shadow-body bottom-radius ipad-scroll animate__animated animate__fadeIn container-fluid relative-block no-select center-content"
      style="overflow-y: auto"
    >
      <hr class="hr-invisible m-0 py-1" />
      <!-- <div class="wrap-height"> -->

      <div v-if="!portrait" class="flex-block">
        <AnimPage4 class="display-pc" />
        <div class="row justify-content-end">
          <div class="col-5 pr-5 mr-4 text-center">
            <div class="relative-block anim-square">
              <div
                src="@/assets/img/page-8-anim/loading-circle.svg"
                alt=""
                class="loading"
              ></div>
              <img
                src="@/assets/img/page-8-anim/check.svg"
                alt=""
                class="absolute-block check-img"
              />
            </div>
          </div>
        </div>
        <div class="row mt-2 justify-content-end">
          <div
            class="pointer col-5 pr-5 mr-4 text-center"
            @click="
              audio.currentTime = 0.0;
              audio.play();
            "
          >
            <img
              src="@/assets/img/icons/sound-white.svg"
              alt=""
              class="sound-white-icon"
            />
          </div>
        </div>
        <div class="row justify-content-end">
          <div class="col-5 pr-5 mr-4 text-center">
            <p class="text-description mb-0">Заработанные тобой</p>
            <p class="text-description m-0">Fox Money ты можешь потратить</p>
            <p class="text-description m-0">в нашем</p>
            <p class="text-description m-0">интернет-магазине</p>

            <b-button class="my-auto pl-5" variant="shop" @click="boop">
              <p class="text-center m-0 button-buy-text">Fox shop</p>

              <img
                src="@/assets/img/icons/icon-start.svg"
                alt=""
                class="img-start pt-1"
              />
            </b-button>
          </div>
        </div>
      </div>

      <div v-else class="flex-block-ipad mt-5">
        <div class="wrap-ipad">
          <div class="relative-block anim-square">
            <div class="loading"></div>
            <img
              src="@/assets/img/page-8-anim/check.svg"
              alt=""
              class="absolute-block check-img"
            />
          </div>
          <div class="flex-rows">
            <div class="row">
              <div
                class="col d-flex flex-column align-items-center text-center"
              >
                <div
                  class="pointer col-4 text-center"
                  @click="
                    audio.currentTime = 0.0;
                    audio.play();
                  "
                >
                  <img
                    src="@/assets/img/icons/sound-white.svg"
                    alt=""
                    class="sound-white-icon"
                  />
                </div>
                <p class="text-description mb-0">Заработанные тобой</p>
                <p class="text-description m-0">
                  Fox Money ты можешь потратить
                </p>
                <p class="text-description m-0">в нашем интернет-магазине</p>
              </div>
            </div>
            <div class="row">
              <b-button class="my-auto" variant="shop" @click="boop">
                <p class="text-center pl-4 m-0 button-buy-text">Fox shop</p>

                <img
                  src="@/assets/img/icons/icon-start.svg"
                  alt=""
                  class="img-start pt-1"
                />
              </b-button>
            </div>
          </div>
        </div>

        <AnimPage4 class="display-ipad" />
      </div>
    </div>
    <ButtonNext show link="5" class="another-next-btn-bg" />
  </section>
</template>

<script>
import { PlayerMapper } from "@/store/player";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import AnimPage4 from "@/components/tales/tale1/anims/AnimPage4.vue";
export default {
  name: "Page4",

  data() {
    return {
      portrait: false,
    };
  },
  components: { TopMenu, ButtonNext, AnimPage4 },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),

    changeOrientation() {
      if (screen.width < 1439) {
        this.portrait = true;
      } else {
        this.portrait = false;
      }
      // console.log(this.portrait);
    },
  },
  created() {
    window.addEventListener("resize", this.changeOrientation);
  },
  destroyed() {
    window.removeEventListener("resize", this.changeOrientation);
  },
  computed: {
    ...PlayerMapper.mapState(["audio"]),
  },
  mounted() {
    if (screen.width < 1439) {
      this.portrait = true;
    } else {
      this.portrait = false;
    }
    this.setAudio(new Audio(require("@/assets/sounds/app-voice/page4/06.mp3")));
    this.audio.play();
    // console.log(this.portrait);
  },
  beforeRouteLeave(_, __, next) {
    this.audio.pause();

    _;
    __;
    next();
  },
};
</script>

<style  scoped>
.text-description {
  font-weight: 600;
  font-size: 25px;
  line-height: 26px;
  color: #2b2a29;
  opacity: 0.5;
}
.text-description-bold {
  font-weight: 900;
  font-size: 26px;
  line-height: 26px;
}
.btn-shop {
  background: none;
  display: flex;
  align-items: center;
  flex-flow: row nowrap;
  margin: auto;
}
.img-start {
  height: 3rem;
  width: 3rem;
  margin-left: 0.5rem;
}

.button-buy-text {
  font-size: 76px;
  line-height: 4rem;
  padding-bottom: 2rem;
  font-weight: normal;
  color: #000;
  font-family: "Pribambas";
}
.sound-white-icon {
  width: 13px;
  filter: invert(1);
}
.shop-icon {
  height: 100%;
}
.flex-block {
  display: flex;
  flex-flow: column nowrap;
  height: 650px;
  margin: auto;
  justify-content: center;
  padding-bottom: 105px;
  position: relative;
  max-width: 1275px;
  min-width: 1275px;
}
.flex-block-ipad {
  z-index: 1;
  padding-bottom: 0%;
  width: 735px;
  height: 800px;
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-flow: row nowrap;
  justify-content: center;
  margin: auto;
}
.wrap-ipad {
  position: relative;
  width: 655px;
  display: flex;
}
.flex-rows {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}
.row-buy-btn {
  align-items: center;
  justify-content: space-between;
  width: 70%;
  height: 6vh;
  margin-left: auto;
}
/* .button-buy-text {
  font-size: 17px;
  line-height: 20px;
  font-weight: bold;
  color: #fff;
} */
.anim-square {
  height: 135px;
  width: 135px;
  margin: auto;
}
.loading {
  height: 100%;
  width: auto;
  animation-name: rotation;
  animation-duration: 3.5s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0.85, -0.3, 0.5, 1.15);
  border: 2px solid white;
  border-radius: 50%;
  position: relative;
}
.loading:before {
  content: "";
  position: absolute;
  top: -4%;
  left: -4%;
  width: 50%;
  height: 50%;
  background-color: lightskyblue;
  border-radius: 100% 0 0 0;
}
.loading:after {
  background: #ffde3b;
  width: 92%;
  height: 92%;
  border-radius: 50%;
  content: "";
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.check-img {
  height: 35px;
  width: 50px;

  object-fit: contain;
  top: 41%;
  right: 31%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .button-buy-text {
    font-size: 76px;
  }
  .anim-square {
    margin-top: 0%;
  }
  .full-height {
    height: calc(100vh - 155px);
    border-radius: 0;
  }
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(1080deg);
  }
}
</style>