<template>
  <section class="h-100" style="position: relative">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page20.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      id="top-page-menu-27"
      title="Presentation Guide"
      subtitle="Самопрезентация"
      iconclass="icon-header-number"
      white_text_1="РАЗВИВАЕМ"
      white_text_2="НАВЫКИ ВЫСТУПЛЕНИЯ"
      :number="20"
      voiceText="Это задание повышенной сложности! Ответ даст тебе 20 фоксов, постарайся - будь внимателен. Если ты решишь не отвечать, у тебя есть такая возможность, но заработать фоксы уже не получиться.
      Ты узнал много профессий, а теперь расскажи своими словами о той профессии, что понравилась тебе больше всех."
    />
    <section class="no-select">
      <div class="page-loader">
        <!-- <div class="cube-loader right-cube"></div>
        <div class="cube-loader center-right-cube"></div>
        <div class="cube-loader center-left-cube"></div>
        <div class="cube-loader left-cube"></div> -->
      </div>
      <div
        class="
          container-fluid
          height-p20
          bottom-radius
          shadow-body
          work-container
          opacity-anim-9
        "
        style="overflow-y: auto"
        :class="{ 'white-bg': workIsChosen, 'green-bg': !workIsChosen }"
      >
        <SideRightMenu
          :sendToMentorActive="loaded"
          :coinsTarget="currentTask.target"
          :pushPath="'tale1-path'"
          :pushTale="'tale1-9'"
          :coins="currentTask.coins"
          light
          @send="sendToMentor"
          high_mentor
        />

        <div v-show="!workIsChosen" class="first-block container">
          <button
            @mouseover="blurry = true"
            @mouseleave="blurry = false"
            @click="chooseWork(work), addAnims()"
            class="work-choose-btn"
            :class="work.img"
            v-for="work in workList"
            :key="work.id"
          >
            <div :class="work.img"></div>

            <!-- <img
                :class="{ blurry: blurry }"
                :src="getImgUrlChoise(work.img)"
                :alt="work.name"
                class="pick-img"
              /> -->
          </button>
        </div>

        <div
          v-show="workIsChosen"
          class="chosen-work-container opacity-anim-shorter"
        >
          <div
            @click="changePosition(), addAnimsExtra()"
            :key="cardIsOpen"
            class="chosen-work-card green-bg"
          >
            <div class="chosen-work-block">
              <!-- @click="acceptChoose" -->
              <div class="chosen-work-title">
                <div class="left">
                  <button class="sound-btn" @click="playSound">
                    <img
                      :style="{ width: '60%', height: 'auto' }"
                      src="@/assets/img/icons/sound.svg"
                      alt="listen"
                    />
                  </button>

                  <span class="span-text">{{ activeWork.name }}</span>
                </div>
                <img
                  class="accept-btn"
                  src="@/assets/img/icons/agree.svg"
                  alt="check"
                />
              </div>
              <div class="chosen-work-body">
                <div :class="activeWork.card"></div>
                <!-- <img
                    ref="work"
                    :src="getImgUrl(activeWork.img)"
                    :alt="activeWork.name"
                  /> -->
              </div>
            </div>
          </div>

          <div class="chosen-work-slide">
            <div class="text">
              <p>Вопросы-Подсказки</p>
              <p>Что я узнал о {{ activeWork.name1 }}</p>
            </div>
            <div class="img-load">
              <input
                style="display: none"
                ref="input"
                accept="image/*"
                type="file"
                @change="loadImg"
              />
              <button
                @click="deleteImg"
                v-if="imgSrc"
                class="absolute-block delete-image btn-invisible-button"
              >
                <img
                  src="@/assets/img/pictures/delete-image.svg"
                  alt=""
                  class="img-fluid"
                />
              </button>
              <button ref="img" class="load-btn" @click="$refs.input.click()">
                <img
                  v-show="imgSrc"
                  class="load-success"
                  src="@/assets/img/pictures/loaded.svg"
                  alt="Успех"
                />
                <img
                  v-show="!imgSrc"
                  src="@/assets/img/icons/upload.png"
                  alt="Загрузить"
                />
              </button>
              <div class="img-text">
                <img src="@/assets/img/icons/image-icon.svg" alt="Ответ" />
                <input type="text" v-model="fileName" @change="changeName" />
              </div>
            </div>
          </div>
        </div>
      </div>
      <ButtonNext :show="tale.pages > 20" link="21" class="white-next-btn-bg" />
    </section>
  </section>
</template>

<script>
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
export default {
  name: "Page20",
  components: { TopMenu, SideRightMenu, ButtonNext },
  data() {
    return {
      videoPlay: true,
      blurry: false,
      workIsChosen: false,
      pageIsSucceed: false,
      currentTask: {},
      fileName: "Мой ответ",
      activeWork: {
        id: 1,
        img: "pg-housewife",
        card: "card-gardener",
        name: "Экономка",
        name1: "экономке",
        name2: "экономку",
      },
      workList: [
        {
          id: 1,
          img: "pg-housewife",
          card: "card-housewife",
          name: "Экономка",
          name1: "экономке",
          name2: "экономку",
        },
        {
          id: 2,
          img: "pg-gardener",
          card: "card-gardener",
          name: "Садовник",
          name1: "садовнике",
          name2: "садовника",
        },
        {
          id: 3,
          img: "pg-cleaner",
          card: "card-cleaner",
          name: "Уборщик",
          name1: "уборщике",
          name2: "уборщика",
        },
        {
          id: 4,
          img: "pg-babysitter",
          card: "card-nanny",
          name: "Няня",
          name1: "няне",
          name2: "няню",
        },
        {
          id: 5,
          img: "pg-cooker",
          card: "card-cook",
          name: "Повар",
          name1: "поваре",
          name2: "повара",
        },
      ],
      loaded: false,
      file: null,
      imgSrc: null,
      cardIsOpen: false,
      defaultPosition: true,
      workAudio: new Audio(),
      podskazka: setTimeout(
        new Audio(require("@/assets/sounds/app-voice/page20/57.1.mp3")),
        60000
      ),
    };
  },

  computed: {
    ...TaleMapper.mapState(["tale"]),
    ...PlayerMapper.mapState(["rightAudio"]),
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio", "setRightAudio"]),
    ...PlayerMapper.mapActions(["playRightAudio", "stopAllAudio"]),
    ...TaleMapper.mapActions(["getTasks"]),

    playSound() {
      this.stopAllAudio();
      this.setRightAudio(
        new Audio(
          require(`@/assets/sounds/app-voice/page16/32.${this.activeWork.id}.mp3`)
        )
      );
      this.playRightAudio();
    },

    // Блок анимации. Вместо Vue Transition использовал классическую анимацию, так как вьюшная очень сильно лагает

    changePosition() {
      this.defaultPosition = !this.defaultPosition;
      if (this.defaultPosition === true) {
        if (screen.width >= 1440) {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateX(-55%)";
          document.querySelector(".chosen-work-card").style.transform =
            "translateX(50%)";
          document.querySelector(".chosen-work-slide").style.opacity = 0;
        } else {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateY(-100%);";
          document.querySelector(".chosen-work-slide").style.height = "100px";
          document.querySelector(".chosen-work-card").style.transform =
            "translateY(0%)";
          document.querySelector(".chosen-work-slide").style.opacity = 0;
        }
      }
      if (this.defaultPosition === false) {
        if (screen.width < 1440) {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateX(0%)";
          document.querySelector(".chosen-work-card").style.transform =
            "translateX(0%)";
          document.querySelector(".chosen-work-slide").style.height = "425px";
          document.querySelector(".chosen-work-slide").style.opacity = 1;
        } else {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateY(0%)";
          document.querySelector(".chosen-work-card").style.transform =
            "translateY(0%)";
          document.querySelector(".chosen-work-slide").style.opacity = 1;
        }
      }
    },

    addAnims() {
      document
        .querySelector(".chosen-work-title")
        .classList.add("scale-x-anim");
      document.querySelector(".sound-btn").classList.add("opacity-anim-18");
      document.querySelector(".accept-btn").classList.add("opacity-anim-18");
      document.querySelector(".span-text").classList.add("opacity-anim-18");
    },

    addAnimsExtra() {
      document.querySelector(".text").classList.add("opacity-anim-18");
    },

    //

    getImgUrlChoise(pic) {
      return require(`@/assets/img/presentation-guide/${pic}.png`);
    },
    acceptChoose() {
      this.cardIsOpen = !this.cardIsOpen;
    },
    async chooseWork(work) {
      this.stopAllAudio();
      this.setRightAudio(
        new Audio(require(`@/assets/sounds/app-voice/page20/54.${work.id}.mp3`))
      );
      this.playRightAudio();
      // this.workAudio.onended = () => {
      //   this.workAudio = new Audio(
      //     require("@/assets/sounds/app-voice/page20/57.mp3")
      //   );
      //   this.workAudio.play();
      // };
      // this.workAudio.play();
      this.activeWork = work;
      this.workIsChosen = true;
      await this.patchAnswer({
        id: this.currentTask.answers[0]._id,
        data: { text_answer: this.activeWork.name },
      });
    },
    loadImg() {
      this.file = this.$refs.input.files[0];
      let reader = new FileReader();
      reader.addEventListener(
        "load",
        function () {
          this.imgSrc = reader.result;

          // this.$refs["img"].src = this.imgSrc;
          this.$refs["img"].style.backgroundImage = `url(${this.imgSrc})`;
        }.bind(this),
        false
      );
      if (this.file) {
        if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
          this.fileName = this.file.name;
        }
      }
      this.loaded = true;
      this.sendImage();
    },
    async sendImage() {
      let answerID = await this.currentTask.answers[1]._id;
      let answerData = new FormData();
      answerData.set("answer", this.file, this.file.name);
      console.log(answerData);

      await this.patchFormAnswer({ id: answerID, data: answerData });
      await this.patchAnswer({
        id: this.currentTask.answers[2]._id,
        data: { text_answer: this.file.name },
      });
    },
    async changeName() {
      await this.patchAnswer({
        id: this.currentTask.answers[2]._id,
        data: { text_answer: this.fileName },
      });
    },
    ...TaleMapper.mapActions([
      "patchTale",
      "getTale",
      "patchTask",
      "patchAnswer",
      "patchFormAnswer",
    ]),

    deleteImg() {
      this.loaded = false;
      this.imgSrc = "";
      this.$refs["img"].style.backgroundImage = "";
      this.fileName = "Мой ответ";
    },
    async sendToMentor() {
      await this.patchAnswer({
        id: this.currentTask.answers[0].id,
        data: { text_answer: this.activeWork.name },
      });
      let answerData = new FormData();
      answerData.append("answer", this.$refs.input.files[0]);
      await this.patchFormAnswer({
        id: this.currentTask.answers[1].id,
        data: answerData,
      });
      await this.patchAnswer({
        id: this.currentTask.answers[2].id,
        data: { text_answer: this.fileName },
      });
      await this.patchTask({
        id: this.currentTask.id,
        data: { success: true, coins: 20 },
      });
      if (this.tale.pages < 21) {
        await this.patchTale({ pages: 21 });
      }
      this.$router.push({ name: `tale${this.tale.number}-checking` });
    },
    initialAudio() {
      this.setAudio(
        new Audio(require("@/assets/sounds/app-voice/page20/54.mp3"))
      );
    },
    initialAnimation() {
      setTimeout(() => {
        document.querySelector(".page-loader").style.display = "none";
      }, 1600);
      if (screen.height === 1024 && screen.width === 768) {
        document.documentElement.style.overflowY = "hidden";
      }
      //  this.defaultPosition = !this.defaultPosition;
      if (this.defaultPosition === true) {
        if (screen.width >= 1440) {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateX(-55%)";
          document.querySelector(".chosen-work-card").style.transform =
            "translateX(50%)";
          document.querySelector(".chosen-work-slide").style.opacity = 0;
        } else {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateY(-100%);";
          document.querySelector(".chosen-work-slide").style.height = "100px";
          document.querySelector(".chosen-work-card").style.transform =
            "translateY(0%)";
          document.querySelector(".chosen-work-slide").style.opacity = 0;
        }
      }
      if (this.defaultPosition === false) {
        if (screen.width < 1440) {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateX(0%)";
          document.querySelector(".chosen-work-card").style.transform =
            "translateX(0%)";
          document.querySelector(".chosen-work-slide").style.height = "425px";
          document.querySelector(".chosen-work-slide").style.opacity = 1;
        } else {
          document.querySelector(".chosen-work-slide").style.transform =
            "translateY(0%)";
          document.querySelector(".chosen-work-card").style.transform =
            "translateY(0%)";
          document.querySelector(".chosen-work-slide").style.opacity = 1;
        }
      }
    },
  },

  async mounted() {
    await this.getTale(this.tale.id);
    let tasks = await this.getTasks(this.tale.id);
    this.currentTask = await tasks.find((task) => task.page == 20);

    if (this.currentTask.answers[1].answer) {
      this.workIsChosen = true;
      this.cardIsOpen = true;
      this.activeWork = this.workList.find(
        (work) => work.name == this.currentTask.answers[0].text_answer
      );
      this.imgSrc = this.currentTask.answers[1].answer;

      let imgFile = document.querySelector(".load-btn");
      imgFile.style.backgroundImage = `url(${this.imgSrc})`;
      // imgFile.style.pointerEvents = "none";

      this.fileName = this.currentTask.answers[2].text_answer;
    }
  },
  beforeRouteLeave(_, __, next) {
    clearTimeout(this.podskazka);
    _;
    __;
    next();
  },
};
</script>

<style scoped>
.work-container {
  display: flex;
  justify-content: center;
  /* align-items: center; */
}
/* //!1111111111111111111111 */
.first-block {
  width: 100%;
  /* height: 100%; */
  height: 580px;
  position: relative;
}
.work-choose-btn {
  width: 19%;
  height: 250px;
  opacity: 1;
  border: none;
  outline: none;
  background: none;
  position: absolute;
}
.blurry {
  opacity: 0.7;
}
.work-choose-btn:hover > img {
  transform: scale(1.05);
  opacity: 1 !important;
}

/* CARDS SPRITES */

.card-housewife {
  width: 260px;
  height: 270px;
  background-image: url("../../../../assets/img/presentation-guide/housekeeperSmall.png");
  animation: housekeeper-small 4s steps(50) infinite;
  transform: scale(1.4);
}
.card-gardener {
  position: absolute;
  right: 17%;
  width: 260px;
  height: 270px;
  background-image: url("../../../../assets/img/presentation-guide/gardenerSmall.png");
  animation: gardener-small 3s steps(65) infinite;
  transform: scale(1.5);
}
.card-cleaner {
  width: 260px;
  height: 270px;
  background-image: url("../../../../assets/img/presentation-guide/cleanerSmall.png");
  animation: cleaner-small 4s steps(69) infinite;
  transform: scale(1.5);
}
.card-cook {
  width: 260px;
  height: 270px;
  background-image: url("../../../../assets/img/presentation-guide/cookSmall.png");
  animation: cook-small 3s steps(43) infinite;
  transform: scale(1.5);
}
.card-nanny {
  position: absolute;
  right: 21%;
  width: 260px;
  height: 230px;
  background-image: url("../../../../assets/img/presentation-guide/nannySmall.png");
  animation: nanny-small 5s steps(88) infinite;
  transform: scale(1.5);
}

/* BG SPRITES */

.work-choose-btn.pg-cleaner {
  top: 4%;
  left: 6%;
  width: 260px;
  height: 270px;
  opacity: 0.7;
  transform: scale(0.95);
  background-image: url("../../../../assets/img/presentation-guide/cleanerSmall.png");
}
.work-choose-btn.pg-cleaner:hover {
  top: 5.5%;
  opacity: 1;
  animation: cleaner-small 3s steps(69) infinite;
}
@keyframes cleaner-small {
  0% {
    background-position: 510px;
  }
  50% {
    background-position: 18105px;
  }
  100% {
    background-position: 18105px;
  }
}
.work-choose-btn.pg-gardener {
  top: 29%;
  left: 34%;
  width: 260px;
  opacity: 0.7;
  background-image: url("../../../../assets/img/presentation-guide/gardenerSmall.png");
}
.work-choose-btn.pg-gardener:hover {
  top: 29.5%;
  opacity: 1;
  animation: gardener-small 3s steps(65) infinite;
}
@keyframes gardener-small {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 16250px;
  }
  100% {
    background-position: 16250px;
  }
}
.work-choose-btn.pg-housewife {
  bottom: 0.3%;
  right: 24%;
  width: 260px;
  height: 290px;
  opacity: 0.7;
  background-image: url("../../../../assets/img/presentation-guide/housekeeperSmall.png");
}
.work-choose-btn.pg-housewife:hover {
  bottom: 0.8%;
  opacity: 1;
  animation: housekeeper-small 3s steps(50) infinite;
}
@keyframes housekeeper-small {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 12750px;
  }
  100% {
    background-position: 12750px;
  }
}
.work-choose-btn.pg-babysitter {
  top: 7%;
  right: 19%;
  width: 260px;
  opacity: 0.7;
  background-image: url("../../../../assets/img/presentation-guide/nannySmall.png");
}
.work-choose-btn.pg-babysitter:hover {
  top: 7%;
  opacity: 1;
  animation: nanny-small 5s steps(88) infinite;
}
@keyframes nanny-small {
  0% {
    background-position: 500px;
  }
  50% {
    background-position: 22500px;
  }
  100% {
    background-position: 22500px;
  }
}
.work-choose-btn.pg-cooker {
  bottom: 0%;
  left: 14%;
  width: 260px;
  height: 280px;
  opacity: 0.7;
  background-image: url("../../../../assets/img/presentation-guide/cookSmall.png");
}
.work-choose-btn.pg-cooker:hover {
  bottom: 1.2%;
  opacity: 1;
  animation: cook-small 3s steps(43) infinite;
}
@keyframes cook-small {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 10750px;
  }
  100% {
    background-position: 10750px;
  }
}
/* //!2222222222222222222222 */

.sound-btn {
  width: 25px;
  height: 25px;
  margin-left: 8px;
  /* background-color: transparent; */
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.chosen-work-container {
  width: 100%;
  height: 650px;

  /* margin-top: 50px; */
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
}
.chosen-work-card {
  width: 470px;
  padding-top: 470px;
  position: relative;
  border-radius: 7%;
  transition: 0.5s ease;
  transform: translateX(50%);
  cursor: pointer;
  z-index: 1;
}

.chosen-work-block {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: center;
  transition: 0.5s ease;
}
.chosen-work-title {
  width: 96%;
  height: 10%;
  margin-top: 2%;
  border-radius: 2rem;
  background-color: #ffde3bff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: 0.5s ease;
}
.chosen-work-title:hover {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}
.chosen-work-title .left {
  flex: 1 1 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}
.chosen-work-title .left > img {
  height: 30px;
  width: 30px;
  padding: 0.3rem;
  margin: 0 5px;
  border-radius: 100%;
  border: 1px solid;
  -o-object-fit: contain;
  object-fit: contain;
}
.chosen-work-title .left > span {
  font-weight: bold;
  color: #2b2a297a;
  font-size: 1.1rem;
  padding-left: 2%;
}
.chosen-work-title > img {
  max-height: 90%;

  object-fit: contain;
  width: 10%;
  margin-right: 1%;
  border-radius: 100%;

  padding: 0.2rem;
}
.chosen-work-body {
  height: 90%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chosen-work-body img {
  height: 90%;
  width: auto;
  max-width: 95%;
}
/* //!333333333333333333333333333 */
.chosen-work-slide {
  width: 550px;
  height: 425px;
  /* background-color: red; */
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: flex-end;
  margin-right: 20px;
  padding-right: 20px;
  border-radius: 0 35px 35px 0;
  transform: translateX(-55%);
  transition: 1s;
  z-index: 0;
  background-color: #f3f3f350;
}
.chosen-work-slide > .text {
  text-align: left;
  width: 75%;
  line-height: 1rem;
  font-weight: bold;
  color: #2b2a29;
}
.chosen-work-slide > .text > p:first-child {
  color: #2b2a2980;
  font-weight: 500;
}
.img-load {
  background: #f3f3f350;
  width: 85%;
  height: 73%;

  margin-bottom: 40px;

  border-radius: 2rem;
  border: 2px solid lightgray;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-end;
  align-items: center;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 12%;
  padding: 1%;
}
.img-text > img {
  height: 90%;
  width: auto;
  margin-right: 10px;
  filter: invert(0.5) brightness(1);
}
.img-text > input {
  font-weight: bold;
  color: #636260;
  outline: none;
  border: none;
  background: none;
  text-align: center;
  width: auto;
  min-width: 50%;
  max-width: 90%;
}
.load-btn {
  height: 80%;
  width: 90%;
  border: 2px solid #fff;
  border-radius: 2rem;
  transition: 0.5s ease;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 50px rgb(0 0 0 / 35%);
}
.load-btn > img {
  max-width: 135px;
  height: auto;
}
.load-btn:hover {
  box-shadow: 0 0 15px rgb(0 0 0 / 15%);
}
.load-success {
  width: 30%;
}
/* //!ANIMATION */
.grow-enter,
.grow-leave-to,
.grow-enter *,
.grow-leave-to * {
  width: 0;
  font-size: 0;
}
.grow-enter-active,
.grow-leave-active,
.grow-enter-active *,
.grow-leave-active * {
  transition: 0.5s ease;
}
/* //!!!!!!!!!!!!!!!!!!!!!!!!! */

.background-text {
  background-color: #f3f3f3;
  border-radius: 10px;
}
.black-text {
  color: #000;
}
.row-ss-bg {
  margin-left: 5em;
  margin-right: 6em;
  height: 70%;
}
.sound-ss {
  width: 25px;
  height: 25px;
  display: flex;
  border: none;
  outline: none;
  background: none;
}
.row-ss-inside {
  height: 50px;
  margin: 0px -8px;
  transition: 0.5s ease;
  cursor: pointer;
}
.row-ss-inside:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.ss-pick-role-text {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  color: #2b2a29;
}
.btn-ss-yes {
  margin-top: 5px;
  margin-right: 2px;
  height: 80%;
  width: 100%;
  background-color: #99ceac;
  border: 2px solid #99ceac;
  border-radius: 100px;
}
.right-window {
  z-index: 0;
}
.btn-ss-yes p {
  font-family: "Gilroy";
  font-weight: bold;
  font-size: 23px;
  line-height: 27px;
  color: #fefefe;
}
.btn-ss-yes:hover {
  box-shadow: 0px 0px 5px #3fc570;
}
.confirmed-ss {
  width: 33px;
}

.flex-loader {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}

.wrap-bg {
  background: url("../../../../assets/img/icons/wrap.png") no-repeat right
    bottom;
  height: 100%;
  z-index: 2;
}
.ss-slide-img {
  height: 38vh;
}
.delete-image {
  width: 30px;
  height: 30px;
  top: 2.5vh;
  right: 5vw;
  border: none;
  outline: none;
  background: none;
}
.btn-img-slide {
  background: none;
  border: none;
}
.not-selected-thum {
  transition: 0.6s ease;
}
.not-selected-thum:hover {
  background: #99ceac71;
}
.row-ss-thumbnails {
  margin-left: 5em;
}
.ss-thumbnail-img {
  height: 55px;
}
.dot-img {
  height: 7px;
}
.ss-arrow-icon {
  width: 18px;
}
.ss-pick-family-text {
  font-weight: bold;
  font-size: 17px;
  line-height: 20px;
  color: #9c9c9b;
}
.image-ss {
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.image-ss > img {
  height: 90%;
  width: auto;
  margin: auto;
}
.prev,
.next {
  width: 30px;
  height: 30px;
  top: calc(40% - 15px);
  border-radius: 100%;
  background: none;
  border: none;
  z-index: 50;
  transition: 0.5s ease;
}
.prev {
  left: 0;
}
.next {
  right: 0;
}

.prev:hover,
.next:hover {
  box-shadow: 0px 0px 10px #fefefe;
}
.ss-fm-img-tall {
  height: 60px;
}
.ss-fm-img-short {
  height: 50px;
}
.ss-exit-icon {
  width: 16px;
}
.ss-wrap-outer {
  height: 32vh;
  width: 80%;
  border: 2px solid #c5c5c5;
  border-radius: 30px;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}
.ss-wrap-inner {
  margin-top: 1em;
  height: 75%;
  border: 2px solid #fefefe;
  border-radius: 30px;
  box-shadow: 0px 0px 20px #2b2a2957;
  width: 60%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  background-size: cover;
  background-position: center;
}
.ss-wrap-inner > img {
  width: 100%;
  height: auto;
}
.load-img {
  height: 80 !important;
  width: auto !important;
}
.loaded-img {
  width: 90px;
  top: calc(50% - 45px);
  left: calc(50% - 45px);
  border: 2px solid #fefefe;
  border-radius: 100%;
}
.ss-video-answer {
  width: 30px;
}
.ss-answer-filename {
  font-size: 16px;
  font-weight: bold;
  color: #9c9c9b;
}
.mt-role-text {
  margin-top: 0.5em;
}
.margin-photo-p27 {
  margin-top: 0;
}
.height-p20 {
  /* height: 77vh; */
  height: calc(100vh - 120px);
}
.pick-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.slide-enter-active,
.slide-leave-active,
.slide-reverse-enter-active,
.slide-reverse-leave-active {
  transition: 0.3s;
}
.slide-enter {
  transform: translateX(-30%);
  opacity: 0;
}
.slide-leave-to {
  transform: translateX(30%);
  opacity: 0;
}
.slide-reverse-enter {
  transform: translateX(30%);
  opacity: 0;
}
.slide-reverse-leave-to {
  transform: translateX(-30%);
  opacity: 0;
}
.delete-image {
  width: 30px;
  height: 30px;
  top: 6%;
  right: 5%;
  z-index: 222;
}
/* @media (max-height: 600px) {
  .height-p20 {
    height: calc(80vh - 20px);
  }
} */

@media only screen and (min-device-height: 720px) and (max-device-height: 921px) {
  .work-choose-btn.pg-housewife {
    bottom: 0%;
    right: 20%;
    width: 245px;
  }
  .work-choose-btn.pg-housewife:hover {
    bottom: 0.4%;
  }
  .work-choose-btn.pg-cooker {
    bottom: 1%;
    left: 17%;
    width: 230px;
  }
  .work-choose-btn.pg-cooker:hover {
    bottom: 2.3%;
  }
  .work-choose-btn.pg-cleaner {
    top: 3%;
    left: 9%;
    width: 245px;
  }
  .work-choose-btn.pg-cleaner:hover {
    top: 4.7%;
  }
  .work-choose-btn.pg-babysitter {
    top: 6%;
    right: 9%;
    width: 240px;
  }
  .work-choose-btn.pg-gardener {
    top: 26%;
    left: 37%;
    width: 220px;
  }
  .work-choose-btn.pg-gardener:hover {
    top: 26.5%;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  /* первая страница */

  body {
    overflow: hidden;
  }

  .height-p20 {
    height: calc(100vh - 145px);
    border-radius: 0;
    align-items: flex-start;
  }
  .first-block {
    width: 95%;
    height: 780px;
    margin-top: 8%;
  }
  .work-choose-btn {
    width: 29%;
  }

  .work-choose-btn.pg-housewife {
    bottom: 1%;
    right: 10%;
    width: 245px;
  }
  .work-choose-btn.pg-housewife:hover {
    bottom: 1.4%;
  }
  .work-choose-btn.pg-cooker {
    bottom: 1%;
    left: 7%;
    width: 230px;
  }
  .work-choose-btn.pg-cooker:hover {
    bottom: 2%;
  }
  .work-choose-btn.pg-cleaner {
    top: 3%;
    left: 4%;
    width: 245px;
  }
  .work-choose-btn.pg-cleaner:hover {
    top: 4.1%;
  }
  .work-choose-btn.pg-babysitter {
    top: 6%;
    right: 7%;
    width: 240px;
  }
  .work-choose-btn.pg-gardener {
    top: 36%;
    left: 33%;
    width: 220px;
  }
  .work-choose-btn.pg-gardener:hover {
    top: 36.5%;
  }
  /* первая страница */

  /* вторая страница */
  .chosen-work-container {
    width: 475px;
    height: fit-content;
    margin-top: 100px;
    flex-flow: column nowrap;
  }
  .ipad-margin-p20 {
    margin-bottom: 5%;
    border-radius: 7%;
    background-color: #f3f3f350;
  }
  .chosen-work-slide {
    margin: auto;
    padding: 0;
    width: 100%;
    height: 425px;
    background-color: red;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 0 7% 7% 0;
    background-color: #f3f3f350;
    transform: translateY(-100%);
  }
  .chosen-work-card {
    transform: translateY(0%);
  }
  .img-load {
    width: 95%;
  }

  .load-btn {
    background-color: #fefefe;
    height: 250px;
    width: 375px;
  }
  .delete-image {
    top: 5%;
    right: 7%;
  }
  /* вторая страница */
}

/* @media (min-width: 1441px) and (min-height: 850px) {
  .delete-image {
    top: 7%;
    right: 18%;
  }
  .work-choose-btn {
    width: 18%;
  }
  .ss-wrap-inner {
    margin-top: 2em;
  }
  .loaded-img {
    width: 130px;
    top: calc(50% - 65px);
    left: calc(50% - 65px);
  }
  .margin-photo-p27 {
    margin-top: 3em;
  }
}
/* @media (max-width: 1280px) {
  .work-choose-btn {
    width: 15%;
  }
}
@media (max-width: 1280px) and (min-height: 650px) {
  .work-choose-btn {
    width: 19%;
  }
} */
</style>
