<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-6"
      title="Наши правила"
      subtitle="Давай познакомимся поближе"
      iconsrc="img/icons/pencil_icon.png"
      iconclass="icon-header"
      voiceText="Сейчас ты приступаешь к выполнению наших увлекательных заданий в школе Business Fox. У нас есть основные правила школы Business fox, ты можешь послушать их здесь."
    />

    <section
      class="rules-section animate__animated animate__fadeIn mt-2 full-height white-bg bottom-radius shadow-body"
      style="overflow-y: scroll"
    >
      <div class="container-fluid p-0 relative-block fit-content">
        <div
          class="row mx-auto rules-height fit-content"
          :style="{ pointerEvents: instructionVoice ? 'none' : 'auto' }"
        >
          <RuleCard
            v-for="item in rules"
            :key="item.id"
            :number="item.id"
            :active="item.active"
            :clear="item.clear"
            :text="item.text"
            @active="makeActive(item)"
          />
        </div>
      </div>
      <ButtonNext :show="showButton" link="3" class="white-next-btn-bg" />
    </section>
  </section>
</template>
 
<script>
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import { playSound } from "@/scripts/audio";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import RuleCard from "@/components/tales/tale1/pages/page2/RuleCard.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
export default {
  name: "Page2",
  components: { TopMenu, RuleCard, ButtonNext },
  data() {
    return {
      rules: [
        {
          id: 1,
          text: "Будь счастлив сам и делай других счастливыми.",
          active: false,
          clear: false,
        },
        {
          id: 2,
          text: "Не бойся спрашивать то, чего не знаешь.",
          active: false,
          clear: false,
        },
        {
          id: 3,
          text: "Приобретай знания, и обогащай интеллект в целом.",
          active: false,
          clear: false,
        },
        {
          id: 4,
          text: "Выбирай занятие, которое тебе нравится.",
          active: false,
          clear: false,
        },
        {
          id: 5,
          text: "Считай все достижимым.",
          active: false,
          clear: false,
        },
        {
          id: 6,
          text:
            "Толерантность — это спокойное восприятие мира, терпение, отказ от агрессии.",
          active: false,
          clear: false,
        },
        {
          id: 7,
          text: "Есть миллионы шансов и возможностей, выбор за тобой.",
          active: false,
          clear: false,
        },
        {
          id: 8,
          text: "Бизнес — это серьезный и настоящий труд.",
          active: false,
          clear: false,
        },
        {
          id: 9,
          text: "Доводи начатое до конца.",
          active: false,
          clear: false,
        },
      ],
      secondAudio: new Audio(),
      instructionVoice: true,
    };
  },
  computed: {
    ...PlayerMapper.mapState(["audio"]),
    showButton() {
      return !this.instructionVoice || this.tale.pages > 2;
    },
    audioArray() {
      return [
        new Audio(require("@/assets/sounds/app-voice/page2/03.mp3")),
        ...this.rules.map((rule) => {
          return new Audio(
            require(`@/assets/sounds/app-voice/page2/rules/0${rule.id}.mp3`)
          );
        }),
      ];
    },
    ...TaleMapper.mapState(["tale"]),
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    playSound,
    playsound: function (sound_name) {
      var column = document.getElementById(sound_name);
      column.classList.add("yellow-bg");

      console.log();
      var text = document.getElementById(sound_name + "text");
      text.classList.add("black-text");
    },
    makeActive(rule) {
      this.audio.pause();
      this.secondAudio.pause();
      this.secondAudio = new Audio(
        require(`@/assets/sounds/app-voice/page2/rules/0${rule.id}.mp3`)
      );
      this.secondAudio.play();
    },
  },
  async mounted() {
    this.instructionVoice = true;
    this.setAudio(this.audioArray[0]);
    this.audio.play();
    this.audio.onended = () => {
      if (this.instructionVoice) {
        this.audioArray[1].play();
        this.rules[1].active = true;
      }
    };
    this.audioArray.forEach((item, i) => {
      item.onended = () => {
        if (i === this.audioArray.length - 1) {
          this.instructionVoice = false;
          this.rules[i - 1].clear = true;
        } else {
          i++;
          this.audioArray[i].play();
          if (this.rules[i - 2]) {
            this.rules[i - 2].clear = true;
          }
          if (this.rules[i - 1]) {
            this.rules[i - 1].active = true;
          }
        }
      };
    });
  },
  beforeRouteLeave(_, __, next) {
    this.audioArray.forEach((item) => {
      console.log("dasdasd");
      item.pause();
    });

    this.audio.pause();
    this.secondAudio.pause();
    _;
    __;
    next();
  },
};
</script>

<style scoped>
/* .position-scrolled {
  bottom: 4%;
} */
.rules-section {
  display: flex;
  justify-content: center;
  /* padding: 2vh 0; */
}
.hr-transparent {
  border: 1px solid #ffffff00;
}
.fit-content {
  height: fit-content;
}
.rules-height {
  width: 1070px;
  height: 650px;
  padding-top: 55px;
}

/* @media (max-width: 850px) {
  .position-scrolled {
    bottom: 5.5%;
  }
} */

/* Планшет в портретном режиме */
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .rules-height {
    height: fit-content;
    padding-top: 4%;
  }
  .full-height {
    height: calc(100vh - 155px);
    border-radius: 0;
  }
  .rules-height {
    width: 730px;
    padding-top: 3%;
  }
}
</style>