

<template>
  <section class="h-100" style="position: relative">
    <TopMenu
      id="top-page-menu-34"
      title="Creative club"
      subtitle="Креативный клуб"
      iconclass="icon-header-number"
      white_text_1="РАЗВИВАЕМ"
      white_text_2="НЕСТАНДАРТНОЕ МЫШЛЕНИЕ"
      :number="25"
      voiceText="Найди профессии Фоксика, которые относятся к домашним делам, раскрась их и заработай 5 фоксов."
    />
    <div
      class="
        container-fluid container-index
        animate__fadeIn
        transition
        no-select
        full-height
        bottom-radius
        shadow-body
      "
      style="overflow-y: auto; display: flex"
      :class="{ 'yellow-bg': !pictureIsChosen, 'white-bg': pictureIsChosen }"
    >
      <SideRightMenu
        :sendToMentorActive="pageIsSucceed"
        :coinsTarget="currentTask.target"
        :coins="currentTask.coins"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-9'"
        @send="sendToMentor"
        light
        :high_mentor="true"
      />
      <hr class="hr-invisible p-1 m-0" />
      <div class="wrap-height mt-0" style="justify-content: center">
        <transition name="fade" mode="out-in">
          <div
            v-show="!pictureIsChosen"
            class="wrap-coloring opacity-anim-path relative-block"
          >
            <button
              @mouseover="blurry = true"
              @mouseleave="blurry = false"
              v-for="pic in pictures"
              :key="pic.id"
              @click="changeImage(pic.id)"
              class="choose-btn"
              :class="pic.class"
            >
              <img
                :class="{ blurry: blurry }"
                :alt="pic.name"
                :src="require(`@/assets/img/page-60-game/${pic.image}.png`)"
                class="img-color"
              />
            </button></div
        ></transition>
        <Coloring :show="pictureIsChosen" :pic="activePicture.image" />
        <!-- <transition name="fade" mode="out-in">
          <div
            v-show="pictureIsChosen"
            class="coloring-image-wrap transition relative-block"
          >
            <div
              v-for="color in colorList"
              :key="color.id"
              :class="color.name"
            />
            <div class="coloring-block transition yellow-bg">
              <img
                :alt="activePicture.name"
                :src="
                  require(`@/assets/img/page-60-game/${activePicture.image}.svg`)
                "
                class="img-big-coloring transition"
              />
            </div>
          </div>
        </transition> -->
      </div>
      <ButtonNext show link="path" class="another-next-btn-bg" />
    </div>
  </section>
</template>

<script>
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import Coloring from "@/components/tales/tale1/pages/page25/Coloring.vue";
export default {
  name: "Page25",
  components: { TopMenu, SideRightMenu, ButtonNext, Coloring },
  data() {
    return {
      blurry: false,
      pageIsSucceed: false,
      pictureIsChosen: false,
      activePicture: {
        id: 1,
        name: "cooker-color",
        image: "cooker",
        class: "cooker-coloring",
      },
      currentTask: {},
      pictures: [
        {
          id: 1,
          name: "farmer-color",
          image: "farmer",
          class: "farmer-coloring",
          ruName: "Фермер",
        },
        {
          id: 2,
          name: "cooker-color",
          image: "cooker",
          class: "cooker-coloring",
          ruName: "Повар",
        },
        {
          id: 3,
          name: "babysitter-color",
          image: "babysitter",
          class: "babysitter-coloring",
          ruName: "Няня",
        },
        {
          id: 4,
          name: "repair-color",
          image: "repair",
          class: "repair-coloring",
          ruName: "Ремонтник",
        },
        {
          id: 5,
          name: "honeyworker-color",
          image: "honeyworker",
          class: "honeyworker-coloring",
          ruName: "Пчеловод",
        },
      ],
    };
  },
  methods: {
    ...PlayerMapper.mapMutations(["setAudio"]),
    ...TaleMapper.mapActions([
      "patchTale",
      "patchTask",
      "patchAnswer",
      "getTasks",
    ]),
    hoverAnim: function (elem_id) {
      var imgForHoverAnim = document.getElementById(elem_id);

      imgForHoverAnim.classList.add("animate__pulse");
      imgForHoverAnim.addEventListener("animationend", () => {
        imgForHoverAnim.classList.remove("animate__pulse");
      });
    },
    async changeImage(imageId) {
      await this.patchAnswer({
        id: this.currentTask.answers[0].id,
        data: { text_answer: this.activePicture.ruName },
      });
      await this.patchTask({
        id: this.currentTask.id,
        data: { success: true, coins: 5 },
      });
      if (this.tale.pages < 26) {
        await this.patchTale({ pages: 26 });
      }
      this.pictureIsChosen = !this.pictureIsChosen;
      this.activePicture = this.pictures[imageId - 1];
    },
    async sendToMentor() {
      await this.patchTale({
        data: {
          child: this.tale.child,
          pages: parseInt(this.tale.pages) < 25 ? "25" : this.tale.pages,
          task6_accept: true,
          task6_coins: 5,
        },
        tale: this.tale,
        token: this.token,
      });
      this.$router.push({ name: "tale1-checking" });
    },
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    ...PlayerMapper.mapState(["audio"]),
  },
  async mounted() {
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page25/83.mp3"))
    );
    this.audio.play();
    let tasks = await this.getTasks(this.tale.id);
    this.currentTask = await tasks.find((task) => task.page == 25);
  },
  beforeRouteLeave(_, __, next) {
    this.audio.pause();
    _;
    __;
    next();
  },
};
</script>

<style  scoped>
.full-height {
  height: calc(100% - 60px);
}
.transition {
  transition: 1s ease;
}
.wrap-height {
  height: 650px;
  width: 1100px;
}
.wrap-coloring {
  width: 960px;
  height: 570px;
  margin: auto;
  display: flex;
  transform: scale(1.1);
  margin-top: 5% !important;
}

.img-color {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
/* классы для выбора изображения для расскрашивания */
.blurry {
  opacity: 0.7;
  transform: scale(0.95);
}
.choose-btn {
  opacity: 1;
  border: none;
  outline: none;
  background: none;
  position: absolute;
  transition: 0.5s ease;
}

.choose-btn:hover > img {
  transform: scale(1.05);
  opacity: 1 !important;
}
img {
  transition: 0.5s ease;
}
.farmer-coloring {
  top: 0%;
  left: 0;
  /* width: 30%; */
  width: 320px;
  height: 220px;
  /* height: auto; */
}
.cooker-coloring {
  top: 0%;
  left: 48%;
  width: 190px;
}
.babysitter-coloring {
  top: 51%;
  left: 11%;
  width: 270px;
}
.repair-coloring {
  top: 52%;
  left: 43%;
  width: 235px;
}
.honeyworker-coloring {
  top: 23%;
  right: 70px;
  width: 200px;
}
.container-index {
  z-index: 1;
}

/* классы для самой расскраски */
.img-big-coloring {
  width: 95%;
  height: 80%;
  object-fit: contain;
  margin: auto;
}
.coloring-image-wrap {
  z-index: 1;
  display: flex;
  /* margin: 2%; */
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
}
.coloring-block {
  height: 470px;
  width: 470px;
  border-radius: 2rem;
  display: flex;
}

/* цвета для расскраски */
/* .orange,
.white,
.red,
.pink,
.black,
.grey {
  position: absolute;
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  left: 5%;
  z-index: 5;
  transition: 0.5s;
}
.orange:hover,
.white:hover,
.red:hover,
.pink:hover,
.black:hover,
.grey:hover {
  box-shadow: 0px 0px 5px #00000040;
}
.orange {
  background-color: #ed8719;
  top: 13%;
}
.white {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  top: 27%;
}
.red {
  background-color: #eb6a72;
  top: 41%;
}
.pink {
  background-color: #f7c4bb;
  top: 55%;
}
.black {
  background-color: #858686;
  top: 69%;
}
.grey {
  background-color: #c5c5c5;
  top: 83%;
} */
@media (min-width: 1441px) and (min-height: 800px) {
  .orange,
  .white,
  .red,
  .pink,
  .black,
  .grey {
    width: 5rem;
    height: 5rem;
  }
  .coloring-block {
    height: 575px;
    width: 575px;
    border-radius: 3rem;
    display: flex;
  }
}
/* @media (max-height: 499px) {
  .orange,
  .white,
  .red,
  .pink,
  .black,
  .grey {
    width: 2.5rem;
    height: 2.5rem;
  }
  .coloring-block {
    height: 300px;
    width: 300px;
    border-radius: 1.5rem;

    display: flex;
  }
}
@media (max-width: 900px) {
  .orange,
  .white,
  .red,
  .pink,
  .black,
  .grey {
    width: 2.5rem;
    height: 2.5rem;
  }
  .coloring-block {
    height: 300px;
    width: 300px;
    border-radius: 1.5rem;

    display: flex;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  /* .full-height {
    height: 85vh;
  } */
  .full-height {
    padding: 0;
    height: calc(100vh - 145px);
    border-radius: 0;
  }
  .wrap-height {
    height: fit-content;
    margin-top: 100px !important;
    margin-bottom: 50px !important;
  }
  .wrap-coloring {
    width: 768px;
    height: 670px;
    margin-top: unset !important;
  }

  .babysitter-coloring {
    top: unset;
    left: 10%;
    bottom: 0;
  }
  .repair-coloring {
    top: unset;
    bottom: 0%;
    left: unset;
    right: 11%;
  }
  .cooker-coloring {
    top: 4%;
    left: unset;
    right: 9%;
  }
  .farmer-coloring {
    top: 0%;
    left: 4%;
  }
  .honeyworker-coloring {
    top: 37%;
    right: 37%;
  }
  .coloring-image-wrap {
    align-items: flex-start;
    height: 570px;
    width: fit-content;
  }
}
</style>