<template>
  <section class="h-100" style="position: relative">
    <b-modal size="xl" v-model="videoPlay" hide-header hide-footer centered>
      <div style="width: 100%; height: 100%">
        <video
          style="width: 100%; max-height: 100%"
          src="@/assets/video/page17.mp4"
          autoplay
        ></video>
      </div>
    </b-modal>
    <TopMenu
      id="top-page-menu-24"
      title="Fox Биржа"
      subtitle="Изучаем профессии"
      iconclass="icon-header-number"
      white_text_1="РАЗВИВАЕМ НАВЫКИ"
      :number="17"
      white_text_2="ПРОФ ОРИЕНТАЦИИ"
      voiceText="А теперь давай поиграем! Угадай профессию. Ты можешь заработать 5 фоксов."
      @pause="pauseTopSound"
    />
    <section
      v-show="!videoPlay"
      class="
        prof-section
        no-select
        full-height
        white-bg
        bottom-radius
        shadow-body
      "
      style="overflow-y: auto"
    >
      <!-- <div
      class="container-fluid h-100 relative-block animate__animated animate__fadeIn"
    > -->
      <SideRightMenu
        :sendToMentorActive="this.pageIsSucceed"
        :coinsTarget="currentTask.target"
        :pushPath="'tale1-path'"
        :pushTale="'tale1-8'"
        :coins="currentTask.coins"
        @send="sendToMentor"
        @pause="pauseTopSound"
        hideMentor
        light
      />
      <hr class="hr-invisible py-1 m-0" />
      <div v-if="!portrait" class="prof-block">
        <transition-group name="flip-list" tag="div" class="prof-header">
          <button
            @click="choose(prof)"
            :ref="prof.img"
            v-for="prof in profs"
            :key="prof.id"
            class="mx-1 prof-button opacity-zero"
          >
            <div class="moving-shit" :class="prof.img"></div>
          </button>
        </transition-group>
        <!-- <div class="prof-header">
          
        </div> -->
        <!-- <div class="guess" v-show="!tale.fox_burse_answers"> -->
        <div class="guess opacity-anim-path">
          <button
            @click="
              playAudio(
                require(`@/assets/sounds/app-voice/page17/${activeProf.name}.mp3`)
              )
            "
          >
            <img src="@/assets/img/icons/sound-red.png" alt="" />
          </button>
          <p class="mt-0 pb-1">Угадай профессию</p>
          <h4>{{ activeProf ? activeProf.name : "" }}</h4>
        </div>
      </div>
      <div v-else class="prof-block">
        <div class="prof-header">
          <!-- <button
            @click="choose(profs[0])"
            :ref="profs[0].img"
            :key="profs[0].id"
            class="mx-1 translate-anim-left"
          >
            <img
              :src="require(`@/assets/img/tale_charapters/${profs[0].img}.png`)"
              :alt="profs[0].name"
            />
          </button> -->

          <div class="guess">
            <button
              @click="
                playAudio(
                  require(`@/assets/sounds/app-voice/page17/${activeProf.name}.mp3`)
                )
              "
            >
              <img src="@/assets/img/icons/sound-red.png" alt="" />
            </button>
            <p class="mt-0">Угадай профессию</p>
            <h4>{{ activeProf ? activeProf.name : "" }}</h4>
          </div>

          <!-- <button
            @click="choose(profs[1])"
            :ref="profs[1].img"
            :key="profs[1].id"
            class="mx-1 translate-anim-right"
          >
            <img
              :src="require(`@/assets/img/tale_charapters/${profs[1].img}.png`)"
              :alt="profs[1].name"
            />
          </button> -->
        </div>

        <div class="prof-header mt-5 pt-2">
          <button
            @click="choose(prof)"
            :ref="prof.img"
            v-for="prof in profs"
            :key="prof.id"
            class="mx-1 prof-button-adapt"
          >
            <div :class="prof.img" class="moving-shit-adapt"></div>
            <!-- <img
              :src="require(`@/assets/img/tale_charapters/${prof.img}.png`)"
              :alt="prof.name"
            /> -->
          </button>
        </div>
      </div>
      <ButtonNext :show="false" link="18" />
      <ModalGame @hide="hideModal" @send="sendToMentor" />
    </section>
  </section>
</template>

<script>
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";
import { TaleMapper } from "@/store/tale";
import { PlayerMapper } from "@/store/player";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
import ModalGame from "@/components/tales/tale1/pages/page14/modal-game.vue";
import SideRightMenu from "@/components/tales/global/menu/SideRightMenu.vue";
export default {
  name: "Page17",
  components: {
    TopMenu,
    ButtonNext,
    SideRightMenu,
    ModalGame,
  },
  data() {
    return {
      videoPlay: true,
      currentTask: {},
      pageIsSucceed: false,
      portrait: false,
      activeProf: {
        id: 3,
        name: "Няня",
        img: "babysitter1",
      },
      profs: [
        {
          id: 1,
          name: "Экономка",
          img: "housekeeper",
        },
        {
          id: 2,
          name: "Садовник",
          img: "gardener",
        },
        {
          id: 3,
          name: "Уборщик",
          img: "cleaner",
        },
        {
          id: 4,
          name: "Няня",
          img: "babysitter1",
        },

        {
          id: 5,
          name: "Повар",
          img: "cooker",
        },
      ],
      freeProfs: [],
      answers: "",
      profAudio: new Audio(),
      activeProfAudio: new Audio(),
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    ...PlayerMapper.mapState(["rightAudio", "audio"]),
  },
  methods: {
    // shuffle(array) {
    //   return array.sort(() => Math.random() - 0.5);
    // },
    // shuffle() {
    //   for (let z = -1; z < 4; z) {
    //   let randomiz = Math.floor(Math.random() * (100 - 0)) + 0
    //   setTimeout(() => {
    //     this.getElems(".prof-button")[z].style.order = randomiz;
    //   }, 300 * ++z);
    // }
    // },
    ...PlayerMapper.mapMutations(["setAudio", "setRightAudio"]),
    ...PlayerMapper.mapActions(["stopAllAudio", "playRightAudio"]),
    ...TaleMapper.mapActions(["getTasks"]),

    playAudio(name) {
      this.stopAllAudio();
      this.setRightAudio(new Audio(name));
      this.playRightAudio();
    },
    ...TaleMapper.mapActions(["patchTale", "patchTask"]),
    changeOrientation() {
      if (screen.width < 1439) {
        this.portrait = true;
      } else {
        this.portrait = false;
      }
    },
    pauseTopSound() {
      this.playRightAudio();
    },
    async sendToMentor() {
      if (this.tale.pages < 18) {
        await this.patchTale({ pages: 18 });
      }
      await this.patchTask({
        id: this.currentTask._id,
        data: {
          success: true,
          coins: 5,
        },
      });
      this.$bvModal.hide("gameModal");
      this.$router.push({ name: `tale${this.tale.number}-checking` });
    },
    hideModal() {
      this.$bvModal.hide("gameModal");
      this.freeProfs = this.profs;
      this.activeProf =
        this.profs[Math.floor(Math.random() * (this.profs.length - 1))];
      Object.values(this.$refs).forEach((ref) => {
        ref[0].style.backgroundColor = "#F8F9FA";
        ref[0].style.boxShadow = "0 0 10px #ffffff00";
      });
    },
    // playSound(number) {
    //   this.audio.pause();
    //   this.profAudio.pause();
    //   this.profAudio = new Audio(
    //     require(`@/assets/sounds/app-voice/page16/32.${number}.mp3`)
    //   );
    //   this.profAudio.play();
    // },

    desktopRightAnswer(generatedAction, prof) {
      document.querySelector(".prof-header").style.pointerEvents = "none";
      this.$refs[prof.img][0].firstChild.style.animationPlayState = "running";
      this.$refs[prof.img][0].style.backgroundColor = "#FFDE3B";
      this.$refs[prof.img][0].style.top = "280px";
      this.$refs[prof.img][0].style.left = "445px";
      this.$refs[prof.img][0].style.boxShadow = "0 0 15px #00000030";
      this.answers += prof.id;
      // Откат цвета до обычного
      this.profAudio.onended = () => {
        document.querySelector(".prof-header").style.pointerEvents = "auto";
        this.$refs[prof.img][0].style.backgroundColor = "#f9f9f9";
        this.$refs[prof.img][0].style.boxShadow = "none";
        this.$refs[prof.img][0].style.top = "10px";
        this.$refs[prof.img][0].firstChild.style.animationPlayState = "paused";
        // Мешание в случае правильного ответа
        for (let z = -1; z < 4; z) {
          setTimeout(() => {
            this.getElems(".prof-button")[z].style.left = `${
              225 * generatedAction[z]
            }px`;
          }, 1 * ++z);
        }

        if (this.freeProfs.length != 1) {
          this.setRandomProf(prof);
        } else {
          this.pageIsSucceed = true;
          this.$bvModal.show("gameModal");
          new Audio(require("@/assets/sounds/app-voice/modal/60.mp3")).play();
        }
      };
    },
    mobileRightAnswer(generatedAction, prof) {
      this.$refs[prof.img][0].style.top = "-250px";
      this.$refs[prof.img][0].style.left = "270px";
      document.querySelectorAll(".prof-header")[1].style.pointerEvents = "none";
      this.$refs[prof.img][0].firstChild.style.animationPlayState = "running";
      this.$refs[prof.img][0].style.backgroundColor = "#FFDE3B";
      // Откат
      this.profAudio.onended = () => {
        document.querySelectorAll(".prof-header")[1].style.pointerEvents =
          "auto";
        this.$refs[prof.img][0].style.backgroundColor = "#f9f9f9";
        this.$refs[prof.img][0].style.boxShadow = "none";
        this.$refs[prof.img][0].firstChild.style.animationPlayState = "paused";
        for (let z = -1; z < 4; z) {
          setTimeout(() => {
            this.getElems(".prof-button-adapt")[z].style.left = `${
              20 + 125 * generatedAction[z]
            }px`;
            if (generatedAction[z] === 0 || generatedAction[z] === 4) {
              this.getElems(".prof-button-adapt")[z].style.top = "-250px";
            }
            if (generatedAction[z] === 1) {
              this.getElems(".prof-button-adapt")[z].style.left = "20px";
            }
            if (generatedAction[z] === 3) {
              this.getElems(".prof-button-adapt")[z].style.left = "520px";
            }
            if (
              generatedAction[z] === 1 ||
              generatedAction[z] === 2 ||
              generatedAction[z] === 3
            ) {
              this.getElems(".prof-button-adapt")[z].style.top = "0px";
            }
          }, 1 * ++z);
        }
        if (this.freeProfs.length != 1) {
          this.setRandomProf(prof);
        } else {
          this.pageIsSucceed = true;
          this.$bvModal.show("gameModal");
          new Audio(require("@/assets/sounds/app-voice/modal/60.mp3")).play();
        }
        // Мешание в случае правильного ответа
      };
    },
    desktopWrongAnswer(generatedAction, prof) {
      document.querySelector(".prof-header").style.pointerEvents = "none";
      this.$refs[prof.img][0].style.backgroundColor = "#df7c7c";
      this.$refs[prof.img][0].style.boxShadow = "0 0 10px #ffffff00";

      // Откат цвета до обычного
      setTimeout(() => {
        document.querySelector(".prof-header").style.pointerEvents = "auto";
        this.$refs[prof.img][0].style.backgroundColor = "#f9f9f9";
        this.$refs[prof.img][0].style.boxShadow = "none";
      }, 1000);

      // Мешание в случае неправильного ответа
      setTimeout(() => {
        for (let z = -1; z < 4; z) {
          setTimeout(() => {
            this.getElems(".prof-button")[z].style.left = `${
              225 * generatedAction[z]
            }px`;
          }, 1 * ++z);
        }
      }, 1300);
    },
    mobileWrongAnswer(generatedAction, prof) {
      document.querySelectorAll(".prof-header")[1].style.pointerEvents = "none";
      this.$refs[prof.img][0].style.backgroundColor = "#df7c7c";
      this.$refs[prof.img][0].style.boxShadow = "0 0 10px #ffffff00";

      // Откат цвета до обычного
      setTimeout(() => {
        document.querySelectorAll(".prof-header")[1].style.pointerEvents =
          "auto";
        this.$refs[prof.img][0].style.backgroundColor = "#f9f9f9";
        this.$refs[prof.img][0].style.boxShadow = "none";
      }, 1000);

      // Мешание в случае неправильного ответа

      setTimeout(() => {
        for (let z = -1; z < 4; z) {
          setTimeout(() => {
            this.getElems(".prof-button-adapt")[z].style.left = `${
              20 + 125 * generatedAction[z]
            }px`;
            if (generatedAction[z] === 0 || generatedAction[z] === 4) {
              this.getElems(".prof-button-adapt")[z].style.top = "-250px";
            }
            if (generatedAction[z] === 1) {
              this.getElems(".prof-button-adapt")[z].style.left = "20px";
            }
            if (generatedAction[z] === 3) {
              this.getElems(".prof-button-adapt")[z].style.left = "520px";
            }
            if (
              generatedAction[z] === 1 ||
              generatedAction[z] === 2 ||
              generatedAction[z] === 3
            ) {
              this.getElems(".prof-button-adapt")[z].style.top = "0px";
            }
          }, 1 * ++z);
        }
      }, 1300);
    },
    choose(prof) {
      // ГСЧ по нажатию кнопки
      let generatedAction = [0, 1, 2, 3, 4];
      generatedAction.sort(() => Math.random() - 0.5);

      if (prof.id == this.activeProf.id) {
        this.playAudio(
          require(`@/assets/sounds/app-voice/page16/32.${prof.id}.mp3`)
        );

        if (screen.width >= 1440) {
          this.desktopRightAnswer(generatedAction, prof);
        } else if (screen.width < 1400) {
          this.mobileRightAnswer(generatedAction, prof);
        }
      } else {
        if (screen.width >= 1440) {
          this.desktopWrongAnswer(generatedAction, prof);
        }
        if (screen.width < 1440) {
          this.mobileWrongAnswer(generatedAction, prof);
        }
      }
      this.rightAudio.onended = this.profAudio.onended;
    },
    setRandomProf(prof) {
      this.freeProfs = this.freeProfs.filter((item) => prof.id != item.id);
      let random =
        this.freeProfs.length != 1
          ? Math.floor(Math.random() * (this.freeProfs.length - 1))
          : 0;
      this.activeProf = this.freeProfs[random];
      this.activeProfAudio = new Audio(
        require(`@/assets/sounds/app-voice/page17/${this.activeProf.name}.mp3`)
      );
    },
    getElems(name) {
      return document.querySelectorAll(name);
    },
  },

  created() {
    window.addEventListener("resize", this.changeOrientation);
  },
  destroyed() {
    window.removeEventListener("resize", this.changeOrientation);
  },

  async mounted() {
    document.querySelectorAll(".prof-button").forEach(function (item, index) {
      setTimeout(function () {
        item.classList.remove("opacity-zero");
      }, 300 * index);
    });

    // ГСЧ стартовый
    let generated = [0, 1, 2, 3, 4];
    generated.sort(() => Math.random() - 0.5);

    if (screen.width >= 1440) {
      // Мешатель
      for (let z = -1; z < 4; z) {
        setTimeout(() => {
          this.getElems(".prof-button")[z].style.left = `${
            225 * generated[z]
          }px`;
        }, 1 * ++z);
      }
      for (let z = -1; z < 4; z) {
        setTimeout(() => {
          this.getElems(".prof-button")[z].classList.add("members-anim");
        }, 300 * ++z);
      }
    } else if (screen.width < 1400) {
      for (let z = -1; z < 4; z) {
        setTimeout(() => {
          this.getElems(".prof-button-adapt")[z].style.left = `${
            20 + 125 * generated[z]
          }px`;
          if (generated[z] === 0 || generated[z] === 4) {
            this.getElems(".prof-button-adapt")[z].style.top = "-250px";
          }
          if (generated[z] === 1) {
            this.getElems(".prof-button-adapt")[z].style.left = "20px";
          }
          if (generated[z] === 3) {
            this.getElems(".prof-button-adapt")[z].style.left = "520px";
          }
        }, 1 * ++z);

        document.querySelector(".housekeeper").style.bottom = "0%";
        document.querySelector(".gardener").style.top = "0%";
      }
    }
    let tasks = await this.getTasks(this.tale.id);

    this.currentTask = await tasks.find((task) => task.page == 16);
    if (screen.width < 1439) {
      this.portrait = true;
    } else {
      this.portrait = false;
    }

    this.freeProfs = this.profs;
    this.activeProf =
      this.freeProfs[Math.floor(Math.random() * (this.freeProfs.length - 1))];
    this.activeProfAudio = new Audio(
      require(`@/assets/sounds/app-voice/page17/${this.activeProf.name}.mp3`)
    );

    // this.profs = this.shuffle(this.profs);
    this.setAudio(
      new Audio(require("@/assets/sounds/app-voice/page17/35.mp3"))
    );

    // }
  },
  beforeRouteLeave(_, __, next) {
    this.audio.pause();
    this.profAudio.pause();
    _;
    __;
    next();
  },
};
</script>

<style scoped>
.flip-list-move {
  transition: transform 1s;
}
.prof-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prof-block {
  display: flex;
  height: 100%;
  width: 1090px;
  flex-flow: column nowrap;
  align-items: center;
  margin-top: 130px;
}
.prof-header {
  position: relative;
  height: 250px;
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.prof-header > button {
  height: 230px;
  width: 190px;
  border-radius: 1.5rem;
  background: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: none;
  outline: none;
  transition: 0.5s ease;
}
.prof-button {
  display: flex;
  justify-content: center;
  position: absolute;
  transition: top 2s ease 0s;
  transform: scale(1.1);
  top: 10px;
  z-index: 999;
}
.prof-button-adapt {
  position: absolute;
  top: 10px;
}
/* .prof-button {
  opacity: 0;
} */
.prof-header > button:hover {
  transform: rotate(-5deg) scale(1.1);
}
.prof-header > button > img {
  object-fit: contain;
  width: 100%;
  height: 75%;
}
.guess {
  background: url("../../../../assets/img/pictures/blur-bg.png") no-repeat,
    url("../../../../assets/img/pictures/lupa.png") center no-repeat;
  background-size: contain, 60%;
  background-color: rgba(211, 211, 211, 0.209);
  border-radius: 30px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-flow: column nowrap;
  width: 220px;
  height: 250px;
  margin-top: 25px;
  position: relative;
}
.guess > button {
  position: absolute;
  top: 10%;
  left: 5%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  outline: none;
  background: none;
}
.guess > button > img {
  width: 100%;
  height: auto;
}
.guess > img {
  width: 100%;
  height: 80%;
  display: flex;
  border: 1px solid lightgray;
  border-radius: 2rem;
}
.moving-shit-adapt {
  transform: scale(0.6) !important;
}
.cleaner {
  position: absolute;
  width: 260px;
  height: 270px;
  transform: scale(0.8);
  background-image: url("../../../../assets/img/presentation-guide/cleanerSmall.png");
  opacity: 1;
  animation: cleaner-small 3s steps(69) infinite;
  animation-play-state: paused;
}
@keyframes cleaner-small {
  0% {
    background-position: 510px;
  }
  50% {
    background-position: 18105px;
  }
  100% {
    background-position: 18105px;
  }
}
.gardener {
  position: absolute;
  width: 260px;
  height: 230px;
  transform: scale(0.8);
  background-image: url("../../../../assets/img/presentation-guide/gardenerSmall.png");
  opacity: 1;
  animation: gardener-small 3s steps(65) infinite;
  animation-play-state: paused;
}
@keyframes gardener-small {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 16250px;
  }
  100% {
    background-position: 16250px;
  }
}
.housekeeper {
  position: absolute;
  width: 260px;
  height: 290px;
  transform: scale(0.8);
  background-image: url("../../../../assets/img/presentation-guide/housekeeperSmall.png");
  opacity: 1;
  animation: housekeeper-small 3s steps(50) infinite;
  animation-play-state: paused;
}
@keyframes housekeeper-small {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 12750px;
  }
  100% {
    background-position: 12750px;
  }
}
.babysitter1 {
  position: absolute;
  width: 260px;
  height: 230px;
  transform: scale(0.8);
  background-image: url("../../../../assets/img/presentation-guide/nannySmall.png");
  opacity: 1;
  animation: nanny-small 5s steps(88) infinite;
  animation-play-state: paused;
}
@keyframes nanny-small {
  0% {
    background-position: 500px;
  }
  50% {
    background-position: 22500px;
  }
  100% {
    background-position: 22500px;
  }
}
.cooker {
  position: absolute;
  width: 260px;
  height: 280px;
  transform: scale(0.8);
  background-image: url("../../../../assets/img/presentation-guide/cookSmall.png");
  opacity: 1;
  animation: cook-small 3s steps(43) infinite;
  animation-play-state: paused;
}
@keyframes cook-small {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 10750px;
  }
  100% {
    background-position: 10750px;
  }
}
.guess > p {
  width: 90%;
  bottom: 15%;
  font-size: 25px;
  line-height: 23px;
  opacity: 0.4;
  text-align: center;
  font-weight: bold;
  color: gray;
}
.guess > h4 {
  color: #2b2a29;
  position: absolute;
  bottom: -45px;
  font-weight: bold;
}
/* @media (max-width: 1279px) {
  .prof-header > button {
    height: 200px;
    width: 165px;
    border-radius: 1.8rem;
  }
}
@media (max-width: 1100px) {
  .prof-header > button {
    height: 170px;
    width: 140px;
    border-radius: 1.5rem;
  }
  .guess > p {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  h4 {
    font-size: 1rem;
  }
}
@media (max-width: 950px) {
  .prof-header > button {
    height: 145px;
    width: 120px;
    border-radius: 1.2rem;
  }
}
@media (max-width: 850px) {
  .prof-header > button {
    height: 120px;
    width: 100px;
    border-radius: 1.2rem;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .full-height {
    overflow-y: auto;
    align-items: flex-start;
  }
  .prof-block {
    overflow-y: hidden;
    height: 650px;
    width: 700px;
    margin-top: 70px;
    align-items: flex-end;
  }
  .prof-header {
    width: 100%;
    height: fit-content;
    align-items: flex-end;
    margin-top: 1rem;
  }
  .guess {
    top: 40px;
    transform: scale(0.7);
    width: 225px;
    height: 310px;
    position: relative;
  }
  .guess > p {
    font-size: 27px;
    line-height: 25px;
  }
  .prof-header > button {
    height: 180px;
    width: 150px;
    border-radius: 10px;
  }
  .prof-button-adapt {
    transform: scale(1.2);
  }
}
</style>
