<template>
  <div
    class="task opacity-zero"
    :class="{ disable: disable, 'open-row': open }"
    :ref="'task' + number"
    :style="{ zIndex: 10 - number }"
  >
    <!-- //!NUMBER -->
    <div
      class="task-number number-anim"
      style=""
      :class="{
        success: success || report,
        time: open && !success,
      }"
    >
      <div class="number">
        <transition-group name="fade" mode="out-in" tag="section">
          <div :key="open || success">
            <img
              v-show="success || open"
              :src="
                success
                  ? require('@/assets/img/icons/check.svg')
                  : require('@/assets/img/icons/clock.svg')
              "
              alt=""
            />
          </div>

          <span :key="!success && !open" v-show="!success && !open">{{
            number
          }}</span>
        </transition-group>
      </div>
      <div v-if="number != 1" :class="extend" class="top-line"></div>
    </div>

    <div
      class="task-card cards-anim"
      :class="{
        disable,
        success,
        time: open,
      }"
    >
      <img
        :src="require(`@/assets/img/tale_charapters/${img}.png`)"
        :alt="img"
        class="task-img"
      />

      <div class="task-text">
        <h3 class="m-0">
          {{ name }}
        </h3>
        <transition name="fade" mode="out-in">
          <p :key="disable" class="m-0">
            {{
              disable || (!selectedDay && !selectedTime) ? "Выбрать время" : ""
            }}
            <span :key="disable" class="mr-4 pr-3">
              {{ selectedDay ? `${selectedDay}` : "" }}</span
            >
            {{ selectedTime ? `${selectedTime}:00` : "" }}
          </p>
        </transition>
      </div>
      <button
        v-if="!disable"
        class="sound-btn"
        @click="$emit('sound-open', number)"
      >
        <img src="@/assets/img/icons/volume.svg" alt="sound" />
      </button>
      <button
        v-if="!disable"
        class="arrow-btn"
        :class="{ time: open }"
        @click="panel()"
      >
        <img src="@/assets/img/icons/arrow-right.png" alt="arrow-right" />
      </button>
    </div>

    <div class="task-picker opacity-anim-card" :class="{ time: open }">
      <div class="week-picker" :class="{ success, disable: report || imgSrc }">
        <p class="m-0 mb-1">Выбери<br />день недели</p>
        <div class="week-select">
          <img src="@/assets/img/icons/calendar.png" alt="calendar" />
          <button @click="selectWeekDay = !selectWeekDay">
            <img src="@/assets/img/icons/volume.svg" alt="sound" />
            <transition name="pick" mode="out-in">
              <p :key="selectedDay">
                {{ selectedDay ? selectedDay : weekDays[0] }}
              </p>
            </transition>
          </button>
          <div
            class="week-select-items"
            :class="{
              last: number > 99,
              first: number <= 99,
              show: selectWeekDay,
            }"
          >
            <div
              @click="handleDaySelect(day)"
              class="week-select-item"
              v-for="(day, index) in weekDays"
              :key="index"
            >
              <img src="@/assets/img/icons/volume.svg" alt="sound" />
              <p>{{ day }}</p>
            </div>
          </div>
          <div
            class="anim-arrow-select anim-arrow-select-week"
            v-show="selectWeekDay"
          >
            <img
              src="@/assets/img/icons/arrow-right.png"
              alt="Это можно проматывать"
            />
          </div>
        </div>
      </div>
      <div
        class="time-picker"
        :class="{ success, disable: report || imgSrc || !selectedDay }"
      >
        <p class="m-0 mb-1">Поставь<br />напоминание</p>

        <div class="week-select">
          <img src="@/assets/img/icons/bell.svg" alt="calendar" />
          <button
            class="week-select-btn time-width"
            @click="selectTime = !selectTime"
          >
            <img src="@/assets/img/icons/volume.svg" alt="sound" />
            <transition name="pick" mode="out-in">
              <p style="padding-left: 4% !important" :key="selectedTime">
                {{ selectedTime ? selectedTime : times[0] }} часов
              </p>
            </transition>
          </button>
          <div
            class="week-select-items time-items-width"
            :class="{
              last: number > 99,
              first: number <= 99,
              show: selectTime,
            }"
          >
            <div
              @click="handleTimeSelect(time)"
              class="week-select-item"
              v-for="(time, index) in times"
              :key="index"
            >
              <img src="@/assets/img/icons/volume.svg" alt="sound" />
              <p style="padding-left: 4% !important">{{ time }} часов</p>
            </div>
          </div>
          <div class="anim-arrow-select" v-show="selectTime">
            <img
              src="@/assets/img/icons/arrow-right.png"
              alt="Это можно проматывать"
            />
          </div>
        </div>
      </div>
      <div class="file-loader my-auto" :class="{ load: imgSrc || report }">
        <input
          type="file"
          style="display: none"
          ref="input"
          accept="image/*"
          @change="loadImg()"
        />
        <button
          :class="{ disable: !selectedTime || !selectedDay, block: block }"
          ref="img"
          @click="handleLoading()"
        >
          <p v-show="!imgSrc && !report" class="m-0">Загрузи отчет</p>
          <transition name="pick">
            <img
              v-show="imgSrc || report"
              src="@/assets/img/pictures/loaded.svg"
              alt="success"
            />
          </transition>
        </button>
      </div>
      <button @click="panel" class="picker-close">
        <img src="@/assets/img/BusinessPractice/icons/close-elem.png" />
      </button>
    </div>
  </div>
</template>

<script>
import { TaleMapper } from "@/store/tale";
export default {
  name: "TimeTask",
  props: {
    img: String,
    name: String,
    number: Number,
    success: Boolean,
    disable: Boolean,
    day: String,
    hour: String,
    report: String,
    block: Boolean,
    id: Number,
    open: Boolean,
    extend: String,
  },
  data() {
    return {
      weekDays: ["Понедельник", "Вторник", "Среда", "Четверг", "Пятница"],

      times: ["10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20"],
      selectedTime: "",
      selectedDay: "",
      selectWeekDay: false,
      selectTime: false,
      file: "",
      imgSrc: "",
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
  },
  methods: {
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    ...TaleMapper.mapActions(["patchTale", "patchAnswer", "patchFormAnswer"]),
    panel() {
      this.selectWeekDay = false;
      this.selectTime = false;
      this.$emit("open", !this.open, this.number);
    },
    resetLoad() {
      this.$refs["img"].style.backgroundImage =
        "url(" + require("@/assets/img/icons/upload.png") + ")";
      this.imgSrc = "";
    },
    handleLoading() {
      this.$refs.input.click();
    },
    async loadImg() {
      this.file = this.$refs["input"].files[0];
      let reader = new FileReader();
      reader.addEventListener(
        "load",
        function () {
          this.imgSrc = reader.result;

          this.$refs["img"].style.backgroundImage = "url(" + this.imgSrc + ")";
        }.bind(this),
        false
      );
      if (this.file) {
        if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
        }
      }
      this.$emit("success");
      let answerData = new FormData();
      answerData.append(`answer`, this.file);
      await this.patchFormAnswer({ data: answerData, id: this.id });

      setTimeout(async () => {
        this.closePanel();
      }, 1000);
    },
    async handleDaySelect(day) {
      this.selectedDay = day;
      this.selectWeekDay = false;

      this.$emit("day-sound", day);
      let newAnswer =
        (this.selectedDay ?? this.day) + " " + (this.selectedTime ?? this.hour);
      await this.patchAnswer({
        id: this.id,
        data: { text_answer: newAnswer },
      });
    },
    async handleTimeSelect(chosenTime) {
      this.selectedTime = chosenTime;
      this.selectTime = false;
      this.$emit("time-sound", chosenTime);
      let newAnswer =
        (this.selectedDay ?? this.day) + " " + (this.selectedTime ?? this.hour);
      await this.patchAnswer({
        id: this.id,
        data: { text_answer: newAnswer },
      });
    },
  },
  watch: {
    report: {
      handler(newReport) {
        if (newReport) {
          this.$refs.img.style.backgroundImage = `url(${newReport})`;
        }
      },
    },
    hour: {
      handler(newHour) {
        if (newHour) {
          this.selectedTime = newHour;
        }
      },
    },
    day: {
      handler(newDay) {
        if (newDay) {
          this.selectedDay = newDay;
        }
      },
    },
  },
  mounted() {
    if (this.report) {
      this.$refs.img.style.backgroundImage = `url(${this.report})`;
    }
  },
};
</script>

<style scoped>
.task {
  display: flex;
  width: 100%;
  height: 125px;
  transition: 1s ease;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}
.task.disable {
  pointer-events: none;
}

/* //!NUMBER */
.task-number {
  height: 100%;
  width: 50px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-left: 59px;
}
.task-number .number {
  z-index: 1;
  width: 75%;
  padding-top: 75%;
  border-radius: 50%;
  background-color: lightgray;
  transition: 0.5s ease-in-out;
  position: relative;
}
.task-number .number span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bolder;
  font-size: 1.3em;
}
.task-number .number div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
}
.task-number.success .number div {
  background-color: #ffde3b;
}
.task-number.time .number div {
  background-color: #71c9e4;
}

.task-number .number div > img {
  width: 70%;
  height: auto;
  filter: invert(1);
}

.top-line {
  position: absolute;
  height: 100%;
  width: 3px;
  background: lightgray;
  z-index: 0;
  top: -50%;
  transition: 0.5s ease-in-out;
}
.top-line::before {
  display: block;
  content: "";
  height: 0;
  width: 3px;
  top: 0;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

.task-number.success .top-line::before {
  background: #ffde3b;
  height: 100%;
}
.task-number.time .top-line::before {
  background: #71c9e4;
  height: 100%;
}

.task-card {
  background: #fff;
  border: 1px solid lightgray;
  height: 110px;
  width: 470px;
  border-radius: 25px;
  display: flex;
  transition: 0.5s ease-in-out;
  position: relative;
  z-index: 10;
}
.task.disable .task-card {
  background: rgb(250, 250, 250);
  border: none;
  color: gray;
}

.task-card.time {
  box-shadow: 10px 0px 13px 0px rgb(0 0 0 / 10%);
}
.task-card.success {
  background: #ffde3b;
}

.sound-btn,
.arrow-btn {
  position: absolute;
  right: 1rem;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  opacity: 1;
}

.sound-btn > img {
  width: 50%;
  height: auto;
}
.arrow-btn > img {
  width: 80%;
  height: auto;
  opacity: 0.7;
}
.sound-btn {
  top: 5%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.arrow-btn {
  bottom: 5%;
}
.arrow-btn.time {
  transform: rotate3d(0, 1, 0, 180deg);
}

.task-img {
  object-fit: contain;
  width: 22%;
  height: 75%;
  margin: auto;
  animation: gif-anim 1s 1 ease-in-out;
}

.task-text {
  width: 75%;
  padding-right: 9%;
  padding-left: 2%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
  animation: text-anim 1s 1 ease-in-out;
}

.task-text > h3 {
  font-size: 17px;
  font-weight: 500;
  line-height: normal;
}
.task-text > p {
  font-size: 17px;
  font-weight: 400;
}

.task-picker {
  height: 105px;
  width: 570px;
  background: #f9f9f9;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 1%;
  z-index: 9;
  transform: translateX(-100%) scaleX(0.1) scaleY(0.1);
}
.task-picker.time {
  border-radius: 0 2vw 2vw 0;
  transform: translateX(-5%);
}

.week-picker {
  height: 100%;
  margin-left: 4%;
  width: 39%;
  padding: 1rem 0.2rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
.week-picker > p,
.time-picker > p {
  font-weight: bold;
  font-size: 0.7em;
  line-height: 0.8em;
  padding-left: 16%;
  height: 30%;
  color: #c5c5c5;
  flex: 1 1 100%;
  text-align: center;
}
.week-picker.disable button,
.time-picker.disable button {
  background: lightgray;
  pointer-events: none;
}

.week-select,
.time-select {
  flex: 1 1 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60%;
  position: relative;
}
.week-select > img {
  /* flex: 1 1 20%; */
  width: 20%;
  height: 70%;
  padding: 2%;
  object-fit: contain;
}
.week-select > button {
  flex: 1 1 80%;
  padding: 2%;
  height: 80%;
  background-color: #71c9e4;
  border-radius: 0.7rem;
  display: flex;
  border: none;
  align-items: center;
  cursor: pointer;
  z-index: 1;
}
/* .week-select-btn_disabled {
  background-color: lightgray;
  cursor: not-allowed;
} */
.week-select > button > img {
  flex: 1 1 20%;
  height: 1rem;
  width: 1rem;
  /* opacity: 0.5; */
  padding: 2%;
  filter: invert(1);
}
.week-select > button > p {
  color: #fff;
  flex: 1 1 80%;
  font-weight: 600;
  font-size: 0.8rem;
  padding-left: 1%;
  margin: 0;
  text-align: left;
}
.time-width {
  flex: none !important;
  width: 60%;
}
.time-items-width {
  width: 60% !important;
  right: 10% !important;
}

.week-select-items::-webkit-scrollbar-button {
  background-image: none;
  background-repeat: no-repeat;
  width: 6px;
  height: 0px;
}

.week-select-items::-webkit-scrollbar-track {
  background-color: #9edff5;
}

.week-select-items::-webkit-scrollbar-thumb {
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #fefefe;
  box-shadow: 0px 1px 1px #fff inset;
  background-image: url("https://yraaa.ru/_pu/24/59610063.png");
  background-position: center;
  background-repeat: no-repeat;

  padding-top: 20px;
}

.week-select-items::-webkit-resizer {
  background-image: none;
  background-repeat: no-repeat;
  width: 7px;
  height: 0px;
}

.week-select-items::-webkit-scrollbar {
  width: 11px;
}
.week-select-items {
  position: absolute;
  width: 80%;
  right: 0;
  border-radius: 0.7rem;
  background-color: #9edff5;

  height: 190px;

  transition: 0.5s ease;
}
.anim-arrow-select {
  position: absolute;
  top: 50%;
  right: 0;
  width: 20px;
  height: 190px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.anim-arrow-select.anim-arrow-select-week {
  right: -20px;
}
.anim-arrow-select > img {
  transform: rotate(90deg) translateX(-50px);
  opacity: 0;
  animation: fadeInOutTopToDown 1s ease;
  animation-delay: 2s;
  animation-iteration-count: 2;
}
@keyframes fadeInOutTopToDown {
  0% {
    transform: rotate(90deg) translateX(-120px);
    opacity: 0;
  }
  50% {
    transform: rotate(90deg) translateX(0);
    opacity: 1;
  }
  100% {
    transform: rotate(90deg) translateX(120px);
    opacity: 1;
  }
}
.week-select-items.first {
  transform: translateY(-50%) scaleY(0);
  overflow-y: scroll;
  flex-flow: column nowrap;
  justify-content: flex-end;

  top: 50%;
  padding-top: 11%;
  padding-bottom: 2%;
}
.week-select-items.last {
  flex-flow: column-reverse nowrap;
  justify-content: flex-end;
  transform: translateY(50%) scaleY(0);

  bottom: 50%;
  padding-bottom: 11%;
  padding-top: 2%;
}
.week-select-items.show {
  transform: translateY(0%) scaleY(1) scaleX(1);
}

.week-select-item {
  display: flex;
  align-items: center;
  padding: 4.5% 1%;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.week-select-item:hover {
  background-color: #fefefe;
}

.week-select-item:hover > p {
  color: #71c9e4;
}
.week-select-item:hover > img {
  filter: invert(0.5);
}

.week-select-item > img {
  flex: 1 1 20%;
  height: 1rem;
  width: 1rem;
  /* opacity: 0.5; */
  padding: 2%;
  transition: 0.3s ease-in-out;
  filter: invert(1);
}
.week-select-item > p {
  color: #fff;
  flex: 1 1 80%;
  padding-left: 0.2rem;
  font-weight: 600;
  font-size: 0.8rem;
  margin: 0;
  text-align: left;
  transition: 0.3s ease-in-out;
}

.time-picker {
  width: 34%;
  height: 100%;
  padding: 1rem 0.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.time-picker .week-select > img {
  opacity: 0.3;
}

/* .time-picker .week-select-items {
  height: calc(100% * 10);
} */
.pick-enter-active,
.pick-leave-active {
  transition: 0.1s ease;
}
.pick-enter,
.pick-leave-to {
  opacity: 0;
}

.file-loader {
  height: 88%;
  flex: 0 0 21%;
  margin-left: auto;
}

.file-loader > button {
  border: 2px solid #fff;
  border-radius: 20%;
  background: url("../../../../../assets/img/icons/upload.png") #fff center
    no-repeat;
  background-position-y: 35%;
  background-size: 1.5rem;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  transition: 0.5s ease;
  color: gray;
  position: relative;
}

.file-loader.load > button {
  background-size: cover;
  background-position: center;
}
.file-loader > button.disable {
  pointer-events: none;
  border: 2px dashed lightgray;
  box-shadow: none;
  background: none;
  color: #000;
}
.file-loader > button:hover {
  box-shadow: 0 0 10px rgba(133, 133, 133, 0.5);
  color: #000;
}

.file-loader > button > p {
  opacity: 0.5;
  font-weight: bold;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 0.2rem;
  font-size: 0.7rem;
}

.file-loader > button > img {
  width: 50%;
  height: auto;
  margin: auto;
}

.picker-close {
  position: absolute;
  width: 2rem;
  right: -1%;
  top: -2%;
  border: none;
  outline: none;
  background: none;
}
.picker-close > img {
  width: 100%;
  height: 100%;
}
.task__picker-close {
  position: absolute;
  right: 1rem;
  top: 0.5rem;
  width: 1rem;
  height: 1rem;
  border: none;
  outline: none;
}
.task__picker-close-img {
  width: 100%;
  height: 100%;
  opacity: 0.5;
}

/* @media (max-width: 1200px) {
  .task-text > h3 {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.2em;
  }
  .task-text > p {
    font-size: 0.85em;
  }
  .task-number .number span {
    font-size: 1em;
  }

  .file-loader > button {
    background-size: 1.1rem;
  }

  .week-select > button > p {
    font-size: 0.65rem;
  }
  .week-select-item > p {
    font-size: 0.6rem;
  }
  .file-loader > button > p {
    font-size: 0.65rem;
    line-height: 0.65rem;
  }
}
@media (max-width: 900px) {
  .task-text > h3 {
    font-size: 0.8em;
    font-weight: bold;
    line-height: 1em;
  }
  .task-text > p {
    font-size: 0.7em;
  }
  .task-number .number span {
    font-size: 0.9em;
  }
  .week-select > button > p {
    font-size: 0.45rem;
  }
  .file-loader > button {
    background: #fff;
    justify-content: center;
  }
  .week-select-item > p {
    font-size: 0.45rem;
  }
  .file-loader > button > p {
    font-size: 0.5em;
  }
  .week-picker > p,
  .time-picker > p {
    font-size: 0.7em;
    line-height: 0.8em;
  }
  .week-select > button {
    height: 60%;
  }
}
@media (max-width: 800px) and (max-height: 527px) {
  .task {
    height: 100px;
  }
  .task-card {
    height: 85px;
    border-radius: 1.2rem;
  }
  .task-picker {
    height: 80px;
    border-radius: 1.2rem;
  }
  .week-picker > p,
  .time-picker > p {
    font-size: 0.5em;
    line-height: 1em;
  }
  .week-select > button > img {
    height: 0.7rem;
    width: 0.7rem;
  }
  .week-select-item > img {
    height: 0.7rem;
    width: 0.7rem;
  }
  .picker-close {
    width: 1.5rem;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .task-number {
    margin-left: unset;
  }
  .arrow-btn {
    transform: rotate(90deg);
  }
  .arrow-btn.time {
    transform: rotate(-90deg);
  }
  .open-row {
    height: 260px;
    align-items: flex-start;
    border-radius: 25px;
  }
  .task {
    width: 1000px;
    transition: 0.5s ease;
  }
  .picker-close {
    right: 0%;
    top: 25%;
  }
  .task-card.time {
    box-shadow: 0px 0px 15px 0px rgb(0 0 0 / 15%);
  }
  .task-card {
    z-index: 2;
  }
  .task-picker {
    width: 470px;
    background: #f9f9f9;
    visibility: hidden;
    z-index: 0;
    opacity: 0;
    transition: 0.5s ease;
  }
  .week-select > button {
    z-index: 4;
  }
  .week-select-items.show {
    z-index: 3;
  }
  .week-picker > p,
  .time-picker > p {
    font-size: 0.9em;
  }
  .file-loader {
    margin-right: 10px;
  }
  .task-picker.time {
    visibility: visible;
    height: 145px;
    padding-top: 40px;
    border-radius: 25px;
    transform: translateX(-100%) translateY(60%);
    z-index: 1;
    opacity: 1;
  }
  .top-line.big {
    height: 150%;
    top: -100%;
  }
  .top-line.small {
    height: 75%;
    top: -25%;
  }
}
</style>