<template>
  <section id="franchisee-analytics-tab">
    <router-view></router-view>

    <ModalBanFranchisee />
  </section>
</template>

<script>
import ModalBanFranchisee from "@/components/franchisee/analytics/ModalBanFranchisee.vue";

export default {
  name: "Analytics",
  components: {
    ModalBanFranchisee,
  },
};
</script>

<style>
</style>