<template>
  <section
    id="analyticsBranch"
    class="animate__animated animate__fadeIn no-select"
  >
    <div
      class="contaiter-fluid agent-container agent-height relative-block mx-3 mt-3 pl-4"
    >
      <hr class="invisible" />
      <a
        href="#"
        @click="$bvModal.show('modal-scoped')"
        class="absolute-block add-menthor-link"
        >Заблокировать филиал</a
      >
      <div class="row pt-3">
        <div class="col"><p class="my-0 breadcrumb-text">Аналитика</p></div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">{{ branch.name }}</p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-2">
          <p class="m-0 a-row-data-label">Наименование:</p>
          <p class="my-1 a-row-data-label">Регион:</p>
        </div>
        <div class="col-2 text-left a-row-data">
          <p class="m-0 overflow-text">
            {{ branch.name }}
          </p>
          <p class="my-1 overflow-text">
            {{ branch.region }}
          </p>
        </div>
        <div class="col-1"></div>
        <div class="col-3 my-auto">
          <button @click="downloadFile()" class="agent-file-load w-100">
            Скачать анкету
          </button>
        </div>
        <div class="col-3 my-auto">
          <button @click="downloadFile()" class="agent-file-load w-100">
            Скачать документы
          </button>
        </div>
      </div>
      <BaseInfo />

      <b-tabs
        active-nav-item-class="active-tab-analytics"
        content-class="mt-2"
        class="mt-3 px-3"
        nav-class="w-40"
        nav-wrapper-class="analytics-tab-title"
        fill
      >
        <b-tab title="Менторы" active><TableMenthors /></b-tab>
        <b-tab title="Дети"><TableChildren /> </b-tab>
        <b-tab title="Финансы"
          ><TableBranchFinanceInfo tableHeightclass="height-thicc"
        /></b-tab>
      </b-tabs>
    </div>
  </section>
</template>

<script>
import BaseInfo from "@/components/franchisee/analytics/branch-info/BaseInfo.vue";
import { FranchiseeMapper } from "@/store/franchisee";

import TableMenthors from "@/components/franchisee/analytics/branch-info/TableMenthors.vue";
import TableChildren from "@/components/franchisee/analytics/branch-info/tab-children/TableChildren.vue";
import TableBranchFinanceInfo from "@/components/franchisee/analytics/branch-info/TableBranchFinanceInfo.vue";
export default {
  name: "BranchInfo",
  components: {
    BaseInfo,
    TableBranchFinanceInfo,
    TableChildren,
    TableMenthors
  },
  data() {
    return {
      overlay: false
    };
  },
  methods: {
    ...FranchiseeMapper.mapActions([
      "getBranch",
      "getBranchChildren",
      "getChildInfo",
      "getMentorGroups"
    ]),

    downloadFile() {
      alert("Привет, Андрей!");
    }
  },
  computed: {
    ...FranchiseeMapper.mapState(["error", "branch", "child"])
  },
  async mounted() {
    await this.getBranch(this.$route.params.id);
  }
};
</script>
