<template>
  <transition name="fade">
    <button
      class="go-next-btn no-select"
      v-on:keyup.enter="nextPage"
      v-show="show"
      @click="nextPage"
    >
      <p :class="{ bright: bright }">дальше</p>
      <div class="almost-side-menu__icon">
        <img
          :src="require(`@/assets/img/icons/${imgNext}.png`)"
          alt="next"
          class="next-fhd p-0"
        />
      </div>
    </button>
  </transition>
</template>

<script>
import { TaleMapper } from "@/store/tale";
export default {
  props: {
    show: Boolean,
    link: String,
    bright: Boolean,
  },

  data() {
    return { imgNext: "next-yellow" };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
  },
  methods: {
    ...TaleMapper.mapActions(["patchTale"]),
    ...TaleMapper.mapActions(["getTasks"]),
    async nextPage() {
      let tasks = await this.getTasks(this.tale.id);
      console.log(tasks);
      console.log(this.link);
      if (this.link > 8) {
        let currentTask = await tasks.find(
        (task) => task.page == parseInt(this.link)        
        
      );
      console.log(currentTask);
      if (
        parseInt(this.link) != isNaN &&
        this.tale.pages < parseInt(this.link) &&
        currentTask.done == true
      ) {
        await this.patchTale({ pages: parseInt(this.link) });
      }
      if (this.link == "path" && this.tale.pages < 10) {
        await this.patchTale({ pages: 10 });
      }      

      }   

      this.$router.push({ name: `tale${this.tale.number}-${this.link}` });
    },
  },
};
</script>

<style scoped>
.go-next-btn {
  position: absolute;
  right: 2%;
  bottom: 7%;
  height: 2.5rem;
  outline: none;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row nowrap;
  margin: 0.1vw;
  border-radius: 100px;
  border: 1.5px solid #d3d3d300;
  z-index: 0;

  transition: 2s;
}
.go-next-btn:hover,
.go-next-btn:focus,
.go-next-btn:active {
  z-index: 9999;
}

.bright {
  color: #fefefe;
}
.go-next-btn > p {
  font-size: 15px;
  font-weight: bold;
  margin: 0px 0px;
  text-transform: uppercase;
  color: #2b2a29;
  opacity: 0.3;
  padding: 0;
  padding-left: 10px;
}
.almost-side-menu__icon {
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  margin-left: 1.15rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.go-next-btn img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
  border: solid 1px #fff;
}

.side-anim {
  animation: side-anim 1s 1 cubic-bezier(0.15, 0.08, 0.4, 1.35);
}

@keyframes side-anim {
  0% {
    transform: translateX(100%);
    opacity: 0;
    scale: 0.1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    scale: 1;
  }
}

@media (min-width: 1441px) and (min-height: 800px) {
  .almost-side-menu__icon {
    width: 3rem;
    height: 3rem;
    margin-left: 0.2rem;
  }
}
/* @media (max-width: 1200px) {
  .go-next-btn > p {
    font-size: 0.85em;
  }
}
@media (max-width: 850px) {
  .go-next-btn > p {
    font-size: 0.6em;
  }
}
@media (max-height: 527px) {
  .almost-side-menu__icon {
    width: 1.5rem;
    height: 1.5rem;
    margin-left: 0.1rem;
  }
} */
@media only screen and (min-device-width: 1366px) {
  .go-next-btn {
    background: url("../../../../assets/img/icons/yellow-next.png") no-repeat
      center;
    background-size: 28%;
    background-position-x: 95%;
    z-index: 5;
  }
  .go-next-btn img {
    opacity: 0;
  }
}
.tale-bg {
  background: url("../../../../assets/img/icons/yellow-next.png") no-repeat
      center right,
    #fff;
  background-size: contain;
  bottom: 30px;
}
/* Планшет в портретном режиме */
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .go-next-btn {
    bottom: 3%;
    right: 3%;
    height: 50px;
    width: 150px;
    justify-content: space-between;
    background: url("../../../../assets/img/icons/next-yellow.png") no-repeat
        right,
      #ffde3b;
  }

  .white-next-btn-bg {
    background: url("../../../../assets/img/icons/next-yellow.png") no-repeat
        center,
      #ffde3b;
    background-size: 28%;
    background-position-x: 95%;
  }
  .another-next-btn-bg {
    background: url("../../../../assets/img/icons/yellow-next.png") no-repeat
        center,
      #ffffff;
    background-size: 28%;
    background-position-x: 95%;
  }
  .go-next-btn.another-next-btn-bg > p {
    color: #2a2928;
    opacity: 0.35;
  }
  .go-next-btn > p {
    font-size: 15px;
    width: 60%;
    opacity: 1;
    color: #ffffff;
  }
  .go-next-btn img {
    opacity: 0.1;
  }
}
</style>