<template>
  <div class="window" :class="{ 'green-widnow': img == '3' }">
    <div :class="`menthor-little-anim${img}`"></div>
    <!-- <img
      class="window-img"
      :src="require(`@/assets/img/hints/${img}`)"
      alt="fox-write"
    /> -->
    <div class="window-left">
      <button
        v-if="leftBtn"
        :class="{ whiteBg: activeMentor, orangeBg: !activeMentor }"
        class="window-return-btn window-btn"
        @click="closeMenthorWindow"
      >
        <div class="window-btn-text px-2">
          <p
            :class="{ colorBlue: activeMentor, colorWhite: !activeMentor }"
            class="m-0"
          >
            Вернуться к заданию
          </p>
        </div>
        <div class="window-btn-img-block">
          <img
            v-if="activeMentor"
            class="window-btn-img"
            src="@/assets/img/icons/return-blue.svg"
            alt=""
          />
          <img
            v-if="!activeMentor"
            class="window-btn-img"
            src="@/assets/img/icons/return-orange.svg"
            alt=""
          />
        </div>
      </button>
    </div>

    <div class="window-right">
      <!-- <button class="window-sound-btn">
        <img src="@/assets/img/icons/sound-white.svg" alt="sound" />
      </button> -->
      <button class="window-close-btn" @click="closeMenthorWindow">
        <img src="@/assets/img/icons/close-icon.png" alt="close" />
      </button>
      <p class="window-right-text">
        {{ text }}
      </p>
      <button
        @click="pushOrSend()"
        class="window-btn"
        :class="rightBtnColor ? `window-right-btn_${rightBtnColor}` : ''"
      >
        <div class="window-btn-text px-2">
          <p class="m-0">{{ rightBtnText }}</p>
        </div>
        <div class="window-btn-img-block">
          <img
            class="window-btn-img"
            :class="{ invert: rightBtnImgInvert }"
            :src="require(`@/assets/img/icons/${rightBtnImg}`)"
            alt=""
          />
        </div>
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "ModalSideRightMenu",
  props: {
    leftBtn: Boolean,
    text: String,
    img: String,
    rightBtnText: String,
    rightBtnImg: String,
    rightBtnImgInvert: Boolean,
    rightBtnAccept: Boolean,
    rightBtnColor: String,
    push: String,
    send: Boolean,
    activeMentor: Boolean,
  },
  methods: {
    closeMenthorWindow() {
      this.$emit("close");
    },
    pushOrSend() {
      if (this.push) {
        this.$emit("pushMethod");
        setTimeout(() => {
          this.$router.push({ name: this.push });
        }, 1000);
      } else if (this.send) {
        this.$emit("send");
      }
    },
  },
};
</script>

<style scoped>
.window {
  position: absolute;
  right: 0;
  z-index: 1111111;
  width: 615px;
  height: 160px;
  /* height: 30%; */
  border-radius: 20px;
  background: skyblue;
  display: flex;
  flex-flow: row nowrap;
}
.green-widnow {
  background: #99ceac !important;
}
.window-img {
  position: absolute;
  right: 45%;
  bottom: 0;
  width: 60%;
  height: auto;
  z-index: 0;
}

.menthor-little-anim1 {
  position: absolute;
  bottom: 0%;
  right: 45%;
  width: 456px;
  height: 250px;
  background-image: url("../../../../assets/img/hints/return-to-tale.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.menthor-little-anim2 {
  position: absolute;
  bottom: 0%;
  right: 45%;
  width: 475px;
  height: 300px;
  background-image: url("../../../../assets/img/hints/menthor-little.png");
  animation: menthor-little-anim 2s infinite steps(60);
}
.menthor-little-anim3 {
  position: absolute;
  bottom: -8%;
  right: 45%;
  width: 475px;
  height: 300px;
  background-image: url("../../../../assets/img/hints/hint-path.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@keyframes menthor-little-anim {
  0% {
    background-position: 29100px;
  }
  100% {
    background-position: 0px;
  }
}

.window-left {
  flex: 1 1 50%;
  z-index: 1;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  padding: 2% 0;
}

.window-btn {
  /* width: auto; */
  width: 82%;
  border: none;
  outline: none;
  background: lightgray;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 0 0.05vw;
  border-radius: 50px;
}
.whiteBg {
  background: #ffffff;
}
.orangeBg {
  background: #ed8719;
}
.colorWhite {
  color: #ffffff;
}
.colorBlue {
  color: #71c9e4;
}
.window-btn-text {
  font-size: 17px;
  line-height: 14px;
  color: #fff;
  font-weight: 600;
  text-align: center;
  width: 62%;
}

.window-btn-img-block {
  background: #fff;
  border-radius: 50%;
  width: 2.5rem;
  margin: 0.15rem;
  height: 2.5rem;
  margin-left: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.window-btn-img {
  background: #fff;
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.window-right {
  flex: 1 1 50%;
  z-index: 1;
  color: #fff;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  padding: 2% 0;
}
.window-right .window-btn {
  pointer-events: none;
  /* margin-left: 10%; */
}
.window-right .window-btn.window-right-btn_orange {
  pointer-events: all;
}
.window-right .window-btn.window-right-btn_blue {
  pointer-events: all;
  background: skyblue;
  border: 1px solid #fff;
}
.window-right .window-btn.window-right-btn_green {
  pointer-events: all;
  background: #ffffff3c;
  border: 2px solid #99ceac;
}
.window-right-text {
  text-align: center;
  font-size: 17px;
  line-height: 16px;
  font-weight: 600;
  margin-bottom: 5%;
  padding: 0 12%;
}
.window-close-btn,
.window-sound-btn {
  position: absolute;
  top: 5%;
  border: none;
  outline: none;
  background: none;
}
.window-close-btn {
  right: 5%;
  width: 5%;
  height: auto;
}
.window-sound-btn {
  width: 5%;
  height: auto;
  left: 5%;
}
.window-close-btn > img,
.window-sound-btn > img {
  width: 100%;
  height: 100%;
}

.invert {
  background: none;
  filter: invert(0.2);
  margin: 0.2vw;
}
.window-right-btn_orange {
  background: #f08800;
}

/* @media (max-width: 1200px) {
  .window-btn-text {
    font-size: 0.8em;
  }
  .window-right-text {
    font-size: 0.8rem;
    line-height: 0.85rem;
  }
} */

/* @media (max-height: 527px) {
  .window-btn-img-block {
    width: 1.5rem;
    margin: 0.1rem;
    height: 1.5rem;
    margin-left: 8%;
  }
  .window-right .window-btn {
    margin-left: 0%;
  }
  .window-btn {
    width: 80%;
  }
}
@media (max-width: 800px) and (max-height: 527px) {
  .window-btn {
    width: 86%;
  }
}

@media (max-width: 900px) {
  .window-btn-text {
    font-size: 0.5em;
  }
  .window-right-text {
    font-size: 0.7rem;
    line-height: 0.75rem;
  }
} */

@media (min-width: 1441px) and (min-height: 850px) {
  .window-right-text {
    line-height: 1rem;
    font-size: 1.1rem;
  }
  .window-btn-text {
    font-size: 0.9em;
    color: #fff;
    font-weight: 600;
    text-align: center;
    width: auto;
    padding: 0 20px;
  }
  .window-btn-img-block {
    width: 3rem;
    margin: 0.2rem;
    height: 3rem;
  }
  .window-btn {
    width: 78%;
  }
}
</style>