<template>
  <section id="side-menu">
    <div class="row mb-4"></div>

    <div class="row w-100 m-0">
      <a href="#" class="py-3 w-100"
        ><div class="col-12 text-center">
          <img
            src="../assets/img/icons/home-icon.png"
            alt=""
            class="menu-icon"
          /></div
      ></a>
    </div>
    <div class="row w-100 m-0">
      <a href="#" class="py-3 w-100">
        <div class="col-12 text-center">
          <img
            src="../assets/img/icons/details_icon.png"
            alt=""
            class="menu-icon"
          /></div
      ></a>
    </div>
    <div class="row w-100 m-0">
      <a href="#" class="py-3 w-100">
        <div class="col-12 text-center">
          <img
            src="../assets/img/icons/notifications_icon.png"
            alt=""
            class="menu-icon"
          /></div
      ></a>
    </div>
  </section>
</template>

<script>
export default {
  name: "SideMenu",
};
</script>

<style scoped>
.menu-icon {
  width: 25px;
  height: 100%;
  filter: none;
  transition: 0.3s;
}
a:hover img {
  filter: drop-shadow(0px 0px 4px #00000071);
}
a {
  background: none;
  transition: 0.3s;
}
a:hover {
  background: url("../assets/img/pictures/bg-hover-side-menu.png") no-repeat;
  background-size: contain;
}
</style>