<template>
  <div class="row w-100">
    <div class="signinup mx-auto">
      <!-- Если решил залогиниться родитель или ментор -->
      <div
        v-if="type == 1"
        class="row m-0 align-items-center signinup__header-blue"
      >
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <p class="header-text my-auto">Вход</p>
        </div>
        <div class="col-2 text-center">
          <a class="white-link" href="#">RU</a>
        </div>
      </div>
      <!-- Если решил залогиниться ребенок -->
      <div
        v-if="type == 2"
        class="row m-0 align-items-center signinup__header-orange"
      >
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <p class="header-text my-auto">Вход</p>
        </div>
        <div class="col-2 text-center">
          <a class="white-link" href="#">RU</a>
        </div>
      </div>

      <div class="row m-0 align-items-center signinup__content">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <form>
            <div class="form-group mt-4 pt-2">
              <input
                type="email"
                class="form-control pl-3"
                placeholder="E-mail"
                v-model="email"
              />
            </div>
            <div class="form-group my-4">
              <input
                v-on:keyup.enter="login"
                type="password"
                class="form-control pl-3"
                placeholder="Пароль"
                v-model="password"
              />
            </div>
            <div class="form-check text-left my-3">
              <input
                type="checkbox"
                class="form-check-input"
                v-model="remember"
              />
              <label class="form-check-label ml-3 mt-1" for="RememberMeCheckBox"
                >Запомнить меня</label
              >
            </div>
            <div class="form-group my-4">
              <div class="row justify-content-center">
                <div class="col-12">
                  <!-- Кнопка входа для родителя и ментора -->
                  <b-button
                    @keyup.enter="login"
                    v-if="type == 1"
                    variant="1"
                    class="btn form__button button-blue no-image"
                    :disabled="loginButtonDisabled"
                    @click="login()"
                  >
                    <p class="my-auto">Войти</p>
                  </b-button>
                  <!-- Кнопка входа для ребенка -->
                  <b-button
                    @keyup.enter="login"
                    v-if="type == 2"
                    variant="1"
                    class="btn form__button button-orange no-image"
                    :disabled="loginButtonDisabled"
                    @click="login()"
                  >
                    <p class="my-auto">Войти</p>
                  </b-button>
                </div>
              </div>
            </div>
            <div class="form-group text-left">
              <a class="login__rememberlink" href="#">Забыли пароль?</a>
            </div>
          </form>
        </div>
        <div class="col-2 text-center"></div>
      </div>
    </div>
  </div>
</template>

<script>
import { UserMapper } from "@/store/user";
import { AgentMapper } from "@/store/agent";
export default {
  name: "FormLogin",
  data() {
    return {
      errors: [],
      password: "",
      email: "",
      remember: false,
    };
  },
  props: {
    type: Number,
  },
  computed: {
    ...UserMapper.mapState(["error", "me"]),
    ...AgentMapper.mapState(["agentMe"]),
    payload() {
      return {
        email: this.email,
        password: this.password,
        remember: this.remember,
      };
    },
    loginButtonDisabled() {
      return !(this.email && this.password);
    },
    userLinks() {
      return {
        child: this.me.img ? "child" : "child-login-steps",
        parent: "parent",
        mentor: "mentor",
        agent: this.agentMe == null ? "agent-data" : "agent",
        branch: "branch-analytics",
        Franchisee: "franchisee-data-change",
        admin: "admin-analytics-crm",
        adminBuch: "buhadmin-agents-table",
        HeadSalesManager: "headsalesmanager-franchisee-all",
        ClientManager: "clientmanager-analytics-franchisee",
        SalesManager: "salesmanager-analytics-crm",
        buhAdmin: "buhadmin-agents-table",
        buhFranch: "buhfranch-children-table",
      };
    },
  },
  methods: {
    ...UserMapper.mapActions(["signIn", "getMe", "signOut"]),
    ...AgentMapper.mapActions(["getAgentMe"]),

    async login() {
      await this.signIn(this.payload);
      if (!this.error) {
        await this.getMe();
        if (!this.me.isBaned) {
          this.$router.push({ name: this.userLinks[this.me.role] });
        } else {
          await this.toast(
            "Бан",
            `Данный аккаунт заблокирован.
            Причина блокировки: ${this.me.banReason || "Неизвестна"}`,
            "danger"
          );
          this.signOut();
        }
        await this.getAgentMe();
      } else {
        this.errorToast(this.error);
      }
    },
  },
};
</script>

<style></style>
