<template>
  <section
    id="buhfranch-act-viewer-child"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Лицензионный договор
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Лицензионный договор</p>
        </div>
      </div>
      <div class="row px-3" style="margin-top: 20px">
        <b-button
          variant="1"
          @click="downloadPDF('Лицензионный договор.pdf')"
          class="btn-act"
          style="margin-right: 55px"
          
          ><p>Скачать договор</p></b-button
        >
        <b-button variant="1" @click="printPDF" class="btn-act"
          ><p>Распечатать договор</p></b-button
        >
      </div>
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mt-4 mr-4"
      style="margin-bottom: 70px; height: 600px; display: flex"
      id="iframeContainer"
    ></div>
  </section>
</template>

<script>
import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
import moment from 'moment';
import DocsMixin from '@/mixins/docs'
pdfMake.vfs = pdfFonts.pdfMake.vfs;
moment.locale('ru');
export default {
  name: "SeminarDocViewer",
  props: {
    data: {
      type: Object,
      required: true,
    },
  },
  mixins:[DocsMixin],
  mounted() {
    let doc = this.createFranchiseeLicenseAsset(this.data);
    let pdf = this.createPDF(doc);
    this.createIframe(pdf, '#iframeContainer');
  },
};
</script>

<style>
.toolbar {
  display: none;
}
</style>