<template>
  <section id="dataBody" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid relative-block">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Все заявки/{{ agent.user.surName }} {{ agent.user.name }}
            {{ agent.user.patronymic }}
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Изменение данных Агента</p>
        </div>
      </div>
    </div>
    <FormAgent :inputs="agent" @change="changeProfile" isClientManager />
  </section>
</template>

<script>
import { ClientManagerMapper } from "@/store/clientManager";
import { AgentMapper } from "@/store/agent";
import { UserMapper } from "@/store/user";
import toast from "@/mixins/toast";
import FormAgent from "@/components/clientManager/agents/FormAgent.vue";
export default {
  name: "DataBody",
  components: {
    FormAgent,
  },
  data() {
    return {
      formProfile: {
        user: {},
      },
    };
  },

  computed: {
    ...ClientManagerMapper.mapState({
      agent: "agent",
      clientManagerError: "error",
    }),
    ...AgentMapper.mapState(["agentProfile"]),
    ...UserMapper.mapState({ me: "me", authError: "error" }),
    ...UserMapper.mapGetters(["role"]),
  },

  methods: {
    ...UserMapper.mapActions(["patchOtherProfile"]),
    ...ClientManagerMapper.mapActions(["getAgentDetails", "patchAgentProfile"]),
    // ...AgentMapper.mapActions([
    //   "postAgentProfile",
    //   "getAgentProfile",
    //   "patchAgentProfile"
    // ]),
    toast,
    async ban(cause) {
      this.banAgent = true;

      await this.ban({
        id: this.$route.params.id,
        data: { ban: true, ban_cause: cause },
      });
      if (!this.error) {
        this.toast("Успешно", `Агент успешно заблокирован`, "success");
      } else {
        this.toast(
          "Неизвестная ошибка",
          `Не удалось заблокировать агента`,
          "danger"
        );
      }
    },
    async changeProfile(data, formData) {
      formData.set("user", this.me.id);
      console.log(formData.get("user"));
      await this.patchOtherProfile({ id: data.id, data });

      await this.patchAgentProfile({
        id: this.$route.params.id,
        data: formData,
      });

      console.log(this.authError);

      if (!this.authError && !this.clientManagerError) {
        this.toast(
          "Изменения приняты",
          "Данные о профиле успешно изменены",
          "success"
        );
      }
      if (this.authError && this.authError.email) {
        this.toast(
          "Ошибка",
          "Аккаунт с данной почтой уже существует",
          "danger"
        );
      }
      if (this.clientManagerError && this.clientManagerError.emailBuch) {
        this.toast(
          "Ошибка",
          "Данная почта бухгалтера уже зарегистрирована",
          "danger"
        );
      }
    },
  },
  async mounted() {
    await this.getAgentDetails(this.$route.params.id);
  },
};
</script>

<style scoped>
h1 {
  font-size: 0.8rem;
}
</style>

<style>
.disabled {
  pointer-events: none;
  color: #949191;
  border: 1px solid #ffffff;
}
h6 {
  font-weight: 500;
  font-size: 18px;
  color: #2b2a29;
}
.admin-inputs > input {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  padding: 0.5vh 3%;
  transition: 0.5s ease;
  margin-bottom: 20px;
  margin-top: 0;
  width: 380px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
}
.admin-inputs > input:hover {
  border: 1px solid lightgray;
}
.admin-inputs > input:focus {
  border: 1px solid lightgray;
  outline: none;
}

.button-submit-data {
  padding: 0;
  background: #4d4db8;
  height: 35px;
  width: 200px;
}
.button-submit-data > p {
  font-weight: 500;
  font-size: 14px;
  margin: 0;

  color: #ffffff;
}
.data-download-anketa {
  border: unset;
  background: #4d4db8;
  border-radius: 3px;
  height: 30px;
  width: 180px;
  padding: 0;
}
.data-download-anketa > p {
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
}
.file-type {
  font-size: 16px;
  line-height: 20px;

  color: #2b2a29;
  font-weight: 400;
}

.agent-load {
  border: 1.5px solid #4d4db8;
  box-sizing: border-box;
  height: 30px;
  width: 140px;
  border-radius: 56px;
}
.agent-load:hover {
  background: #4d4db8;
  border: 1.5px solid #4d4db8;
  box-shadow: 0px 0px 15px #00000030;
  color: #fefefe;
}

.agent-load:active {
  border: 1.5px solid #4d4db8;
  color: #fefefe;
  transform: scale(1.05);
}

.documents-see {
  height: 35px;
  width: 215px;
  padding: 0;
}
.dropdown {
  width: 90%;
}
.button-dropdown-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s ease;
  margin-bottom: 20px;
  font-size: 16px;
  height: 30px !important;
  width: 380px !important;
  color: #626262;
  padding: 0.5vh 3%;
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
}

.invalid {
  border: 1px solid red !important;
}

.btn-ban-agent,
.btn-unban-agent {
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
  border-radius: 3px;

  width: 200px;
  height: 30px;
  outline: none;
  border: none;
  transition: 0.5s ease;
}
.btn-ban-agent {
  background: #f22929;
}
.btn-unban-agent {
  background: #67b42b;
}
.btn-ban-agent:hover,
.btn-unban-agent:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.btn-ban-agent:active,
.btn-ban-agent:focus,
.btn-unban-agent:active,
.btn-unban-agent:focus {
  transform: scale(1.05);
}
</style>
