<template>
  <b-modal
    id="modal-answers"
    size="md"
    :title="`Задание “${task.name}”`"
    hide-footer
    header-class="modal-answers-header"
  >
    <div class="contaiter-fluid relative-block mt-3 pt-4 pl-4">
      <!-- <button
        @click="closeModal()"
        class="btn-invisible-button absolute-block close-modal-icon"
      >
        <img
          src="@/assets/img/icons/close-icon-afroamerican.png"
          alt=""
          class=""
        />
      </button> -->
      <hr class="invisible" />
      <h6 class="pl-3 mb-4"></h6>

      <!-- ввод личной информации по ментору -->
      <div
        class="mb-4"
        v-for="(answer, i) in task.answers"
        :key="answer.id"
        :index="answer.id"
      >
        <div class="row mb-3">
          <div class="col-12 bold-text">
            <p class="m-0">Ответ {{ i + 1 }} {{ answer.name }}</p>
          </div>
          <!-- <div class="col">
            <p class="m-0 semi-bold-text">{{ answer.cost }} фоксиков</p>
          </div> -->
        </div>
        <div class="row">
          <div
            v-if="answer.answer"
            class="col-12"
            :class="{ blockNone: !answer.answer }"
          >
            <b-img
              fluid
              v-if="
                answer.answer.split('.')[answer.answer.split('.').length - 1] !=
                'wav'
              "
              :src="answer.answer"
              alt=""
            />

            <audio
              class="pill"
              controls
              v-else-if="
                answer.answer.split('.')[answer.answer.split('.').length - 1] ==
                'wav'
              "
              :src="answer.answer"
            ></audio>
            <button
              v-else
              class="agent-file-load child-answer"
              @click="lookAnswer(answer.answer)"
            >
              <p>Просмотр ответа</p>
            </button>
          </div>
          <div
            v-if="answer.text_answer"
            class="col-12"
            :class="{ blockNone: !answer.text_answer }"
          >
            <p>{{ answer.text_answer }}</p>
          </div>
          <!-- <div class="col-4" :class="{ blockNone: !answer.autio }">
            <button class="agent-file-load w-100 py-2">Прослушать аудио</button>
          </div> -->
        </div>
      </div>
      <!-- загрузка файлов для добавления ментора -->
    </div>
  </b-modal>
</template>

<script>
export default {
  name: "ModalAnswers",
  props: {
    task: {
      type: Object,
      required: true,
    },
  },
  methods: {
    lookAnswer(answer) {
      let link = document.createElement("a");
      link.href = answer;
      link.target = "_blank";
      link.click();
    },
  },
};
</script>

<style>
.modal-answers-header {
  justify-content: space-around;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}
</style>


<style  scoped>
/* h6 {
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;

  color: #2b2a29;
} */
/* #modal-child-answers {
  background-color: #fff;
  overflow: auto;
  height: 405px;
  width: 630px;
  left: calc(50% - 450px);
  box-shadow: 0px 2px 3px rgb(0 0 0 / 15%);
}
.child-answer {
  border: 1.5px solid #ed8719;
  box-sizing: border-box;
  border-radius: 40px;
  height: 35px;
  width: 144px;
  padding: 0;
}
.child-answer > p {
  margin: 0;
  color: #2b2a29;
  font-weight: 500;
  font-size: 14px;
}
.answer-text {
  font-weight: 500;
  font-size: 16px;
  color: #2b2a29;
}
.bold-text {
  font-weight: bold;
  font-size: 14px;
  color: #ed8719;
} */
</style>