<template>
  <div class="row mt-2">
    <!-- первый стобец с информацией по оборотам филиала -->
    <div class="col-5 relative-block">
      <div
        id="wrap-info"
        :class="{ 'border-show': toggleHeight }"
        class="wrap-info absolute-block h-100"
      >
        <div class="wrap-info-inner pt-2" v-if="!toggleHeight">
          <div
            v-for="circ in circulationGroup.slice(0, 1)"
            :key="circ.id"
            :index="circ.id"
            class="circ-wrap"
          >
            <div class="row">
              <div class="col-8">
                <p class="base-info-text">{{ circ.name }}:</p>
              </div>
              <div class="col text-right">
                <p class="base-info-text">
                  <span class="bold-text green-text"
                    >{{ numberWithSpaces(circ.Circulation) }} P</span
                  >
                </p>
              </div>
            </div>
            <hr class="info-hr my-2" />
          </div>
        </div>
        <div class="wrap-info-inner pt-2" v-else>
          <div
            v-for="circ in circulationGroup"
            :key="circ.id"
            :index="circ.id"
            class="circ-wrap"
          >
            <div class="row">
              <div class="col-8">
                <p class="base-info-text">{{ circ.name }}:</p>
              </div>
              <div class="col text-right">
                <p class="base-info-text">
                  <span class="bold-text"
                    >{{ numberWithSpaces(circ.Circulation) }} P</span
                  >
                </p>
              </div>
            </div>
            <!-- <div class="row">
              <div class="col-8">
                <p class="base-info-text">Прибыль:</p>
              </div>
              <div class="col text-right">
                <p class="base-info-text">
                  <span class="bold-text green-text">{{ circ.Profit }} P</span>
                </p>
              </div>
            </div> -->
            <hr class="info-hr my-2" />
          </div>
        </div>

        <div class="row justify-content-end py-2 pr-2">
          <button @click="changeHeight()" class="btn-invisible-button flex-btn">
            <p>{{ showCategories }} категории</p>
            <img
              :class="{ rotate180: toggleHeight }"
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="arrow-diagramm ml-2 mr-1"
            />
          </button>
        </div>
      </div>
    </div>
    <!-- первый стобец с информацией по оборотам филиала -->
    <div class="col-1"></div>
    <!-- второй столбец с простой числовой инфомрацией по группам и менторам -->
    <div class="col">
      <div class="row">
        <div class="col-6">
          <p class="base-info-text">Общее количество групп:</p>
        </div>
        <div class="col-1 p-0 text-right">
          <p class="base-info-text">
            <span class="bold-text">{{ groupCount }}</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-7 pr-0"><hr class="base-hr" /></div>
      </div>
      <div class="row">
        <div class="col-6 pr-0">
          <p class="base-info-text">Общее количество менторов:</p>
        </div>
        <div class="col-1 p-0 text-right">
          <p class="base-info-text">
            <span class="bold-text">{{ mentorCount }}</span>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-7 pr-0"><hr class="base-hr" /></div>
      </div>
      <div class="row">
        <div class="col-6">
          <p class="base-info-text">Общее количество детей:</p>
        </div>
        <div class="col-1 p-0 text-right">
          <p class="base-info-text">
            <span class="bold-text">{{ childCount }}</span>
          </p>
        </div>
      </div>
    </div>
    <!-- второй столбец с простой числовой инфомрацией по группам и менторам -->
  </div>
</template>

<script>
import { numberWithSpaces } from "@/mixins/number";
import { BranchMapper } from "@/store/branch";
export default {
  name: "BaseInfo",
  data() {
    return {
      toggleHeight: false,
      showCategories: "Показать",
      // числовая информация о детях

      //   информация о прибыли и обороте
      circulationGroup: [
        {
          id: 1,
          name: "Общий оборот",
          Circulation: 0,
          Profit: 0,
        },
        {
          id: 2,
          name: "Общий оборот по тренингам",
          Circulation: 0,
          Profit: 0,
        },
        {
          id: 3,
          name: "Оборот по интернет магазину",
          Circulation: 0,
          Profit: 0,
        },
        {
          id: 4,
          name: "Оборот по Рюкзачкам к Fox Story",
          Circulation: 0,
          Profit: 0,
        },
        {
          id: 5,
          name: "Оборот по программам",
          Circulation: 40000,
          Profit: 10000,
        },
      ],
    };
  },
  computed: {
    ...BranchMapper.mapState(["mentors"]),
    groupCount() {
      if (this.mentors && this.mentors.length > 1) {
        let groupCount = 0;
        this.mentors.forEach((x) => (groupCount += x.groups));
        return groupCount;
      } else if (this.mentors && this.mentors.length == 1) {
        return this.mentors[0].groups;
      } else {
        return 0;
      }
    },
    mentorCount() {
      return this.mentors && this.mentors.length ? this.mentors.length : 0;
    },
    childCount() {
      if (this.mentors && this.mentors.length > 1) {
        let childCount = 0;
        this.mentors.forEach((x) => (childCount += x.children));
        return childCount;
      } else if (this.mentors && this.mentors.length == 1) {
        return this.mentors[0].children;
      } else {
        return 0;
      }
    },
  },
  methods: {
    numberWithSpaces,
    changeHeight() {
      this.toggleHeight = !this.toggleHeight;

      if (this.toggleHeight == true) {
        this.showCategories = "Скрыть";
      } else {
        this.showCategories = "Показать";
      }
    },
  },
};
</script>

<style>
.arrow-diagramm {
  height: 15px;
  margin: 0;
}
.base-hr {
  margin: 0;
  border: 0.5px dashed #c4c4c4;
}
.base-info-text {
  font-size: 1rem;
  /* margin-top: 0.5vh; */
  margin-bottom: 0.5vh;
  line-height: 20px;
}
.bold-text {
  font-weight: bold;
  color: #e4690b;
}

.wrap-info {
  z-index: 10;
  width: 92%;
  transition: 1s ease;
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.19);
  border-radius: 6px;
}
.wrap-info-inner {
  height: 100%;
  overflow: hidden;
}
.flex-btn {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
}
.flex-btn > p {
  margin: 0;
  margin-right: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
}
.info-hr {
  margin-top: 0.3vh;
  margin-bottom: 0.3vh;
  border: 1px solid #d1d1d1;
}
/* .border-show {
  border: 1px solid #000000;
} */
</style>