<template>
  <div
    id="modal-add-menthor"
    class="modal-wrap absolute-block animate__animated"
  >
    <div class="contaiter-fluid relative-block mt-3 pl-4">
      <button
        @click="closeModal()"
        class="btn-invisible-button absolute-block close-modal-icon"
      >
        <img
          src="@/assets/img/icons/close-icon-afroamerican.png"
          alt=""
          class=""
        />
      </button>
      <hr class="invisible" />
      <p class="header-modal pt-4 mt-0 mb-3 pl-3">Добавление нового ментора</p>

      <!-- ввод личной информации по ментору -->
      <form id="formGroup">
        <div class="row">
          <div class="col-2 my-auto">ФИО</div>
          <div class="col-1"></div>
          <div class="col-6 admin-inputs">
            <input
              class="my-1"
              v-model="menthorInfoGroup.name"
              placeholder="ФИО"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-2 my-auto">Email</div>
          <div class="col-1"></div>
          <div class="col-6 admin-inputs">
            <input
              class="my-1"
              v-model="menthorInfoGroup.email"
              @input="setEmail($event.target.value)"
              placeholder="Электронный почтовый адрес"
              :class="{
                invalid:
                  ($v.menthorInfoGroup.email.$dirty &&
                    !$v.menthorInfoGroup.email.email) ||
                  ($v.menthorInfoGroup.email.$dirty &&
                    !$v.menthorInfoGroup.email.minLength),
              }"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-2 my-auto">Телефон</div>
          <div class="col-1"></div>
          <div class="col-6 admin-inputs">
            <input
              class="my-1"
              type="tel"
              v-model="menthorInfoGroup.phone"
              @input="setPhone($event.target.value)"
              v-mask="'+# (###) ###-##-##'"
              placeholder="Телефон"
              :class="{
                invalid:
                  $v.menthorInfoGroup.phone.$dirty &&
                  !$v.menthorInfoGroup.phone.minLength,
              }"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-2 my-auto">Адрес</div>
          <div class="col-1"></div>
          <div class="col-6 admin-inputs">
            <input
              class="my-1"
              v-model="menthorInfoGroup.address"
              placeholder="Адрес проживания"
            />
          </div>
        </div>

        <h6 class="pl-3 passport">Паспортные данные</h6>

        <div class="row">
          <div class="col-3 my-auto">Серия/Номер</div>
          <div class="col-1"></div>
          <div class="col-6 admin-inputs">
            <input
              class="my-1"
              v-model="menthorInfoGroup.series"
              @input="setSeries($event.target.value)"
              v-mask="'##-##-######'"
              placeholder="Серия/Номер паспорта"
              :class="{
                invalid:
                  $v.menthorInfoGroup.series.$dirty &&
                  !$v.menthorInfoGroup.series.minLength,
              }"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-3 my-auto">Кем выдан</div>
          <div class="col-1"></div>
          <div class="col-6 admin-inputs">
            <input
              v-model="menthorInfoGroup.passportWho"
              placeholder="Паспорт кем выдан"
              class="my-1"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-3 my-auto">Дата выдачи</div>
          <div class="col-1"></div>
          <div class="col-6 admin-inputs">
            <b-form-datepicker
              placeholder="Дата выдачи"
              class="my-1 mentor-inputs-datepicker"
              locale="ru"
              hide-header
              label-help=""
              :date-format-options="{
                year: 'numeric',
                month: 'numeric',
                day: 'numeric',
              }"
              v-model="menthorInfoGroup.passportWhen"
            />
          </div>
        </div>
        <div class="row">
          <div class="col-3 my-auto">Статус работы</div>
          <div class="col-1"></div>
          <div class="col-6 admin-inputs">
            <b-form-select
              name="status"
              v-model="menthorInfoGroup.jobStatus"
              :options="mentorJobStatuses"
              class="my-1 mentor-inputs-select"
            >
              <b-form-select-option :value="null">
                <!-- :value="null"
              v-for="(s, index) in this.nationalityList" :key="index"> -->
                <!-- {{ s }} -->
              </b-form-select-option>
            </b-form-select>
            <!-- <input
              v-model="menthorInfoGroup.jobStatus"
              placeholder="Статус работы"
              class="my-1"
            /> -->
          </div>
        </div>
      </form>

      <!-- ввод личной информации по ментору -->
      <!-- загрузка файлов для добавления ментора -->

      <p class="modal-sub-header pl-3 mt-4 mb-3">
        Загрузите необходимые документы
      </p>

      <div class="row mt-2">
        <AgentFileLoad
          v-for="file in files"
          :key="file.id"
          :title="file.description"
          :file="file.file"
          :path="file.path"
          :fileName="getFileName(file)"
          @change="changeFile"
          class="col"
          color="#9aafd5"
        >
        </AgentFileLoad>
      </div>

      <div class="row my-4">
        <div class="col-8">
          <input
            type="submit"
            class="agent-file-load blue-file-load"
            :class="{ disabled }"
            @click="createMentor(), closeModal()"
            value="Завершить регистрацию"
          />
        </div>
      </div>
      <!-- загрузка файлов для добавления ментора -->
    </div>
  </div>
</template>

<script>
import { email, required, minLength } from "vuelidate/lib/validators";
import { BranchMapper } from "@/store/branch";
import { UserMapper } from "@/store/user";
import AgentFileLoad from "./../../ui/UIFileLoad.vue";
import moment from "moment";

export default {
  name: "MenthorAddModal",
  components: {
    AgentFileLoad,
  },
  data() {
    return {
      menthorInfoGroup: {
        name: "",
        email: "",
        phone: "",
        address: "",
        series: "",
        passportWho: "",
        passportWhen: "",
        jobStatus: "",
      },

      files: [
        {
          id: 1,
          description: "Паспорт+прописка",
          file: null,
        },
        {
          id: 2,
          description: "ИНН",
          file: null,
        },
        {
          id: 3,
          description: "СНИЛС",
          file: null,
        },
      ],
      mentorJobStatuses: ["ГПХ", "Трудовой договор", "Самозанятый", "ИП"],
    };
  },

  validations: {
    menthorInfoGroup: {
      email: { email, required, minLength: minLength(5) },
      phone: { email, required, minLength: minLength(18) },
      series: { required, minLength: minLength(12) },
    },
  },

  methods: {
    ...BranchMapper.mapActions(["postMentorProfile"]),
    ...UserMapper.mapState(["me"]),
    toast(title, message, variant) {
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        solid: true,
      });
    },
    changeFile(file, name) {
      let fileItem = this.files.find((f) => f.description == name);
      fileItem.file = file;
    },
    getFileName(file) {
      if (file.file) {
        let name = file.file.name;
        return name;
      }
      if (file.path) {
        let name = file.path.split("/")[file.path.split("/").length - 1];
        return name;
      }
      return null;
    },

    setEmail(value) {
      this.menthorInfoGroup.email = value;
      this.$v.menthorInfoGroup.email.$touch();
    },

    setPhone(value) {
      this.menthorInfoGroup.phone = value;
      this.$v.menthorInfoGroup.phone.$touch();
    },

    setSeries(value) {
      this.menthorInfoGroup.series = value;
      this.$v.menthorInfoGroup.series.$touch();
    },

    closeModal() {
      this.$emit("closeModal");
    },

    handleUpload(id) {
      // this.$refs[id].click();
      this.$refs["fileUpload" + id.toString()][0].click();
      // document.getElementById(`fileUpload${id}`).click();
    },

    uploadFile(id) {
      this.files[id - 1].file =
        this.$refs["fileUpload" + id.toString()][0].files[0];
    },
    clearForm() {
      this.menthorInfoGroup.name = "";
      this.menthorInfoGroup.email = "";
      this.menthorInfoGroup.phone = "";
      this.menthorInfoGroup.address = "";
      this.menthorInfoGroup.series = "";
      this.menthorInfoGroup.passportWho = "";
      this.menthorInfoGroup.passportWhen = "";
      this.menthorInfoGroup.jobStatus = "Работает";

      this.files[0].name = "";
      this.files[0].file = null;
      this.files[1].name = "";
      this.files[1].file = null;
      this.files[2].name = "";
      this.files[2].file = null;
    },
    async createMentor() {
      let payload = new FormData();

      Object.entries(this.mentorAccountList).forEach((entry) => {
        payload.append(entry[0], entry[1]);
      });
      Object.entries(this.mentorProfileList).forEach((entry) => {
        payload.append(entry[0], entry[1]);
      });
      payload.set(
        "passportPDF",
        this.mentorProfileList.passportPDF,
        "passportPDF.pdf"
      );
      payload.set("branch", this.me.id);
      payload.set("snilsPDF", this.mentorProfileList.snilsPDF, "snilsPDF.pdf");
      payload.set("innPDF", this.mentorProfileList.innPDF, "innPDF.pdf");
      await this.postMentorProfile(payload);
      if (!this.error) {
        this.clearForm();
      }
    },
  },

  computed: {
    ...UserMapper.mapState(["me"]),
    mentorProfileList() {
      return {
        jobStatus: this.menthorInfoGroup.jobStatus,
        passport: this.menthorInfoGroup.series,
        passportWho: this.menthorInfoGroup.passportWho,
        passportWhen: moment(this.menthorInfoGroup.passportWhen).format(
          "YYYY-MM-DDThh:mm"
        ),
        date_work: moment().format("YYYY-MM-DDThh:mm"),
        // passportWhen: this.menthorInfoGroup.passportWhen,
        passportPDF: this.files[0].file,
        snilsPDF: this.files[1].file,
        innPDF: this.files[2].file,
        address: this.menthorInfoGroup.address,
      };
    },
    mentorAccountList() {
      return {
        surName:
          this.menthorInfoGroup.name.split(" ").length > 0
            ? this.menthorInfoGroup.name.split(" ")[0]
            : "",
        name:
          this.menthorInfoGroup.name.split(" ").length > 1
            ? this.menthorInfoGroup.name.split(" ")[1]
            : "",
        patronymic:
          this.menthorInfoGroup.name.split(" ").length > 2
            ? this.menthorInfoGroup.name.split(" ")[2]
            : "",
        email: this.menthorInfoGroup.email,
        phone: this.menthorInfoGroup.phone,
        role: "mentor",
      };
    },

    disabled() {
      const fill = Object.entries(this.menthorInfoGroup)
        .filter((i) => ![false, "", null].includes(i[1]))
        .filter(
          (i) => !["Паспорт+прописка", "ИНН", "СНИЛС", "id"].includes(i[0])
        );
      const fileFill = this.files.filter((i) => i.file || i.path);
      console.log({ fill, fileFill });
      return fill.length < 8 || fileFill.length < 3;
    },
  },
};
</script>

<style scoped>
.mentor-inputs-select:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #2b2a29;
}
.mentor-inputs-datepicker,
.mentor-inputs-select {
  border: 0;
  border-bottom: 1px solid #2b2a29;
  margin: 0;
  height: 30px;
  width: 300px;
  outline: 0;
  border-radius: 0;
}
.mentor-inputs-datepicker > button {
  visibility: hidden !important;
}
.mentor-inputs-datepicker > label {
  margin-left: -30px !important;
}
.invalid {
  border: 1px solid red !important;
}
.admin-inputs > input {
  background: unset;
  border: none;
  outline: none;
  width: 300px;
  height: 30px;
  margin: 0;
  border-radius: 0;
  border-bottom: 1px solid #2b2a29;
}
.admin-inputs > input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #2b2a29;
}
/* .admin-inputs > input {
  background: rgba(201, 201, 201, 0.54);
  border: 1px solid rgba(211, 211, 211, 0);
  padding: 0.5vh 3%;
  transition: 0.5s ease;
  margin-bottom: 1.5vh;
  margin-top: 0;
  font-size: 0.8rem;
  /* width: 90%; */
/* } 
.admin-inputs > input:hover {
  border: 1px solid lightgray;
}
.admin-inputs > input:focus {
  border: 1px solid lightgray;
  outline: none;
}
*/
.passport {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.row {
  margin-bottom: 0.1rem;
}

.modal-wrap {
  z-index: 10000;
  top: calc(50% - 302px);
  left: calc(50% - 230px);
  background-color: #fefefe;
  padding: 0;
  border-radius: 1%;
  height: 660px;
  width: 640px;
  margin: auto;
  overflow-y: auto;
  transition: 1s ease;
  position: fixed;
}
.header-modal {
  font-family: "Montserrat";

  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
}
.modal-sub-header {
  font-family: "Montserrat";
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}
.close-modal-icon {
  top: 0;
  right: 2%;
  height: 15px;
  width: 15px;
}
.close-modal-icon > img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.admin-inputs {
  background: unset;
  border: unset;
}

.agent-file-load {
  width: 140px;
  padding: 0% 7%;
  height: 30px;
  background: #efefef;
  border: 1px solid #626262;
  border-radius: 50px;
  color: #626262;
  transition: 0.5s ease;
}
.agent-file-load:hover {
  border: 1px solid #000000;
  box-shadow: 0px 0px 5px rgba(15, 15, 15, 0.282);
}
.agent-file-load:focus {
  color: #000000;
  border: 1px solid #000000;
}
.blue-file-load {
  padding: 0% 2%;
  width: 225px;
  height: 35px;
  background: #9aafd5;
  color: #ffffff;
  border: none;
}
.file-load-modal {
  background: #ffffff00;
  border: 1.5px solid #9aafd5;
  box-sizing: border-box;
  height: 30px;
  width: 140px;
  color: #2b2a29;
}
.file-load-modal:hover {
  background: #9aafd5;
  color: #ffffff;
}
.agent-file-load.disabled {
  pointer-events: none;
  color: #949191;
  border: 1px solid #ffffff;
}
</style>
