<template>
  <section>
    <div class="row w-100 mt-3 table-analytics">
      <b-table
        hover
        ref="topchild"
        id="menthors-table"
        :items="items"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        sort-icon-left
        @row-clicked="clickRow"
      >
        <!-- аналог системы рангов -->
        <template #cell(menthorname)="row">
          <p class="m-0 blue-text">{{ row.value }}</p>
          <!-- {{ row.value == 0 ? "Работает" : "Уволен" }} -->
        </template>
        <!-- аналог системы рангов -->
        <!-- аналог системы рангов -->
        <template #cell(status)="row">
          <p v-if="row.value == 0" class="m-0 green-text">Работает</p>
          <p v-else-if="row.value == 1" class="m-0 red-text">Уволен</p>
          <!-- {{ row.value == 0 ? "Работает" : "Уволен" }} -->
        </template>
        <!-- аналог системы рангов -->
        <!-- кнопка, чтобы вызвать дополнителньую информацию о менторе -->
        <template #cell(show_details)="row">
          <button
            :id="`show_details_btn${row.item.id}`"
            @click="row.toggleDetails"
            class="btn-invisible-button btn-details-height"
          >
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="img-fluid"
            />
          </button>
        </template>
        <!-- кнопка, чтобы вызвать дополнителньую информацию о менторе -->
        <!-- кнопка для увольнения ментора -->
        <template #cell(fire_menthor)="row">
          <button
            @click="
              $bvModal.show('modal-fire-mentor');
              mentor = row.item;
            "
            data-toggle="tooltip"
            data-placement="bottom"
            title="Уволить"
            class="btn-invisible-button btn-fired"
          >
            <img
              src="@/assets/img/admin-icons/fire-ellipse.png"
              alt=""
              class="fired-icon"
            />
          </button>
        </template>
        <!-- кнопка для увольнения ментора -->

        <!-- дополнительная информация про ментора -->
        <template #row-details="row">
          <div class="row">
            <div class="col-4" style="padding-left: 2.5rem">
              <p class="my-1">Кол-во проведённых тренингов:</p>
            </div>
            <div class="col-1">
              <p class="my-1">
                <span class="bold-text">{{ row.item.trainingCount }}</span>
              </p>
            </div>

            <div class="col-4"><p class="my-1">Кол-во групп:</p></div>
            <div class="col-1">
              <p class="my-1">
                <span class="bold-text">{{ row.item.groupCount }}</span>
              </p>
            </div>
          </div>
          <div class="row my-1">
            <div
              class="col-5"
              style="padding-left: 2.5rem; padding-right: 4rem"
            >
              <hr class="base-hr" />
            </div>
            <div class="col-5" style="padding-right: 4rem">
              <hr class="base-hr" />
            </div>
          </div>
          <div class="row">
            <div class="col-4" style="padding-left: 2.5rem">
              <p class="my-1">Общее кол-во детей:</p>
            </div>
            <div class="col-1">
              <p class="my-1">
                <span class="bold-text">{{ row.item.childCount }}</span>
              </p>
            </div>

            <div class="col-4"><p class="my-1">Оборот за все время:</p></div>
            <div class="col-1">
              <p class="my-1">
                <span class="bold-text">{{ row.item.allCount }}</span>
              </p>
            </div>
          </div>
          <div class="row mt-3">
            <div class="col-4" style="padding-left: 2.5rem">
              <b-button
                class="btn detail-btn mt-2"
                @click="mentorData(row.item.id)"
                >Подробнее</b-button
              >
            </div>
          </div>
          <!-- <div class="row">
            <div class="col-3 pl-0">
              <div class="row">
                <div class="col-7 p-0">
                  <p><span class="bold-text">Наименование</span></p>
                  <p>Группа 1</p>
                  <p>Группа 2</p>
                </div>
                <div class="col text-center p-0">
                  <p><span class="bold-text">Кол-во детей</span></p>
                  <p>10</p>
                  <p>10</p>
                </div>
              </div>
            </div>
          </div> -->
        </template>
        <!-- дополнительная информация про ментора -->
      </b-table>
    </div>
    <div class="row mt-3 justify-content-center">
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        @page-click="scrolltoTop"
        aria-controls="menthors-table"
      ></b-pagination>
    </div>
    <div class="row w-100 justify-content-end px-4">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" active class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
    <ModalConfirmation @ok="fireMentor" />
  </section>
</template>

<script>
import { BranchMapper } from "@/store/branch";
import { UserMapper } from "@/store/user";
import ModalConfirmation from "@/components/branch/modalConfirmation.vue";
import moment from "moment";
export default {
  name: "TableMenthors",
  components: { ModalConfirmation },
  data() {
    return {
      messageTheme: "",
      perPage: "15",
      currentPage: 1,
      fields: [
        {
          key: "menthorname",
          label: "ФИО",
          class: "menthor-name",
          sortable: false,
        },
        {
          key: "status",
          label: "Статус",
          class: "menthor-status",
          sortable: false,
        },
        {
          key: "date",
          label: "Дата",
          class: "menthor-date",
          sortable: true,
        },
        {
          key: "fire_menthor",
          class: "fire-menthor",
          label: "",
        },
        {
          key: "show_details",
          class: "show-details",
          label: "",
        },
      ],

      items: [],
      childItems: [],
      mentorCount: 0,
      countChild: 0,
      countGroup: 0,
      mentor: null,
    };
  },
  methods: {
    ...BranchMapper.mapActions(["getMentors", "patchMentor"]),
    ...BranchMapper.mapMutations(["setMentorDetails", "setAcceptAction"]),
    async mentorData(id) {
      // let mentor = this.mentors.find((mentor) => mentor.id == id);
      // await this.setMentorDetails(mentor);

      this.$router.push({
        path: "mentor/" + id + "/",
        params: { id: id },
      });
      // this.items.forEach((item) => {
      //   let mentors = item;
      // });
    },
    async fireMentor() {
      console.log(this.mentor);
      await this.patchMentor({
        id: this.mentor.id,
        data: { date_layoff: moment().format("YYYY-MM-DD") },
      });
      this.setTable();
    },
    clickRow(item) {
      document.getElementById(`show_details_btn_${item.id}`).click();
    },
    // async toggleDetails(row) {
    // this.items.forEach((item) => {
    //   this.countChild + item.childCount;
    //   this.countGroup + item.groupCount;
    // });
    // if (!row.item.childCount) {
    //   await this.getMentorDetails(row.item.id);
    //   if (!this.error) {
    //     let item = this.items.find((item) => item.id == row.item.id);
    //     let index = this.items.indexOf(item);
    //     this.mentorCount = this.items.length;
    //     this.$emit("mentor", this.mentorCount);
    //     this.items[index].childCount = this.mentorDetails.children;
    //     this.items[index].groupCount = this.mentorDetails.groups;
    //     this.items[index].trainingCount = this.mentorDetails.trainings;
    //     this.items[index].allCount = this.mentorDetails.all;
    //     this.items[index] = {
    //       ...item,
    //       childCount: this.mentorDetails.children,
    //       groupCount: this.mentorDetails.groups,
    //       trainingCount: this.mentorDetails.trainings,
    //       allCount: this.mentorDetails.all,
    //     };
    //   } else {
    //     console.log(this.childItems);
    //   }
    // }
    // },
    mentorsCount() {
      let all = this.items.length;
      this.$emit("mentors", all);
    },

    scrolltoTop() {
      this.$refs.tableStart.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },

    expandAdditionalInfo(row) {
      row._showDetails = !row._showDetails;
    },
    sorting() {},
    setTable() {
      this.items = this.mentors.map((mentor) => {
        let item = {
          isActive: true,
          id: mentor.id,
          menthorname: `${mentor.mentor.surName} ${mentor.mentor.name} ${mentor.mentor.patronymic}`,
          status: mentor.date_layoff ? 1 : 0,
          date: `${moment(mentor.date_work).format("DD.MM.YYYY")}${
            mentor.date_layoff
              ? " - " + moment(mentor.date_layoff).format("DD.MM.YYYY")
              : ""
          }`,
          _showDetails: false,

          childCount: mentor.children,
          trainingCount: mentor.trainings,
          groupCount: mentor.groups,
          allCount: mentor.all,
        };
        return item;
      });
    },
  },
  watch: {
    mentors: {
      handler() {
        this.setTable();
      },
      deep: true,
    },
  },

  computed: {
    ...BranchMapper.mapState(["error", "mentorDetails", "mentors"]),
    ...UserMapper.mapState(["token"]),

    rows() {
      return this.items.length;
    },
  },

  async mounted() {
    await this.getMentors(this.token);
    if (!this.error) {
      this.setTable();
    } else {
      console.log(this.error);
    }

    // await this.getChildDetails(this.token);
    // if (!this.error) {
    //   this.childItems = this.childDetails.map((child) => {
    //     let childItem = {
    //       isActive: true,
    //       id: child.id,
    //       name: child.name,
    //       count: child.children,

    //       _showDetails: false,
    //     };
    //     return childItem;
    //   });
    // } else {
    //   console.log(this.error);
    //   console.log(this.childItems);
    // }

    // this.childItems.forEach((item) => {
    //   let count = 0;
    //   count + item.count;
    //   this.currentItem.childCount = count;
    // });
  },
};
</script>

<style>
.fired-icon {
  height: 25px;
  width: 25px;
  object-fit: contain;
}
.btn-details-height {
  width: 15px;
}
.detail-btn {
  background: #9aafd5 !important;
  outline: none;
  border: none;
  padding: 0;
  height: 30px;
  width: 115px;
  border-radius: 3px;
}
.menthor-date {
  width: 30%;
  text-align: center;
}
.show-details {
  width: 7%;
}
.fire-menthor {
  width: 5%;
}
.menthor-status {
  width: 25%;
  text-align: center;
}
.menthor-name {
  padding-left: 2.5rem !important;
}
</style>
