<template>
  <header>
    <nav
      class="
        navbar navbar-expand-lg navbar-light
        bg-light
        p-0
        navbar__parent
        no-select
      "
    >
      <div class="row no-wrap h-100 w-100">
        <div class="pages-brand my-auto text-center pointer">
          <button @click="burgerMenu" class="btn-invisible-button burger-menu">
            <img src="@/assets/img/icons/burger.svg" />
          </button>

          <!-- <router-link to="/childpage/tales"> -->
          <button
            @click="$router.push({ name: 'child-tales' })"
            class="btn-invisible-button brand-image"
          >
            <img
              src="@/assets/img/logo/BusinessFox.png"
              style="height: 100%; width: 100%; object-fit: contain"
            />
          </button>
          <!-- </router-link> -->
        </div>
        <div class="col-md-3">
          <div class="row h-100 align-items-center">
            <div id="link-a-ranks" class="col pr-0 text-rank">
              <p class="rank-name m-0">{{ profile.rank }}</p>
            </div>
            <b-popover
              class="pr-3"
              target="link-a-ranks"
              placement="bottomright"
              triggers="hover"
            >
              <PopoverRanks />
            </b-popover>
            <div class="col-md-2 p-0 text-right my-auto">
              <p class="m-0 rank-text">{{ profile.foxies }}</p>
            </div>
            <div class="col-coin p-0 pl-2 my-auto">
              <img src="@/assets/img/icons/coin.svg" class="coin-img" />
            </div>
          </div>
        </div>

        <div class="col-lang-notifications m-0 p-0 text-center">
          <div class="row h-100">
            <div class="col-5 h-100 my-auto p-0 profile-popup">
              <div id="link-a-notifications" class="popover-block">
                <img src="@/assets/img/icons/bell.png" class="bell-img" />
                <span class="badge notification-count-child text-left pr-0"
                  >+3</span
                >
              </div>

              <b-popover
                class="pr-3"
                target="link-a-notifications"
                placement="bottom"
                triggers="hover"
              >
                <PopoverNotifications />
              </b-popover>
            </div>
            <div class="col-md-7 p-0">
              <div class="row h-100 align-items-center">
                <div class="col-lang p-0 my-auto text-right">
                  <a class="" href="#"
                    ><img
                      src="@/assets/img/icons/language-child.png"
                      class="img-fluid"
                  /></a>
                </div>
                <div class="col p-0"><a class="" href="#">RU</a></div>
                <div class="col p-0 my-auto text-left">
                  <a class="" href="#"
                    ><img
                      src="@/assets/img/icons/arrow_down.png"
                      class="img-fluid"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col h-100 align-items-center p-0">
          <div class="row h-100 w-100">
            <div class="col-9 my-auto text-right">
              <a class="link__text"
                >{{ profile.child.second_name }} {{ profile.child.name }}
                {{ profile.child.last_name }}</a
              >
            </div>
            <div id="link-a-profile" class="col-3 h-100 p-0 text-center">
              <div class="row h-100 px-2 no-wrap profile-popup">
                <div class="col column-lil-avatar">
                  <img
                    class="img-lil-avatar round-icon"
                    :src="profile.child.avatar"
                  />
                </div>
                <div
                  class="
                    col-avatar-arrow
                    text-left
                    p-0
                    my-auto
                    text-center
                    rotating-arrow
                  "
                >
                  <img
                    src="@/assets/img/icons/arrow_down.png"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <b-popover
              target="link-a-profile"
              placement="bottomleft"
              triggers="hover focus"
            >
              <PopoverProfile />
            </b-popover>
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
import PopoverProfile from "@/components/main/header/PopoverProfile.vue";
import PopoverNotifications from "@/components/main/header/PopoverNotifications.vue";
import PopoverRanks from "@/components/child/header/PopoverRanks.vue";
import { ChildMapper } from "@/store/child";
export default {
  name: "Header",
  components: {
    PopoverProfile,
    PopoverNotifications,
    PopoverRanks,
  },
  methods: {
    burgerMenu() {
      console.log("Бургер меню");
    },
  },
  computed: {
    ...ChildMapper.mapState(["profile", "mediaUrl"]),
  },
};
</script>

<style>
.brand-image {
  height: 3rem;
}
.img-lil-avatar {
  width: auto;
  max-height: 100%;
}
.link__text {
  font-size: 1rem;
}
.column-lil-avatar {
  height: 100%;
  padding: 3% 0;
}
.coin-img,
.bell-img {
  height: 20px;
  width: 20px;
  object-fit: contain;
}

.col-lang {
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.popover-block {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.notification-count-child {
  top: 25%;
  right: 40%;
}
.col-coin {
  flex: 0 0 8.333333%;
  max-width: 8.333333%;
}
.col-lang-notifications {
  flex: 0 0 25%;
  max-width: 25%;
}
.text-rank {
  text-align: center;
}
.col-avatar-arrow {
  flex-basis: 0;

  flex-grow: 1;
  max-width: 100%;
}
.burger-menu {
  display: none;
}
/* @media screen and (max-width: 1100px) {
  .link__text {
    font-size: 0.8rem;
  }

  .img-lil-avatar {
    max-width: 100%;
    height: auto;
  }
  .column-lil-avatar {
    padding: 12% 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
  }
  .brand-image {
    height: 2.5rem;
    object-fit: contain;
  }
} */

/* Планшет в портретном режиме */
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .navbar__parent {
    height: 85px;
    background: rgb(231, 231, 231);
    background: linear-gradient(
      0deg,
      rgba(231, 231, 231, 1) 0%,
      rgba(255, 253, 253, 1) 32%
    );
  }
  .img-lil-avatar {
    /* max-width: 100%; */
    height: 100%;
    height: 50px;
    width: 50px;
    -o-object-fit: contain;
    object-fit: contain;
  }
  .column-lil-avatar {
    padding: 10% 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
  }
  .col-coin {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lang-notifications {
    flex: 0 0 16.6666%;
    max-width: 16.6666%;
  }
  .col-lang {
    display: none;
  }
  /* .col-avatar-arrow {
    display: none;
  } */
  .text-rank {
    text-align: right;
  }
  .brand-image {
    width: 115%;
    object-fit: contain;
  }
  .rank-name {
    font-size: 16px;
    line-height: 16px;
  }
  .coin-img {
    height: 30px;
    width: 30px;
  }
  .col-avatar-arrow {
    display: none;
  }
  .notification-count-child {
    top: 30%;
    right: 30%;
  }
  .pages-brand {
    width: 15%;
    margin-left: 50px;
  }
  .burger-menu {
    display: block;
    position: absolute;
    top: 33%;
    left: 1%;
    height: 30px;
  }
  .burger-menu > img {
    height: 100%;
  }
}
</style>