<template>
  <header>
    <nav
      class="navbar navbar-expand-lg navbar-light bg-light py-0 navbar__parent no-select"
    >
      <div class="pages-brand text-center">
        <router-link class="navbar-brand" :to="{ name: 'branch-analytics' }"
          ><img src="@/assets/img/logo/BusinessFox.png" class="brand__image"
        /></router-link>
      </div>
      <div class="row no-wrap h-100 w-100">
        <div class="col-md-5 my-auto"></div>

        <div class="col-md-2 m-0 p-0 text-center">
          <div class="row h-100">
            <div class="col-2 my-auto p-0"></div>
            <div class="col-3 h-100 my-auto p-0 profile-popup">
              <div id="link-a-notifications" class="pt-3 h-100">
                <img src="@/assets/img/icons/bell.png" class="img-fluid" />
                <span class="badge notification-count-header text-left pr-0"
                  >+3</span
                >
              </div>

              <b-popover
                class="pr-3"
                target="link-a-notifications"
                placement="bottom"
                triggers="focus hover"
              >
                <PopoverNotifications />
              </b-popover>
            </div>
            <div class="col-md-7">
              <div class="row h-100 align-items-center">
                <div class="col-4 p-0 my-auto">
                  <a class="" href="#"
                    ><img
                      src="@/assets/img/icons/language.png"
                      class="img-fluid"
                  /></a>
                </div>
                <div class="col-4 p-0"><a class="" href="#">RU</a></div>
                <div class="col-4 p-0 my-auto">
                  <a class="" href="#"
                    ><img
                      src="@/assets/img/icons/arrow_down.png"
                      class="img-fluid"
                  /></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-5 h-100 align-items-center p-0">
          <div class="row h-100 w-100">
            <div class="col-9 my-auto text-right">
              <a class="link__text pr-3">{{
                branchProfile ? branchProfile.name : ""
              }}</a>
            </div>
            <div id="link-a-profile" class="col-3 h-100 p-0 text-center">
              <div class="row h-100 mx-2 no-wrap profile-popup">
                <div class="col-6 p-0 my-auto text-center rotating-arrow">
                  <img
                    src="@/assets/img/icons/arrow_down.png"
                    class="img-fluid"
                  />
                </div>
              </div>
            </div>
            <b-popover
              target="link-a-profile"
              placement="bottomleft"
              triggers="hover focus"
            >
              <PopoverProfile />
            </b-popover>
          </div>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
import { BranchMapper } from "@/store/branch";
import PopoverProfile from "@/components/global/header/PopoverProfile.vue";
import PopoverNotifications from "@/components/global/header/PopoverNotifications.vue";

export default {
  name: "Header",
  components: {
    PopoverProfile,
    PopoverNotifications,
  },
  computed: {
    ...BranchMapper.mapState(["branchProfile"]),
  },
};
</script>

<style>
</style>