<template>
  <section id="childlogin" class="childlogin-bg">
    <div class="full-height-container animate__animated animate__fadeIn">
      <div class="wrapper">
        <div class="row w-100 justify-content-center">
          <div class="col-6 my-4 text-center">
            <img src="@/assets/img/logo/BusinessFox.png" class="img-fluid" />
          </div>
        </div>
        <FormLogin v-bind:type="2" />
      </div>
    </div>
  </section>
</template>

<script>
import FormLogin from "@/components/main/login/FormLogin.vue";

export default {
  components: {
    FormLogin,
  },
};
</script>

<style>
</style>
