<template>
  <section id="childloginsteps" class="childlogin-bg" v-if="me">
    <div
      class="container full-height-container animate__animated animate__fadeIn"
      style="display: flex; align-items: center"
    >
      <div class="wrapper-steps">
        <div class="row w-100 justify-content-center">
          <div class="col-6 my-4 text-center">
            <img src="@/assets/img/logo/BusinessFox.png" class="img-fluid" />
          </div>
        </div>

        <div class="accordion" id="accordionExample">
          <!-- //!Первый шаг логина -->
          <div class="card">
            <div class="card-header steps-bg p-0" id="headingOne">
              <h5 class="mb-0 h-100">
                <button
                  class="btn w-100 h-100 text-left no-pointer"
                  aria-expanded="true"
                >
                  <p class="my-auto pl-4 step-text">Этап 1. Введи свое имя</p>
                </button>
              </h5>
            </div>

            <div
              id="collapseOne"
              class="collapse show"
              aria-labelledby="headingOne"
              data-parent="#accordionExample"
            >
              <div class="card-body step-1-body">
                <div class="row w-100 h-100 row-step1">
                  <div class="col-md-2"></div>
                  <div class="col-md-6 my-auto pr-0 row-step1">
                    <input
                      type="text"
                      class="form-control w-100 h-100"
                      id="ChildNameFromLoginSteps"
                      placeholder="Имя"
                      v-model="me.child.name"
                    />
                  </div>
                  <div class="col-md-2 my-auto pl-0 row-step1">
                    <button
                      class="btn btn-inline-step w-100 h-100 text-left"
                      data-toggle="collapse"
                      data-target="#collapseTwo"
                      aria-expanded="false"
                      aria-controls="collapseTwo"
                    >
                      <p class="my-auto text-center">OK</p>
                    </button>
                  </div>
                  <div class="col-md-2"></div>
                </div>
              </div>
            </div>
          </div>
          <!--//! Первый шаг логина -->
          <!--//! Второй шаг логина -->
          <div class="card">
            <div class="card-header steps-bg p-0" id="headingTwo">
              <h5 class="mb-0 h-100">
                <button class="btn w-100 h-100 text-left no-pointer">
                  <p class="my-auto pl-4 step-text">Этап 2. Выбери девиз</p>
                </button>
              </h5>
            </div>

            <div
              style="z-index: 1000"
              id="collapseTwo"
              class="collapse"
              aria-labelledby="headingTwo"
              data-parent="#accordionExample"
            >
              <div class="card-body step-2-body px-0">
                <div class="row h-100">
                  <div class="col-md-6 pl-4">
                    <textarea
                      class="form-control mt-4"
                      placeholder="Напиши свой девиз"
                      v-model="slogan"
                    ></textarea>
                    <button
                      class="btn my-4 p-0 btn-inline-step btn-step-2"
                      data-toggle="collapse"
                      data-target="#collapseThree"
                      aria-expanded="false"
                      aria-controls="collapseThree"
                    >
                      <p class="my-auto text-center">OK</p>
                    </button>
                  </div>
                  <div class="col-md-6 pr-4">
                    <p class="motto-pick-label mt-4">
                      Или выбери один из предложеных:
                    </p>
                    <DropDown :items="slogans" @choose="setSlogan" />
                  </div>
                </div>
              </div>
            </div>
            <!--//! Второй шаг логина -->
          </div>
          <!--//! Третий шаг для логина -->
          <div class="card">
            <div class="card-header steps-bg p-0" id="headingThree">
              <h5 class="mb-0 h-100">
                <button class="btn w-100 h-100 text-left no-pointer">
                  <p class="my-auto pl-4 step-text">Этап 3. Выбери аватар</p>
                </button>
              </h5>
            </div>
            <div
              id="collapseThree"
              class="collapse"
              aria-labelledby="headingThree"
              data-parent="#accordionExample"
            >
              <div class="card-body step-2-body">
                <div class="row h-100">
                  <!-- //!Загрузка картинки -->
                  <div class="col-md-4">
                    <div class="row">
                      <div class="col-md-12 text-center my-3 pt-2">
                        <img
                          src="@/assets/img/icons/icon-profile-big.png"
                          class="img-fluid round-icon"
                        />
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-12">
                        <div class="form-group text-center">
                          <input
                            type="file"
                            @change="chooseAvatar()"
                            class="form-control-file"
                            ref="file"
                            id="photo-load"
                          />
                          <label for="photo-load" class="mx-auto pointer"
                            >Загрузить фото</label
                          >
                        </div>
                      </div>
                    </div>
                  </div>
                  <!--//! Загрузка картинки -->
                  <!--//! Выбор аватара -->
                  <PickAvatar @pick="pickAvatar" />
                  <!-- //!Выбор аватара -->
                </div>
              </div>
            </div>
          </div>
          <!-- //!Третий шаг для логина -->
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { UserMapper } from "@/store/user";
import { ChildMapper } from "@/store/child";
import PickAvatar from "@/components/child/steps/PickAvatar.vue";
import DropDown from "@/components/child/steps/DropDown.vue";
export default {
  data() {
    return {
      name: "",
      sloganName: "Девиз",
      slogan: "",
      me: null,
      file: null,
      slogans: [
        "Если не ты, то кто?",
        "Желающие радуги должны мириться с дождем.",
        "Относись к другим так, как ты хочешь чтобы относились к тебе.",
        "У совершенства нет предела.",
      ],
    };
  },
  components: {
    PickAvatar,
    DropDown,
  },
  computed: {
    ...ChildMapper.mapState({ childMe: "childMe", childError: "childError" }),
  },
  methods: {
    ...UserMapper.mapActions(["patchMe"]),
    ...ChildMapper.mapActions(["patchChildById", "getChildMe"]),

    setSlogan(slogan) {
      this.slogan = slogan;
      console.log(this.me);
    },
    async saveChild(childInfo, userInfo) {
      await this.patchMe(userInfo, true);
      if (!this.userError) {
        await this.patchChildById({ id: this.me.id, data: childInfo });
        if (!this.error) {
          this.$router.push({ name: "child" });
          return;
        }
        this.errorToast(this.childError);
        return;
      }
      this.errorToast(this.userError);
    },
    async chooseAvatar() {
      let childInfo = {
        slogan: this.slogan,
      };
      let userInfo = new FormData();
      userInfo.set("name", this.me.child.name);
      userInfo.set("img", this.$refs.file.files[0]);
      await this.saveChild(childInfo, userInfo);
    },
    async pickAvatar(src) {
      let childInfo = {
        slogan: this.slogan,
      };
      let avatar = null;
      await fetch(src)
        .then((res) => res.blob())
        .then((blob) => {
          avatar = new File([blob], "avatar.jpg", blob);
        });

      let userInfo = new FormData();
      userInfo.set("img", avatar);
      userInfo.set("name", this.me.child.name);
      await this.saveChild(childInfo, userInfo);
    },
    async getChildMeOrError() {
      await this.getChildMe();
      if (!this.childError) {
        this.me = this.childMe;
        return;
      }
      this.errorToast(this.childError);
    },
  },
  async mounted() {
    await this.getChildMeOrError();
  },
};
</script>
