<template>
  <section id="childhomework" class="mt-3 perfomance-no-scroll">
    <div class="row justify-content-center w-100">
      <div class="col-md-12 p-0 accordion" role="tablist">
        <b-card no-body class="mb-1" v-for="tale in tales" :key="tale.id">
          <div class="tale-card pointer" @click="openTale(tale.id)">
            {{ tale.name }}
          </div>
        </b-card>
      </div>
    </div>
    <!-- <ModalTale :tale="chosenTale" @answers="showAnswers" /> -->
    <!-- <ModalAnswers :task="chosenTask" @success="acceptTask" /> -->
  </section>
</template>

<script>
// import ModalTale from "@/components/mentor/groups/child/tales/ModalTale.vue";
// import ModalAnswers from "@/components/mentor/groups/child/tales/ModalAnswers.vue";
// import { MentorMapper } from "@/store/mentor";
export default {
  props: {
    tales: {
      type: Array,
      default: () => [],
    },
  },
  components: {
    // ModalTale,
    // ModalAnswers,
  },
  data() {
    return {
      chosenTale: {},
      chosenTask: {},
      firstTask: {
        id: 1,
        name: "Read Fox Story",
        accept: true,
        img: "read-fox-story",
        target: 0,
        coins: 0,
        page: "9",
      },
    };
  },
  computed: {
    // ...MentorMapper.mapState(["tales", "tale", "error"]),
  },
  methods: {
    // ...MentorMapper.mapActions([
    //   "getTales",
    //   "getTale",
    //   "patchTale",
    //   "patchTask",
    // ]),
    async openTale(id) {
      await this.getTale(id);
      if (!this.error) {
        this.setTale(this.tale);
        this.$bvModal.show("modal-tale");
      }
    },
    setTale(tale) {
      this.chosenTale = tale;
    },
    showAnswers(task) {
      this.chosenTask = task;
      this.$bvModal.show("modal-answers");
    },
    async acceptTask(task, foxies) {
      if (!task.success) {
        let nextTask = this.chosenTale.tasks.find(
          (taskItem) => taskItem.page > task.page
        );
        let nextBlockedTask = this.chosenTale.tasks.find(
          (task) => task.page > this.chosenTale.pages
        );
        if (nextBlockedTask && nextTask.success) {
          await this.patchTale({ pages: nextBlockedTask.page });
        } else {
          await this.patchTale({ pages: nextTask.page });
        }
      }

      await this.patchTask({
        id: task.id,
        data: { success: true, coins: foxies },
      });
      this.setTale(this.tale);
      this.$bvModal.hide("modal-answers");
    },
  },
  async mounted() {
    await this.getTales(this.$route.params.id);
  },
};
</script>

<style scoped>
.tale-card {
  background: #fff;
  padding: 5px 0;
  text-align: center;
  transition: 0.5s ease;
}
.tale-card:hover {
  background: rgba(201, 201, 201, 0.54);
}

.card-header {
  border: none;
  box-shadow: none;
}
.card-header > button {
  background: #fff;
  text-align: left;
  color: #000;
  border: none;
  box-shadow: none;
}
.tale-body {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  padding: 0;
}
.tale-task {
  width: 90%;
  height: 40px;
  border-bottom: 2px solid lightgray;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}
.tale-task > p {
  width: 70%;
}
.tale-task > img:first-of-type {
  filter: grayscale(1);
}
.tale-task > img:last-of-type {
  filter: grayscale(0);
}
.tale-task.complete > img:last-of-type {
  filter: grayscale(1);
}
.tale-task.complete > img:first-of-type {
  filter: grayscale(0);
}
.tale-task > a {
  text-decoration: underline;
  cursor: pointer;
}
</style>