<template>
  <div class="row">
    <div class="col pl-0">
      <div class="row" style="padding-top: 35px">
        <div class="col-3">
          <p class="m-0 a-row-data-label">Общий оборот:</p>
        </div>
        <div class="col-1 p-0 text-right a-row-data green-bold-text">
          <number v-if="info.turnover.cost" :number="info.turnover.cost" /> 
          <number v-else :number="info.turnover" /> Р
        </div>
      </div>
      <!-- строка с общим оборотом агента -->
      <div class="row">
        <div class="col-4 pr-0">
          <hr class="hr-agent" />
        </div>
      </div>
      <!-- строка с доходом агента -->
      <div class="row">
        <div class="col-3">
          <p class="m-0 a-row-data-label">Доход:</p>
        </div>
        <div class="col-1 p-0 text-right a-row-data orange-bold-text">
          <number v-if="info.income.income" :number="info.income.income" />
          <number v-else :number="info.income" /> P
        </div>
      </div>
      <!-- строка с доходом агента -->
      <div class="row">
        <div class="col-4 pr-0">
          <hr class="hr-agent" />
        </div>
      </div>
      <!-- строка с количеством проданых франшиз -->
      <div class="row">
        <div class="col-3">
          <p class="m-0 a-row-data-label">Кол-во проданных франшиз:</p>
        </div>
        <div class="col-1 p-0 text-right a-row-data orange-bold-text">
          <number :number="info.packages" />
        </div>
      </div>
      <!-- строка с количеством проданых франшиз -->
      <div class="row mt-3 pb-1">
        <div class="col-4 mb-auto">
          <p class="m-0 a-row-data-label">Ссылка на продажу франшизы:</p>
        </div>
      </div>
      <div class="row pb-2">
        <div class="col-3 mb-auto">
          <ui-button @click="copyReferalLink"> Копировать ссылку </ui-button>
        </div>
      </div>

      <div class="row mt-3 pb-1" v-if="!isAdmin && info.agentId">
        <div class="col-4 mb-auto">
          <p class="m-0 a-row-data-label">
            Ссылка на продажу личного кабинета:
          </p>
        </div>
      </div>
      <div class="row pb-2" v-if="!isAdmin && info.agentId">
        <div class="col-3 mb-auto">
          <ui-button @click="copyCabinetLink">Копировать ссылку</ui-button>
        </div>
      </div>
    </div>
  </div>
</template>



<script>
import copylinkMixin from "@/mixins/copylink";
import hashMixin from "@/mixins/hash";
export default {
  props: {
    info: {
      type: Object,
      required: true,
    },
    isAdmin: {
      type: Boolean,
      default: false,
    },
  },
  mixins: [copylinkMixin, hashMixin],
  methods: {
    copyReferalLink() {
      let data = {
        agentProfileId: this.info.agentId,
      };
      data = `${document.location.protocol}//${
        document.location.host
      }/register/partner/franchisee/${this.hash(data)}`;
      this.copylink(data);
      this.toast("Скопировано", "Сыылка скопирована в буфер обмена", "success");
    },
    copyCabinetLink() {
      let data = {
        agentProfileId: this.info.agentId,
      };
      data = `${document.location.protocol}//${
        document.location.host
      }/referal/${this.hash(data)}`;
      this.copylink(data);
      this.toast("Скопировано", "Сыылка скопирована в буфер обмена", "success");
    },
  },
  mounted() {
    console.log(this.info);
  }
};
</script>