<template>
  <section>
    <hr class="invisible" />
    <div
      class="row align-items-center"
      style="padding: 35px; padding-bottom: 0"
    >
      <div class="col-3 pl-0">
        <div class="row">
          <div class="col p-0">Все заказы:</div>
          <div class="col-4 text-right orange-text bold-text pl-0">
            {{ numberWithSpaces(rows) }}
          </div>
        </div>
        <div class="row">
          <div class="col pl-0">
            <hr class="my-1 hr-branch" />
          </div>
        </div>
        <div class="row">
          <div class="col p-0">Оборот:</div>
          <div class="col-5 text-right bold-text green-text pl-0">
            {{ numberWithSpaces(turnover) }} Р
          </div>
        </div>
        <div class="row">
          <div class="col pl-0">
            <hr class="my-1 hr-branch" />
          </div>
        </div>
        <div class="row">
          <div class="col p-0">Доход:</div>
          <div class="col-5 text-right bold-text orange-text pl-0">
            {{ numberWithSpaces(income) }} Р
          </div>
        </div>
      </div>
      <div class="col-2 ml-3 pl-0">
        <!-- <b-input class="top-input" placeholder="Дата" type="date" />
         -->
        <b-form-datepicker
          class="top-input flex-row-reverse"
          right
          no-flip
          placeholder="Дата"
          locale="ru"
          hide-header
          label-help=""
          :start-weekday="1"
          v-model="chosenDate"
          :date-format-options="{
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
          }"
          sort-icon-left
        ></b-form-datepicker>
      </div>
      <div class="col-4 ml-3 pr-4">
        <b-input
          class="top-input search-bg w-100"
          v-model="filter"
          placeholder="Поиск"
        ></b-input>
      </div>
      <div class="col ml-2 flex-col">
        <div class="dropdown w-100 my-auto">
          <button
            class="btn py-1 w-100 btn-filter dropdown-toggle"
            type="button"
            id="diagramm-packet-sort"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p v-if="category == ''">Категория</p>
            <p v-else>{{ category }}</p>
          </button>
          <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
            <a
              @click="
                category = 'Online';
                filter = 'Online';
              "
              class="dropdown-item"
              href="#"
              >Online</a
            >
            <a
              @click="
                category = 'Offline';
                filter = 'Offline';
              "
              class="dropdown-item"
              href="#"
              >Offline</a
            >
            <a
              @click="
                category = '';
                filter = '';
                clearFilter();
              "
              class="dropdown-item orange-text"
              href="#"
              >Сбросить</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="row mt-4 w-100 table-analytics"
      style="border-top: 1.5px solid #efefef"
      :class="tableHeightclass"
    >
      <b-table
        hover
        id="agent-analytics-table"
        :items="filteredItems"
        :fields="fields"
        :filter="filter"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        sort-icon-left
      >
        <template #cell(cost)="row"> {{ row.value }} P </template>
        <template #cell(income)="row"> {{ row.value }} P </template>
        <template #cell(date)="row">{{ formatDate(row.value) }}</template>
      </b-table>
    </div>
    <div class="row pt-2 justify-content-center">
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        @page-click="scrolltoTop"
        aria-controls="agent-analytics-table"
      ></b-pagination>
    </div>
    <div class="row pb-3 px-5 w-100 justify-content-end">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" active class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
  </section>
</template>

<script>
import { numberWithSpaces } from "@/mixins/number";
import moment from "moment";
export default {
  name: "TableAnalytics",
  props: {
    tableHeightclass: String,
    packages: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      category: "",

      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],

      messageTheme: "",
      perPage: "15",
      currentPage: 1,

      chosenDate: undefined,
      selectVal: {
        date: undefined,
      },

      fields: [
        {
          key: "number",
          label: "Номер",
          class: "agent-analytics-id",
          sortable: true,
        },
        {
          key: "packagename",
          label: "Категория продажи",
          class: "analytics-package",
          sortable: false,
        },
        {
          key: "cost",
          label: "Стоимость",
          class: "analytics-cost",
          sortable: true,
        },
        {
          key: "income",
          label: "Доход",
          class: "analytics-income",
          sortable: true,
        },
        {
          key: "buyer",
          label: "Покупатель",
          sortable: false,
          class: "agent-analytics-buyer",
        },
        {
          key: "date",
          label: "Дата",
          class: "analytics-date",
          sortable: true,
        },
      ],
      packs: [
        {
          id: 0,
          format: 0,
          name: 0,
          cost: [7000, 6000, 5000],
        },
        {
          id: 1,
          format: 0,
          name: 0,
          cost: [7000, 6000, 5000],
        },
        {
          id: 2,
          format: 0,
          name: 0,
          cost: [7000, 6000, 5000],
        },
      ],
    };
  },
  methods: {
    numberWithSpaces,
    scrolltoTop() {
      this.$refs.analyticsStart.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },
    clearFilter() {
      this.selectVal = {
        date: undefined,
      };
      this.chosenDate = undefined;
    },
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },
    getPackageName(name, format, childCount) {
      let names = ["Детский сад", "Начальная школа", "Школа"];
      let formats = ["Offline", "Online"];
      return names[name] + " / " + formats[format] + " " + childCount;
    },
    getPackageCost(name, format, childCount) {
      let packInfo = this.packs.find(
        (pack) => pack.name == name && pack.format == format
      );
      if (!packInfo) return;
      switch (childCount) {
        case childCount < 50:
          return packInfo.cost[0] * childCount;
        case childCount < 100:
          return packInfo.cost[1] * childCount;
        default:
          return packInfo.cost[2] * childCount;
      }
    },
  },
  computed: {
    items() {
      let items = this.packages;
      return items.reverse().map((pack, i) => {
        console.log(pack.price);
        return {
          number: i + 1,
          id: pack.id,
          packagename: this.getPackageName(
            pack.name,
            pack.format,
            pack.childCount
          ),
          cost: pack.price,
          income: pack.price / 20,
          buyer: pack.franchisee.name,
          date: moment(pack.date),
        };
      });
    },
    rows() {
      return this.items.length;
    },
    income() {
      return this.items.length > 0
        ? this.items.map((pack) => pack.income).reduce((a, b) => a + b)
        : 0;
    },
    turnover() {
      return this.items.length > 0
        ? this.items.map((pack) => pack.cost).reduce((a, b) => a + b)
        : 0;
    },
    filteredItems() {
      return this.items.filter((item) => {
        let keep = true;
        // console.log("Значение даты - '" + this.chosenDate + "'");

        if (this.chosenDate == "") {
          this.clearFilter();
        }

        // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. If a key was missing, it defaulted to straight equality.
        this.fieldKeys.forEach((key) => {
          if (key == "date" && this.chosenDate !== undefined) {
            this.selectVal[key] = moment(this.chosenDate).format("DD.MM.YYYY");
            keep =
              keep &&
              (this.selectVal[key] === undefined ||
                moment(item[key]).format("DD.MM.YYYY") === this.selectVal[key]);
          } else {
            keep =
              keep &&
              (this.selectVal[key] === undefined ||
                item[key] === this.selectVal[key]);
          }

          // console.log("Дата с фильтра - " + this.selectVal.date);
        });

        return keep;
      });
    },
    fieldKeys() {
      return Object.keys(this.items[0]);
    },
    options() {
      // This could be simplified if the select was it's own component.
      const options = {};
      this.fieldKeys.forEach((key) => {
        const vals = this.items.map((item) => item[key]);

        // Cheap and efficient unique.
        options[key] = Array.from(new Set(vals));
      });

      return options;
    },
  },
};
</script>

<style scoped>
/* .table td,
.table th {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-size: 0.75rem;
} */
/* @media (min-width: 1441px) and (min-height: 850px) {
  .table td,
  .table th {
    font-size: 1rem;
  }
} */
</style>

<style>
.page-link {
  padding: 0.2rem 0.5rem;
}
.table-analytics {
  overflow-y: scroll;
}

.page-item {
  transition: 0.5s;
}
.page-link {
  color: rgb(0, 0, 0);
}

.analytics-link {
  font-size: 0.7rem;
  color: #090909;
  text-decoration: underline;
}
.blue-text {
  color: #0038ff;
}
.page-item.active .page-link {
  color: rgb(0, 0, 0);
  background-color: rgba(201, 201, 201, 0.54);
  border-color: rgb(201, 201, 201);
}
.flex-col {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.agent-analytics-id {
  width: 11%;
  padding-left: 40px !important;
}
.analytics-package {
  width: 29%;
  text-align: left;
}
.analytics-cost,
.analytics-income {
  width: 15%;
  text-align: center;
}
.agent-analytics-buyer {
  padding-left: 5% !important;
}
.analytics-date {
  width: 14%;
  padding-left: 2% !important;
  text-align: left;
}
td.analytics-date {
  color: #6c6c6c;
}
.btn-filter {
  display: flex;
}
.bold-text {
  font-weight: bold;
}
</style>
