<template>
  <section>
    <hr class="invisible" />
    <div
      class="row align-items-center"
      style="padding: 35px; padding-bottom: 0"
    >
      <div class="col-3 pl-0">
        <div class="row">
          <div class="col p-0" ref="top">Все заказы:</div>
          <div class="col-4 text-right orange-text bold-text pl-0">
            <number>{{ rows }}</number>
          </div>
        </div>
        <div class="row">
          <div class="col pl-0">
            <hr class="my-1 hr-branch" />
          </div>
        </div>
        <div class="row">
          <div class="col p-0">Оборот:</div>
          <div class="col-5 text-right bold-text green-text pl-0">
            <number>{{ turnover }}</number> Р
          </div>
        </div>
        <div class="row">
          <div class="col pl-0">
            <hr class="my-1 hr-branch" />
          </div>
        </div>
        <div class="row">
          <div class="col p-0">Доход:</div>
          <div class="col-5 text-right bold-text orange-text pl-0">
            <number>{{ profit }}</number> Р
          </div>
        </div>
      </div>
      <div class="col-2 ml-3 pl-0">
        <agent-date-picker
          classList="top-input flex-row-reverse"
          v-model="filter.chosenDate"
          placeholder="Дата"
        ></agent-date-picker>
      </div>
      <div class="col-4 ml-3 pr-4">
        <b-input
          class="top-input search-bg w-100"
          v-model="filter.search"
          placeholder="Поиск"
        ></b-input>
      </div>
      <div class="col ml-2 flex-col">
        <div class="dropdown w-100 my-auto">
          <button
            class="btn py-1 w-100 btn-filter dropdown-toggle"
            type="button"
            id="diagramm-packet-sort"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p>{{ filter.category || "Категория" }}</p>
          </button>
          <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
            <a
              v-for="option in categoryOptions"
              :key="option"
              @click="filter.category = option"
              class="dropdown-item"
              href="#"
              >{{ option }}</a
            >
            <a
              @click="filter.category = null"
              class="dropdown-item orange-text"
              href="#"
              >Сбросить</a
            >
          </div>
        </div>
      </div>
    </div>
    <div
      class="row mt-4 w-100 table-analytics"
      style="border-top: 1.5px solid #efefef"
    >
      <b-table
        hover
        id="agent-analytics-table"
        :items="filteredItems"
        :fields="headers"
        :filter="filter.search"
        :total-rows="rows"
        :per-page="pagination.perPage"
        :current-page="pagination.currentPage"
        sort-icon-left
      >
        <template #cell(cost)="row">
          <number>{{ row.value }}</number> P
        </template>
        <template #cell(income)="row">
          <number>{{ row.value }}</number> P
        </template>
        <template #cell(date)="row">{{ formatDate(row.value) }}</template>
      </b-table>
    </div>
    <div class="row pt-2 justify-content-center">
      <b-pagination
        v-if="rows > 1"
        v-model="pagination.currentPage"
        :total-rows="rows"
        :per-page="pagination.perPage"
        @page-click="scrolltoTop"
        aria-controls="agent-analytics-table"
      ></b-pagination>
    </div>
    <div class="row pb-3 px-5 w-100 justify-content-end">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="pagination.perPage"
          class="m-md-2"
        >
          <b-dropdown-item
            v-for="option in pagination.options"
            :key="option"
            @click="perPage = option"
            class="w-100"
            >{{ option }}</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
  </section>
</template>

<script>
import moment from "moment";
import Number from "../../ui/Number.vue";
export default {
  components: { Number },
  props: {
    packages: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      turnover: 0,
      profit: 0,
      filter: {
        category: null,
        search: null,
        chosenDate: null,
      },
      categoryOptions: ["Offline", "Online"],
      pagination: {
        perPage: "15",
        options: ["5", "15", "30", "60"],
        currentPage: 1,
      },
      selectVal: {
        date: undefined,
      },
      headers: [
        {
          key: "number",
          label: "Номер",
          class: "agent-analytics-id",
          sortable: true,
        },
        {
          key: "name",
          label: "Категория продажи",
          class: "analytics-package",
          sortable: false,
        },
        {
          key: "cost",
          label: "Стоимость",
          class: "analytics-cost",
          sortable: true,
        },
        {
          key: "income",
          label: "Доход",
          class: "analytics-income",
          sortable: true,
        },
        {
          key: "purchaser",
          label: "Покупатель",
          sortable: false,
          class: "agent-analytics-buyer",
        },
        {
          key: "date",
          label: "Дата",
          class: "analytics-date",
          sortable: true,
        },
      ],
    };
  },
  methods: {
    scrolltoTop() {
      this.$refs.top.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },
    clearFilter() {
      this.filter = {
        category: null,
        search: null,
        chosenDate: null,
      };
    },
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },
    getPackageName(name, format, childCount) {
      let names = ["Детский сад", "Начальная школа", "Школа"];
      let formats = ["Offline", "Online"];
      return names[name] + " / " + formats[format] + " " + childCount;
    },
  },
  computed: {
    rows() {
      return this.filteredItems.length;
    },

    filteredItems() {
      return this.packages.filter((item) => {
        let keep = true;
        // console.log("Значение даты - '" + this.chosenDate + "'");

        if (this.chosenDate == "") {
          this.clearFilter();
        }

        // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. If a key was missing, it defaulted to straight equality.
        this.fieldKeys.forEach((key) => {
          if (key == "date" && this.chosenDate !== undefined) {
            this.selectVal[key] = moment(this.chosenDate).format("DD.MM.YYYY");
            keep =
              keep &&
              (this.selectVal[key] === undefined ||
                moment(item[key]).format("DD.MM.YYYY") === this.selectVal[key]);
          } else {
            keep =
              keep &&
              (this.selectVal[key] === undefined ||
                item[key] === this.selectVal[key]);
          }

          // console.log("Дата с фильтра - " + this.selectVal.date);
        });

        return keep;
      });
    },
    fieldKeys() {
      return Object.keys(this.packages[0]);
    },
    options() {
      // This could be simplified if the select was it's own component.
      const options = {};
      this.fieldKeys.forEach((key) => {
        const vals = this.items.map((item) => item[key]);

        // Cheap and efficient unique.
        options[key] = Array.from(new Set(vals));
      });

      return options;
    },
  },
};
</script>

<style scoped>
/* .table td,
.table th {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-size: 0.75rem;
} */
/* @media (min-width: 1441px) and (min-height: 850px) {
  .table td,
  .table th {
    font-size: 1rem;
  }
} */
</style>

<style>
.page-link {
  padding: 0.2rem 0.5rem;
}
.table-analytics {
  overflow-y: scroll;
}

.page-item {
  transition: 0.5s;
}
.page-link {
  color: rgb(0, 0, 0);
}

.analytics-link {
  font-size: 0.7rem;
  color: #090909;
  text-decoration: underline;
}
.blue-text {
  color: #0038ff;
}
.page-item.active .page-link {
  color: rgb(0, 0, 0);
  background-color: rgba(201, 201, 201, 0.54);
  border-color: rgb(201, 201, 201);
}
.flex-col {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.agent-analytics-id {
  width: 11%;
  padding-left: 40px !important;
}
.analytics-package {
  width: 29%;
  text-align: left;
}
.analytics-cost,
.analytics-income {
  width: 15%;
  text-align: center;
}
.agent-analytics-buyer {
  padding-left: 5% !important;
}
.analytics-date {
  width: 14%;
  padding-left: 2% !important;
  text-align: left;
}
td.analytics-date {
  color: #6c6c6c;
}
.btn-filter {
  display: flex;
}
.bold-text {
  font-weight: bold;
}
</style>
