<template>
  <section id="BranchPage">
    <div
      class="
        container-fluid
        p-0
        full-height-container
        animate__animated animate__fadeIn
      "
    >
      <Header @logout="logOut" :user="me" />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel :items="sidePanelItems" @logout="logOut" />
        <div
          class="col-md p-0"
          style="height: calc(100vh - 60px); overflow-y: auto"
        >
          <router-view></router-view>
        </div>
      </div>
      <ModalConfirmation />
    </div>
  </section>
</template>

<script>
import { BranchMapper } from "@/store/branch";
import { UserMapper } from "@/store/user";
import Header from "@/components/main/header/Header.vue";
import SidePanel from "@/components/main/SidePanel.vue";
// import ModalConfirmation from "@/views/modalConfirmation.vue";

export default {
  name: "Branch",
  components: {
    Header,
    SidePanel,
    // ModalConfirmation,
  },
  data() {
    return {
      sidePanelItems: [
        {
          id: 1,
          //   img: "my_account.png",
          linkName: "branch-analytics",
          text: "Аналитика",
          exact: true,
          // hide: true,
        },
        {
          id: 2,
          //   img: "MDclub.png",
          linkName: "branch-data",
          text: "Мои данные",
        },
        {
          id: 3,
          //   img: "my_profile.png",
          linkName: "branch-learn",
          text: "Обучение",
        },
        {
          id: 4,
          //   img: "my_profile.png",
          linkName: "branch-support",
          text: "Обратная связь",
        },
      ],
    };
  },
  computed: {
    ...UserMapper.mapState(["error", "me"]),
  },
  methods: {
    ...BranchMapper.mapActions(["getBranchProfile"]),
    ...UserMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "main-login" });
      } else {
        this.errorToast(this.error);
      }
    },
  },
  async mounted() {
    await this.getBranchProfile();
    await this.getProfile();
  },
};
</script>

<style>
</style>