<template>
  <section id="ChildPage" class="childpage-bg">
    <div
      class="
        container-fluid
        p-0
        full-height-container
        animate__animated animate__fadeIn
      "
    >
      <Header :user="childMe ? childMe.child : {}" @logout="logOut" />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel @logout="logOut" />
        <div class="w-100 p-0 overflow-auto">
          <router-view></router-view>
        </div>
        <button @click="overlay = true" class="fox-invisible-button">
          <img
            src="@/assets/img/background/hello-fox.png"
            class="no-select button-fox-image"
          />
        </button>
      </div>
    </div>

    <b-overlay
      :show="overlay"
      variant="light"
      blur="2px"
      no-wrap
      class="w-100 h-100"
    >
      <template #overlay>
        <ModalGreetings class="w-100 h-100" @undestood="overlay = false" />
      </template>
    </b-overlay>
  </section>
</template>

<script>
import Header from "@/components/main/header/Header.vue";
import SidePanel from "@/components/child/SidePanel.vue";
import ModalGreetings from "@/components/child/ModalGreetings.vue";
import { UserMapper } from "@/store/user";
import { ChildMapper } from "@/store/child";

export default {
  data() {
    return {
      overlay: false,
    };
  },
  components: {
    Header,
    SidePanel,
    ModalGreetings,
  },
  computed: {
    ...UserMapper.mapState(["error"]),
    ...ChildMapper.mapState(["childMe"]),
  },
  methods: {
    ...UserMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "child-login" });
      } else {
        this.errorToast(this.error);
      }
    },
  },
};
</script>

<style scoped>
.content-block {
  width: 60%;
}
.row {
  flex-wrap: nowrap;
}
</style>
