<template>
  <section
    id="childdictionary"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid mx-3">
      <div class="contaiter my-child-container cpc-width mt-5 mr-2 pb-2">
        <hr class="invisible" />
        <div class="row row-child-header header-thin-bg no-select">
          <div
            class="col-4 ml-4 pl-4 my-auto animate__bounceIn animate__slower"
          >
            <h1 class="m-0">Словарь</h1>
          </div>
        </div>
        <hr class="invisible" />
        <div v-if="terms.length > 0">
          <div
            class="my-3 row-child-dictionary row w-100 no-wrap"
            v-for="term in terms"
            :key="term.id"
            :index="term.id"
          >
            <div class="col-md-12 my-auto px-0">
              <div class="row px-1">
                <div class="col-md-9 pr-0">
                  <p class="dictionary-text m-0">
                    <span class="text-bolder">{{ term.title }} - </span>
                    {{ getTermDescription(term) }}
                  </p>
                </div>
                <div
                  class="
                    col-md-1
                    my-auto
                    text-right
                    animate__bounceIn animate__slower
                  "
                >
                  <!-- <img
                  src="@/assets/img/icons/listenterm.png"
                  class="img-fluid"
                /> -->
                </div>
                <div
                  v-if="term.child.includes(childMe.id)"
                  class="
                    col-md-2
                    my-auto
                    pl-0
                    text-center
                    animate__bounceIn animate__slower
                  "
                >
                  <img src="@/assets/img/icons/task-complete.png" />
                </div>
                <div
                  v-else
                  class="
                    col-md-2
                    my-auto
                    pl-0
                    text-center
                    animate__bounceIn animate__slower
                  "
                >
                  <p @click="takingTerm(term)" class="pointer term-link-add">
                    Добавить
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <h3 v-else class="w-100 text-center">
          Ментор еще не добавил новые термины
        </h3>
      </div>
    </div>
  </section>
</template>

<script>
import { ChildMapper } from "@/store/child";
import { TermMapper } from "@/store/term";
export default {
  computed: {
    ...TermMapper.mapState({ mentorTerms: "mentorTerms", termError: "error" }),
    ...ChildMapper.mapState({ childMe: "childMe", childError: "error" }),
  },
  data() {
    return {
      terms: [],
    };
  },

  methods: {
    ...TermMapper.mapActions(["getMentorTermsById", "patchTermById"]),

    async takingTerm(term) {
      let data = {
        child: [...term.child, this.childMe.id],
      };

      await this.patchTermById({ id: term.id, data });
      if (!this.termError) {
        await this.getMentorTermsOrError();
        return;
      }
      this.errorToast(this.termError);
    },
    getTermDescription(term) {
      let text = [];
      if (term.descriptionGeneral) {
        text.push(term.descriptionGeneral);
      }
      if (term.description1) {
        text.push(term.description1);
      }
      if (term.description2 && this.childMe.age > 7) {
        text.push(term.description2);
      }
      if (term.description3 && this.childMe.age > 12) {
        text.push(term.description3);
      }
      return text.join(" | ");
    },
    async getMentorTermsOrError() {
      await this.getMentorTermsById(this.childMe.mentor);
      if (!this.termError) {
        this.terms = this.mentorTerms;
        return;
      }
      this.errorToast(this.termError);
    },
  },
  async mounted() {
    await this.getMentorTermsOrError();
  },
};
</script>

<style>
</style>
