<template>
  <section
    id="myowndictionary"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid mx-3">
      <div class="contaiter my-child-container cpc-width mt-5 mr-2">
        <hr class="invisible" />
        <div class="row row-child-header-big w-100 no-select">
          <div
            class="col-4 ml-4 pl-4 my-auto animate__bounceIn animate__slower"
          >
            <h1 class="m-0">Мой словарик</h1>
          </div>
        </div>
        <hr class="invisible" />
        <div v-if="terms.length > 0">
          <div
            class="my-3 row-child-dictionary row w-100 no-wrap"
            v-for="term in terms"
            :key="term.id"
            :index="term.id"
          >
            <div class="col-md-12 my-auto px-0">
              <div class="row px-3">
                <p class="dictionary-text m-0 my-3">
                  <span class="text-bolder">{{ term.title }} - </span>
                  {{ getTermDescription(term) }}
                </p>
              </div>
            </div>
          </div>
        </div>
        <h3 v-else class="w-100 text-center">
          Ты еще не выучил ни одного термина
        </h3>
      </div>
    </div>
  </section>
</template>

<script>
import { ChildMapper } from "@/store/child";
import { TermMapper } from "@/store/term";
export default {
  computed: {
    ...ChildMapper.mapState(["error", "childMe"]),
  },
  data() {
    return {
      terms: [],
    };
  },
  methods: {
    ...TermMapper.mapActions(["getChildTermsById"]),
    async getChildTermsByIdOrError() {
      let terms = await this.getChildTermsById(this.childMe.id);
      if (!this.error) {
        this.terms = terms;
        return;
      }
      this.errorToast(this.error);
    },
    getTermDescription(term) {
      let text = [];
      if (term.descriptionGeneral) {
        text.push(term.descriptionGeneral);
      }
      if (term.description1) {
        text.push(term.description1);
      }
      if (term.description2 && this.childMe.age > 7) {
        text.push(term.description2);
      }
      if (term.description3 && this.childMe.age > 12) {
        text.push(term.description3);
      }
      return text.join(" | ");
    },
  },
  async mounted() {
    await this.getChildTermsByIdOrError();
  },
};
</script>

<style>
</style>
