<template>
  <section
    id="childprofile"
    class="animate__animated animate__fadeIn no-select"
    v-if="me"
  >
    <div class="contaiter-fluid mx-3">
      <div class="contaiter my-child-container mt-5 mr-2">
        <hr class="invisible" />
        <div class="row row-child-header-big no-select">
          <div
            class="col-4 ml-4 pl-4 my-auto animate__bounceIn animate__slower"
          >
            <h1 class="m-0">Мой Профиль</h1>
          </div>
        </div>

        <form class="form-inline">
          <div class="row w-100 ml-2 no-wrap">
            <img-change @change="chooseAvatar" :img="img" />
            <div class="col-md-8 text-center pl-0">
              <div class="form-group my-4 pt-2">
                <input
                  type="text"
                  class="form-control pl-3 input__profile"
                  placeholder="Имя"
                  v-model="me.child.name"
                />
              </div>
              <div class="form-group mt-3 pt-2">
                <div class="row w-100">
                  <div class="col-md p-0">
                    <input
                      type="text"
                      class="form-control w-100 h-100 text-slogan"
                      id="ChildMottoFromProfile"
                      placeholder="Введи девиз"
                      v-model="me.slogan"
                    />
                  </div>

                  <div class="col-md-4 pl-0">
                    <button
                      type="button"
                      class="btn btn-inline-step w-100 h-100"
                      data-toggle="dropdown"
                      aria-haspopup="true"
                      aria-expanded="false"
                    >
                      Выбрать
                    </button>
                    <div class="dropdown-menu">
                      <button
                        class="dropdown-item text-slogan"
                        @click="me.slogan = slogan.slogan"
                        type="button"
                        v-for="slogan in slogans"
                        :key="slogan.id"
                        :index="slogan.id"
                      >
                        {{ slogan.slogan }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              <div class="form-group mt-5 pt-3">
                <b-button
                  @click="changeNickAndSlogan()"
                  id="savebutton"
                  class="btn btn-profile-tab"
                >
                  <p class="m-0">Сохранить</p>
                </b-button>
              </div>
            </div>
          </div>
          <hr class="hr-invisible" />
        </form>
      </div>
    </div>
  </section>
</template>

<script>
import { ChildMapper } from "@/store/child";
import { UserMapper } from "@/store/user";
import ImgChange from "@/components/child/profile/ImgChange.vue";
export default {
  name: "Profile",
  components: { ImgChange },
  data() {
    return {
      file: null,
      slogans: {
        1: {
          id: 1,
          slogan: "Если не ты, то кто?",
        },
        2: {
          id: 2,
          slogan: "Желающие радуги должны мириться с дождем.",
        },
        3: {
          id: 3,
          slogan:
            "Относись к другим так, как ты хочешь чтобы относились к тебе.",
        },
        4: {
          id: 4,
          slogan: "У совершенства нет предела.",
        },
      },
      me: null,
      count: 0,
      img: null,
    };
  },
  computed: {
    ...ChildMapper.mapState(["childMe", "error"]),
    ...UserMapper.mapState({ userError: "error" }),
    userImg() {
      if (this.me.child.img) {
        return process.env.VUE_APP_API_URL + this.me.child.img;
      }
      return require("@/assets/img/icons/icon-profile-big.png");
    },
  },
  methods: {
    ...UserMapper.mapActions(["patchMe"]),
    ...ChildMapper.mapActions(["patchChildById", "getChildMe"]),
    async changeNickAndSlogan() {
      let childInfo = {
        slogan: this.me.slogan,
      };
      let userInfo = {
        name: this.me.child.name,
      };
      await this.patchChildById({ id: this.me.id, data: childInfo });
      if (!this.error) {
        await this.patchMe(userInfo);
        if (!this.userError) {
          this.getChildMeOrError();
          return;
        }
        this.errorToast(this.userError);
        return;
      }
      this.errorToast(this.error);
    },
    async chooseAvatar(formData) {
      await this.patchMe(formData, true);
      if (!this.userError) {
        this.me.child.img = null;
        await this.getChildMeOrError();
        this.count++;
        return;
      }
      this.errorToast(this.userError);
    },
    async getChildMeOrError() {
      await this.getChildMe();
      if (!this.error) {
        this.me = this.childMe;
        this.img = this.me.child.img;
        return;
      }
      this.errorToast(this.error);
    },
  },
  async mounted() {
    await this.getChildMeOrError();
  },
};
</script>

<style>
.text-slogan {
  font-size: 0.8rem;
  padding-left: 0.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
</style>
