<template>
  <section id="childtales" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid mx-3">
      <div class="contaiter my-child-container cpc-width mt-5 mr-2">
        <hr class="invisible" />
        <div class="row row-child-header header-thin-bg no-select">
          <div
            class="col-4 ml-4 pl-4 my-auto animate__bounceIn animate__slower"
          >
            <h1 class="m-0">Сказки</h1>
          </div>
        </div>
        <hr class="invisible my-1" />

        <div
          class="row w-100 no-wrap pointer"
          v-for="tale in tales"
          :key="tale.id"
          :index="tale.id"
        >
          <!-- Если сказка открыта -->
          <div class="col-md-12 my-auto px-0">
            <div @click="openTale(tale)" class="row tale-row px-2">
              <div class="col-md-11 my-auto pr-0">
                <p class="tale-text m-0">
                  {{ tale.name }}
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { TaleMapper } from "@/store/tale";
import { UserMapper } from "@/store/user";
import { ChildMapper } from "@/store/child";
export default {
  data() {
    return {
      tales: null,
    };
  },
  computed: {
    ...TaleMapper.mapState(["tale"]),
    ...UserMapper.mapState(["me", "error"]),
    ...ChildMapper.mapState(["profile"]),
  },
  methods: {
    ...TaleMapper.mapActions(["getChildTalesById", "getTale"]),
    ...ChildMapper.mapActions(["getChildUserById"]),

    async openTale(tale) {
      console.log(this.tale.number);
      await this.getTale(tale.id);
      console.log(this.tale.number);
      console.log(tale.pages);
      if (tale.pages == 0) {
        await this.$router.push({ name: `tale${tale.number}-1` });
        //console.log(this.$router);
      } else {
        await this.$router.push({ name: `tale1-${tale.number}` });
      }
    },
  },

  async mounted() {
    //await this.getTale();
    let child = await this.getChildUserById(this.me.id);
    console.log(child);
    let responce = await this.getChildTalesById(child);
    if (!this.error) {
      this.tales = responce;
    }
  },
};
</script>