<div style="
    background-color: #fad935;
    margin: auto 10px;
    color: #fff;
    min-height: 400px;
    display: flex;
">
    <div style="margin:auto;">
        <h1>Добро пожаловать!</h1>
        <p style="text-align:left">Ваша почта: <b>#email</b></p>
        <p style="text-align:left">Ваш пароль: <b>#password</b></p>
    </div>
</div>