<template>
  <section
    id="buy-franchisee"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mr-4">
      <hr class="invisible" />

      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Пакеты франшизы</p>
        </div>
      </div>

      <b-tabs
        active-nav-item-class="active-tab-buy"
        content-class="mt-4"
        class="mt-3 px-3"
        nav-class="w-fit"
        nav-wrapper-class="tab-buy"
        fill
      >
        <b-tab
          :title="pack.name"
          :active="!pack.id"
          v-for="pack in packages"
          :key="pack.id"
        >
          <div class="row justify-content-around">
            <FranchiseeType
              v-for="pack in pack.packs"
              :key="pack.id"
              :pack="pack"
              @take="take"
            />
          </div>
        </b-tab>
      </b-tabs>
    </div>
  </section>
</template>

<script>
import toast from "@/mixins/toast";
import FranchiseeType from "@/components/franchisee/buy/FranchiseeType.vue";
import { FranchiseeMapper } from "@/store/franchisee";
export default {
  name: "Buy",
  components: {
    FranchiseeType,
  },
  data() {
    return {
      packages: [
        {
          id: 0,
          name: "Offline пакеты",
          packs: [
            {
              id: 0,
              format: 0,
              name: "Детский сад",
              cost: [7000, 6000, 5000],
            },
            {
              id: 1,
              format: 0,
              name: "Начальная школа",
              cost: [7000, 6000, 5000],
            },
            {
              id: 2,
              format: 0,
              name: "Школа",
              cost: [7000, 6000, 5000],
            },
          ],
        },
        {
          id: 1,
          name: "Online пакеты",
          packs: [
            {
              id: 0,
              format: 1,
              name: "Детский сад",
              cost: [1500, 1300, 1100],
            },
            {
              id: 1,
              format: 1,
              name: "Начальная школа",
              cost: [1500, 1300, 1100],
            },
            {
              id: 2,
              format: 1,
              name: "Школа",
              cost: [1500, 1300, 1100],
            },
          ],
        },
      ],
    };
  },
  computed: {
    ...FranchiseeMapper.mapState(["error"]),
  },
  methods: {
    toast,
    ...FranchiseeMapper.mapActions(["postPackage"]),
    async take(pack, count, price) {
      if (count) {
        await this.postPackage({
          name: pack.id,
          status: 0,
          child_count: count,
          format: pack.format,
          price: price,
        });
        if (!this.error) {
          this.toast(
            "Успешно",
            "Заявка на покупку франшизы успешно создана",
            "success"
          );
          setTimeout(() => {
            this.$router.push({ name: "franchisee-data" });
          }, 2000);
        }
      } else {
        this.toast("Ошибка", "Пожалуйста, введите количество детей", "danger");
      }
    },
  },
};
</script>

<style>
.tab-buy {
  padding-top: 0;
  padding-bottom: 0;
  font-weight: 500;
  font-size: 1rem;
  color: #fefefe !important;
}

.tab-buy .nav-link {
  width: 150px !important;
  height: 30px !important;
  color: #fefefe !important;
  background: #c4c4c4;
  border-radius: 6px;
  padding: 0;
  padding-bottom: 0;
}
.active-tab-buy {
  background: #b42f26 !important;
  border-radius: 6px;
}
.nav-tabs .nav-link {
  padding-top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff !important;
  background: #c4c4c4;
  padding: 0.5rem 0.5rem;
}

.nav-tabs .nav-item {
  margin-right: 25px;
}
</style>
