<template>
  <section id="dataBody" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Аналитика</p>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid agent-container mx-3 mr-4 mt-3 pl-4">
      <Info :info="info" />
      <Diagramm
        :info="diagrammInfo"
        @date="(date) => (diagrammDate = moment(date).format('YYYY-MM-DD'))"
      />
    </div>
    <div
      class="contaiter-fluid agent-container mx-3 mr-4"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <TablePackages :packages="packages" />
    </div>
    <!-- <ModalBanAgent @ok="ban" /> -->
  </section>
</template>

<script>
import { UserMapper } from "@/store/user";
import { PackageMapper } from "@/store/package";
// import { AgentMapper } from "@/store/agent";
import Info from "@/components/agent/analytics/Info.vue";
import Diagramm from "@/components/main/analytics/Diagramm.vue";
// import ModalBanAgent from "@/components/agent/analytics/ModalBanAgent.vue";
import TablePackages from "@/components/agent/analytics/TablePackages.vue";
export default {
  name: "Analytics",
  components: {
    TablePackages,
    // ModalBanAgent,
    Info,
    Diagramm,
  },
  data() {
    return {
      packages: [],

      diagrammDate: null,
    };
  },
  computed: {
    ...UserMapper.mapState(["me"]),
    ...PackageMapper.mapState({ packageError: "error" }),

    info() {
      return {
        turnover: this.filteredPackages.length
          ? this.filteredPackages.reduce((a, b) => a.cost + b.cost)
          : 0,
        income: this.filteredPackages.length
          ? this.filteredPackages.reduce((a, b) => a.income + b.income)
          : 0,
        packages: this.filteredPackages.length,
        agentId: this.me.id,
      };
    },
    filteredPackages() {
      return this.packages.filter(
        (pack) =>
          !this.diagrammDate ||
          this.diagrammDate == this.moment(pack.date).format("YYYY-MM-DD")
      );
    },
    diagrammInfo() {
      let info = [
        {
          id: 1,
          name: "Детский сад (Online)",
          count: 0,
          income: 0,
        },
        {
          id: 2,
          name: "Начальная школа (Online)",
          count: 0,
          income: 0,
        },
        {
          id: 3,
          name: "Школа (Online)",
          count: 0,
          income: 0,
        },
        {
          id: 4,
          name: "Детский сад (Offline)",
          count: 0,
          income: 0,
        },
        {
          id: 5,
          name: "Начальная школа (Offline)",
          count: 0,
          income: 0,
        },
        {
          id: 6,
          name: "Школа (Offline)",
          count: 0,
          income: 0,
        },
      ];
      if (!this.packages.length) return info;
      this.filteredPackages.forEach((pack) => {
        //let index = pack.format ? 0 : 3;

        //index = index + pack.name;
        info.count++;
        info.income += pack.price / 20;
      });
      return info;
    },

    // ...UserMapper.mapGetters(["role"]),
  },
  methods: {
    ...PackageMapper.mapActions(["getAgentPackagesById"]),
    getPackageName(name, format, childCount) {
      let names = ["Детский сад", "Начальная школа", "Школа"];
      let formats = ["Offline", "Online"];
      return names[name] + " / " + formats[format] + " " + childCount;
    },
    async getAgentPackagesByIdOrError() {
      let packages = await this.getAgentPackagesById(this.me.id);
      if (!this.packageError) {
        this.info.packages = packages.length;
        this.packages = packages.reverse().map((pack, i) => {
          return {
            number: i + 1,
            id: pack.id,
            name: this.getPackageName(pack.name, pack.format, pack.childCount),
            cost: pack.price,
            income: pack.price / 20,
            purchaser: pack.purchaser.name,
            date: this.moment(pack.date),
            format: pack.format,
          };
        });
      } else {
        this.errorToast(this.packageError);
      }
    },
  },
  async mounted() {
    await this.getAgentPackagesByIdOrError();
    // console.log(this.info);
    console.log(this.filteredPackages);
    console.log(this.info);
  },
};
</script>

<style>
.header-admin {
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  font-weight: 500;
}
.orange-bold-text {
  font-size: 16px;
  font-weight: 600;
  color: #e4690b;
}
.green-bold-text {
  font-weight: bold;
  font-size: 16px;
  color: #1c8845;
}
.hr-agent {
  border: 1px dashed #c4c4c4;
  margin: 0;
  margin-top: 5px;
  margin-bottom: 5px;
}
.data-download-anketa {
  border: unset;
  background: #4d4db8;
  border-radius: 3px;
  height: 30px;
  width: 180px;
  padding: 0;
}
.data-download-anketa > p {
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
}

/* кнопочки */

.agent-data-button {
  border: 1.5px solid #9276e4;
  background: #00000000;
  box-sizing: border-box;
  height: 35px;
  width: 235px;
  border-radius: 40px;
  padding: 0;
  transition: 0.5s ease;
}
.agent-data-button > p {
  font-weight: 500;
  font-size: 14px;
  margin: auto;
  color: #2b2a29;
}
.agent-data-button:hover > p {
  color: #fefefe;
}
.agent-data-button:hover {
  background: #9276e4;
}
.agent-data-button:focus,
.agent-data-button:active {
  background: #9276e4;
  transform: scale(1.05);
}

.btn-ban-agent,
.btn-unban-agent {
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
  border-radius: 3px;

  width: 200px;
  height: 30px;
  outline: none;
  border: none;
  transition: 0.5s ease;
}
.btn-ban-agent {
  background: #f22929;
}
.btn-unban-agent {
  background: #67b42b;
}
.btn-ban-agent:hover,
.btn-unban-agent:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.btn-ban-agent:active,
.btn-ban-agent:focus,
.btn-unban-agent:active,
.btn-unban-agent:focus {
  transform: scale(1.05);
}
</style>