<template>
  <section id="AgentPage">
    <div
      class="
        container-fluid
        p-0
        full-height-container
        animate__animated animate__fadeIn
      "
    >
      <Header @logout="logOut" :user="me" />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel :items="sidePanelItems" @logout="logOut" />
        <div
          class="col-md p-0"
          style="height: calc(100vh - 60px); overflow-y: auto"
        >
          <router-view></router-view>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Header from "@/components/main/header/Header.vue";
import SidePanel from "@/components/main/SidePanel.vue";
import { UserMapper } from "@/store/user";
import { AgentMapper } from "@/store/agent";
export default {
  name: "agentPage",
  components: {
    Header,
    SidePanel,
  },
  data() {
    return {
      panelItems: [
        {
          id: 1,
          //   img: "my_account.png",
          linkName: "agent",
          text: "Аналитика",
          exact: true,
          hide: false,
        },
        {
          id: 2,
          //   img: "MDclub.png",
          linkName: "agent-data",
          text: "Мои данные",
        },
        {
          id: 3,
          //   img: "my_profile.png",
          linkName: "agent-support",
          text: "Обратная связь",
          hide: false,
        },
      ],
      hide: true,
      profile: true,
    };
  },
  computed: {
    ...UserMapper.mapState(["error", "me"]),
    ...AgentMapper.mapState(["agentMe"]),

    sidePanelItems() {
      if (this.agentMe == null) {
        let panelItems = [];
        panelItems.push(this.panelItems[1]);
        return panelItems;
      }
      return this.panelItems;
    },
  },
  methods: {
    ...UserMapper.mapActions(["signOut"]),
    ...AgentMapper.mapActions(["getAgentMe"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "main-login" });
      } else {
        this.errorToast(this.error);
      }
    },
  },

  async mounted() {
    await this.getAgentMe();
    // console.log(this.sidePanelItems);
  },
};
</script>

<style>
</style>