<template>
  <section id="dataBody" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Мои данные</p>
        </div>
      </div>
    </div>
    <Form
      :inputs="form"
      @change="changeProfile"
      @doc="showAgentDoc"
      :full="full"
      @see-docs="$router.push({ name: 'agent-docs' })"
    />
    <!-- <ModalBanAgent @ok="ban" /> -->
    <b-modal size="xl" hide-footer hide-header v-model="agentDocIsVisible">
      <!-- <AgentDocViewer  :data="formProfile" /> -->
    </b-modal>
  </section>
</template>

<script>
import { AgentMapper } from "@/store/agent";
import { UserMapper } from "@/store/user";
// import ModalBanAgent from "@/components/agent/analytics/ModalBanAgent.vue";
import Form from "@/components/agent/data/Form.vue";
// import AgentDocViewer from '@/components/buhfranch/docs/AgentDocViewer.vue'
import moment from "moment";
moment.locale("ru");
export default {
  name: "DataBody",
  components: {
    // ModalBanAgent,
    Form,
    // AgentDocViewer
  },
  data() {
    return {
      form: {
        email: null,
        name: null,
        birthday: null,
        citizen: null,
        education: null,
        emailBuch: null,
        passport: null,
        passportWho: null,
        passportWhen: null,
        country: null,
        address: null,
        factAddress: null,
        inn: null,
        snils: null,
        resumePDF: null,
        passportPDF: null,
        innPDF: null,
        snilsPDF: null,
        dateJoined: null,
      },
      full: false,
      agentDocIsVisible: false,
    };
  },

  methods: {
    ...UserMapper.mapActions(["patchMe", "getMe"]),
    ...AgentMapper.mapActions(["postAgentMe", "getAgentMe"]),
    async ban(cause) {
      this.banAgent = true;

      await this.ban({
        id: this.$route.params.id,
        data: { ban: true, ban_cause: cause },
      });
      if (!this.error) {
        this.toast("Успешно", `Агент успешно заблокирован`, "success");
      } else {
        this.toast(
          "Неизвестная ошибка",
          `Не удалось заблокировать агента`,
          "danger"
        );
      }
    },
    async changeProfile(agentInfo) {
      await this.postAgentMe(agentInfo);
      if (!this.agentError) {
        this.toast("Успешно", "Информация успешно обновлена", "success");
        await this.getAgentInfoOrError();
        return;
      }
      this.errorToast(this.agentError);
      return;
    },
    showAgentDoc() {
      this.agentDocIsVisible = true;
    },
    setForm(data, type) {
      if (type == "agent") {
        console.log(moment(data.passportWhen).format("DD-MM-YYYY"));
        this.form = {
          email: data.user.email,
          name: [data.user.surName, data.user.name, data.user.patronymic]
            .filter((a) => a)
            .join(" "),
          birthday: data.birthday,
          citizen: data.citizen,
          education: data.education,
          emailBuch: data.emailBuch,
          passport: data.passport,
          passportWho: data.passportWho,
          passportWhen: data.passportWhen,
          country: data.country,
          address: data.address,
          factAddress: data.factAddress,
          inn: data.inn,
          snils: data.snils,
          resumePDF: data.resumePDF,
          passportPDF: data.passportPDF,
          innPDF: data.innPDF,
          snilsPDF: data.snilsPDF,
          dateJoined: moment(data.user.createdAt).format("«DD» MMM YYYY"),
        };
      } else {
        this.form = {
          email: data.email,
          name: [data.surName, data.name, data.patronymic]
            .filter((a) => a)
            .join(" "),
          birthday: null,
          citizen: null,
          education: null,
          emailBuch: null,
          passport: null,
          passportWho: null,
          passportWhen: null,
          country: null,
          address: null,
          factAddress: null,
          inn: null,
          snils: null,
          resumePDF: null,
          passportPDF: null,
          innPDF: null,
          snilsPDF: null,
          dateJoined: moment(data.createdAt).format("«DD» MMM YYYY"),
        };
      }
    },
    async getAgentInfoOrError() {
      await this.getAgentMe();
      if (!this.agentError) {
        this.setForm(this.agentMe, "agent");
        this.full = true;
      } else {
        await this.getMe();
        if (!this.userError) {
          this.setForm(this.me, "user");
          return;
        }
        this.errorToast(this.userError);
      }
    },
  },
  computed: {
    ...AgentMapper.mapState({ agentError: "error", agentMe: "agentMe" }),
    ...UserMapper.mapState({ me: "me", userError: "error" }),
  },
  async mounted() {
    this.getAgentInfoOrError();
  },
};
</script>

<style scoped>
h1 {
  font-size: 0.8rem;
}
</style>

<style>
.disabled {
  pointer-events: none;
  color: #949191;
  border: 1px solid #ffffff;
}
h6 {
  font-weight: 500;
  font-size: 18px;
  color: #2b2a29;
}
.admin-inputs > input {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  padding: 0.5vh 3%;
  transition: 0.5s ease;
  margin-bottom: 20px;
  margin-top: 0;
  width: 380px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
}
.admin-inputs > input:hover {
  border: 1px solid lightgray;
}
.admin-inputs > input:focus {
  border: 1px solid lightgray;
  outline: none;
}

.button-submit-data {
  padding: 0;
  background: #4d4db8;
  height: 35px;
  width: 200px;
}
.button-submit-data > p {
  font-weight: 500;
  font-size: 14px;
  margin: 0;

  color: #ffffff;
}
.data-download-anketa {
  border: unset;
  background: #4d4db8;
  border-radius: 3px;
  height: 30px;
  width: 180px;
  padding: 0;
}
.data-download-anketa > p {
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
}
.file-type {
  font-size: 16px;
  line-height: 20px;

  color: #2b2a29;
  font-weight: 400;
}

.agent-load {
  border: 1.5px solid #4d4db8;
  box-sizing: border-box;
  height: 30px;
  width: 140px;
  border-radius: 56px;
}
.agent-load:hover {
  background: #4d4db8;
  border: 1.5px solid #4d4db8;
  box-shadow: 0px 0px 15px #00000030;
  color: #fefefe;
}

.agent-load:active {
  border: 1.5px solid #4d4db8;
  color: #fefefe;
  transform: scale(1.05);
}

.documents-see {
  height: 35px;
  width: 215px;
  padding: 0;
}
.dropdown {
  width: 90%;
}
.button-dropdown-data {
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: 0.5s ease;
  margin-bottom: 20px;
  font-size: 16px;
  height: 30px !important;
  width: 380px !important;
  color: #626262;
  padding: 0.5vh 3%;
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
}

.invalid {
  border: 1px solid red !important;
}

.btn-ban-agent,
.btn-unban-agent {
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
  border-radius: 3px;

  width: 200px;
  height: 30px;
  outline: none;
  border: none;
  transition: 0.5s ease;
}
.btn-ban-agent {
  background: #f22929;
}
.btn-unban-agent {
  background: #67b42b;
}
.btn-ban-agent:hover,
.btn-unban-agent:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.btn-ban-agent:active,
.btn-ban-agent:focus,
.btn-unban-agent:active,
.btn-unban-agent:focus {
  transform: scale(1.05);
}
</style>
