<template>
  <section id="dataBody" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid relative-block mr-2 mt-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Мои данные
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">
            Документы {{ me.surName }} {{ me.name }}
            {{ me.patronymic }}
          </p>
        </div>
        <div class="col-4 my-auto text-right">
          <a class="link-anketa" href=""
            >Договор № {{ me.id }} от {{ me.createdAt }}</a
          >

          <!--  @click.prevent="agentDocIsVisible = true" -->
        </div>
      </div>
    </div>
    <Table :packages="packages" />
    <!-- <ModalBanAgent @ok="ban" /> -->
    <b-modal hide-header hide-footer size="xl" centered v-model="showAct">
      <h3 class="w-100 text-center">Акт № {{ activeActId }}</h3>
      <div ref="show"></div>
    </b-modal>
    <b-modal size="xl" hide-footer hide-header v-model="agentDocIsVisible">
      <!-- <AgentDocViewer :data="formProfile" :make="agentDocIsVisible" /> -->
    </b-modal>
  </section>
</template>

<script>
// import { AgentMapper } from "@/store/agent";
// import ModalBanAgent from "@/components/agent/analytics/ModalBanAgent.vue";
// import { UserMapper } from "@/store/user";
// import AgentDocViewer from "@/components/buhfranch/docs/AgentDocViewer.vue";
import Table from "@/components/agent/docs/Table.vue";
import PackageMapper from "@/store/package";
import UserMapper from "@/store/user";
// import { email, required, minLength } from "vuelidate/lib/validators";
import moment from "moment";
export default {
  name: "DataAnketa",
  components: {
    // ModalBanAgent,
    // AgentDocViewer,
    Table,
  },
  data() {
    return {
      packages: [],
    };
  },
  methods: {
    ...PackageMapper.mapActions(["getAgentPackagesById"]),
    getPackageName(name, format, childCount) {
      let names = ["Детский сад", "Начальная школа", "Школа"];
      let formats = ["Offline", "Online"];
      return names[name] + " / " + formats[format] + " " + childCount;
    },
    async getAgentPackagesByIdOrError() {
      let packages = await this.getAgentPackagesById(this.me.id);
      if (!this.error) {
        this.packages = packages.reverse().map((pack, i) => ({
          number: i + 1,
          id: pack.id,
          name: this.getPackageName(pack.name, pack.format, pack.childCount),
          act: process.env.VUE_APP_API_URL + pack.actPDF,
          cost: pack.price,
          income: pack.price / 20,
          buyer: pack.purchaser.name,
          date: moment(pack.date),
        }));
        return;
      }
      this.errorToast(this.error);
    },
  },
  computed: {
    ...PackageMapper.mapState(["error"]),
    ...UserMapper.mapState(["me"]),
  },
  async mounted() {
    await this.getAgentPackagesByIdOrError();
  },
};
</script>

<style>
.link-anketa {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;

  color: #2c61bf;
}

.analytics-id {
  width: 7%;
  padding-left: 40px !important;
}
.analytics-finance-cost {
  width: 9%;
  text-align: center;
}
.analytics-packege {
  width: 15%;
}
.analytics-category {
  width: 11%;
}
.analytics-buyer {
  text-align: center;
}
.analytics-buyer {
  width: 16%;
  text-align: left;
  padding-left: 8% !important;
}
.buyer-link {
  color: #2c61bf;
}
.analytics-taxes,
.analytics-date {
  width: 11%;
}
.analytics-taxes {
  text-align: center;
}
.analytics-date {
  color: #6c6c6c;
  text-align: left;
}
</style>
