<template>
  <section id="dataBody">
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Обратная связь</p>
        </div>
      </div>
    </div>
    <div
      class="contaiter-fluid agent-container py-4 mx-3 mr-4 mt-3"
      style="min-height: 400px"
    >
      <hr class="invisible" />
      <div class="row mt-2 mb-2 pl-4">
        <div class="col"><h6>Написать администратору</h6></div>
      </div>
      <Form @send="sendMessage" />
    </div>
    <Table :messages="messages" />
  </section>
</template>

<script>
import Form from "@/components/main/support/Form.vue";
import Table from "@/components/main/support/Table.vue";
import SupportMapper from "@/store/support";
import UserMapper from "@/store/user";
export default {
  components: {
    Table,
    Form,
  },
  data() {
    return {
      messages: [],
    };
  },
  computed: {
    ...SupportMapper.mapState(["error"]),
    ...UserMapper.mapGetters(["role"]),
  },
  methods: {
    ...SupportMapper.mapActions(["getMySupportMessages", "postMessage"]),
    async sendMessage(message) {
      message.role = this.role;
      await this.postMessage(message);
      if (!this.error) {
        await this.getMySupportMessagesOrError();
        return;
      }
      this.errorToast();
    },
    async getMySupportMessagesOrError() {
      let messages = await this.getMySupportMessages();
      if (!this.error) {
        this.messages = messages.map((msg) => {
          return {
            theme: msg.theme.name,
            status: msg.theme.status,
            sendedAt: this.moment(msg.sendedAt).format("DD.MM.YYYY"),
            text: msg.text,
          };
        });
        return;
      }
      this.errorToast(this.error);
    },
  },

  async mounted() {
    await this.getMySupportMessagesOrError();
  },
};
</script>

<style>
.header-admin {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
  color: #2b2a29;
}
.admin-inputs > input,
.admin-inputs > textarea {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;
  padding: 10px;
  transition: 0.5s ease;
  margin: 1vh 0;
  font-size: 16px;
  border-radius: 5px;
}

.admin-inputs > input:focus {
  border: 0.5px solid #1d1c1c;
  outline: none;
}
.admin-inputs > textarea {
  min-height: 20vh;
  width: 100%;
}
.admin-inputs > textarea:focus {
  border: 0.5px solid #1d1c1c;
  outline: none;
}

.admin-inputs > input {
  width: 90%;
}
.theme-input {
  width: 380px !important;
  height: 30px;
}
.message-input {
  width: 600px !important;
  min-height: 165px !important;
}
.page-item {
  transition: 0.5s;
}
.page-link {
  color: rgb(0, 0, 0);
}
.width-support {
  background: #249ddd;
  border-radius: 23px;
  color: #ffffff;
  height: 35px;
  width: 200px;
  font-size: 14px;
  padding: 0;
}
td.support-message {
  font-size: 13px;

  font-weight: 400;
  line-height: 16px;
  color: #2b2a29;
}
.support-date {
  width: 15%;
  text-align: center;
}
.support-status {
  width: 30%;
  text-align: center;
}
.support-theme {
  width: 15%;
  text-align: left;
  padding-left: 40px !important;
}
th {
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  color: #4a4a4a;
}
.page-item.active .page-link {
  color: rgb(0, 0, 0);
  background-color: rgba(201, 201, 201, 0.54);
  border-color: rgb(201, 201, 201);
}

/* @media (min-width: 1441px) and (min-height: 850px) {
  .admin-inputs > input,
  .admin-inputs > textarea {
    margin: 1vh 0;
    font-size: 1rem;
  }
} */

thead {
  border-bottom: 1.5px solid #efefef;
}
.row-support {
  width: 630px;
}
</style>