<template>
  <section
    id="mentor-base-info"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Назад
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-parent-big m-0">
            {{ parent.surName }} {{ parent.name }} {{ parent.patronymic }}
          </p>
        </div>
        <div class="wrap-button px-3">
          <button
            @click.prevent="
              $router.push({
                name: `${
                  role == 'HeadSalesManager' ? 'head-' : ''
                }clientmanager-analytics-parent-data`,
                params: { id: parent.id },
              })
            "
            class="load-files-parent size-change-data"
          >
            <p>Изменить данные</p>
          </button>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid mr-2 relative-block">
      <ParentBaseInfo />
    </div>
  </section>
</template>

<script>
// import moment from "moment";
import { ClientManagerMapper } from "@/store/clientManager";
import { UserMapper } from "@/store/user";
import ParentBaseInfo from "@/components/clientManager/parents/ParentBaseInfo.vue";
export default {
  name: "Info",
  components: {
    ParentBaseInfo,
  },
  data() {
    return {};
  },
  methods: {
    ...ClientManagerMapper.mapActions(["getParentDetails"]),
  },

  computed: {
    ...ClientManagerMapper.mapState(["parent"]),
    ...UserMapper.mapGetters(["role"]),
  },
  async mounted() {
    await this.getParentDetails(this.$route.params.id);
  },
};
</script>

<style scoped></style>

<style>
.data-header {
  font-weight: 500;
}

.nav-link {
  background: #e4e4e4;
  padding: 0.25rem 1rem;
}

.nav-tabs .nav-link {
  color: #ffffff !important;
  background: #c4c4c4;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
}

.nav-tabs .nav-item {
  margin-right: 25px;
}

.load-files-parent {
  background: #ffffff00;

  border: 1.5px solid #b42f26;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0;
  transition: 0.5s ease;
}
.load-files-parent > p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
}
.load-files-parent:hover {
  background: #b42f26;

  box-shadow: 0px 0px 15px #00000030;
}

.load-files-parent:focus,
.load-files-parent:active {
  transform: scale(1.05);
}

.size-change-data {
  height: 35px;
  width: 165px;
}
</style>
