<template>
  <b-modal ref="modal-term" id="modal-term" hide-footer hide-header centered>
    <div
      class="row w-100 m-0 mt-header-row justify-content-center relative-block"
    >
      <p class="modal-term-header py-2">Тайм-менеджмент</p>
      <img
        src="@/assets/img/icons/rule-icon.png"
        alt=""
        class="absolute-block sound-modal-icon"
      />
    </div>
    <div class="row mt-4 pt-3">
      <div class="col-2 text-right my-auto">
        <button variant="img-slide" class="prev" @click.prevent="slidePrev">
          <img
            src="@/assets/img/icons/grey-next.svg"
            alt=""
            class="prev rotate180"
          />
        </button>
      </div>

      <div class="col-8 text-center my-auto">
        <hooper
          ref="term_tm"
          :settings="hooperSettings"
          @slide="updateCarousel"
        >
          <slide>
            <img
              src="@/assets/img/business-terms/modal-tm.png"
              alt=""
              class="img-fluid"
            />
          </slide>
          <slide>
            <img
              src="@/assets/img/business-terms/modal-tm.png"
              alt=""
              class="img-fluid"
            />
          </slide>
          <slide>
            <img
              src="@/assets/img/business-terms/modal-tm.png"
              alt=""
              class="img-fluid"
            />
          </slide>
        </hooper>
      </div>
      <div class="col-2 text-left my-auto">
        <button variant="img-slide" class="next" @click.prevent="slideNext">
          <img src="@/assets/img/icons/grey-next.svg" alt="" class="next" />
        </button>
      </div>
    </div>
  </b-modal>
</template>

<script>
import { Hooper, Slide } from "hooper";
import "hooper/dist/hooper.css";

export default {
  name: "ModalTerm",
  components: { Hooper, Slide },
  data() {
    return {
      carouselData: 0,
      hooperSettings: {
        itemsToShow: 1,
        transition: 500,
      },
    };
  },
  watch: {
    carouselData() {
      this.$refs.term_tm.slideTo(this.carouselData);
    },
  },
  methods: {
    slidePrev() {
      this.$refs.term_tm.slidePrev();
    },
    slideNext() {
      this.$refs.term_tm.slideNext();
    },
    updateCarousel(payload) {
      this.myCarouselData = payload.currentSlide;
    },
    hideModal() {
      this.$refs["modal-term"].hide();
    },
  },
};
</script>

<style>
#modal-term___BV_modal_content_ {
  background-color: #71c9e4 !important;
  padding: 0;
  border-radius: 20px;
  height: 500px;
  min-width: 470px !important;
  margin: auto;
}

#modal-term .modal-dialog {
  max-width: 470px !important;
}

.btn-img-slide {
  background: none;
  border: none;
}
.sound-modal-icon {
  top: calc(50% - 12px);
  left: 12px;
  width: 25px;
}
.prev,
.next {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background: none;
  border: none;
  z-index: 50;
  transition: 0.5s ease;
}
.prev:hover,
.next:hover {
  box-shadow: 0px 0px 10px #fefefe;
}
.mt-header-row {
  border-radius: 100px;
  background: whitesmoke;
}

.modal-term-header {
  font-size: 20px;
  line-height: 24px;
  font-weight: 600;
  color: #000;
}
</style>