<template>
  <b-modal
    id="modal-idea"
    hide-footer
    hide-header
    centered
    no-close-on-backdrop
    class="modal-coins modal-bg"
  >
    <div class="row mt-3 justify-content-center">
      <img src="@/assets/img/hints/genious-idea.svg" alt="" class="img-fluid" />
    </div>
    <div class="body-idea">
      <transition-group tag="div" name="todo" class="ideas-wrap">
        <div
          v-for="(idea, i) in ideas"
          :key="idea.id"
          class="button-loaded-idea relative-block my-3"
        >
          <img
            :src="require(`@/assets/img/icons/${types[idea.type]}-success.png`)"
            alt="next"
            class="p-0 type-img"
          />
          <button
            class="btn-invisible-button absolute-block button-delete-idea"
            @click="
              ideas.splice(i, 1);
              if (ideas.length == 0) {
                loadMore = false;
              }
            "
          >
            <img
              class="w-100 h-100"
              src="@/assets/img/pictures/delete-image.svg"
              alt=""
            />
          </button>
        </div>
      </transition-group>

      <transition name="fade" mode="out-in">
        <div key="1" v-if="loadMore == true" class="">
          <b-button @click="loadMore = false" variant="1" class="btn-load-more">
            <img
              :src="require(`@/assets/img/icons/add-idea.svg`)"
              alt="next"
              class="p-0"
            />
          </b-button>
        </div>
        <div key="2" v-else class="buttons-wrap">
          <div :class="{ 'no-border': record }" class="buttons-inside-wrap">
            <!-- <div
              style="width: 67%; height: 105%; background: red"
              v-if="record"
            >
              123
            </div> -->
            <div
              class="sound-road"
              style="transform: scaleX(1.1) translateX(10px)"
              :class="`${record && 'record'} sound-road${number}`"
              :ref="`road${number}`"
            ></div>
            <b-button v-if="!record" @click="paint()" variant="1">
              <img
                :src="require(`@/assets/img/icons/coloring.png`)"
                alt="next"
                class="p-0"
              />
            </b-button>
            <b-button
              @click="recordSound()"
              :class="{ 'record-active': record }"
              variant="1"
            >
              <img
                :src="
                  !record
                    ? require('@/assets/img/icons/voice-big.png')
                    : require('@/assets/img/icons/voice-success.png')
                "
                alt="next"
                class="p-0"
              />
            </b-button>
            <input
              type="file"
              style="display: none"
              ref="input"
              @click="loading = true"
              @change="loadImg()"
            />
            <b-button v-if="!record" @click="handleLoading()" variant="1">
              <img
                :src="require(`@/assets/img/icons/upload.png`)"
                alt="next"
                class="p-0"
              />
            </b-button>
          </div>
        </div>
      </transition>
    </div>

    <img
      src="@/assets/img/icons/wrap.png"
      alt=""
      class="absolute-block image-wrap"
    />
    <b-button
      @click="$bvModal.hide('modal-idea')"
      variant="1"
      class="absolute-block btn-save-idea no-select p-0 pr-1"
    >
      <p class="pr-2">Сохранить идеи</p>
      <div class="almost-side-menu__icon">
        <img
          :src="require(`@/assets/img/icons/blue-next.svg`)"
          alt="next"
          class="img-fluid p-0"
        />
      </div>
    </b-button>
  </b-modal>
</template>

<script>
export default {
  name: "ModalIdea",
  data() {
    return {
      id: 0,
      loadMore: false,
      record: false,

      file: "",
      imgSrc: "",
      number: 1,

      mediaRecorder: null,
      voice: new Audio(),
      wave: null,

      ideas: [],
      types: {
        img: "upload",
        audio: "voice",
        paint: "coloring",
      },
    };
  },
  methods: {
    async soundRoad() {
      let stream = await navigator.mediaDevices.getUserMedia({
        audio: true,
      });
      if (stream) {
        this.mediaRecorder = new MediaRecorder(stream);
        let voice = [];
        // ***************
        // *ondataavailable
        // ***************
        this.mediaRecorder.ondataavailable = (e) => {
          voice.push(e.data);
        };
        // ***************
        // *ONSTOP
        // ***************
        this.mediaRecorder.onstop = () => {
          let blob = new Blob(voice, {
            type: "audio/wav",
          });
          this.voice.src = window.URL.createObjectURL(blob);
          this.isRecorded = true;
          stream.getTracks().forEach(function (track) {
            track.stop();
          });
          let strokes = document.querySelectorAll(".stroke");
          strokes.forEach((stroke) => {
            stroke.remove();
          });
          this.$emit("success", true, this.number, blob);
          setTimeout(() => this.$emit("open", false, this.number), 1000);
        };
        // ***************

        this.mediaRecorder.start();
        let context = new AudioContext();
        let analyser = context.createAnalyser();
        let src = context.createMediaStreamSource(stream);
        src.connect(analyser);
        for (let i = 0; i < 100; i++) {
          let stroke = document.createElement("div");
          stroke.className = "stroke";
          stroke.style.background = "white";
          stroke.style.minWidth = "0.8%";
          this.$refs[`road${this.number}`].appendChild(stroke);
        }
        let strokes = document.querySelectorAll(".stroke");
        let loop = () => {
          if (this.mediaRecorder.state == "record") {
            window.requestAnimationFrame(loop);
            let array = new Uint8Array(200);
            analyser.getByteFrequencyData(array);
            for (var i = 0; i < 100; i++) {
              let height = array[i + 100] / 3;
              strokes[i].style.minHeight = height + "%";
            }
          }
        };
        loop();
      }
    },
    async recordSound() {
      if (!this.record) {
        console.log("Показываю визуализацию");
        this.record = true;
        this.soundRoad();
      } else {
        console.log("Сохраняю запись");
        this.record = false;
        await this.mediaRecorder.stop();
        this.recordVoice();
      }
    },
    audioPlay() {
      this.voice.play();
    },
    handleLoading() {
      this.$refs.input.click();
    },
    loadImg() {
      this.ideas.push({ id: this.id, type: "img", file: this.file });
      this.loadMore = true;
      this.id++;
    },
    recordVoice() {
      this.ideas.push({ id: this.id, type: "audio", file: this.file });
      this.loadMore = true;
      this.id++;
    },
    paint() {
      this.ideas.push({ id: this.id, type: "paint", file: this.file });
      this.loadMore = true;
      this.id++;
    },
  },
};
</script>

<style>
/* анимации */

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

/* анимации */

#modal-idea___BV_modal_content_ {
  background-color: #ffffff !important;
  padding: 0;
  border-radius: 20px;
  height: 470px;
  max-width: 460px !important;
  margin: auto;
}
.modal-coins-header {
  font-size: 35px;
  line-height: 37px;
  font-weight: bold;
  color: #fff;
}
.modal-coins-text {
  font-size: 15px;
  line-height: 18px;
  font-weight: bold;
  color: #fff;
}
.todo-leave-active {
  position: absolute;
}
.todo-leave-to {
  transform: translateX(500px);
  opacity: 0;
}
.body-idea {
  height: 300px;
  display: flex;
  overflow-y: auto;
  flex-flow: column;
}
.body-idea::-webkit-scrollbar-button {
  background-repeat: no-repeat;
  width: 5px;
  height: 0px;
  position: absolute;
}

.body-idea::-webkit-scrollbar-track {
  background-color: lightgray;
  border-radius: 20px;
  position: absolute;
}

.body-idea::-webkit-scrollbar-thumb {
  -webkit-border-radius: 0px;
  border-radius: 20px;
  background-color: #fff;
  position: absolute;
}

.body-idea::-webkit-scrollbar-thumb:hover {
  background-color: #fff;
  position: absolute;
}

.body-idea::-webkit-resizer {
  background-repeat: no-repeat;
  width: 4px;
  height: 0px;
  position: absolute;
}

.body-idea::-webkit-scrollbar {
  width: 10px;
  position: absolute;
}

.ideas-wrap {
  justify-content: space-around;
  width: 300px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}
.image-wrap {
  bottom: 0;
  right: 0;
  width: 50px;
  height: 40px;
}

.btn-save-idea {
  width: 245px;
  height: 50px;
  border-radius: 100px;
  background: #71c9e4;
  border: 2px solid #71c9e4;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  bottom: -70px;
  left: calc(50% - 120px);
}
.btn-save-idea > p {
  font-size: 17px;
  font-weight: 500;
  margin: 0px 0px;
  text-transform: uppercase;
  color: #fefefe;
  padding: 0;
}
.almost-side-menu__icon {
  border-radius: 100%;
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.buttons-wrap {
  width: 340px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  background: #f3f3f3;
  border-radius: 25px;
}
.buttons-inside-wrap {
  width: 94%;
  height: 85%;
  border-radius: 15px;
  border: 2px dashed #9c9c9b;
  display: flex;
  align-items: center;
  justify-content: center;
}
.buttons-inside-wrap > .btn {
  width: 110px;
  height: 95px;
  border-radius: 15px;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttons-inside-wrap > .btn > img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}
.buttons-inside-wrap > .btn:hover {
  border: solid 2px #fefefe;
  background: #fefefe;
  transform: scale(1.05);
}
.buttons-inside-wrap > .btn:active {
  border: solid 2px #fefefe;
  background: #fefefe;
  transform: scale(1.1);
  box-shadow: 0px 0px 15px #00000040;
}
.record-active {
  background: #ffde3b !important;
  border: 2px solid #fefefe !important;
  z-index: 2;
}
.no-border {
  border: unset !important;
}
.button-loaded-idea,
.btn-load-more {
  width: 110px;
  height: 95px;
  border-radius: 15px;
  transition: 0.5s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0px 0px 15px #00000030;
  background: #ffde3b;
  border: 2px solid #fefefe;
}
.button-loaded-idea:hover,
.btn-load-more:hover {
  box-shadow: 0px 0px 15px #00000030;
}
.button-loaded-idea > .type-img,
.btn-load-more > img {
  height: 30px;
  width: 30px;
  object-fit: contain;
}

.button-delete-idea {
  top: -10px;
  height: 30px;
  width: 30px;
  right: -15px;
}
.btn-load-more {
  background: #fefefe;
  border: 2px solid #fefefe;
  box-shadow: 0px 0px 15px #00000030;

  margin: auto;
  margin-top: 15px;
  margin-bottom: 20px;
}
.btn-load-more:active {
  box-shadow: 0px 0px 15px #00000030;
  transform: scale(1.1);
}

/* полоса записи звука */

.sound-road {
  height: 100%;
  background: skyblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  width: 0%;
  opacity: 0;
}
.sound-road.record {
  transform: translateX(10px);
  width: 100%;

  opacity: 1;
  border-radius: 15px 0 0 15px;
}
.sound-road > span {
  width: 0.5%;
  height: 5%;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s ease;
}
.sound-road > span.record {
  width: 0.5%;

  height: 50%;
  animation: animate 0.7s linear infinite;
}

@keyframes animate {
  50% {
    height: 10%;
  }
  100% {
    height: 50%;
  }
}

/* полоса записи звука */
</style>

<style scoped>
</style>