<template>
  <section class="h-100" style="position: relative">
    >
    <TopMenu
      id="top-page-menu-test"
      title="Наши правила"
      subtitle="Давай познакомимся поближе"
      iconsrc="img/icons/pencil_icon.png"
      iconclass="icon-header"
    />

    <section
      class="rules-section animate__animated animate__fadeIn mt-2 full-height white-bg bottom-radius shadow-body"
      style="overflow-y: scroll"
    >
      <div class="container-fluid p-0 relative-block fit-content">
        <div class="row mx-auto rules-height fit-content">
          <RuleCard
            v-for="item in rules"
            :key="item.id"
            :number="item.id"
            :active="item.active"
            :text="item.text"
            @active="item.active = true"
          />
        </div>
        <ButtonNext
          :show="showButton"
          link="tale1-test2"
          class="position-scrolled"
        />
      </div>
    </section>
  </section>
</template>
 
<script>
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";

import { Tale1Mapper } from "@/store/tales/tale1";
import RuleCard from "@/components/tales/tale1/test/test1/RuleCard.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
export default {
  name: "Page1",
  components: { TopMenu, RuleCard, ButtonNext },
  data() {
    return {
      rules: [
        {
          id: 1,
          text: "Не бойся спрашивать то, чего не знаешь.",
          active: false,
        },
        {
          id: 2,
          text: "Приобретай знания, обогащай интеллект в целом.",
          active: false,
        },
        {
          id: 3,
          text: "Выбирай занятие, которое тебе нравится.",
          active: false,
        },
        {
          id: 4,
          text: "Считай все достижимым.",
          active: false,
        },
        {
          id: 5,
          text: "Доводи начатое до конца.",
          active: false,
        },
        {
          id: 6,
          text: "Бизнес — это серьезный и настоящий труд.",
          active: false,
        },
        {
          id: 7,
          text:
            "Толерантность — это спокойное восприятие мира, терпение, отказ от агрессии.",
          active: false,
        },
        {
          id: 8,
          text: "Есть миллионы шансов и возможностей, выбор за тобой.",
          active: false,
        },
        {
          id: 9,
          text: "Будь счастлив сам и делай других счастливыми.",
          active: false,
        },
      ],
    };
  },
  computed: {
    showButton() {
      return (
        this.rules.filter((rule) => rule.active == true).length == 9 ||
        this.tale.pages > 2
      );
    },
    ...Tale1Mapper.mapState(["tale"]),
  },
  methods: {
    playsound: function (sound_name) {
      var column = document.getElementById(sound_name);
      column.classList.add("yellow-bg");

      console.log();
      var text = document.getElementById(sound_name + "text");
      text.classList.add("black-text");
    },
  },
};
</script>

<style scoped>
.position-scrolled {
  bottom: 4%;
}
.rules-section {
  display: flex;
  justify-content: center;
  padding: 2vh 0;
}
.hr-transparent {
  border: 1px solid #ffffff00;
}
.fit-content {
  height: fit-content;
}
.rules-height {
  width: 1049px;
  padding-top: 1%;
}

@media (max-width: 1100px) {
  .rules-height {
    width: 95%;
    padding-top: 1%;
  }
}
@media (max-width: 850px) {
  .position-scrolled {
    bottom: 5.5%;
  }
}
</style>