<template>
  <section class="h-100" style="position: relative">
    >
    <TopMenu
      id="top-page-menu-test"
      title="Наши правила"
      subtitle="Давай познакомимся поближе"
      iconsrc="img/icons/pencil_icon.png"
      iconclass="icon-header"
    />

    <section
      class="rules-section animate__animated animate__fadeIn mt-2 full-height white-bg bottom-radius shadow-body"
    >
      <div class="container h-100">
        <div class="row h-100 width-adaptive mx-auto justify-content-center">
          <RuleCard
            v-for="item in rules"
            :key="item.id"
            :number="item.id"
            :active="item.active"
            :text="item.text"
            @active="item.active = true"
          />
          <hr class="hr-transparent pb-4 m-0" />
        </div>
      </div>

      <ButtonNext :show="showButton" link="tale1-test3" />
    </section>
  </section>
</template>
 
<script>
import TopMenu from "@/components/tales/global/menu/top/Menu.vue";

import { Tale1Mapper } from "@/store/tales/tale1";
import RuleCard from "@/components/tales/tale1/test/test2/RuleCard.vue";
import ButtonNext from "@/components/tales/global/menu/ButtonNext.vue";
export default {
  name: "Page2",
  components: { TopMenu, RuleCard, ButtonNext },
  data() {
    return {
      rules: [
        {
          id: 1,
          text: "Не бойся спрашивать то, чего не знаешь.",
          active: false,
        },
        {
          id: 2,
          text: "Приобретай знания, обогащай интеллект в целом.",
          active: false,
        },
        {
          id: 3,
          text: "Выбирай занятие, которое тебе нравится.",
          active: false,
        },
        {
          id: 4,
          text: "Считай все достижимым.",
          active: false,
        },
        {
          id: 5,
          text: "Доводи начатое до конца.",
          active: false,
        },
        {
          id: 6,
          text: "Бизнес — это серьезный и настоящий труд.",
          active: false,
        },
        {
          id: 7,
          text:
            "Толерантность — это спокойное восприятие мира, терпение, отказ от агрессии.",
          active: false,
        },
        {
          id: 8,
          text: "Есть миллионы шансов и возможностей, выбор за тобой.",
          active: false,
        },
        {
          id: 9,
          text: "Будь счастлив сам и делай других счастливыми.",
          active: false,
        },
      ],
    };
  },
  computed: {
    showButton() {
      return (
        this.rules.filter((rule) => rule.active == true).length == 9 ||
        this.tale.pages > 2
      );
    },
    ...Tale1Mapper.mapState(["tale"]),
  },
  methods: {
    playsound: function (sound_name) {
      var column = document.getElementById(sound_name);
      column.classList.add("yellow-bg");

      console.log();
      var text = document.getElementById(sound_name + "text");
      text.classList.add("black-text");
    },
  },
};
</script>
<style scoped>
.button-start-text {
  font-size: 32px;
  font-weight: bold;
}
.rules-section {
  display: flex;
  justify-content: center;
  padding: 2vh 0;
}
.margin-rules {
  margin: 0 8%;
}
.hr-transparent {
  border: 1px solid #ffffff00;
}
.width-adaptive {
  width: 100%;
}
@media (max-height: 700px) {
  .width-adaptive {
    width: 75%;
  }
}
</style>