<template>
  <section id="crm-admin" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Входящие заявки</p>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid agent-container mx-3 mr-4 mt-3">
      <hr class="hr-invisible m-0" />
      <div style="padding-left: 2.5rem" class="row pr-3 mt-3 pt-4">
        <p class="m-0 a-row-data-label">
          Всего партнёров:
          <span class="bold-text orange-text pl-4">{{
            numberWithSpaces(agents.length + franchisees.length)
          }}</span>
        </p>

        <p style="margin-left: 3rem !important" class="m-0 a-row-data-label">
          Общий оборот:
          <span class="bold-text green-text pl-4"
            >{{ numberWithSpaces(totalTurnover) }} P</span
          >
        </p>

        <p style="margin-left: 3rem !important" class="m-0 a-row-data-label">
          Доход:
          <span class="bold-text orange-text pl-4"
            >{{ numberWithSpaces(totalProfit) }} P</span
          >
        </p>
      </div>
      <hr
        style="margin-left: 2.5rem; margin-right: 2.5rem"
        class="hr-branch mt-3 mb-4"
      />
      <BaseInfoCRM
        :agents="agents"
        :franchisees="franchisees"
        :packages="packages.filter((pac) => pac.status == 2)"
      />
    </div>

    <div
      class="contaiter-fluid agent-container mx-3 mr-4"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <TableRequest :items="items" @status="changePackageStatus" />
    </div>
  </section>
</template>

<script>
import { numberWithSpaces } from "@/mixins/number";
import BaseInfoCRM from "@/components/salesManager/crm/BaseInfoCRM.vue";
import TableRequest from "@/components/salesManager/crm/TableRequest.vue";
import { SalesManagerMapper } from "@/store/salesManager";
import DocsMixin from "@/mixins/docs";
import PackageNumbers from "@/mixins/packages";
export default {
  name: "CRM",
  components: {
    BaseInfoCRM,
    TableRequest,
  },
  mixins: [PackageNumbers, DocsMixin],
  data() {
    return {
      partnersCount: 450,
      totalTurnover: 0,
      totalProfit: 0,
      items: [],
    };
  },
  computed: {
    ...SalesManagerMapper.mapState([
      "packages",
      "agents",
      "franchisees",
      "packages",
      "salesManagerId",
    ]),
  },
  methods: {
    numberWithSpaces,
    ...SalesManagerMapper.mapActions([
      "getPackages",
      "patchPackage",
      "getAgentFranchiseeCount",
      "getFranchiseeList",
      "getAgentsList",
      "getPackages",
    ]),
    async changePackageStatus(status, id) {
      await this.patchPackage({ id, data: { status } });
      this.items = this.formatPackages(this.packages);

      if (status == 3) {
        let pckg = this.packages.find((pck) => pck.id == id);
        pckg.status = this.getPackageStatus(pckg.status);
        pckg.format = this.getPackageFormat(pckg.format);
        pckg.name = this.getPackageType(pckg.name);
        console.log({ pckg });
        let docContract = this.createFranchiseeLicenseAsset(pckg.franchisee);
        let pdfContract = this.createPDF(docContract);
        let docBill = this.createBillDocAsset(pckg);
        let pdfBill = this.createPDF(docBill);
        let docAkt = this.createAktDocAsset(pckg);
        let pdfAkt = this.createPDF(docAkt);
        let formData = new FormData();

        let getFranchiseeLicenseBlob = new Promise((resolve) => {
          pdfContract.getBlob(async (pdfFile) => {
            resolve(pdfFile);
          });
        });
        let franchiseeLicensePDFFile = await getFranchiseeLicenseBlob;
        formData.set(
          "contract_file",
          franchiseeLicensePDFFile,
          "Лицензионный договор.pdf"
        );

        let getFranchiseeBillBlob = new Promise((resolve) => {
          pdfBill.getBlob(async (pdfFile) => {
            resolve(pdfFile);
          });
        });
        let franchiseeBillPDFFile = await getFranchiseeBillBlob;
        formData.set("bill_file", franchiseeBillPDFFile, "Счет_на_оплату.pdf");

        let getFranchiseeAktBlob = new Promise((resolve) => {
          pdfAkt.getBlob(async (pdfFile) => {
            resolve(pdfFile);
          });
        });
        let franchiseeAktPDFFile = await getFranchiseeAktBlob;
        formData.set("act_file", franchiseeAktPDFFile, "Акт.pdf");
        formData.set("email", pckg.franchisee.user.email);

        await this.patchChildPackage({ id, data: formData });
      }
    },
  },
  async mounted() {
    await this.getPackages(this.salesManagerId);
    await this.getAgentFranchiseeCount();
    await this.getFranchiseeList(this.salesManagerId);
    await this.getAgentsList(this.salesManagerId);
    this.items = this.formatPackages(this.packages);
  },
};
</script>

<style></style>
