<template>
  <div
    class="slide-row"
    :class="{ success, disable, accept, record: isRecorded }"
  >
    <img src="@/assets/img/pictures/coins-pic.png" alt="" />
    <button @click="loadedCoins">
      <img
        :src="
          require(`@/assets/img/icons/${
            !record && !isRecorded
              ? 'upload.png'
              : !record && isRecorded
              ? 'check-white.svg'
              : 'voice-big.png'
          }`)
        "
        alt=""
      />
    </button>
    <img
      :src="require(`@/assets/img/icons/${img1}.png`)"
      alt=""
      class="img-fluid"
    />
    <img
      :src="require(`@/assets/img/icons/${img2}.png`)"
      alt=""
      class="img-fluid"
    />
    <div class="question-number">
      <div class="top-line" v-if="number != 1"></div>
      <div class="number">
        <span>{{ number }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "CardLoad",
  data() {
    return {
      clicked: false,
      record: false,
      isRecorded: false,
      mediaRecorder: null,
    };
  },
  props: {
    img1: String,
    img2: String,
    disable: Boolean,
    success: Boolean,
    accept: Boolean,
    number: Number,
  },
  methods: {
    // закрыть вторую вкладку, после чего открыть первую
    loadedCoins() {
      if (this.clicked) {
        this.mediaRecorder.stop();
        this.record = false;
      } else {
        this.soundRecord();
        this.record = true;
      }
      this.boop();
      this.clicked = !this.clicked;
    },
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    async soundRecord() {
      let stream = await navigator.mediaDevices.getUserMedia({
        audio: true,
      });
      if (stream) {
        this.mediaRecorder = new MediaRecorder(stream);
        let voice = [];
        // ***************
        // *ondataavailable
        // ***************
        this.mediaRecorder.ondataavailable = (e) => {
          voice.push(e.data);
        };
        // ***************
        // *ONSTOP
        // ***************
        this.mediaRecorder.onstop = () => {
          let blob = new Blob(voice, {
            type: "audio/wav",
          });
          voice.src = window.URL.createObjectURL(blob);
          this.isRecorded = true;
          stream.getTracks().forEach(function (track) {
            track.stop();
          });
          this.$emit("load", this.number, blob);
        };
        // ***************

        this.mediaRecorder.start();
      }
    },
  },
};
</script>

<style scoped>
.slide-row {
  width: 100%;
  height: calc(100% / 3);
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  align-items: center;
}

.slide-row > img {
  height: 50%;
  width: auto;
  filter: grayscale(1);
  transition: 0.5s ease;
}
.slide-row.success > img:nth-of-type(2),
.slide-row.success > img:nth-of-type(3) {
  filter: grayscale(0);
}
.slide-row.accept > img:nth-of-type(1) {
  filter: grayscale(0);
}

.slide-row > button {
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  background: #fff;
  border-radius: 20px;
  border: 2px solid #fff;
  transition: 0.5s ease;
  width: 25%;

  outline: none;
  height: 90%;
}
.slide-row > button > img {
  width: 25%;
  height: auto;
}

.slide-row.success > button,
.slide-row > button:focus {
  background: #ffde3b;
}

.slide-row.record > button {
  background-color: #71c9e4;
}
.slide-row.success > button > img,
.slide-row.disable > button > img,
.slide-row > button:focus > img {
  filter: brightness(10);
}

.slide-row.disable {
  pointer-events: none;
}

.slide-row.disable > button {
  background: none;
  border: 3px dashed gray;
  box-shadow: none;
}

.question-number {
  height: 100%;
  width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.question-number .number {
  z-index: 1;
  width: 50%;
  padding-top: 50%;
  border-radius: 50%;
  background-color: lightgray;
  transition: 0.5s ease-in-out;
  position: relative;
}
.slide-row.success .number {
  background: #ffde3b;
}
.question-number .number span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bolder;
  font-size: 1.3em;
}
.top-line {
  position: absolute;
  height: 100%;
  width: 3px;
  background: lightgray;
  z-index: 0;
  top: -50%;
  transition: 0.5s ease-in-out;
}
.top-line::before {
  display: block;
  background: #ffde3b;
  content: "";
  height: 0;
  width: 3px;
  top: 0;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

.slide-row.success .top-line::before {
  height: 100%;
}
</style>