<template>
  <div
    @mouseleave="showBig = false"
    @mouseover="showBig = true"
    class="row-members relative-block"
  >
    <div
      :class="{ invisibleCoins: showBig }"
      class="lil-fm-block relative-block"
    >
      <img
        :src="require(`@/assets/img/family-interview/${members.iconFm1}.svg`)"
        alt=""
        :class="members.iconFm1Class"
        class="absolute-block"
      />
      <img
        :src="require(`@/assets/img/family-interview/${members.iconFm2}.svg`)"
        alt=""
        :class="members.iconFm2Class"
        class="absolute-block"
      />
    </div>

    <div :class="{ success: members.success }" class="task-number mr-2">
      <div :class="{ invisibleCoins: showBig }" class="number">
        <span>{{ members.number }}</span>
      </div>
      <div v-if="members.number != 1" class="top-line"></div>
    </div>

    <div
      :class="{ invisibleCoins: showBig, success: members.success }"
      class="coins-family coins-vert-moving"
    ></div>

    <!-- <img
      src="@/assets/img/family-interview/coins-hor.svg"
      alt=""
      :class="{ invisibleCoins: showBig, invisibleCoins: members.success }"
      class="coins-hor-img"
    /> -->

    <button
      @mouseleave="showBig = false"
      :class="{ showBig: showBig }"
      @click="$emit('picked', members)"
      class="btn-invisible-button absolute-block big-image-btn"
    >
      <img
        :src="require(`@/assets/img/family-interview/${members.bigImage}.png`)"
        alt=""
      />
    </button>

    <transition name="fade">
      <div :class="{ showBigCoins: showBig }" class="absolute-block"></div>
      <!-- <img
        :class="{ showBigCoins: showBig }"
        src="@/assets/img/family-interview/coins-vert.svg"
        alt=""
        class="absolute-block coins-vert-img"
      /> -->
    </transition>
  </div>
</template>

<script>
export default {
  name: "FamilyMemberRow",
  props: {
    members: Object,
  },
  data() {
    return {
      showBig: false,
    };
  },
};
</script>

<style>
.wrap-pick-members {
  width: 50%;
  max-height: 500px;
  max-width: 360px;
  display: flex;
  flex-flow: column;
  margin: auto;
}
.wrap-pick-members p {
  font-size: 1.1rem;
  font-weight: bold;
  color: #9c9c9b;
  text-align: center;
}
.row-members {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  padding-left: 5%;
  align-items: center;
  height: 135px;
  width: 360px;
  opacity: 0;
}
.lil-fm-block {
  height: 50%;
  width: 35%;
  margin: 0 4%;
  transition: 0.6s ease;
}

.lil-father-img {
  height: 100%;
  left: 0;
  top: 7%;
}
.lil-mother-img {
  height: 100%;
  right: 0;
  top: 17%;
}
.lil-granny-img {
  height: 84%;
  left: 0;
  top: 24%;
}
.lil-sister-img {
  height: 75%;
  right: 0;
  top: 23%;
}
.lil-pet1-img {
  height: 79%;
  left: 8%;
  top: 24%;
}
.lil-pet2-img {
  height: 92%;
  right: 0;
  top: 12%;
}
.coins-hor-img {
  width: 20%;
  object-fit: contain;
  transition: 0.6s ease;
}

.big-image-btn {
  height: 100%;
  width: 79%;
  left: 0;
  z-index: -5;
  opacity: 0;
  transition: 0.8s ease;
}
.big-image-btn img {
  object-fit: contain;
  width: 285px;
  height: 160px;
  filter: drop-shadow(0px 0px 15px #00000030);
}
.showBig {
  z-index: 5;
  opacity: 1;
}
.invisibleCoins {
  opacity: 0;
}
.coins-vert-img {
  height: 120px;
  width: 75px;
  right: 0;
  z-index: -5;
  opacity: 0;
  transition: 0.6s ease;
  object-fit: contain;
}
/* .coins-vert-large {
  width: 150px;
  height: 150px;
  right: -60px;
  z-index: -5;
  opacity: 0;
  transition: 0.6s ease;
  object-fit: contain;
  background-image: url("../../../../../assets/img/family-interview/coins-vert-large.png");
  background-position-x: 0px;
  animation: coins-vert-large 4s steps(99) 1;
} */
@keyframes coins-vert-large {
  0% {
    transform: translateX(0%);
    background-position-x: 13860px;
  }
  100% {
    transform: translateX(0%);
    background-position-x: 0px;
  }
}
.coins-family {
  align-self: center;
  width: 150px;
  height: 150px;
  transform: scale(0.6) translateY(0%) translateX(15%);
  background-image: url("../../../../../assets/img/family-interview/coins-vert.png");
  background-position: 400px;
  filter: grayscale(1);
}
.coins-family.success {
  filter: grayscale(0);
}
.coins-success {
  align-self: center;
  width: 150px;
  height: 150px;
  transform: scale(0.6) translateY(0%) translateX(15%);
  background-image: url("../../../../../assets/img/family-interview/coins-vert.png");
  background-position: 400px;
}
.coins-vert-moving {
  align-self: center;
  width: 150px;
  height: 150px;
  background-image: url("../../../../../assets/img/family-interview/coins-vert.png");
  background-position: 400px;
  animation: coins-vert-moving 4s steps(73) 1;
  /* filter: grayscale(0); */
}
@keyframes coins-vert-moving {
  0% {
    opacity: 0;
    transform: scale(0.6) translateX(-150%);
    background-position: 10293px;
  }
  79% {
    opacity: 0;
    transform: scale(0.6) translateX(-150%);
    background-position: 10293px;
  }
  80% {
    opacity: 0;
    transform: scale(0.6) translateX(0%);
    background-position: 10293px;
  }
  100% {
    opacity: 1;
    transform: scale(0.6) translateX(0%);
    background-position: 0;
  }
}
.showBigCoins {
  width: 110px;
  height: 170px;
  background-image: url("../../../../../assets/img/family-interview/coins-vert-large.png");
  background-position-x: 100px;
  animation: coins-vert-large 4s steps(99) 1;
  transform: translateX(40px);
  z-index: 5;
  opacity: 1;
  position: absolute;
  top: -20px;
  right: 0px;
}
/* //!NUMBER */
.task-number {
  height: 100%;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  transition: 0.6s ease;
}
.task-number .number {
  z-index: 1;
  width: 75%;
  padding-top: 75%;
  border-radius: 50%;
  background-color: lightgray;
  transition: 0.5s ease-in-out;
  position: relative;
}
.task-number .number span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bolder;
  font-size: 1.3em;
}
.task-number .number div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #fff;
}
.task-number.success > .number {
  background-color: #ffde3b;
}

.task-number.success .number div {
  background-color: #ffde3b;
}
.task-number.time .number div {
  background-color: #71c9e4;
}

.task-number .number div > img {
  width: 70%;
  height: auto;
  filter: invert(1);
}
.top-line {
  position: absolute;
  height: 100%;
  width: 3px;
  background: lightgray;
  z-index: 0;
  top: -50%;
  transition: 0.5s ease-in-out;
}
.top-line::before {
  display: block;
  content: "";
  height: 0;
  width: 3px;
  top: 0;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

.task-number.success .top-line::before {
  background: #ffde3b;
  height: 100%;
}
.task-number.time .top-line::before {
  background: #71c9e4;
  height: 100%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .wrap-pick-members {
    width: 50%;
    /* height: 850px; */
    /* max-height: 500px; */
    max-width: 358px;
    display: flex;
    flex-flow: column;
    margin: auto;
    margin-top: 100px;
  }
}
</style>