<template>
  <div
    class="question-row opacity-zero"
    :class="{ disable: question.disable, 'open-row': open }"
  >
    <div class="question-number" :class="{ success: question.success }">
      <div class="top-line" :class="extend" v-if="question.id != 1"></div>
      <div class="number">
        <span>{{ question.id }}</span>
      </div>
    </div>
    <div
      class="question-card"
      :class="{
        invert: invert,
        open: open,
        success: question.success,
      }"
    >
      <img
        :src="require(`@/assets/img/pictures/${question.img}.png`)"
        alt="img"
        class="card-img"
      />
      <p class="card-text">
        {{ question.text }}
      </p>
      <button class="sound-btn" @click="$emit('sound', question.id)">
        <img src="@/assets/img/icons/sound.svg" alt="volume" />
      </button>
      <button class="arrow-btn" :class="{ open: open }" @click="openCard">
        <img src="@/assets/img/icons/right-arrow.svg" alt="arrow" />
      </button>
    </div>
    <div
      class="question-answer opacity-anim-card"
      :class="{ open: open, record: record, wide: !imageLoaded }"
    >
      <div
        class="sound-road"
        :class="`${record && 'record'} sound-road${question.id}`"
        :ref="`road${question.number}`"
      ></div>
      <div
        class="record-block"
        :class="{
          record,
          save: (imgSrc || record || isRecorded) && !loading,
          loading: loading,
        }"
      >
        <input
          type="file"
          accept="image/*"
          style="display: none"
          ref="input"
          @click="loading = true"
          @change="loadImg()"
        />
        <button
          v-show="!record && !isRecorded"
          class="img-btn"
          :class="{ loadingImg: loading }"
          :ref="'img' + question.number"
          @click="handleLoading()"
        >
          <img
            v-show="!imgSrc"
            src="@/assets/img/icons/upload.png"
            alt="upload"
          />
          <transition name="pick">
            <img
              class="loaded"
              v-show="imgSrc"
              src="@/assets/img/pictures/loaded.svg"
              alt="success"
            />
          </transition>
        </button>

        <button
          class="record-btn"
          v-show="!loading"
          :class="{
            record: record,
            voice: isRecorded,
            'disabled-record': !imageLoaded,
          }"
          @click="recordSound"
          :id="`start${question.id}`"
        >
          <img
            :class="{ 'success-img': isRecorded }"
            :src="
              !record && !isRecorded
                ? require('@/assets/img/icons/voice-big.png')
                : !record && isRecorded
                ? require('@/assets/img/icons/voice-success.svg')
                : require('@/assets/img/icons/voice-big.png')
            "
            alt="record"
          />
        </button>
        <button
          v-if="isRecorded && !record"
          class="record-listen-btn"
          @click="audioPlay"
        >
          <img
            src="@/assets/img/icons/play-button-arrowhead.svg"
            alt="listen"
          />
        </button>
        <button
          v-if="isRecorded && !record"
          class="record-delete-btn"
          @click="audioDelete"
        >
          <img src="@/assets/img/icons/delete.svg" alt="delete" />
        </button>
        <button v-if="imgSrc" class="record-delete-btn" @click="imgDelete">
          <img src="@/assets/img/icons/delete.svg" alt="delete" />
        </button>
      </div>

      <button class="close-btn ipad-none" @click="openCard">
        <img src="@/assets/img/BusinessPractice/icons/close-elem.png" />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Question",
  data() {
    return {
      record: false,
      mediaRecorder: null,
      voice: new Audio(),
      wave: null,
      imageLoaded: false,
      isRecorded: false,
      filesToServer: [],
      file: "",
      imgSrc: "",
      imgIsLoading: false,
      loading: false,
    };
  },
  props: {
    question: Object,
    invert: Boolean,
    clear: Boolean,
    open: Boolean,
    extend: String,
    serverFile: {
      type: String,
      default: "",
    },
  },
  watch: {
    clear() {
      this.$refs["img" + this.question.number].style.backgroundImage = "none";
      this.$emit("open", false, this.question.id);
      this.record = false;
      this.mediaRecorder = null;
      this.voice = new Audio();
      this.wave = null;
      this.imageLoaded = false;
      this.isRecorded = false;
      this.filesToServer = [];
      this.file = "";
      this.imgSrc = "";
      this.imgIsLoading = false;
      this.loading = false;
    },
    serverFile: {
      handler(newFile) {
        if (newFile) {
          let splitExt = newFile.split("/");
          let ext = splitExt[newFile.split("/").length - 1].split(".")[1];
          if (ext == "wav") {
            this.voice.src = newFile;
            this.isRecorded = true;
          } else {
            this.imgSrc = newFile;
            this.imgIsLoading = true;
            this.imageLoaded = true;
            this.loading = true;
            this.$refs["img" + this.question.number].style.backgroundImage =
              "url(" + newFile + ")";
          }
          this.$emit("success", true, this.question.id, null);
        }
      },
    },
  },
  methods: {
    openCard() {
      if (!this.record) {
        this.$emit("open", !this.open, this.question.id);
      }
    },
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    handleLoading() {
      this.$refs.input.click();
      this.imgIsLoading = true;
    },
    async soundRoad() {
      let stream = await navigator.mediaDevices.getUserMedia({
        audio: true,
      });
      if (stream) {
        this.mediaRecorder = new MediaRecorder(stream);
        let voice = [];
        // ***************
        // *ondataavailable
        // ***************
        this.mediaRecorder.ondataavailable = (e) => {
          voice.push(e.data);
        };
        // ***************
        // *ONSTOP
        // ***************
        this.mediaRecorder.onstop = () => {
          let blob = new Blob(voice, {
            type: "audio/wav",
          });
          this.voice.src = window.URL.createObjectURL(blob);
          this.isRecorded = true;
          stream.getTracks().forEach(function (track) {
            track.stop();
          });
          let strokes = document.querySelectorAll(".stroke");
          strokes.forEach((stroke) => {
            stroke.remove();
          });
          this.$emit("success", true, this.question.id, blob);
          setTimeout(() => this.$emit("open", false, this.question.id), 1000);
        };
        // ***************

        this.mediaRecorder.start();
        let context = new AudioContext();
        let analyser = context.createAnalyser();
        let src = context.createMediaStreamSource(stream);
        src.connect(analyser);
        for (let i = 0; i < 100; i++) {
          let stroke = document.createElement("div");
          stroke.className = "stroke";
          stroke.style.background = "white";
          stroke.style.minWidth = "0.8%";
          this.$refs[`road${this.question.number}`].appendChild(stroke);
        }
        let strokes = document.querySelectorAll(".stroke");
        let loop = () => {
          if (this.mediaRecorder.state == "recording") {
            window.requestAnimationFrame(loop);
            let array = new Uint8Array(200);
            analyser.getByteFrequencyData(array);
            for (var i = 0; i < 100; i++) {
              let height = array[i + 100];
              strokes[i].style.minHeight = height + "%";
            }
          }
        };
        loop();
      }
    },
    loadImg() {
      this.file = this.$refs["input"].files[0];
      let reader = new FileReader();
      reader.addEventListener(
        "load",
        function () {
          this.imgSrc = reader.result;

          this.$refs["img" + this.question.number].style.backgroundImage =
            "url(" + this.imgSrc + ")";
        }.bind(this),
        false
      );
      if (this.file) {
        if (/\.(jpe?g|png|gif)$/i.test(this.file.name)) {
          reader.readAsDataURL(this.file);
        }
      }
      this.$emit("success", true, this.question.id, this.file);
      setTimeout(() => this.$emit("open", false, this.question.id), 1000);
    },
    async recordSound() {
      if (!this.record) {
        this.record = true;
        this.soundRoad();
      } else {
        this.record = false;
        await this.mediaRecorder.stop();
      }
    },
    audioPlay() {
      this.voice.play();
    },
    audioDelete() {
      this.voice.src = "";
      this.isRecorded = false;
      this.$emit("success", false, this.question.id, null);
    },
    imgDelete() {
      this.$refs["img" + this.question.number].style.backgroundImage = "none";
      this.$emit("success", false, this.question.id, null);
      this.record = false;
      this.mediaRecorder = null;
      this.voice = new Audio();
      this.wave = null;
      this.imageLoaded = false;
      this.isRecorded = false;
      this.filesToServer = [];
      this.file = "";
      this.imgSrc = "";
      this.imgIsLoading = false;
      this.loading = false;
    },
  },
};
</script>

<style scoped>
.question-row {
  height: 125px;
  width: 100%;
  transition: 0.5s ease;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.question-row.disable {
  pointer-events: none;
  color: gray;
}
.question-row.disable .question-card {
  background: rgb(250, 250, 250);
}
.question-row.disable .sound-btn,
.question-row.disable .arrow-btn {
  opacity: 0.5;
}
.question-number {
  height: 100%;
  margin-right: 25px;
  width: 50.1px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.question-number .number {
  z-index: 1;
  width: 70%;
  padding-top: 70%;
  border-radius: 50%;
  background-color: lightgray;
  transition: 0.5s ease-in-out;

  position: relative;
}
.question-number.success > .number {
  background: #ffde3b;
}
.question-number .number span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bolder;
  font-size: 1.3em;
}
.top-line {
  position: absolute;
  height: 100%;
  width: 3px;
  background: lightgray;
  z-index: 0;
  top: -50%;
  transition: 0.5s ease-in-out;
}
.top-line::before {
  display: block;
  background: #ffde3b;
  content: "";
  height: 0;
  width: 3px;
  top: 0;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

.question-number.success .top-line::before {
  height: 100%;
}

.question-card {
  background: #fff;
  border: 1px solid lightgray;
  width: 470px;
  height: 110px;
  border-radius: 25px;
  padding: 0 2%;
  display: flex;
  transition: 0.5s ease-in-out;
  position: relative;
  z-index: 10;
}
.question-card.invert {
  flex-flow: row-reverse nowrap;
}
.question-card.open {
  width: 490px;
  box-shadow: 0px 0 15px rgb(0 0 0 / 20%);
}
.question-card.success {
  background: #ffde3b;
}

.question-card > img {
  height: 90%;
  flex: 0 0 25%;
  top: 0;
  left: 0;
  object-fit: contain;
  margin: auto 3% auto 0%;
}
.invert > img {
  margin-right: 10%;
  margin-left: 0%;
  margin: auto;
}
.question-card p {
  width: 80%;

  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-start;
}

.question-card.invert p {
  align-items: flex-start;
  width: 60%;
}
.sound-btn,
.arrow-btn {
  position: absolute;
  right: 3%;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.sound-btn > img {
  width: 60%;
  height: 60%;
  object-fit: contain;
}
.arrow-btn > img {
  width: 60%;
  height: 100%;
  object-fit: contain;
}
.sound-btn {
  top: 5%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.arrow-btn {
  bottom: 5%;
}
.arrow-btn.open {
  transform: rotate3d(0, 1, 0, 180deg);
}
.question-answer {
  height: 110px;
  width: 370px;
  background: #f3f3f3;
  border-radius: 1rem;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;
  padding-left: 0%;
  transform: translateX(-100%) scaleX(0.1) scaleY(0.1);
}
.question-answer.open {
  border-radius: 0 15px 15px 0;
  transform: translateX(-10%) scaleX(0.9);
}
.question-answer.record {
  transform: translateX(-5%);
  width: 395px !important;
}
.question-answer.wide {
  width: 520px;
}

.sound-road {
  height: 80%;
  background: skyblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  padding: 0 2%;
  width: 20%;
  opacity: 0;
}
.sound-road.record {
  transform: translateX(10px);
  width: 100%;

  opacity: 1;
  border-radius: 15px 0 0 15px;
}
.sound-road > span {
  width: 0.5%;
  height: 5%;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s ease;
}
.sound-road > span.record {
  width: 0.5%;

  height: 65%;
  animation: animate 0.7s linear infinite;
}
.success-img {
  height: 20px !important;
  width: 25px !important;
  filter: unset !important;
}
/* кнопка загрузки изображений */

/* .file-loader.load > button {
  background-size: cover;
  background-position: center;
}
.file-loader > button.disable {
  pointer-events: none;
  border: 2px dashed lightgray;
  box-shadow: none;
  background: none;
  color: #000;
}
.file-loader > button:hover {
  box-shadow: 0 0 10px rgba(133, 133, 133, 0.5);
  color: #000;
}
.file-loader > button > img {
  width: 50%;
  height: auto;
  margin: auto;
} */

@keyframes animate {
  50% {
    height: 10%;
  }
  100% {
    height: 50%;
  }
}

.record-block {
  height: 100%;
  width: 50%;
  display: flex;
  border-radius: 15px;
  border: 3px dashed lightgray;
  align-items: center;
  justify-content: flex-end;
  position: relative;
}

.record-block.save {
  border: none;
}

.record-block.loading {
  border: none !important;
  margin-right: 15px;
}

.record-btn,
.img-btn {
  height: 100%;
  background: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 50%;
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  transition: 0.5s ease;
  position: relative;
  z-index: 4;
}
.img-btn {
  background-size: contain;
  background-position: center;
}
.img-btn .loaded {
  filter: brightness(1.5);
  height: 43px !important;
  width: 48px !important;
}
.record-btn:hover,
.img-btn:hover {
  transform: scale(1.07);
  background-color: #fff;
}
.loadingImg {
  width: 110px !important;
  height: 90px !important;
  transform: scale(1.07);
  background-color: #fff;
  box-shadow: 0px 0px 15px #00000015;
}
.record-block.record {
  width: 30%;
}
.record-btn.record {
  width: 110px;
  height: 95px;
  margin: 0;
  background: #ffde3b;
}
.record-btn.voice {
  background: #ffde3b;
  pointer-events: none;
}
.record-btn > img,
.img-btn > img {
  height: 31px;
  width: auto;
  object-fit: contain;
  opacity: 0.6;
  transition: 0.5s ease;
  filter: brightness(2) invert(0.7);
}
.record-btn.record > img {
  filter: brightness(2) invert(0);
}
.record-listen-btn,
.record-delete-btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: 0.5s ease;
  z-index: 10;
}
.record-listen-btn {
  right: 44%;
  bottom: -5%;
}
.record-delete-btn {
  right: -2%;
  bottom: -3%;
}
.record-delete-btn > img {
  filter: invert(1);
}
.record-listen-btn:hover,
.record-delete-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.record-listen-btn > img,
.record-delete-btn > img {
  width: 100%;
  height: auto;
  transform: scale(0.5);
}
.record-listen-btn > img {
  filter: invert(1);
}
.close-btn {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background: none;
  z-index: 1000;
}
.close-btn img {
  width: 100%;
  height: 100%;
  opacity: 1;
}
#canvas {
  z-index: 9999999;
}
.question-card.invert p {
  align-items: flex-start;
}
.question-card.invert {
  flex-flow: row-reverse nowrap;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .question-card.open {
    width: 470px;
    box-shadow: 0px 0 15px rgb(0 0 0 / 20%);
  }
  .question-row {
    width: 1050px;
    align-items: flex-start;
  }
  .arrow-btn {
    transform: rotate(90deg);
  }
  .arrow-btn.open {
    transform: rotate(-90deg);
  }
  .open-row {
    height: 250px;
  }
  .question-answer,
  .question-answer.wide {
    height: 100px;
    width: 50px;
    transform: translateX(-150%);
  }
  .question-answer.open {
    border-radius: 25px;
    padding-right: 15px;
    width: 470px;
    height: 150px;
    padding-top: 45px;
    padding-bottom: 10px;
    transform: translateX(-100%) translateY(55%);
  }
  .record-listen-btn {
    right: 40% !important;
    bottom: -3% !important;
  }
  .record-btn {
    width: 110px;
  }
  .sound-road.record {
    width: 90%;
    margin-left: 2%;
    opacity: 1;
    border-radius: 15px 0 0 15px;
  }

  .ipad-none {
    display: none;
  }
  .top-line.big {
    height: 150%;
    top: -100%;
  }
  .top-line.small {
    height: 75%;
    top: -25%;
  }
}

/* @media (max-width: 1281px) {
  .question-row {
    height: 100px;
  }
  .question-card {
    width: 370px;
    height: 90px;
    border-radius: 1rem;
  }
  .question-card p {
    font-size: 0.9rem;
  }
  .question-card.open {
    width: 400px;
  }
  .question-answer {
    height: 85px;
    width: 315px;
    border-radius: 1rem;
  }
  .question-answer.record {
    transform: translateX(-5%);
    width: 315px;
  }
  .question-answer.wide {
    width: 450px;
  }
  .record-btn {
    width: 85px;
  }
  .file-loader {
    width: 85px;
  }
}
@media (max-width: 1051px) {
  .question-number .number {
    width: 50%;
    padding-top: 50%;
  }
  .question-number .number span {
    font-size: 0.8rem;
  }
  .question-row {
    height: 90px;
  }
  .question-card {
    width: 330px;
    height: 80px;
    border-radius: 1rem;
  }
  .question-card p {
    font-size: 0.8rem;
  }
  .question-card.open {
    width: 350px;
  }
  .question-answer {
    height: 70px;
    width: 260px;
    border-radius: 1rem;
  }
  .question-answer.record {
    transform: translateX(-5%);
    width: 260px;
  }
  .question-answer.wide {
    width: 370px;
  }
  .record-btn {
    width: 70px;
  }
  .file-loader {
    width: 70px;
  }
}
@media (max-width: 850px) {
  .question-row {
    height: 75px;
  }
  .question-card {
    width: 250px;
    height: 65px;
    border-radius: 1rem;
  }
  .question-card p {
    font-size: 0.6rem;
  }
  .question-card.open {
    width: 270px;
  }
  .question-answer {
    height: 60px;
    width: 210px;
    border-radius: 1rem;
  }
  .question-answer.record {
    transform: translateX(-5%);
    width: 210px;
  }
  .question-answer.wide {
    width: 300px;
  }
  .record-btn {
    width: 60px;
  }
  .file-loader {
    width: 60px;
  }
} */
</style>