.shadow-body {
  box-shadow: 0px 200px 150px #00000010;
}
.shadow-block {
  box-shadow: 0px 0 50px #0000002b;
}
.yellow-bg {
  background-color: #ffde3b !important;
  transition: 0.7s;
}
.white-bg {
  background-color: #ffffff !important;
}
.blue-bg {
  background-color: #71c9e4 !important;
}
.green-bg {
  background-color: #99ceac !important;
  transition: 0.6s;
}
.border-body {
  border-top: none !important;
}
.borderfull {
  border-radius: 100px;
}

.background-page-8 {
  background: url("../../img/page-8-anim/background-page-8.png") no-repeat
    bottom left;
  background-size: 50%;
}

.background-page-12 {
  background: url("../../img/page-12-anim/background-page-12.png") no-repeat
    bottom left;
  background-size: 50%;
  transition: 0.7s;
}

.background-page-15 {
  background: url("../../img/page-17-anim/background.png") no-repeat bottom left;
  background-size: 50%;
  transition: 0.7s;
}

.background-page-19 {
  background: url("../../img/tale_charapters/wrap-dust.png") no-repeat,
    url("../../img/tale_charapters/farmer.png") no-repeat,
    url("../../img/tale_charapters/documents.png") no-repeat;

  background-size: 9%, 11%, 11%;
  background-position-y: 0%, 25%, 91%;
  background-position-x: 40%, 19%, 77%;
}
.background-page-21 {
  background: url("../../img/page-35-game/bg-game.png") no-repeat bottom left;
  background-size: contain;
}

.not-active {
  background-color: #eeeeee;
  border: 2px solid #feeeee;
  transition: 0.7s;
}

.idea-bg {
  background: url("../../img/page-11/idea.png") no-repeat bottom;
  background-size: contain;
  transition: 0.7s;
}
.route-bg {
  background: url("../../img/page-11/check.png") no-repeat bottom;
  background-size: contain;
  transition: 0.7s;
}
.book-bg {
  background: url("../../img/page-11/house.png") no-repeat bottom;
  background-size: contain;
  transition: 0.7s;
}
.genious-bg {
  background: url("../../img/page-11/genious.png") no-repeat bottom;
  background-size: contain;
  transition: 0.7s;
}

.card-task-background1 {
  background: url("../../img/task-map/read-fox-story.png") no-repeat right;
  background-size: 55%;
  background-position-y: 100%;
}
.card-task-background2 {
  background: url("../../img/task-map/fox-story.png") no-repeat right;
  background-size: 45%;
  background-position-y: 100%;
}
.card-task-background3 {
  background: url("../../img/task-map/family-interview.png") no-repeat bottom;
  background-size: 50%;
  background-position-x: 92%;
}

.card-task-background4 {
  background: url("../../img/task-map/creative-project.png") no-repeat right;
  background-size: 43%;
  background-position-y: 100%;
}
.card-task-background5 {
  background: url("../../img/task-map/communication-club.png") no-repeat right;
  background-size: 40%;
  background-position-y: 100%;
}
.card-task-background6 {
  background: url("../../img/task-map/logic-club.png") no-repeat bottom;
  background-size: 55%;
  background-position-x: 92%;
}

.card-task-background7 {
  background: url("../../img/task-map/fox-exchange.png") no-repeat right;
  background-size: 42%;
  background-position-y: 100%;
}
.card-task-background8 {
  background: url("../../img/task-map/business-vocabulary.png") no-repeat;
  background-size: 40%;
  background-position-y: 100%;
  background-position-x: 88%;
}
.card-task-background9 {
  background: url("../../img/task-map/presentation-guide.png") no-repeat bottom;
  background-size: 40%;
  background-position-x: 92%;
}

.card-task-background10 {
  background: url("../../img/task-map/fox-teamwork.png") no-repeat right;
  background-size: 45%;
  background-position-y: 100%;
}
.card-task-background11 {
  background: url("../../img/task-map/relax.png") no-repeat;
  background-size: 43%;
  background-position-y: 100%;
  background-position-x: 92%;
}
.card-task-background12 {
  background: url("../../img/task-map/career-guidance.png") no-repeat bottom;
  background-size: 30%;
  background-position-x: 92%;
}

.card-task-background13 {
  background: url("../../img/task-map/creative-club.png") no-repeat;
  background-size: 32%;
  background-position-y: 100%;
  background-position-x: 92%;
}
.card-task-background14 {
  background: url("../../img/task-map/soft-skills.png") no-repeat;
  background-size: 35%;
  background-position-y: 100%;
  background-position-x: 82%;
}
.card-task-background15 {
  background: url("../../img/task-map/lets-talk.png") no-repeat bottom;
  background-size: 47%;
  background-position-x: 92%;
}

.mother-bg {
  background: url("../../img/fox-story/mother.png") no-repeat center bottom;
  background-size: 65%;
}
.parents-bg {
  background: url("../../img/fox-story/parent.png") no-repeat center bottom;
  background-size: 80%;
}
.look-out-bg {
  background: url("../../img/fox-story/look-out.png") no-repeat center bottom;
  background-size: contain;
}
.friends-bg {
  background: url("../../img/fox-story/friends.png") no-repeat center bottom;
  background-size: contain;
}
.plants-bg {
  background: url("../../img/fox-story/plants.png") no-repeat center bottom;
  background-size: 70%;
}
.numbers-col-bg {
  background: url("../../img/fox-story/numbers-line.png") no-repeat center;
  background-size: 2.2%;
  background-origin: padding-box;
}
.numbers-col-bg1 {
  background: url("../../img/fox-story/numbers-line.png") no-repeat center;
  background-size: 2.2%;
  background-origin: padding-box;
  background-position-x: 71%;
}
.vacuum-cleaner-bg {
  background: url("../../img/pictures/dust-sucker.png") no-repeat;
  background-size: 31%;
  background-position-x: 88%;
  background-position-y: 80%;
}
.dishwashing-bg {
  background: url("../../img/pictures/dishwashing.png") no-repeat;
  background-size: 20%;
  background-position-x: 10%;
  background-position-y: 90%;
}

.hw-flowers-bg {
  background: url("../../img/tale_charapters/water-grass.png") no-repeat;
  background-size: 90%;
  background-position-x: 10%;
  background-position-y: 60%;
}
.hw-dust-bg {
  background: url("../../img/tale_charapters/wrap-dust.png") no-repeat;
  background-size: 90%;
  background-position-x: 10%;
  background-position-y: 70%;
}
.hw-toys-bg {
  background: url("../../img/tale_charapters/tidy-toys.png") no-repeat;
  background-size: 85%;
  background-position-x: 10%;
  background-position-y: 50%;
}
.hw-help-bg {
  background: url("../../img/tale_charapters/help-with-serve.png") no-repeat;
  background-size: 85%;
  background-position-x: 10%;
  background-position-y: 50%;
}
.hw-preparing-bg {
  background: url("../../img/tale_charapters/preparing.png") no-repeat;
  background-size: 95%;
  background-position-x: 10%;
  background-position-y: 50%;
}

.lt-business-idea {
  background: url("../../img/lets-talk/business-idea.png") no-repeat left top;
  background-size: contain;
}
.lt-new-knowledge {
  background: url("../../img/lets-talk/new-knowledge.png") no-repeat left top;
  background-size: 90%;
}
.lt-share {
  background: url("../../img/lets-talk/share.png") no-repeat left top;
  background-size: contain;
}
.lt-add-new {
  background: url("../../img/lets-talk/add-new.png") no-repeat left top;
  background-size: contain;
}

@media (min-width: 1441px) and (min-height: 900px) {
  .background-page-8 {
    background-size: 55%;
  }

  .background-page-12 {
    background-size: 55%;
  }

  .background-page-15 {
    background-size: 55%;
  }
}
