/*** CSS RESET ***/
* { margin: 0; padding: 0; }
p { margin: 0; }
html,
body, #app{
   width:100%;
}
.fade-enter-active, .fade-leave-active {
   transition: opacity .5s;
}
 .fade-enter, .fade-leave-to{
   opacity: 0;
}
button:active, button:focus {
   outline: none;
}
button::-moz-focus-inner {
   border: 0;
}
.form-control, .form-control::placeholder{
   transition: 0.2s linear;
}
.form-control:focus::placeholder, .form-control:hover::placeholder {
   color: #000000;
}
.form-control:focus{
   border-color: #000000;
}
img { pointer-events: none; }
li, ul{
   list-style-type: none;
}
.hooper:focus, .hooper-track{
   outline: none;
}
.hooper-track{
   border:none;
}
.hooper, .hooper:active, .hooper:hover, .hooper:focus, 
.hoopercss, .hoopercss:active, .hoopercss:hover, .hoopercss:focus
.hooper-list, .hooper-list:active, .hooper-list:hover, .hooper-list:focus
{
   border: none!important;
}
.btn{
   border-radius: 0px;
}
.btn:focus, .btn:active {
   outline: none !important;
   box-shadow: none !important;
}
.btn:focus, .btn:active {
   outline: none !important;
   box-shadow: none !important;
}
button::-moz-focus-inner {
   border: 0;
}
.hooper{
   height: 100%!important;
}
.hooper:focus, .hooper-track{
   outline: none;
}
.hooper-track{
   border:none;
}
a:hover{
   text-decoration: none;
}
li, ul{
   list-style-type: none;
}