<template>
  <section id="dataBranch" class="animate__animated animate__fadeIn no-select">
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row no-select">
        <div class="col pt-4 my-auto">
          <p class="header-admin m-0">Мои данные</p>
        </div>
      </div>
    </div>
    <div
      class="contaiter-fluid flex-container agent-container mx-3 mr-4 pl-4"
      style="margin-bottom: 70px; margin-top: 30px; height: 680px"
    >
      <hr class="invisible" />

      <div class="row mt-2 pt-4 pb-3">
        <div class="col"><h6>Личные данные</h6></div>
      </div>

      <form id="formGroup" class="row">
        <div class="col-4 admin-inputs">
          <input
            name="name"
            v-model="branchGroup.name"
            placeholder="Наименование"
            class="mb-3"
          />
          <input
            name="email"
            @input="setEmail($event.target.value)"
            v-model="branchGroup.email"
            placeholder="Email"
            :class="{
              invalid:
                ($v.branchGroup.email.$dirty && !$v.branchGroup.email.email) ||
                ($v.branchGroup.email.$dirty &&
                  !$v.branchGroup.email.minLength),
            }"
          />
        </div>

        <div class="col-4 admin-inputs">
          <input
            name="region"
            v-model="branchGroup.region"
            placeholder="Регион"
            class="mb-3"
          />
          <input
            name="director"
            v-model="branchGroup.director"
            placeholder="Директор (ФИО)"
          />
        </div>
      </form>

      <div class="row mt-4 mb-3">
        <div class="col"><h6>Изменить документы</h6></div>
      </div>
      <div class="row">
        <agent-file-load
          v-for="file in files"
          :key="file.id"
          :title="file.description"
          :file="file.file"
          :path="file.path"
          :fileName="getFileName(file)"
          @change="changeFile"
          class="col pl-0"
          color="#249ddd"
          style="max-width: 30%"
        >
        </agent-file-load>
      </div>

      <!-- <div class="row">
        <div v-for="file in files" :key="file.id" class="col-4 flex-file-load">
          <p class="file-type">{{ file.description }}</p>
          <input
            type="file"
            style="display: none"
            :ref="`fileUpload${file.id}`"
            @change.prevent="uploadFile(file.id)"
          />
          <button
            @click="handleUpload(file.id.toString())"
            class="modal-file-load file-load text-truncate agent-file-load"
          >
            <p class="cut-text">
              {{ file.file ? file.file.name : "Загрузить(PDF)" }}
            </p>
          </button>
        </div>
      </div> -->

      <div class="row mt-4 pb-4">
        <div class="col-4">
          <input
            type="submit"
            value="Изменить мои данные"
            @click="dataChange"
            class="agent-file-load branch-load"
          />
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { BranchMapper } from "@/store/branch";
import { UserMapper } from "@/store/user";
import { email, required, minLength } from "vuelidate/lib/validators";

import AgentFileLoad from "@/components/ui/UIFileLoad.vue";
export default {
  name: "Data",
  components: {
    AgentFileLoad,
    // ModalConfirmation,
  },
  data() {
    return {
      branchGroup: {
        //  информация филиала
        name: "",
        email: "",
        region: "",
        director: "",
      },
      files: [
        {
          id: 1,
          name: "registrationSertificatePDF",
          description: "Свидетельство о регистрации",
          file: null,
          path: "",
        },
        {
          id: 2,
          name: "accountingSertificatePDF",
          //  description: "Свидетельство о регистрации",
          description: "Свидетельство о поставновке на учет",
          file: null,
          path: "",
        },
        {
          id: 3,
          name: "partnerFormPDF",
          description: "Анкета партнёра",
          file: null,
          path: "",
        },
      ],
    };
  },

  validations: {
    branchGroup: {
      email: { email, required, minLength: minLength(5) },
    },
  },

  methods: {
    ...BranchMapper.mapActions(["postBranchProfile", "patchBranchProfile"]),
    ...UserMapper.mapActions(["patchProfile"]),

    setEmail(value) {
      this.branchGroup.email = value;
      this.$v.branchGroup.email.$touch();
    },
    changeFile(file, name) {
      let fileItem = this.files.find((f) => f.description == name);
      fileItem.file = file;
    },
    getFileName(file) {
      if (file.file) {
        let name = file.file.name;
        return name;
      }
      if (file.path) {
        let name = file.path.split("/")[file.path.split("/").length - 1];
        return name;
      }
      return null;
    },
    // uploadFile(id) {
    //   this.filesBranch[id - 1].file =
    //     this.$refs["fileUpload" + id.toString()][0].files[0];
    // },

    handleUpload(id) {
      document.getElementById(`fileUpload${id}`).click();
    },
    // handleUpload(id) {
    //   this.$refs["fileUpload" + id.toString()][0].click();
    // },

    uploadPDF(id) {
      this.files[id - 1].file = document.getElementById(
        `fileUpload${id}`
      ).files[0];
    },

    toast(title, message, variant) {
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        solid: true,
      });
    },

    async dataChange() {
      console.log({
        email: this.branchGroup.email,
        profile: this.me.email,
      });
      if (this.branchGroup.email != this.me.email) {
        await this.patchProfile({ email: this.branchGroup.email });
      }
      let data = new FormData(document.getElementById("formGroup"));
      data.delete("email");
      this.files.forEach((file) => {
        if (file.file) {
          data.set(file.name, file.file, file.name + ".pdf");
        }
      });

      if (this.dataIsGet) {
        await this.files.forEach((item) => {
          if (item.path && !item.file) {
            data.delete(item.name);
          }
        });
        await this.patchBranchProfile(data);
      } else {
        await this.postBranchProfile(data);
      }
      if (!this.error) {
        this.toast(
          "Изменения приняты",
          "Данные о профиле успешно изменены",
          "success"
        );
      } else {
        let errors = Object.entries(this.error);
        errors.forEach((err) => {
          this.toast("Ошибка", err[1], "danger");
        });
      }
    },
  },
  computed: {
    ...BranchMapper.mapState(["error", "branchProfile"]),
    ...UserMapper.mapState(["me"]),
    disabled() {
      const fill = Object.entries(this.branchGroup)
        .filter((i) => ![false, "", null].includes(i[1]))
        .filter(
          (i) =>
            ![
              "registrationSertificatePDF",
              "accountingSertificatePDF",
              "partnerFormPDF",
              "id",
            ].includes(i[0])
        );
      const fileFill = this.files.filter((i) => i.file || i.path);
      return fill.length < 4 || fileFill.length < 3;
    },
    // ...BranchMapper.mapState(["error", "branchProfile"]),
    // ...UserMapper.mapState(["me"]),
    dataIsGet() {
      return Object.values(this.branchProfile).length ? true : false;
    },
  },
  mounted() {
    if (this.branchProfile) {
      let { name, region, director } = this.branchProfile;
      this.branchGroup = {
        name,
        region,
        director,
      };
      this.files[0].path = this.branchProfile.registrationSertificatePDF;
      this.files[1].path = this.branchProfile.accountingSertificatePDF;
      this.files[2].path = this.branchProfile.partnerFormPDF;
    }
    this.branchGroup.email = this.me.email;
  },
};
</script>

<style scoped>
.invalid {
  border: 1px solid red !important;
}

.admin-inputs > input {
  background: #fefefe;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 5px;

  padding: 0.5vh 3%;
  transition: 0.5s ease;
  margin-bottom: 1.5vh;
  margin-top: 0;
  font-size: 0.8rem;
  width: 90%;
}
.admin-inputs > input:hover {
  border: 1px solid lightgray;
}
.admin-inputs > input:focus {
  border: 1px solid lightgray;
  outline: none;
}

/* .agent-file-load {
  padding: 3% 7%;
  background: #efefef;
  border: 1px solid #626262;
  border-radius: 50px;
  color: #626262;
  transition: 0.5s ease;
}
.agent-file-load:hover {
  border: 1px solid #000000;
  box-shadow: 0px 0px 5px rgba(15, 15, 15, 0.282);
} */
/* .agent-file-load:focus {
  color: #000000;
  border: 1px solid #000000;
} */

.disabled {
  pointer-events: none;
  color: #949191;
  border: 1px solid #ffffff !important;
  background-color: lightgray !important;
}

.branch-file {
  padding: 1%;
  width: 140px;
  height: 30px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  font-size: 14px;
  border: 1.5px solid #249ddd;
  box-sizing: border-box;
  border-radius: 56px;
}
.branch-load {
  background: #249ddd;
  padding: 0;
  border-radius: 25px;
  width: 200px;
  height: 35px;
  color: #fefefe;
}
.file-branch-type {
  color: #6c6c6c;
  font-size: 1rem;
  font-weight: 500;
}
.header-admin {
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: 37px;
}
h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.flex-container,
.flex-file {
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
}
.flex-file-load {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
</style>