<template>
  <section id="buh-admin-page">
    <div
      class="
        container-fluid
        p-0
        full-height-container
        animate__animated animate__fadeIn
      "
    >
      <Header @logout="logOut" :user="me" />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel :items="sidePanelItems" @logout="logOut" />
        <div
          class="col-md p-0"
          style="height: calc(100vh - 60px); overflow-y: auto"
        >
          <router-view></router-view>
        </div>
      </div>
      <!-- <ModalConfirmation /> -->
    </div>
  </section>
</template>

<script>
import Header from "@/components/main/header/Header.vue";
import SidePanel from "@/components/main/SidePanel.vue";
import { UserMapper } from "@/store/user";

// import ModalConfirmation from "@/views/modalConfirmation.vue";

export default {
  name: "BuhAdmin",
  components: {
    Header,
    SidePanel,
    // ModalConfirmation,
  },
  data() {
    return {
      sidePanelItems: [
        {
          id: 0,
          //   img: "my_account.png",
          linkName: "buhadmin-agents-table",
          text: "Агенты",
          exact: true,
          // hide: true,
        },
        {
          id: 1,
          //   img: "MDclub.png",
          linkName: "buhadmin-franchisee-table",
          text: "Фрайнчайзи",
          disabled: true,
        },
        {
          id: 2,
          //   img: "my_profile.png",
          linkName: "buhadmin-children-table",
          text: "Дети",
        },
        {
          id: 3,
          //   img: "my_profile.png",
          linkName: "buhadmin-mentors-table",
          text: "Менторы",
        },
      ],
    };
  },
  computed: {
    ...UserMapper.mapState(["error", "me"]),
  },
  methods: {
    ...UserMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "main-login" });
      } else {
        this.errorToast(this.error);
      }
    },
  },
};
</script>

<style>
.btn-buhadmin-round {
  border-radius: 25px;
  background: #9276e400;
  border: 1.5px solid #9276e4;
  transition: 0.5s ease;
  padding: 0;
  font-size: 14px;
  color: #2b2a29;
}
.btn-buhadmin-round:hover {
  background: #9276e4;
  border: 1.5px solid #9276e4;
  box-shadow: 0px 0px 15px #00000030;
  color: #fefefe;
}
.btn-buhadmin-round:active {
  transform: scale(1.05);
}
.btn-act {
  padding-top: 0;
  padding-bottom: 0;
  background: #9276e4;
  border-radius: 3px;
  height: 30px;
  border: none;
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;

  transition: 0.5s ease;
}
.btn-act:hover {
  box-shadow: 0px 0px 15px #9276e430;
  border: none;
}
.btn-act:acttive {
  transform: scale(1.05);
}
</style>