<template>
  <div class="row w-100">
    <div class="signinup mx-auto">
      <div class="row m-0 align-items-center signinup__header-blue">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <p class="header-text my-auto">Регистрация</p>
        </div>
        <div class="col-2 text-center">
          <a class="white-link" href="#">RU</a>
        </div>
      </div>

      <div class="row m-0 align-items-center signinup__content">
        <div class="col-2"></div>
        <div class="col-8 text-center">
          <form>
            <div class="form-group mt-4 pt-2">
              <input
                type="email"
                class="form-control pl-3"
                placeholder="E-mail"
                v-model="email"
              />
            </div>
            <div class="form-group my-4">
              <input
                type="text"
                class="form-control pl-3"
                v-mask="'+7(###)###-##-##'"
                placeholder="Телефон"
                v-model="phone"
              />
            </div>
            <div v-if="sendCodeShowInput" class="form-group my-4">
              <div class="row align-items-center">
                <div class="col-2 my-auto">
                  <label for="code" class="form__label my-auto">Код:</label>
                </div>
                <div class="col-4 pl-1">
                  <input
                    type="text"
                    class="form-control pl-3"
                    v-mask="'####'"
                    placeholder=""
                    v-model="code"
                  />
                </div>
              </div>
            </div>
            <div v-if="!sendCodeShowInput" class="form-group mt-5">
              <div class="row justify-content-center">
                <div class="col-md-12 text-center justify-content-center">
                  <b-button
                    @click="sendCode()"
                    class="btn form__button"
                    :disabled="sendCodeButtonDisable"
                  >
                    <p class="m-0">Прислать код</p>
                  </b-button>
                </div>
              </div>
            </div>

            <div class="form-group mt-4">
              <div class="row justify-content-center">
                <div class="col-md-12 text-center justify-content-center">
                  <b-button
                    @click="register()"
                    class="btn form__button"
                    :disabled="registerButtonDisabled"
                  >
                    <p class="my-auto">Зарегистрироваться</p>
                  </b-button>
                </div>
              </div>
            </div>
          </form>
          <div class="col-2 text-center"></div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { UserMapper } from "@/store/user";

export default {
  name: "FormRegister",
  props: {
    role: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      email: "",
      phone: "",
      code: "",
      sendCodeShowInput: false,
    };
  },
  computed: {
    ...UserMapper.mapState(["error"]),
    registerForm() {
      return {
        email: this.email,
        phone: this.phone,
        code: this.code,
        role: this.role,
      };
    },
    sendCodeButtonDisable() {
      return this.phone.length < 15;
    },
    registerButtonDisabled() {
      return !(this.email && this.phone && this.code);
    },
  },
  methods: {
    ...UserMapper.mapActions({ sendSms: "sendCode", signUp: "signUp" }),
    async sendCode() {
      console.log(this.phone);
      await this.sendSms({ phone: this.phone });
      if (!this.error) {
        this.toast(
          "Код успешно отправлен",
          "Пожалуйста, проверьте входящие сообщения",
          "success"
        );
        this.sendCodeShowInput = true;
      } else {
        this.toast("Ошибка", this.error.msg, "danger");
      }
    },
    async register() {
      await this.signUp(this.registerForm);
      if (!this.error) {
        this.toast(
          "Вы успешно зарегистрировались",
          "Пароль для входа отправлен на вашу почту",
          "success"
        );
        setTimeout(this.toLogin, 2000);
      } else {
        this.errorToast(this.error);
      }
    },
    toLogin() {
      this.$router.push({ name: "main-login" });
    },
  },
};
</script>

<style>
</style>
