<template>
  <b-modal id="add-branch-modal" hide-footer hide-header centered size="xl">
    <div class="contaiter-fluid modal-container relative-block mt-3 pl-4">
      <button
        @click="$bvModal.hide('add-branch-modal')"
        class="btn-invisible-button absolute-block close-modal-icon"
      >
        <img
          src="@/assets/img/icons/close-icon-afroamerican.png"
          alt=""
          class=""
        />
      </button>
      <hr class="invisible" />
      <p class="modal-label pt-3 pb-4 pl-3">Добавление нового Филиала</p>

      <!-- ввод личной информации по филиалу -->
      <form id="formGroup">
        <div class="row">
          <div class="col-2 my-auto">Наименование:</div>

          <div class="col-6 admin-inputs">
            <input
              v-model="branchInfoGroup.name"
              placeholder="Наименование"
              name="name"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 my-auto">Email:</div>

          <div class="col-6 admin-inputs">
            <input
              @input="setEmail($event.target.value)"
              type="email"
              v-model="branchInfoGroup.email"
              placeholder="Электронный почтовый адрес"
              name="email"
              :class="{
                invalid:
                  ($v.branchInfoGroup.email.$dirty &&
                    !$v.branchInfoGroup.email.email) ||
                  ($v.branchInfoGroup.email.$dirty &&
                    !$v.branchInfoGroup.email.minLength),
              }"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 my-auto">Регион:</div>

          <div class="col-6 admin-inputs">
            <input
              v-model="branchInfoGroup.region"
              placeholder="Регион филиала"
              name="region"
            />
          </div>
        </div>
        <div class="row mt-2">
          <div class="col-2 my-auto">Директор:</div>

          <div class="col-6 admin-inputs">
            <input
              v-model="branchInfoGroup.director"
              placeholder="ФИО Директора филиала"
              name="director
              "
            />
          </div>
        </div>
      </form>
      <!-- ввод информации по филиалу -->
      <!-- загрузка файлов для добавления филиалу -->

      <h6 class="pl-3 mt-4 mb-3">Загрузите необходимые документы</h6>

      <div class="row mt-2">
        <div
          v-for="file in filesBranch"
          :key="file.id"
          class="col-4 flex-file-load"
        >
          <p class="file-type">{{ file.description }}</p>
          <input
            type="file"
            style="display: none"
            :ref="`fileUpload${file.id}`"
            @change.prevent="uploadFile(file.id)"
          />
          <button
            @click="handleUpload(file.id.toString())"
            class="modal-file-load file-load text-truncate"
          >
            <p class="cut-text">
              {{ file.file ? file.file.name : "Загрузить(PDF)" }}
            </p>
          </button>
        </div>
      </div>

      <div class="row my-4 pt-3">
        <div class="col-8">
          <button
            class="modal-file-load confirm-load"
            @click="createBranch(), $bvModal.hide('add-branch-modal')"
            :class="{ disabled }"
          >
            <p>Завершить регистрацию</p>
          </button>
        </div>
      </div>
      <!-- загрузка файлов для добавления ментора -->
    </div>
  </b-modal>
</template>

<script>
import { email, required, minLength } from "vuelidate/lib/validators";
import toast from "@/mixins/toast";
import { FranchiseeMapper } from "@/store/franchisee";
// import { BranchMapper } from "@/store/branch";
import { UserMapper } from "@/store/user";
// import moment from "moment";
export default {
  name: "ModalAddBranch",
  props: {
    show: {
      type: Boolean,
      require: true,
    },
    packageId: {
      //type: String,
      required: true,
    },
  },
  data() {
    return {
      branchInfoGroup: {
        name: "",
        email: "",
        adress: "",
        director: "",
      },

      filesBranch: [
        {
          id: 1,
          name: "registrationSertificatePDF",
          description: "Свидетельство о регистрации",
          file: null,
          path: "",
        },
        {
          id: 2,
          name: "accountingSertificatePDF",
          description: "Свидетельство о поставновке на учет ",
          file: null,
          path: "",
        },
        {
          id: 3,
          name: "partnerFormPDF",
          description: "Анкета партнёра",
          file: null,
          path: "",
        },
      ],
    };
  },

  validations: {
    branchInfoGroup: {
      email: { email, required, minLength: minLength(5) },
    },
  },

  methods: {
    toast,
    ...FranchiseeMapper.mapActions(["postBranch", "postAdminBranch"]),
    // ...BranchMapper.mapActions([]),

    setEmail(value) {
      this.branchInfoGroup.email = value;
      this.$v.branchInfoGroup.email.$touch();
    },

    closeModal() {
      this.$emit("closeModal");
    },
    handleUpload(id) {
      this.$refs["fileUpload" + id.toString()][0].click();
    },

    uploadFile(id) {
      this.filesBranch[id - 1].file =
        this.$refs["fileUpload" + id.toString()][0].files[0];
    },

    clearForm() {
      this.branchInfoGroup.name = "";
      this.branchInfoGroup.email = "";
      this.branchInfoGroup.region = "";
      this.branchInfoGroup.director = "";

      this.filesBranch[0].name = "";
      this.filesBranch[0].file = null;
      this.filesBranch[1].name = "";
      this.filesBranch[1].file = null;
      this.filesBranch[2].name = "";
      this.filesBranch[2].file = null;
    },

    async createBranch() {
      let payload = new FormData();

      Object.entries(this.branchProfileList).forEach((entry) => {
        payload.append(entry[0], entry[1]);
      });
      payload.set("franchisee", this.me.id);
      payload.set(
        "registrationSertificatePDF",
        this.branchProfileList.registrationSertificatePDF,
        "registrationSertificatePDF.pdf"
      );
      payload.set(
        "accountingSertificatePDF",
        this.branchProfileList.accountingSertificatePDF,
        "accountingSertificatePDF.pdf"
      );
      payload.set(
        "partnerFormPDF",
        this.branchProfileList.partnerFormPDF,
        "partnerFormPDF.pdf"
      );
      if (this.role === "admin") {
        await this.postAdminBranch(payload);
      } else {
        await this.postBranch(payload);
      }
      if (!this.error) {
        this.$emit("create");
        this.clearForm();
      }

      if (!this.error) {
        this.toast("Выполнено", "Филиал успешно создан", "success");
      } else {
        this.toast(
          "Ошибка",
          "Филиал с таким email-ом уже существует",
          "danger"
        );
      }
    },
  },
  computed: {
    ...FranchiseeMapper.mapState(["error"]),
    ...UserMapper.mapState(["me"]),
    ...UserMapper.mapGetters(["role"]),

    disabled() {
      const fill = Object.entries(this.branchInfoGroup)
        .filter((i) => ![false, "", null].includes(i[1]))
        .filter(
          (i) =>
            ![
              "registrationSertificatePDF",
              "accountingSertificatePDF",
              "partnerFormPDF",
              "user",
              "id",
            ].includes(i[0])
        );
      const fileFill = this.filesBranch.filter((i) => i.file || i.path);

      return fill.length < 4 || fileFill.length < 3;
    },

    branchProfileList() {
      return {
        name: this.branchInfoGroup.name,
        email: this.branchInfoGroup.email,
        region: this.branchInfoGroup.region,
        director: this.branchInfoGroup.director,
        package: this.packageId,

        registrationSertificatePDF: this.filesBranch[0].file,
        accountingSertificatePDF: this.filesBranch[1].file,
        partnerFormPDF: this.filesBranch[2].file,
      };
    },
  },
};
</script>

<style>
.invalid {
  border-bottom: 1px solid red !important;
}

.disabled {
  pointer-events: none;
  color: #949191;
  background-color: lightgray !important;
  border: 1px solid #ffffff !important;
}

.modal-container {
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}
.content-wrap-branch {
  width: 100%;
  height: 100%;
}
.modal-wrap-branch {
  background: #fefefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  padding: 0;
  border-radius: 1%;
  width: 980px;
  height: 685px;

  margin: auto;
  transition: 1s ease;
}

.modal-label {
  font-weight: 600;
  font-size: 22px;
  line-height: 27px;
  color: #2b2a29;
  margin: 0;
}

.close-modal-icon {
  top: 0;
  right: 2%;
}

.admin-inputs > input {
  background: unset;
  border: none;
  outline: none;
  width: 300px;
  height: 30px;
  margin: 0;
  border-radius: 0 !important;
  border-bottom: 1px solid #2b2a29;
  border-radius: 5px;
}
.admin-inputs > input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid #2b2a29;
}

h6 {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;

  color: #2b2a29;
}

/* кнопки */
.modal-file-load {
  border: 1.5px solid #249ddd;
  box-sizing: border-box;
  border-radius: 55px;

  transition: 0.5s ease;
  padding: 0;
}
.file-load {
  background: #f0eff2;
  width: 140px;
  height: 30px;
}
.confirm-load {
  background: #249ddd;
  width: 220px;
  height: 35px;
}
/* текст внутри */
.file-load > p,
.confirm-load > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
}
.file-load > p {
  color: #2b2a29;
}
.confirm-load > p {
  color: #ffffff;
}
/* ховер-эффекты */
.file-load:hover,
.confirm-load:hover {
  background: #249ddd;
  box-shadow: 0px 0px 15px #00000030;
}
.file-load:focus,
.confirm-load:focus,
.file-load:active,
.confirm-load:active {
  transform: scale(1.05);
}
.file-load:hover > p,
.confirm-load:hover > p {
  color: #ffffff;
}

.flex-file-load {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
</style>
