<template>
  <div class="col-md-3">
    <div class="row">
      <div class="col-md-12 text-center my-3 pt-2">
        <img ref="avatar" :src="userImg" class="img-fluid round-icon w-100" />
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group text-center">
          <input
            @change="chooseAvatar"
            ref="file"
            type="file"
            class="form-control-file"
            id="photo-load"
          />
          <label for="photo-load" class="mx-auto pointer load-photo-text"
            >Загрузить фото</label
          >
        </div>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  props: {
    img: {
      type: String,
      default: null,
    },
  },
  computed: {
    userImg() {
      if (this.img) {
        return process.env.VUE_APP_API_URL + this.img;
      }
      return require("@/assets/img/icons/icon-profile-big.png");
    },
  },
  methods: {
    chooseAvatar() {
      let file = this.$refs.file.files[0];
      let formData = new FormData();
      formData.set("img", file);
      this.$emit("change", formData);
    },
  },
};
</script>