<template>
  <div
    class="contaiter-fluid agent-container mx-3 mr-4 p-0"
    style="margin-bottom: 70px; margin-top: 30px"
  >
    <hr class="invisible" />

    <div class="row mt-3" style="padding-top: 35px">
      <div style="padding-left: 2.5rem" class="col-2 mr-5">
        <b-form-datepicker
          class="top-input flex-row-reverse"
          right
          no-flip
          placeholder="Дата"
          locale="ru"
          hide-header
          label-help=""
          reset-button
          label-reset-button="Сбросить"
          :reset-value="null"
          :start-weekday="1"
          :date-format-options="{
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
          }"
          v-model="filter.date"
        ></b-form-datepicker>
      </div>
      <div class="col-2">
        <b-input
          class="top-input money-bg"
          placeholder="Сумма"
          type="number"
          onfocus="(this.type='number')"
          v-model="filter.income"
        />
      </div>
    </div>

    <div class="row w-100 mt-4 table-analytics">
      <b-table
        hover
        id="agent-analytics-table"
        :items="filteredItems"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template #cell(act)="row">
          <a
            href=""
            @click.prevent="openAct(row.value, row.item.id)"
            class="buyer-link"
          >
            Акт № {{ row.item.id }}
          </a>
        </template>
        <template #cell(date)="row">
          {{ moment(row.value).format("DD.MM.YYYY") }}
        </template>
      </b-table>
    </div>
    <b-modal hide-header hide-footer size="xl" centered v-model="showAct">
      <h3 class="w-100 text-center">Акт № {{ activeAct.id || 0 }}</h3>
      <div ref="show"></div>
    </b-modal>
  </div>
</template>

<script>
export default {
  props: {
    packages: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      filter: {
        date: null,
        income: null,
      },
      showAct: false,
      activeAct: null,
      perPage: "15",
      currentPage: 1,
      fields: [
        {
          key: "number",
          label: "Номер",
          class: "analytics-id",
          sortable: true,
        },
        {
          key: "name",
          label: "Пакет",
          class: "analytics-packege",
          sortable: false,
        },

        {
          key: "cost",
          label: "Стоимость",
          class: "analytics-finance-cost",
          sortable: true,
        },
        {
          key: "income",
          label: "Доход",
          class: "analytics-finance-cost",
          sortable: true,
        },
        {
          key: "act",
          label: "Акт",
          sortable: false,
          class: "analytics-buyer",
        },
        {
          key: "date",
          label: "Дата",
          class: "analytics-date",
          sortable: true,
        },
      ],
    };
  },
  computed: {
    filteredItems() {
      return this.packages.filter((pack) => {
        let keep = true;
        let packEntries = Object.entries(pack);
        let filterEntries = Object.entries(this.filter);
        filterEntries.forEach((i) => {
          if (
            i[1] &&
            packEntries.find((entry) => entry[0] == i[0])[1] != i[1]
          ) {
            keep = false;
          }
        });
        return keep;
      });
    },
    rows() {
      return this.filteredItems.length;
    },
  },
  methods: {
    openAct(act, id) {
      this.activeActId = id;
      this.showAct = true;
      setTimeout(() => {
        let target = this.$refs.show;
        let iframe = document.createElement("iframe");
        iframe.src = process.env.VUE_APP_API_URL + act;
        iframe.style.width = "100%";
        iframe.style.height = "500px";
        target.append(iframe);
      }, 1);
    },
  },
};
</script>

<style scoped>
</style>