<template>
  <form class="form-inline container">
    <div class="row w-100 mt-2 ml-4 pl-3 no-wrap">
      <div class="col-md-6 text-center pl-0">
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            v-model="form.surName"
            placeholder="Фамилия"
          />
        </div>
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            v-model="form.name"
            placeholder="Имя"
          />
        </div>
        <div class="form-group mt-3 pt-2">
          <input
            type="text"
            class="form-control pl-3 input__profile"
            v-model="form.patronymic"
            placeholder="Отчество"
          />
        </div>
        <div class="form-group my-3 pt-2">
          <div @click="$emit('change', form)" class="btn btn-profile-tab">
            <p class="m-0">Сохранить</p>
          </div>
        </div>
      </div>
      <div class="col-md-6 text-center">
        <div class="form-group mt-3 pt-2 mr-4 pr-2">
          <textarea
            class="form-control pl-3 w-100 slogan-textarea"
            v-model="form.slogan"
            placeholder="Текст лозунга"
          ></textarea>
        </div>
      </div>
    </div>
    <hr class="hr-invisible" />
  </form>
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
    },
  },
};
</script>

<style>
</style>