<template>
  <section id="performance" class="mt-3 perfomance-no-scroll">
    <div class="row justify-content-center w-100">
      <div class="col-md-12 p-0">
        <!-- Аккордион-задания для ребенка -->
        <div id="accordion">
          <!-- Кнопка для раскрытия -->
          <div
            class="card"
            v-for="Task in tales"
            :key="Task.id"
            :index="Task.id"
          >
            <div class="card-header py-0 hover-tasks" v-bind:id="Task.htmlid">
              <p class="h-100 m-0 ml-1">
                <button
                  class="btn mdc-table-item w-100 h-100 py-0"
                  data-toggle="collapse"
                  :data-target="Task.collapselink"
                  aria-expanded="true"
                  :aria-controls="Task.collapseid"
                >
                  <div class="row">
                    <div
                      class="col-md-10 text-left p-0"
                      :class="{
                        gray_text: Task.status == 'not_available',
                        blue_text: Task.status == 'available',
                        green_text: Task.status == 'paid',
                      }"
                    >
                      <p>{{ Task.name }}</p>
                    </div>
                    <div class="col-md-2 text-right">
                      <div>
                        <b-button
                          v-if="Task.status == 'available'"
                          id="show-btn"
                          @click="showModal(Task.cost, Task.id)"
                          >Оплатить</b-button
                        >
                      </div>
                    </div>
                  </div>
                </button>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <b-modal ref="my-modal" id="bv-modal-example" hide-footer>
      <div class="d-block text-center">
        <h3>Сказка стоит {{ this.taskCost }} р!</h3>
      </div>
      <b-button
        class="mt-3"
        block
        @click="createTransaction(taskCost, 'Оплата сказки', 'tale', taskId)"
        >Согласен</b-button
      >
      <b-button class="mt-3" block @click="hideModal">Не согласен</b-button>
    </b-modal>
  </section>
</template>

<script>
//import { ChildMapper } from "@/store/child";
import { UserMapper } from "@/store/user";
import { TaleMapper } from "@/store/tale";
// import axios from "axios";
// import { store } from "@/store";
export default {
  name: "TabTales",
  props: {
    child: {
      type: Object,
    },
  },

  data() {
    return {
      taskCost: "",
      taskId: "",
      value: null,
      loading: false,
      dialog: false,
      tales: [],
      TaskList: [],
    };
  },

  computed: {
    ...UserMapper.mapState(["me"]),
  },

  methods: {
    ...TaleMapper.mapActions(["getChildTalesById"]),

    showModal(value, id) {
      this.$refs["my-modal"].show();
      this.taskCost = value;
      this.taskId = id;
    },
    hideModal() {
      this.$refs["my-modal"].hide();
    },

    async createTransaction(value, title, category, id) {
      this.hideModal();
      console.log(value);
      this.loading = true;
      this.$emit("createtransaction", value, title, category, id);
    },
  },

  async mounted() {
    let tales = await this.getChildTalesById(this.child.id);
    if (tales) {
      this.tales = tales;
    }
    console.log(this.child);
  },
};
</script>

<style scoped>
.green_text {
  color: green;
}

.blue_text {
  color: blue;
}

.gray_text {
  color: gray;
}
</style>