<template>
  <div class="h-100 pages-brand sidepanel-bg no-select">
    <div class="row mt-4 pt-3 mb-2"></div>
    <div v-for="item in items" :key="item.id">
      <div @click="$emit('itemClick', item)" v-if="!item.hide">
        <router-link
          :to="{ name: item.linkName }"
          active-class="active"
          :exact="item.exact"
          :disabled="item.disabled"
        >
          <div
            @click="
              if (item.linkName == 'admin-analytics-crm') {
                collapseVisible = true;
                activeSubtab = 1;
              } else {
                collapseVisible = false;
                activeSubtab = 0;
              }
            "
            class="row page-row no-wrap m-0 pl-2"
          >
            <div class="col-md-3 my-auto text-center p-0">
              <img
                v-if="item.img"
                :src="require(`@/assets/img/icons/${item.img}`)"
                class="img-fluid p-0"
              />
            </div>
            <div v-if="!item.hide" class="col-md-9 my-auto p-0">
              <p class="page-text m-0">{{ item.text }}</p>
            </div>
          </div>
        </router-link>
      </div>

      <b-collapse
        v-model="collapseVisible"
        v-if="item.linkName == 'admin-analytics-crm'"
      >
        <b-card class="dicttionary-groups pt-0">
          <router-link
            :to="{ name: 'admin-analytics-crm' }"
            active-class="active"
          >
            <div
              class="row no-wrap m-0 my-2 mt-3 pl-2"
              @click="activeSubtab = 1"
            >
              <div class="col-md-3 my-auto text-center p-0"></div>
              <div class="col-md-9 my-auto p-0">
                <p
                  :class="{ 'active-subtab': activeSubtab == 1 }"
                  class="page-text subtab-text m-0"
                >
                  CRM
                </p>
              </div>
            </div>
          </router-link>
        </b-card>
        <b-card class="dicttionary-groups pt-0">
          <router-link
            :to="{ name: 'admin-analytics-reports' }"
            active-class="active"
          >
            <div class="row no-wrap m-0 my-2 pl-2" @click="activeSubtab = 2">
              <div class="col-md-3 my-auto text-center p-0"></div>
              <div class="col-md-9 my-auto p-0">
                <p
                  :class="{ 'active-subtab': activeSubtab == 2 }"
                  class="page-text subtab-text m-0"
                >
                  Отчеты
                </p>
              </div>
            </div>
          </router-link>
        </b-card>
      </b-collapse>

      <b-collapse v-model="item.collapse" v-if="item.children">
        <b-card class="dicttionary-groups pt-0">
          <div
            class="row my-1 justify-content-end pointer __age-category"
            :class="{ active: subItem.active }"
            v-for="subItem in item.children"
            :key="subItem.id"
          >
            <router-link
              :to="{ name: subItem.linkName }"
              active-class="active"
              :exact="item.exact"
            >
              <div class="col-md-10 pl-1">
                <p
                  @click="$emit('subItemClick', item, subItem)"
                  class="group-link-sidepanel"
                >
                  {{ subItem.name }}
                </p>
              </div>
            </router-link>
          </div>
        </b-card>
      </b-collapse>
    </div>

    <div class="row mt-4 mb-3"></div>
    <div class="row justify-content-center">
      <div class="col-md-6 p-0">
        <button @click="$emit('logout')" class="btn btn-block btn-log-off">
          <div class="col-md-3 my-auto text-center p-0">
            <img
              v-if="img"
              :src="require(`@/assets/img/icons/${item.img}`)"
              class="img-fluid p-0"
            />
          </div>
          <p class="pt-1">Выйти</p>
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      collapseVisible: false,
      activeSubtab: 0,
    };
  },
  props: {
    items: {
      type: Array,
      required: true,
    },
    img: {
      type: String,
    },
  },
  mounted() {
    this.items.forEach((item) => {
      if (item.linkName == this.$route.name && item.children) {
        item.collapse = true;
      }
    });
    if (document.location.pathname.indexOf("/admin/analytics") == 0) {
      this.collapseVisible = true;

      if (document.location.pathname.indexOf("/admin/analytics/reports") == 0) {
        this.activeSubtab = 2;
      } else if (document.location.pathname.indexOf("/admin/analytics") == 0) {
        this.activeSubtab = 1;
      } else {
        this.activeSubtab = 0;
      }
    }
  },
};
</script>

<style scoped>
.__age-category.active p {
  transition: 0.3s;
  font-weight: bold;
  color: #fff;
}
.subtab-text {
  color: #9aafd5;
  transition: 0.5s;
}
.subtab-text:hover {
  color: #ffffff;
}
.activeSubtab {
  color: #ffffff;
  font-weight: 600;
}
.subtab-text {
  color: #9aafd5;
  padding-left: 15px;
}
.active-subtab {
  border-left: 3px solid #9aafd5;
  color: #ffffff !important;
}
</style>