<template>
  <div class="absolute-block anim-wrap">
    <img
      src="@/assets/img/page-68-anim/bg-final.png"
      alt=""
      class="absolute-block anim-f-bg-img"
    />
    <img
      src="@/assets/img/page-68-anim/body.svg"
      alt=""
      class="absolute-block anim-f-body-img"
    />
    <img
      src="@/assets/img/page-68-anim/tail.png"
      alt=""
      class="absolute-block anim-f-tail-img"
    />
    <img
      src="@/assets/img/page-68-anim/left-hand.svg"
      alt=""
      class="absolute-block anim-f-left-hand-img"
    />
    <img
      src="@/assets/img/page-68-anim/right-hand.svg"
      alt=""
      class="absolute-block anim-f-right-hand-img"
    />
    <img
      src="@/assets/img/page-68-anim/cup.svg"
      alt=""
      class="absolute-block anim-f-cup-img"
    />

    <img
      src="@/assets/img/page-68-anim/left-leg.svg"
      alt=""
      class="absolute-block anim-f-left-leg-img"
    />
    <img
      src="@/assets/img/page-68-anim/right-leg.svg"
      alt=""
      class="absolute-block anim-f-right-leg-img"
    />
    <!-- <img
      src="@/assets/img/pictures/coins.png"
      alt=""
      class="absolute-block anim-f-coins-img"
    /> -->
  </div>
</template>

<script>
export default {
  name: "AnimFinal",
};
</script>

<style scoped>
.anim-wrap {
  height: 605px;
  width: 605px;
  left: 0;
  bottom: -3%;
}

/* @media (max-width: 1200px) {
  .anim-wrap {
    height: calc(60vh - 60px);
    width: calc(60vh - 60px);
    bottom: 10%;
  }
}
@media (max-width: 850px) {
  .anim-wrap {
    height: calc(50vh - 60px);
    width: calc(50vh - 60px);
    bottom: 20%;
  }
}
@media (max-width: 1100px) and (min-height: 750px) {
  .anim-wrap {
    left: -10%;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-wrap {
    height: 600px;
    width: 100%;
    overflow: hidden;
    bottom: 0;
    margin: 0;
    right: 0%;
  }
}

img {
  --animate-duration: 0.7s;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
}
</style>