<template>
  <section v-if="show">
    <div class="modal-header p-0">
      <div class="row training-header w-100">
        <div class="col-md-11 my-auto">
          <p class="ml-2">{{ coaching.name }}</p>
        </div>
      </div>
    </div>
    <div class="modal-body px-0">
      <div class="row">
        <div class="col-md-12">
          <p class="modal-text pl-2 pr-3">
            {{ coaching.description }}
          </p>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-md-5 my-auto ml-3 pl-2 p-0">
          <p class="training-start-text">Время начала тренинга:</p>
        </div>
        <div class="col-md-2 my-auto p-0 text-center">
          <p class="modal-text">
            {{
              formatDate(coaching.startDate)
            }}
          </p>
        </div>
        <div class="col-md-1 my-auto p-0 text-center">
          <p class="modal-text">{{ formatTime(coaching.startDate) }}</p>
        </div>
      </div>
      <div v-if="button" class="row justify-content-center mt-4 pt-2">
        <div class="col-md-4">
          <div
            type="button"
            class="btn my-auto form__button"
            @click="$emit('take', coaching)"
          >
            <p class="m-0">Записаться</p>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import moment from 'moment';
export default {
  name: "TrainingModal",
  props: {
    show: {
      type: Boolean,
      default: false
    },
    coaching:{
      type :Object,
      required: true
    },
    button:{
      type: Boolean,
      default: false
    }
  },
  methods:{
    formatDate(date){
      return moment(date).format('DD.MM.YYYY')
    },
    formatTime(date){
      return moment(date).format('HH:mm')
    }
  }
};
</script>

<style>
</style>