<template>
  <section id="transactions">
    <div class="row mt-4 pl-3 w-100 no-wrap modal-dissapier">
      <div class="col-md-4 pl-4 text-left">
        <p class="table-header">Фильтры:</p>
      </div>
    </div>
    <div v-if="!modalShow" class="row mt-2 pl-3 w-100 no-wrap modal-dissapier">
      <div class="col-md-3 pl-4 text-left">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-filter text-left pl-4"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p>
              <span>{{
                chosenCoacher
                  ? chosenCoacher.name.slice(0, 1) +
                    ". " +
                    chosenCoacher.surName
                  : "Тренер"
              }}</span>
            </p>
          </button>
          <div class="dropdown-menu w-100">
            <button
              v-if="chosenCoacher"
              class="dropdown-item"
              type="button"
              @click="chosenCoacher = null"
            >
              Сбросить
            </button>
            <button
              v-for="coacher in coachers"
              :key="coacher.id"
              class="dropdown-item"
              type="button"
              @click="chosenCoacher = coacher"
            >
              {{ coacher.name.slice(0, 1) + "." }} {{ coacher.surName }}
            </button>
          </div>
        </div>
      </div>

      <div class="col-md-4 pl-4 text-center">
        <div class="btn-group">
          <button
            type="button"
            class="btn btn-filter text-left pl-4"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p>
              <span>{{ chosenCost ? chosenCost + " руб." : "Стоимость" }}</span>
            </p>
          </button>
          <div class="dropdown-menu w-100">
            <button
              v-if="chosenCost"
              class="dropdown-item"
              type="button"
              @click="chosenCost = null"
            >
              Сбросить
            </button>
            <button
              v-for="cost in costs"
              :key="cost"
              class="dropdown-item"
              type="button"
              @click="chosenCost = cost"
            >
              {{ cost }} руб.
            </button>
          </div>
        </div>
      </div>
    </div>

    <hr class="hr-invisible" />

    <div
      class="row row__table pl-3 w-100 no-wrap"
      v-for="coaching in filteredCoachings"
      :key="coaching.id"
      :index="coaching.id"
    >
      <div class="col-md-3 my-auto pl-4 text-left">
        <p class="mdc-table-item">
          {{ coaching.name }}
        </p>
      </div>
      <div class="col-md-4 my-auto text-center">
        <p class="table-item">{{ coaching.cost }} руб.</p>
      </div>
      <div class="col-md-5 my-auto pl-0 text-center">
        <div class="row w-100 no-wrap">
          <div class="col-md-3 my-auto text-center">
            <p class="table-item">
              {{ formatDate(coaching.startDate) }}
            </p>
          </div>
          <div class="col-md-2 my-auto text-center">
            <p class="table-item">{{ formatTime(coaching.startDate) }}</p>
          </div>
          <div class="col-md-3 my-auto text-center pointer">
            <p @click="$emit('signup', coaching)" class="signup-link">
              Записаться
            </p>
          </div>
          <div class="col-md-4 my-auto text-center">
            <b-button
              @click="$emit('detail', coaching, true)"
              class="btn btn-profile-tab"
            >
              <p class="m-0">Подробнее</p>
            </b-button>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr-invisible" />
  </section>
</template>

<script>
import moment from "moment";
export default {
  props: {
    coachings: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      modalShow: false,
      modalButton: true,
      coachingModal: {},
      chosenCoacher: null,
      chosenCost: null,
    };
  },
  computed: {
    filteredCoachings() {
      let coachings = this.coachings;
      if (this.chosenCost) {
        coachings = coachings.filter(
          (coaching) => coaching.cost == this.chosenCost
        );
      }
      if (this.chosenCoacher) {
        coachings = coachings.filter((coaching) => {
          return coaching.mentor.id == this.chosenCoacher.id;
        });
      }
      return coachings;
    },
    coachers() {
      let coachers = [];
      this.coachings
        .map((coaching) => ({
          id: coaching.mentor.id,
          name: coaching.mentor.name,
          surName: coaching.mentor.surName,
          patronymic: coaching.mentor.patronymic,
        }))
        .forEach((coacher) => {
          if (!coachers.some((coach) => coach.id == coacher.id)) {
            coachers.push(coacher);
          }
        });
      return coachers;
    },
    costs() {
      return [...new Set(this.coachings.map((coaching) => coaching.cost))];
    },
  },
  methods: {
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },
    formatTime(date) {
      return moment(date).format("HH:mm");
    },
  },
};
</script>
