<template>
  <section id="mytrainings">
    <hr class="hr-invisible" />
    <div
      class="row row__table pl-3 w-100 no-wrap"
      v-for="coaching in coachings"
      :key="coaching.id"
    >
      <div class="col-md-8 my-auto pl-4 text-left">
        <p class="mdc-table-item">
          {{ coaching.name }}
        </p>
      </div>
      <div class="col-md-4 my-auto pl-0 text-center">
        <div class="row w-100 no-wrap">
          <div class="col-md-4 my-auto text-center">
            <p class="table-item">
              {{ formatDate(coaching.startDate) }}
            </p>
          </div>
          <div class="col-md-3 my-auto text-center">
            <p class="table-item">{{ formatTime(coaching.endDate) }}</p>
          </div>
          <div class="col-md-5 my-auto text-center">
            <b-button
              @click="$emit('detail', coaching)"
              class="btn btn-profile-tab"
            >
              <p class="m-0">Подробнее</p>
            </b-button>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr-invisible" />
  </section>
</template>

<script>
import moment from "moment";
export default {
  props: {
    coachings: {
      type: Array,
      default: () => [],
    },
  },
  methods: {
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },
    formatTime(date) {
      return moment(date).format("HH:mm");
    },
  },
};
</script>