<template>
  <div class="contaiter-fluid ml-3 mr-4 no-select">
    <div class="contaiter container-parent-page mt-4 mx-2">
      <div class="row ml-4 no-select">
        <div class="col-md-5 mt-4">
          <h1>Добавить группу</h1>
        </div>
      </div>

      <form class="form-inline">
        <div class="row w-100 mt-2 ml-4 no-wrap">
          <div class="col-md-3">
            <div class="form-group mt-3 pt-2">
              <input
                type="text"
                class="form-control pl-3 input-child"
                placeholder="Название"
                v-model="name"
              />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group mt-3 pt-2">
              <div class="btn-group w-100">
                <button
                  type="button"
                  class="btn btn-filter text-left pl-4"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false"
                >
                  <p>
                    Возрастная категория
                    <span v-if="age">- {{ age }} лет</span>
                  </p>
                </button>
                <div class="dropdown-menu w-100">
                  <button
                    v-for="category in ageCategories"
                    :key="category.value"
                    class="dropdown-item"
                    type="button"
                    @click="setCategory(category.value)"
                  >
                    {{ category.text }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row w-100 ml-4 mb-4 no-wrap">
          <div class="col-md-3">
            <div class="form-group my-3 pt-2">
              <b-button
                id="addchildbutton"
                class="btn btn-profile-tab"
                @click="addGroup()"
              >
                <p class="m-0">Добавить</p>
              </b-button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      age: null,
      name: "",
      ageCategories: [
        {
          text: "Дошкольная (5-7 лет)",
          value: "5-7",
        },
        {
          text: "Начальная школа (8-12 лет)",
          value: "8-12",
        },
        {
          text: "Средняя школа (13-16 лет)",
          value: "13-16",
        },
      ],
    };
  },
  methods: {
    setCategory(age) {
      this.age = age;
    },
    async addGroup() {
      let payload = {
        name: this.name,
        age: this.age,
      };
      this.$emit("add", payload);
    },
  },
};
</script>

<style>
</style>
