<template>
  <div
    class="question-row opacity-zero"
    :class="{ disable: disable, 'open-row': open }"
  >
    <div
      class="question-number"
      :class="{ disabled: disable, success: success }"
    >
      <div class="top-line" :class="extend" v-if="number != 1"></div>
      <div class="number">
        <span v-show="!success">{{ number }}</span>

        <img
          v-show="success"
          :src="require('@/assets/img/icons/check.svg')"
          alt=""
          class="img-success"
        />
      </div>
    </div>
    <div
      class="question-card"
      :class="{
        invert: invert,
        open: open,
        success: success,
      }"
    >
      <p class="card-text">
        {{ text }}
      </p>
      <div class="fucking-anim" :class="`${img}-moving`"></div>
      <!-- <img :src="require(`@/assets/img/fox-story/${img}.png`)" alt="img"  /> -->
      <button class="sound-btn" @click="$emit('sound', number)">
        <img src="@/assets/img/icons/sound.svg" alt="volume" />
      </button>
      <button class="arrow-btn" :class="{ open: open }" @click="openCard">
        <img src="@/assets/img/icons/right-arrow.svg" alt="arrow" />
      </button>
    </div>
    <div
      class="question-answer opacity-anim-card"
      :class="{ open: open, record: record }"
    >
      <div
        class="sound-road"
        :class="`${record && 'record'} sound-road${number}`"
        :ref="`road${number}`"
      ></div>
      <div class="record-block" :class="{ record }">
        <button
          class="record-btn"
          :class="{ record: record, voice: isRecorded }"
          @click="recordSound"
          :id="`start${number}`"
        >
          <img
            :class="{ 'success-img': isRecorded }"
            :src="
              !record && !isRecorded
                ? require('@/assets/img/icons/voice-big.png')
                : !record && isRecorded
                ? require('@/assets/img/icons/voice-success.svg')
                : require('@/assets/img/icons/voice-big.png')
            "
            alt="record"
          />
        </button>
        <button
          v-if="isRecorded && !record"
          class="record-listen-btn"
          @click="audioPlay"
        >
          <img
            src="@/assets/img/icons/play-button-arrowhead.svg"
            alt="listen"
          />
        </button>
        <button
          v-if="isRecorded && !record && !serverVoice"
          class="record-delete-btn"
          @click="audioDelete"
        >
          <img src="@/assets/img/icons/delete.svg" alt="delete" />
        </button>
      </div>

      <button v-show="success" class="close-btn" @click="openCard">
        <img src="@/assets/img/BusinessPractice/icons/close-elem.png" />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "Question",
  data() {
    return {
      record: false,
      mediaRecorder: null,
      voice: new Audio(),
      wave: null,
      isRecorded: false,
    };
  },
  props: {
    invert: Boolean,
    img: String,
    text: String,
    number: Number,
    success: Boolean,
    disable: Boolean,
    open: Boolean,
    extend: String,
    serverVoice: {
      type: String,
      default: "",
    },
  },
  computed: {},
  methods: {
    openCard() {
      if (!this.record) {
        this.$emit("open", !this.open, this.number);
        this.record = false;
      }
    },
    async soundRoad() {
      let stream = await navigator.mediaDevices.getUserMedia({
        audio: true,
      });
      if (stream) {
        this.mediaRecorder = new MediaRecorder(stream);
        let voice = [];
        // ***************
        // *ondataavailable
        // ***************
        this.mediaRecorder.ondataavailable = (e) => {
          voice.push(e.data);
        };
        // ***************
        // *ONSTOP
        // ***************
        this.mediaRecorder.onstop = () => {
          let blob = new Blob(voice, {
            type: "audio/wav",
          });

          this.voice.src = window.URL.createObjectURL(blob);
          this.isRecorded = true;
          console.log(this.voice.src);
          stream.getTracks().forEach(function (track) {
            track.stop();
          });
          let strokes = document.querySelectorAll(".stroke");
          strokes.forEach((stroke) => {
            stroke.remove();
          });
          this.$emit("success", true, this.number, blob);
          setTimeout(() => this.$emit("open", false, this.number), 1000);
        };
        // ***************

        this.mediaRecorder.start();
        let context = new AudioContext();
        let analyser = context.createAnalyser();
        let src = context.createMediaStreamSource(stream);
        src.connect(analyser);
        for (let i = 0; i < 100; i++) {
          let stroke = document.createElement("div");
          stroke.className = "stroke";
          stroke.style.background = "white";
          stroke.style.minWidth = "0.8%";
          this.$refs[`road${this.number}`].appendChild(stroke);
        }
        let strokes = document.querySelectorAll(".stroke");
        let loop = () => {
          if (this.mediaRecorder.state == "recording") {
            window.requestAnimationFrame(loop);
            let array = new Uint8Array(200);
            analyser.getByteFrequencyData(array);
            for (var i = 0; i < 100; i++) {
              let height = array[i + 100] / 3;
              strokes[i].style.minHeight = height + "%";
            }
          }
        };
        loop();
      }
    },
    async recordSound() {
      if (!this.record) {
        this.record = true;
        this.soundRoad();
      } else {
        this.record = false;
        await this.mediaRecorder.stop();
      }
    },
    audioPlay() {
      this.$emit("voicePlay");
      this.voice.play();
    },
    audioDelete() {
      this.voice.src = "";
      this.isRecorded = false;
      this.$emit("success", false, this.number, null);
    },
    getElems(name) {
      return document.querySelectorAll(name);
    },
  },
  watch: {
    serverVoice() {
      if (this.serverVoice) {
        this.isRecorded = true;
        this.voice.src = this.serverVoice;
        console.log(this.serverVoice);
      }
    },
  },
};
</script>

<style scoped>
.question-row {
  height: 125px;
  width: 100%;
  transition: 0.5s ease;
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
}
.question-row:hover {
  z-index: 10;
}
.img-success {
  position: absolute;
  top: 13%;
  left: 13%;
  width: 80%;
  height: 80%;
  filter: invert(1);
}
.question-row.disable {
  pointer-events: none;
}
.question-row.disable > .question-card p {
  color: #9c9c9b !important;
}
.question-row.disable > .question-card > .sound-btn,
.question-row.disable > .question-card > .arrow-btn {
  opacity: 0.4;
}
.question-row.disable .question-card {
  background: rgb(250, 250, 250);
}
.question-row.disable .sound-btn,
.question-row.disable .arrow-btn {
  opacity: 0.5;
}
.question-number {
  height: 100%;
  width: 50px;
  margin-left: 5px;
  margin-right: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.question-number.disabled .number {
  background-color: #d9d9d9;
  border: 2px solid #d9d9d9;
}
.question-number.disabled .number span {
  color: #fff;
}
.question-number .number {
  z-index: 1;
  width: 36px;
  padding-top: 32px;
  border-radius: 50%;
  background-color: #fff;

  border: 2px solid #ffde3b;
  transition: 0.5s ease-in-out;

  position: relative;
}
.question-number.success > .number {
  background-color: #ffde3b;
}

.question-number .number span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2b2a29;
  font-weight: bolder;
  font-size: 1.3em;
}
.top-line {
  position: absolute;
  height: 100%;
  width: 3px;
  background: lightgray;
  z-index: 0;
  top: -50%;
  transition: 0.5s ease-in-out;
}
.top-line::before {
  display: block;
  background: #ffde3b;
  content: "";
  height: 0;
  width: 3px;
  top: 0;
  z-index: 2;
  transition: 0.5s ease-in-out;
}

.question-number.success .top-line::before {
  height: 100%;
}

.question-card {
  background: #fff;
  border: 1px solid lightgray;
  width: 470px;
  height: 110px;
  border-radius: 25px;
  padding: 0 2%;
  display: flex;
  transition: 0.5s ease-in-out;
  position: relative;
  z-index: 10;
}
.question-card.invert {
  flex-flow: row-reverse nowrap;
}
.question-card.open {
  width: 500px;
  box-shadow: 0px 0 15px rgb(0 0 0 / 20%);
}
.question-card.success {
  background: #ffde3b;
}

.question-card > img {
  height: 100%;
  padding: 0 3%;
}
.question-card p {
  min-width: 260px;
  max-width: 260px;
  padding: 0 2%;
  color: #2b2a29;
  font-size: 1rem;
  font-weight: 500;
  line-height: normal;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
}

.question-card.invert p {
  align-items: flex-start;
}
.sound-btn,
.arrow-btn {
  position: absolute;
  right: 3%;
  width: 25px;
  height: 25px;
  border: none;
  outline: none;
  background: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.sound-btn > img {
  width: 50%;
  height: auto;
}
.arrow-btn > img {
  width: 80%;
  height: auto;
}
.sound-btn {
  top: 5%;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.arrow-btn {
  bottom: 5%;
}
.arrow-btn.open {
  transform: rotate3d(0, 1, 0, 180deg);
}
.question-answer {
  height: 110px;
  width: 360px;
  background: #f3f3f3;
  border-radius: 2rem;
  transition: 0.5s ease-in-out;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: 0%;
  transform: translateX(-100%) scaleX(0.9) scaleY(0.9);
}
.question-answer.open {
  border-radius: 0 25px 25px 0;
  transform: translateX(-10%);
}
.question-answer.record {
  transform: translateX(-5%);
  width: 395px !important;
}

.sound-road {
  height: 80%;
  background: skyblue;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s ease;
  padding: 0 2%;
  width: 20%;
  opacity: 0;
}
.sound-road.record {
  transform: translateX(10px);
  width: 100%;

  opacity: 1;
  border-radius: 15px 0 0 15px;
}
.sound-road > span {
  width: 0.5%;
  height: 5%;
  border-radius: 3px;
  background: #fff;
  transition: 0.5s ease;
}
.sound-road > span.record {
  width: 0.5%;

  height: 50%;
  animation: animate 0.7s linear infinite;
}

@keyframes animate {
  50% {
    height: 10%;
  }
  100% {
    height: 50%;
  }
}

.record-block {
  height: 100%;
  width: 100%;
  margin-right: 10px;
  display: flex;
  align-items: center;
  position: relative;
}

.record-btn {
  margin-left: auto;
  height: 100px;
  background: #fff;
  width: 120px;
  border-radius: 25px;
  transform: translateX(-10%);
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease;
  position: relative;
  margin-right: -15px;
}
.record-btn:hover {
  border: 3px solid rgb(211, 211, 211);
}
.record-block.record {
  width: 30%;
}
.record-btn.record {
  width: 110px;
  height: 95px;
  margin: 0;
  background: #ffde3b;
}
.record-btn.voice {
  background: #ffde3b;
  pointer-events: none;
}
.record-btn > img {
  height: 30px;
  width: auto;
  object-fit: contain;
  opacity: 0.6;
  transition: 0.5s ease;
  filter: brightness(2) invert(0.7);
}
.record-btn.record > img {
  filter: brightness(2) invert(0);
}
.record-listen-btn,
.record-delete-btn {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  outline: none;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  transition: 0.5s ease;
  z-index: 10;
}
.record-listen-btn {
  right: 32%;
  bottom: -4%;
}
.record-delete-btn {
  right: 0%;
  bottom: -3%;
}
.record-delete-btn > img {
  filter: invert(1);
}
.record-listen-btn:hover,
.record-delete-btn:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.record-listen-btn > img,
.record-delete-btn > img {
  width: 100%;
  height: auto;
  transform: scale(0.5);
}
.record-listen-btn > img {
  filter: invert(1);
}
.close-btn {
  position: absolute;
  right: -0.5rem;
  top: -0.5rem;
  width: 2rem;
  height: 2rem;
  border: none;
  outline: none;
  background: none;
  display: none;
}
.close-btn img {
  width: 100%;
  height: 100%;
  opacity: 1;
}
.success-img {
  height: 20px !important;
  width: 25px !important;
  filter: unset !important;
}
#canvas {
  z-index: 9999999;
}
.parent-moving {
  align-self: center;
  min-width: 170px;
  max-width: 170px;
  height: 150px;
  background-image: url("../../../../../assets/img/fox-story/parent.png");
  animation: parent-moving 4s steps(48) 2;
  transform: scale(0.75);
}
@keyframes parent-moving {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 8016px;
  }
  100% {
    background-position: 8016px;
  }
}

.plants-moving {
  align-self: center;
  min-width: 140px;
  max-width: 140px;
  height: 150px;
  background-image: url("../../../../../assets/img/fox-story/plants.png");
  animation: plants-moving 4s steps(71) 2;
  transform: scale(0.81);
}
@keyframes plants-moving {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 9585px;
  }
  100% {
    background-position: 9585px;
  }
}

.look-out-moving {
  align-self: center;
  min-width: 180px;
  max-width: 180px;
  height: 150px;
  background-image: url("../../../../../assets/img/fox-story/look-out.png");
  animation: look-out-moving 4s steps(42) 2;
  transform: scale(0.85);
}
@keyframes look-out-moving {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 8442px;
  }
  100% {
    background-position: 8442px;
  }
}

.friends-moving {
  align-self: center;
  justify-self: flex-end;
  min-width: 250px;
  max-width: 250px;
  height: 150px;
  background-image: url("../../../../../assets/img/fox-story/friends.png");
  animation: friends-moving 4s steps(50) 2;
  transform: scale(0.75) translateX(50px);
}
@keyframes friends-moving {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 12050px;
  }
  100% {
    background-position: 12050px;
  }
}

.mother-moving {
  align-self: center;
  justify-self: flex-start;
  min-width: 150px;
  max-width: 150px;
  height: 150px;
  background-image: url("../../../../../assets/img/fox-story/mother.png");
  animation: mother-moving 4s steps(55) 2;
  transform: scale(0.75);
}
@keyframes mother-moving {
  0% {
    background-position: 0;
  }
  50% {
    background-position: 9020px;
  }
  100% {
    background-position: 9020px;
  }
}

/* @media (max-width: 1050px) {
}
@media (max-width: 950px) {
  .question-row {
    height: 100px;
  }
  .question-card {
    border-radius: 1rem;
    width: 330px;
    height: 80px;
  }
  .question-answer {
    height: 75px;
  }
  .question-card.open {
    width: 350px;
  }
  .question-card p {
    font-size: 0.8em;
  }
  .question-number .number {
    width: 50%;
    padding-top: 50%;
  }
  .question-number .number span {
    font-size: 1em;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .question-card.open {
    width: 470px;
    box-shadow: 0px 0 15px rgb(0 0 0 / 20%);
  }
  .question-row {
    width: 1050px;
    align-items: flex-start;
  }
  .arrow-btn {
    transform: rotate(90deg);
  }
  .arrow-btn.open {
    transform: rotate(-90deg);
  }
  .open-row {
    height: 250px;
  }
  .question-answer {
    height: 100px;
    width: 100px;
    transform: translateX(-150%);
  }
  .question-answer.open {
    border-radius: 25px;
    width: 470px;
    height: 150px;
    padding-top: 45px;
    padding-bottom: 10px;
    transform: translateX(-100%) translateY(55%);
  }

  .record-btn {
    width: 110px;
  }
  .sound-road.record {
    width: 90%;
    margin-left: 2%;
    opacity: 1;
    border-radius: 15px 0 0 15px;
  }
  .record-listen-btn {
    right: 23%;
    bottom: -2%;
  }
  .top-line.big {
    height: 150%;
    top: -100%;
  }
  .top-line.small {
    height: 75%;
    top: -25%;
  }
}
</style>