<template>
  <section>
    <hr class="invisible" />
    <div class="row pt-3">
      <div class="col my-auto">
        <a class="analytics-link" href="#"
          >Все заказы: {{ this.orderscount }}</a
        >
      </div>
      <div class="col my-auto">
        <a class="analytics-link" href="#">Оборот: {{ this.turnover }}</a>
      </div>
      <div class="col-2 my-auto text-center">
        <a class="analytics-link" href="#">Прибыль: {{ this.profit }}</a>
      </div>
      <div class="col-3 flex-col">
        <div class="dropdown w-100 my-auto">
          <button
            class="btn py-1 w-100 btn-diagramm dropdown-toggle"
            type="button"
            id="diagramm-packet-sort"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p class="m-0">Пакет</p>
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="px-1 arrow-diagramm"
            />
          </button>
          <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="col-3 flex-col">
        <div class="dropdown my-auto">
          <button
            class="btn py-1 btn-diagramm dropdown-toggle"
            type="button"
            id="diagramm-btn1"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p class="m-0">Дата от</p>
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="px-1 arrow-diagramm"
            />
          </button>
          <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
        <p class="mx-2">-</p>
        <div class="dropdown my-auto">
          <button
            class="btn py-1 btn-diagramm dropdown-toggle"
            type="button"
            id="diagramm-btn2"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p class="m-0">Дата до</p>
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="px-1 arrow-diagramm"
            />
          </button>
          <div class="dropdown-menu" aria-labelledby="diagramm-btn2">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="col-1 my-auto">
        <a class="analytics-link blue-text" href="#">Поиск</a>
      </div>
    </div>
    <div class="row w-100 table-analytics" :class="tableHeightclass">
      <b-table
        borderless
        hover
        id="agent-analytics-table"
        :items="items"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        sort-icon-left
        :current-page="currentPage"
      >
        <template #cell(menthor)="row">
          {{ row.value == "" ? "-" : row.value }}
        </template>
        <template #cell(buyer)="row">
          <a href="#" class="add-menthor-link">{{ row.value }}</a>
        </template>
      </b-table>
    </div>
    <div class="row pt-2 justify-content-center">
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        @page-click="scrolltoTop"
        aria-controls="agent-analytics-table"
      ></b-pagination>
    </div>
  </section>
</template>

<script>
// import moment from "moment";
export default {
  name: "TableBranchAnalytics",
  props: {
    tableHeightclass: String
  },
  data() {
    return {
      orderscount: 0,
      turnover: 0,
      profit: 0,

      messageTheme: "",
      perPage: 15,
      currentPage: 1,
      fields: [
        {
          key: "id",
          label: "Номер",
          class: "analytics-id",
          sortable: true
        },
        {
          key: "packagename",
          label: "Наименование пакета",
          class: "analytics-packege",
          sortable: false
        },
        {
          key: "category",
          label: "Категория",
          class: "analytics-category",
          sortable: false
        },
        {
          key: "cost",
          label: "Стоимость",
          class: "franchisee-cost-info",
          sortable: true
        },
        {
          key: "income",
          label: "Доход",
          class: "franchisee-cost-info",
          sortable: true
        },
        {
          key: "menthor",
          label: "Ментор",
          class: "analytics-taxes",
          sortable: false
        },
        {
          key: "buyer",
          label: "Покупатель",
          sortable: false,
          class: "analytics-buyer"
        },
        {
          key: "date",
          label: "Дата",
          class: "analytics-date",
          sortable: true
        }
      ],
      items: [
        // {
        //   isActive: true,
        //   id: 1,
        //   packagename: "Пакет Яровой",
        //   category: "Бесполезное",
        //   cost: 666666,
        //   income: 5000,
        //   buyer: "Правительство РФ",
        //   date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        // },
        // {
        //   isActive: true,
        //   id: 2,
        //   packagename: "Пакет Яровой",
        //   category: "Бесполезное",
        //   cost: 66666,
        //   income: 500,
        //   menthor: "Виталя Р.К.",
        //   buyer: "Правительство РФ",
        //   date: moment("01-10-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        // },
      ]
    };
  },
  methods: {
    scrolltoTop() {
      this.$refs.analyticsStart.scrollIntoView({
        behavior: "smooth",
        block: "start"
      });
    }
  },
  computed: {
    rows() {
      return this.items.length;
    }
  }
};
</script>

<style>
.franchisee-cost-info {
  width: 10%;
  text-align: center;
}
</style>
