<template>
  <section id="ip-files">
    <div class="row mt-3">
      <div class="col-5 pl-0 admin-formGroup">
        <input
          name="name"
          style="margin-top: 0"
          v-model="formGroup.name"
          placeholder="Наименование"
        />
        <input
          @input="setInn($event.target.value)"
          type="text"
          v-mask="'############'"
          name="inn"
          v-model="formGroup.inn"
          placeholder="ИНН"
          :class="{
            invalid: $v.formGroup.inn.$dirty && !$v.formGroup.inn.minLength,
          }"
        />
        <input
          @input="setOGRN($event.target.value)"
          type="text"
          v-mask="'###############'"
          name="OGRN"
          v-model="formGroup.ogrn"
          placeholder="ОГРНИП"
          :class="{
            invalid: $v.formGroup.ogrn.$dirty && !$v.formGroup.ogrn.minLength,
          }"
        />
        <input
          @input="setPassport($event.target.value)"
          type="text"
          v-mask="'##-##-######'"
          name="passport"
          v-model="formGroup.passport"
          placeholder="Серия/номер паспорта"
          :class="{
            invalid:
              $v.formGroup.passport.$dirty && !$v.formGroup.passport.minLength,
          }"
        />
        <input
          name="passportWho"
          v-model="formGroup.passportWho"
          placeholder="Кем выдан"
        />
        <input
          type="date"
          name="passportWhen"
          v-model="formGroup.passportWhen"
          placeholder="Дата выдачи"
        />
        <input
          @input="setEmail($event.target.value)"
          type="email"
          name="email"
          v-model="formGroup.email"
          placeholder="Email"
          :class="{
            invalid:
              ($v.formGroup.email.$dirty && !$v.formGroup.email.email) ||
              ($v.formGroup.email.$dirty && !$v.formGroup.email.minLength),
          }"
        />
        <input
          @input="setEmailBuch($event.target.value)"
          type="email"
          name="emailBuch"
          v-model="formGroup.emailBuch"
          placeholder="Email бухгалтерии"
          :class="{
            invalid:
              ($v.formGroup.emailBuch.$dirty &&
                !$v.formGroup.emailBuch.email) ||
              ($v.formGroup.emailBuch.$dirty &&
                !$v.formGroup.emailBuch.minLength),
          }"
        />
      </div>
      <div class="col-5 admin-formGroup">
        <h6 style="margin-bottom: 18px">Адреса и реквизиты</h6>
        <input
          name="urAdress"
          v-model="formGroup.urAdress"
          placeholder="Юр. Адрес"
        />
        <input
          name="adress"
          v-model="formGroup.adress"
          placeholder="Почтовый адрес"
        />
        <input
          @input="setRS($event.target.value)"
          type="text"
          v-mask="'####################'"
          name="RS"
          v-model="formGroup.rs"
          placeholder="Р/с"
          :class="{
            invalid: $v.formGroup.RS.$dirty && !$v.formGroup.RS.minLength,
          }"
        />
        <input
          @input="setCS($event.target.value)"
          type="text"
          v-mask="'####################'"
          name="CS"
          v-model="formGroup.cs"
          placeholder="К/с"
          :class="{
            invalid: $v.formGroup.CS.$dirty && !$v.formGroup.CS.minLength,
          }"
        />
        <input name="bank" v-model="formGroup.bank" placeholder="Банк" />
        <input
          @input="setBIK($event.target.value)"
          type="text"
          v-mask="'#########'"
          name="bik"
          v-model="formGroup.bik"
          placeholder="БИК"
          :class="{
            invalid: $v.formGroup.bik.$dirty && !$v.formGroup.bik.minLength,
          }"
        />
      </div>
    </div>

    <div class="row mt-3">
      <div class="col pl-0">
        <h5>Загрузите необходимые документы</h5>

        <button class="data-download-anketa mt-3">
          <p class="m-0">Скачать анкету франчайзи</p>
        </button>
      </div>
    </div>
    <div class="row mt-4">
      <div v-for="file in files" :key="file.id" class="col pl-0 flex-file-load">
        <p class="file-type">{{ file.description }}</p>
        <form id="formGroupIP">
          <input
            type="file"
            style="display: none"
            :id="`fileUpload${file.id}`"
            :name="`${file.name}`"
            :ref="`${file.id}`"
            @change="uploadPDF(file.id)"
          />
          <button
            @click.stop.prevent="handleUpload(file.id.toString())"
            class="load-files-franshisee size-load mt-auto text-truncate"
          >
            <p>
              {{
                file.file
                  ? file.file.name
                  : file.path
                  ? file.path
                      .split("/")
                      [file.path.split("/").length - 1].split(".")[0]
                  : "Загрузить PDF"
              }}
            </p>
          </button>
        </form>
      </div>
    </div>
    <div class="row justify-content-end my-4">
      <div class="col-4 text-right">
        <button
          class="load-files-franshisee size-confirm py-1"
          :class="{ disabled }"
          @click.stop.prevent="dataChange"
        >
          <p>Изменить мои данные</p>
        </button>
      </div>
    </div>
  </section>
</template>

<script>
import moment from "moment";
import { UserMapper } from "@/store/user";
import { email, required, minLength } from "vuelidate/lib/validators";
export default {
  name: "IPFiles",
  validations: {
    formGroup: {
      email: { email, required, minLength: minLength(5) },
      emailBuch: { email, required, minLength: minLength(5) },
      inn: { required, minLength: minLength(12) },
      ogrn: { required, minLength: minLength(15) },
      passport: { required, minLength: minLength(12) },
      rs: { required, minLength: minLength(20) },
      cs: { required, minLength: minLength(20) },
      bik: { required, minLength: minLength(9) },
    },
  },
  props: {
    inputs: {
      type: Object,
      required: true,
    },
  },
  data() {
    return {
      files: [
        {
          id: 1,
          name: "passportPDF",
          description: "Паспорт",
          file: null,
          path: "",
        },
        {
          id: 2,
          name: "ipPDF",
          description: "Свидетельство о регистрации ИП",
          file: null,
          path: "",
        },
        {
          id: 3,
          name: "innPDF",
          description: "ИНН организации",
          file: null,
          path: "",
        },
        {
          id: 4,
          name: "oqrnipPDF",
          description: "ОГРНИП",
          file: null,
          path: "",
        },
        {
          id: 5,
          name: "resumePDF",
          description: "Анкета партнёра",
          file: null,
          path: "",
        },
      ],
    };
  },

  methods: {
    handleUpload(id) {
      document.getElementById(`fileUpload${id}`).click();
    },

    uploadPDF(id) {
      this.files[id - 1].file = document.getElementById(
        `fileUpload${id}`
      ).files[0];
    },

    dataChange() {
      this.formGroup.passportWhen = moment(this.formGroup.passportWhen).format(
        "YYYY-MM-DD"
      );
      let data = this.formGroup;
      let formData = new FormData();
      this.files.forEach((file) => {
        if (file.file) {
          data[file.name] = file.file;
        } else {
          delete data[file.name];
        }
      });
      // delete data.user;
      Object.entries(data)
        .filter((i) => i[1])
        .forEach((i) => {
          if (i[0].indexOf("PDF") != -1 && i[1] == null) {
            delete data[i[0]];
          } else {
            formData.set(i[0], i[1]);
          }
        });
      formData.set("ip", true);
      this.$emit("changeData", formData);
    },
    setInn(value) {
      this.formGroup.inn = value;
      this.$v.formGroup.inn.$touch();
    },

    setOGRN(value) {
      this.formGroup.ogrn = value;
      this.$v.formGroup.ogrn.$touch();
    },

    setPassport(value) {
      this.formGroup.passport = value;
      this.$v.formGroup.passport.$touch();
    },

    setEmail(value) {
      this.formGroup.email = value;
      this.$v.formGroup.email.$touch();
    },

    setEmailBuch(value) {
      this.formGroup.emailBuch = value;
      this.$v.formGroup.emailBuch.$touch();
    },

    setRS(value) {
      this.formGroup.rs = value;
      this.$v.formGroup.rs.$touch();
    },

    setCS(value) {
      this.formGroup.cs = value;
      this.$v.formGroup.cs.$touch();
    },

    setBIK(value) {
      this.formGroup.bik = value;
      this.$v.formGroup.bik.$touch();
    },
  },
  watch: {
    inputs: {
      handler(newValue) {
        newValue
          ? this.files.forEach((file) => {
              file.path = newValue[file.name];
            })
          : null;
      },
    },
  },
  computed: {
    ...UserMapper.mapState(["me"]),
    formGroup: {
      get() {
        return { ...this.inputs, email: this.me.email };
      },
      set(newValue) {
        this.$emit("update:inputs", newValue);
      },
    },

    disabled() {
      const fill = Object.entries(this.formGroup)
        .filter((i) => ![false, "", null].includes(i[1]))
        .filter(
          (i) =>
            ![
              "passportPDF",
              "ipPDF",
              "innPDF",
              "oqrn",
              "resumePDF",
              "user",
              "id",
            ].includes(i[0])
        );
      const fileFill = this.files.filter((i) => i.file || i.path);

      return fill.length < 14 || fileFill.length < 5;
    },
  },
};
</script>

<style>
.disabled {
  pointer-events: none;
  color: #949191;
  background-color: lightgray !important;
  border: 1px solid #ffffff !important;
}
.flex-file-load {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.blue-link {
  color: #0038ff;
}
.blue-link:hover {
  text-decoration: underline;
  color: #0091ff;
}

.load-files-franshisee {
  background: #ffffff00;

  border: 1.5px solid #b42f26;
  box-sizing: border-box;
  border-radius: 50px;
  padding: 0;
  transition: 0.5s ease;
}
.load-files-franshisee > p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
}
.load-files-franshisee:hover {
  background: #b42f26;

  box-shadow: 0px 0px 15px #00000030;
}
.load-files-franshisee:hover > p,
.size-confirm > p {
  color: #ffffff;
}
.load-files-franshisee:focus,
.load-files-franshisee:active {
  transform: scale(1.05);
}
.size-load {
  height: 30px;
  width: 140px;
}
.size-confirm {
  background: #b42f26;
  height: 35px;
  width: 200px;
}

.data-download-anketa {
  border: unset;
  background: #b42f26;
  border-radius: 3px;
  height: 30px;
  width: 220px;
  padding: 0;
}
.data-download-anketa > p {
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
}
.invalid {
  border: 1px solid red !important;
}
.admin-formGroup > input {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  padding: 0.5vh 3%;
  transition: 0.5s ease;
  margin-bottom: 20px;
  margin-top: 0;
  width: 380px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
}
.admin-formGroup > input:hover {
  border: 1px solid lightgray;
}
.admin-formGroup > input:focus {
  border: 1px solid lightgray;
  outline: none;
}
</style>
