<template>
  <section id="children-tab">
    <!-- <DropdownFilters /> -->

    <div class="row mt-4" style="padding-left: 2.5rem; padding-right: 2.5rem">
      <div class="col-2 pl-0">
        <b-form-datepicker
          class="top-input flex-row-reverse"
          right
          no-flip
          placeholder="Дата"
          locale="ru"
          hide-header
          label-help=""
          :start-weekday="1"
          value-as-date
          :date-format-options="{
            year: 'numeric',
            month: 'numeric',
            day: 'numeric',
          }"
          @input="(date) => (selectVal.date = date.getTime())"
          v-model="chosenDate"
        ></b-form-datepicker>
      </div>
      <div class="col-4 ml-4">
        <b-input
          class="top-input search-bg"
          placeholder="Поиск"
          v-model="filter.search"
        ></b-input>
      </div>
      <div
        class="col-2 my-auto"
        @click="show = !show"
        style="display: flex; align-items: center"
      >
        <img
          src="@/assets/img/admin-icons/filters.png"
          alt=""
          class="img-filters mr-2"
        />
        <h5 class="pointer m-0">Фильтры</h5>
      </div>
      <div class="col"></div>
      <div class="col-2 col-button">
        <b-button variant="download" pill
          ><p class="m-0">Скачать отчет</p>
        </b-button>
      </div>
      <div class="col-12 mt-4 p-0" v-show="show">
        <div class="row">
          <div class="col-3 pl-0">
            <!-- <b-form-select
              v-model="selectVal.programm"
              :options="programs"
            ></b-form-select> -->

            <div class="dropdown my-auto">
              <button
                class="btn py-1 w-100 btn-filter dropdown-toggle"
                type="button"
                id="diagramm-programm-sort"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <p v-if="selectVal.programm == undefined">Программа</p>
                <p v-else>{{ selectVal.programm }}</p>
              </button>
              <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
                <a
                  @click="selectVal.programm = 'Дошкольная'"
                  class="dropdown-item"
                  href="#"
                  >Дошкольная</a
                >
                <a
                  @click="selectVal.programm = 'Начальная школа'"
                  class="dropdown-item"
                  href="#"
                  >Начальная школа</a
                >
                <a
                  @click="selectVal.programm = 'Старшая школа'"
                  class="dropdown-item"
                  href="#"
                  >Старшая школа</a
                >
              </div>
            </div>
          </div>
          <div class="col-3 ml-4">
            <!-- <b-form-select
              v-model="selectVal.level"
              :options="levels"
            ></b-form-select> -->

            <div class="dropdown w-100 my-auto">
              <button
                class="btn py-1 w-100 btn-filter dropdown-toggle"
                type="button"
                id="diagramm-level-sort"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <p v-if="selectVal.level == undefined">Уровень</p>
                <p v-else>{{ selectVal.level }}</p>
              </button>
              <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
                <a
                  @click="selectVal.level = 'Silver'"
                  class="dropdown-item"
                  href="#"
                  >Silver</a
                >
                <a
                  @click="selectVal.level = 'Gold'"
                  class="dropdown-item"
                  href="#"
                  >Gold</a
                >
                <a
                  @click="selectVal.level = 'Platinum'"
                  class="dropdown-item"
                  href="#"
                  >Platinum</a
                >
              </div>
            </div>
          </div>

          <!-- <div class="col-3 ml-4">
            <div class="dropdown w-100 my-auto">
              <button
                class="btn py-1 w-100 btn-filter dropdown-toggle"
                type="button"
                id="diagramm-status-sort"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <p v-if="selectVal.learning == undefined">Статус обучения</p>
                <p v-else>{{ selectVal.learning }}</p>
              </button>
              <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
                <a
                  @click="selectVal.learning = 'Online'"
                  class="dropdown-item"
                  href="#"
                  >Online</a
                >
                <a
                  @click="selectVal.learning = 'Offline'"
                  class="dropdown-item"
                  href="#"
                  >Offline</a
                >
              </div>
            </div>
          </div> -->
          <div class="col-3 ml-4">
            <b-form-checkbox
              v-if="isAdmin"
              id="checkbox-my-children"
              v-model="selectVal.is_my"
              name="checkbox-my-children"
              :unchecked-value="undefined"
            >
              <span class="ml-2">Только мои дети</span>
            </b-form-checkbox>
          </div>
          <div class="col"></div>
          <div class="col-3 mt-4 pl-0">
            <div class="dropdown w-100 my-auto">
              <button
                class="btn py-1 w-100 btn-filter dropdown-toggle"
                type="button"
                id="diagramm-foxstory-sort"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <p v-if="selectVal.foxstory == undefined">Fox-Story</p>
                <p v-else>{{ selectVal.foxstory }}</p>
              </button>
              <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
                <a
                  v-for="(tale, i) in tales"
                  :key="i"
                  @click="selectVal.foxstory = tale"
                  class="dropdown-item"
                  href="#"
                  >{{ tale }}</a
                >
              </div>
            </div>
          </div>
          <div class="col-3 ml-4 mt-4">
            <!-- <b-form-select
              v-model="selectVal.age"
              :options="ages"
            ></b-form-select> -->

            <div class="dropdown w-100 my-auto">
              <button
                class="btn py-1 w-100 btn-filter dropdown-toggle"
                type="button"
                id="diagramm-age-sort"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <p v-if="selectVal.age == undefined">Возраст</p>
                <p v-else>{{ selectVal.age }}</p>
              </button>
              <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
                <a
                  v-for="age in ageArray"
                  :key="age"
                  @click="selectVal.age = age"
                  class="dropdown-item"
                  href="#"
                  >{{ age }}</a
                >
              </div>
            </div>
          </div>
          <div class="col-3 ml-4 mt-4">
            <!-- <b-form-select
              :selected="selectVal.format"
              :options="formats"
            ></b-form-select> -->

            <div class="dropdown w-100 my-auto">
              <button
                class="btn py-1 w-100 btn-filter dropdown-toggle"
                type="button"
                id="diagramm-format-sort"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
              >
                <p v-if="selectVal.learning == undefined">Формат обучения</p>
                <p v-else>{{ selectVal.learning }}</p>
              </button>
              <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
                <a
                  @click="selectVal.learning = 'Online'"
                  class="dropdown-item"
                  href="#"
                  >Online</a
                >
                <a
                  @click="selectVal.learning = 'Offline'"
                  class="dropdown-item"
                  href="#"
                  >Offline</a
                >
              </div>
            </div>
          </div>
          <div
            @click="clearFilter"
            class="col mt-4 text-center pointer"
            style="
              display: flex;
              align-items: center;
              justify-content: flex-end;
            "
          >
            <img
              src="@/assets/img/admin-icons/fire-ellipse.png"
              alt=""
              class="img-filters mr-2"
            />
            <h5 class="m-0" @click="clearFilter">Сбросить</h5>
          </div>
        </div>
      </div>
    </div>

    <div class="row w-100 mt-4 table-analytics">
      <b-table
        hover
        ref="topchild"
        id="children-table"
        :items="filteredItems"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        @row-clicked="pushToChild"
        table-class="pointer"
        :filter="filter.search"
        sort-icon-left
      >
        <template #cell(date)="row">
          {{ formatDate(row.value) }}
        </template>
      </b-table>
    </div>

    <div class="row justify-content-center mt-2">
      <!-- @page-click="scrolltoTop" -->
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="children-table"
        class="m-0"
      ></b-pagination>
    </div>
    <div class="row w-100 justify-content-end px-4">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" active class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
  </section>
</template>

<script>
import moment from "moment";
export default {
  name: "TableChildren",
  props: {
    children: {
      type: Array,
      default: () => [],
    },
    linkName: {
      type: String,
      required: true,
    },
    isAdmin: {
      type: Boolean,
      default: false,
    },
  },
  data() {
    return {
      show: false,
      // *FILTER
      filter: {
        program: "",
        level: "",
        status: "",
        tale: "",
        age: "",
        format: "",
        date: undefined,
        search: "",
        is_my: undefined,
      },
      programs: [
        { value: "", text: "Программа" },
        "Дошкольная",
        "Начальная школа",
        "Старшая школа",
      ],
      levels: [{ value: "", text: "Уровень" }, "Silver", "Gold", "Platinum"],
      statuses: [{ value: "", text: "Статус обучения" }, "Good", "Bad", "???"],
      ages: [
        { value: "", text: "Возраст" },
        "5",
        "6",
        "7",
        "8",
        "9",
        "10",
        "11",
        "12",
        "13",
        "14",
        "15",
        "16",
      ],
      chosenDate: undefined,
      ageArray: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16],
      formats: [
        { value: undefined, text: "Формат обучения" },
        "Online",
        "Offline",
      ],

      messageTheme: "",
      perPage: "15",
      currentPage: 1,

      selectVal: {
        isActive: undefined,
        number: undefined,
        childname: undefined,
        learning: undefined,
        age: undefined,
        foxstory: undefined,
        level: undefined,
        programm: undefined,
        date: undefined,
        format: undefined,
      },
      // * FILTER
      fields: [
        {
          key: "number",
          label: "№",
          class: "child-id",
          sortable: true,
        },
        {
          key: "childname",
          label: "ФИО",
          class: "child-name",
          sortable: false,
        },
        {
          key: "age",
          label: "Возраст",
          class: "child-age",
          sortable: true,
        },
        {
          key: "foxstory",
          label: "Fox-Story",
          class: "child-foxstory",
          sortable: false,
        },
        {
          key: "level",
          label: "Уровень",
          class: "child-level",
          sortable: true,
        },
        {
          key: "programm",
          label: "Программа",
          class: "child-programm",
          sortable: false,
        },
        {
          key: "learning",
          label: "",
          class: "child-learning",
          sortable: true,
        },
        {
          key: "date",
          label: "Дата",
          class: "child-date",
          sortable: true,
        },
        {
          key: "is_my",
          label: "",
          class: "blockNone",
          sortable: true,
        },
      ],
    };
  },

  methods: {
    checkBoxLog(checked) {
      console.log("log", checked);
    },
    clearFilter() {
      this.filter = {
        program: "",
        level: "",
        status: "",
        tale: "",
        age: "",
        format: "",
        date: undefined,
        search: "",
        is_my: undefined,
      };

      this.selectVal = {
        isActive: undefined,
        number: undefined,
        childname: undefined,
        learning: undefined,
        age: undefined,
        foxstory: undefined,
        level: undefined,
        programm: undefined,
        date: undefined,
        format: undefined,
      };

      this.chosenDate = undefined;
    },
    scrolltoTop() {
      this.$refs.topchild.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },

    async pushToChild(item) {
      this.$router.push({
        name: this.linkName,
        params: { id: item.id },
      });
    },
  },
  computed: {
    rows() {
      return this.items.length;
    },
    items() {
      return this.children.map((child, i) => {
        return {
          number: i + 1,
          id: child.child.id,
          childname: `${child.child.surName} ${child.child.name} ${
            child.child.patronymic
          } ${child.child.ban ? "(Бан)" : ""}`,
          age: child.age,

          foxstory: child.tale,
          level: child.rank,
          learning: child.learning,
          programm:
            child.age < 8
              ? "Дошкольная"
              : child.age < 13
              ? "Начальная школа"
              : "Средняя школа",
          date: new Date(child.creation_date).getTime(),
          is_my: child.is_my ? child.is_my : false,
          search_date: moment(child.creation_date).format("DD.MM.YYYY"),
        };
      });
    },
    tales() {
      let tales = [];
      this.children.forEach((child) => {
        if (tales.indexOf(child.tale) == -1) {
          tales.push(child.tale);
        }
      });
      return tales;
    },

    filteredItems() {
      return this.items.filter((item) => {
        let keep = true;
        // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. If a key was missing, it defaulted to straight equality.
        this.fieldKeys.forEach((key) => {
          keep =
            keep && (!this.selectVal[key] || item[key] == this.selectVal[key]);
        });

        return keep;
      });
    },
    fieldKeys() {
      return Object.keys(this.items[0]);
    },
    options() {
      const options = {};
      this.fieldKeys.forEach((key) => {
        const vals = this.items.map((item) => item[key]);

        options[key] = Array.from(new Set(vals));
      });

      return options;
    },
  },
};
</script>

<style>
/* .table td,
.table th {
  padding-top: 0.9vh;
  padding-bottom: 0.9vh;
  font-size: 0.75rem;
} */
.height-children {
  height: 300px;
}
.child-id {
  width: 7%;
  padding-left: 2.5rem !important;
}
.child-age {
  width: 9%;
  text-align: center;
}
.child-foxstory {
  text-align: center;
}
.child-level {
  width: 12%;
}
.child-date {
  width: 9%;
  text-align: left;
  padding-right: 2.5rem !important;
}
.child-learning {
  display: none;
}
/* фильтры */

.filters-tab {
  background-color: #f0eff2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-filters {
  height: 30px;
  width: 30px;
}
.col-button {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.btn-download {
  border: 1.5px solid #ed8719;
  height: 30px;
  width: 130px;
  padding: 0;
}
.btn-download > p {
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
}
.custon-select {
  border: 1px solid #c4c4c4;
  background: #fefefe;
}
.custom-select:focus {
  box-shadow: none;
  border: 1px solid #ed8719;
}

.btn-filter {
  display: flex;
}
</style>
