<template>
  <div class="row mt-2">
    <div class="col">
      <div class="white-bg p-4">
        <p class="m-0 pl-3 mb-3 data-header">Общие данные</p>

        <div class="row w-100 base-franchisee-info-text">
          <div class="col-3"><p class="my-1">Тип:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ franchisee.ip ? "ИП" : "Организация" }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-franchisee-info-text">
          <div class="col-3"><p class="my-1">Телефон:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span>{{ franchisee.user.phone }}</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-franchisee-info-text">
          <div class="col-3"><p class="my-1">Email:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ franchisee.user.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-franchisee-info-text">
          <div class="col-6"><p class="my-1">Email бухгалтерии:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ franchisee.emailBuch.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-franchisee-info-text">
          <div class="col-5"><p class="my-1">Директор:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ franchisee.director }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-franchisee-info-text">
          <div class="col-3">
            <p class="my-1">Адрес:</p>
          </div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span>{{ franchisee.adress }}</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-franchisee-info-text">
          <div class="col-6"><p class="my-1">Юридический адрес:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span>{{ franchisee.urAdress }}</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
      </div>
    </div>

    <!-- второй столбец с информацией -->
    <div class="col-6 ml-5">
      <div class="white-bg h-100 p-4">
        <div class="row mb-3">
          <div class="col-8 text-left">
            <p class="m-0 data-header">Расчетные данные</p>
          </div>
        </div>

        <div class="row w-100 base-franchisee-info-text">
          <div class="col-3"><p class="my-1">Банк:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ franchisee.bank }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-franchisee-info-text">
          <div class="col-5"><p class="my-1">Расчестный счет</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ franchisee.rs }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-franchisee-info-text">
          <div class="col-6"><p class="my-1">Корреспондентский счёт</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ franchisee.cs }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-franchisee-info-text">
          <div class="col-5"><p class="my-1">BIK</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ franchisee.bik }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-franchisee-info-text">
          <div class="col-3"><p class="my-1">ИНН</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ franchisee.inn }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-franchisee-info-text">
          <div class="col-3"><p class="my-1">OGRN/OGRNIP</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ franchisee.ogrn }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-franchisee-info-text">
          <div class="col-3"><p class="my-1">KPP</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ franchisee.KPP }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 franchisee-info-hr" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { SalesManagerMapper } from "@/store/salesManager";

export default {
  name: "FranchiseeBaseInfo",
  data() {
    return {};
  },

  computed: {
    ...SalesManagerMapper.mapState(["franchisee"]),
  },
};
</script>

<style>
.data-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.base-franchisee-info-text {
  font-size: 1rem;
  color: #2b2a29;
}
.franchisee-info-hr {
  border: 0.1px dashed #c4c4c4;
}
</style>
