<template>
  <div
    class="slide"
    :ref="term.id"
    @click="$emit('show', term)"
    :class="{
      now,
      first: term.id % 4 == 1 || (term.id % 2 == 1 && portrait),

      last:
        term.id % 4 == 0 || last || ((term.id % 2 == 0 || last) && portrait),

      success: term.success,
    }"
  >
    <div class="slide-body opacity-anim-shorter">
      <div class="slide-img">
        <img
          :src="
            require(`@/assets/img/business-vocabulary/` +
              term.id.toString() +
              `.png`)
          "
          :alt="term.name"
        />
      </div>
      <div class="slide-text opacity-zero">
        <span class="span-text opacity-zero">{{ term.name }}</span>
      </div>
    </div>
    <div class="number opacity-zero">
      <img
        v-show="term.success"
        src="@/assets/img/icons/check-white.svg"
        alt="готово"
      />
      <span v-show="!term.success">{{ term.id }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "Slide",
  props: {
    term: Object,
    now: Boolean,
    last: Boolean,
  },
  data() {
    return {
      portrait: false,
    };
  },
  methods: {
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    changeOrientation() {
      if (screen.width < 1439) {
        this.portrait = true;
      } else {
        this.portrait = false;
      }
      // console.log(this.portrait);
    },
  },

  created() {
    window.addEventListener("resize", this.changeOrientation);
  },
  destroyed() {
    window.removeEventListener("resize", this.changeOrientation);
  },
  mounted() {
    if (screen.width < 1439) {
      this.portrait = true;
    } else {
      this.portrait = false;
    }

    // console.log(this.portrait);
  },
};
</script>

<style scoped>
/* //!SLIDE */
.slide {
  width: 25%;
  height: 51%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: space-around;
  transition: 0.5s ease;
  cursor: pointer;
  pointer-events: none;
  outline: none;
}
.slide.now {
  pointer-events: auto;
}
.slide:hover .slide-body {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
.slide-body {
  background: #ffffff;
  width: 100%;
  height: 75%;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: flex-end;
  position: relative;
  border-radius: 2rem;
  transition: 0.5s ease;
}
.slide-img {
  width: 100%;
  height: 70%;
  border-radius: 2rem 2rem 0 0;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.slide-img > img {
  width: 90%;
  height: 100%;
  object-fit: contain;
}
.slide-text {
  width: 100%;
  height: 25%;
  background: #f9f9f9ff;
  display: flex;
  color: #72716f;
  z-index: 2;
}
.number {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  background-color: #f9f9f9ff;
  color: #72716f;
  display: flex;
}
.number > img {
  width: 55%;
  /* height: auto; */
  object-fit: contain;
  margin: auto;
}
.slide-text > span,
.number > span {
  margin: auto;
  font-weight: bold;
  font-size: 1rem;
  line-height: 1rem;
  text-align: center;
}
.slide .slide-body::before {
  content: "";
  position: absolute;
  width: 50%;
  height: 23%;
  bottom: 1%;
  /* top: 0; */
  left: 0;
}
.slide .slide-body::after {
  content: "";
  position: absolute;
  width: 50%;
  height: 25%;
  bottom: 0;
  right: 0;
}
/* //!SLIDE FIRST */
.slide.first .slide-text {
  border-radius: 2rem 0 0 2rem;
}
.slide.first .slide-body::before {
  border-radius: 2rem 0 0 2rem;
}
/* //!SLIDE LAST */

.slide.last .slide-text {
  border-radius: 0 2rem 2rem 0;
}
.slide.last .slide-body::after {
  border-radius: 0 2rem 2rem 0;
}

/* //!SLIDE NOW */

.slide.now .number {
  border: 2px solid #ffde3bff;
  background-color: #fff;
  color: #000;
}

.slide.now .slide-body {
  border-radius: 2rem;
  box-shadow: 0 0 15px rgb(0 0 0 / 10%);
}
.slide.now .slide-text {
  color: #000;
  border-radius: 2rem;
  border: 4px solid #ffde3bff;
  background-color: #fff;
  transition: 0.5s;
}
.slide.now .slide-text:hover {
  background-color: #ffde3bff;
}

.slide.now .slide-body::after {
  background: #f9f9f9ff;
}

.slide.now .slide-body::before {
  background: #ffde3bff;
}

/* //!SLIDE SUCCESS */

.slide.success .slide-text {
  background-color: #ffde3bff;
  border: 2px solid #fff;
  /* border-top-width: 0; */
  /* border-bottom-width: 0; */
  border-right-width: 0;
  border-radius: 2rem 0 0 2rem;
  color: #000;
}
.slide.success .slide-body::before {
  background-color: #ffde3bff;
}
.slide.success.last .slide-body::after {
  border-radius: 2rem;
}
.slide.success.last .slide-text {
  border-radius: 2rem;
}
.slide.success .number {
  background: #ffde3bff;
  border: none;
}

/* @media (max-width: 1050px) {
  .slide-text > span,
  .number > span {
    font-size: 0.9rem;
    line-height: 0.9rem;
  }
}
@media (max-width: 850px) {
  .slide-text > span,
  .number > span {
    font-size: 0.65rem;
    line-height: 0.65rem;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .slide {
    width: 50%;
    height: 265px;
  }
}
</style>