<template>
  <section
    id="analyticsBranch"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row pt-1">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Назад
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto pt-0">
          <p class="header-admin m-0">Аналитика</p>
        </div>
      </div>
    </div>
    <div
      class="
        contaiter-fluid
        agent-container
        py-4
        relative-block
        mx-3
        mr-4
        mt-3
        pl-4
      "
    >
      <hr class="invisible" />

      <div class="row mt-2">
        <div class="col-2">
          <p class="m-0 a-row-data-label">Наименование:</p>
        </div>
        <div class="col text-left a-row-data">
          {{ branch.name || "" }}
        </div>
        <div class="mr-4 pr-3">
          <button href="#" class="button-download-branch anketa-width">
            <p>Скачать анкету</p>
          </button>
        </div>
        <div class="mr-5">
          <button
            @click="toastDocuments()"
            class="button-download-branch documents-width"
          >
            <p>Скачать документы</p>
          </button>
        </div>
        <div class="col-2 text-right">
          <button
            v-b-tooltip.hover
            title="Заблокировать филиал"
            @click="$bvModal.show('modal-fire-branch')"
            class="button-add-menthor red mr-3 w-100 py-2 px-4"
          >
            Заблокировать филиал
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-2">
          <p class="m-0 a-row-data-label">Регион:</p>
        </div>
        <div class="col text-left a-row-data">
          {{ branch.region || "" }}
        </div>
      </div>
      <BaseInfo
        :groupCount="groupCount"
        :childCount="childCount"
        :mentorCount="mentorCount"
        class="py-3 mt-4"
      />
    </div>

    <div
      class="contaiter-fluid agent-container p-0 py-4 relative-block mx-3 mr-4"
      style="margin-top: 35px; margin-bottom: 70px"
    >
      <b-tabs
        active-nav-item-class="active-tab-analytics"
        content-class="mt-2"
        class="mt-3"
        nav-class="w-fit width-mentor-tabs"
        nav-wrapper-class="analytics-tab-title"
        lazy
        fill
      >
        <b-tab title="Менторы" active>
          <TableMenthors
            linkName="admin-branch-mentor-info"
            :mentors="mentors"
            @fire="fireMentor"
          />
        </b-tab>

        <b-tab title="Дети">
          <TableChildren
            linkName="admin-branch-child-info"
            :children="children"
          />
        </b-tab>

        <b-tab title="Финансы"
          ><TableBranchAnalytics tableHeightclass="height-thicc" />
        </b-tab>
      </b-tabs>
    </div>
    <ModalConfirmation
      @ok="banBranch({ id: branch.id, data: { ban: true } })"
    />
  </section>
</template>

<script>
import toast from "@/mixins/toast";
import BaseInfo from "@/components/franchisee/analytics/branch-info/BaseInfo.vue";
import { FranchiseeMapper } from "@/store/franchisee";
import TableMenthors from "@/components/franchisee/analytics/branch-info/TableMenthors.vue";
import ModalConfirmation from "@/components/franchisee/analytics/more-info/modalConfirmation.vue";
import TableChildren from "@/components/franchisee/analytics/branch-info/tab-children/TableChildren.vue";
import TableBranchAnalytics from "@/components/branch/analytics/TableBranchAnalytics.vue";
export default {
  name: "Branch",
  components: {
    BaseInfo,
    TableBranchAnalytics,
    TableChildren,
    TableMenthors,
    ModalConfirmation,
  },
  data() {
    return {
      overlay: false,
    };
  },
  computed: {
    ...FranchiseeMapper.mapState(["error", "branch", "mentors", "children"]),
    ...FranchiseeMapper.mapGetters(["groupCount", "mentorCount", "childCount"]),
  },

  methods: {
    toast,
    ...FranchiseeMapper.mapActions([
      "getBranch",
      "getMentors",
      "getChildren",
      "banBranch",
      "patchMentor",
    ]),
    async fireMentor(data) {
      await this.patchMentor(data);
      if (!this.error) {
        this.toast("Успех", "Ментор успешно уволен.", "success");
        await this.getMentors(this.$route.params.id);
      } else {
        this.toast(
          "Ошибка",
          "Не удалось уволить ментора. Обратитесь за помощью к администрации приложения.",
          "danger"
        );
      }
    },
    toastDocuments() {
      let a = document.createElement("a");
      a.href = this.branch.registrationSertificatePDF;
      a.target = "_blank";
      a.click();
      a.href = this.branch.accountingSertificatePDF;
      a.target = "_blank";
      a.click();
      a.href = this.branch.partnerFormPDF;
      a.target = "_blank";
      a.click();
      this.$bvToast.toast(`Начато скачивание документов филиала`, {
        title: "Скачивание началось",
        autoHideDelay: 5000,
        solid: true,
        variant: "info",
      });
    },
  },
  async mounted() {
    await this.getBranch(this.$route.params.id);
    await this.getMentors(this.$route.params.id);
    await this.getChildren(this.$route.params.id);
  },
};
</script>

<style>
.add-menthor-link {
  top: 2vh;
  right: 1.5vw;
  font-size: 0.7rem;
  color: #0038ff;
  z-index: 10;
  transition: 0.5s ease;
  text-decoration: none;
}
.button-add-menthor {
  background: #9aafd5;
  border-radius: 3px;
  border: none;
  outline: none;
  padding: 5px 10px;
  color: #fefefe;
  font-size: 14px;
  line-height: 17px;

  box-shadow: unset;
  transition: 0.5s ease;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}
.button-add-menthor.red {
  background-color: #f22929;
}
.button-add-menthor:hover {
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.19);
}
.button-add-menthor:active {
  color: #000000;
}
.header-admin {
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 37px;
  letter-spacing: 0em;
  text-align: left;
}
.add-menthor-link:hover {
  text-decoration: underline;
  color: #0091ff;
}
.analytics-tab-title {
  padding-top: 0vh;
  padding-bottom: 0vh;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: #fefefe !important;
}

.analytics-tab-title .nav-link {
  color: #fefefe !important;
  background: #c4c4c4;
  border-radius: 6px;

  padding-bottom: 0;
}
.active-tab-analytics,
.active-tab-mentor {
  background: #9aafd5 !important;
}
.active-tab-analytics[aria-posinset="2"] {
  background: #ed8719 !important;
}
.active-tab-analytics[aria-posinset="3"] {
  background: #1c8845 !important;
}
.nav-link {
  background: #e4e4e4;
  padding: 0.25rem 1rem;
}

.hidden {
  visibility: hidden;
}
.overlay {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1000;
  transition: 0.5s ease;
}
.overlay_invisible {
  background: none;
  z-index: -1000;
  display: none;
}
.nav-tabs .nav-link {
  padding: 0.5rem 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff !important;
  background: #c4c4c4;
  border-radius: 6px;
}

/* кнопки, что видны лишь франчазии */

.button-download-branch {
  border: 1.5px solid #249ddd;
  background: #ffffff00;
  box-sizing: border-box;
  border-radius: 40px;
  padding: 0;
  height: 35px;
  transition: 0.5s ease;
}
.button-download-branch > p {
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
  margin: 0;
}
.button-download-branch:hover {
  background: #249ddd;
  box-shadow: 0px 0px 15px #00000030;
}
.button-download-branch:hover > p {
  color: #ffffff;
}
.anketa-width {
  width: 145px;
}
.documents-width {
  width: 175px;
}

.nav-tabs .nav-item {
  margin-right: 25px;
}

.width-mentor-tabs .nav-item {
  width: 120px !important;
}
</style>

<style scoped></style>
