<template>
  <section
    id="buy-franchisee"
    class="animate__animated animate__fadeIn no-select"
  >
    <ModalAddBranch />
    <div class="contaiter-fluid relative-block pt-4 mr-2 mt-2">
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Аналитика</p>
        </div>
        <div class="col-3 text-right my-auto">
          <button
            href="#"
            @click="$bvModal.show('add-branch-modal')"
            class="button-add-branch"
          >
            <p>Добавить филиал</p>
          </button>
        </div>
      </div>
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mt-3 mr-4 pl-4"
    >
      <hr class="hr-invisible m-0 pt-3" />

      <BaseInfoFranchAnal
        :childCount="allChildCount"
        :groupCount="allGroupCount"
        :mentorCount="allMentorCount"
        :branchCount="allBranchCount"
      />
      <hr class="hr-invisible m-0 pt-0" style="padding-bottom: 2rem" />
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mr-4"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <b-tabs
        active-nav-item-class="active-tab-analytics"
        content-class="mt-2"
        class="pt-4"
        nav-class="w-fit width-moreinfo-tabs"
        nav-wrapper-class="analytics-tab-title"
        fill
      >
        <b-tab title="Филиалы">
          <TableBranches
            linkName="admin-branch-info"
            :branches="branches"
            @ban="blockBranch"
            @make-main="makeMain"
          />
        </b-tab>
        <b-tab title="Финансы"><TableAnalytics /></b-tab>
      </b-tabs>
    </div>
  </section>
</template>

<script>
// import DropDown from "@/components/franchisee/analytics/DropDown.vue";
import { numberWithSpaces } from "@/mixins/number";
import { FranchiseeMapper } from "@/store/franchisee";
import { AdminMapper } from "@/store/admin";
import ModalAddBranch from "@/components/franchisee/analytics/branches/ModalAddBranch.vue";
import BaseInfoFranchAnal from "@/components/franchisee/analytics/more-info/BaseInfoFranchAnal.vue";
import TableAnalytics from "@/components/franchisee/analytics/more-info/TableAnalytics.vue";
import TableBranches from "@/components/franchisee/analytics/more-info/TableBranches.vue";

export default {
  name: "AllBranchesAnalytics",
  components: {
    ModalAddBranch,
    BaseInfoFranchAnal,
    TableAnalytics,
    TableBranches,
    // DropDown,
  },
  data() {
    return {
      overlay: false,
      packageName: "Название пакета",
      regionName: "Регион",

      registrations: {
        total: 5840,
        used: 1840,
      },
    };
  },
  computed: {
    ...FranchiseeMapper.mapGetters([
      "allChildCount",
      "allMentorCount",
      "allGroupCount",
      "allBranchCount",
    ]),
    ...FranchiseeMapper.mapState(["branches"]),
  },
  methods: {
    numberWithSpaces,
    ...FranchiseeMapper.mapActions(["getBranchs", "banBranch"]),
    ...AdminMapper.mapActions(["makeMainBranch"]),
    async blockBranch(data) {
      await this.banBranch(data);
    },
    async makeMain(id) {
      await this.makeMainBranch({ id, data: { main: true } });
      await this.getBranchs();
    },
  },
  async mounted() {
    await this.getBranchs();
  },
};
</script>

<style>
.number-reg {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.wrap-base-economics {
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: #4a4a4a;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.btn-filter {
  background-color: #fefefe;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;
  width: 200px;
  height: 30px;
  transition: 0.5s ease;
}
.btn-filter p {
  color: #2b2a29;
}
.button-add-branch {
  background: #249ddd;
  border-radius: 3px;
  padding: 0;
  height: 30px;
  width: 150px;

  border: none;
  transition: 0.5s ease;
}
.button-add-branch:hover {
  box-shadow: 0px 0px 15px #00000030;
}
.button-add-branch:active,
.button-add-branch:focus {
  transform: scale(1.05);
}
.button-add-branch > p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
}

.active-tab-analytics {
  background: #249ddd !important;
}
.active-tab-analytics[aria-posinset="2"] {
  background: #1c8845 !important;
}
.analytics-tab-title {
  padding: 0;
  padding-top: 2px;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: #fefefe !important;
}

.analytics-tab-title .nav-link {
  padding: 0;
  padding-top: 2px;
  color: #fefefe !important;
  background: #c4c4c4;
  border-radius: 6px;
}

.text-choise {
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #2b2a29;
}

.overlay {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1000;
  transition: 0.5s ease;
}
.overlay_invisible {
  background: none;
  z-index: -1000;
  display: none;
}

.nav-tabs .nav-item {
  margin-right: 25px;
}
.width-moreinfo-tabs .nav-item {
  width: 120px !important;
}

.category-dropdown.show > button {
  border: 1px solid #b42f26;
}
</style>