<template>
  <section id="PersonalPage" class="personalpage-bg">
    <div
      class="
        container-fluid
        p-0
        full-height-container
        animate__animated animate__fadeIn
      "
    >
      <Header @logout="logOut" :user="me" />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel :items="sidePanelItems" @logout="logOut" />
        <div class="col-md p-0 overflow-auto h-100">
          <router-view></router-view>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import Header from "@/components/main/header/Header.vue";
import SidePanel from "@/components/main/SidePanel.vue";
import { UserMapper } from "@/store/user";

export default {
  name: "Parent",
  components: {
    Header,
    SidePanel,
  },
  data() {
    return {
      sidePanelItems: [
        {
          id: 1,
          img: "my_account.png",
          linkName: "parent-children",
          text: "Личный кабинет",
        },
        {
          id: 2,
          img: "MDclub.png",
          linkName: "parent-momdadclub",
          text: "МамаПапа клуб",
        },
        {
          id: 3,
          img: "my_profile.png",
          linkName: "parent",
          text: "Мой профиль",
          exact: true,
        },
      ],
    };
  },
  computed: {
    ...UserMapper.mapState(["error", "me"]),
  },
  methods: {
    ...UserMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "main-login" });
      } else {
        this.errorToast(this.error);
      }
    },
  },
};
</script>

<style scoped>
</style>