<template>
  <section id="mychild" class="animate__animated animate__fadeIn" v-if="child">
    <div class="row w-100">
      <!-- Информация об успехах ребенка -->
      <div class="col-md pl-3 pr-2">
        <div class="contaiter my-child-container mt-5">
          <!-- Строка с именем, балансом и рангом ребенка -->
          <div class="row ml-4 pt-5 pb-4 pr-2">
            <div class="col-md-9">
              <div class="row no-wrap">
                <!-- Аватарка ребенка -->
                <div class="col-md-2 pl-0">
                  <img class="img-fluid round-icon" :src="userImg" />
                </div>
                <div class="col-md-10 no-select">
                  <!-- Имя ребенка -->
                  <div class="row">
                    <div class="col-md-12">
                      <h1>
                        {{ child.child.surName }} {{ child.child.name }}
                        {{ child.child.patronymic }}
                      </h1>
                    </div>
                  </div>
                  <!-- Ранг и баланс -->
                  <div class="row">
                    <div class="col-md-6 p-0">
                      <div class="row">
                        <div class="col-md-2 my-auto pr-5">
                          <img src="@/assets/img/icons/silver.png" />
                        </div>
                        <div class="col-md-4 my-auto p-0">
                          <p class="m-0 rank-text">{{ child.rank }}</p>
                        </div>
                        <div class="col-md-2 my-auto">
                          <p class="m-0 rank-text">{{ child.coins }}</p>
                        </div>
                        <div class="col-md-2 my-auto">
                          <img src="@/assets/img/icons/coin.png" />
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- <div class="col-md-3 my-auto text-left">
              <button type="button" class="btn btn-profile-tab pay-to-account">
                <p>Пополнить счет</p>
              </button>
            </div> -->
            <div
              class="col-md-3 my-auto text-center py-3"
              style="border-radius: 15px; border: 5px solid #ed8719"
            >
              <!-- <button
                v-b-modal.sber-fill-modal
                type="button"
                class="btn btn-profile-tab pay-to-account"
              > -->
              <h4 style="text-align: center">Пополнить баланс</h4>
              <b-form-input
                class="mx-auto w-75"
                v-model="value"
                type="number"
                placeholder="Сумма пополнения счета"
              ></b-form-input>
              <button
                @click="
                  createTransaction(value, 'Пополнение баланса', 'payment_PA')
                "
                type="button"
                class="btn btn-profile-tab w-75 mx-auto mt-2 pay-to-account"
              >
                Пополнить счет
              </button>
              <!-- </button> -->
            </div>
          </div>
          <!-- Вкладки -->
          <div class="row">
            <div class="col-md-12 mt-4">
              <ul
                class="
                  child-nav
                  nav
                  w-100
                  nav-tabs
                  text-center
                  px-4
                  justify-content-center
                "
              >
                <li class="nav-item w-50">
                  <a
                    class="nav-link nav-link-regular active"
                    data-toggle="tab"
                    href="#child-performance"
                    >Успеваемость по сказкам</a
                  >
                </li>
                <li class="nav-item w-50">
                  <a
                    class="nav-link nav-link-regular"
                    data-toggle="tab"
                    href="#child-data"
                    >Личные данные</a
                  >
                </li>
              </ul>
            </div>
          </div>
          <!-- Контент на вкладках -->
          <div class="row w-100 m-0 tab-content">
            <div class="tab-pane fade w-100 show active" id="child-performance">
              <TabTales :child="child" @createtransaction="createTransaction" />
            </div>
            <div class="tab-pane fade w-100" id="child-data">
              <FormUpdate :form="form" @change="changeChild" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
//import { Mutations } from "vuex-smart-module";
import axios from "axios";
import { store } from "@/store";
import { ChildMapper } from "@/store/child";
import { UserMapper } from "@/store/user";
import { TaleMapper } from "@/store/tale";

import TabTales from "@/components/parent/child/TabTales.vue";
import FormUpdate from "@/components/parent/child/FormUpdate.vue";
export default {
  data() {
    return {
      value: null,
      loading: false,
      child: null,
      tales: [],
      form: {
        name: "",
        surName: "",
        patronymic: "",
        slogan: "",
      },
    };
  },
  components: {
    TabTales,
    FormUpdate,
  },
  computed: {
    ...ChildMapper.mapState([{ childError: "error" }, "kid"]),
    ...TaleMapper.mapState({ taleError: "error" }),
    ...UserMapper.mapState({ userError: "error" }),
    userImg() {
      if (this.child.child.img) {
        return process.env.VUE_APP_API_URL + this.child.child.img;
      }
      return require("@/assets/img/icons/big-child-avatar.png");
    },
  },
  methods: {
    ...ChildMapper.mapActions(["getChildById", "patchChildById", "getChild"]),
    ...UserMapper.mapActions(["patchUserById", "me"]),
    ...TaleMapper.mapActions({ getChildTales: "getChildTalesById" }),
    ...ChildMapper.mapMutations(["setChild", "patchTales"]),
    ...TaleMapper.mapActions(["patchTales"]),


    async createTransaction(value, title, category, id) {
      console.log(value);
      console.log(title);
      console.log(category);
      console.log(this.me);

      this.loading = true;
      let createdTransaction = null;
      try {
        let response = await axios.post(
          `${process.env.VUE_APP_API_URL}api/v1/transactions/`,
          { value, name: title, user: this.me, category: category },
          {
            headers: {
              token: store.getters["UserStore/token"],
            },
          }
        );
        createdTransaction = response.data.data;

        //console.log(response.data.data);
      } catch (error) {
        return this.errorToast(error.response.data);
      }
      try {
        let queryValue = btoa(
          JSON.stringify({
            transaction: createdTransaction._id,
            child: this.child.id,
            taleId: id,
          })
        );

        let response = await axios.post(
          `http://b-fox.megaorion.ru/payment/rest/register.do?amount=${
            createdTransaction.value * 100
          }&currency=643&language=ru&orderNumber=${
            createdTransaction._id
          }&returnUrl=http://b-fox.megaorion.ru/parent/children/mychild?pay=${queryValue}&password=T5024213977&userName=T5024213977-api`
        );
        let formUrl = response.data.formUrl;
        if (formUrl) {
          window.location.href = formUrl;
        } else {
          await this.createTransaction(value, title, category, id);
        }
      } catch (error) {
        return this.errorToast(error.response.data);
      }
    },
    async changeChild(data) {
      await this.patchChildById({ id: this.$route.params.childId, data });
      if (!this.childError) {
        await this.patchUserById({ id: this.child.child.id, data }, false);
        if (!this.userError) {
          this.toast(
            "Данные обновлены",
            "Данные о ребенко успешно обновлены",
            "success"
          );
          await this.getChildByIdOrError();
          return;
        }
        this.errorToast(this.userError);
        return;
      }
      this.errorToast(this.childError);
    },
    async getChildByIdOrError() {
      let child = await this.getChildById(this.$route.params.childId);
      if (!this.childError) {
        this.child = child;
        console.log(this.child);
        this.form = {
          name: child.child.name,
          surName: child.child.surName,
          patronymic: child.child.patronymic,
          slogan: child.slogan,
        };
        return;
      }
      await this.getChild(this.child.id);
      console.log(this.kid);
      //this.errorToast(this.childError);
    },
    async getChildTalesOrError() {
      let tales = await this.getChildTales(this.$route.params.childId);
      if (!this.taleError) {
        this.tales = tales;
        return;
      }
      //this.errorToast(this.taleError);
    },
  },
  async mounted() {
    let value = this.$route.query.pay;
    if (value) {
      let error = null;
      let data = JSON.parse(atob(value));
      if (data.transaction && data.child) {
        data.order_id = this.$route.query.orderId;
        let paidTransaction = await axios
          .post(
            `${process.env.VUE_APP_API_URL}api/v1/transactions/pay/`,
            data,
            {
              headers: {
                token: store.getters["UserStore/token"],
              },
            }
          )
          .catch((err) => (error = err.response.data));
        if (!error) {
          if (paidTransaction.data.data.name == "Оплата ЛК") {
            this.setChild({
              ...this.child,
              foxies: this.child.foxies + paidTransaction.data.data.value,
            });
          }

          if (paidTransaction.data.data.name == "Оплата сказки") {
            let taleId = data.taleId;
            console.log(taleId);
            await this.patchTales(taleId);
          }

          this.toast("Успешно", "Пополнение успешно проведено", "success");
        }
      }
    }
    await this.getChildByIdOrError();
    await this.getChildTalesOrError();
    
  },
};
</script>
