<template>
  <section id="mychildren" class="animate__animated animate__fadeIn">
    <div class="contaiter-fluid ml-2 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2 pb-2">
        <div class="row ml-4 mb-4">
          <div class="col-4 mt-4">
            <h1>Дети</h1>
          </div>
        </div>
        <div v-if="children.length > 0">
          <div
            class="row pl-3 w-100 no-wrap row__children pointer no-select my-2"
            @click="goToChild(child)"
            v-for="child in children"
            :key="child.id"
          >
            <div class="col-md-1">
              <b-img :src="userImg(child.child)" class="round-icon" fluid />
            </div>
            <div class="col-md-5 p-0 my-auto">
              <p class="table-item">
                {{ child.child.surName }} {{ child.child.name }}
                {{ child.child.patronymic }}
              </p>
            </div>
          </div>
        </div>
        <h3 v-else class="text-center w-100">Список детей пуст</h3>
      </div>
    </div>
    <FormAddChild @add="addChild" />
  </section>
</template>

<script>
import { ChildMapper } from "@/store/child";

import FormAddChild from "@/components/parent/children/FormAddChild.vue";
export default {
  name: "Children",
  components: {
    FormAddChild,
  },
  data() {
    return {
      children: [],
    };
  },
  computed: {
    ...ChildMapper.mapState(["parentChildren", "error"]),
  },
  methods: {
    ...ChildMapper.mapActions({
      getChildren: "getParentChildren",
      postChild: "postChild",
    }),
    async goToChild(child) {
      this.$router.push({
        name: "parent-child",
        params: { childId: child.id },
      });
    },
    async getChildrenOrError() {
      await this.getChildren();
      if (!this.error) {
        this.children = this.parentChildren;
        return;
      }
      this.errorToast(this.error);
    },
    async addChild(data) {
      await this.postChild(data);
      if (!this.error) {
        this.toast("Успешно", "Ребенок успешно зарегистрирован.", "success");
        await this.getChildrenOrError();
        return;
      }
      this.errorToast(this.error);
    },
    userImg(user) {
      if (user.img) {
        return process.env.VUE_APP_API_URL + user.img;
      }
      return require("@/assets/img/icons/profileicon.png");
    },
  },
  async mounted() {
    await this.getChildrenOrError();
  },
};
</script>

<style>
</style>