<template>
  <section id="momdadclub" class="animate__animated animate__fadeIn">
    <div class="contaiter-fluid ml-2 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2">
        <div class="row ml-4">
          <div class="col-4 mt-4">
            <h1>Тренинги</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mt-4 pt-2">
            <ul class="nav nav-tabs w-50 ml-4">
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular active"
                  data-toggle="tab"
                  href="#trainings"
                  >Тренинги</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular"
                  data-toggle="tab"
                  href="#mytrainings"
                  >Мои тренинги</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row w-100 m-0 pt-2 tab-content">
          <div class="tab-pane fade w-100 show active" id="trainings">
            <TabelTrainings
              :coachings="freeCoachings"
              @detail="viewCoachingDetail"
              @signup="signUpForCoaching"
            />
          </div>
          <div class="tab-pane fade w-100" id="mytrainings">
            <TabelMyTrainings
              :coachings="myCoachings"
              @detail="viewCoachingDetail"
            />
          </div>
        </div>
      </div>
    </div>
    <b-modal
      lasy
      v-model="modalShow"
      centered
      hide-header
      hide-footer
      body-class="p-0"
      size="lg"
      hide-backdrop
    >
      <ModalCoaching
        :show="modalShow"
        :coaching="modalCoaching"
        :button="modalButton"
        @take="signUpForCoaching"
      />
    </b-modal>
  </section>
</template>

<script>
import { CoachingMapper } from "@/store/coaching";
import TabelTrainings from "@/components/parent/momdadclub/TabelTrainings.vue";
import ModalCoaching from "@/components/parent/momdadclub/ModalCoaching.vue";
import TabelMyTrainings from "@/components/parent/momdadclub/TabelMyTrainings.vue";

export default {
  name: "MomDadClub",
  components: {
    TabelTrainings,
    ModalCoaching,
    TabelMyTrainings,
  },
  data() {
    return {
      freeCoachings: [],
      myCoachings: [],
      modalCoaching: null,
      modalShow: false,
      modalButton: false,
    };
  },
  computed: {
    ...CoachingMapper.mapState([
      "parentFreeCoachings",
      "error",
      "parentCoachings",
    ]),
  },
  methods: {
    ...CoachingMapper.mapActions({
      getFreeCoachings: "getParentFreeCoachings",
      getMyCoachings: "getParentCoachings",
      signUpParentForCoaching: "signUpForCoaching",
    }),
    viewCoachingDetail(coaching, button) {
      this.modalCoaching = coaching;
      this.modalButton = button;
      this.modalShow = true;
    },
    async signUpForCoaching(coaching) {
      this.modalShow = false;
      this.modalButton = false;
      await this.signUpParentForCoaching(coaching.id);
      if (!this.error) {
        await this.getFreeCoachingsOrError();
        await this.getCoachingsOrError();
      }
      this.errorToast(this.error);
    },
    async getFreeCoachingsOrError() {
      await this.getFreeCoachings();
      if (!this.error) {
        this.freeCoachings = this.parentFreeCoachings;
        return;
      }
      this.errorToast(this.error);
    },
    async getCoachingsOrError() {
      await this.getMyCoachings();
      if (!this.error) {
        this.myCoachings = this.parentCoachings;
        return;
      }
      this.errorToast(this.error);
    },
  },
  async mounted() {
    await this.getFreeCoachingsOrError();
    await this.getCoachingsOrError();
  },
};
</script>

<style>
</style>