<template>
  <section id="my_profile" class="animate__animated animate__fadeIn">
    <div class="contaiter-fluid ml-2 mr-4">
      <div class="contaiter container-parent-page mt-5 mx-2">
        <div class="row ml-4 no-select">
          <div class="col-4 mt-4">
            <h1>Мой Профиль</h1>
          </div>
        </div>

        <div class="row">
          <div class="col-md-12 mt-4">
            <ul class="nav nav-tabs w-50 ml-4">
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular active"
                  data-toggle="tab"
                  href="#personaldata"
                  >Личные данные</a
                >
              </li>
              <li class="nav-item">
                <a
                  class="nav-link nav-link-regular"
                  data-toggle="tab"
                  href="#transactions"
                  >Транзакции</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="row w-100 m-0 tab-content">
          <div class="tab-pane fade w-100 show active" id="personaldata">
            <Info
              @profile-update="updateProfile"
              @img-update="updateImg"
              @password-update="updateProfile"
              :user="me"
            />
          </div>
          <div class="tab-pane fade w-100" id="transactions">
            <Transactions />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>


<script>
import Info from "@/components/parent/profile/Info.vue";
import Transactions from "@/components/parent/profile/Transactions.vue";
import { UserMapper } from "@/store/user";
export default {
  name: "MyProfile",
  components: {
    Info,
    Transactions,
  },
  computed: {
    ...UserMapper.mapState(["me", "error"]),
  },
  methods: {
    ...UserMapper.mapActions(["getMe", "patchMe"]),
    async updateProfile(payload) {
      await this.patchMe(payload);
      if (!this.error) {
        this.toast(
          "Изменения приняты",
          "Данные о профиле успешно изменены",
          "success"
        );
      } else {
        this.errorToast(this.error);
      }
    },
    async updateImg(payload) {
      await this.patchMe(payload, true);
      if (!this.error) {
        this.toast(
          "Изменения приняты",
          "Аватар профиля успешно изменен",
          "success"
        );
      } else {
        this.errorToast(this.error);
      }
    },
  },
  mounted() {
    this.getMe();
  },
};
</script>

<style>
</style>