<template>
  <b-modal
    ref="modal-report"
    id="modal-report"
    hide-footer
    hide-header
    centered
    body-class="report-body-class"
    size="lg"
  >
    <div class="w-100 m-0 modal-body">
      <h2 class="mt-3">Отчет по доходу за {{ month }} 2020г.</h2>
      <div class="row w-100 report-row">
        <div class="row">
          <div class="col-6">Общий оборот</div>
          <div class="col-3 pr-0">
            <p class="bold-text m-0">{{ numberWithSpaces(200000) }} Р</p>
          </div>
          <div class="col-9"><hr class="mentor-divider-hr m-0" /></div>
          <div class="col-6">Зарплата ментора:</div>
          <div class="col-3 pr-0">
            <p class="bold-text m-0">{{ numberWithSpaces(60000) }} Р</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 header">Тренинги</div>
          <div class="col-6">Оборот по тренингам:</div>
          <div class="col-3 pr-0">
            <p class="bold-text m-0">{{ numberWithSpaces(200000) }} Р</p>
          </div>
          <div class="col-9"><hr class="mentor-divider-hr m-0" /></div>
          <div class="col-6">Зарплата ментора:</div>
          <div class="col-3 pr-0">
            <p class="bold-text m-0">{{ numberWithSpaces(60000) }} Р</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 header">Занятия online</div>
          <div class="col-6">Оборот по занятиям:</div>
          <div class="col-3 pr-0">
            <p class="bold-text m-0">{{ numberWithSpaces(200000) }} Р</p>
          </div>
          <div class="col-9"><hr class="mentor-divider-hr m-0" /></div>
          <div class="col-6">Зарплата ментора:</div>
          <div class="col-3 pr-0">
            <p class="bold-text m-0">{{ numberWithSpaces(60000) }} Р</p>
          </div>
        </div>
        <div class="row">
          <div class="col-12 header">Занятия offline</div>
          <div class="col-6">Оборот по занятиям:</div>
          <div class="col-3 pr-0">
            <p class="bold-text m-0">{{ numberWithSpaces(200000) }} Р</p>
          </div>
          <div class="col-9"><hr class="mentor-divider-hr m-0" /></div>
          <div class="col-6">Зарплата ментора:</div>
          <div class="col-3 pr-0">
            <p class="bold-text m-0">{{ numberWithSpaces(60000) }} Р</p>
          </div>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import { numberWithSpaces } from "@/mixins/number";
export default {
  name: "ModalReport",
  data() {
    return {};
  },
  props: {
    month: {
      type: String,
      required: true,
    },
  },
  methods: {
    numberWithSpaces,
  },
};
</script>
<style>
.report-body-class {
  padding: 0;
}
#modal-report___BV_modal_content_ {
  width: 469px;
  height: 578px;
  left: calc(50% - 300px);
}
</style>

<style scoped>
.modal-body {
  display: flex;
  justify-content: center;
  flex-flow: column nowrap;
  align-items: center;
  padding-bottom: 5rem;
  background: #fefefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  width: 100%;
  height: 100%;
}
h2 {
  font-size: 22px;
  font-weight: 500;
  line-height: 27px;
  text-align: left;
  color: #000;
  font-weight: 600;
}
.header {
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  text-align: left;
  margin-bottom: 1rem;
}
.report-row .row {
  margin: 1rem 0;
}
.report-row .col-4 {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}
.report-row .col-2 {
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
}
.mentor-divider-hr {
  border: 0.5px dashed #c4c4c4;
}
.bold-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #e4690b;
}
</style>