<template>
  <section>
    <div class="row w-100 mt-3 table-analytics height-menthors">
      <b-table
        hover
        ref="lessonsTable"
        id="lessons-table"
        :items="items"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        thead-tr-class="group-head-tr"
        thead-class="group-thead"
        tbody-tr-class="group-body-tr"
        sort-icon-left
      >
        <template #cell(cash)="row"> {{ row.value }} P </template>
        <template #cell(pay)="row"> {{ row.value }} P </template>
      </b-table>
    </div>
    <div class="row pt-2 justify-content-center">
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        @page-click="scrolltoTop"
        aria-controls="agent-analytics-table"
      ></b-pagination>
    </div>
    <div class="row w-100 justify-content-end px-4">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" active class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
  </section>
</template>

<script>
// import moment from "moment";
export default {
  name: "TableLessonsReport",
  data() {
    return {
      messageTheme: "",
      perPage: "10",
      currentPage: 1,
      fields: [
        {
          key: "number",
          label: "Номер",
          class: "report-number",
          sortable: true
        },
        {
          key: "cash",
          label: "Оборот",
          class: "report-cash",
          sortable: false
        },

        {
          key: "pay",
          label: "З/П мертору",
          class: "report-pay",
          sortable: false
        },
        {
          key: "date",
          label: "Дата",
          class: "report-date",
          sortable: true
        }
      ],
      items: [
        // {
        //   id: 1,
        //   number: 2,
        //   cash: 80000,
        //   pay: 20000,
        //   date: moment("28-12-2009", "DD-MM-YYYY").format("DD.MM.YYYY"),
        // },
        // {
        //   id: 2,
        //   number: 1,
        //   cash: 60000,
        //   pay: 15000,
        //   date: moment("28-12-2009", "DD-MM-YYYY").format("DD.MM.YYYY"),
        // },
      ]
    };
  },
  computed: {
    rows() {
      return this.items.length;
    }
  }
};
</script>

<style>
.table-analytics {
  height: 90%;
  overflow-y: auto;
}
.report-number {
  text-align: left;
  width: 20%;
  padding-left: 2.5rem !important;
}
td.report-number {
  color: #2c61bf;
}
.report-cash,
.report-pay {
  width: 27%;
}
.report-date {
  width: 22%;
  padding-left: 10% !important;
  text-align: left;
}
td.report-date {
  color: #6c6c6c;
}
.group-head-tr {
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
  color: #4a4a4a;
}
.group-body-tr > * {
  font-size: 16px;
  font-weight: 500;
  line-height: normal;
  color: #2b2a29;
}

.group-body-tr,
.group-head-tr {
  text-align: center;
  transition: 0.3s ease;
}
.group-body-tr:hover {
  background-color: #efefef;
}
</style>
