<template>
  <section id="manager-index">
    <div
      class="
        container-fluid
        p-0
        full-height-container
        animate__animated animate__fadeIn
      "
    >
      <Header @logout="logOut" :user="me" />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel :items="sidePanelItems" @logout="logOut" />
        <div
          class="col-md p-0"
          style="height: calc(100vh - 60px); overflow-y: auto"
        >
          <router-view></router-view>
        </div>
      </div>
      <!-- <ModalConfirmation /> -->
    </div>
  </section>
</template>

<script>
import Header from "@/components/main/header/Header.vue";
import SidePanel from "@/components/main/SidePanel.vue";
import { SalesManagerMapper } from "@/store/salesManager";
import { UserMapper } from "@/store/user";
// import ModalConfirmation from "@/views/modalConfirmation.vue";

export default {
  name: "ManagerIndex",
  components: {
    Header,
    SidePanel,
    // ModalConfirmation,
  },
  data() {
    return {
      sidePanelItems: [
        {
          id: 1,
          //   img: "my_account.png",
          linkName: `${
            this.role == "HeadSalesManager" ? "head-" : ""
          }salesmanager-analytics-crm`,
          text: "Аналитика",
          exact: true,
          // hide: true,
          child: [
            {
              id: 1,
              //   img: "my_account.png",
              linkName: `${
                this.role == "HeadSalesManager" ? "head-" : ""
              }salesmanager-analytics-crm`,
              text: "CRM",
              exact: true,
              // hide: true,
            },
            {
              id: 2,
              //   img: "my_account.png",
              linkName: `${
                this.role == "HeadSalesManager" ? "head-" : ""
              }salesmanager-analytics-reports`,
              text: "Отчеты",
              exact: true,
              // hide: true,
            },
          ],
        },
        {
          id: 2,
          //   img: "my_account.png",
          linkName: `${
            this.role == "HeadSalesManager" ? "head-" : ""
          }salesmanager-franchisee-all`,
          text: "Франчайзи",
          exact: true,
          // hide: true,
        },
        {
          id: 3,
          //   img: "MDclub.png",
          linkName: `${
            this.role == "HeadSalesManager" ? "head-" : ""
          }salesmanager-agents-all`,
          text: "Агенты",
          disabled: true,
        },
      ],
    };
  },
  computed: {
    ...UserMapper.mapState(["me", "error"]),
    ...UserMapper.mapGetters(["role"]),
  },
  methods: {
    ...UserMapper.mapActions(["getProfile"]),
    ...SalesManagerMapper.mapMutations(["setSalesManagerId"]),
    ...UserMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "main-login" });
      } else {
        this.errorToast(this.error);
      }
    },
  },
  async mounted() {
    await this.getProfile();

    if (!this.error) {
      if (this.role == "SalesManager") {
        this.setSalesManagerId(this.me.id);
      } else if (this.role == "HeadSalesManager") {
        this.setSalesManagerId(this.$route.params.managerId);
      }
    }
  },
};
</script>

<style>
</style>