<template>
  <section id="table-child-archive">
    <div class="row w-100 h-100 table-analytics child-archive-height">
      <b-table
        borderless
        hover
        id="child-foxtale-table"
        :items="items"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
      >
        <template #cell(foxstory)="row">
          <div class="row h-100">
            <p class="my-auto">{{ row.value }}</p>
          </div>
        </template>
        <template #cell(dateofbuy)="row">
          <div class="row h-100">
            <p class="m-auto">{{ row.value }}</p>
          </div>
        </template>
        <template #cell(datecomblete)="row">
          <div class="row h-100">
            <p class="m-auto">{{ row.value }}</p>
          </div>
        </template>
        <template #cell(statistics)>
          <button
            class="agent-file-load statistics-button my-2"
            @click="
              clearTaleLogs();
              $router.push({ name: 'branch-analytics-child-info' });
            "
          >
            Открыть статистику
          </button>
        </template>
      </b-table>
    </div>

    <div class="row mt-3 justify-content-center">
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        @page-click="scrolltoTop"
        aria-controls="child-foxtale-table"
      ></b-pagination>
    </div>
    <div class="row w-100 justify-content-end pb-4 px-4">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" active class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
  </section>
</template>

<script>
import { BranchMapper } from "@/store/branch";
// import moment from "moment";
export default {
  name: "TableChildArchive",
  data() {
    return {
      perPage: "15",

      currentPage: 1,
      fields: [
        {
          key: "program",
          label: "Программа",
          class: "child-archive-foxstory",
          sortable: false,
        },
        {
          key: "date",
          label: "Дата покупки",
          class: "child-archive-date1",
          sortable: true,
        },
        {
          key: "datecomplete",
          label: "Дата прохождения",
          class: "child-archive-date2",
          sortable: true,
        },
        {
          key: "statistics",
          label: "",
          class: "child-archive-answers",
          sortable: false,
        },
      ],
      items: [
        {
          isActive: true,
          id: 0,
          program: "Undefined program",
          date: "15.03.2021",
          datecomplete: "15.03.2021",
        },
      ],
    };
  },

  methods: {
    ...BranchMapper.mapActions(["getPrograms"]),
    ...BranchMapper.mapMutations(["clearTaleLogs"]),
  },

  computed: {
    ...BranchMapper.mapState(["child", "program"]),
    rows() {
      return this.items.length;
    },
  },

  mounted() {
    let item = {
      isActive: true,
      id: this.child.program.id,
      program: `(${this.child.program.age}) ${this.child.program.name}`,
      date: this.child.program.date,
      datecomplete: this.child.program.date_end,
    };

    this.items.push(item);
    // console.log(this.items);
  },
};
</script>

<style>
.child-archive-foxstory {
  width: 26%;
  padding-left: 2.5rem !important;
}
.child-archive-date1 {
  width: 20%;
  text-align: left;
}
.child-archive-date2 {
  padding-left: 10% !important;
  width: 25%;
  text-align: left;
}
td.child-archive-date1,
td.child-archive-date2 {
  color: #6c6c6c;
}
.child-archive-answers {
  text-align: right;
  padding-right: 2rem !important;
}

.content-perpage {
  padding: 0;
}
.statistics-button {
  border: 1.5px solid #ed8719;
  box-sizing: border-box;
  width: 180px;
  height: 30px;
  font-weight: 500;
  padding: 0;
}
</style>