<template>
  <div class="contaiter-fluid ml-3 mr-4">
    <div class="contaiter container-parent-page mt-4 mx-2">
      <div class="row ml-4">
        <div class="col-md-5 mt-4">
          <h1>Добавить ребенка</h1>
        </div>
      </div>

      <form class="form-inline">
        <div class="row w-100 mt-2 ml-4 no-wrap">
          <div class="col-md-3">
            <div class="form-group mt-3 pt-2">
              <input
                type="text"
                class="form-control pl-3 input-child"
                placeholder="Фамилия"
                v-model="surName"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group mt-3 pt-2">
              <input
                type="text"
                class="form-control pl-3 input-child"
                placeholder="Имя"
                v-model="name"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group mt-3 pt-2">
              <input
                type="text"
                class="form-control pl-3 input-child"
                placeholder="Отчество"
                v-model="patronymic"
              />
            </div>
          </div>
        </div>
        <div class="row w-100 ml-4 no-wrap">
          <div class="col-md-3">
            <div class="form-group mt-3 pt-2">
              <input
                type="number"
                class="form-control pl-3 input-child"
                :class="{ 'border-danger': !ageGroupPass }"
                no-wheel="true"
                v-mask="'##'"
                placeholder="Возраст"
                v-model="age"
              />
              <p></p>
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group mt-3 pt-2">
              <input
                type="email"
                class="form-control pl-3"
                placeholder="E-mail"
                v-model="email"
              />
            </div>
          </div>
          <div class="col-md-3">
            <div class="form-group mt-3 pt-2">
              <div
                class="btn-group w-100 d-flex align-items-center"
                style="height: 38px"
              >
                <span
                  :class="
                    learnFormat == 'Online' ? 'text-success' : 'text-warning'
                  "
                  >Способ обучения: {{ learnFormat }}</span
                >
              </div>
            </div>
          </div>
        </div>

        <div class="row w-100 ml-4 mb-4 no-wrap">
          <div class="col-md-9">
            <div class="form-group mt-3 pt-2" v-if="referalShow">
              <input
                type="text"
                class="form-control pl-3 input-child w-100"
                placeholder="Пригласительный код"
                v-model="referal"
                @change="changeReferal"
              />
              <p v-if="selectedMentor" class="w-100">
                Ментор: {{ selectedMentor.surName }} {{ selectedMentor.name }}
                {{ selectedMentor.patronymic }}
              </p>
              <p v-if="selectedGroup" class="w-100">
                Группа: {{ selectedGroup.name }}
              </p>
              <p v-if="selectedGroup" class="w-100">
                Возрастная категория: {{ selectedGroup.age }} лет
              </p>
              <p
                v-if="selectedGroup && !ageGroupPass"
                class="w-100 text-danger"
              >
                Внимание! Возраст ребенка должен совпадать с возрастной
                категорией группы!
              </p>
            </div>
            <div class="form-group mt-3 pt-2" v-else>
              <button
                class="btn btn-profile-tab"
                @click.prevent="referalShow = !referalShow"
              >
                Ввести пригласительный код
              </button>
            </div>
          </div>
        </div>
        <div class="row w-100 ml-4 mb-4 no-wrap">
          <div class="col-md-3">
            <div class="form-group my-3 pt-2">
              <button
                id="addchildbutton"
                class="btn btn-profile-tab"
                :disabled="disableCreateButton"
                @click.prevent="addChild()"
              >
                <p class="m-0">Добавить</p>
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { UserMapper } from "@/store/user";
import { GroupMapper } from "@/store/group";
import { ChildMapper } from "@/store/child";
import hashMixin from "@/mixins/hash";

export default {
  data() {
    return {
      selectedMentorId: null,
      selectedGroupId: null,
      selectedMentor: null,
      selectedGroup: null,
      name: "",
      surName: "",
      patronymic: "",
      age: "",

      email: "",
      referal: "",
      referalShow: false,
    };
  },
  mixins: [hashMixin],
  computed: {
    ...GroupMapper.mapState({ groupError: "error" }),
    ...UserMapper.mapState({ me: "me", userError: "error" }),
    ...ChildMapper.mapState({ childError: "error" }),
    learnFormat() {
      return this.referal ? "Offline" : "Online";
    },
    ageGroupPass() {
      if (this.selectedGroup) {
        let [minAge, maxAge] = this.selectedGroup.age
          .split("-")
          .map((age) => parseInt(age));
        if (this.age >= minAge && this.age <= maxAge) return true;
        return false;
      }
      return true;
    },
    disableCreateButton() {
      return !(
        this.name &&
        this.surName &&
        this.patronymic &&
        this.age &&
        this.email &&
        this.ageGroupPass
      );
    },
  },
  methods: {
    ...ChildMapper.mapActions(["postChild"]),
    ...UserMapper.mapActions(["getUserById"]),
    ...GroupMapper.mapActions(["getGroupById"]),
    async addChild() {
      let payload = {
        email: this.email,
        learnFormat: this.learnFormat,
        rank: "Silver",
        age: this.age,
        name: this.name,
        surName: this.surName,
        patronymic: this.patronymic,
        mentor: this.selectedMentorId ?? null,
        group: this.selectedGroupId ?? null,
        parent: this.me.id,
      };
      this.$emit("add", payload);
      this.clearForm();
    },
    clearForm() {
      this.email = "";
      this.learning = "";
      this.age = "";
      this.name = "";
      this.surName = "";
      this.patronymic = "";
      this.referal = "";
      this.referalShow = false;
    },
    changeReferal() {
      if (this.referal) {
        try {
          const { mentorId, groupId } = this.unhash(this.referal);
          this.selectedMentorId = mentorId;
          this.selectedGroupId = groupId;
        } catch {
          this.toast("Ошибка", "Неверно введена реферальная ссылка", "danger");
          this.referal = "";
        }
      }
    },
  },
  watch: {
    selectedMentorId: {
      async handler(newId) {
        if (newId) {
          let user = await this.getUserById(newId);
          if (!this.userError) {
            this.selectedMentor = user;
            return;
          }
          this.errorToast(this.userError);
        }
      },
    },
    selectedGroupId: {
      async handler(newId) {
        if (newId) {
          let group = await this.getGroupById(newId);
          if (!this.groupError) {
            this.selectedGroup = group;
            return;
          }
          this.errorToast(this.groupError);
        }
      },
    },
  },
};
</script>

<style></style>
