<template>
  <transition name="fade" mode="out-in">
    <div
      v-show="show"
      :class="[{ cursor_show: activeColor }]"
      class="coloring-image-wrap transition relative-block"
    >
      <MarkerCursor
        v-if="activeColor"
        :color="activeColor ? activeColor.name : ''"
        :show="activeColor ? true : false"
        :position="cursorPoint"
      />
      <div
        @click="setColor(color)"
        v-for="color in colorList"
        :key="color.id"
        class="color"
        :class="[`color-${color.name}`, color.name]"
      />
      <div class="coloring-block transition yellow-bg">
        <Babysitter v-show="true" />
        <Honeyworker v-show="false" />
        <Cooker v-show="false" />
        <Farmer v-show="false" />
        <Repair :color="activeColor ? activeColor.name : ''" v-show="false" />
      </div>
    </div>
  </transition>
</template>

<script>
import Babysitter from "@/components/tales/tale1/pages/page25/images/Babysitter.vue";
import Honeyworker from "@/components/tales/tale1/pages/page25/images/Honeyworker.vue";
import Cooker from "@/components/tales/tale1/pages/page25/images/Cooker.vue";
import Farmer from "@/components/tales/tale1/pages/page25/images/Farmer.vue";
import Repair from "@/components/tales/tale1/pages/page25/images/Repair.vue";
import MarkerCursor from "@/components/tales/tale1/pages/page25/MarkerCursor.vue";
export default {
  name: "Coloring",
  components: { Babysitter, Honeyworker, Cooker, Farmer, Repair, MarkerCursor },
  props: {
    show: Boolean,
    pic: String,
  },
  data() {
    return {
      colorList: [
        {
          id: 1,
          name: "orange",
        },
        {
          id: 2,
          name: "white",
        },
        {
          id: 3,
          name: "red",
        },
        {
          id: 4,
          name: "pink",
        },
        {
          id: 5,
          name: "black",
        },
        {
          id: 6,
          name: "grey",
        },
      ],
      activeColor: null,
      hideCursor: true,
      xChild: 0,
      yChild: 0,
      xParent: 0,
      yParent: 0,
    };
  },
  computed: {
    cursorPoint() {
      return `left: calc(${this.xChild}px); top: calc(${this.yChild}px - 2rem);`;
    },
  },
  methods: {
    setColor(color) {
      this.activeColor = color;
    },
    moveCursor(e) {
      this.xChild = e.clientX;
      this.yChild = e.clientY;
      // console.log({
      //   x: e.clientX,
      //   y: e.clientY,
      // });
    },
  },
  mounted() {
    document.addEventListener("mousemove", this.moveCursor);
  },
};
</script>

<style scoped>
/* классы для самой расскраски */
.img-big-coloring {
  width: 95%;
  height: 80%;
  object-fit: contain;
  margin: auto;
}
.coloring-image-wrap {
  display: flex;
  z-index: 1;
  /* margin: 2%; */
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 100%;
}
.coloring-image-wrap.cursor_show,
.coloring-image-wrap.cursor_show * {
  cursor: none;
}
.coloring-block {
  height: 470px;
  width: 470px;
  border-radius: 2rem;
  display: flex;
}

/* цвета для расскраски */
.color {
  position: absolute;
  border-radius: 100%;
  width: 3.5rem;
  height: 3.5rem;
  cursor: pointer;
  left: 5%;
  z-index: 5;
  transition: 0.5s ease;
  border: 1px solid #d9d9d9;
}
.color:hover {
  box-shadow: 0px 0px 5px #00000040;
  transform: scale(1.1);
}
.color-orange {
  top: 13%;
}
.color-white {
  top: 27%;
}
.color-red {
  top: 41%;
}
.color-pink {
  top: 55%;
}
.color-black {
  top: 69%;
}
.color-grey {
  top: 83%;
}

.orange {
  background-color: #ed8719;
}
.white {
  background-color: #fff;
}
.red {
  background-color: #eb6a72;
}
.pink {
  background-color: #f7c4bb;
}
.black {
  background-color: #858686;
}
.grey {
  background-color: #c5c5c5;
}

@media (min-width: 1441px) and (min-height: 800px) {
  .color {
    width: 4rem;
    height: 4rem;
  }
  .coloring-block {
    height: 575px;
    width: 575px;
    border-radius: 3rem;
    display: flex;
  }
}
/* @media (max-height: 499px) {
  .color {
    width: 2.5rem;
    height: 2.5rem;
  }
  .coloring-block {
    height: 300px;
    width: 300px;
    border-radius: 1.5rem;

    display: flex;
  }
}
@media (max-width: 900px) {
  .color {
    width: 2.5rem;
    height: 2.5rem;
  }
  .coloring-block {
    height: 300px;
    width: 300px;
    border-radius: 1.5rem;

    display: flex;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .orange,
  .white,
  .red,
  .pink,
  .black,
  .grey {
    bottom: 3%;
  }
  .orange {
    top: unset;
    left: 0%;
  }
  .white {
    top: unset;
    left: 18%;
  }
  .red {
    top: unset;
    left: 36%;
  }
  .pink {
    top: unset;
    right: 36%;
    left: unset;
  }
  .black {
    top: unset;
    right: 18%;
    left: unset;
  }
  .grey {
    top: unset;
    right: 0;
    left: unset;
  }
}
</style>