<template>
  <div class="row mt-2">
    <div class="col">
      <button
        @click="show = true"
        class="agent-file-load p-0 py-2 btn-admin-change-data new-user-width"
      >
        <p>Новый менеджер</p>
      </button>
    </div>

    <ModalAddManagers :show="show" @close="show = false" @add="addUser" />
  </div>
</template>

<script>
import ModalAddManagers from "@/components/headSalesManager/managers/ModalAddManagers.vue";
import { HeadManagerMapper } from "@/store/headManager";
export default {
  name: "ManagersData",
  components: {
    ModalAddManagers,
  },
  data() {
    return {
      opened: false,
      show: false,
    };
  },

  computed: {
    userList() {
      if (this.managers.length) {
        return this.managers.map((i) => {
          return {
            name: `${i.surName} ${i.name} ${i.patronymic}`,
            role:
              i.role == "SalesManager"
                ? "Менеджер по продажам"
                : i.role == "ClientManager"
                ? "Клиентский менеджер"
                : "Неизвестная должность",
          };
        });
      }
      return [];
    },
  },

  methods: {
    ...HeadManagerMapper.mapActions(["postManager"]),
    async addUser(user) {
      await this.postManager(user);
    },
  },
};
</script>

<style>
.data-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.base-child-info-text {
  font-size: 1rem;
  color: #2b2a29;
}
.child-info-hr {
  border: 0.1px dashed #c4c4c4;
}

.change-data-width {
  width: 165px;
}
.new-user-width {
  width: 185px;
}
.btn-admin-change-data {
  border: 1.5px solid #9276e4;
  background: #ffffff00;
  box-sizing: border-box;
  border-radius: 40px;

  height: 35px;
  transition: 0.5s ease;
}
.btn-admin-change-data > p {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  margin: 0;
  color: #2b2a29;
}
.btn-admin-change-data:hover > p {
  color: #ffffff;
}
.btn-admin-change-data:hover {
  background: #9276e4;
  border: 1.5px solid #9276e4;
  box-shadow: 0px 0px 15px #00000030;
}
.btn-admin-change-data:focus,
.btn-admin-change-data:active {
  border: 1.5px solid #9276e4;
  transform: scale(1.05);
}
.info-height {
  height: 275px;
}
.wrap-users-info {
  height: 150px;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.wrap-hidden-users {
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
.arrow-diagramm {
  height: 12px;
  margin: 0;
  transition: 0.5s ease;
}
.btn-show-accounts {
  background: #ffffff00;
  border: none;

  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
}
.hidden {
  visibility: hidden;
}
.overlay {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1000;
  transition: 0.5s ease;
}
.overlay_invisible {
  background: none;
  z-index: -1000;
  display: none;
}
</style>