<template>
  <section id="children-tab">
    <div class="row w-100 mt-4 table-analytics">
      <b-table
        hover
        ref="topmanagers"
        id="managers-table"
        :items="filteredItems"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        @row-clicked="pushToManagers"
        table-class="pointer"
        :filter="filter.search"
        sort-icon-left
      >
        <template #cell(date)="row">
          {{ formatDate(row.value) }}
        </template>
      </b-table>
    </div>

    <div class="row justify-content-center mt-2">
      <!-- @page-click="scrolltoTop" -->
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        aria-controls="managers-table"
        class="m-0"
      ></b-pagination>
    </div>
    <div class="row w-100 justify-content-end px-4">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" active class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
  </section>
</template>

<script>
import moment from "moment";
import { HeadManagerMapper } from "@/store/headManager";
export default {
  name: "TableManagers",
  props: {
    managers: {
      type: Array,
      default: () => [],
    },
    linkName: {
      type: String,
      required: true,
    },
  },
  data() {
    return {
      show: false,
      // *FILTER
      filter: {
        program: "",
        level: "",
        status: "",
        tale: "",
        age: "",
        format: "",
        date: "",
        search: "",
        is_my: undefined,
      },

      chosenDate: undefined,

      messageTheme: "",
      perPage: "15",
      currentPage: 1,

      selectVal: {
        isActive: undefined,
        number: undefined,
        childname: undefined,
        learning: undefined,
        age: undefined,
        foxstory: undefined,
        level: undefined,
        programm: undefined,
        date: undefined,
        format: undefined,
      },
      // * FILTER
      fields: [
        {
          key: "number",
          label: "№",
          class: "manager-id",
          sortable: true,
        },
        {
          key: "managername",
          label: "ФИО",
          class: "manager-name",
          sortable: false,
        },

        {
          key: "managertype",
          label: "Менеджер",
          class: "manager-type",
          sortable: false,
        },

        {
          key: "phone",
          label: "Номер телефона",
          class: "manager-phone",
          sortable: true,
        },

        {
          key: "email",
          label: "Email адрес",
          class: "manager-email",
          sortable: true,
        },

        {
          key: "date",
          label: "Дата",
          class: "manager-date",
          sortable: true,
        },
      ],
    };
  },
  watch: {
    filter: {
      handler(newValue) {
        if (newValue.is_my == false) {
          this.selectVal.is_my = undefined;
        }
        console.log(this.filter.is_my);
      },
      deep: true,
    },
  },
  methods: {
    ...HeadManagerMapper.mapActions(["getManagers"]),
    clearFilter() {
      this.filter = {
        program: "",
        level: "",
        status: "",
        tale: "",
        age: "",
        format: "",
        date: "",
        search: "",
        is_my: undefined,
      };

      this.selectVal = {
        isActive: undefined,
        number: undefined,
        childname: undefined,
        learning: undefined,
        age: undefined,
        foxstory: undefined,
        level: undefined,
        programm: undefined,
        date: undefined,
        format: undefined,
      };

      this.chosenDate = undefined;
    },
    scrolltoTop() {
      this.$refs.topmanagers.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },
    formatDate(date) {
      return moment(date).format("DD.MM.YYYY");
    },

    async pushToManagers(item) {
      this.$router.push({
        name: this.linkName,
        params: { id: item.id },
      });
    },
  },
  computed: {
    rows() {
      return this.items.length;
    },
    items() {
      return this.managers.map((manager, i) => {
        return {
          number: i + 1,
          id: manager.id,
          managername: `${manager.surName} ${manager.name} ${manager.patronymic}
           ${manager.ban ? "(Бан)" : ""}`,
          managertype:
            manager.role == "SalesManager"
              ? "Менеджер по продажам"
              : manager.role == "ClientManager"
              ? "Клиент менеджер"
              : "Неизвестно",

          phone: manager.phone,
          email: manager.email,

          date: moment(manager.creation_date),
        };
      });
    },

    filteredItems() {
      return this.items.filter((item) => {
        let keep = true;

        // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. If a key was missing, it defaulted to straight equality.
        this.fieldKeys.forEach((key) => {
          if (key == "date" && this.chosenDate) {
            this.selectVal[key] = moment(this.chosenDate).format("DD.MM.YYYY");
          }
          keep =
            keep &&
            (!this.selectVal[key] ||
              moment(item[key]).format("DD.MM.YYYY") === this.selectVal[key]);
        });

        return keep;
      });
    },
    fieldKeys() {
      return Object.keys(this.items[0]);
    },
    options() {
      const options = {};
      this.fieldKeys.forEach((key) => {
        const vals = this.items.map((item) => item[key]);

        options[key] = Array.from(new Set(vals));
      });

      return options;
    },
  },
};
</script>

<style>
/* .table td,
.table th {
  padding-top: 0.9vh;
  padding-bottom: 0.9vh;
  font-size: 0.75rem;
} */
.height-children {
  height: 300px;
}
.manager-id {
  width: 7%;
  padding-left: 2.5rem !important;
}

.manager-name {
  width: 30%;
  padding-left: 2.5rem !important;
}

.manager-type {
  width: 9%;
  text-align: center;
}
.manager-phone {
  text-align: center;
}
.manager-email {
  width: 12%;
}
.manager-date {
  width: 10%;
  text-align: left;
  padding-right: 2.5rem !important;
  padding-left: 2.5rem !important;
}
.child-learning {
  display: none;
}
/* фильтры */

.filters-tab {
  background-color: #f0eff2;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.img-filters {
  height: 30px;
  width: 30px;
}
.col-button {
  align-items: center;
  display: flex;
  justify-content: flex-end;
}
h5 {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.btn-download {
  border: 1.5px solid #ed8719;
  height: 30px;
  width: 130px;
  padding: 0;
}
.btn-download > p {
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
}
.custon-select {
  border: 1px solid #c4c4c4;
  background: #fefefe;
}
.custom-select:focus {
  box-shadow: none;
  border: 1px solid #ed8719;
}

.btn-filter {
  display: flex;
}
</style>
