<template>
  <section id="franchisee-page">
    <div
      class="
        container-fluid
        p-0
        full-height-container
        animate__animated animate__fadeIn
      "
    >
      <Header @logout="logOut" :user="me" />
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel :items="sidePanelItems" @logout="logOut" />
        <div
          class="col-md p-0"
          style="height: calc(100vh - 60px); overflow-y: auto"
        >
          <router-view></router-view>
        </div>
      </div>
      <!-- <ModalConfirmation /> -->
    </div>
  </section>
</template>

<script>
import Header from "@/components/main/header/Header.vue";
import SidePanel from "@/components/main/SidePanel.vue";
import { UserMapper } from "@/store/user";
import { FranchiseeMapper } from "@/store/franchisee";

// import ModalConfirmation from "@/views/modalConfirmation.vue";

export default {
  name: "Franchisee",
  components: {
    Header,
    SidePanel,
    // ModalConfirmation,
  },
  data() {
    return {
      panelItems: [
        {
          id: 1,
          //   img: "my_account.png",
          linkName: "franchisee-analytics",
          text: "Аналитика",
          exact: true,
          hide: false,
        },
        {
          id: 2,
          //   img: "my_profile.png",
          linkName: "franchisee-requet",
          text: "Заявка в магазин",
          exact: true,
          hide: false,
        },
        {
          id: 3,
          //   img: "my_profile.png",
          linkName: "franchisee-buy",
          text: "Купить франшизу",
          exact: true,
          hide: false,
        },
        {
          id: 4,
          //   img: "my_profile.png",
          linkName: "franchisee-data",
          text: "Мои данные",
          exact: true,
        },
        {
          id: 5,
          //   img: "my_profile.png",
          linkName: "franchise-support",
          text: "Обратная связь",
          exact: true,
          hide: false,
        },
      ],
      hide: true,
      profile: true,
    };
  },
  computed: {
    ...UserMapper.mapState(["error", "me"]),
    ...FranchiseeMapper.mapState(["franchiseeProfile", "packages"]),

    sidePanelItems() {
      let panelItems = []; // console.log(this.franchiseeProfile);

      let pack = this.packages.find((pack) => pack.status == 2);
      console.log(pack);
      if (this.franchiseeProfile.name == null) {
        panelItems.push(this.panelItems[3]);
      }
      if (this.franchiseeProfile.name) {
        panelItems.push(this.panelItems[2]);
        panelItems.push(this.panelItems[3]);
      }
      if (this.packages.find((pack) => pack.status == 2)) {
        // let panelItems = [];
        // panelItems.push(this.panelItems[0]);
        // panelItems.push(this.panelItems[1]);
        // panelItems.push(this.panelItems[2]);
        // panelItems.push(this.panelItems[3]);
        // panelItems.push(this.panelItems[5]);
        panelItems = this.panelItems;
      }
      return panelItems;
    },
  },
  methods: {
    ...UserMapper.mapActions(["signOut"]),
    ...FranchiseeMapper.mapActions(["getFranchiseeProfile"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "main-login" });
      } else {
        this.errorToast(this.error);
      }
    },
  },

  async mounted() {
    await this.getFranchiseeProfile();
    console.log(this.sidePanelItems);
  },
};
</script>

<style>
</style>