<template>
  <section
    id="child-base-info"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block mt-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Назад
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col-12 my-auto head-block">
          <div class="col-4 header-franchisee-big">
            {{ franchisee.name }}
          </div>
          <div class="col-4 contaiter-fluid head-button">
            <ClientManagerAppoint @add="show = true" />
          </div>

          <div class="col-4 contaiter-fluid head-button">
            <SalesManagerAppoint @add="show = true" />
          </div>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid mr-2 relative-block">
      <FranchiseeBaseInfo />
    </div>
  </section>
</template>

<script>
// import moment from "moment";
import { HeadManagerMapper } from "@/store/headManager";
import FranchiseeBaseInfo from "@/components/headSalesManager/franchisee/FranchiseeBaseInfo.vue";
import ClientManagerAppoint from "@/components/headSalesManager/managers/ClientManagerAppoint.vue";
import SalesManagerAppoint from "@/components/headSalesManager/managers/SalesManagerAppoint.vue";
export default {
  name: "Info",
  components: {
    FranchiseeBaseInfo,
    ClientManagerAppoint,
    SalesManagerAppoint,
  },
  data() {
    return {};
  },
  methods: {
    ...HeadManagerMapper.mapActions(["getFranchiseeDetails"]),
  },

  computed: {
    ...HeadManagerMapper.mapState(["franchisee"]),
  },
  async mounted() {
    console.log(this.$route.params.id);
    await this.getFranchiseeDetails(this.$route.params.id);
  },
};
</script>

<style scoped></style>

<style>
/* .breadcrumb-text {
  color: #6c6c6c;
  font-size: 14px;
} */
.header-franchisee-big {
  font-size: 30px;
  font-weight: 500;
}

.data-header {
  font-weight: 500;
}

.nav-link {
  background: #e4e4e4;
  padding: 0.25rem 1rem;
}

.nav-tabs .nav-link {
  color: #ffffff !important;
  background: #c4c4c4;
  padding: 0.5rem 0.5rem;
  border-radius: 6px;
}

.nav-tabs .nav-item {
  margin-right: 25px;
}

.head-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.head-button {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
</style>
