<template>
  <div class="rule" :class="{ rule_clear: clear, rule_active: active }">
    <div class="rule-card">
      <img
        class="rule__img"
        :src="require(`@/assets/img/fox-rules/rule_${number}_bg.svg`)"
        :alt="number"
      />
      <p class="rule__text">{{ text }}</p>
      <button
        class="rule__sound"
        @click="
          $emit('active');
          disable = false;
        "
      ></button>
    </div>
    <div :class="{ disabled: disable }" class="rule-number">
      <p class="m-0">
        <span v-show="!clear">{{ number }}</span>
        <img
          v-show="clear"
          :src="require('@/assets/img/icons/check.svg')"
          alt=""
          class="img-success"
        />
      </p>

      <div class="line-left" v-if="number % 3 != 1 && !portrait"></div>
      <div class="line-left" v-else-if="number % 2 != 1 && portrait"></div>
    </div>
  </div>
</template>

<script>
export default {
  name: "RuleCard",
  props: {
    number: Number,
    text: String,
    active: Boolean,
    clear: Boolean,
    nextActive: Boolean,
  },
  data() {
    return {
      width: 0,
      height: 0,
      portrait: false,

      success: false,
      disable: true,
    };
  },
  methods: {
    boop() {
      let audio = document.createElement("audio");
      audio.src = require("@/assets/boop.wav");
      audio.play();
    },
    changeOrientation() {
      if (screen.width < 1439) {
        this.portrait = true;
      } else {
        this.portrait = false;
      }
      // console.log(this.portrait);
    },
  },

  created() {
    window.addEventListener("resize", this.changeOrientation);
  },
  destroyed() {
    window.removeEventListener("resize", this.changeOrientation);
  },
  mounted() {
    // var mql = window.matchMedia("(orientation: portrait)");

    if (screen.width < 1439) {
      this.portrait = true;
    } else {
      this.portrait = false;
    }
    // console.log(this.portrait);
  },
};
</script>

<style scoped>
.rule {
  width: 33.333%;
  /* height: 174px; */
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  /* justify-content: space-evenly; */
}
.rule-card {
  border-radius: 25px;
  overflow: hidden;
  z-index: 1000;
  background-color: #ffffff;
  border: 1px solid #d9d9d9;
  transition: 0.5s ease-in-out;
  position: relative;
  width: 335px;
  height: 110px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.rule__img {
  width: 100%;
}
.rule__text {
  width: 62%;
  padding-right: 9%;
  margin: 0;
  position: absolute;
  font-weight: 500;
  font-size: 1rem;
  line-height: 1rem;
  color: #9c9c9b;
  transition: 1s;
  z-index: 1;
}
.rule__sound {
  position: absolute;
  top: 13%;
  right: 4%;
  width: 0.9rem;
  height: 0.9rem;
  border: none;
  outline: none;
  background: url("../../../../../assets/img/icons/sound-white.svg");
  filter: invert(0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
.rule__sound img {
  filter: invert(0.6);
  width: 100%;
  height: auto;
}

.rule-number {
  margin-top: 11px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 335px;
  position: relative;
}
.rule-number p {
  background: #ffde3b;
  color: #fff;
  font-weight: bold;
  width: 36px;
  padding-top: 32px;
  border: solid 2px #fff;
  transition: background 0.5s ease-in-out;
  border-radius: 50%;
  position: relative;
}
.rule-number span {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-success {
  position: absolute;
  top: 20%;
  left: 18%;
  width: 65%;
  height: 65%;
  filter: invert(1);
}
.rule-number.disabled p {
  background-color: #d9d9d9;
  border: 2px solid #d9d9d9;
}
.rule-number.disabled .number span {
  color: #fff;
}
.line-left {
  background: lightgray;
  position: absolute;
  width: 335px;
  height: 3px;
  left: -53%;
  z-index: -1;
  transition: 1s ease-in-out;
}
.line-left::before {
  content: "";
  display: block;
  background: #ffde3b;
  width: 0;
  height: 100%;
  transition: 1s ease-in-out;
}
.rule_active > .rule-card > .rule__text,
.rule_clear > .rule-card > .rule__text {
  color: #000;
}
.rule_active .rule-card {
  background-color: #ffde3b;
}
.rule_clear .rule-card {
  background-color: #ffde3b;
}
.rule_active .rule-number p {
  background-color: #fff;
  border: 2px solid #ffde3b;
  color: #000;
}
.rule_clear .rule-number p {
  background-color: #ffde3b;
  border: 2px solid #ffde3b;
  color: #000;
}
.rule_active .line-left::before,
.rule_clear .line-left::before {
  width: 100%;
  background-color: #ffde3b;
}
.line-right {
  background: lightgray;
  position: absolute;
  width: 44%;
  padding: 1.5px 0;
  right: 0;
  z-index: -1;
}

/* @media (max-width: 1100px) {
  .rule__text {
    font-size: 0.8rem;
    line-height: 0.9rem;
  }
  .rule-card {
    border-radius: 15px;
  }
  .rule-number p {
    font-size: 0.8rem;
  }
  .rule__sound {
    width: 0.6rem;
    height: 0.6rem;
  }
}
@media (max-width: 850px) {
  .rule-card {
    width: 200px;
    height: 70px;
  }
  .rule__text {
    font-size: 0.6rem;
    line-height: 0.7rem;
  }
  .rule-number p {
    font-size: 0.7rem;
  }
  .rule__sound {
    width: 0.6rem;
    height: 0.6rem;
  }
} */

/* Планшет в портретном режиме */
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .rule {
    width: 50%;
    margin: auto;
    margin-bottom: 2rem;
  }
  .rule-card {
    width: 335px;
    height: 110px;
  }
}
</style>

