.anim-fm-bg-img {
  height: 90%;
  z-index: 30;
  bottom: 8%;
  left: 5%;
}
.anim-fm-body-img {
  height: 54%;
  z-index: 50;
  bottom: 8%;
  left: 30%;
}
.anim-fm-legs-img {
  height: 8%;
  z-index: 40;
  bottom: 8.5%;
  left: 63%;
}
.anim-fm-left-hand-img {
  height: 17%;
  z-index: 40;
  bottom: 25%;
  left: 73%;
}
.anim-fm-right-hand-img {
  height: 8%;
  z-index: 60;
  bottom: 17%;
  left: 60%;
}
.anim-fm-wallet-img {
  height: 16%;
  z-index: 55;
  bottom: 14%;
  left: 69%;
}
.anim-fm-foxick-img {
  height: 9%;
  z-index: 35;
  bottom: 40%;
  left: 84.6%;
}
@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-fm-bg-img {
    height: 92%;
    bottom: 0;
    left: 0%;
  }
  .anim-fm-body-img {
    height: 55%;
    bottom: 0%;
    left: 21%;
  }
  .anim-fm-legs-img {
    height: 7%;
    bottom: 0.5%;
    left: 51%;
  }
  .anim-fm-left-hand-img {
    height: 16%;
    bottom: 19%;
    left: 58%;
  }
  .anim-fm-right-hand-img {
    height: 9%;
    z-index: 60;
    bottom: 10%;
    left: 46%;
  }
  .anim-fm-wallet-img {
    height: 16%;
    bottom: 6%;
    left: 55%;
  }
  .anim-fm-foxick-img {
    height: 10%;
    z-index: 35;
    bottom: 34%;
    left: 66.6%;
  }
}
