/* Bisuness Diary */

/* ровнять по нижнему правому краю */
/* Почему-то не получается сделать нормальные резиновые картинки, на разрешении заказчика они смотрятся отлично,
но вот когда дело доходит до разрешения full-hd, не получается нормально зарезинить */

.anim-bd-star-img {
  width: 120%;
  z-index: -10;
  bottom: 0%;
  right: 0%;
  transform: rotate(0deg);
}
.anim-bd-bg1-img {
  width: 85%;
  z-index: -11;
  bottom: 15%;
  right: 1%;
  /* transform: rotate(
-32deg
); */
}

.anim-bd-bg-img {
  width: 111%;
  z-index: -10;
  bottom: 0%;
  right: 49%;
}
.anim-bd-fox-img {
  width: 41%;
  height: 66%;
  z-index: -8;
  bottom: 0%;
  right: 41%;
}
.anim-bd-tail-img {
  width: 55%;
  z-index: -9;
  bottom: 3%;
  right: 76%;
}
.anim-bd-right-hand-img {
  width: 17%;
  z-index: -7;
  bottom: 11%;
  right: 30.5%;
}
.anim-bd-money-machine-img {
  width: 22%;
  z-index: -6;
  bottom: 0%;
  right: 75%;
}
.anim-bd-table-img {
  width: 25%;
  z-index: -6;
  bottom: 0%;
  right: 22%;
}
.anim-bd-bar-img {
  width: 85%;
  z-index: -5;
  bottom: 0%;
  right: 21%;
}
/* монетки */
.anim-bd-first-step-img {
  height: auto;
  width: 22%;
  z-index: -9;
  bottom: 66%;
  right: 38%;
}
.anim-bd-bitcoin-img {
  height: auto;
  width: 12%;
  z-index: -4;
  bottom: 2%;
  right: 105%;
}
.anim-bd-dollar-bg-img {
  height: auto;
  width: 16%;
  z-index: -10;
  bottom: 41.5%;
  right: 82.5%;
  transform: rotate(-10deg);
}
.anim-bd-dollar-img {
  height: auto;
  width: 13%;
  z-index: -10;
  bottom: 43%;
  right: 84%;
  transform: rotate(-25deg);
}
.anim-bd-euro-img {
  height: auto;
  width: 15.5%;
  z-index: -10;
  bottom: 40%;
  right: 29%;
  transform: rotate(20deg);
}
.anim-bd-rouble-img {
  height: auto;
  width: 10%;
  z-index: -10;
  bottom: 28%;
  right: 12%;
  transform: rotate(15deg);
}
.anim-bd-pound-bg-img {
  height: auto;
  width: 14%;
  z-index: -10;
  bottom: 5%;
  right: 5%;
  transform: rotate(-16deg);
}
.anim-bd-pound-img {
  height: auto;
  width: 10%;
  z-index: -10;
  bottom: 7%;
  right: 7%;
  transform: rotate(15deg);
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-bd-star-img {
    width: 96%;
    z-index: -9;
    bottom: 3%;
    right: -21%;
    transform: rotate(0deg);
  }
  .anim-bd-bg1-img {
    width: 73%;
    bottom: 16%;
    right: -21%;
  }

  .anim-bd-bg-img {
    height: auto;
    width: 100%;
    bottom: 0%;
    right: 17%;
  }
  .anim-bd-fox-img {
    width: 35%;
    bottom: 0;
    right: 13%;
    height: unset;
  }
  .anim-bd-tail-img {
    width: 46%;
    bottom: 6%;
    right: 43%;
  }
  .anim-bd-right-hand-img {
    width: 13%;
    bottom: 17%;
    right: 5.5%;
  }
  .anim-bd-money-machine-img {
    width: 19%;
    bottom: 0;
    right: 40%;
  }
  .anim-bd-table-img {
    width: 20%;
    bottom: -2%;
    right: -2%;
  }
  .anim-bd-bar-img {
    width: 30%;

    bottom: 0%;
    right: 21%;
  }
  /* монетки */
  .anim-bd-first-step-img {
    height: auto;
    width: 20%;
    right: 7%;
    bottom: 74%;
  }
  .anim-bd-bitcoin-img {
    height: auto;
    width: 12%;
    bottom: 2%;
    right: 67%;
  }
  .anim-bd-dollar-bg-img {
    height: auto;
    width: 12%;
    bottom: 48%;
    right: 50%;
    transform: rotate(-10deg);
  }
  .anim-bd-dollar-img {
    height: auto;
    width: 10%;
    bottom: 49.5%;
    right: 51%;
    transform: rotate(-25deg);
  }
  .anim-bd-euro-img {
    height: auto;
    width: 12%;
    z-index: -8;
    bottom: 45%;
    right: 3%;
    transform: rotate(20deg);
  }
  .anim-bd-rouble-img {
    display: none;
  }
  .anim-bd-pound-bg-img {
    display: none;
  }
  .anim-bd-pound-img {
    display: none;
  }
}
