.anim-f-bg-img {
  width: 110%;
  z-index: 40;
  top: 4%;
  left: 13%;
}
.anim-f-body-img {
  width: 22%;
  z-index: 50;
  top: 25%;
  left: 53%;
}
.anim-f-tail-img {
  width: 34%;
  z-index: 40;
  bottom: 16%;
  left: 33%;
}
.anim-f-left-hand-img {
  width: 9%;
  z-index: 55;
  top: 35%;
  left: 45.5%;
}
.anim-f-right-hand-img {
  width: 9%;
  z-index: 55;
  top: 51%;
  left: 73%;
}
.anim-f-cup-img {
  width: 18%;
  z-index: 60;
  top: 39%;
  left: 73.5%;
}
.anim-f-left-leg-img {
  width: 4%;
  z-index: 45;
  top: 67.5%;
  left: 57%;
}
.anim-f-right-leg-img {
  width: 4%;
  z-index: 45;
  top: 67%;
  left: 67%;
}
.anim-f-coins-img {
  width: 69%;
  z-index: 45;
  top: 63%;
  left: 150%;
}

/* @media (max-width: 1100px) and (min-height: 750px) {
  .anim-f-coins-img {
    width: 69%;
    z-index: 45;
    top: 63%;
    left: 135%;
  }
} */

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-f-coins-img {
    display: none;
  }

  .anim-f-bg-img {
    width: unset;
    top: unset;
    height: 560px;
    bottom: 0;
    left: 0;
  }
  .anim-f-body-img {
    width: 22%;
    top: unset;
    left: 37%;
    bottom: 18%;
  }
  .anim-f-tail-img {
    width: 31%;
    top: unset;
    bottom: 1%;
    left: 17%;
  }

  .anim-f-left-hand-img {
    width: 8%;
    top: unset;

    bottom: 38%;
    left: 30.5%;
  }
  .anim-f-right-hand-img {
    width: 8%;
    top: unset;

    bottom: 31%;
    left: 57.5%;
  }
  .anim-f-cup-img {
    width: 13%;
    top: unset;
    bottom: 35%;
    left: 59.5%;
  }
  .anim-f-left-leg-img {
    width: 4%;
    bottom: 0;
    top: unset;
    left: 42%;
  }
  .anim-f-right-leg-img {
    width: 4%;
    top: unset;
    bottom: 0;
    left: 50%;
  }
}
