.anim-is-bg-img {
  height: 80%;
  z-index: 10;
  bottom: 12%;
  left: 15%;
}
.anim-is-body-img {
  height: 44%;
  z-index: 40;
  bottom: 28%;
  left: 51%;
}
.anim-is-tail-img {
  height: 27%;
  z-index: 30;
  bottom: 13%;
  left: 70.5%;
}
.anim-is-left-leg-img {
  height: 16%;
  z-index: 30;
  bottom: 14%;
  left: 64%;
}
.anim-is-right-leg-img {
  height: 19%;
  z-index: 30;
  bottom: 13%;
  left: 72%;
}
.anim-is-left-hand-img {
  height: 11%;
  z-index: 39;
  bottom: 43%;
  left: 45.5%;
}
.anim-is-right-hand-img {
  height: 8%;
  z-index: 55;
  bottom: 37%;
  left: 64%;
}
.anim-is-cart-img {
  height: 25%;
  z-index: 50;
  bottom: 13%;
  left: 38%;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .anim-is-bg-img {
    height: 96%;
    bottom: 0%;
    left: 5%;
  }
  .anim-is-body-img {
    height: 55%;
    bottom: 18%;
    left: 38%;
  }
  .anim-is-tail-img {
    height: 32%;
    bottom: 2%;
    left: 58.5%;
  }
  .anim-is-left-leg-img {
    height: 21%;
    bottom: 2%;
    left: 50%;
  }
  .anim-is-right-leg-img {
    height: 22%;
    bottom: 0;
    left: 57%;
  }
  .anim-is-left-hand-img {
    height: 14%;
    bottom: 36%;
    left: 32.5%;
  }
  .anim-is-right-hand-img {
    height: 11%;
    bottom: 28%;
    left: 49.5%;
  }
  .anim-is-cart-img {
    height: 30%;
    bottom: 0;
    left: 27%;
  }
}
