<div style="
    background-color: #fad935;
    margin: auto 10px;
    color: #fff;
    min-height: 400px;
    display: flex;
">
    <div style="margin:auto;">
        <h1>Здравствуйте!</h1>
        <h2>Отправляем документы для оплаты счета</h2>


    </div>
</div>