<template>
  <section
    id="directory-agents"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block pt-4">
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Справочник агентов</p>
        </div>
      </div>
    </div>
    <div
      class="contaiter-fluid relative-block mx-3 mr-4"
      style="margin-bottom: 70px"
    >
      <DirectoryTable type="Agent" :items="items" />
    </div>
  </section>
</template>

<script>
import DirectoryTable from "@/components/buhadmin/Tables/DirectoryTable.vue";
import { AdminBuchMapper } from "@/store/adminBuch";
export default {
  name: "DirectoryAgents",
  components: {
    DirectoryTable,
  },
  computed: {
    ...AdminBuchMapper.mapState(["agents"]),
    items() {
      if (this.agents.length) {
        let agents = this.agents;
        console.log(agents);
        return agents.reverse().map((i, index) => {
          return {
            id: i.user.id,
            number: index + 1,
            name: `${i.user.surName} ${i.user.name} ${i.user.patronymic}`,
            birthday: i.birthday,
            citizenship: i.citizen,
            education: i.education,
            inn: i.inn,
            snils: i.snils,
            passport: i.passport,
            passportWho: i.passportWho,
            passportWhen: i.passportWhen,
            country: i.country,
            addresses: i.adress,
            actualAddress: i.adress,
            email: i.user.email,
            emailBuh: i.emailBuch,
            date: i.user.date_joined,
          };
        });
      }
      return [];
    },
  },
  methods: {
    ...AdminBuchMapper.mapActions(["getAgents"]),
  },
  async mounted() {
    await this.getAgents();
  },
};
</script>

<style>
</style>