<template>
  <section id="table-directory">
    <!-- <DropdownFilters /> -->

    <div class="row mt-2">
      <div class="col-4 ml-4">
        <b-input
          class="top-input search-bg"
          placeholder="Поиск"
          v-model="search"
        ></b-input>
      </div>
      <div class="col-12 p-0" style="margin-top: 30px">
        <div class="row">
          <!-- <b-button
            variant="1"
            @click="
              $router.push({
                name: `${role.toLowerCase()}-agent-doc`
              })
            "
            class="btn-documents"
            style="margin: 0 25px"
            ><p>Агентский договор</p></b-button
          >
          <b-button
            variant="1"
            @click="
              $router.push({
                name: `${role.toLowerCase()}-product-doc`
              })
            "
            class="btn-documents"
            style="margin: 0 25px"
            ><p>Договор на поставку товара</p></b-button
          >
          <b-button
            variant="1"
            @click="
              $router.push({
                name: `${role.toLowerCase()}-seminar-doc`
              })
            "
            class="btn-documents"
            style="margin: 0 25px"
            ><p>Договор-оферта на проведение семинара</p></b-button
          >
          <b-button
            variant="1"
            @click="
              $router.push({
                name: `${role.toLowerCase()}-license-doc`
              })
            "
            class="btn-documents"
            style="margin: 0 25px"
            ><p>Лицензионный договор</p></b-button
          >
          <b-button
            variant="1"
            @click="
              $router.push({
                name: `${role.toLowerCase()}-sublicense-doc`
              })
            "
            class="btn-documents"
            style="margin: 10px 25px 0px 25px"
            ><p>Сублицензионный договор-оферта</p></b-button
          >
          <b-button
            variant="1"
            @click="
              $router.push({
                name: `${role.toLowerCase()}-bill-doc`
              })
            "
            class="btn-documents"
            style="margin: 10px 25px 0px 25px"
            ><p>Счет на оплату</p></b-button
          >
          <b-button
            variant="1"
            @click="
              $router.push({
                name: `${role.toLowerCase()}-act-doc`
              })
            "
            class="btn-documents"
            style="margin: 10px 25px 0px 25px"
            ><p>Акт выполненных работ</p></b-button
          >
          <b-button
            variant="1"
            @click="
              $router.push({
                name: `${role.toLowerCase()}-upd-doc`
              })
            "
            class="btn-documents"
            style="margin: 10px 25px 0px 25px"
            ><p>УПД</p></b-button
          > -->
        </div>
      </div>
    </div>

    <div class="agent-container">
      <div class="row w-100 mt-4 table-analytics">
        <b-table
          hover
          ref="topchild"
          id="children-table"
          :items="items"
          :fields="fields"
          :total-rows="rows"
          :per-page="perPage"
          :current-page="currentPage"
          table-class="pointer"
          :filter="search"
          @row-clicked="clickRow"
          sort-icon-left
        >
          <!-- кнопка, чтобы вызвать дополнителньую информацию -->
          <template #cell(show_details)="row">
            <button
              :id="`show_details_btn_${row.item.id}`"
              @click="row.toggleDetails"
              class="btn-invisible-button btn-details-height"
            >
              <img
                src="@/assets/img/icons/arrow-down-diagramm.png"
                alt=""
                class="img-fluid"
              />
            </button>
          </template>
          <!-- кнопка, чтобы вызвать дополнителньую информацию -->

          <template #row-details="row">
            <!-- дополнительная информация агента -->
            <div class="row normal-text" v-if="type == 'Agent'">
              <!-- первый столбец с информацией -->
              <div class="width-directory3" style="margin-left: 2.5rem">
                <div class="row justify-content-between">
                  <p>ФИО:</p>
                  <p class="semi-bold-text">{{ row.item.name }}</p>
                </div>
                <div class="row">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Дата рождения:</p>
                  <p class="semi-bold-text">{{ row.item.birthday }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Гражданство:</p>
                  <p class="semi-bold-text">{{ row.item.citizenship }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Образование:</p>
                  <p class="semi-bold-text">{{ row.item.education }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>ИНН:</p>
                  <p class="semi-bold-text">{{ row.item.inn }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>СНИЛС:</p>
                  <p class="semi-bold-text">{{ row.item.snils }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Серия/Номер паспорта:</p>
                  <p class="semi-bold-text">{{ row.item.passport }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Кем выдан:</p>
                  <p class="semi-bold-text">{{ row.item.passportWho }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Дата выдачи:</p>
                  <p class="semi-bold-text">{{ row.item.passportWhen }}</p>
                </div>
              </div>
              <!-- первый столбец с информацией -->
              <!-- второй столбец с информацией -->
              <div class="width-directory2" style="margin-left: 100px">
                <div class="row justify-content-between">
                  <p>Страна:</p>
                  <p class="semi-bold-text">{{ row.item.country }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Адрес прописки:</p>
                  <p class="semi-bold-text">{{ row.item.addresses }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Фактический адрес:</p>
                  <p class="semi-bold-text">{{ row.item.actualAddress }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>E-mail:</p>
                  <p class="semi-bold-text">{{ row.item.email }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>E-mail бухгалтерии:</p>
                  <!-- <p class="semi-bold-text">{{ row.item.emailBuh }}</p> -->
                </div>
              </div>
              <!-- второй столбец с информацией -->
            </div>
            <!-- дополнительная информация агента -->
            <!-- дополнительная информация франчайзии -->
            <div class="row normal-text" v-if="type == 'Franchisee'">
              <!-- первый столбец с информацией -->
              <div class="width-directory1" style="margin-left: 2.5rem">
                <div class="row justify-content-between">
                  <p>Организация:</p>
                  <p class="semi-bold-text">{{ row.item.organisation }}</p>
                </div>
                <div class="row width-directory1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>ИНН:</p>
                  <p class="semi-bold-text">{{ row.item.inn }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>ОГРНИП:</p>
                  <p class="semi-bold-text">{{ row.item.ogrnip }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Р/с:</p>
                  <p class="semi-bold-text">{{ row.item.rc }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>К/с:</p>
                  <p class="semi-bold-text">{{ row.item.kc }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Банк:</p>
                  <p class="semi-bold-text">{{ row.item.bank }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>БИК банка:</p>
                  <p class="semi-bold-text">{{ row.item.bankBik }}</p>
                </div>
              </div>
              <!-- первый столбец с информацией -->
              <!-- второй столбец с информацией -->
              <div class="width-directory2" style="margin-left: 120px">
                <div class="row justify-content-between">
                  <p>Юр. адрес:</p>
                  <p class="semi-bold-text">{{ row.item.urAdress }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Почтовый адрес:</p>
                  <p class="semi-bold-text">{{ row.item.postAdress }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Телефон:</p>
                  <p class="semi-bold-text">{{ row.item.phone }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>E-mail:</p>
                  <p class="semi-bold-text">{{ row.item.email }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>E-mail бухгалтерии:</p>
                  <!-- <p class="semi-bold-text">{{ row.item.emailBuh.email }}</p> -->
                </div>
              </div>
              <!-- второй столбец с информацией -->
            </div>
            <!-- дополнительная информация франчайзии -->
            <!-- дополнительная информация о детях -->
            <div class="row normal-text" v-if="type == 'Children'">
              <div class="width-directory2" style="margin-left: 2.5rem">
                <div class="row justify-content-between">
                  <p>Почтовый адрес:</p>
                  <p class="semi-bold-text">{{ row.item.postAdress }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Телефон:</p>
                  <p class="semi-bold-text">{{ row.item.phone }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>E-mail:</p>
                  <p class="semi-bold-text">{{ row.item.email }}</p>
                </div>
              </div>
            </div>
            <!-- дополнительная информация о детях -->
            <!-- дополнительная информация о менторах -->
            <div class="row normal-text" v-if="type == 'Mentor'">
              <div class="width-directory3" style="margin-left: 2.5rem">
                <div class="row justify-content-between">
                  <p>Статус работы:</p>
                  <p class="semi-bold-text">{{ row.item.status }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Серия/номер паспорта:</p>
                  <p class="semi-bold-text">{{ row.item.passport }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Кем выдан:</p>
                  <p class="semi-bold-text">{{ row.item.passportWho }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Дата выдачи:</p>
                  <p class="semi-bold-text">{{ row.item.passportWhen }}</p>
                </div>
              </div>
              <div class="width-directory4" style="margin-left: 120px">
                <div class="row justify-content-between">
                  <p>E-mail:</p>
                  <p class="semi-bold-text">{{ row.item.email }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Телефон:</p>
                  <p class="semi-bold-text">{{ row.item.phone }}</p>
                </div>
                <div class="row 1">
                  <hr class="mt-1 mb-2 hr-branch w-100" />
                </div>
                <div class="row justify-content-between">
                  <p>Адрес:</p>
                  <p class="semi-bold-text">{{ row.item.postAdress }}</p>
                </div>
              </div>
            </div>
            <!-- дополнительная информация о менторах -->

            <!-- кнопка "подробнее" -->

            <b-button
              variant="1"
              @click="MoreInfo(row.item.id)"
              class="btn-buh-moreinfo mt-4 mb-2"
              ><p>Подробнее</p></b-button
            >
            <b-button
              v-if="type == 'Franchisee' || type == 'Agent'"
              variant="1"
              @click="checkDoc('report', row.item)"
              class="btn-buh-moreinfo mt-4 mb-2"
              ><p>Сводный отчет</p></b-button
            >
            <b-button
              v-if="type == 'Franchisee' || type == 'Agent'"
              variant="1"
              @click="checkDoc('act', row.item)"
              class="btn-buh-moreinfo mt-4 mb-2"
              ><p>Акт сверки</p></b-button
            >

            <!-- кнопка "подробнее" -->
          </template>
        </b-table>
      </div>

      <div class="row justify-content-center mt-2">
        <!-- @page-click="scrolltoTop" -->
        <b-pagination
          v-if="rows > 1"
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="children-table"
          class="m-0"
        ></b-pagination>
      </div>
      <div class="row w-100 justify-content-between px-4 pb-4">
        <div class="row">
          <p class="my-auto">Показывать по</p>
          <div>
            <b-dropdown
              id="dropdown-perpages"
              variant="1"
              right
              :text="perPage"
              class="m-md-2"
            >
              <b-dropdown-item @click="perPage = '60'" class="w-100"
                >60</b-dropdown-item
              >
              <b-dropdown-item @click="perPage = '30'" class="w-100"
                >30</b-dropdown-item
              >
              <b-dropdown-item @click="perPage = '15'" active class="w-100"
                >15</b-dropdown-item
              >
              <b-dropdown-item @click="perPage = '5'" class="w-100"
                >5</b-dropdown-item
              >
            </b-dropdown>
          </div>
        </div>
      </div>
    </div>
    <b-modal
      title="Выберите дату"
      centered
      size="sm"
      v-model="docCheckValue.show"
      @ok="seeDocs"
    >
      <b-form-datepicker
        class="display-flex justify-center"
        dropup
        no-flip
        placeholder="От"
        locale="ru"
        hide-header
        label-help=""
        :start-weekday="1"
        :date-format-options="{
          year: 'numeric',
          month: 'numeric',
          day: 'numeric',
        }"
        :max="docCheckValue.to ? docCheckValue.to : new Date()"
        :min="docCheckValue.min"
        @input="(date) => (docCheckValue.from = date)"
      ></b-form-datepicker>
      <b-form-datepicker
        class="mt-3"
        dropup
        no-flip
        placeholder="До"
        locale="ru"
        hide-header
        label-help=""
        :start-weekday="1"
        :date-format-options="{
          year: 'numeric',
          month: 'numeric',
          day: 'numeric',
        }"
        :min="docCheckValue.from ? docCheckValue.from : docCheckValue.min"
        :max="new Date()"
        @input="(date) => (docCheckValue.to = date)"
      ></b-form-datepicker>
    </b-modal>
  </section>
</template>

<script>
import { UserMapper } from "@/store/user";
import { AdminBuchMapper } from "@/store/adminBuch";
export default {
  name: "TableChildren",
  props: {
    type: {
      type: String,
      default: "",
    },
    items: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      show: false,
      search: "",
      showDocumentDatePicker: false,
      docCheckValue: {
        type: "",
        id: 0,
        from: null,
        to: null,
        min: null,
        show: false,
      },
      perPage: "15",
      currentPage: 1,

      fields: [
        {
          key: "number",
          label: "Номер",
          class: "directory-id",
          sortable: true,
        },
        {
          key: "name",
          label:
            this.type == "Mentor"
              ? "ФИО Ментора"
              : this.type == "Children"
              ? "ФИО Ребенка"
              : this.type == "Agent"
              ? "Контрагент"
              : this.type == "Franchisee"
              ? "Франчайзи"
              : "",
          class: "directory-name",
          sortable: true,
        },
        //  {
        //   key: "count",
        //   label: "Сумма",
        //   class: "directory-id",
        //   sortable: true,
        // },
        {
          key: "show_details",
          class: "show-details",
          label: "",
          sortable: false,
        },
      ],
    };
  },

  methods: {
    ...AdminBuchMapper.mapActions([
      "getAgentDetails",
      "getFranchiseeDetails",
      "getChildDetails",
      "getMentorDetails",
    ]),
    clickRow(item) {
      document.getElementById(`show_details_btn_${item.id}`).click();
    },
    /* 
      Предпросмотр документов (акта и отчета).
      @type - тип отчета (act, report)
      @id - Id просматриваемого лица 
    */
    checkDoc(type, item) {
      this.docCheckValue = {
        type,
        id: item.id,
        from: null,
        to: null,
        min: item.date,
        show: true,
      };
    },
    seeDocs() {
      let link = {
        name: `${this.role.toLowerCase()}-${this.type.toLowerCase()}-${
          this.docCheckValue.type
        }`,
        params: { id: this.docCheckValue.id },
        query: {},
      };
      this.docCheckValue.from
        ? (link.query.from = this.docCheckValue.from)
        : "";
      this.docCheckValue.to ? (link.query.to = this.docCheckValue.to) : "";
      this.$router.push(link);
    },
    async MoreInfo(number) {
      this.$router.push({
        name: `${this.role.toLowerCase()}-${this.type.toLowerCase()}-info`,
        params: { id: number },
      });
    },
  },
  computed: {
    ...UserMapper.mapGetters(["role"]),
    rows() {
      return this.items.length;
    },
  },
};
</script>

<style>
.directory-id {
  width: 20%;
  padding-left: 2.5rem !important;
}
.width-directory1 {
  width: 270px;
}
.width-directory2 {
  width: 405px;
}
.width-directory3 {
  width: 355px;
}
.width-directory4 {
  width: 320px;
}
.width-directory1 > .row > p,
.width-directory2 > .row > p,
.width-directory3 > .row > p,
.width-directory4 > .row > p {
  margin: 0;
}
.show-details {
  width: 5%;
}
.btn-details-height {
  width: 15px;
}
.btn-buh-moreinfo {
  background: #9276e4;
  border: 1px solid #9276e4;
  border-radius: 3px;
  padding: 5px 20px;
  margin-left: 2.5rem;
  transition: 0.5s ease;
}
.btn-buh-moreinfo:hover {
  border: 1px solid #9276e4;
  box-shadow: 0px 0px 15px #00000030;
}
.btn-buh-moreinfo:active {
  background: #9276e4;
  transform: scale(1.05);
}
.btn-buh-moreinfo > p {
  font-weight: 500;
  font-size: 14px;
  margin: 0 auto;
  color: #ffffff;
}

/* фильтры */
.btn-documents {
  background: #f0eff200;
  border: 1.5px solid #9276e4;
  border-radius: 100px;
  height: 35px;
  margin: 10px 25px !important;
  width: calc(25% - 50px);
  padding-top: 0;
  transition: 0.5s;
}
.btn-documents:hover {
  background: #9276e4;
  border: 1.5px solid #9276e4;
  box-shadow: 0px 0px 15px #00000030;
}
.btn-documents:active {
  transform: scale(1.05);
}
.btn-documents > p {
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden;
  text-overflow: ellipsis;
}
.btn-documents:hover > p,
.btn-documents:active > p {
  color: #fefefe;
}
.custon-select {
  border: 1px solid #c4c4c4;
  background: #fefefe;
}
.custom-select:focus {
  box-shadow: none;
  border: 1px solid #ed8719;
}
.btn-filter {
  display: flex;
}
</style>
