<template>
  <section
    id="directory-franchisee"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block pt-4">
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Справочник франчайзи</p>
        </div>
      </div>
    </div>
    <div
      class="contaiter-fluid relative-block mx-3 mr-4"
      style="margin-top: 30px; margin-bottom: 70px"
    >
      <DirectoryTable type="Franchisee" :items="items" />
    </div>
  </section>
</template>

<script>
import DirectoryTable from "@/components/buhadmin/Tables/DirectoryTable.vue";
import { AdminBuchMapper } from "@/store/adminBuch";

export default {
  name: "DirectoryFranchisee",
  components: {
    DirectoryTable,
  },

  computed: {
    ...AdminBuchMapper.mapState(["franchisee"]),

    items() {
      if (this.franchisee.length) {
        let franchisee = this.franchisee;
        return franchisee.reverse().map((i, index) => {
          return {
            id: i.user.id,
            number: index + 1,
            name: i.name,
            organisation: i.name,
            inn: i.inn,
            ogrnip: i.ogrn,
            rc: i.rs,
            kc: i.cs,
            bank: i.bank,
            bankBik: i.bik,
            urAdress: i.urAdress,
            postAdress: i.adress,
            phone: i.user.phone,
            email: i.user.email,
            emailBuch: i.emailBuch,
            date: i.user.date_joined,
          };
        });
      }
      return [];
    },
  },

  methods: {
    ...AdminBuchMapper.mapActions(["getFranchisee"]),
  },

  async mounted() {
    await this.getFranchisee();
  },
};
</script>

<style>
</style>