<template>
  <div class="wrap-franchisee-type">
    <div class="row justify-content-center">
      <div class="col-11 text-center">
        <p class="type-franchisee-header text-center m-0 pt-4 pb-2">
          {{ pack.name }}
        </p>

        <div id="animated-number-demo">
          <div class="row">
            <p class="mt-2 mr-3 text-left">Кол-во детей:</p>
            <input
              v-model.number="childrenFranchiseeCount"
              placeholder="0"
              type="number"
              class="childten-count-input"
              @keypress="proverka"
              min="25"
              max="500"
            />
            <p
              class="alert-child-text"
              v-if="
                childrenFranchiseeCount < 25 && childrenFranchiseeCount != 0
              "
            >
              Колличество детей должно быть не менее 25
            </p>
          </div>

          <p class="mt-4 cost-descr-text text-left">Стоимость</p>

          <transition name="list">
            <p class="money-text text-left animate__animated">
              {{
                childrenFranchiseeCount > 24
                  ? childrenFranchiseeCount * costforChild
                  : 0
              }}
              <span class="roubles-text">Р</span>
            </p></transition
          >
        </div>
        <button
          @click="$emit('take', pack, childrenFranchiseeCount, finalCost)"
          :class="{ disabled }"
          class="agent-file-load py-2 mb-5 mt-4 franchisee-buy-button"
        >
          <p class="m-0">Заказать</p>
        </button>
      </div>
    </div>
  </div>
</template>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.2.4/gsap.min.js"></script>

<script>
export default {
  name: "FranchiseeType",
  props: {
    pack: {
      type: Object,
      require: true,
    },
  },
  data() {
    return {
      childrenFranchiseeCount: 0,
    };
  },

  computed: {
    disabled() {
      return this.childrenFranchiseeCount < 25;
    },
    costforChild() {
      // if (this.pack.name == "Offline пакеты") {
      return this.childrenFranchiseeCount < 50
        ? this.pack.cost[0]
        : this.childrenFranchiseeCount < 100
        ? this.pack.cost[1]
        : this.pack.cost[2];
      // } else if (this.pack.name == "Online пакеты") {
      //   return this.childrenFranchiseeCount < 50
      //     ? 1500
      //     : this.childrenFranchiseeCount < 100
      //     ? 1300
      //     : 1100;
      // }
    },

    finalCost() {
    return this.childrenFranchiseeCount * this.costforChild;
  }
  },

  

  methods: {
    proverka($event) {
      var value = $event.key;
      var rep = /[-\.;":'a-zA-Zа-яА-Я]/;
      if (rep.test(value)) {
        $event.preventDefault();
      }
    },

    // proverka() {
    //   console.log("Press");
    // },
  },
  // data: {
  //   number: 0,
  //   tweenedNumber: 0,
  // },
  // computed: {
  //   animatedNumber: function () {
  //     return this.tweenedNumber.toFixed(0);
  //   },
  // },
  watch: {
    // number: function (newValue) {
    //   gsap.to(this.$data, { duration: 0.5, tweenedNumber: newValue });
    // },
    childrenFranchiseeCount: function (newValue) {
      this.$emit("count", newValue);
    },
  },
};
</script>

<style>
.alert {
  color: red;
}
.alert-child-text {
  margin: 0;
  font-size: 0.7em;
  color: red;
  position: absolute;
  top: 6rem;
}

.disabled {
  pointer-events: none;
  color: #949191;
  border: 1px solid #ffffff;
}

.wrap-franchisee-type {
  background: #fefefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
  transition: 0.5s;
  width: 320px;
  height: 320px;
}

.cost-descr-text {
  font-weight: normal;
  font-size: 18px;
  color: #2b2a29;
}
.type-franchisee-header {
  font-weight: 600;
  font-size: 22px;
  color: #2b2a29;
}
.money-text {
  font-weight: bold;
  font-size: 30px;
  color: #e4690b;
}
.roubles-text {
  font-weight: 400 !important;
}
.childten-count-input {
  background: #00000000;
  border: none;
  border-bottom: 1px solid #2b2a29;
  box-sizing: border-box;
  border-radius: 0px;
  margin: auto 0;
  width: 80px;
  text-align: center;
  transition: 0.5s ease;
  box-shadow: none;
}
.childten-count-input:hover {
  border: none;
  border-bottom: 1px solid #b42f26;
  outline: none;
  box-shadow: none;
}
.childten-count-input:focus {
  border: none;
  border-bottom: 1px solid #b42f26;
  outline: none;
  box-shadow: none;
}

.franchisee-buy-button {
  border: 1.5px solid #b42f26;
  box-sizing: border-box;
  height: 35px;
  width: 95px;
  padding: 0;
  transition: 0.5s ease;
}
.franchisee-buy-button:hover {
  border: 1.5px solid #b42f26;
  background: #b42f26;
  box-shadow: 0px 0px 15px #00000030;
}
.franchisee-buy-button:active {
  transform: scale(1.05);
}
.franchisee-buy-button > p {
  font-size: 14px;
  font-weight: 500;
  color: #2b2a29;
}
.franchisee-buy-button:hover > p,
.franchisee-buy-button:active > p {
  color: #fefefe;
}
</style>