<template>
  <div class="pl-4">
    <div class="row row-support">
      <div class="col admin-inputs">
        <ui-input v-model="message.theme" placeholder="Тема сообщения" />
      </div>
    </div>
    <div class="row row-support mt-1">
      <div class="col admin-inputs">
        <ui-text-area
          v-model="message.text"
          placeholder="Текст сообщения"
          class="message-input"
        />
      </div>
    </div>
    <div class="row row-support mt-3">
      <div class="col text-right">
        <button
          class="agent-file-load width-support py-1"
          :class="{ disabled }"
          @click.prevent="send"
        >
          Отправить сообщение
        </button>
      </div>
    </div>
  </div>
</template>


<script>
export default {
  data() {
    return {
      message: {
        theme: "",
        text: "",
      },
    };
  },
  methods: {
    send() {
      this.$emit("send", this.message);
      this.clearForm();
    },
    clearForm() {
      this.message = {
        theme: "",
        text: "",
      };
    },
  },
  computed: {
    disabled() {
      return !(this.message.theme && this.message.text);
    },
  },
};
</script>

<style scoped>
.row-support {
  width: 630px;
}
</style>