<template>
  <div
    class="contaiter-fluid agent-container mx-3 mr-4 pt-1 pb-4"
    style="margin-bottom: 70px; margin-top: 30px"
  >
    <div ref="tableStart" class="row w-100">
      <transition name="fade">
        <b-table
          borderless
          hover
          fixed
          id="agent-message-table"
          :items="messages"
          :fields="fields"
          :total-rows="rows"
          :per-page="perPage"
          :current-page="currentPage"
        ></b-table>
      </transition>
    </div>
    <div class="row mt-3 justify-content-center">
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        @page-click="scrolltoTop"
        aria-controls="agent-message-table"
      ></b-pagination>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    messages: {
      type: Array,
      default: () => [],
    },
  },
  data() {
    return {
      perPage: "10",
      currentPage: 1,
      fields: [
        {
          key: "theme",
          label: "Тема",
          class: "support-theme",
          sortable: true,
        },

        {
          key: "status",
          label: "Статус",
          class: "support-status",
          sortable: false,
        },

        {
          key: "text",
          label: "Сообщение",
          class: "support-message",
          sortable: false,
        },
        {
          key: "sendedAt",
          label: "Дата",
          class: "support-date",
          sortable: true,
        },
      ],
    };
  },
  computed: {
    rows() {
      return this.messages.length;
    },
  },
  methods: {
    scrolltoTop() {
      this.$refs.tableStart.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },
  },
};
</script>

<style scoped>
</style>