<template>
  <section
    id="buy-franchisee"
    class="animate__animated animate__fadeIn no-select"
  >
    <ModalAddBranch />
    <div v-if="role == 'admin'" class="contaiter-fluid relative-block mr-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Все заявки
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">{{ franchiseeDetails.name }}</p>
        </div>
        <div class="col-3 text-right my-auto">
          <DropDown
            @click-link="adminDropDownClick"
            :placeholder="dropDownPlaceholder"
          />
        </div>
      </div>
    </div>
    <div v-else class="contaiter-fluid relative-block pt-4 mr-2 mt-2">
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">Аналитика</p>
        </div>
        <div class="col-3 text-right my-auto">
          <DropDown
            @click-link="franchiseeDropDownClick"
            :placeholder="dropDownPlaceholder"
          />
        </div>
      </div>
    </div>

    <div
      class="contaiter-fluid agent-container relative-block mx-3 mt-3 mr-4 pl-4"
    >
      <hr class="invisible" />

      <div
        v-if="role == 'Franchisee'"
        class="row pt-4 justify-content-between base-info-text mt-2 mr-3"
      >
        <div class="col-4">
          <div class="row">
            <p class="my-2 w-25">Пакет:</p>
            <p class="semi-bold-text my-2">{{ dropDownPlaceholder }}</p>
          </div>
          <div class="row">
            <p class="my-2 w-25">Регион:</p>
            <p class="semi-bold-text my-2">
              {{ franchiseeProfile.adress }}
            </p>
          </div>
        </div>

        <div class="wrap-base-economics ml-5" style="width: 440px">
          <div class="row flex-row h-100 px-3 py-2">
            <div class="text-right">
              <p class="mt-1 mb-0 number-reg yellowtext">
                {{ numberWithSpaces(registrations.total) }}
              </p>
              <p class="mb-0" style="font-size: 14px">Всего регистраций</p>
            </div>
            <div class="text-right">
              <p class="mt-1 mb-0 number-reg redtext">
                {{ numberWithSpaces(registrations.used) }}
              </p>
              <p class="mb-0" style="font-size: 14px">Использовано</p>
            </div>
            <div class="text-right">
              <p class="mt-1 mb-0 number-reg greentext">
                {{ numberWithSpaces(registrations.total - registrations.used) }}
              </p>
              <p class="mb-0" style="font-size: 14px">Свободно</p>
            </div>
          </div>
        </div>
        <div class="text-right">
          <!-- <a href="#" @click="overlay = !overlay" class="child-link"
            >Добавить филиал</a
          > -->
          <button
            href="#"
            @click="$bvModal.show('add-branch-modal')"
            class="button-add-branch mr-4"
          >
            <p>Добавить филиал</p>
          </button>
        </div>
      </div>

      <div
        v-else
        class="row pt-4 justify-content-between base-info-text mt-2 mr-3"
      >
        <div class="col-4">
          <div class="row">
            <p style="width: 160px" class="my-2">Пакет:</p>
            <p class="semi-bold-text ml-auto my-2">{{ dropDownPlaceholder }}</p>
          </div>
          <div class="row">
            <hr class="hr-branch m-0 w-100" />
          </div>
          <div class="row">
            <p style="width: 160px" class="my-2">Остаток по пакету:</p>
            <p class="orange-text semi-bold-text ml-auto my-2">
              {{ packagesInfo.leftValue }}
            </p>
          </div>
          <div class="row">
            <hr class="hr-branch m-0 w-100" />
          </div>
          <div class="row">
            <p style="width: 160px" class="my-2">Регион:</p>
            <p class="semi-bold-text ml-auto my-2">
              {{ franchiseeDetails.adress }}
            </p>
          </div>
        </div>

        <div class="text-right">
          <!-- <a href="#" @click="overlay = !overlay" class="child-link"
            >Добавить филиал</a
          > -->
          <button
            v-if="role == 'admin'"
            href="#"
            @click="$router.push({ name: 'admin-analytics-fr-data-mydata' })"
            class="button-data-franchisee mr-5"
          >
            <p>Просмотр данных аккаунта</p>
          </button>
          <button
            @click="
              !banFranchisee
                ? (showBanFranchisee = !showBanFranchisee)
                : (banFranchisee = !banFranchisee)
            "
            v-if="role == 'admin'"
            class="mr-4 ml-auto"
            :class="banFranchisee ? 'btn-unban-agent' : 'btn-ban-agent'"
          >
            {{ banFranchisee ? "Разблокировать" : "Заблокировать" }} партнера
          </button>
          <button
            v-if="role == 'Franchisee'"
            href="#"
            @click="$bvModal.show('add-branch-modal')"
            class="button-add-branch mr-4"
          >
            <p>Добавить филиал</p>
          </button>
        </div>
      </div>

      <BaseInfoFranchAnal
        :childCount="allChildCount"
        :groupCount="allGroupCount"
        :mentorCount="allMentorCount"
        :branchCount="allBranchCount"
      />
      <hr class="hr-invisible m-0 pt-0" style="padding-bottom: 2rem" />
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mr-4"
      style="margin-bottom: 70px; margin-top: 30px"
    >
      <b-tabs
        active-nav-item-class="active-tab-analytics"
        content-class="mt-2"
        class="pt-4"
        nav-class="w-fit width-moreinfo-tabs"
        nav-wrapper-class="analytics-tab-title"
        fill
      >
        <b-tab title="Филиалы">
          <TableBranches
            v-if="role == 'admin'"
            linkName="admin-analytics-branch"
            :branches="branchList"
            @ban="blockBranch"
          />
          <TableBranches
            v-else-if="role == 'Franchisee'"
            linkName="franchisee-analytics-branch"
            :branches="branchList"
            @ban="blockBranch"
          />
        </b-tab>
        <b-tab title="Финансы"><TableAnalytics /></b-tab>
      </b-tabs>
    </div>
    <ModalBanFranchisee
      @ok="firePartner"
      :show="showBanFranchisee"
      @close="showBanFranchisee = false"
    />
  </section>
</template>

<script>
import ModalBanFranchisee from "@/components/franchisee/analytics/ModalBanFranchisee.vue";
import DropDown from "@/components/franchisee/analytics/DropDown.vue";
import { numberWithSpaces } from "@/scripts/number";
import { FranchiseeMapper } from "@/store/franchisee";
import { UserMapper } from "@/store/user";
import { AdminMapper } from "@/store/admin";

import ModalAddBranch from "@/components/franchisee/analytics/branches/ModalAddBranch.vue";
import BaseInfoFranchAnal from "@/components/franchisee/analytics/more-info/BaseInfoFranchAnal.vue";
import TableAnalytics from "@/components/franchisee/analytics/more-info/TableAnalytics.vue";
import TableBranches from "@/components/franchisee/analytics/more-info/TableBranches.vue";

export default {
  name: "AllBranchesAnalytics",
  components: {
    ModalAddBranch,
    BaseInfoFranchAnal,
    TableAnalytics,
    TableBranches,
    DropDown,
    ModalBanFranchisee,
  },
  data() {
    return {
      banFranchisee: false,
      overlay: false,
      packageName: "Название пакета",
      regionName: "Регион",
      balancePackage: 0,
      registrations: {
        total: 0,
        used: 0,
      },
      showBanFranchisee: false,
      branchList: [],
    };
  },
  computed: {
    ...AdminMapper.mapGetters([
      "allChildCount",
      "allMentorCount",
      "allGroupCount",
      "allBranchCount",
    ]),
    ...UserMapper.mapGetters(["role"]),
    ...AdminMapper.mapState([
      "franchiseeDetails",
      "package",
      "error",
      "branches",
    ]),
    ...FranchiseeMapper.mapState(["franchiseeProfile"]),
    dropDownPlaceholder() {
      switch (this.$route.params.pack) {
        case "sad-offline":
          return "Детский сад/offline";
        case "sad-online":
          return "Десткий сад/online";
        case "primary-school-offline":
          return "Нач. школа/offline";
        case "primary-school-online":
          return "Нач. школа/online";
        case "school-offline":
          return "Школа/offline";
        case "school-online":
          return "Школа/online";
        default:
          return "Все франшизы";
      }
    },
    packagesInfo() {
      let packagesList = this.branchList.map((branch) => {
        return { ...branch.package, children: branch.children };
      });
      packagesList = packagesList.filter(
        (pack, i) => packagesList.indexOf(pack) === i
      );
      let leftValue = 0;
      packagesList.forEach(
        (pack) => (leftValue += pack.child_count - pack.children)
      );
      return { leftValue };
    },
  },
  methods: {
    adminDropDownClick(pack) {
      if (pack) {
        this.branchList = this.branches.filter((branch) => {
          return (
            branch.package.name == this.formatAndNameNumbers(pack).name &&
            branch.package.format == this.formatAndNameNumbers(pack).format
          );
        });
      } else {
        this.branchList = this.branches;
      }
    },
    franchiseeDropDownClick(pack) {
      if (pack) {
        this.branchList = this.branches.filter((branch) => {
          return (
            branch.package.name == this.formatAndNameNumbers(pack).name &&
            branch.package.format == this.formatAndNameNumbers(pack).format
          );
        });
      } else {
        this.branchList = this.branches;
      }
    },
    formatAndNameNumbers(pack) {
      let returnData = {
        "sad-offline": { format: 0, name: 0 },
        "sad-online": { format: 1, name: 0 },
        "primary-school-offline": { format: 0, name: 1 },
        "primary-school-online": { format: 1, name: 1 },
        "school-offline": { format: 0, name: 2 },
        "school-online": { format: 1, name: 2 },
      };

      return returnData[pack];
    },
    ...AdminMapper.mapActions([
      "getFranchiseeDetails",
      "blockFranchiseePackage",
      "getOtherBranches",
      "getPackage",
    ]),
    numberWithSpaces,
    ...FranchiseeMapper.mapActions(["getBranches", "banBranch"]),
    async blockBranch(data) {
      await this.banBranch(data);
    },

    async firePartner(reason) {
      let data = {
        id: this.franchiseeDetails.user.id,
        data: { status: 6, block_reason: reason },
      };
      await this.blockFranchiseePackage(data);
      await this.getPackage(this.franchiseeDetails.user.id);
      if (this.package[0].status == 6) {
        this.banFranchisee = true;
        console.log(this.banFranchisee);
      }
    },
  },

  async mounted() {
    await this.getFranchiseeDetails(this.$route.params.id);
    await this.getPackage(this.franchiseeDetails.user.id);
    if (this.package[0].status == 6) {
      this.banFranchisee = true;
      console.log(this.banFranchisee);
    }
    await this.getOtherBranches(this.$route.params.id);
    if (this.$route.params.pack) {
      this.branchList = this.branches.filter((branch) => {
        return (
          branch.package.name ==
            this.formatAndNameNumbers(this.$route.params.pack).name &&
          branch.package.format ==
            this.formatAndNameNumbers(this.$route.params.pack).format
        );
      });
    } else {
      this.branchList = this.branches;
    }
    this.getPackagesInfo(this.branchList);
  },
};
</script>

<style>
.number-reg {
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;
}
.wrap-base-economics {
  background: #ffffff;
  box-shadow: 0px 2px 9px rgba(0, 0, 0, 0.19);
  border-radius: 5px;
  color: #4a4a4a;
}

.flex-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
.btn-filter {
  background-color: #fefefe;
  border: 1px solid #c4c4c4;
  box-sizing: border-box;
  border-radius: 6px;
  width: 200px;
  height: 30px;
  transition: 0.5s ease;
}
.btn-filter p {
  color: #2b2a29;
}
.button-add-branch {
  background: #249ddd;
  border-radius: 3px;
  padding: 0;
  height: 30px;
  width: 150px;

  border: none;
  transition: 0.5s ease;
}
.button-add-branch:hover {
  box-shadow: 0px 0px 15px #00000030;
}
.button-add-branch:active,
.button-add-branch:focus {
  transform: scale(1.05);
}
.button-add-branch > p {
  margin: 0;
  font-weight: 500;
  font-size: 14px;
  color: #fefefe;
}

.active-tab-analytics {
  background: #249ddd !important;
}
.active-tab-analytics[aria-posinset="2"] {
  background: #1c8845 !important;
}
.analytics-tab-title {
  padding: 0;
  padding-top: 2px;
  padding-right: 2.5rem;
  padding-left: 2.5rem;
  font-weight: 500;
  font-size: 1rem;
  color: #fefefe !important;
}

.analytics-tab-title .nav-link {
  padding: 0;
  padding-top: 2px;
  color: #fefefe !important;
  background: #c4c4c4;
  border-radius: 6px;
}

.text-choise {
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  color: #2b2a29;
}

.overlay {
  background: #000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  z-index: 1000;
  transition: 0.5s ease;
}
.overlay_invisible {
  background: none;
  z-index: -1000;
  display: none;
}

.nav-tabs .nav-item {
  margin-right: 25px;
}
.width-moreinfo-tabs .nav-item {
  width: 120px !important;
}

.category-dropdown.show > button {
  border: 1px solid #b42f26;
}

/* кнопочки */

.button-data-franchisee {
  border: 1.5px solid #9276e4;
  background: #00000000;
  box-sizing: border-box;
  border-radius: 39px;
  height: 35px;
  width: 235px;
  padding: 0;
  transition: 0.5s ease;
}
.button-data-franchisee > p {
  font-weight: 500;
  font-size: 14px;
  color: #2b2a29;
  transition: 0.5s ease;
}
.button-data-franchisee:hover {
  background: #9276e4;
  box-shadow: 0px 0px 15px #00000030;
}
.button-data-franchisee:active {
  transform: scale(1.05);
}
.button-data-franchisee:hover > p,
.button-data-franchisee:active > p {
  color: #fefefe;
}
.btn-ban-agent,
.btn-unban-agent {
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
  border-radius: 3px;

  width: 200px;
  height: 30px;
  outline: none;
  border: none;
  transition: 0.5s ease;
}
.btn-ban-agent {
  background: #f22929;
}
.btn-unban-agent {
  background: #67b42b;
}
.btn-ban-agent:hover,
.btn-unban-agent:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.btn-ban-agent:active,
.btn-ban-agent:focus,
.btn-unban-agent:active,
.btn-unban-agent:focus {
  transform: scale(1.05);
}
</style>
