<template>
  <section
    id="baseinfo-buhadmin"
    class="animate__animated animate__fadeIn mt-3"
  >
    <div class="info-wrap" style="padding-top: 30px">
      <div class="row normal-text" v-if="type == 'Agent'">
        <!-- первый столбец с информацией -->
        <div class="width-directory3" style="margin-left: 2.5rem">
          <div class="row justify-content-between">
            <p>ФИО:</p>
            <p class="semi-bold-text">{{ info.franchName }}</p>
          </div>
          <div class="row">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Дата рождения:</p>
            <p class="semi-bold-text">{{ info.birthday }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Гражданство:</p>
            <p class="semi-bold-text">{{ info.citizenship }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Образование:</p>
            <p class="semi-bold-text">{{ info.education }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>ИНН:</p>
            <p class="semi-bold-text">{{ info.inn }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>СНИЛС:</p>
            <p class="semi-bold-text">{{ info.snils }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Серия/Номер паспорта:</p>
            <p class="semi-bold-text">{{ info.passport }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Кем выдан:</p>
            <p class="semi-bold-text">{{ info.passportWho }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Дата выдачи:</p>
            <p class="semi-bold-text">{{ info.passportWhen }}</p>
          </div>
        </div>
        <!-- первый столбец с информацией -->
        <!-- второй столбец с информацией -->
        <div class="width-directory2" style="margin-left: 100px">
          <div class="row justify-content-between">
            <p>Страна:</p>
            <p class="semi-bold-text">{{ info.country }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Адрес прописки:</p>
            <p class="semi-bold-text">{{ info.addresses }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Фактический адрес:</p>
            <p class="semi-bold-text">{{ info.actualAddress }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>E-mail:</p>
            <p class="semi-bold-text">{{ info.email }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>E-mail бухгалтерии:</p>
            <p class="semi-bold-text">{{ info.emailBuh.email }}</p>
          </div>
        </div>
        <!-- второй столбец с информацией -->
      </div>
      <!-- дополнительная информация агента -->
      <!-- дополнительная информация франчайзии -->
      <div class="row normal-text" v-if="type == 'Franchisee'">
        <!-- первый столбец с информацией -->
        <div class="width-directory1" style="margin-left: 2.5rem">
          <div class="row justify-content-between">
            <p>Организация:</p>
            <p class="semi-bold-text">{{ info.organisation }}</p>
          </div>
          <div class="row width-directory1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>ИНН:</p>
            <p class="semi-bold-text">{{ info.inn }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>ОГРНИП:</p>
            <p class="semi-bold-text">{{ info.ogrnip }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Р/с:</p>
            <p class="semi-bold-text">{{ info.rc }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>К/с:</p>
            <p class="semi-bold-text">{{ info.kc }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Банк:</p>
            <p class="semi-bold-text">{{ info.bank }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>БИК банка:</p>
            <p class="semi-bold-text">{{ info.bankBik }}</p>
          </div>
        </div>
        <!-- первый столбец с информацией -->
        <!-- второй столбец с информацией -->
        <div class="width-directory2" style="margin-left: 120px">
          <div class="row justify-content-between">
            <p>Юр. адрес:</p>
            <p class="semi-bold-text">{{ info.urAdress }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Почтовый адрес:</p>
            <p class="semi-bold-text">{{ info.postAdress }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Телефон:</p>
            <p class="semi-bold-text">{{ info.phone }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>E-mail:</p>
            <p class="semi-bold-text">{{ info.email }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>E-mail бухгалтерии:</p>
            <p class="semi-bold-text">{{ info.emailBuh.email }}</p>
          </div>
        </div>
        <!-- второй столбец с информацией -->
      </div>
      <!-- дополнительная информация франчайзии -->
      <!-- дополнительная информация о детях -->
      <div class="row normal-text" v-if="type == 'Child'">
        <div class="width-directory2" style="margin-left: 2.5rem">
          <div class="row justify-content-between">
            <p>Почтовый адрес:</p>
            <p class="semi-bold-text">{{ info.postAdress }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Телефон:</p>
            <p class="semi-bold-text">{{ info.phone }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>E-mail:</p>
            <p class="semi-bold-text">{{ info.email }}</p>
          </div>
        </div>
      </div>
      <!-- дополнительная информация о детях -->
      <!-- дополнительная информация о менторах -->
      <div class="row normal-text" v-if="type == 'Mentor'">
        <div class="width-directory3" style="margin-left: 2.5rem">
          <div class="row justify-content-between">
            <p>Статус работы:</p>
            <p class="semi-bold-text">{{ info.status }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Серия/номер паспорта:</p>
            <p class="semi-bold-text">{{ info.passport }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Кем выдан:</p>
            <p class="semi-bold-text">{{ info.passportWho }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Дата выдачи:</p>
            <p class="semi-bold-text">{{ info.passportWhen }}</p>
          </div>
        </div>
        <div class="width-directory4" style="margin-left: 120px">
          <div class="row justify-content-between">
            <p>E-mail:</p>
            <p class="semi-bold-text">{{ info.email }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Телефон:</p>
            <p class="semi-bold-text">{{ info.phone }}</p>
          </div>
          <div class="row 1">
            <hr class="mt-1 mb-2 hr-branch w-100" />
          </div>
          <div class="row justify-content-between">
            <p>Адрес:</p>
            <p class="semi-bold-text">{{ info.postAdress }}</p>
          </div>
        </div>
      </div>
    </div>
    <div
      class="row justify-content-end px-5"
      style="padding-bottom: 30px; margin-top: 15px"
    >
      <b-button
        v-if="type != 'Franchisee'"
        @click="toastDocuments()"
        class="ml-auto btn-buhadmin-round base-info-btn-size"
        variant="1"
        >Скачать регистрационные документы</b-button
      >
      <b-button
        v-else
        @click="toastDocuments()"
        class="ml-auto btn-buhadmin-round btn-franchisee-colors base-info-btn-size"
        variant="1"
        >Скачать регистрационные документы</b-button
      >
    </div>
  </section>
</template>

<script>
// import moment from "moment";

export default {
  name: "BaseInfo-buhadmin",
  props: {
    type: {
      type: String,
      default: ""
    },
    info: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    toastDocuments() {
      this.$emit("load-docs");
    }
  }
};
</script>

<style>
.width-directory1 {
  width: 270px;
}
.width-directory2 {
  width: 405px;
}
.width-directory3 {
  width: 355px;
}
.width-directory4 {
  width: 320px;
}
.width-directory1 > .row > p,
.width-directory2 > .row > p,
.width-directory3 > .row > p,
.width-directory4 > .row > p {
  margin: 0;
}
.base-info-btn-size {
  height: 30px;
  width: 315px;
}
.btn-franchisee-colors {
  border: 1.5px solid #b42f26 !important;
}
.btn-franchisee-colors:hover {
  border: 1.5px solid #b42f26 !important;
  background: #b42f26 !important;
}
</style>
