<template>
  <section
    id="directory-agents"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block pt-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Справочник Франчайзии
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0" v-if="franchiseeDetails.user">
            {{ franchiseeDetails.name }}
          </p>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid agent-container relative-block mx-3 mr-4">
      <BaseInfo @load-docs="loadDocs" type="Franchisee" :info="info" />
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mt-4 mr-4"
      style="margin-bottom: 70px"
    >
      <TablePersonalReports type="Franchisee" />
    </div>
  </section>
</template>

<script>
import { AdminBuchMapper } from "@/store/adminBuch";
import BaseInfo from "@/components/buhadmin/PersonalInfo/BaseInfo.vue";
import TablePersonalReports from "@/components/buhadmin/PersonalInfo/TablePersonalReports.vue";

export default {
  name: "PersonalInfoFranchisee",
  components: {
    BaseInfo,
    TablePersonalReports,
  },

  computed: {
    ...AdminBuchMapper.mapState(["franchiseeDetails"]),

    info() {
      if (this.franchiseeDetails.user) {
        return {
          organisation: this.franchiseeDetails.name,
          inn: this.franchiseeDetails.inn,
          ogrnip: this.franchiseeDetails.ogrn,
          rc: this.franchiseeDetails.rs,
          kc: this.franchiseeDetails.cs,
          bank: this.franchiseeDetails.bank,
          bankBik: this.franchiseeDetails.bik,
          urAdress: this.franchiseeDetails.urAdress,
          postAdress: this.franchiseeDetails.adress,
          phone: this.franchiseeDetails.user.phone,
          email: this.franchiseeDetails.user.email,
          emailBuch: this.franchiseeDetails.emailBuch,
        };
      }
      return {};
    },
  },

  methods: {
    ...AdminBuchMapper.mapActions(["getFranchiseeDetails"]),
    loadDocs() {
      Object.entries(this.franchiseeDetails).forEach((i) => {
        if (i[0].indexOf("PDF") > 0 && i[1]) {
          let a = document.createElement("a");
          a.href = i[1];
          a.target = "_blank";
          a.click();
        }
      });
    },
  },

  async mounted() {
    await this.getFranchiseeDetails(this.$route.params.id);
  },
};
</script>

<style></style>
