<template>
  <section>
    <hr class="invisible" />
    <div
      class="row align-items-center pt-3"
      style="padding-left: 2.5rem; padding-right: 2.5rem"
    >
      <div class="col-3 pl-0">
        <div class="row pr-3 justify-content-between">
          <p class="m-0">Все заказы:</p>

          <p class="m-0 orange-text">
            <span class="bold-text"> {{ numberWithSpaces(orderscount) }}</span>
          </p>
        </div>

        <div class="row">
          <div class="col pl-0">
            <hr class="my-1 hr-branch" />
          </div>
        </div>

        <div class="row pr-3 justify-content-between">
          <p class="m-0">Сумма заказов:</p>

          <p class="m-0 orange-text">
            <span class="bold-text">{{ numberWithSpaces(turnover) }}</span> Р
          </p>
        </div>
        <div class="row">
          <div class="col pl-0">
            <hr class="my-1 hr-branch" />
          </div>
        </div>
        <div class="row pr-3 justify-content-between">
          <p class="m-0">Доход:</p>

          <p class="m-0 green-text">
            <span class="bold-text">{{ numberWithSpaces(profit) }}</span> Р
          </p>
        </div>
      </div>
      <div class="col-2 ml-3 pl-0">
        <b-form-datepicker
          class="top-input flex-row-reverse"
          right
          no-flip
          placeholder="Дата"
          locale="ru"
          hide-header
          label-help=""
          :start-weekday="1"
          :date-format-options="{
            year: 'numeric',
            month: 'numeric',
            day: 'numeric'
          }"
          v-model="chosenDate"
        ></b-form-datepicker>
      </div>
      <div class="col-4 ml-3 pr-4">
        <b-input
          class="top-input search-bg"
          placeholder="Поиск"
          v-model="filter"
        ></b-input>
      </div>
      <div class="col ml-2 flex-col">
        <div class="dropdown w-100 my-auto">
          <button
            class="btn py-1 w-100 btn-filter dropdown-toggle"
            type="button"
            id="diagramm-packet-sort"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p v-if="category == ''">Категория</p>
            <p v-else>{{ category }}</p>
          </button>
          <div class="dropdown-menu" aria-labelledby="diagramm-btn1">
            <a
              class="dropdown-item"
              href="#"
              @click="
                category = 'Товар';
                filter = 'Товар';
              "
              >Товар</a
            >
            <a
              class="dropdown-item"
              href="#"
              @click="
                category = 'Оплата ЛК';
                filter = 'Оплата ЛК';
              "
              >Оплата ЛК</a
            >
            <a
              class="dropdown-item"
              href="#"
              @click="
                category = 'Тренинг';
                filter = 'Тренинг';
              "
              >Тренинг</a
            >
            <a
              class="dropdown-item orange-text"
              href="#"
              @click="
                category = '';
                filter = '';
                clearFilter();
              "
              >Сбросить</a
            >
          </div>
        </div>
      </div>
    </div>

    <div class="row w-100 mt-4 table-analytics">
      <b-table
        hover
        id="agent-analytics-table"
        :items="filteredItems"
        :fields="fields"
        :total-rows="rows"
        :per-page="perPage"
        :current-page="currentPage"
        :filter="filter"
        sort-icon-left
      >
        <template #cell(cost)="row"> {{ row.value }} P </template>
        <template #cell(profit)="row"> {{ row.value }} P </template>
        <template #cell(menthor)="row">
          {{ row.value == "" ? "-" : row.value }}
        </template>
        <template #cell(buyer)="row">
          <a href="#" class="buyer-link">{{ row.value }}</a>
        </template>
      </b-table>
    </div>
    <div class="row pt-2 justify-content-center">
      <b-pagination
        v-if="rows > 1"
        v-model="currentPage"
        :total-rows="rows"
        :per-page="perPage"
        @page-click="scrolltoTop"
        aria-controls="agent-analytics-table"
      ></b-pagination>
    </div>
    <div class="row w-100 justify-content-end px-4 pb-4">
      <p class="my-auto">Показывать по</p>
      <div>
        <b-dropdown
          id="dropdown-perpages"
          variant="1"
          right
          :text="perPage"
          class="m-md-2"
        >
          <b-dropdown-item @click="perPage = '60'" class="w-100"
            >60</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '30'" class="w-100"
            >30</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '15'" class="w-100"
            >15</b-dropdown-item
          >
          <b-dropdown-item @click="perPage = '5'" class="w-100"
            >5</b-dropdown-item
          >
        </b-dropdown>
      </div>
    </div>
  </section>
</template>

<script>
import moment from "moment";
import { numberWithSpaces } from "@/mixins/number";

export default {
  name: "TableBranchAnalytics",
  props: {
    tableHeightclass: String
  },
  data() {
    return {
      orderscount: 0,
      turnover: 0,
      profit: 0,

      category: "",

      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: [],
      chosenDate: undefined,
      messageTheme: "",
      perPage: "15",
      currentPage: 1,

      selectVal: {
        date: undefined
      },
      fields: [
        {
          key: "id",
          label: "Номер",
          class: "analytics-id",
          sortable: true
        },
        {
          key: "packagename",
          label: "Наименование",
          class: "analytics-packege",
          sortable: false
        },
        {
          key: "category",
          label: "Категория",
          class: "analytics-category",
          sortable: false
        },
        {
          key: "cost",
          label: "Стоимость",
          class: "analytics-finance-cost",
          sortable: true
        },
        {
          key: "profit",
          label: "Прибыль",
          class: "analytics-finance-cost",
          sortable: true
        },
        {
          key: "menthor",
          label: "Ментор",
          class: "analytics-taxes",
          sortable: false
        },
        {
          key: "buyer",
          label: "Покупатель",
          sortable: false,
          class: "analytics-buyer"
        },
        {
          key: "date",
          label: "Дата",
          class: "analytics-date",
          sortable: true
        }
      ],
      items: [
        // {
        //   isActive: true,
        //   id: 1,
        //   packagename: "Товар из интернет магазина",
        //   category: "Товар",
        //   cost: 666666,
        //   profit: 6666,
        //   buyer: "",
        //   date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        // },
        // {
        //   isActive: true,
        //   id: 2,
        //   packagename: "Оплата ЛК №129283",
        //   category: "Оплата ЛК",
        //   cost: 66666,
        //   profit: 666,
        //   menthor: "Виталя Р.К.",
        //   buyer: "Правительство РФ",
        //   date: moment("01-10-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        // },
        // {
        //   isActive: true,
        //   id: 3,
        //   packagename: "Тренинг для родителей",
        //   category: "Тренинг",
        //   cost: 6666,
        //   profit: 666,
        //   menthor: "Виталя Р.К.",
        //   buyer: "Правительство РФ",
        //   date: moment("01-09-2020", "DD-MM-YYYY").format("DD.MM.YYYY"),
        // },
        // {
        //   isActive: true,
        //   id: 1,
        //   packagename: "Товар из интернет магазина",
        //   category: "Товар",
        //   cost: 666666,
        //   profit: 6666,
        //   buyer: "",
        //   date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        // },
        // {
        //   isActive: true,
        //   id: 2,
        //   packagename: "Оплата ЛК №129283",
        //   category: "Оплата ЛК",
        //   cost: 66666,
        //   profit: 666,
        //   menthor: "Виталя Р.К.",
        //   buyer: "Правительство РФ",
        //   date: moment("01-10-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
        // },
        // {
        //   isActive: true,
        //   id: 3,
        //   packagename: "Тренинг для родителей",
        //   category: "Тренинг",
        //   cost: 6666,
        //   profit: 666,
        //   menthor: "Виталя Р.К.",
        //   buyer: "Правительство РФ",
        //   date: moment("01-09-2020", "DD-MM-YYYY").format("DD.MM.YYYY"),
        // },
      ]
    };
  },
  methods: {
    numberWithSpaces,
    scrolltoTop() {
      this.$refs.analyticsStart.scrollIntoView({
        behavior: "smooth",
        block: "start"
      });
    },
    clearFilter() {
      this.selectVal = {
        date: undefined
      };
      this.chosenDate = undefined;
    }
  },

  computed: {
    rows() {
      return this.items.length;
    },
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    },

    filteredItems() {
      return this.items.filter(item => {
        let keep = true;
        console.log("Значение даты - '" + this.chosenDate + "'");

        if (this.chosenDate == "") {
          this.clearFilter();
        }

        // This is a basic equality filter. What I did in the actual code was to have an object with filter functions for each key. If a key was missing, it defaulted to straight equality.
        this.fieldKeys.forEach(key => {
          if (key == "date" && this.chosenDate != undefined) {
            this.selectVal[key] = moment(this.chosenDate).format("DD.MM.YYYY");
          }
          keep =
            keep &&
            (this.selectVal[key] === undefined ||
              item[key] === this.selectVal[key]);

          // console.log("Дата с фильтра - " + this.selectVal.date);
        });

        return keep;
      });
    },
    fieldKeys() {
      return Object.keys(this.items[0]);
    },
    options() {
      // This could be simplified if the select was it's own component.
      const options = {};
      this.fieldKeys.forEach(key => {
        const vals = this.items.map(item => item[key]);

        // Cheap and efficient unique.
        options[key] = Array.from(new Set(vals));
      });

      return options;
    }
  }
};
</script>

<style scoped>
/* .table td,
.table th {
  padding-top: 0.5vh;
  padding-bottom: 0.5vh;
  font-size: 0.75rem;
} */
/* @media (min-width: 1441px) and (min-height: 850px) {
  .table td,
  .table th {
    font-size: 1rem;
  }
} */
</style>

<style>
.dropdown-menu.show {
  display: block;
  width: 100%;
}

.page-link {
  padding: 0.2rem 0.5rem;
}
.page-item {
  transition: 0.5s;
}
.page-link {
  color: rgb(0, 0, 0);
}

.analytics-link {
  font-size: 0.7rem;
  color: #090909;
  text-decoration: underline;
}
.blue-text {
  color: #0038ff;
}
.page-item.active .page-link {
  color: rgb(0, 0, 0);
  background-color: rgba(201, 201, 201, 0.54);
  border-color: rgb(201, 201, 201);
}
.flex-col {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.analytics-id {
  width: 7%;
  padding-left: 2.5rem !important;
}
.analytics-finance-cost {
  width: 10%;
  text-align: center;
}
.analytics-category {
  width: 10%;
}
.analytics-buyer {
  text-align: center;
}
.analytics-buyer {
  width: 16%;
}
.buyer-link {
  color: #2c61bf;
}
.analytics-date {
  width: 11%;
}
.analytics-taxes {
  text-align: center;
}
.analytics-date {
  color: #6c6c6c;
  text-align: left;
}
.btn-filter {
  display: flex;
}
</style>
