<template>
  <b-modal id="modal-ban-child" hide-header centered>
    <template>
      <p class="modal-confirm-text">
        Вы действительно хотите совершить это действие?
      </p>
    </template>

    <template #modal-footer="{ cancel }">
      <!-- Emulate built in modal footer ok and cancel button actions -->
      <div class="row w-100">
        <div class="col text-center mx-4">
          <b-button
            size="lg"
            pill
            block
            variant="danger"
            class="bold-text white-text"
            @click="fire"
          >
            ДА
          </b-button>
        </div>
        <div class="col text-center mx-4">
          <b-button
            size="lg"
            pill
            block
            variant="success"
            class="bold-text white-text"
            @click="cancel()"
          >
            НЕТ
          </b-button>
        </div>
      </div>
    </template>
  </b-modal>
</template>

<script>
export default {
  name: "ModalConfirmation",
  methods: {
    fire() {
      this.$bvModal.hide("modal-ban-child");
      this.$emit("ok");
    },
  },
};
</script>


<style>
.modal-confirm-text {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 2rem;
  text-align: center;
}
</style>

