<template>
  <section id="GroupDictionary" class="mt-3 pt-3 ml-4 dictionary-no-scroll">
    <div
      class="row w-100 no-wrap"
      v-for="term in terms"
      :key="term.id"
      :index="term.id"
    >
      <div class="col-md-12 my-auto">
        <p class="dictionary-text m-0">
          <span class="text-bolder">{{ term.title }} </span>
          <span v-if="term.descriptionGeneral">
            - {{ term.descriptionGeneral }}</span
          >
        </p>
        <br v-if="term.description1" />
        <p class="dictionary-text m-0" v-if="term.description1">
          <span class="text-bolder">Детский сад - </span>
          {{ term.description1 }}
        </p>
        <br v-if="term.description2" />
        <p class="dictionary-text m-0" v-if="term.description2">
          <span class="text-bolder">Начальная школа - </span>
          {{ term.description2 }}
        </p>
        <br v-if="term.description3" />
        <p class="dictionary-text m-0" v-if="term.description3">
          <span class="text-bolder">Школа - </span>
          {{ term.description3 }}
        </p>
        <div class="row">
          <div class="col-md-4">
            <hr class="my-3 dictionary-hr w-100" />
            <hr class="my-3 invisible" />
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  props: {
    terms: {
      type: Array,
      default: () => [],
    },
  },
};
</script>

<style>
</style>