<template>
  <div class="no-select">
    <!-- @mouseover="foxiesHover = true"
      @mouseleave="
        foxiesHover = false;
        foxiesExpand = false;
      "
      @click="foxiesExpand = !foxiesExpand" -->

    <div
      v-show="coinsTarget"
      @mouseover="foxiesHover = true"
      @mouseleave="foxiesExpand = false"
      @click="foxiesExpand = !foxiesExpand"
      class="side-menu__icon foxies side-anim"
      :class="{
        foxies_hover: foxiesHover,
        foxies_expand: foxiesExpand,
      }"
    >
      <button class="foxies__megaphone" v-show="foxiesExpand">
        <img
          class="img-fluid"
          src="@/assets/img/icons/megaphone.svg"
          alt="megaphone"
        />
      </button>
      <p v-show="foxiesHover" class="foxies__text">
        <span class="black-text">{{ coins }}</span
        >/{{ coinsTarget }}
      </p>

      <button class="side-menu__btn">
        <img
          class="side-menu__icon-img"
          src="@/assets/img/icons/fox-coin.png"
          alt="coin"
        />
      </button>
      <p v-show="foxiesExpand" class="foxies__help-text">
        В этом задании ты можешь заработать
        {{
          `${coinsTarget} фоксик${
            coinsTarget % 10 > 4 || coinsTarget % 10 == 0
              ? "ов"
              : coinsTarget % 10 == 1
              ? ""
              : "а"
          }`
        }}
      </p>
    </div>
    <div class="side-menu__icon idea">
      <button
        class="side-menu__btn"
        @click="
          $emit('menu-click', 'idea');
          active = 1;
          ideaClick = true;
        "
        :class="{
          activeBtn: ideaClick == true,
          light: light,
        }"
      >
        <img
          class="side-menu__icon-img"
          src="@/assets/img/icons/idea.svg"
          alt="idea"
        />
      </button>
    </div>
    <div class="side-menu__group-of-3">
      <!-- <div class="tale"> -->
      <button
        class="side-menu__btn"
        @click="
          $emit('menu-click', 'book');
          active = 2;
          taleClick = true;
        "
        :class="{
          activeBtn: taleClick == true,
          light: light,
        }"
        @mouseover="taleHover = true"
        @mouseleave="!taleClick && (taleHover = false)"
      >
        <img
          class="side-menu__icon-img"
          src="@/assets/img/icons/book-icon.svg"
          alt="tale"
        />
      </button>
      <!-- </div> -->
      <!-- <div class="path"> -->
      <button
        class="side-menu__btn"
        @click="
          $emit('menu-click', 'path');
          active = 3;
          pathClick = true;
        "
        :class="{
          activeBtn: pathClick == true,
          light: light,
        }"
      >
        <img
          class="side-menu__icon-img"
          src="@/assets/img/icons/route-icon.svg"
          alt="path"
        />
      </button>
      <!-- </div> -->
      <!-- <div class="shop"> -->
      <button
        class="side-menu__btn"
        @click="
          $emit('menu-click', 'shop');
          active = 4;
          shopClick = true;
        "
        :class="{
          activeBtn: shopClick == true,
          light: light,
        }"
      >
        <img
          class="side-menu__icon-img"
          src="@/assets/img/icons/shop-icon.svg"
          alt="idea"
        />
      </button>
      <!-- </div> -->
    </div>
    <div
      v-show="coinsTarget"
      class="side-menu__icon mentor page-7"
      :class="{
        mentor_active: sendToMentorClick,
        high_mentor: high_mentor,
        light: light_mentor,
      }"
      @click="
        $emit('menu-click', 'mentor');
        active = 5;
        light_mentor = false;
        sendToMentorClick = true;
        sendToMentorHover = true;
      "
    >
      <p v-show="sendToMentorHover" class="mentor__text m-0">
        Отправить ментору
      </p>
      <button class="side-menu__mentor" :class="{ light: light_mentor }">
        <img
          class="side-menu__icon-img"
          :src="
            sendToMentorHover
              ? require('@/assets/img/icons/send-to-menthor-active.svg')
              : require('@/assets/img/icons/send-to-menthor-active.svg')
          "
          alt="mentor"
        />
      </button>
    </div>
  </div>
</template>

<script>
export default {
  name: "P11Menu",

  props: {
    sendToMentorActive: Boolean,
    coinsTarget: Number,
    pushPath: String,
    pushTale: String,
    questPage: Number,
    coins: Number,
    light: Boolean,
    high_mentor: Boolean,
  },
  data: function () {
    return {
      foxiesHover: true,
      foxiesExpand: false,
      sendToMentorHover: false,
      sendToMentorClick: false,

      ideaClick: false,
      pathClick: false,
      taleClick: false,
      taleHover: false,
      parentsClick: false,
      shopClick: false,
      overlay: false,

      light_mentor: true,
      // 0 - ничего не нажато, 1 - идея, 2 - книжка, 3 - путь к карте, 4 - магазин, 5 - ментор
      active: 0,
    };
  },
  computed: {
    mentorWindowText() {
      return this.sendToMentorActive
        ? "Ты готов отправить ментору на проверку?"
        : "Посмотри по-внимательнее, ты пока ответил не на все вопросы";
    },
  },
  methods: {},
};
</script>
<style scoped >
.side-menu__icon,
.side-menu__group-of-3,
.side-menu__group-of-2 {
  border: 2px solid #9c9c9b30;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 8;
}
.mentor.page-7 {
  border: 2px solid #f08800 !important;
}
</style>
<style>
.side-menu__icon,
.side-menu__group-of-3,
.side-menu__group-of-2 {
  position: absolute;
  right: 2%;
  border: 2px solid #9c9c9b30;
  background-color: rgba(255, 255, 255, 0.1);
  z-index: 8;

  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.side-menu__btn,
.side-menu__mentor {
  border-radius: 50%;
  border: none;
  outline: none;
  background: #fefefe30;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.15rem;
}
.side-menu__btn:hover {
  background: #ffde3b;
}
.activeBtn {
  background: #ffde3b !important;
}
.side-menu__icon-img {
  width: 100%;
  height: 100%;
}

/* //*FOXIES */
.foxies {
  top: 80px;
  right: 2% !important;
  flex-flow: row wrap;
}

.foxies_hover {
  width: auto;
  padding: 0 0.05vw;
  justify-items: flex-end;
}

.foxies__text {
  font-weight: 600;
  color: lightgray;
  font-size: 1.6em;
  padding: 0 5px;
}

.foxies_expand {
  width: 255px;
  height: auto;
  border-radius: 3rem 1rem 1rem 3rem;
  right: 0 !important;
  padding-right: 2vw;
  z-index: 100000;
  display: flex;
  justify-content: flex-end;
  background: white;
}
.foxies__help-text {
  flex: 1 1 100%;
  text-align: right;
}
.foxies__megaphone {
  position: absolute;
  left: 10%;
  top: 15%;
  width: 1.5vw;
  height: 1.5vw;
  border: none;
  outline: none;
  background: none;
}

.idea {
  top: 26%;
}
.side-menu__group-of-3,
.side-menu__group-of-2 {
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
}

.side-menu__group-of-3 {
  top: 38%;
}

.side-menu__group-of-2 {
  top: 40%;
}

.side-menu__btn.light {
  border-radius: 50%;
  border: none;
  outline: none;
  background: #2b2a2910;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.15rem;
}
.side-anim {
  animation: side-anim 1s 1 cubic-bezier(0.15, 0.08, 0.4, 1.35);
}

@keyframes side-anim {
  0% {
    transform: translateX(100%);
    opacity: 0;
    scale: 0.1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
    scale: 1;
  }
}
.side-menu__btn.light,
.side-menu__mentor.light {
  border-radius: 50%;
  border: none;
  outline: none;
  background: #2b2a2910;
  width: 2.5rem;
  height: 2.5rem;
  margin: 0.15rem;
}
.side-menu__icon-img {
  width: 100%;
  height: 100%;
}

/* //*MENTOR BUTTON */

.mentor.page-7 {
  top: 77%;
  border: 2px solid #f08800 !important;
}
.mentor_active {
  justify-items: flex-end;
  width: 245px;
  background: #f08800 !important;
}
.mentor_active > button {
  background: #fff;
}
.mentor_hover {
  background: lightgray;
}
.mentor_hover > button > img {
  filter: invert(0.2);
}

.mentor__text {
  width: 80%;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  font-weight: 600;
  line-height: 1em;
}

.window-mentor {
  bottom: 9%;
}
.window-tale {
  bottom: 54%;
}
.black-text {
  color: #2b2a29;
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1439px) {
  .idea,
  .side-menu__group-of-3,
  .side-menu__group-of-2 {
    top: 90px;
  }

  .side-menu__group-of-3,
  .side-menu__group-of-2 {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
  }

  .idea {
    right: 89%;
  }
  .side-menu__group-of-3 {
    right: 40%;
  }
  .foxies {
    top: 90px;
    right: 3%;
    flex-flow: row wrap;
  }
  .mentor {
    top: 90%;
    right: 3%;
  }
  .high_mentor {
    top: unset !important;
    bottom: 100px;
  }
}

/* @media (max-width: 1200px) {
  .foxies__text {
    font-size: 1.2rem;
  }
  .foxies__help-text {
    font-size: 0.8rem;
  }
}
@media (max-width: 850px) {
  .shop_window > h3 {
    font-size: 0.75rem;
    line-height: 0.9rem;
  }
  .shop_window > p {
    font-size: 0.65em;
    line-height: 0.8em;
  }
}
@media (max-height: 600px) {
  .mentor__text {
    font-size: 0.6rem;
    line-height: 0.7rem;
  }
} */

@media (min-width: 1441px) and (min-height: 800px) {
  .parents_window-right > h3 {
    font-size: 1.5em;
  }
  .shop_window > p {
    font-size: 1em;
    line-height: 1.2em;
  }
  .shop_window > h3 {
    font-size: 1.5em;
    line-height: 1.7em;
  }
}
</style>