<template>
  <section id="dropdown-tabs">
    <!-- первая строка с фильтрами -->

    <div class="row mt-3">
      <div
        v-for="filter in filters.slice(0, 3)"
        :key="filter.id"
        :index="filter.id"
        class="col pl-0 pr-5"
      >
        <div class="dropdown w-100 my-auto">
          <button
            class="btn py-1 w-100 btn-diagramm dropdown-toggle"
            type="button"
            :id="filter.linkName"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p class="m-0">{{ filter.name }}</p>
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="px-1 arrow-diagramm"
            />
          </button>
          <div class="dropdown-menu" :aria-labelledby="filter.linkName">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="row justify-content-between">
          <div class="dropdown">
            <button
              class="btn py-1 btn-diagramm dropdown-toggle"
              type="button"
              id="childtab-date-sort1"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <p class="m-0">Дата от</p>
              <img
                src="@/assets/img/icons/arrow-down-diagramm.png"
                alt=""
                class="px-1 arrow-diagramm"
              />
            </button>
            <div class="dropdown-menu" aria-labelledby="childtab-date-sort1">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>

          <p class="m-0">-</p>

          <div class="dropdown">
            <button
              class="btn py-1 btn-diagramm dropdown-toggle"
              type="button"
              id="childtab-date-sort2"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <p class="m-0">Дата до</p>
              <img
                src="@/assets/img/icons/arrow-down-diagramm.png"
                alt=""
                class="px-1 arrow-diagramm"
              />
            </button>
            <div class="dropdown-menu" aria-labelledby="childtab-date-sort2">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- первая строка с фильтрами -->
    <!-- вторая строка с фильтрами -->
    <div class="row mt-2">
      <div
        v-for="filter in filters.slice(3)"
        :key="filter.id"
        :index="filter.id"
        class="col pl-0 pr-5"
      >
        <div class="dropdown w-100 my-auto">
          <button
            class="btn py-1 w-100 btn-diagramm dropdown-toggle"
            type="button"
            :id="filter.linkName"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <p class="m-0">{{ filter.name }}</p>
            <img
              src="@/assets/img/icons/arrow-down-diagramm.png"
              alt=""
              class="px-1 arrow-diagramm"
            />
          </button>
          <div class="dropdown-menu" :aria-labelledby="filter.linkName">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>

    <div class="row my-2">
      <div class="col-5 pl-0">
        <button class="agent-file-load py-1">Скачать отчет</button>
      </div>
      <div class="col my-auto text-right">
        <a class="analytics-link blue-text" href="#">Поиск</a>
      </div>
    </div>
    <!-- вторая строка с фильтрами -->
  </section>
</template>

<script>
export default {
  name: "DropdownFilters",
  data() {
    return {
      filters: [
        {
          id: 1,
          linkName: "childtab-programm-sort",
          name: "Программа",
        },
        {
          id: 2,
          linkName: "childtab-story-sort",
          name: "Fox-Story",
        },
        {
          id: 3,
          linkName: "childtab-age-sort",
          name: "Возраст",
        },
        {
          id: 4,
          linkName: "childtab-training-sort",
          name: "Статус обучения",
        },
        {
          id: 5,
          linkName: "childtab-level-sort",
          name: "Уровень",
        },
        {
          id: 6,
          linkName: "childtab-format-sort",
          name: "Формат обучения",
        },
      ],
    };
  },
};
</script>

<style>
.agent-file-load {
  padding-top: 0.2vh;
  padding-bottom: 0.2vh;
}
</style>