<template>
  <div class="row mt-2">
    <div class="col">
      <div class="white-bg p-4">
        <p class="m-0 pl-3 mb-3 data-header">Общие данные</p>

        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Родился:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ agent.birthday }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Телефон:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span>{{ agent.user.phone }}</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Email:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ agent.user.email }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-5"><p class="my-1">Email бухгалтерии:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ agent.emailBuch }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3">
            <p class="my-1">Гражданство:</p>
          </div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span>{{ agent.citizen }}</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Образование:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">
              <span>{{ agent.education }}</span>
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
      </div>
    </div>

    <!-- второй столбец с информацией -->
    <div class="col ml-5">
      <div class="white-bg h-100 p-4">
        <div class="row mb-3">
          <div class="col-8 text-left">
            <p class="m-0 data-header">Регистрационные данные</p>
          </div>
        </div>

        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Страна:</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ agent.country }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Паспорт</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ agent.passport }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-5"><p class="my-1">Когда выдан</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ agent.passportWhen }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-5"><p class="my-1">Кем выдан</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ agent.passportWho }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">ИНН</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ agent.inn }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
        <div class="row w-100 base-child-info-text">
          <div class="col-3"><p class="my-1">Снилс</p></div>
          <div class="col semi-bold-text text-right">
            <p class="my-1">{{ agent.snils }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <hr class="my-1 child-info-hr" />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { HeadManagerMapper } from "@/store/headManager";

export default {
  name: "AgentBaseInfo",
  data() {
    return {};
  },

  computed: {
    ...HeadManagerMapper.mapState(["agent"]),
  },
};
</script>

<style>
.data-header {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.base-child-info-text {
  font-size: 1rem;
  color: #2b2a29;
}
.child-info-hr {
  border: 0.1px dashed #c4c4c4;
}
.child-chat-btn {
  border: 1.5px solid #ed8719;
  box-sizing: border-box;
  border-radius: 39px;
  width: 120px;
  height: 35px;
}
</style>
