<template>
  <section
    id="buhfranch-act-viewer-child"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Справочник детей
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0">
            Оборотно-сальдовая ведомость за период 22.01.2020-22.01.2021
          </p>
        </div>
      </div>
      <div class="row px-3" style="margin-top: 20px">
        <b-button
          variant="1"
          @click="downloadPDF"
          class="btn-act"
          style="margin-right: 55px"
          ><p>Скачать ОСВ</p></b-button
        >
        <b-button variant="1" @click="printPDF" class="btn-act"
          ><p>Распечатать ОСВ</p></b-button
        >
      </div>
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mt-4 mr-4"
      style="margin-bottom: 70px; height: 600px; display: flex"
      id="iframeContainer"
    ></div>
  </section>
</template>

<script>
import pdfMake from "pdfmake/build/pdfmake";
import pdfFonts from "pdfmake/build/vfs_fonts";
pdfMake.vfs = pdfFonts.pdfMake.vfs;

export default {
  name: "ReportChildren",

  methods: {
    downloadPDF() {
      pdfMake
        .createPdf(this.doc)
        .download("ОСВ за период 22.01.2020-22.01.2021.pdf");
    },
    printPDF() {
      pdfMake.createPdf(this.doc).print();
    },
  },
  mounted() {
    const pdfDocGenerator = pdfMake.createPdf(this.doc);
    pdfDocGenerator.getDataUrl((dataUrl) => {
      const targetElement = document.querySelector("#iframeContainer");
      const iframe = document.createElement("iframe");
      iframe.style.width = "100%";
      iframe.src = dataUrl;
      targetElement.appendChild(iframe);
    });
  },
  data() {
    return {
      doc: {
        pageSize: "A4",
        pageOrientation: "landscape",
        content: [
          {
            table: {
              widths: ["*", "*", "*", "*", "*", "*", "*"],
              body: [
                [
                  {
                    text: 'ООО "ЛИДЕР-НЕДВИЖИМОСТЬ"',
                    colSpan: 7,
                    style: "header",
                  },
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                ],
                [
                  {
                    text: [
                      {
                        text:
                          "Оборотно-сальдовая ведомость по счету 60 за 2020 г.",
                        style: "header",
                      },
                      "\n",
                      "Выводимые данные: БУ (данные бухгалтерского учета)",
                    ],
                    colSpan: 7,
                  },
                  "",
                  "",
                  "",
                  "",
                  "",
                  "",
                ],
                [
                  {
                    text: "Счет",
                    fillColor: "#eeffee",
                  },
                  {
                    text: "Сальдо на начало периода",
                    fillColor: "#eeffee",
                    colSpan: 2,
                  },
                  "",
                  {
                    text: "Обороты за период",
                    fillColor: "#eeffee",
                    colSpan: 2,
                  },
                  "",
                  {
                    text: "Сальдо на конец периода",
                    fillColor: "#eeffee",
                    colSpan: 2,
                  },
                  "",
                ],
                [
                  {
                    text: "Контрагенты",
                    fillColor: "#eeffee",
                  },
                  {
                    text: "Дебет",
                    fillColor: "#eeffee",
                  },
                  {
                    text: "Кредит",
                    fillColor: "#eeffee",
                  },
                  {
                    text: "Дебет",
                    fillColor: "#eeffee",
                  },
                  {
                    text: "Кредит",
                    fillColor: "#eeffee",
                  },
                  {
                    text: "Дебет",
                    fillColor: "#eeffee",
                  },
                  {
                    text: "Кредит",
                    fillColor: "#eeffee",
                  },
                ],
                [
                  {
                    text: "60",
                    fillColor: "#eeffee",
                  },
                  {
                    text: " ",
                    fillColor: "#eeffee",
                  },
                  {
                    text: "109 825 596,84",
                    fillColor: "#eeffee",
                  },
                  {
                    text: "226 906 142,07",
                    fillColor: "#eeffee",
                  },
                  {
                    text: "115 482 190,42",
                    fillColor: "#eeffee",
                  },
                  {
                    text: "1 598 354,81",
                    fillColor: "#eeffee",
                  },
                  {
                    text: " ",
                    fillColor: "#eeffee",
                  },
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
                [
                  "АЛСЕРА СТ ООО",
                  " ",
                  " ",
                  "694 746,00",
                  "694 746,00",
                  " ",
                  " ",
                ],
              ],
            },
          },
        ],
        styles: {
          header: {
            alignment: "left",
            fontSize: 14,
            bold: true,
          },
          subheader: {
            alignment: "center",
            fontSize: 10,
            margin: [0, 0, 0, 5],
          },
          text: {
            alignment: "justify",
            fontSize: 10,
            margin: [0, 0, 0, 5],
          },
          bold: {
            bold: true,
          },
          table: {
            margin: [0, 5, 0, 15],
          },
        },
        defaultStyle: {
          alignment: "justify",
        },
      },
    };
  },
};
</script>

<style>
.toolbar {
  display: none;
}
</style>