<template>
  <section
    id="child-base-info"
    class="animate__animated animate__fadeIn no-select"
  >
    <div
      class="contaiter-fluid agent-container agent-height relative-block mx-3 mt-3 pl-4"
    >
      <a
        href="#"
        @click="$bvModal.show('modal-scoped')"
        class="absolute-block add-menthor-link"
        >Заблокировать ребёнка</a
      >
      <hr class="invisible" />
      <div class="row pt-3">
        <div class="col"><p class="my-0 breadcrumb-text">Все дети</p></div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-child-big m-0">
            {{ childSurname }} {{ childName }} {{ childPatromic }}
          </p>
        </div>
      </div>

      <TableChildArchive class="mt-4 pl-2" />
    </div>
  </section>
</template>

<script>
import TableChildArchive from "@/components/admin/branch/child/archive/TableChildArchive.vue";
export default {
  name: "Archive",
  components: {
    TableChildArchive,
  },
  data() {
    return {
      childSurname: "Петров",
      childName: "Николай",
      childPatromic: "Валентинович",
    };
  },
};
</script>

<style>
/* .breadcrumb-text {
  color: #666666;
  font-size: 14px;
} */
/* .header-child-big {
  font-size: 1.5rem;
} */
.child-data-color {
  background: #fefefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}
.data-header {
  font-weight: 500;
}
.child-link {
  color: #0500ff;
}
.child-link:hover {
  color: #0099ff;
  text-decoration: underline;
}

@media (max-width: 1024px) {
}
@media (min-width: 1441px) and (min-height: 850px) {
  /* .breadcrumb-text {
    font-size: 1rem;
  } */
  /* .header-child-big {
    font-size: 2rem;
  } */
}
</style>