<template>
  <section
    id="child-base-info"
    class="animate__animated animate__fadeIn no-select"
  >
    <div
      class="
        contaiter-fluid
        agent-container agent-height
        relative-block
        mx-3
        mt-3
        pl-4
      "
    >
      <a
        href="#"
        @click="$bvModal.show('modal-scoped')"
        class="absolute-block add-menthor-link"
        >Заблокировать ребёнка</a
      >
      <hr class="invisible" />
      <div class="row pt-3">
        <div class="col"><p class="my-0 breadcrumb-text">Все дети</p></div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-child-big m-0">
            {{ child.child.surName }} {{ child.child.name }}
            {{ child.child.patronymic }}
          </p>
        </div>
      </div>

      <ChildBaseInfo />

      <b-tabs
        active-nav-item-class="active-tab-analytics"
        content-class="mt-2"
        class="mt-3 pl-3"
        nav-class="w-40"
        nav-wrapper-class="analytics-tab-title"
        lazy
        fill
      >
        <b-tab title="Отчёт по уровням" active> <TableChildLevel /></b-tab>
        <b-tab title="Статистика Fox-story"> <TableChildFoxstory /> </b-tab>
      </b-tabs>
    </div>
  </section>
</template>

<script>
import { AdminMapper } from "@/store/admin";
import ChildBaseInfo from "@/components/admin/branch/child/info/ChildBaseInfo.vue";
import TableChildLevel from "@/components/admin/branch/child/info/TableChildLevel.vue";
import TableChildFoxstory from "@/components/admin/branch/child/info/TableChildFoxstory.vue";
export default {
  name: "Info",
  components: {
    ChildBaseInfo,
    TableChildLevel,
    TableChildFoxstory,
  },
  data() {
    return {
      childSurname: "",
      childName: "",
      childPatromic: "",
    };
  },
  computed: {
    ...AdminMapper.mapState(["error", "child"]),
  },
  methods: {
    ...AdminMapper.mapActions(["getChildDetails"]),
  },
  async mounted() {
    await this.getChildDetails(this.$route.params.id);
    // this.childBanned = this.child.ban;
    console.log(this.child);
  },
};
</script>

<style>
/* .breadcrumb-text {
  color: #666666;
  font-size: 14px;
} */
/* .header-child-big {
  font-size: 1rem;
  font-weight: 500;
} */
.child-data-color {
  background: #fefefe;
  box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.15);
}
.data-header {
  font-weight: 500;
}
.child-link {
  color: #0500ff;
}
.child-link:hover {
  color: #0099ff;
  text-decoration: underline;
}

@media (max-width: 1024px) {
}
@media (min-width: 1441px) and (min-height: 850px) {
  /* .breadcrumb-text {
    font-size: 1rem;
  } */
  /* .header-child-big {
    font-size: 1.5rem;
  } */
}
</style>