<template>
  <section
    id="buhfranch-directory-mentor"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid relative-block pt-2">
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Справочник менторов
          </button>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-admin m-0" v-if="mentorDetails.user.surName">
            {{ mentorDetails.user.surName }}
            {{ mentorDetails.user.name }}
            {{ mentorDetails.user.patronymic }}
          </p>
        </div>
      </div>
    </div>
    <div class="contaiter-fluid agent-container relative-block mx-3 mr-4">
      <BaseInfo type="Mentor" :info="info" />
    </div>
    <div
      class="contaiter-fluid agent-container relative-block mx-3 mt-4 mr-4"
      style="margin-bottom: 70px"
    >
      <TablePersonalReports type="Mentor" />
    </div>
  </section>
</template>

<script>
import { FranchBuchMapper } from "@/store/franchBuch";
import BaseInfo from "@/components/buhadmin/PersonalInfo/BaseInfo.vue";
import TablePersonalReports from "@/components/buhadmin/PersonalInfo/TablePersonalReports.vue";

export default {
  name: "PersonalInfoAgent",
  components: {
    BaseInfo,
    TablePersonalReports,
  },

  computed: {
    ...FranchBuchMapper.mapState(["mentorDetails"]),

    info() {
      if (this.mentorDetails.user) {
        return {
          status: this.mentorDetails.jobStatus,
          passport: this.mentorDetails.passport,
          passportWho: this.mentorDetails.passportWho,
          passportWhen: this.mentorDetails.passportWhen,
          postAdress: this.mentorDetails.address,
          phone: this.mentorDetails.user.phone,
          email: this.mentorDetails.user.email,
        };
      }
      return {};
    },
  },

  methods: {
    ...FranchBuchMapper.mapActions(["getMentorDetails"]),
  },

  async mounted() {
    await this.getMentorDetails(this.$route.params.id);
  },
};
</script>

<style>
</style>