<template>
  <section
    id="child-base-info"
    class="animate__animated animate__fadeIn no-select"
  >
    <div
      @click="overlay = false"
      class="overlay"
      :class="{ overlay_invisible: !overlay }"
    ></div>

    <ModalChildAnswers
      v-on:closeModal="overlay = !overlay"
      :class="{ hidden: !overlay }"
    />
    <div
      class="contaiter-fluid agent-container agent-height relative-block mx-3 mt-3 pl-4"
    >
      <hr class="invisible" />
      <div class="row pt-3">
        <div class="col">
          <p class="my-0 breadcrumb-text">
            Все дети/{{ childSurname }} {{ childName }} {{ childPatromic }}
          </p>
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-child-big m-0">Ответы по fox-story</p>
          <p class="m-0">
            {{ foxstoryName }}
          </p>
        </div>
      </div>

      <div class="path-block">
        <!-- <div class="path-row" v-for="(taskRow, index) in tasks" :key="index"> -->
        <div
          class="task"
          v-for="task in tasks"
          :key="task.id"
          :class="{ locked: !task.accept, success: task.success }"
        >
          <div class="task-arrow">
            <img
              src="@/assets/img/icons/down-arrow.svg"
              alt="arrow"
              v-if="
                task.id == tasks.filter((item) => item.accept).length &&
                task.id % 3 != 1
              "
            />
          </div>
          <div @click="overlay = !overlay" class="task-card">
            <img
              :src="require(`@/assets/img/task-map/${task.img}.png`)"
              alt=""
            />
            <div class="task-status">
              <img
                :src="
                  task.id == 1
                    ? require('@/assets/img/task-map/read.svg')
                    : task.success
                    ? require('@/assets/img/task-map/completed.svg')
                    : require('@/assets/img/task-map/locked.svg')
                "
                alt="status"
              />
            </div>
            <p>{{ task.text }}</p>
            <div class="coins" v-if="task.target">
              <p>
                <span>{{ task.coins }}</span
                >/{{ task.target }}
              </p>
              <img src="@/assets/img/icons/fox-coin.png" alt="" />
            </div>
          </div>
        </div>
        <!-- </div> -->
      </div>
    </div>
  </section>
</template>

<script>
import ModalChildAnswers from "@/components/admin/branch/child/progress/ModalChildAnswers.vue";
import { Tale1Mapper } from "@/store/tales/tale1";
export default {
  name: "Progress",
  components: {
    ModalChildAnswers,
  },
  data() {
    return {
      overlay: false,

      childSurname: "Петров",
      childName: "Николай",
      childPatromic: "Валентинович",

      foxstoryName: "Как лисёнок победил лень?",

      tasks: [],
    };
  },
  computed: {
    ...Tale1Mapper.mapState(["tale"]),
  },
  mounted() {
    this.tasks = [
      {
        id: 1,
        text: "Read Fox - Story",
        accept: true,
        success: true,
        img: "read-fox-story",
        target: 0,
        coins: 0,
        link: "tale1-8",
      },
      {
        id: 2,
        text: "Fox - Story",
        accept: this.tale.pages >= 10,
        success: this.tale.task1_accept,
        img: "fox-story",
        target: 1,
        coins: this.tale.task1_coins,
        link: "tale1-10",
      },
      {
        id: 3,
        text: "Family Interview",
        accept: this.tale.pages >= 11,
        success: this.tale.task2_accept,
        img: "family-interview",
        target: 15,
        coins: this.tale.task2_coins,
        link: "tale1-11",
      },
      {
        id: 4,
        text: "Creative Project",
        accept: this.tale.pages >= 12,
        success: this.tale.task3_accept,
        img: "creative-project",
        target: 4,
        coins: this.tale.task3_coins,
        link: "tale1-12",
      },
      {
        id: 5,
        text: "Communication Club",
        accept: this.tale.pages >= 13,
        success: this.tale.task4_accept,
        img: "communication-club",
        target: 10,
        coins: this.tale.task4_coins,
        link: "tale1-13",
      },
      {
        id: 6,
        text: "Logic Club ",
        accept: this.tale.pages >= 13.5,
        success: this.tale.task7_accept,
        img: "logic-club",
        target: 5,
        coins: this.tale.task7_coins,
        link: "tale1-13.5",
      },
      {
        id: 7,
        text: "Fox Биржа",
        accept: this.tale.pages >= 14,
        success: this.tale.task8_accept,
        img: "fox-exchange",
        target: 5,
        coins: this.tale.task8_coins,
        link: "tale1-14",
      },
      {
        id: 8,
        text: "Business Vocabulary",
        accept: this.tale.pages >= 17,
        success: this.tale.task5_accept,
        img: "business-vocabulary",
        target: 10,
        coins: this.tale.task5_coins,
        link: "tale1-17",
      },
      {
        id: 9,
        text: "Presentation Guide ",
        accept: this.tale.pages >= 18.1,
        success: this.tale.task11_accept,
        img: "presentation-guide",
        target: 20,
        coins: this.tale.task11_coins,
        link: "tale1-18.1",
      },
      {
        id: 10,
        text: "Teamwork",
        accept: this.tale.pages >= 18.2,
        success: this.tale.pages > 18.2,
        // success: this.tale.task9_accept,
        img: "fox-teamwork",
        target: 10,
        coins: this.tale.task9_coins,
        link: "tale1-18.2",
      },
      {
        id: 11,
        text: "Relax",
        accept: this.tale.pages >= 19,
        success: this.tale.pages > 19,
        img: "relax",
        target: 1,
        coins: 0,
        link: "tale1-19",
      },
      {
        id: 12,
        text: "Career Guidance ",
        accept: this.tale.pages >= 20,
        success: this.tale.task6_accept,
        img: "career-guidance",
        target: 5,
        coins: this.tale.task6_coins,
        link: "tale1-20",
      },
      {
        id: 13,
        text: "Creative Club ",
        accept: this.tale.pages >= 22,
        success: this.tale.pages > 22,
        img: "creative-club",
        target: 5,
        coins: 0,
        link: "tale1-22",
      },
      {
        id: 14,
        text: "Soft Skills ",
        accept: this.tale.pages >= 22.1,
        success: this.tale.task12_accept,
        img: "soft-skills",
        target: 15,
        coins: 0,
        link: "tale1-22.1",
      },
      {
        id: 15,
        text: "Lets Talk  ",
        accept: this.tale.pages >= 23,
        success: false,
        img: "lets-talk",
        target: 0,
        coins: 0,
        link: "tale1-23",
      },
    ];
  },
};
</script>
<style scoped>
.path-section {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.path-block {
  width: 80%;
  height: 82%;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-around;
}
.path-row {
  width: 100%;
  height: 18%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}
.task {
  width: calc(100% / 3);
  height: 18%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}
.task-arrow {
  width: 20%;
  height: 60%;
  transform: rotate(-90deg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-arrow > img {
  height: 100%;
  width: auto;
  opacity: 0.4;
}
.task-card {
  width: 80%;
  height: 100%;
  border-radius: 1rem;
  border: 1px solid lightgray;
  background: #fff;
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0 5%;
  transition: 0.5s ease;
  cursor: pointer;
}
.task-card > p {
  font-size: 1em;
  font-weight: bold;
  z-index: 2;
}
.coins {
  background: #fff;
  border-radius: 2rem;
  height: 30%;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  padding: 0.1rem 0.3rem;
  z-index: 2;
}
.coins > p {
  font-size: 1em;
  font-weight: bold;
  margin: 0;
  /* line-height: 1em; */
  color: gray;
}
.coins > p > span {
  color: black;
}
.coins > img {
  height: 100%;
  width: auto;
  justify-self: flex-end;
}

.task-card > img {
  position: absolute;
  right: 0;
  height: 80%;
  bottom: 0;
  overflow: hidden;
  z-index: 0;
  border-radius: 0 1rem 1rem 0;
}
.task.success .task-card {
  background: #60abc3;
}
.task-card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.task:first-child .task-card {
  background: #ffde3b;
}
.task.locked .task-card {
  border: 0;
  color: gray;
  pointer-events: none;
}
.task.locked .task-card > img {
  filter: grayscale(1);
}
.task.locked .coins > img {
  filter: grayscale(1);
}
.task-status {
  position: absolute;
  top: -0.75rem;
  left: -0.75rem;
  width: 1.75rem;
  height: 1.75rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.task-status > img {
  width: 80%;
  height: auto;
  filter: grayscale(0);
}
.task.locked .task-status > img {
  filter: grayscale(1);
}
</style>