<template>
  <section id="manager-index">
    <div
      class="
        container-fluid
        p-0
        full-height-container
        animate__animated animate__fadeIn
      "
    >
      <Header @logout="logOut" :user="me"/>
      <div class="row w-100 m-0 mx-auto page-content">
        <SidePanel :items="sidePanelItems" @logout="logOut"/>
        <div
          class="col-md p-0"
          style="height: calc(100vh - 60px); overflow-y: auto"
        >
          <router-view></router-view>
        </div>
      </div>
      <!-- <ModalConfirmation /> -->
    </div>
  </section>
</template>

<script>
import Header from "@/components/main/header/Header.vue";
import SidePanel from "@/components/main/SidePanel.vue";
import {ClientManagerMapper} from '@/store/clientManager';
import { UserMapper } from "@/store/user";
// import ModalConfirmation from "@/views/modalConfirmation.vue";

export default {
  name: "ManagerIndex",
  components: {
    Header,
    SidePanel,
    // ModalConfirmation,
  },
  data() {
    return {
      sidePanelItems: [
        {
          id: 1,
          //   img: "my_account.png",
          linkName: `${this.role=='HeadSalesManager' ? 'head-' : ''}clientmanager-franchisee-all`,
          text: "Франчайзи",
          exact: true,
          // hide: true,          
        },
        {
          id: 2,
          //   img: "MDclub.png",
          linkName: `${this.role=='HeadSalesManager' ? 'head-' : ''}clientmanager-agents-all`,
          text: "Агенты",
          disabled: true
        },
        {
          id: 3,
          //   img: "my_profile.png",
          linkName: `${this.role=='HeadSalesManager' ? 'head-' : ''}clientmanager-parents-all`,
          text: "Родители",
        },
         {
          id: 4,
          //   img: "my_profile.png",
          linkName: `${this.role=='HeadSalesManager' ? 'head-' : ''}clientmanager-mentors-all`,
          text: "Менторы",
        },
         {
          id: 5,
          //   img: "my_profile.png",
          linkName: `${this.role=='HeadSalesManager' ? 'head-' : ''}clientmanager-analytics-reports`,
          text: "Отчеты",
        },
      ],
    };
  },
  computed:{
    ...UserMapper.mapState(['error', 'me']),
    ...UserMapper.mapGetters(['role'])
  },
  methods:{
    ...UserMapper.mapActions(['getProfile']),
    ...ClientManagerMapper.mapMutations(['setClientManagerId']),
    ...UserMapper.mapActions(["signOut"]),
    async logOut() {
      await this.signOut();
      if (!this.error) {
        this.$router.push({ name: "main-login" });
      } else {
        this.errorToast(this.error);
      }
    },
  },
  async mounted(){
    await this.getProfile();
    
    if(!this.error){
      if(this.role == 'ClientManager'){
        this.setClientManagerId(this.me.id)
      } else if (this.role == 'HeadSalesManager'){
        this.setClientManagerId(this.$route.params.managerId)
      }

    }
  }
};
</script>

<style>
</style>