<template>
  <section
    id="data-franchisee"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid" style="margin-bottom: 70px">
      <hr class="invisible" />
      <div class="row pt-3">
        <div class="col">
          <router-link
            :to="{
              name:
                role == 'Franchisee'
                  ? 'franchisee-data'
                  : 'admin-analytics-fr-data-mydata',
            }"
            class="my-0 breadcrumb-text"
            >Мои данные</router-link
          >
        </div>
      </div>
      <div class="row no-select">
        <div class="col my-auto">
          <p class="header-child-big m-0">Данные организации</p>
        </div>
      </div>

      <b-tabs
        active-nav-item-class="active-tab-buy"
        content-class="mt-2"
        class="mt-3 pl-3"
        nav-class="w-fit"
        nav-wrapper-class="tab-buy"
        fill
      >
        <div
          class="contaiter-fluid agent-container mt-3 mr-4 pt-4 pb-4"
          style="padding-left: 40px; padding-right: 15px"
        >
          <b-tab
            title="ИП"
            v-if="!franchiseeProfile.organization || franchiseeProfile.ip"
            active
          >
            <IPInputs
              :inputs="franchiseeProfile"
              @changeData="changeData"
              @doc="showFranchiseeDoc"
            />
          </b-tab>

          <b-tab
            title="Организация"
            v-if="!franchiseeProfile.ip || franchiseeProfile.organization"
          >
            <OrganisationInputs
              :inputs="franchiseeProfile"
              @changeData="changeData"
              @doc="showFranchiseeDoc"
            />
          </b-tab>
        </div>
      </b-tabs>
      <b-modal
        size="xl"
        hide-footer
        hide-header
        v-model="franchiseeDocIsVisible"
      >
        <LicenseDocViewer :data="franchiseeProfile" />
      </b-modal>
    </div>
  </section>
</template>

<script>
import IPInputs from "@/components/franchisee/data/data/IPInputs.vue";
import OrganisationInputs from "@/components/franchisee/data/data/OrganisationInputs.vue";
import { FranchiseeMapper } from "@/store/franchisee.js";
import { UserMapper } from "@/store/user";
import LicenseDocViewer from "@/components/buhfranch/docs/LicenseDocViewer.vue";
export default {
  name: "Change",
  components: {
    IPInputs,
    OrganisationInputs,
    LicenseDocViewer,
  },

  data() {
    return {
      franchiseeDocIsVisible: false,
    };
  },

  methods: {
    ...UserMapper.mapActions(["patchMe", "getMe"]),
    ...FranchiseeMapper.mapActions([
      "getFranchiseeProfile",
      "postFranchBuch",
      "putFranchiseeProfile",
      "putFormFranchiseeProfile",
      "getFranchBuch",
      "getPackages",
    ]),

    showFranchiseeDoc() {
      this.franchiseeDocIsVisible = true;
    },

    async changeData(data) {
      let buh = data.get("emailBuch");
      data.delete("emailBuch");
      await this.putFormFranchiseeProfile(data);
      if (data.get("email") != this.me.email && !this.error) {
        await this.patchProfile({ email: buh });
      }
      await this.putFranchiseeProfile({ emailBuch: buh });
      if (!this.error) {
        await this.getFranchiseeProfile();
        await this.getPackages();
        if (this.packages.length < 1) {
          this.$router.push({ name: "franchisee-buy" });
        } else {
          this.$router.push({ name: "franchisee-data" });
        }
      }
    },
  },
  computed: {
    ...FranchiseeMapper.mapState([
      "error",
      "packages",
      "franchiseeProfile",
      "franchBuch",
      "get",
    ]),
    ...UserMapper.mapState(["me"]),
    ...UserMapper.mapGetters(["role"]),
  },
  async mounted() {
    await this.getFranchiseeProfile();
  },
};
</script>

<style>
.admin-inputs > input {
  background: #fefefe;
  border: 0.5px solid #c4c4c4;
  padding: 0.5vh 3%;
  transition: 0.5s ease;
  margin-bottom: 20px;
  margin-top: 0;
  width: 380px;
  height: 30px;
  font-size: 16px;
  border-radius: 5px;
}
.admin-inputs > input:hover {
  border: 1px solid lightgray;
}
.admin-inputs > input:focus {
  border: 1px solid lightgray;
  outline: none;
}
.file-type {
  font-size: 16px;
  line-height: 20px;

  color: #2b2a29;
  font-weight: 400;
}
/* .agent-file-load {
  padding: 3% 7%;
  background: #efefef;
  border: 1px solid #626262;
  border-radius: 50px;
  color: #626262;

  transition: 0.5s ease;
} */
.agent-load {
  width: 100%;
}
.agent-file-load:hover {
  box-shadow: 0px 0px 5px rgba(15, 15, 15, 0.282);
}

.tab-buy {
  padding-top: 0vh;
  padding-bottom: 0vh;
  font-weight: 500;
  font-size: 1rem;
  color: #fefefe !important;
}

.tab-buy .nav-link {
  width: 150px !important;
  height: 30px !important;
  color: #fefefe !important;
  background: #c4c4c4;
  border-radius: 6px;
  padding: 0;
  padding-bottom: 0;
}
.active-tab-buy {
  background: #b42f26 !important;
  border-radius: 6px;
}

.nav-tabs .nav-item {
  margin-right: 25px;
}
</style>
