<template>
  <section
    id="my-data-franchisee"
    class="animate__animated animate__fadeIn no-select"
  >
    <div class="contaiter-fluid mx-3 mt-3 mr-4">
      <hr class="invisible" />

      <div v-if="role == 'Franchisee'" class="row pt-3">
        <div class="col my-auto">
          <p class="header-child-big m-0">Мои данные</p>
        </div>
      </div>
      <div v-if="role == 'admin'" class="row no-select">
        <div class="col my-auto">
          <p class="header-child-big m-0">
            Данные {{ franchiseeDetails.name }}
          </p>
        </div>
      </div>

      <MyBaseData :profile="franchiseeProfile" :lastPackage="lastPackage" />
    </div>
    <div
      class="contaiter-fluid agent-container mx-3 mr-4 mt-4"
      style="margin-bottom: 70px"
    >
      <div class="row mt-4 table-analytics">
        <b-table
          hover
          id="my-franchisee-data-table"
          :items="items"
          :fields="fields"
          :total-rows="rows"
          :per-page="perPage"
          :current-page="currentPage"
        >
          <template #cell(name)="row">
            {{
              row.value == 0
                ? "Детский сад"
                : row.value == 1
                ? "Начальная школа"
                : "Школа"
            }}
          </template>
          <template #cell(status)="row">
            <p class="m-0">
              <span
                style="color: #ffc615"
                v-if="row.value == 0 || row.value == 1 || row.value == 3"
                >В обработке</span
              >

              <span
                style="color: #67b42b"
                v-if="row.value == 2 || row.value == 5"
                >В работе</span
              >

              <span style="color: red" v-if="row.value == 4 || row.value == 6"
                >Отклонена</span
              >
              <span
                style="
                  color: #ffc615;
                  display: flex;
                  flex-flow: column nowrap;
                  align-items: center;
                  text-align: center;
                "
                v-if="row.value == 7"
                >Заявка принята <br />
                Ожидается оплата
                <br />
                <button
                  @click.prevent="makePayment(row.item)"
                  class="load-files-franshisee mydata-btn-size"
                >
                  <p>Оплатить</p>
                </button>
              </span>
            </p>
          </template>
          <template #cell(documents)="row">
            <button
              @click.prevent="
                $router.push({
                  name: 'franchisee-data-documents',
                  params: { id: row.item.packId },
                })
              "
              class="load-files-franshisee mydata-btn-size"
              :class="{ disabled: btnDisable(row.item.status) }"
            >
              <p>Открыть</p>
            </button>
          </template>
        </b-table>
      </div>
      <div class="row pt-2 justify-content-center">
        <b-pagination
          v-model="currentPage"
          :total-rows="rows"
          :per-page="perPage"
          aria-controls="agent-analytics-table"
        ></b-pagination>
      </div>
      <div class="row w-100 justify-content-end px-4 pb-4">
        <p class="my-auto">Показывать по</p>
        <div>
          <b-dropdown
            id="dropdown-perpages"
            variant="1"
            :text="perPage"
            class="m-md-2"
          >
            <b-dropdown-item @click="perPage = '60'" class="w-100"
              >60</b-dropdown-item
            >
            <b-dropdown-item @click="perPage = '30'" class="w-100"
              >30</b-dropdown-item
            >
            <b-dropdown-item @click="perPage = '15'" class="w-100"
              >15</b-dropdown-item
            >
            <b-dropdown-item @click="perPage = '5'" class="w-100"
              >5</b-dropdown-item
            >
          </b-dropdown>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
// import moment from "moment";
import { FranchiseeMapper } from "@/store/franchisee";
import MyBaseData from "@/components/franchisee/data/my-data/MyBaseData.vue";
import { UserMapper } from "@/store/user";
import DocsMixin from "@/mixins/docs";
import PackageNumbers from "@/mixins/packages";
export default {
  name: "Data",
  components: {
    MyBaseData,
  },
  mixins: [DocsMixin, PackageNumbers],
  data() {
    return {
      perPage: "15",
      currentPage: 1,

      fields: [
        {
          key: "id",
          label: "Номер",
          class: "my-franch-data-id",
          sortable: false,
        },
        {
          key: "name",
          label: "Пакет",
          class: "my-franch-data-package",
          sortable: true,
        },
        {
          key: "child_count",
          label: "Кол-во детей",
          class: "my-franch-data-childcount",
          sortable: true,
        },
        {
          key: "status",
          label: "Статус",
          class: "my-franch-data-status",
          sortable: true,
        },
        {
          key: "documents",
          label: "Документы",
          class: "my-franch-data-documents",
          sortable: false,
        },

        {
          key: "date",
          label: "Дата",
          class: "my-franch-data-date",
          sortable: true,
        },
      ],
      // пакет 0 - детский сад, пакет 1 - начальная школа, пакет 2 - школа
      // статус 0 - отклонено, статус 1 - в обработке, статус 2 - в работе, статус 3 - принято
      // items: [
      // {
      //   isActive: true,
      //   id: 1,
      //   package: 0,
      //   childcount: 100,
      //   status: 1,
      //   date: moment("01-09-2021", "DD-MM-YYYY").format("DD.MM.YYYY"),
      // },
      // ],
    };
  },
  computed: {
    ...UserMapper.mapGetters(["role"]),
    ...FranchiseeMapper.mapState(["franchiseeProfile", "error", "packages"]),
    ...FranchiseeMapper.mapGetters(["lastPackage"]),
    rows() {
      return this.items.length;
    },
    items() {
      let items = this.packages;
      return items.reverse().map((item, i) => {
        return {
          id: i + 1,
          packId: item.id,
          name: item.name,
          child_count: item.child_count,
          status: item.status,
          date: item.date,
        };
      });
    },
  },
  methods: {
    ...FranchiseeMapper.mapActions([
      "getFranchiseeProfile",
      "getPackages",
      "payForPackage",
    ]),
    async makePayment(item) {
      let pckg = this.packages.find((pck) => pck.id == item.packId);
      pckg.franchisee = this.franchiseeProfile;
      pckg.status = this.getPackageStatus(pckg.status);
      pckg.format = this.getPackageFormat(pckg.format);
      pckg.name = this.getPackageType(pckg.name);
      let docContract = this.createFranchiseeLicenseAsset(pckg.franchisee);
      let pdfContract = this.createPDF(docContract);
      let docBill = this.createBillDocAsset(pckg);
      let pdfBill = this.createPDF(docBill);
      let docAkt = this.createAktDocAsset(pckg);
      let pdfAkt = this.createPDF(docAkt);
      let formData = new FormData();

      let getFranchiseeLicenseBlob = new Promise((resolve) => {
        pdfContract.getBlob(async (pdfFile) => {
          resolve(pdfFile);
        });
      });
      let franchiseeLicensePDFFile = await getFranchiseeLicenseBlob;
      formData.set("contract_file", franchiseeLicensePDFFile, "contract.pdf");

      let getFranchiseeBillBlob = new Promise((resolve) => {
        pdfBill.getBlob(async (pdfFile) => {
          resolve(pdfFile);
        });
      });
      let franchiseeBillPDFFile = await getFranchiseeBillBlob;
      formData.set("bill_file", franchiseeBillPDFFile, "bill.pdf");

      let getFranchiseeAktBlob = new Promise((resolve) => {
        pdfAkt.getBlob(async (pdfFile) => {
          resolve(pdfFile);
        });
      });
      let franchiseeAktPDFFile = await getFranchiseeAktBlob;
      formData.set("act_file", franchiseeAktPDFFile, "act.pdf");
      formData.set("email", pckg.franchisee.user.email);
      formData.set("status", 3);
      await this.payForPackage({ id: item.packId, data: formData });
      if (!this.error) {
        await this.getPackages();
      }
    },
    btnDisable(status) {
      if (status == 2 || status == 5) return false;
      return true;
    },
  },
  async mounted() {
    await this.getFranchiseeProfile();
    if ((this.error && this.role != "admin") || !this.franchiseeProfile.name) {
      this.$router.push({ name: "franchisee-data-change" });
    }
    await this.getPackages();
    if (this.role == "admin") {
      await this.getOtherPackages(this.$route.params.id);
    }
  },
};
</script>

<style>
.my-franch-data-id {
  padding-left: 2.5rem !important;
  width: 13%;
}
.my-franch-data-package {
  width: 18%;
}
.my-franch-data-childcount {
  text-align: center;
  width: 18%;
}
.my-franch-data-status {
  width: 18%;
  padding-left: 2.5rem !important;
}
.my-franch-data-documents {
  text-align: center;
  width: 21%;
}
td.my-franch-data-date {
  color: #6c6c6c;
}
.mydata-btn-size {
  height: 30px;
  width: 95px;
}
</style>

<style scoped>
.load-files-franshisee.disabled {
  background-color: lightgray;
  border-color: transparent;
  pointer-events: none;
}
</style>
