<template>
  <section id="dataBody" class="animate__animated animate__fadeIn no-select">
    <div
      v-if="role == 'Franchisee'"
      class="contaiter-fluid relative-block mr-2 mt-2"
    >
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Мои данные
          </button>
          <p class="header-admin m-0">
            Документы по франшизе № {{ packData.id }} {{ packData.name }} /
            {{ packData.format }}
            {{ packData.child_count }}
          </p>
        </div>
      </div>
    </div>

    <div
      v-if="role == 'admin' || role == 'ClientManager'"
      class="contaiter-fluid relative-block mr-2 mt-2"
    >
      <div class="row pt-3">
        <div class="col">
          <button
            @click="$router.go(-3)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            Все заявки
          </button>
          <button
            @click="$router.go(-2)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            / {{ franchiseeDetails.name }}
          </button>
          <button
            @click="$router.go(-1)"
            class="btn-invisible-button my-0 breadcrumb-text"
          >
            / Данные {{ franchiseeDetails.name }}
          </button>

          <p class="header-admin m-0">
            Документы по франшизе № {{ packData.id }}
            {{ getPackNameFormat(packData.name, packData.format) }}
            {{ packData.child_count }}
          </p>
        </div>
        <div class="text-right pr-3">
          <DropDown placeholder="Выбрать франшизу" />

          <button
            @click="
              !banFranchisee
                ? $bvModal.show('modal-ban-franchisee')
                : (banFranchisee = !banFranchisee)
            "
            v-if="role == 'admin'"
            class="mt-3 ml-auto"
            :class="banFranchisee ? 'btn-unban-agent' : 'btn-ban-agent'"
          >
            {{ banFranchisee ? "Разблокировать" : "Заблокировать" }} партнера
          </button>
        </div>
      </div>
    </div>

    <div class="contaiter-fluid agent-container mx-3 mr-4 mt-3 p-0">
      <div class="row pt-4 mt-3">
        <div style="padding-left: 2.5rem" class="col">
          <p class="m-0 documents-label">Документы по покупке франшизы</p>
        </div>
      </div>
      <div class="row py-4">
        <a
          @click.prevent="show = 'license'"
          style="padding-left: 2.5rem"
          href="#"
          class="documents-link mr-5"
          >Договор</a
        >

        <a @click.prevent="show = 'bill'" href="#" class="documents-link mr-5"
          >Счет</a
        >
        <a @click.prevent="show = 'act'" href="#" class="documents-link mr-5"
          >Акт</a
        >
      </div>
    </div>
    <bill-doc-viewer :data="pack" v-if="show == 'bill'" />
    <license-doc-viewer :data="franchisee" v-if="show == 'license'" />
    <act-doc-viewer :data="pack" v-if="show == 'act'" />
  </section>
</template>

<script>
// import { AgentMapper } from "@/store/agent";
import { UserMapper } from "@/store/user";
import { AdminMapper } from "@/store/admin";
import DropDown from "@/components/franchisee/analytics/DropDown.vue";
import BillDocViewer from "@/components/buhfranch/docs/BillDocViewer.vue";
import LicenseDocViewer from "@/components/buhfranch/docs/LicenseDocViewer.vue";
// import ActDocViewer from "@/components/buhfranch/docs/ActDocViewer.vue";
import { FranchiseeMapper } from "@/store/franchisee";
import DocPackages from "@/mixins/packages";
// import { email, required, minLength } from "vuelidate/lib/validators";
export default {
  name: "DataDocuments",
  components: {
    DropDown,
    BillDocViewer,
    LicenseDocViewer,
    // ActDocViewer,
  },
  data() {
    return {
      filter: "",
      show: null,
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",

      filterOn: [],
      packData: {},
      franchisee: {},
    };
  },

  mixins: [DocPackages],

  methods: {
    ...FranchiseeMapper.mapActions([
      "getPack",
      "getFranchiseeProfile",
      "getAllInfo",
      "getPackageAllInfo",
    ]),
    scrolltoTop() {
      this.$refs.analyticsStart.scrollIntoView({
        behavior: "smooth",
        block: "start",
      });
    },
    getPackNameFormat(name, format) {
      let names = ["Детский сад", "Начальная школа", "Школа"];
      let formats = ["Offline", "Online"];
      return `${names[name]} / ${formats[format]}`;
    },
    clearFilter() {
      this.selectVal = {
        date: undefined,
      };
      this.chosenDate = undefined;
    },
  },
  computed: {
    ...FranchiseeMapper.mapState([
      "pack",
      "franchiseeProfile",
      "allinfo",
      "packageAllInfo",
    ]),
    ...UserMapper.mapGetters(["role"]),
    ...AdminMapper.mapState(["franchiseeDetails"]),
  },
  async mounted() {
    await this.getPack(this.$route.params.id);
    await this.getFranchiseeProfile();
    await this.getAllInfo();
    await this.getPackageAllInfo(this.$route.params.id);
    this.packData = this.pack;
    this.franchisee = this.pack.franchisee;
    this.packData.status = this.getPackageStatus(this.packData.status);
    this.packData.format = this.getPackageFormat(this.packData.format);
    this.packData.name = this.getPackageType(this.packData.name);
  },
};
</script>

<style>
.documents-label {
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  color: #2b2a29;
}
.documents-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;
  color: #2c61bf;
}

.link-anketa {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-decoration-line: underline;

  color: #2c61bf;
}

.analytics-id {
  width: 7%;
  padding-left: 40px !important;
}
.analytics-finance-cost {
  width: 9%;
  text-align: center;
}
.analytics-packege {
  width: 15%;
}
.analytics-category {
  width: 11%;
}
.analytics-buyer {
  text-align: center;
}
.analytics-buyer {
  width: 16%;
  text-align: left;
  padding-left: 8% !important;
}
.buyer-link {
  color: #2c61bf;
}
.analytics-taxes,
.analytics-date {
  width: 11%;
}
.analytics-taxes {
  text-align: center;
}
.analytics-date {
  color: #6c6c6c;
  text-align: left;
}

.btn-ban-agent,
.btn-unban-agent {
  font-size: 14px;
  line-height: 17px;
  color: #fefefe;
  border-radius: 3px;

  width: 205px;
  height: 30px;
  outline: none;
  border: none;
  transition: 0.5s ease;
}
.btn-ban-agent {
  background: #f22929;
}
.btn-unban-agent {
  background: #67b42b;
}
.btn-ban-agent:hover,
.btn-unban-agent:hover {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
}
.btn-ban-agent:active,
.btn-ban-agent:focus,
.btn-unban-agent:active,
.btn-unban-agent:focus {
  transform: scale(1.05);
}
</style>